[2020-11-27 09:46] Sebazzz commented on #18035
Yes it does, but DWIN doesn't use JPEG files nor BMP files. You compile the screens into an ICL file, which has indeed that prefix (which is not 0). In that ICL file, which contains multiple images, you address the images by index *in* that ICL file.

I have sourced some documentation here: https://github.com/CR6Community/CR-6-touchscreen#documentation-for-development

[2020-11-27 09:50] Sebazzz commented on #20146
You don't need to. PID values are saved to EEPROM - and *if you want*  you can put them in your Configuration.h.

[2020-11-27 11:08] Jedrusia commented on #20187
I have a identical problem and i spend many time with this problem. My problem exist with TFT35 with numerical LCD emulation mode and when i will print from SD Card plugged for SD slot on mainboard SKR MINI E3 V2.
Now i resolved my problem with printing in graphic mode of TFT and my file with gcode is loading from SD slot from TFT. This is working. If i plug the sd card with my gcode to SD slot on

[2020-11-27 11:31] tommylux commented on #19877
I am using Verts branch because when I try the main / bugfix branch I get homing issues and I can’t work it out why. I tried coping all parameters from Verts and also tried example A20T configuration.h files, but still get homing issues.

Therefore, Vert must be doing something good for the build for my machine. How might I be able to insert your code in the Verts build for my testing?

I can see

[2020-11-27 11:41] tommylux commented on #8145
I can't seem to set my steps using M92.. I am using A20T..
![image](https://user-images.githubusercontent.com/19841675/100445562-36ad5b80-30a5-11eb-9008-20eb5aff4e0e.png)

I tried setting the number of extruders but get this:
![image](https://user-images.githubusercontent.com/19841675/100445577-3d3bd300-30a5-11eb-8107-b431b196d916.png)

I can update the steps in the LCD and they appear when I run

[2020-11-27 11:59] repetier opened #20301 "[BUG] PASSWORD_FEATURE has wrong communication handling"
### Bug Description

When firmware is locked with M510 send commands are not responded to with "ok", only an info message appears.

### Configuration Files

Any config with
#define PASSWORD_FEATURE
enabled.

### Steps to Reproduce

M510
M114

**Expected behavior:**

Message and a new line with "ok" so hosts are at least able to send new commands.

**Actual behavior:**

Only a message explaining th

[2020-11-27 14:07] Foxies-CSTL commented on #20260
Hello,
I started again this morning with a new build created from BugFix 20201126 and a new environment. I performed the same test sequence but this time I did not turn off the power to see how far it will end (I was a little afraid of breaking the arms of the Z axis).
- from the launch of the mesh edition, there is an initialization which puts the XY carriage in a position and the Z carriage stop

[2020-11-27 14:38] bkiziuk opened #20302 "[FR] ColorUI - add confirmation to Power Off option before turning the power off"
### Description

if `PSU_CONTROL` is enabled in `Configuration.h` the UI menu includes the option `Switch Power Off` if the power in On.
Touching it will immediately turn the power off - which can be somewhat dangerous if it was done by accident.
So, the request is to add an additional confirmation screen before actually cutting the power.

### Feature Workflow

1. Enter menu
2. Touch Power Off op

[2020-11-27 15:02] vinoudropdrop opened #20303 "[BUG] Offset patern error"
I am using an SKR V1.4 Turbo + and tryed latest bugfix marlin offered here.
What ever the slicer (tryed Cura and Repetier) or the settings, my prints always start with an offset on all first layers to the left befor filling. This space is formed between the wall and the infill.
This is not overlap, I checked. This is not a jump of the head either because the layers above return well to the startin

[2020-11-27 15:50] #20258 closed, assigned to nobody

[2020-11-27 15:51] yysh12 commented on #20258
Fix has been merged. Closing issue.

[2020-11-27 16:41] Jovian-Dsouza commented on #20297
Sorry for the inconvience  and thanks for your comments , I had remap some endstop pins to make it work on Serial 1. Here is what worked for me

[code]

[2020-11-27 16:42] hamster65 opened #20304 "[BUG] Probe (bltouch) not stowed before homing xy"
**Expected behavior:**
Probe is stoved before x, y, or z is moved during homing.

**Actual behavior:**
Printer homes x and y and does not stow probe before. It stows before moving to the middle of the bed to home Z.

### Steps to Reproduce
- Deploy probe
- G28
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5608915/Marlin.zip)

[2020-11-27 16:44] hamster65 commented on #19732
I finally figured it out: It also takes #define PROBING_MARGIN into account!

This should be in the documentation. Something like "Make sure tramming points are within reachable position and probing margin.".

[2020-11-27 17:09] daleckystepan commented on #20278
Fixed also for me. Thank you for quick solution.

[2020-11-27 17:39] repetier opened #20305 "[BUG] start was changed to echo:start"
### Bug Description

Standard says that firmware starts with
start

but when I used latest commit I saw it now says
echo:start

which is against standards and can cause hosts to not detect a reset of printer if they watch for a line beginning with "start" and not a line containing "start" which could also be a file in listing or a M118 response or just a word in a message.

### Configuration Files

[2020-11-27 17:47] kakou-fr opened #20306 "[BUG] MMU2S C0 loop when loading"
### Bug Description

I am trying the last bugfix 2.0  code, if  i try to load a filament, and the filament cannot be engaged in the gear, the process never stop and the printer is blocked in an infinity loop

[code]

### Configuration Files

[Archive.zip](https://github.com/MarlinFirmware/Marlin/files/5611955/Archive.zip)

### Steps to Reproduce

enter T0 into octoprint terminal

**Expected behavi

[2020-11-27 18:35] rhapsodyv commented on #20289
I will close this, as it seems to be duplicated of #14431.

Thanks!

[2020-11-27 18:35] #20289 closed, assigned to nobody

[2020-11-27 18:38] bosd commented on #20238
Thanks @ellensp
I was aware of the endstop commands M120, M121. That function does work for the end stops. Not for the stallguard function.

Probably better, to use software endstops after homing.
(as I am unable to place physical endstops on this leadscrew.)

Well noted about the stall torque on leadscrews.
The machine is actually a cnc, which I actually want to apply torque with the Z-axis on th

[2020-11-27 18:55] kyraxyg opened #20307 "[BUG] Writing ABL mesh with M500 causes board reset (Ender 3 v2)"
### Bug Description

In the latest bugfix, I have activated the ABL bed leveling in the configuration files. When I try to activate ABL in the G28-G29-M500 sequence, the printer gets restarted end gets a DWIN handshake error. I can not save a mesh. It seems the issue is also applicable to UBL case.
As seen from my research beforehand to diagnose the issue.
https://www.reddit.com/r/ender3v2/comment

[2020-11-27 18:58] sjasonsmith commented on #20304
I don’t think this is a bug.

This is a case of “don’t do that”.

If you manually deploy the probe and then tell Marlin to move, that is what it does. It only alters commands to the BLTouch when you have actually instructed it to use the BLTouch.

[2020-11-27 19:08] Sebbb commented on #19074
@boelle not yet unfortunately, currently I don't use the laser.. As soon as take it out again, I'll test it...

If you don't want the issue to stay open it can be closed, I will reopen it then.

[2020-11-27 19:50] italocjs opened #20308 "E0 not moving in dual nozzle setup with latest bugfix"
I Cant seem to find the reason why i can move extruder 1, but not extruder 0 (both heated at 200c).  I am using the bugfix from monday.  Any ideas on how to trace the issue?

M105 reports all temperatures,  G1 X, Y Z and E1 are working, just not E0.  no errors reported.

My machine is a bit unusual, it has 2 nozzles / 2extruders,  Heated bed and heated chamber,  Dual Z .  The heated chamber and th

[2020-11-27 21:45] hamster65 commented on #20304
Yes, that's one way to look at it. On the other hand, I think marlin should make sure nothing gets damaged during homing. That's why there are functions for lowering the bed before homing etc. That includes bringing the probe into a safe state.

I should have mentioned that I did not manually / intentionally deploy the probe before G28. It just happened to be deployed because of something I did be

[2020-11-27 22:05] sjasonsmith commented on #20304
If something that uses the probe fails to stow that probe, _that_ would be a bug.

[2020-11-27 22:15] italocjs commented on #20308
Found out, it was a bad arduino mega. the EN1 pin was not working

Closing as this is not marlin related, just bad luck

[2020-11-27 22:15] #20308 closed, assigned to nobody

[2020-11-27 22:31] ellensp commented on #20305
See https://github.com/MarlinFirmware/Marlin/issues/19127

[2020-11-27 22:32] ellensp commented on #20306
Please follow the Issue Template when filing a bug report. This includes attaching your configs:

[code]

[2020-11-27 22:58] descipher commented on #19646
Issue duplicated in 2.0.7.2:
Config Specifics:

Configuration.h
// Choose the name from boards.h that matches your setup
#ifndef MOTHERBOARD
  #define MOTHERBOARD BOARD_RAMPS_14_EFB
#endif

Configuration_adv.h:
#define LASER_FEATURE
#if EITHER(SPINDLE_FEATURE, LASER_FEATURE)
  #define SPINDLE_LASER_ACTIVE_STATE    LOW    // Set to "HIGH" if the on/off function is active HIGH
  #define SPINDLE_LASE

[2020-11-27 23:51] drphil3d commented on #13020
Yes, it did work, but there were some issues with the stepper driver vref timing which created some weird and annoying noises, but it printed. However, the other major issue that we eventually figured out on Klipper firmware was the thermistor. IF I remember correctly the thermistor has an inline 4.7K resistor. @KevinOConnor had to implement a non-standard feature in Klipper just to support the th

[2020-11-28 01:51] rhapsodyv commented on #19917
Go away bot. @p3p can you merge my PR so I can fix this?

[2020-11-28 04:20] qwewer0 commented on #19428
Still a problem.

[2020-11-28 04:26] ellensp commented on #19428
@qwewer0 with current bugfix or some older version?

[2020-11-28 04:30] yysh12 commented on #19428
Yes still with bugfix

[2020-11-28 04:31] yysh12 commented on #19428
Oh wait sorry with 2.7.2
Haven't tried it with latest bugfix

[2020-11-28 04:32] qwewer0 commented on #19428
@ellensp Yes, with the latest bugfix-2.0.x

The same thing happens as in https://github.com/MarlinFirmware/Marlin/issues/19428#issuecomment-704372728

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5610058/Configuration.zip)

[2020-11-28 04:42] thinkyhead commented on #19428
If `UNKNOWN_Z_NO_RAISE` is enabled there will be no raise at the start of `G28` unless the Z axis has been homed and the Z steppers have remained powered all the time since the last `G28`. Please disable `UNKNOWN_Z_NO_RAISE` if you have a bed or Z gantry that stays in place when powered off, and you don't care about Z being raised after the steppers have turned off.

[2020-11-28 04:52] qwewer0 commented on #19428
@thinkyhead I don't have `UNKNOWN_Z_NO_RAISE` enabled. And neither @yysh12 have it enabled in the provided config zip.
I think my z axis stays in place fairly good, but I wouldn't trust it, so a raise would be nice after the steppers have been turned off.

[2020-11-28 05:01] houseofbugs commented on #20275
It's not config specific and affects 2.0.7.2 and bugfix. But if you want to not be aware of the bug then that's fine, I'll stop reporting issues and just keep fixing things on my own branches.

[2020-11-28 05:06] ellensp commented on #20275
Config files provide invaluable information required. Like what type of motherboard? And any other stetting that may come into play.
If you have the ability to fix this issue, you should provide a PR to do so, not post a "I have a bug" with zero details

[2020-11-28 05:09] houseofbugs commented on #20275
I updated with the *exact* steps to reproduce. I have not had time to fix the issue but just enabled the EGMENT_LEVELED_MOVES option until I can find out why. I was reporting it because there is a workaround but I don't have time to figure out why disabling it causes the crash. It is not board specific like I said. Happens on Creality 2560 Boards, 1284p Creality boards, MKS SGENL V2, EZBoard Lite,

[2020-11-28 05:15] sjasonsmith commented on #20275
@houseofbugs the steps are nice, but without at least one of those configurations provided we don't know what the starting point is to begin executing those steps. Aside from disabling SEGMENT_LEVELED_MOVES there are a multitude of other options which we would be guessing at if not starting with one of your configs.

If you've tried it with so many different configurations we are just asking you t

[2020-11-28 05:19] houseofbugs commented on #20275
Similar report that is quite old: https://github.com/MarlinFirmware/Marlin/issues/14948

Whole firmware with configs: https://content.timothyhoogland.com/files/ShareXUpload/SegmentBug_V422_E3Board_2072Base.zip

This is my branch that's using 2.0.7.2. I deleted the bugfix test I had as I was just seeing if it was present on there or not as well, it was.

[2020-11-28 05:27] sjasonsmith commented on #20303
The oval holes are a sure sign of backlash in that direction. Most likely loose or worn (stretchy) belts, but it could be other mechanical issues as well.

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want

[2020-11-28 05:27] #20303 closed, assigned to nobody

[2020-11-28 05:32] sjasonsmith commented on #20273
With the huge variety of displays available it is extremely difficult to have every display configured properly for every board. It would be most helpful if people using this hardware can contribute pull requests to help resolve the incompatibilities.

[2020-11-28 05:34] qwewer0 commented on #19428
@yysh12 When I disable the steppers from the LCD, the rehoming does not raises the z axis.

[2020-11-28 05:41] sjasonsmith commented on #20277
Is 9999 reasonable acceleration for your machine? If you are configuring your machine for acceleration higher than it can handle, then the behavior seems expected.

[2020-11-28 05:49] sjasonsmith commented on #20267
I am closing this, since we have other indications that this examples is working. Without this report following template instructions I don't think it is worth any time to pursue any changes.

Just 10 days ago the example configuration was updated to fix screen rotation. You should certainly test using the examples from the `import-2.0.x` branch in the configurations repo, to be sure you are using

[2020-11-28 05:49] #20267 closed, assigned to nobody

[2020-11-28 05:57] sjasonsmith commented on #20238
@bosd can you test the change @ellensp made, and close this issue if it is resolved?

[2020-11-28 06:12] sjasonsmith commented on #20238
I didn’t see this further up in the comments. Based on this I will go ahead and close this issue. Let us know if that was incorrect!

[2020-11-28 06:12] #20238 closed, assigned to nobody

[2020-11-28 06:19] qwewer0 commented on #20277
Tested the test X.gcode, from the main comment, on the latest bugfix-2.0.x.

I have `LIMITED_MAX_ACCEL_EDITING` enabled and `MAX_ACCEL_EDIT_VALUES       { 1250, 1250, 100, 2000 }` set, so if I'm not wrong, the test after `M204 T9999` should behave the same as the test after `M204 T1250` (`DEFAULT_TRAVEL_ACCELERATION   1250`), but that doesn't seems to be the case. The test after the `M204 T9999` s

[2020-11-28 06:33] sjasonsmith commented on #20304
@hamster65 based on the information we have now, this does not appear to be a bug, so I'm closing it as such. Marlin simply doesn't really have probe state outside of the command actually using the probe. It is the responsibility of each command to ensure the probe is stowed upon completion or error.

If you are able to isolate actions which leave the probe deployed when they should not, please cr

[2020-11-28 06:33] #20304 closed, assigned to nobody

[2020-11-28 06:37] sjasonsmith commented on #19804
Closing this as resolved, since we haven't heard back from @qurvento after the merged PR.

[2020-11-28 06:37] #19804 closed, assigned to sjasonsmith

[2020-11-28 06:41] sjasonsmith commented on #18977
@ManuelMcLure and @logiclrd is there actually an issue here, or can this be closed?

It seems like this is likely due to a misunderstanding regarding the UBL mesh, and everything works fine when the print is confined to the mesh boundaries?

[2020-11-28 07:29] qwewer0 commented on #18977
I can't seem to reproduce the issue on the latest bugfix-2.0.x.
Within or outside of the UBL mesh, all the Z axis corrections are smooth without any sudden jumps. Maybe there were some PRs that changed something with UBL.

Side question: Is there a way to see what extrapolated values does UBL use outside of the mesh?

[2020-11-28 08:05] ManuelMcLure commented on #18977
As far as I know UBL does not extrapolate outside the mesh.

[2020-11-28 08:09] qwewer0 commented on #18977
@ManuelMcLure Thanks, didn't know that.
Then it uses the closes mesh value?

[2020-11-28 08:20] ManuelMcLure commented on #18977
This is probably better discussed on Discord since there doesn’t seem to be a bug here.

[2020-11-28 08:20] repetier commented on #20305
Answer here since other issue is locked.
https://reprap.org/wiki/G-code#Replies_from_the_RepRap_machine_to_the_host_computer

Hosts also show non echo commands. Actually many firmwares do not even use echo: at all. But "start" is a control command just like "ok". As you already saw in the referenced thread simplify3d has problems with it. Same with other hosts like our software.

So what you are d

[2020-11-28 08:46] dmderev commented on #20146
Sebazz, could you elaborate how the calibration table can be placed into the EEPROM without recompilation? And how Configuration.h ends up in the EEPROM - without recompilation? I think that if there is such a method available and since EEPROM apparently can be saved to flash card and restored - it would be very convenient for instance to write a python script to generate binary from the calibrati

[2020-11-28 10:28] Sebazzz commented on #20146
In MarlinSettings::load:

![image](https://user-images.githubusercontent.com/1426097/100504690-dd106400-316c-11eb-9a4a-b581f5f022cf.png)

[2020-11-28 10:32] qwewer0 opened #20309 "[FR] Remove or Rename "Change Media" Confusing Menu"
https://github.com/MarlinFirmware/Marlin/issues/20309#issuecomment-735270831

https://github.com/MarlinFirmware/Marlin/issues/20309#issuecomment-735273969

### Bug Description

After the PR https://github.com/MarlinFirmware/Marlin/pull/20176, there is no longer a "Release Media", instead there is a "Change Media" menu item, that doesn't appear to do anything.

SKR Mini E3 v1.2, **non USB** `STM32F

[2020-11-28 10:55] qwewer0 commented on #9802
@FanDjango Do you think that your modifications are PR ready, or just a concept?

[2020-11-28 11:07] RP-projekts commented on #19917
Hi there.. I tried out your changes  - result getting a new error after releasing the SD-Card
before it was "no partition - media is not formated" --- now i get "please insert media"
isn't it possible making a new switch like "release SD to be used as massstorage" and set an watchdog on the powerline to automatically reset this option on power down

[2020-11-28 11:22] RP-projekts commented on #19917
@mks_viva thanks --- this is exact what i'm looking for -- even it doesn't resolve my problems by now

[2020-11-28 11:23] kyraxyg commented on #20307
[serial.log.txt](https://github.com/MarlinFirmware/Marlin/files/5610483/serial.log.txt)
.Here is an serial log file from octo print. The printer soft reboots after M500. This is also the case if I level from the LCD screen.

[2020-11-28 11:23] CRCinAU opened #20310 "[BUG] Unable to set esteps above 186 on Ender 3 v2 screen"
### Bug Description
When entering esteps via the screen on an Ender 3 v2, a value above 186 is not able to be entered.

This means that when using some popular geared extruders that require the e steps to be configured to ~421, this can only be done via g-code.

### Configuration Files
https://github.com/MarlinFirmware/Configurations/tree/bugfix-2.0.x/config/examples/Creality/Ender-3%20V2

### Ste

[2020-11-28 11:44] redgod commented on #19067
Sigo sin poder hacer funcionar el interruptor de filamento, no recuerdo la altura z y termina imprimiendo en el aire

[2020-11-28 11:46] FanDjango commented on #9802
@qwewer0 80%. Here's what is missing at this stage:

Discussion and decision as to how to proceed.

Apart from outliers, the **average** of all (sufficiently numerous) homing probe operations **should** always report having **moved in** by the amount that we had **bumped outwards**. If the standard deviation here is high, then the probe is no good, but the average should be correct. If the average

[2020-11-28 11:47] qwewer0 commented on #19067
@redgod Could you provide detailed steps to reproduce the issue?

[2020-11-28 11:47] RP-projekts commented on #19917
@rhapsodyv hello and thank's for your work ---  i found out, that on the stm32f1, they are dealing with the same problem -- maybe this can help you for fixing the problem with LPC

[2020-11-28 12:13] redgod commented on #19067
Description
Steps to reproduce
change of filament during printing
retraction and bleeding of the filament well
does not remember the apposition of origin
Expected behavior
I expected a perfect filament change

Actual behavior
After purging, the nozzle does not remember the correct height and position, since it begins to print more in the center and leaving the external wall exposed without filamen

[2020-11-28 12:18] qwewer0 commented on #19067
Change filament from the LCD or within the gcode with M600?

[2020-11-28 12:43] redgod commented on #19067
from the LCD

[2020-11-28 13:55] qwewer0 commented on #19067
Try change filament (LCD or M600) two times in the same print.

My results:
**Left**: LCD change filament at the bottom and top, and two M600 in between. The first filament change got shifted in the Y axis, to the max direction.
**Right**: Only one M600, which also got shifted in the Y axis, to the max direction.
![Screenshot 2020-11-28 144824](https://user-images.githubusercontent.com/57561110/10

[2020-11-28 14:15] yysh12 commented on #19428
Oh interesting. Yours won't raise at all. Yeah mine does raise on manual disable just not auto disable. Disabling inactive z didn't seem to help either.

[2020-11-28 14:17] rhapsodyv commented on #19917
@RP-projekts what is your board and configuration? I can take a look if you attach here.

[2020-11-28 14:26] yysh12 commented on #19428
Oh wait. I didn't read it correct. You have the z homing height disabled. You have to have that enabled for it to raise.

[2020-11-28 14:27] yysh12 commented on #19428
For me the problem is that for some reason auto timeout of steppers behaves differently than manual disable or steppers, such that z homing height is ignored on auto timeout.

[2020-11-28 14:36] rhapsodyv commented on #20309
In theory, all we did was remove the section that did “undef SD_DETECT_PIN”. But seems it have a colateral effect.

I will take a look.

[2020-11-28 14:38] espr14 commented on #20277
[Video: https://youtu.be/vYh1qhB78uw](https://youtu.be/vYh1qhB78uw)

Reasonable acceleration: motors have it's own reasonable acceleration. The travel/print acceleration should be limited by the motor accelerations. What to set to ignore travel acceleration and follow motor acceleration only? M204 T0?

If the X motor has acceleration 1000 and the travel acc. is set to 9999, it should accelerate al

[2020-11-28 14:42] qwewer0 commented on #19428
I think after M84 or stepper timeout the next homing should behave as it behaves when first homed, because after the printer can no longer know where each axis is, then it should act as on the first homing.

New information: If I move the Z axis from the LCD or serial then after I disable the steppers, the the next (first) homing acts as the problematic homing, so without any z axis rise, as if it

[2020-11-28 14:44] qwewer0 commented on #20309
@rhapsodyv Yes, I remember, I tried to look at the changes, but couldn't find something that could affect this.
Thank you very much for the check.

[2020-11-28 14:48] qwewer0 commented on #20277
I think my experience was the same as what you have in the video, so it doesn't moves with the same max acceleration all the time, as a result of the M204 T9999.

[2020-11-28 15:50] Minims opened #20311 "[BUG] M190 S<temp> trigger COLD_EXTRUSION"
### Bug Description

M190 S<temperature> trigger message "cold extrusion prevented"
But this gcode is for BED Temp

### Configuration Files

[Config.zip](https://github.com/MarlinFirmware/Marlin/files/5610830/Config.zip)

### Steps to Reproduce

1. Start the printer
2. Run M190 S60
3. Printer message "echo: cold extrusion prevented
4. Printer is poweroff

**Expected behavior:**

Printer heat the b

[2020-11-28 16:19] qwewer0 commented on #20311
I wasn't able to reproduce the issue. While I have a different board and printer I still wanted to try it.
SKR Mini E3 v1.2, Ender 3, latest bugfix-2.0.x
I received:
[code]
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5610874/Configuration.zip)

[2020-11-28 16:21] Minims commented on #20311
Found, it was the pull-up activated instead of pull-down on power resume pin, but the message in not clear. why cold extrusion ?

[2020-11-28 16:21] #20311 closed, assigned to nobody

[2020-11-28 16:33] rq3 opened #20312 "Latest bugfix has no touchscreen function on Anycubic Predator"
### Bug Description
Using Platformio under Visual Studio, successfully compiled the latest bugfix using the import example configuration and configuration_adv files from the delta/anycubic/predator directory.
The created bin file loads to the printer, but the printer does not respond to touch input at all, and the icon colors and orientation are incorrect.

### Configuration Files
[Config_Files.zi

[2020-11-28 16:56] rhapsodyv commented on #20312
Just run M995 to calibrate the touch.

I think those values from config are outdated.

[2020-11-28 17:38] Maker-M opened #20313 "[BUG] Building Problem : 'int freeMemory()' defined but not used [-Wunused-function]"
### Bug Description

Building problem when build the today bugfix 2.0 for the SKR mini E3 V2.0
The problem is : 'int freeMemory()' defined but not used [-Wunused-function]

### Steps to Reproduce

1. Download the last bugfix 2.0
2. Download the last bugfix or import configuration files (same problem for both)
4. Paste the config files from config\examples\Creality\Ender-3 Pro\BigTreeTech SKR Mini

[2020-11-28 17:40] rhapsodyv commented on #20312
Can you do this?

1. Connect to serial from pronterface or octoprint, run M995, calibrate your touch, and send the values here?

2. Test TFT_COLOR_UI and send a picture?

Thanks

[2020-11-28 18:05] qwewer0 commented on #20313
I too get this warning message, many times within a single compiling:
[code]
SKR Mini E3 v1.2, `STM32F103RC_btt`/`STM32F103RC_btt_512K`
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5611004/Configuration.zip)

[2020-11-28 18:06] rhapsodyv commented on #20309
Well ... it's confusing ... but there's a reason ...

Point 1) Before that PR, all boards with `SD_DETECT` were being ignored. So, even if you have a `SD_DETECT_PIN`, it wasn't being used by Marlin.

Point 2) Marlin have different behavior when you have SD_DETECT and you when don't have it.

a) When you ** don't ** have `SD_DETECT`: you need manually release the media, because Marlin will not be a

[2020-11-28 18:10] yet-another-average-joe commented on #14431
*MAYBE* I found a solution.

I have this well known issue with a SKR 1.4 Turbo I received 3 days ago, and the known good OLEDs I have been playing with for a couple years (using u8g2, without a problem).

And I also have 2 other problems...

Issue 1 : an horizontally shifted display depending on the OLED (0.96" or 1.3"). Easily solved by editing u8g_dev_ssd1306_128x64_data_start in u8g_dev_ssd1306

[2020-11-28 18:29] qwewer0 commented on #20309
Refresh Media sounds better, more telling.
While I would love to see and option to disable that menu item, but I did not thought it through to what disadvantages would the lack of it mean.

@rhapsodyv What do you think, close this and open a FR to rename Change Media to Refresh Media, or change this issue into the FR?

[2020-11-28 18:33] rhapsodyv commented on #20309
Maybe removing it at all would be better.
I think we already have a "Refresh Media" inside the file browser, or not?
I will take a look in all options.

Good point. I will change this to FR.

[2020-11-28 18:43] qwewer0 commented on #20309
There is a "Refresh", but that is only that:
https://github.com/MarlinFirmware/Marlin/blob/e8177735a00d1d7bb20b439544d3324fe01cfe7e/Marlin/src/lcd/language/language_en.h#L346

If removing it wouldn't mean any negative effects and that is the easiest way to handle it, than so be it.

[2020-11-28 18:44] RP-projekts commented on #19917
Hi -- I use an MKS SGEN_L V2.0 (LPC1769) with the MKS TS35 Touchscreen , ESP8266 Wifi Modul via Serial_Port2 (with ESP3D lastversion) .. cause of TS35 instead of buying an TFT35 i've to use everything onboard (SDCard and Wifi)

I'm exact at the same point like moham96 in #19939
my config and config_adv are in the zip
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5611069/Marlin.zip)

[2020-11-28 18:48] logiclrd commented on #18984
I'm a little bit disappointed, because I answered all these questions in the initial feature request description. Yes, there is information that can't be retrieved with G-code, no, the amount of data doesn't vary. I even analyzed the quantity of data it would be transferring. And then you closed the issue saying, "Just use existing G-code, and plus some screens have very large framebuffers." Sigh.

[2020-11-28 19:07] sjasonsmith commented on #18984
Unfortunately with over 400 feature requests, very few of them can be implemented. We have to look for those which provide the most value to the maximum number of users.

In this case the preferred solution would be to obtain the needed information through G-Code, rather than relate it to the configured display in any way. Aside from normal G-Code commands there is also an ExtUI interface which al

[2020-11-28 19:08] sjasonsmith commented on #20289
Duplicate of #14431

[2020-11-28 19:28] qwewer0 commented on #20309
@rhapsodyv I have no idea how to describe this as a FR, so I just quoted and linked two of your comment.

[2020-11-28 19:45] rhapsodyv commented on #20309
It's ok this way. I think I will work on this soon.

[2020-11-28 20:18] rq3 commented on #20312
TFT_COLOR_UI doesn't compile, so I couldn't test that. Running M995 from Repetier Host yielded:

#define TOUCH_CALIBRATION_X  16810
#define TOUCH_CALIBRATION_Y -11570
#define TOUCH_OFFSET_X                 -13
#define TOUCH_OFFSET_Y                 338

which brought the touch functions to life. Just minor issues with icon colors and orientation as seen in my original post photo.

Just a thought:

[2020-11-28 20:19] qwewer0 commented on #20249
@pseudex https://github.com/MarlinFirmware/Marlin/pull/20262 has been merged, could you close this if it fixed the issue?

[2020-11-28 20:22] sjasonsmith commented on #20312
What was wrong here? I couldn't see anything wrong in the picture, but maybe just don't know what I am looking for?

[2020-11-28 20:27] rhapsodyv commented on #20312
@rq3
That is the reason I asked for Color UI. As it's colourful, it's easy to check color issues.

#define TOUCH_CALIBRATION_Y -11570
#define TOUCH_OFFSET_X -13
#define TOUCH_OFFSET_Y 338

Can you open a PR on Configurations repository, changing the old calibrations values to the new ones you found?

[2020-11-28 20:34] rq3 commented on #20312
I wish I could have run TFT_COLOR_UI, but it wouldn't compile, with the error I e-mailed you.

The current bugfix screen is in the photo in my original post. The selection buttons are red, and the down arrow increments, while the up arrow decrements, which is a tad confusing.

This is what Marlin 2.0.7.2 looks like on my printer:
![2072_Screen](https://user-images.githubusercontent.com/3343927/100

[2020-11-28 20:36] logiclrd commented on #18984
That's fine and makes sense, and thanks for the tips. My feeling of disappointment mostly centred around the fact that the reply felt dismissive because of the evidence that the things I had written hadn't even been read. The rationale that was expressed for closing the ticket wasn't actually valid. That's not to say that there _isn't_ a rationale for closing it (you explained one), just that the

[2020-11-28 20:56] rhapsodyv commented on #18984
What part felt “dismissive” or “making broad and incorrect assumptions”?

I don’t want to start a discussion or anything else. Don’t get me wrong. I just want to know where I could be said something wrong.

I’m not a native English speaker. Could be that.
But I took a look in everything wrote here, and I have been working with Marlin UI/LCD/TFT code for about 6 months.

I tried to give you better

[2020-11-28 20:57] rq3 commented on #20312
@rhapsodyv  wrote: Can you open a PR on Configurations repository, changing the old calibrations values to the new ones you found?

I've been waiting until the whole display issue thing stabilizes in Marlin before diving in to a PR. The existing configuration files for the Anycubic Predator delta are based on an initial release that has nothing to do with the stock machine. Those files cannot func

[2020-11-28 21:03] rhapsodyv commented on #20312
Ok, touch is "solved". We had recent changes on bugfix that impact the XPT values, so the values you found are correct and the old ones are incorrect.

About the color, maybe the default color were changed, I don't know. Can you try changing it?

The configs are:
[code]

The default values are:
[code]

The available "named" colors (but you can use any hex value):
[code]

[2020-11-28 21:23] sjasonsmith commented on #20312
The example we are referring to is for a Trigorilla Pro. What example are you using?

[2020-11-28 22:30] rq3 commented on #20312
The same example as you, under the bugfix configuration examples in delta/anycubic/predator. I'm not sure what machine it was configured for (I believe it was a Predator modified with an SKR board running Klipper, and then ported to Marlin), but it certainly won't run on a stock machine, and never has as published, for any version of Marlin.

[2020-11-28 22:31] logiclrd commented on #18984
I understand what you're saying. Specifically, it was that I created an issue saying, "I want to capture the 12864 monochrome display image, this will always be 1KB of data but I am worried about whether sending even that much data over the serial line could be disruptive. Here are some numbers for baud rates on the higher end. I'm pretty sure there are pieces of info on the screen that can't be r

[2020-11-28 22:37] thisiskeithb commented on #20312
Here's the original PR by @TheNitek https://github.com/MarlinFirmware/Configurations/pull/157 which is based off https://github.com/SXHXC/Marlin-Anycubic-Predator-Trigorilla-PRO. There's some valuable information in the [readme](https://github.com/MarlinFirmware/Configurations/blob/import-2.0.x/config/examples/delta/Anycubic/Predator/README.md).

There's no mention of Klipper or an SKR board (the

[2020-11-28 23:00] rhapsodyv commented on #18984
Ok, I got what you mean now. I really wasn't trying to make less of your PR with that. I was just trying to give an example (now I see that it was badly chosen) that your FR would not be too generic, compared with the work that it would need. Sorry for that. Next time I will try to elaborate a little more my response.

Thanks for the sincere feedback!

[2020-11-28 23:17] rq3 commented on #20312
Indeed, that was what got everyone excited about loading Marlin on the Predator. The Trigorilla Pro board is made by a Chinese company named Chitu, was closed source, and ran a really weird form of proprietary g-code.

Just knowing the physical process of jumper swapping to allow loading Marlin on the Trigorilla Pro got the ball rolling, BUT...
if you take a really close look at the video associat

[2020-11-28 23:38] thinkyhead commented on #18984
It's been quite busy around here, so it often takes many weeks before I get around to reading a new feature request. As for this feature request — or feature concept — I concur with other commenters that a "remote display" is better handled in a manner similar to the PanelDue, requesting the current state in JSON format and then displaying that data in its own layout. That work is already underway

[2020-11-29 00:21] mattdog01 commented on #19274
So I did another download of bugfix at 11:45 AM Eastern Standard Time today.
Updated the config files and compiled in the mks_robin_stm32 environment.

1. No SD card selectability. Shows that is has been detected but can't be selected.
- still needed to add #define SDIO_SUPPORT under #define SDSUPPORT to configuration.h
- Still needs to be refreshed to get it to read SD contents, does not automati

[2020-11-29 01:19] sjasonsmith commented on #15450
I am closing this issue. I know it will make some of you unhappy, but please read my explanation. My goal is **not** to simply get rid of issues, and I will be more than happy to entertain new issues which come out of this.

**My reasons for closing are as follows:**

1. I have tried to reproduce this with my SKR 1.3, and do not observe the issue originally reported. I will attach my output at the

[2020-11-29 01:19] #15450 closed, assigned to sjasonsmith

[2020-11-29 01:49] logiclrd commented on #18984
This sounds promising. This JSON data will include literally everything the 12864 display is showing? If the 12864 code were refactored so that the data were aggregated in an intermediate structure and then that structure were serialized in response to some G code command, it'd ensure that all the information needed was in the structure. :-)

[2020-11-29 01:57] logiclrd commented on #18984
#10610

[2020-11-29 02:02] sjasonsmith commented on #17343
@CarlosGS please review the pull request references above, and provide feedback. I believe this will satisfy your request if it is accepted.

[2020-11-29 02:31] yet-another-average-joe commented on #14431
I gave up with the OLED and hooked up an EEPROM module : daisychained with 150mm Dupont cables from the OLED to the EEPROM. Total I²C length = 450mm between the EEPROM and the board, the OLED in between. It's been 3H30 hours since it was done. Since then, the display never shifted ! (the ferrite is still there, I will remove it at some point). I don't give up anymore :)

Crashes/reboots still occu

[2020-11-29 04:59] RFBomb opened #20317 "Octoprint pausing 3d printer constantly with #define HOST_ACTION_COMMANDS enabled"
### Bug Description

My printer keeps pausing at the start of the print. When I get a print eventually started, it runs through the print without issue. At first I thought it was due to octoprint, but it has the same symptoms even when attempting to print from SD card. I have tested this in the follow scenarios:

- Printing freshly uploaded files on Octoprint
- Printing previously uploaded files o

[2020-11-29 05:07] BuddyBing opened #20318 "[BUG] Ender 5 Pro (MB 4.2.7) Not Working with BL Touch"
### Bug Description

Unable to get BL Touch to work in any configuration (pin 27 board, Z or 5 pin locations).

### Configuration Files

[Configurations.zip](https://github.com/MarlinFirmware/Marlin/files/5611677/Configurations.zip)

### Steps to Reproduce

1. Recompiled Marlin using configuration example while enabling BL Touch (in many different configurations).

**Expected behavior:**

BL Touch

[2020-11-29 05:11] ellensp commented on #20318
you have #define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN when your probe is not plugged into the Z_MIN endsfop.
Disable this.
You should also use #define USE_PROBE_FOR_Z_HOMING if your using the probe as a z endstop.

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmw

[2020-11-29 05:11] #20318 closed, assigned to nobody

[2020-11-29 05:30] BuddyBing commented on #20318
Look at the other picture (as I posted a picture of two of the three configurations I tried).  I tried all three of the following configurations ( as well as the matching hardware configuration (ie. using the Z-End Stop, Using the 5 Pin, and also trying a configuration using a Pin 27 board and still had issues.

Here are the configuration:
#define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN

And tried this

[2020-11-29 05:42] tpruvot commented on #20318
missing space ? #define SERVO0_PIN 27

[2020-11-29 06:07] ellensp commented on #20318
Your bltouch servo plug is in backwards.
Blue wire should be on G pin.

[2020-11-29 07:26] vitormhenrique commented on #20317
Have you tried removing all plugins from octoprint?
Just to make sure that it’s not a plug-in issue?

[2020-11-29 07:57] qwewer0 commented on #20313
@Maker-M You could test it, but I think this can be closed, as it fixed the issue on my end.

[2020-11-29 08:35] sjasonsmith commented on #18769
I just spent several hours trying to encounter any issues with this, and everything seems to work as expected. Given that several people posting to this issue (including the OP) seem to have fixed the issue with either mechanical repairs or by updating firmware, I think it makes sense to close this issue.

**If you are still encountering incorrect behavior, please report a new issue with the detai

[2020-11-29 08:35] #18769 closed, assigned to sjasonsmith

[2020-11-29 08:38] sjasonsmith commented on #20313
Wait for it to be merged to close it.

[2020-11-29 08:38] Maker-M commented on #20313
Ok I'll see that ! Many thanks

[2020-11-29 08:41] Maker-M commented on #20313
Yes I would like it to be merged too

[2020-11-29 08:46] sjasonsmith commented on #19409
I suspect this is caused by `RESTORE_LEVELING_AFTER_G28`. If leveling is enabled after `G28` the nozzle will move to Z5, then leveling will be applied which likely adjusts the Z height slightly.

Can you test this again, and run `M420`, does it report that leveling is enabled?

[2020-11-29 09:43] kakou-fr commented on #20306
i updated the post with the template and config file

[2020-11-29 09:57] sjasonsmith commented on #19839
I tested with almost your exact configs. It seemed like there might be an issue, but that also may be because you do not have `EXTRAPOLATE_BEYOND_GRID` enabled. I tested with a bed about 6mm off from edge to edge. While correction wasn't perfect, it also was not off by 6mm.

The reformatting you did in the config files makes it very difficult to tell what you changed. I intend to try again tomorro

[2020-11-29 10:19] #20249 closed, assigned to nobody

[2020-11-29 10:25] CarlosGS commented on #17343
Yep! Brilliant! Thanks!! :D

[2020-11-29 15:33] mattdog01 commented on #19274
@sjasonsmith I'm not sure if you saw you update from yesterday.  This morning I tried to compile in the mks_robin environment and the screen is blank and without the beeper I can't tell if the touch screen is responding. I looked through the display settings and I think I have it right.  The only change I made was specifying the new build environment in platformio.ini

[2020-11-29 16:15] mattdog01 commented on #19274
The only bugfix that has been working well for me was downloaded 200909.  Does anyone know if any of the more recent versions have been working in the **mks_robin environment** or better yet the **mks_robin_stm32 environment**?
What is the goal? to get mks_robin_stm32 working well?
Why is mks_robin not the desired environment?
Does it have something to do with a more compatible HAL across the diff

[2020-11-29 17:32] sjasonsmith commented on #19274
I annoy sure about anything that would be preventing mks_robin from working right now.

We are trying to move away from the STM32F1 HAL because the STM32 HAL should support all STM32 MCUs with one HAL. The framework it uses is actually maintained by ST, whereas the F1 HAL uses the Maple framework which is maintained by a third party, and supports only a sliver of STM32 MCUs.

Maple support is also

[2020-11-29 18:56] Protean-Man commented on #20215
No problem.
[Configuration_adv.zip](https://github.com/MarlinFirmware/Marlin/files/5612669/Configuration_adv.zip)

[2020-11-29 20:56] #20313 closed, assigned to sjasonsmith

[2020-11-29 21:14] sjasonsmith commented on #17343
This was merged, so I'll close this out.

[2020-11-29 21:14] #17343 closed, assigned to sjasonsmith

[2020-11-29 21:17] Maker-M commented on #20313
Thanks for the quick support

[2020-11-29 21:18] tarsonis123 commented on #20105
Same here. Creality 4.2.7. This marlin UBL makes me want to throw this printer out of the window. Spend 8 hours since yesterday and not possible to get a level. "insert a lot of bad words here"
New to the release from yesterday. Mesh edit keeps the Z at default height 5 and doesn't lower the nozzle anymore after confirming to edit the point..... But this another bug. Nightmare. Should have never c

[2020-11-29 21:26] sjasonsmith commented on #20310
I don't have one of these screens up to test with, but here is something you can try:

Look for the following code in `src/lcd/dwin/e3v3/dwin.cpp`:
[code]

and replace it with something like this:
[code]

It looks like it defaults to only allowing you to double the default steps/mm. I don't know how this display presents this adjustment, so maybe there is an advantage to a smaller range. Hopefully

[2020-11-29 21:31] tarsonis123 commented on #19839
Same here. Creality 4.2.7 on Ender with 3 BLtouch Clone. Unreliable nightmare since switching from 1.1.5 and stable firmware that dumb enough forgot to save. Since the 4.2.7 and the bugfix branch I'm playing beta tester not printing. Ending up with manually editing all points where it makes the BL obsolete. BLtouch works with 0.003 deviation and was flawless with 1.1.5 and an stable Marlin 2.x rel

[2020-11-29 21:34] sjasonsmith commented on #20310
Unfortunately this won't provide the ability to invert the motor, as we discussed yesterday. That still has to be done through the Configuration.h or by moving wires.

[2020-11-29 21:40] thinkyhead commented on #18984
Nerp. There is no "frame buffer" that we could "just send" to "some client" because the only buffer for HD44780 exists on the device itself. We send command strings over SPI to update bits of the display as-needed and the HD44780 handles the details and keeps its own buffer. There is no intermediate layer where we could maintain an 800 byte buffer, filtering SPI communication and reproducing what

[2020-11-29 21:59] sjasonsmith commented on #4112
This is a duplicate of #4112. One or the other should be closed.

[2020-11-29 22:17] logiclrd commented on #18984
In my own experimentation, I played with updating u8glib to maintain a framebuffer and expose it as a static symbol. Every drawing primitive just also includes an update of that buffer. This builds, but I must be missing something for the definition of the new G code command I invented because it doesn't accept/recognize the command.

[2020-11-29 22:25] sjasonsmith commented on #20310
I happened to already have a 4.27 board set up, so I attached the display. I'll post a PR right now to get it up to 999.9. Additional layout work will be needed if there is a desire to go beyond that, since the widths of fields change.

[2020-11-29 22:33] sjasonsmith commented on #5098
Duplicate of #4112

[2020-11-29 22:33] #5098 closed, assigned to nobody

[2020-11-29 22:33] sjasonsmith commented on #7710
Duplicate of #4112

[2020-11-29 22:56] thinkyhead commented on #18984
This commit demonstrates all the elements required for a new G-code: b6a32500c4

[2020-11-29 23:01] thinkyhead commented on #9802
A maxim of computing is that you cannot use garbage input to do anything useful until you are able to separate what is garbage from what is meaningful … but if you can do that, you actually do have meaningful input. What you want to do is get your standard deviation down as close to zero as possible and then proceed from there.

[2020-11-29 23:03] sjasonsmith commented on #18984
Why are we pursuing this, rather than ExtUI or the JSON option you mentioned? I don't like the idea of another special-case feature in Marlin that will only ever be used by one person, and isn't portable to printers using different screens and configurations. It seems like more strange code to maintain with little actual benefit.

[2020-11-29 23:07] sjasonsmith commented on #18984
Another benefit of an ExtUI/JSON solution is that it does not tie the user interface to the functionality of the client. Relying on the screen buffer is the equivalent to "screen scraping" a web page. It all works fine until the web page changes, then it all breaks. It would be much more robust to expose the needed information in a functional way, rather than relying on assumptions.

For example,

[2020-11-29 23:29] rhapsodyv commented on #20312
@rq3 did you test the colours options?

Because I think we don't have a color issue, just a config changed.

[2020-11-30 00:03] thinkyhead commented on #19428
You can try reverting this change from 73ce80af3a3, which was done to address some other issue…
[code]

[2020-11-30 01:30] rq3 commented on #20312
Yes, I did, and I agree. Looking back through various Marlins, "u8g_dev_tft_320x240_upscale_from_128x64.cpp" has been modified several times (including its name). It's easy to mod the colors and buttons from there, but perhaps not apparent to the average user.

[2020-11-30 01:51] rhapsodyv commented on #20312
Great. So I'm closing this, and I send a PR to Configurations repo, to fix the touch calibration values!

Thanks for your help!

[2020-11-30 01:51] #20312 closed, assigned to rhapsodyv

[2020-11-30 02:09] rhapsodyv commented on #20317
Can you test bugfix?

And send the serial output, if the error continues? because the current logs says nothing about marlin, just octoprint thinking that you don't have filament on the printer, but no marlin data that allow us to see what could be happing.

[2020-11-30 02:31] logiclrd commented on #18984
I actually want to remotely monitor the screen. It's not about extracting information programmatically. I want the functional equivalent of pointing a webcam at the screen, but without needing the hardware.

[2020-11-30 02:59] tarsonis123 commented on #20105
Could you elaborate this more? Which folder do you copy them? Open changes option in VS is missing when I right click a file.
I was doing it like this before. Rename old config to "_alt", copy them into the marlin folder, select for compare and then compare with selected. If there is an easier way I'm happy to hear that

[2020-11-30 03:02] Protean-Man commented on #19150
Today's bugfix still having the exact same issue.
After tool change - initial layer with new tool has a Z raise of a few layers (unsure the exact measurement as it is moving/printing), then if the tool prints a second layer without a tool change it lowers the Z to the proper height.

Could this be a slicer problem? I am using Prusa Slicer at the moment. I will try another slicer tomorrow and see w

[2020-11-30 03:07] rhapsodyv commented on #20221
@patlas did you tested bugfix?

[2020-11-30 03:13] rhapsodyv commented on #20204
I'm closing this, as the users says it's fixed. Thanks.

[2020-11-30 03:13] #20204 closed, assigned to nobody

[2020-11-30 03:21] rhapsodyv commented on #19876
Why do you need FTDI with Software SPI? Any specific reason?

I'm asking that because soon we will use sw spi only on specific cases and when needed, everything else will run on hw spi (when available).

Yes. But not currently, I guess. We are working on some SPI fixes that will be released soon.

[2020-11-30 03:55] thisiskeithb commented on #20317
You don't have to remove them. Just [start up Octoprint in safe mode](https://docs.octoprint.org/en/master/features/safemode.html) to disable plugins.

[2020-11-30 04:04] RFBomb commented on #20317
The thread I linked to on the octoprint forum has that suggestion. I did
start in safe mode and it resolved the UI errors. A file system scan /
repair Resolved the UI errors permanently. While I was going that scan, I
also found a huge log file that left 0 space on the card. Deleted that
after the scan finished.

I just had to reinstall W10 due to a BSOD boot loop that started around 3
hours ago.

[2020-11-30 04:10] rhapsodyv commented on #19549
Can you better describe step-by-step what are you doing?
This config is used to tell marlin how many seconds it will wait with heaters turned on, while changing filament: `PAUSE_PARK_NOZZLE_TIMEOUT`.
If you takes more than `PAUSE_PARK_NOZZLE_TIMEOUT` seconds to change the filament, marlin will start cold down the heaters for safety.
Do you try increase it?
The cold down happens in less than `PAUSE

[2020-11-30 04:17] thisiskeithb commented on #20317
Booting up OctoPrint in safe mode doesn't take long and is an easy thing to check to rule out plugins/language issues.

[2020-11-30 04:29] rhapsodyv commented on #19894
Can you share the serial output?

[2020-11-30 04:51] sjasonsmith commented on #19839
I spent several hours testing this today. Due to the difficulty of spotting changes in the reformatted configuration files, I chose to start with the Ender 3 v427 example, and add the BLTouch configuration.

I am using a Creality 4.2.7 board with a genuine BLTouch attached to the dedicated probe connector. I have a BMG extruder, so I have adjusted the E0 steps and inverted its direction accordingl

[2020-11-30 05:12] sjasonsmith commented on #19839
At this point I don't believe there is any problem in Marlin or with the Creality 4.2.7 board causing this.

I recommend that you switch back to the example configurations, with minimum changes to enable leveling. You can use my configs from above, just remember to revert the E0 changes. _Please do not reformat the file, since this makes it extremely difficult to compare against default values._

[2020-11-30 05:24] benebrady commented on #19549
Before the print starts and the hot end is up to printing temperature, If the filament change is triggered, the temperature is automatically set to the minimum extrusion temperature before the filament load takes place. Once the filament load and purge completes, then the print temperature is restored to the hot end, but it takes some amount of time before the print temperature is reached again.Pr

[2020-11-30 05:25] sjasonsmith commented on #19839
I actually had a hard piece of filament stuck to my nozzle which was hitting the bed when probing. These are my results after heating up and removing that. A 0.01mm range is more what I was expecting to see, based on previous experience with similar hardware.

[code]

[2020-11-30 05:41] rhapsodyv commented on #19549
Sorry, I didn’t understand you. Why would you or marlin trigger a filament runout before the printing?
And if the nozzle already have the temperature, you can just load the filament, I don’t see a change event here here.

Can you provide the step by step of what you are doing, trying to write all details? This is important. What are you using? Screen? Menu? Gcode? Octoprint? Are you preheating? Et

[2020-11-30 05:52] benebrady commented on #19549
If there is a filament break or if there is no filament in the filament runout sensor before the print starts printing.Sent from my Galaxy
-------- Original message --------From: Victor Oliveira <notifications@github.com> Date: 11/29/20  23:41  (GMT-06:00) To: MarlinFirmware/Marlin <Marlin@noreply.github.com> Cc: "Ben E. Brady" <benebrady@gmail.com>, Author <author@noreply.github.com> Subject: Re:

[2020-11-30 06:43] rhapsodyv commented on #19549
Filament runout uses the current target temperature to reload the filament. But if it's triggered before a print, Marlin don't even know what is the target temperature for the hotend, that is the reason it uses 170 (min temp).

So, filament runout will never work if it happen before Marin run the gcode command that set the target temperature for the hot end (`M104`). And we can do nothing, as, wel

[2020-11-30 06:43] #19549 closed, assigned to nobody

[2020-11-30 06:47] qwewer0 commented on #19428
On the latest bugfix-2.0.x (presumably because of https://github.com/MarlinFirmware/Marlin/pull/20323)
This is what happens compared to https://github.com/MarlinFirmware/Marlin/issues/19428#issuecomment-704372728:
Now between the 9th and 10th point:

- Z axis rises by `Z_CLEARANCE_BETWEEN_PROBES` (I believe)

Which is a big leap in the positive direction, as a z axis drop after stepper deactivatio

[2020-11-30 07:26] DJScopeSOFM commented on #20261
Apologies for not responding sooner. I've changed the files quite a few time since posting this. You can find the files on my GitHub: https://github.com/DJScopeSOFM/Two-Trees-Multi-Printer-Marlin-Bugfix-Compiler

That was the only option that caused this behaviour and removing it, the behaviour stopped. I don't know if it's isolated or not, other users using the same printer have said that they ha

[2020-11-30 07:59] atharvbadkas commented on #20187
UPDATE :
Instead of using PC12 for UPS, I tried PA8 for UPS
(Neopixel PIN, Which is also +5V tolerant)

Behaviour When PC12 Used :
Power Outage Error Occurs as soon as Printer Starts Printing.

Behaviour When PA8 Used :
Print Starts Normally
But when Power Outage occurs(I Turn OFF Printer mid Printing) It Does not Raise the Nozzle ,
When Power Restores, Printer gives options to resume and cancel p

[2020-11-30 08:24] intuity-hans commented on #19253
okay thanks for clarifying. I will take a closer look at this. Seems fitting for my needs =)

[2020-11-30 09:10] sjasonsmith commented on #19992
@NoPinky I have been trying to reproduce leveling issues all day using today's `bugfix-2.0.x`, and it has been working fine for me. This includes trying to match an Ender 3 V2 example to the the options CRC configures with his. In all cases the probed mesh seems to accurately portray my bed, and I have been able to print just fine with the produced meshes. I even managed to attach a dial probe to

[2020-11-30 09:10] #19992 closed, assigned to nobody

[2020-11-30 09:13] sjasonsmith commented on #19409
Also, please provide _exact_ steps to reproduce.

I would like to see:
- Values from `M851` before first homing
- Exact G-code used to reproduce (including numbers)
- Output from `M420` and `M114` after reproducing the issue.

[2020-11-30 09:18] sjasonsmith commented on #20105
@jbbandos I have spent many hours yesterday trying to reproduce problems with `AUTO_BED_LEVELING_BILINEAR` on various boards. This has included both an SKR Mini E3 V2 as well as a Creality 4.2.7 board. I am using current `bugfix-2.0.x` as of the time of this comment.

I am not seeing any issues like this at all. All of my BLTouch probing has worked flawlessly, and I have been able to print well us

[2020-11-30 09:36] jbbandos commented on #20105
@sjasonsmith I stopped seeing the issue when I removed the change to HOMING_FEEDRATE_Z (which I had copied from my CR-10 configuration).
The only issue I have now appears to be #15450.
I will do a new build of bugfix-2.0.x to test again after I finish the current print (13 hours to go still).

[2020-11-30 10:01] sjasonsmith commented on #20307
I believe this is happening because the watchdog timer is expiring while writing to the EEPROM. The EEPROM write is optimized to skip unchanged bytes, which is why you only see this when storing your large 10x10 mesh after updating it.

[2020-11-30 10:02] NoPinky commented on #19992
@sjasonsmith
Thank you for your thorough investigation about the matter and suggestions on the mechanical side for me. I really appreciate you taking time for that in the mass of other issues. Last night I retightened the gantry on my Ender 3 V2 and other parts, but haven't testet it yet. The gantry did sag a bit on the right side, that must have been the problem. I will surely reflash bilinear be

[2020-11-30 10:06] MarkMan0 commented on #19876
It's not that I can't work around it, but I found a bug and I reported it. I already switched to HW SPI, but without SD.

[2020-11-30 10:54] hamster65 commented on #19992
@sjasonsmith
Thanks for investigating! Let me add: I see a tilted bed, too, with bilinear levelling, but not with linear levelling (which is what I am using now and it is working fine). This should rule out any hardware issue(?).

[2020-11-30 11:49] tarsonis123 commented on #20105
Yes sure works like intended I guess?
<a href="https://ibb.co/6D86F5M"><img src="https://i.ibb.co/6D86F5M/P01130-121914.jpg" alt="P01130-121914" border="0"></a>

Oh and I spent weeks to rule out any mechanic problems as I thought the UBL must be fine but every release a new issue and one is running in circles. The Z height goes haywire after every G29, ABL not used if one not uses dozens of comman

[2020-11-30 12:09] espr14 commented on #20277
I had to slow down to `M204 T1000` !!!
Similar issue with `G1 Z10 F9999` which is not about acceleration but speed.

[2020-11-30 12:10] kyraxyg commented on #20307
The thing is I was writing 15x15 UBL mesh with success previously. But I tried 10x10 UBL and UBL also seems to fail . Is there a way for me to increase watchdog timeout and try. I don't want to disable watchdog as this might be dangerous.

[2020-11-30 12:12] sjasonsmith commented on #19992
@hamster65 when you are using `LINEAR` leveling you don't actually see the probed points. The points are used to perform a least-squares fit to a flat plane, which is then stored to EEPROM as three points. Those points are used to re-generate a perfectly flat mesh when it is needed. It is basically the same as `3POINT` leveling, except it tries to fit a plane to many probed points, rather than onl

[2020-11-30 12:17] sjasonsmith commented on #20307
I am working on a fix that will service the watchdog during long writes.

[2020-11-30 12:29] kyraxyg commented on #20307
Thanks

[2020-11-30 12:32] sjasonsmith commented on #20105
@tarsonis123 one of the problems with leveling issues is that as soon as one is reported, people tend to pile many other issues into the same report. What starts as one manageable issue becomes confused with every leveling system on every board with every mechanical defect. It is for this reason that leveling issues so often go ignored.

I am not claiming everything is perfect. I guarantee you it

[2020-11-30 12:42] sjasonsmith commented on #20307
@kyraxyg can you test the change from the pull request above to see if it fixes your issue?

[2020-11-30 12:45] sjasonsmith commented on #20310
@CRCinAU I've merged that change and will go ahead and close this issue. Please let us know if any issues arise with that.

[2020-11-30 12:45] #20310 closed, assigned to sjasonsmith

[2020-11-30 12:47] CRCinAU commented on #20310
I feel that as long as it can go above ~450, it'll be fine for every case I've seen to date. I'm sure someone can raise a bug if some exotic setup with this screen requires more than 999.9...

[2020-11-30 12:48] sjasonsmith commented on #20310
If these screens end up widely available then I'm sure it will be needed. As it is you cannot even buy a replacement from Creality, they are available _only_ with a new printer. I got lucky enough to find on on eBay, but I doubt we will see very many of them not on an Ender 3.

[2020-11-30 13:35] kyraxyg commented on #20307
I will check when I get back home from work. Thanks

[2020-11-30 14:06] qwewer0 commented on #20277
I modified @espr14's test file a bit: [max-acc_test.zip](https://github.com/MarlinFirmware/Marlin/files/5616141/max-acc_test.zip)

1. Simplified the file a bit
2. Shifted the X points so that it isn't too close to the endstop
3. Split it into two files (`YES-M204_max-acc_test.gcode`, `NO-M204_max-acc_test.gcode`)
4. Added `M502` to the beginning of both files
5. Added `M204 T9999` to `YES-M204_max

[2020-11-30 15:31] BrocaHatesVSCode opened #20329 "[BUG] Marlin on VS Code Traceback error (Absolute Beginer)"
Hi, I'm trying to set up Vs Code to compile Marlin. It's also important to mention that I have no idea what I'm doing. I'm just following tutorials online, and I have this error that I can find no solution online. I'm sorry if this is not the right place to post this issue or if this is an easy fix with a solution online could someone direct me to it. As I said I'm a beginner and don't even know w

[2020-11-30 16:45] rhapsodyv commented on #20277
Can anyone tell me a real situation where this bug is happen?

I know that it must be fixed. But reading the description seems more like a configuration error than a Marlin bug, because: why anyone would set max acc to a value, and then set the slicer to use a higher value?

[2020-11-30 16:50] swissnorp commented on #19428
Sorry guys but i dont think this is a bug... try to enable the following in configuration_adv.h:
[code]

Mentioning the following pull request / commit:
https://github.com/MarlinFirmware/Marlin/pull/18906

**We may should consider to move this setting to configuration.h as we did with following pull request for `HOME_AFTER_DEACTIVATE`:**
https://github.com/MarlinFirmware/Marlin/pull/20283

[2020-11-30 16:59] rhapsodyv commented on #19876
One more question: FTDI is a TFT? Who many data goes through SPI?

I'm asking that, because SW SPI could be too slow to work on TFTs...

[2020-11-30 17:22] qwewer0 commented on #20277
Maybe someone using someone else's gcode from a different machine and settings, or without our knowledge the slicer inserts it into the gcode, like how PrusaSlicer did this in marlin gcode flavor, fortunately this got fixed (I think).

For me, I can't think any way that I would use a gcode that has that in it, but @espr14 might think differently.

Could you explain it in a bit more detail, to why

[2020-11-30 17:28] tryandev commented on #16076
Experiencing this issue too with Ender 3 V2 - v4.2.2 board, i believe it has soldered 2208s

[2020-11-30 17:38] sorglos-it opened #20330 "[BUG] dual z. dual z works but not on G28"
both motors works correctly but if i press "home z" on screen or make G28 only one Motor runs.

[2020-11-30 17:41] espr14 commented on #20277
1. X motor can handle 4000 mm/s^2, Y motor 2000 mm/s^2. But I had to limit M204 to 1000 mm/s^2. Otherwise, it randomly overaccelerated and lost steps. Moreover, it lost steps on X axis!!!
1. M204 sets acceleration for all directions. If I set 2000, it won't use full power of the X motor. I would like to set 4000 and the engine should limit print/move acceleration to what motors handle.
1. How I te

[2020-11-30 18:37] swissnorp commented on #19913
See https://github.com/MarlinFirmware/Marlin/issues/19428#issuecomment-735906570 for possible solution please.

[2020-11-30 19:06] hamster65 commented on #19992
thanks for clarifying!

[2020-11-30 19:13] kyraxyg commented on #20307
I have tested with this commit and test was successful. I have sucessfully saved my 10x10 mesh to eprom.

[2020-11-30 19:13] kyraxyg commented on #20307
Thanks for the support

[2020-11-30 19:48] thisiskeithb commented on #20329
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-30 19:48] #20329 closed, assigned to nobody

[2020-11-30 19:49] thisiskeithb commented on #20330
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-30 19:49] #20330 closed, assigned to nobody

[2020-11-30 19:59] Sorglos3D commented on #20330
if you enable Dual z and dual z works but not on g28 then it is a bug not a features.

[2020-11-30 20:03] sjasonsmith commented on #20330
@Sorglos3D I think you are right, but you completely ignored all the instructions when reporting a new bug.

For reference, these are the instructions included in the template:

### Before Reporting a Bug

1. Test with the `bugfix-2.0.x` branch to see whether the issue still exists.

2. Get troubleshooting help from the Marlin community to confirm it's a bug and not just a configuration error. Lin

[2020-11-30 20:36] rhapsodyv commented on #20252
Is it the same as #20277 ?

[2020-11-30 20:49] espr14 commented on #20252
I don't know if it's the same but behaves the same. However, with junction deviation enabled it looses steps more and with S curve it looses steps even more.

[2020-11-30 21:34] mattdog01 commented on #19274
@sjasonsmith Thanks for the info.  I will look and see if I have something incorrect in my configuration files.  (they are attached to the post from 2 days ago just in case someone wants to see what I did)
I love the methodology behind the one HAL for all STM32's.  I'm sure that is a bear from the dev side.  It is great that the different devs have found a way to provide the support for the differ

[2020-11-30 21:51] sjasonsmith commented on #19274
Yes, you are understanding the intent correctly. Unfortunately these boards are hard to locate, as MKS seems to be consolidating their product listings to favor E3 and Nano boards. rhapsodyv has it working well on Nano boards, but doesn't have this to test with. I managed to find one on AliExpress, it should arrive sometime in the next 3-4 years.

For now I think you should just focus on solving t

[2020-11-30 23:50] thomaslai opened #20333 "[BUG] M220 does not have back up and restore feature by default"
According to the docs, M220 B and R should back up and restore the feedrate percentage accordingly, https://marlinfw.org/docs/gcode/M220.html

but in the code, this feature is actually gated behind PRUSA_MMU2 flag.

https://github.com/MarlinFirmware/Marlin/blob/2.0.x/Marlin/src/gcode/config/M220.cpp#L40-L44

The feature works when I just removed the conditional so I would suggest that it be remove

[2020-12-01 02:02] sjasonsmith commented on #18441
We are finally updating ststm32 for maple-based boards and specifying the core, once this PR is merged: #20325

[2020-12-01 02:05] sjasonsmith commented on #19838
@RealDeuce we are seeing a similar size reduction from updating to a newer version of Maple, as is currently pending in PR #20325. You may want to look at that PR to see if the new platform is already doing this. I am not sure if this is where the size improvement came from, or if it is from some other change.

[2020-12-01 04:50] johnmanion opened #20336 "Cannot find "/Users/John/Desktop/Firmware/Marlin-2.0.x/include""
# NO SUPPORT REQUESTS PLEASE

Do you want to ask a question? Are you looking for support? Please don't post here. Support Requests posted here will be automatically closed!

Instead use one of the following options:

- The Marlin Firmware forum at https://reprap.org/forum/list.php?415
- The MarlinFirmware Facebook Group at https://www.facebook.com/groups/1049718498464482/
- The MarlinFirmware Disc

[2020-12-01 05:27] solvan230 commented on #20068
Thanks for the suggestions. Tried the Stallguard method but unfortunately it’s not accurate enough to stall if it hits the print.
Interestingly upon trying different scenarios, I got an idea if only I could tap the strain gauge sensor input output to cancel the print if it’s printing on midair(to prevent printing spaghetti if you wanna call it).
I notice when the printer is printing, the strain ga

[2020-12-01 05:31] thisiskeithb commented on #20336
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-12-01 05:31] #20336 closed, assigned to nobody

[2020-12-01 06:10] Sebazzz commented on #20068
I have been observing my strain gauge for the past couple of prints. When printing, it always lights up a little. That can be because it hits the printed piece, but more likely the bowden tube is pulling on the print head.

[2020-12-01 06:26] #20307 closed, assigned to sjasonsmith

[2020-12-01 06:42] sjasonsmith commented on #20105
@jbbandos it is reasonable that increasing the homing speed decreases probing accuracy. It is strange that it would appear as a consistent pattern, unless there is an acceleration issue causing steps to be skipped during the process.

I also spent several hours trying to reproduce the issue from that report, without success. It has now been closed and locked, as it was one of those issues which sa

[2020-12-01 06:45] sjasonsmith commented on #19409
Tagging @Liger0 to make sure they saw my requests for information above.

[2020-12-01 06:51] sjasonsmith commented on #20333
@thomaslai please update the description to utilize the template you are provided while reporting a new bug.

Alternatively, you can close this and submit your change directly as a Pull Request.

[2020-12-01 07:47] sjasonsmith commented on #20274
I can confirm this behavior. When going back the icons all appear correctly, and all the labels are shifted one down (with the last label dropped completely). Selecting an item performs the action represented by the icon.

[2020-12-01 08:30] sjasonsmith commented on #20274
This issue was very easy to reproduce and test, so I have gone ahead and merged a fix. I'm closing this issue. Please reply if you have problems with my fix, or report new issues if more menu problems are found.

[2020-12-01 08:30] #20274 closed, assigned to nobody

[2020-12-01 09:15] bkiziuk opened #20342 "[FR] allow POWER_OFF_DELAY to function without AUTO_POWER_CONTROL + additional confirmation"
### Description

https://github.com/MarlinFirmware/Marlin/pull/19987 brought the `POWER_OFF_DELAY` option.
This option depends on `AUTO_POWER_CONTROL`:

[code]

However, even if `#define AUTO_POWER_CONTROL` is commented out, the M81 command functions and allows to cut the power to the printer.
So, the request is to allow `#define POWER_OFF_DELAY` to be used without the need of having `#define AUTO

[2020-12-01 13:17] ct16k commented on #20274
Can also confirm this is fixed. Thank you!

[2020-12-01 13:36] rhapsodyv commented on #19744
Is this a Marlin bug, or a limitation of TMC2208 for high speed and aggressive moving? I mean, is there any thing that we can fix at all?

[2020-12-01 15:06] boelle commented on #19744
given that there has been no "usefull" info since 15 oct i think no, the reply 16 days ago is surely not usefull

[2020-12-01 15:38] boelle commented on #19744
@teemuatlut do you have any ideas?

[2020-12-01 17:01] mathiasvr commented on #20309
This reminds me of #17272, where I also wanted to remove all these types of menu items but it wasn't so simple to support all types of configurations. Still hoping this can be simplified somehow. 🙂

[2020-12-01 18:13] gbkwiatt opened #20343 "[BUG] UBL - G29 P1 stops at point 57"
I've seen same ticket, but closed and not resolved.

I have SKR MINI E3 V2 board with bed size of 290x250

When I run on default UBL settings, printer HALTs on 57th point, and Mesh is invalid even after G29 P3.

 Current settings: `PROBING_MARGIN 10` and `MESH_INSET 1`.

I tried `PROBING_MARGIN 30` and `MESH_INSET 50` as as I have seen it as a solution. and it works fine.
I rather understand how t

[2020-12-01 18:28] Foxies-CSTL commented on #19427
Hi,
I also switched the environment of the "Hispeed" board of FLSun (evolved clone of the MKS Robin_mini) from STM32F1 to STM32 HAL. It's a success and it allowed me to remove the "add_nanolib.py" script and to have an identical environment to the MKS_Robin _nano board. I compile my binaries without errors with this environment when I use the Marlin UI (TFT MKS 32) but I have some problems when I

[2020-12-01 18:35] boelle commented on #20343
Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

[2020-12-01 18:37] teemuatlut commented on #19744
Considering this is with a standalone driver, we can't change the configuration nor can we read back any meaningful status data. This would also suggest it's likely an issue with S-curve where the steps would be generated too close to each other but I'm not too familiar with the feature and its coding. Preferably you'd set up an oscilloscope to trigger on a time where the pulses would be close and

[2020-12-01 18:40] gbkwiatt commented on #20343
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5624687/Marlin.zip)
Here is my configuration and I am using latest marlin bugfix-2.0.x branch

[2020-12-01 19:24] Liger0 commented on #19409
Hi, unfortunately after the second thread bumping I changed the configuration because with that one I couldn't print at all, and with the changes on the probe it works. I upped the Z to 10 and something else. I will share the working profile to make clearer what the fix was if you want to hunt the culprit.
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5624921/Marlin.zip)

[2020-12-01 19:39] yysh12 commented on #19428
Hello, so I actually am away from my printer until March 10th so I will be unable to test anything out until then. That being said, I will definitely try out your recommendations once I get back home. But I should also note that I actually already tried utilizing that option to no avail. The main problem I am trying to understand is why my automatic stepper timeout is behaving differently than my

[2020-12-01 19:43] #20333 closed, assigned to nobody

[2020-12-01 20:34] ellensp commented on #20343
Whenever there are homing or leveling issues, we now ask everyone to follow a standard procedure to gather more information so that we're not just taking stabs in the dark. Here is the boilerplate:

- Download Marlin `bugfix-2.0.x` to test with the latest code.
- Enable `DEBUG_LEVELING_FEATURE` and `M114_DETAIL` and re-flash the firmware.
- Connect to your printer from host software such as Cura,

[2020-12-01 20:37] violetbp commented on #19855
after homing it respects the normal software endstops

[2020-12-01 20:43] gbkwiatt commented on #20343
I am not having an issue, just asking for advise on how to calculate parameters to set for UBL to probe as much bed as possible

[2020-12-01 20:59] RandyL00123 commented on #19385
Did you ever find an answer? I'm running into the same problem.

[2020-12-01 21:00] ellensp commented on #20343
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-12-01 21:00] #20343 closed, assigned to nobody

[2020-12-01 22:59] RustedAperture opened #20349 "[FR] status message support for ender v2 dwin"
Looking to get support for status (m117) to be shown on the print screen of the creality dwin screen.

[2020-12-02 01:37] rhapsodyv commented on #19944
Hi @pixelicous, did you tried my branch? Thanks!

[2020-12-02 01:41] rhapsodyv commented on #19810
I'm closing this, as the user said the it's fixed when updating new newer version.

[2020-12-02 01:41] #19810 closed, assigned to nobody

[2020-12-02 05:35] macalikm opened #20351 "x and y vibrate when moving to the z safe homing point"
### Before Reporting a Bug

1. Test with the `bugfix-2.0.x` branch to see whether the issue still exists.

2. Get troubleshooting help from the Marlin community to confirm it's a bug and not just a configuration error. Links at https://github.com/MarlinFirmware/Marlin/issues/new/choose

### Instructions

1. Fill out every section of the template below.

2. Always attach configuration files, regard

[2020-12-02 05:39] ellensp commented on #20351
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-12-02 05:39] #20351 closed, assigned to nobody

[2020-12-02 05:49] meteozond commented on #19273
Got this with Debian+OctoPrint and MacOS+RepetierHost on latest 2.0.x bugfix.
There is no any system. It could work for days and lost connection after 15 min since print start.

[2020-12-02 06:05] sjasonsmith commented on #20272
Is there any value in spending time on this? This board has a built-in EEPROM, so SDCARD_EEPROM_EMULATION is not necessary.

[2020-12-02 06:10] sjasonsmith commented on #19838
We just updated to use a new Maple version which reduces FLASH usage by ~30kB, similar to this recommendation.

At this point we don't want to invest additional effort into more Maple improvements. We need to focus on migrating our STM32F1 boards into HAL/STM32, so that the Maple dependency can be eliminated entirely.

For this reason I'm going to close this out, even if there might be some potent

[2020-12-02 06:10] #19838 closed, assigned to nobody

[2020-12-02 06:13] sjasonsmith commented on #19427
We just updated to use a new Maple version which reduces FLASH usage by ~30kB, similar to this recommendation.

At this point we don't want to invest additional effort into more Maple improvements. We need to focus on migrating our STM32F1 boards into HAL/STM32, so that the Maple dependency can be eliminated entirely.

For this reason I'm going to close this out, even if there might be some potent

[2020-12-02 06:13] #19427 closed, assigned to nobody

[2020-12-02 07:02] sjasonsmith commented on #18003
A few months ago we discovered that `ADAPTIVE_STEP_SMOOTHING` was increasing the interrupt resolution until 100% of available CPU time was consumed. This has been changed to avoid starving Marlin of CPU time when this feature is used.

Given that we have reason to believe the behavior has improved, and you are no longer actively pursuing this, I'm going to close this feature request.

[2020-12-02 07:02] #18003 closed, assigned to nobody

[2020-12-02 07:06] sjasonsmith commented on #16561
Given the earlier comments in this FR and the apparent lack of interest since my last post I am closing this FR.

[2020-12-02 07:06] #16561 closed, assigned to nobody

[2020-12-02 07:12] sjasonsmith commented on #14228
Closing based on lack of interest. Adding motion systems adds complexity to Marlin which is only warranted if people are actually using them. Given the lack of response to my earlier post there seems to be little reason to keep this open.

[2020-12-02 07:12] #14228 closed, assigned to nobody

[2020-12-02 07:29] thisiskeithb commented on #20272
We could just strip out the other options and default to the real EEPROM like we've done on other boards (GTR, SKR Mini E3 V2, E3 Turbo, etc.)

[2020-12-02 08:57] ct16k commented on #20272
The example config already defaults to using EEPROM. Enabling emulation was a customization of my config.

Without an option to manually back up the EEPROM, having it permanently on the SD card is a good workaround to be able to back it up when switching firmwares instead of having to re-enter values every time. But I don't have strong feelings about this. I'm not tweaking that many params anyway,

[2020-12-02 09:40] sjasonsmith commented on #20272
@ct16k, the changes in the above-reference pull request should fix it for you. You may specify `SDCARD_EEPROM_EMULATION` anywhere in your `Configuration.h` file, or edit the pins file to enable it in place of the IIC EEPROM.

[2020-12-02 09:44] sjasonsmith commented on #19040
@Semmi121 please provide more details about what you are looking for. Specifically:

1. What hardware are you using the external reader, and how are you connecting it? Please include links and pictures as needed to describe it.

2. Zip up and attach your configuration files which enable the external SD. Also include your pins file and any other files you have modified.

3. Provide _exact_ steps to

[2020-12-02 09:54] sjasonsmith commented on #14594
The default values really are not very important. Most users are going to start with example for their base printer anyway.
No matter what these values change to, they are always going to be wrong for some or most users.

If you feel strongly about any of these, I suggest you submit the change as a pull request, and the merits of the change can be discussed there.

[2020-12-02 09:54] #14594 closed, assigned to nobody

[2020-12-02 11:11] ct16k commented on #20272
Printer boots up, changes seem to be persisted to file and load up fine, so I would say it does fix it. Thank you!

[2020-12-02 14:48] rhapsodyv commented on #19944
Thanks for the tests! We are almost there. Two things:

 1) Did you test using bugfix, or my branch? ( https://github.com/rhapsodyv/Marlin/tree/dwin-move-axis-fix)

2) Can you add G28 at the end of gcode for canceled scripts and test again?

Thanks!

[2020-12-02 15:30] #20272 closed, assigned to sjasonsmith

[2020-12-02 16:14] rhapsodyv commented on #18916
Can you share your updated configs?
For me it's working, after pid autotune finishes, it shows the text stored in: `MACHINE_NAME`, that can be "3D Printer", or the contents of `CUSTOM_MACHINE_NAME`.

If you edit `CUSTOM_MACHINE_NAME`, the problem continues?

[2020-12-02 16:30] FanDjango commented on #19164
I agree.

The amplification and the way it "adjusts" the correction move that is derived from the Z1 and Z2 position difference is entirely primitive and in no way geometrically correct. As a matter of fact, IIRC, the second corrective move actually is given a possibly much higher amplification than the one defined (capped at 2.0). The first one and later ones use the amplification requested by th

[2020-12-02 17:14] Jedrusia commented on #20187
I notice this problem to BTT.
I have a answer:
"Hello
The config.ini file in the display needs to be modified, you can refer to this content to modify.
https://github.com/bigtreetech/BIGTREETECH-TouchScreenFirmware/issues/890
Sincerely,
BIQU customer service"

[2020-12-02 17:21] yet-another-average-joe commented on #14431
No idea if this could be related, but...

The scope shows a very short "negative" spike at the begining of the initialization sequence (yellow = SDA, blue = SCL). A few tens of nanoseconds, before the signal raises again and then falls down. And shouldn't SCL be at 3.3V when idle ? Is this normal ?

![pic_125_7](https://user-images.githubusercontent.com/43514870/100903772-91402080-34c6-11eb-8533-8

[2020-12-02 18:01] kyaron commented on #19495
I enabled #define HAS_BTT_EXP_MOT 1, but the stepper motor connected to the EXP board doesnt turn.
crossed cables, motors, driver none helped.
Any idea???

[2020-12-02 18:11] pixelicous commented on #19944
@rhapsodyv

1. your branch
2. yes, will do it tomorrow morning hopefully :) but if i am not mistaken i already tested homing from octoprint and then moving the y axis from the screen and it was OK, no issues with extruder starting as well

[2020-12-02 18:14] rhapsodyv commented on #19944
What is happening is that when we cancel a print from Octo (without G28), Marlin stays in a total unpredictable state. That is the reason the axis move together. In my branch, I'm trying to work around it, but the "correct" way would be: always do G28 when a print is canceled. Marlin does that, when you print from SD. I think Octo should to it too.

[2020-12-02 18:17] pixelicous commented on #19944
I'll try to print from marlin directly and sd, then cancel and see what happens. if i remember correctly it didn't happen only with octoprint.. need to check though. also.. how can we explain the fact that moving the Y axis, just after that cancelled print, only the y axis move and not the extruder, while moving the Z axis move both..

[2020-12-02 18:22] rhapsodyv commented on #19944
I don't have any idea, yet hahaha. I'm trying to fix things that could generate this problem, but I can't reproduce it (I don't have a ender v2)

[2020-12-02 18:23] thisiskeithb commented on #19944
Isn't that a bad idea if you have a half-completed print on the bed and you cancel?

[2020-12-02 18:27] rhapsodyv commented on #19944
Yes, you are right. G28 is a terrible idea. Let me take a look in what marlin actually does.

[2020-12-02 18:30] thisiskeithb commented on #19944
Default is a `G28XY` If printing from SD.
https://github.com/MarlinFirmware/Marlin/blob/a4d6908d556afd77cf66ef7a8adc7c34fee81674/Marlin/Configuration_adv.h#L1204

[2020-12-02 18:37] rhapsodyv commented on #19944
Exactly!

Plus `M410` (`quickstop_stepper()`)

Marlin does something like this:
[code]

@pixelicous can you try this?

[2020-12-02 18:37] elmek6 opened #20356 "[FR] Fan speed override / menu and gcode"
### Description

I don't like to print ABS nor PETG. It gives me always hard time. Today I print same part 4 times as you can see 2 big clamp hold it for potential warping but the biggest problem after printing %80 of object, there is a small bridge, I know at this point my print will collapse or make spaghetti.
I modified my printer and put additional 1 pot and 1 switch. This switch selecting the

[2020-12-02 18:50] sjasonsmith commented on #18916
If we don't hear back within a day or two from @nicwilson58 I think we just need to close this issue. It isn't clear from the last post what the remaining issue is. I'm not sure what "the lower left status area is blank" refers tom versus what is expected to be seen.

[2020-12-02 18:51] hamster65 commented on #20356
This is something I wish for as well. It often happens that I start a print with ABS and then I realize that I have forgotten to disable the fan. I pause the print and disconnect the fan, but then the contacts are unprotected and prone to short circuits touching other metal components.

Simply setting the fan to zero from the tuning menu does not work because this setting is not working as an offs

[2020-12-02 19:22] guytas commented on #20349
Same here....  I do not use usb connection so the LCD messages are important for me.
I'm trying to follow the code but I can't see how the host_action_notify() gets in the dwin.cpp

[2020-12-02 20:12] rhapsodyv commented on #20221
@patlas any news here? did you test bugfix?

[2020-12-02 20:24] Brown-walker opened #20357 "having trouble installing marlin on ender 3 v1"
I installed the bootloader but when I try to install the marlin software through the Arduino software I get this message:

Arduino: 1.8.13 (Windows 10), Board: "Sanguino, ATmega1284 or ATmega1284P (8 MHz)"

In file included from sketch\src\feature\babystep.cpp:31:0:

c:\users\engit\appdata\local\temp\arduino_build_901772\sketch\src\module\stepper.h: In static member function 'static uint32_t Stepp

[2020-12-02 20:26] radek8 opened #20358 "[BUG] Wrong answer to M851 - Probe offset"
I have a BLTouch probe, Probe offset is set in configuration.h. The display shows the value correctly, but when asked via the serial port, it answers axis X 0.0000 and Y 0.0000 . The Z axis is OK

### Steps to Reproduce

1. sent via serial port M503 or M851

**Expected behavior:**

The correct values are displayed

**Actual behavior:**

SENDING:M851
Probe Offset X0.0000 Y0.0000 Z-1.1100

M503 S0
M

[2020-12-02 20:42] rhapsodyv commented on #20268
@jmz52 can you take a look on this? Or point me the process to update or add a new font to color ui.
Thanks!

[2020-12-02 20:44] rhapsodyv commented on #20301
I'm closing this, as the fix was merged. Thanks!

[2020-12-02 20:44] #20301 closed, assigned to nobody

[2020-12-02 21:03] ellensp commented on #20357
You have selected the wrong Board type. There are 8 Mhz and 16 Mhz versions you need the 16 Mhz but have chosen the 8 MHz.
You are also in for a world of hurt using aurduino ide. on windows. You really need to run vcsode/platformio see https://marlinfw.org/docs/basics/install_platformio_vscode.html.

Also

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not

[2020-12-02 21:03] #20357 closed, assigned to nobody

[2020-12-02 21:07] thisiskeithb commented on #20358
You're missing some config options from the latest `bugfix-2.0.x`, please download [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code and let us know if you're still having this issue.

[2020-12-02 21:37] radek8 commented on #20358
I downloaded the latest edition
last PR20241.
The problem remains

[2020-12-02 21:42] sjasonsmith commented on #20358
Sounds like EEPROM needs to be initialized. It probably has zeroes stored.

[2020-12-02 21:42] thisiskeithb commented on #20358
That's not the latest. The latest was a4d6908d556afd77cf66ef7a8adc7c34fee81674.

There was a PR put in after to right after to fix the probe X/Y offset that followed right after that. Again,
please download [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code and let us know if you're still having this issue.

[2020-12-02 21:46] WalnutFox commented on #20349
The only thing I can think of is that we can incorporate the status message to be a module so that we can read m117 from a module and put the string on the info screen.

[2020-12-02 21:55] radek8 commented on #20358
Sorry the compilation with PR20241 was the previous one.
Current build a4d6908d55
The problem is fixed.
Thank you.

[2020-12-02 21:56] #20358 closed, assigned to nobody

[2020-12-02 22:44] Crunch69 commented on #19602
I have been pulling my hair out for 2 days only to find many people are having the exact same problem

[2020-12-02 23:08] BsCmOD commented on #9195
Have you got some news?

[2020-12-02 23:28] GadgetAngel opened #20359 "[BUG] SKR V1.3 board and MAX6675 not working in hardware SPI with AUX-1 P0_02 and P0_03 PINS"
### Bug Description

Also see issue https://github.com/MarlinFirmware/Marlin/issues/19417#issue-703065382.   It has been closed. See also #19028

I set up my SKR V1.3 board to use a MAX6675 board with an E3D K-Type Thermocouple.  I checked the thermocouple and I am certain the thermocouple is isolated from the cartridge tip and from the T+ and T- pins.  I place a 0.80 uF capacitor across the T+ an

[2020-12-02 23:38] GadgetAngel commented on #19028
@sjasonsmith Would this not also apply to DELAY_NS which is used heavily in doing temperature reading with the MAX6675 board and other SPI temperature sensor boards. See #20359.

[2020-12-02 23:42] guytas commented on #20349
We could.  I would love it.

[2020-12-02 23:52] nicwilson58 commented on #18916
hi

please do not assume everyone here is home all the time.  I travel 70% of the  year for work and Dec is out busiest time,  and I am not home to test right now.  this is still an issue.   Mine also DOES show text when PID finishes as my original post says,  but when it starts it shows nothing and its not even clear the process has begun until you see hotend temp start to rise.

--------- Origin

[2020-12-03 00:11] sjasonsmith commented on #19028
Yes it does. Is this causing problems for you? We haven’t prioritized finishing it because the direct impact seems small so far.

[2020-12-03 00:17] sjasonsmith commented on #19028
I got lost reading your new report. There is a lot of information there. Have you de the ruined this is the cause of problems, or is it just an idea right now?

[2020-12-03 00:25] sjasonsmith commented on #18916
Well, we had been waiting 18 days for a reply...

[2020-12-03 01:16] flybikescraig opened #20360 "ender 5 pro bltouch not deploying using th3d lite board"
### Bug Description bltouch on ender 5 pro not deploying after many attempts using the most current marlin or th3d unified firmware.

i have flashed my new th3d lite board with their unified firmware and the latest marlin firmware and made the appropriate changes to get the bltouch to work. unfortunately it does not deploy either when homing or sending command codes via connected octoprint. it doe

[2020-12-03 01:19] thisiskeithb commented on #20360
We cannot support forks of Marlin here. Your board also comes with tech support, so reach out to TH3D for further troubleshooting.

---

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole

[2020-12-03 01:19] #20360 closed, assigned to nobody

[2020-12-03 01:23] GadgetAngel commented on #19028
I know that my problem with the MAX31865 board on the LPC1768 was due to timing issue.

I am currently having “0” values show up on the MAX6675 board with LPC1768. So there is a timing issue with that also.

I also having issues with the MAX31855 on LPC1768. The MAX31855 in Software SPI mode on LPC1768 does not work.

I do have work-around for ALLL three problems.

If you want me to submit all the

[2020-12-03 01:28] thinkyhead commented on #19028
Wow, good work! I'd love to have a PR and it'll get reviewed quickly.

[2020-12-03 01:35] sjasonsmith commented on #19028
I am surprised this delay issue would be a problem for a SPI device, since SPI is not usually pick about timing.

We have a PR in progress for the DELAY code. We should be getting back to it soon. PRs for your other improvements are of course welcome.

[2020-12-03 01:36] sjasonsmith commented on #19028
I am also not sure that this bug impacts LPC176x based boards. It might, but we’ve not tested to verify.

[2020-12-03 01:38] rhapsodyv commented on #20359
I purchased a MAX31865, to tackle those max spi issues soon. If MAX6675 is too different, I can order one too. But I ordered it from Ali, so it will take about a month to arrive.

[2020-12-03 01:45] #19508 closed, assigned to nobody

[2020-12-03 01:58] rhapsodyv commented on #19028
@GadgetAngel this PR helps with your issue: #19059 ?

[2020-12-03 02:01] GadgetAngel commented on #20359
@rhapsodyv the MAX6675 is totally different than either the MAX31865 or MAX31855. The MAX6617 as I have shown is sending “0” samples or the timing is just slightly off due to the DELAY_NS bug and the MCU is returning with a 0 because nothing came across. I do not own a logic analyzer yet so I can not tell if the proper SPI lines are being set.  If I were you I would order a MAX6675 board also

[2020-12-03 02:02] GadgetAngel commented on #20359
@rhapsodyv Do you want me to submit the work-around to Marlin as a PR?

[2020-12-03 02:08] rhapsodyv commented on #20359
Ok, just ordered a MAX6675 too.

Sure, let's see what we can do.

I was working on it, with another user about a month ago, but the user burned his sensor... then he stopped replying and everything cool down.

[2020-12-03 02:13] rhapsodyv commented on #20359
Ahh, and you is the author of #20132. That PR is the reason that I brought the MAX31865

[2020-12-03 02:14] GadgetAngel commented on #19028
@rhapsodyv i will look to see if #19059 fixes the issue with all the errors I have found testing SPI temperature sensors this past month. If it fixes the problem great..... but I am BIG on actually testing. I have even purchased a RAMPS 1.4 board to test out my solution on. The ramps board should be here on my desk tomorrow.  But thanks, I will read to #19059 and TEST. If it solves my problems I w

[2020-12-03 02:22] rhapsodyv commented on #19028
Probably it will not cover everything you found. But we can join efforts to fix it! :-)

[2020-12-03 02:31] atharvbadkas commented on #20187
I'm using original LCD Display in my Setup, and the issues are related to TFT Displays.
Config.ino file is for TFT Displays, NOT for Original LCD.
I also contacted @bigtreetech , Even when I told them I'm using Original LCD still they want me to edit config.ino file which does not exist in Marlin folder.
.
I have one technical question, STM have logic level 3.3V and UPS output is +5V when detected

[2020-12-03 06:48] sjasonsmith commented on #19409
@Liger0 if you are no longer encountering issues we can probably just close this issue.
From the description I have so far I think the behavior might actually be expected.

We should only keep this open if you believe there is a bug, can provide exact steps to reproduce, and are interested in spending time following troubleshooting steps to help isolate a cause.

Otherwise, we will just close this

[2020-12-03 07:39] sjasonsmith commented on #20275
I've reproduced this in the simulator. It is SegFaulting in a call to `mesh_bed_leveling::cell_index_x`, but I haven't investigated yet.

Steps to reproduce:
1. Use these configs and eeprom.dat in the simulator. It already has a mesh saved.
    [Configuration_adv.zip](https://github.com/MarlinFirmware/Marlin/files/5634379/Configuration_adv.zip)
2. `G28`
3. `M420 S1`
4. `G0 X1`

[2020-12-03 08:35] Taomyn opened #20362 "[BUG] Cannot compile for SKR mini E3 on fresh VScode/Git install (Windows)"
### Bug Description

I needed to reinstall my VSCode/Git environment on my laptop today and noticed that my normal compile of Marlin for my SKR mini E3 v1.2 kept failing because it could not find `SoftwareSerial.h` to include. After some digging around and also comparing the environment to my other PC which would build just fine, it was because it was not downloading the lib dependency "SoftwareSe

[2020-12-03 08:39] sjasonsmith commented on #20362
That should be handled automatically. I don't know why you're hitting it and the rest of us are not. Perhaps something in your configs is preventing the automatic dependency detection from working properly.

[2020-12-03 08:43] ellensp commented on #20362
I'm having lots of issue with paltformio downloading things currently.... getting http 500 errors.
May be related.... I was just going to try again later.

[2020-12-03 08:48] Taomyn commented on #20362
It was a clean install of everything to compile Marlin, so not sure what it would be, but I did manually force the issue on the other machine that had been working fine and it failed there.

Also, if platformio.ini is not telling VScode that SoftwareSerialM is a dependency for my build then how would anything else in VScode detect it?

[2020-12-03 08:57] sjasonsmith commented on #20362
The `extends` line should automatically use the field from the parent it points to, which should roll its way up to the dependencies in `common_stm32f1`.

[2020-12-03 09:07] Taomyn commented on #20362
I think I see the problem, just need to work it out when I have a free moment

[2020-12-03 09:12] thisiskeithb commented on #20362
It’s been an issue all night for me as well. I gave up and figured I’d check in the morning.

[2020-12-03 09:29] sjasonsmith commented on #20275
This should be fixed in the above PR. If you are able to verify the change solves it on your system that would be great.

[2020-12-03 09:37] Liger0 commented on #19409
Well, the 0.10 error was  consistant unless I did reboot the machine, it wasn't a mesh value or anything like that and ruined the abl compensation as it didn't compensate for the bed correctly.
Now that the offset is 10, it doesn't go to 10.10 or anything like that.
The few edits I did in the configuration made the difference between triggering that behaviour or not.
If someone else has the free m

[2020-12-03 09:37] #19409 closed, assigned to sjasonsmith

[2020-12-03 09:43] l0l0l0 commented on #20362
Hello,
I have the same problem i have been trying to solve for a week, unable to compile for my SKR PRO. Can you help me.

![image](https://user-images.githubusercontent.com/4364860/100992385-68ff0300-3554-11eb-9601-756772b60b22.png)

Thanks

[2020-12-03 09:48] sjasonsmith commented on #20362
@l0l0l0 There is a pretty big difference between the SKR E3 and SKR Pro with regard to software serial.

The SKR E3 pulls in an external dependency to get it.

The SKR Pro gets it from the Arduino framework it uses. If it is missing I am guessing that you are running some really old code.

[2020-12-03 10:17] l0l0l0 commented on #20362
Oh ok !
my code is from InsanityAutomation, but it doesn't look that old. Before softwareserial.h / cpp was in Marlin / Marlin / src / HAL / STM32 / but it's not there anymore.

I will still do some research, thanks anyway for your answer

[2020-12-03 10:19] l0l0l0 commented on #20362
Oh ok !
my code is from InsanityAutomation, but it doesn't look that old.
Before softwareserial.h / .cpp was in Marlin / Marlin / src / HAL / STM32 / but it's not there anymore and i can't install it in vscode.
I will still do some research, thanks anyway for your answer

[2020-12-03 12:11] pixelicous commented on #19944
So i've set it in octo, didn't reboot the raspberry and started the print
After cancelling the printer didn't home its axis at all, stayed at the same place.
I've tried moving Z axis afterwards, both Z axis and extruder moved as before
Tried this twice

I wasn't using your branch this time, as i've already reverted to the firmware file i've been using before (bugfix2.0 branch from around a month a

[2020-12-03 12:25] Doyle4 opened #20364 "[BUG] MKS Pins"
Not sure if a bug or if I’m looking in the wrong places.
If I remember correct, MKS GEN L pins use to be in the pins section under A/MEGA, been a few months since compiling a firmware for it due to upgrade.
I can no longer see them in any sections under pins, can someone point me in the right direction please.

[2020-12-03 12:54] ellensp commented on #20364
Marlin/src/pins/ramps/pins_MKS_GEN_L.h

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshoo

[2020-12-03 12:54] #20364 closed, assigned to nobody

[2020-12-03 13:03] rhapsodyv commented on #20305
The fix was merged. Thanks!

[2020-12-03 13:03] #20305 closed, assigned to nobody

[2020-12-03 13:07] rhapsodyv commented on #19944
So, octoprint ignored the cancel gcode?!
Can you share the serial, so we can see what it sent?

[2020-12-03 13:55] AndKe opened #20365 "[FR] Softer, disconnect-less HALT option."
### Description

SKR , and many other newer boards do not reset on serial port opening, DTR, like older Arduino/Atmega based boards do.
Any HALT, even for non-dangerous situations like failed probing/levelling, makes the printer go into a brick mode, until power-cycled.
This is extremely inconvenient when printing remotely.

### Feature Workflow

Add option to "Soft HALT/KILL"

When "soft halted",

[2020-12-03 14:59] rhapsodyv commented on #20271
Recently an user on MKS Facebook group had a similar issue. The problem was the SD card greater than 8gb...

Did test it in a smaller SD card? Just to check...

[2020-12-03 15:29] sjasonsmith commented on #20364
The easiest way to locate the correct pins file is to open pins.h and search for your board.

[2020-12-03 17:04] Jedrusia commented on #20187
Today i was updated a firmware of my TFT35 V3 E, to newest version from github and i was modify config.ini, but nothing changes ! During each print start (marlin mode or touch mode) from the motherboard's SD reader takes 1-2 sec. printer power supply error (no message is reported in touch mode) and after a few senunds relay 1.2 disconnects the printer power. I turn them on again and in the marlin

[2020-12-03 17:33] thisiskeithb commented on #20365
You should track down why your printer is halting.

It’s a safety feature since Marin controls things like heaters. The point of halting is to shut down everything and alert you that your printer did something unsafe and needs attention.

[2020-12-03 17:38] AndKe commented on #20365
Absolutely, It also happens on probing error (not so dangerous)  But I disabled OctoPrint from disconnecting on !!/Error now.
Still, some halts are not dangerous:
Example: bed heating is too slow in an unusually cold storage room (winter time)  - may be treated as thermal runaway.
In reality, it is better to let it run and fail once, than configure a crazy runaway threshold like 2°C/5 minutes.

[2020-12-03 17:41] Undercoverkarotte opened #20366 "[BUG] Marlin bugfix doesnt boot, MKS Rumba32"
### Bug Description

Newest Marlin bugfix doesnt boot.

### Steps to Reproduce

1. [First Step]
flash firmware with VSC

**Expected behavior:**

Marlin boot up

**Actual behavior:**

Show only the bootscreen, nothing else happens.

#### Additional Information

VSC terminal output:
[Config files.zip](https://github.com/MarlinFirmware/Marlin/files/5637922/Config.files.zip)

Download done.
File downl

[2020-12-03 17:48] thisiskeithb commented on #20365
There’s good reason to watch for slow heat ups and those settings are configurable:

https://github.com/MarlinFirmware/Marlin/blob/3eddbc7286ce2dd5a14ceb848ef26fd1dd7a3c4c/Marlin/Configuration_adv.h#L213-L225

[2020-12-03 18:04] thisiskeithb commented on #17236
Duplicate of #17167

[2020-12-03 18:04] #17236 closed, assigned to nobody

[2020-12-03 18:21] Sebazzz commented on #19623
I use SERIAL_PORT=-1 with USE_USB_COMPOSITE and it is also not working. To make it worse, understandably, EMERGENCY_PARSER commands are skipped during normal processing, so M112 does not work at all (gcode.cpp):

https://github.com/MarlinFirmware/Marlin/blob/3327568142f0294fa2b6e69b8b6567fa345ad205/Marlin/src/gcode/gcode.cpp#L493-L502

[2020-12-03 18:39] rhapsodyv commented on #19623
Very weird. From where are you sending the M112? Computer serial or TFT Serial?

[2020-12-03 18:40] Sebazzz commented on #19623
Host, Octoprint.

[2020-12-03 18:40] thisiskeithb commented on #20362
Tested with the latest `bugfix-2.0.x` (3eddbc7):

NeoPixels aren't supported on STM32F1, so I reverted `platformio.ini` to it's stock form & only enabled `default_envs = STM32F103RC_btt_512K`.

I had to also disable the following:
- `NEOPIXEL_LED`
- `LED_CONTROL_MENU`
- `CASE_LIGHT_USE_NEOPIXEL`
- `SHOW_CUSTOM_BOOTSCREEN` and `CUSTOM_STATUS_SCREEN_IMAGE` (since those weren't included)

Marlin now

[2020-12-03 18:41] thisiskeithb commented on #20362
@l0l0l0: We can't support forks here, so you'll need to post the bug report in `InsanityAutomation` repo.

[2020-12-03 18:42] #20362 closed, assigned to nobody

[2020-12-03 18:42] rhapsodyv commented on #19623
I was looking at the code, and it seems exactly the same as the original PR, that @thisiskeithb tested: https://github.com/MarlinFirmware/Marlin/pull/19281

[2020-12-03 18:44] Sebazzz commented on #19623
Sorry - my fault - 9a5fae436694c75da9595c7bf1e71142179994ed isn't in the source I'm building

[2020-12-03 18:45] rhapsodyv commented on #19623
It's already merged on bugfix since Sep 6.

[2020-12-03 18:50] thisiskeithb commented on #19623
Always test with the latest [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip).

[2020-12-03 18:51] Sebazzz commented on #19623
Sorry I'm always confused with the branching here (vs develop/release branches). It is not in Marlin 2.0.7.2 which is what I was testing - sorry all.

[2020-12-03 18:52] Doyle4 commented on #20364
Thanks @ellensp for pointing me to right location.

[2020-12-03 18:53] Doyle4 commented on #20364
I did and couldn't find it, which lead me to asking here. :)

[2020-12-03 20:03] jmz52 commented on #20268
@rhapsodyv, you need to create files with language specific glyphs for Helvetica14 and Helvetica18 fonts, define macro font name and load language specific glyphs in `MarlinUI::init_lcd()`
[code]

Character IDs should be the same as in Marlin\src\lcd\dogm\fontdata\langdata_xx.h files

[2020-12-03 20:12] Taomyn commented on #20362
Really? My STM32F1 based board i.e. SKR mini E3 v1.2 in my Ender 3 Pro says otherwise, and has done since the start of 2020 with nothing more than 7 standard NeoPixels connected directly to the board just as BTT designed it. This was taken after flashing it with bugfix-2.0.x from a few hours ago and correcting the platformio.ini file: https://photos.app.goo.gl/ZvFZAkXRyzVnbJ9U8

[2020-12-03 20:18] thisiskeithb commented on #20362
You're bypassing the sanity check. It does not work consistently on STM32F1 so it's disabled:
https://github.com/MarlinFirmware/Marlin/blob/3eddbc7286ce2dd5a14ceb848ef26fd1dd7a3c4c/Marlin/src/HAL/STM32F1/inc/SanityCheck.h#L42-L44

[2020-12-03 20:31] AndKe commented on #20365
@thisiskeithb
I know- and again (since you derailed this issue to be about safety) :
If enclosed printers are in an unheated room - think -5°C
Then I can reduce the target increase per period to be veeeery slow.   But this is not the case most of the year, or if recently used, and printer & enclosure is not below freezing.
If I did that, then the period/time would be very slow to react if somethin

[2020-12-03 20:33] thisiskeithb commented on #20365
Halting your printer *is* about safety. It's why the feature exists.

[2020-12-03 20:34] thisiskeithb commented on #19623
Testing the latest `bugfix-2.0.x` (3eddbc7):
- **Board:** SKR Mini E3 V2
- **Environment:** `STM32F103RC_btt_USB`
- **Serial Ports:** `#define SERIAL_PORT 2` / `#define SERIAL_PORT_2 -1`:

**Using OctoPrint:** I sent `M109 S210` to start a preheat & wait for hotend temp. Then I sent `M112` and OctoPrint disconnected, but Marlin didn't halt.

**Using a serial-connected BigTreeTech TFT:** I sent `M1

[2020-12-03 20:38] AndKe commented on #20365
Yes, I am not saying anything against halting - but it can be done in a more convenient, equally safe way.

You could also have a relay to make sure it halted by shorting the mains supply, but one usually takes the more sane/convenient solution to a problem.
There is no reason to "saw off the branch you sit on"  (drop the serial link) just to halt safely.

[2020-12-03 20:57] rhapsodyv commented on #20268
@jmz52 Thanks!
Can you point me the direction to generate the glyphs for Helvetica? Which tool you use to select the glyphs? Or just use a standard Helvetica converted to BBX?

[2020-12-03 21:36] rhapsodyv commented on #20268
Well, I don’t even know if helvética have Chinese glyphs... I need to do some research.

[2020-12-03 21:43] rhapsodyv commented on #19623
Anyone can test if this branch solves the issue?

https://github.com/rhapsodyv/Marlin/tree/fix-ep-usb-composite-stm32f1

Thanks

[2020-12-03 22:48] sverd commented on #19385
Yes and no. This happened after a complete upgrade of my printer (8 to 32 bit controller, different hotend etc.). In the end I got it working correctly but a few things might have been the cause of the problem and I could not pinpoint it (I needed the printer the work so when it finally worked I started printing immediately).
So what did I do (many times):

- I started from the 8-bit configuration

[2020-12-03 23:44] rhapsodyv commented on #19718
the attached configs are what are you using?
did you tested only with that two gcode you shared, manually?

I can't reproduce it. Everything is working for, following your instructions and configs.

The only difference between `M75` and `M190/M109` regarding of `PRINTJOB_TIMER_AUTOSTART` is that `M190/M109` do a check if the target temperature is greater than `BED_MINTEMP` and `EXTRUDE_MINTEMP / 2

[2020-12-04 00:17] ellensp commented on #20365
This is a safety feature.
If it halt your meant to go to your printer and sort it out!, not just reboot and ignore it.

[2020-12-04 00:58] EYHJ59 opened #20367 "[FR] USB serial & successive gcode reception"
### Bug Description

I am making some program as like simple octoprint.
If command buffer is empty, it sends Marlin gcode in every 250ms until command buffer is full .
At first steps, it want send gcode until command buffer has 5 gcode.

C>> : N1 M82 *56
C>> : N2 G21 *56
C>> : N3 G90 *51
C>> : N4 M82 *61
C>> : N5 M104 S200 *66
<<M: ok N1 P127 B31
C>> : N6 M140 S60 *117
<<M: ok N2 P127 B31
........

[2020-12-04 01:01] thisiskeithb commented on #20367
Have you looked into [`M808`](https://marlinfw.org/docs/gcode/M808.html)?

[2020-12-04 01:05] jaeryang-sindoh commented on #20367
What is M808?

[2020-12-04 01:06] rhapsodyv commented on #19876
@marciot do you want to take a look on this? Or SW SPI is something that is deprecated for FTDI?

Thanks!

[2020-12-04 01:11] thisiskeithb commented on #20367
Click the link.

[2020-12-04 01:25] jaeryang-sindoh commented on #20367
Marlin has no M808 and I'm testing USB serial print not SD print.

[2020-12-04 01:26] thisiskeithb commented on #20367
You'd need to run the latest `bugfix-2.0.x`, but yes, it's for SD printing.

This seems like something that would be handled on the host side then.

[2020-12-04 01:37] yet-another-average-joe commented on #14431
Solved !

No more crashes.

No more shifting.

Just remove U8G_I2C_OPT_FAST. With this option I²C frequency is 400kHz. Seems too much or bad choice for these displays.
Without the option : 100kHz.
Verified with the scope.

The display seems a bit less responsive, but not even sure...

No idea why 400kHz causes problems. The SSD1306 datasheet tells the oscillator frequency is typically 370kHz (min

[2020-12-04 02:09] jaeryang-sindoh commented on #20367
M808 run 1 gcode but 5 times.
-> 1 command buffer and (maybe) 5 planner buffer
My problem is
 Marlin receive 5 gcodes -> Marlin have to move it to command buffer. But Marlin doesn't do it.
I think when received data number is over some amount, Marlin have difficulty moving data(gcode) to command buffer from usb serial buffer.
-> 5 usb serial buffers but only 1 command buffer
So M808 and my case ar

[2020-12-04 03:21] sjasonsmith commented on #19273
The USB port on these boards are not controlled by Marlin at all. Nothing in Marlin can control whether the connection between the host and board is functioning properly. The USB controllers are standalone chips which do nothing but provide UART RX/TX lines to the MCU Marlin runs on.

Your logs show a USBD_STATUS_XACT_ERROR. In my experience these are _extremely_ difficult to recover from. They ha

[2020-12-04 03:21] #19273 closed, assigned to sjasonsmith

[2020-12-04 03:33] sjasonsmith commented on #20366
Has this configuration worked previously?

[2020-12-04 03:34] sjasonsmith commented on #20275
Fix is merged. Please report back if there are still issues.

[2020-12-04 03:34] #20275 closed, assigned to sjasonsmith

[2020-12-04 03:38] sjasonsmith commented on #19067
@qwewer0 are you working on fixing this, or just testing to help verify there is a problem?

[2020-12-04 03:46] rhapsodyv commented on #20317
@RFBomb did you test it again? Thanks!

[2020-12-04 04:36] sjasonsmith commented on #20366
I can confirm the problem when using the provided configs. If I only enable the board and display it boots, albeit with slight display timing issues.

I have not yet tried to isolate which option causes it to not boot properly. There are quite a few features enabled. My best guess is that something is causing a timer conflict that isn't being detected at build time.

[2020-12-04 07:41] altiber commented on #20271
I checked on 8 and 16 GB cards, and there was definitely a problem with them. I do not have less volume cards, and it is difficult to buy them, they are no longer sold in stores in our city

[2020-12-04 07:47] qwewer0 commented on #19067
@sjasonsmith Just tested it out to see if I can verify the problem.

Still waiting for @redgod to do two filament change in one print to see if I got the same problem in a different "outfit" or not.

[2020-12-04 07:59] rueyloon commented on #18357
Hi, I believe I might have found a solution, try adding a Z-hop, a very small one like 0.01. That tiny delay by the Z-hop somehow allowed the stepper to continue working without triggering what ever that causes it to shut down. Do let me know if it works.

[2020-12-04 08:32] sunnyxiong2020 commented on #1485
update this value in the configuration_adv.h, I just changed mine from 120 to 1800
#define DEFAULT_STEPPER_DEACTIVE_TIME 1800

[2020-12-04 09:18] AndKe commented on #20365
My suggestion increases safety in cold environment (not causing too liberal runaway settings)
No one commented on how a more convenient handling is incompatible with safety.

This applies especially to users who use big print beds, and toggle between thin powder-covered steel sheet, and heavy glass plate with PEI.

You are telling me that in order to punish the user as hard as possible for false p

[2020-12-04 09:21] pixelicous commented on #19944
@rhapsodyv yes seems like it..
I will test it tomorrow or in 2 days and let you know

[2020-12-04 11:13] atoomnetmarc commented on #14431
You are onto something. But....

I modified marlinui_DOGM.h and removed U8G_I2C_OPT_FAST from the SSD1309 section. Now the display does not shift anymore. The display is now noticeably (and understandably) slow. I this recent version https://github.com/MarlinFirmware/Marlin/tree/d17db477753067982b2cbf277609f4d66b0b57a9

However, I am now unable to print anything. The printer resets just after homi

[2020-12-04 11:31] iotricity commented on #14431
The I2C displays I've tested with can do even 800kHz SCL/SDA on an ESP32 using bit banging code. The same displays fail on the LPC1769. If data was corrupted, it would garble the display's content and the lines would jump up and down if the next display/frame update is okay. This is not the fact. The shifting is a constant process, not a glitch.

As far as I've discovered and monitored there is a

[2020-12-04 11:44] ebuyum opened #20370 "[BUG] Unable to perform any moves using G91 (relative positioning) after homing"
Hello everyone!

Thanks for everything so far!

### Bug Description

Today, I have tried pulling  `bugfix-2.0.x` and flashing it to my printer.

After flashing the latest bugfix version, it seems like trying to extrude in relative positioning mode causes the printer to go to X=0,Y=0,Z=0 before extruding.

This doesn't happen if I don't execute G28, that is, the printer goes to (0,0,0) only after h

[2020-12-04 11:53] Undercoverkarotte commented on #20366
It works fine if I copy and paste the config files to the stable branch and deactivate FAST_PWM_FAN and Z-Probe wizard.
FAN_SOFT_PWM is also deactivated in Pins file.

[2020-12-04 13:28] thierryzoller commented on #9802
With my respect, but I think you miss the point.
Repeatability is near perfect with my probe. The problem however is that G28 that happens before any print is not accurate and I cannot reproduce the samre reliability that I can with the M repeatability command.  I believe that is the Gist of this issues as also described by  FanDjango

[2020-12-04 14:42] RafaelSchridi commented on #18357
Doesn't seem to work for me.

Although since the latest release enabling lin_adv and disabling stealthchop still doesn't work but the extruder is ticking back and forth, there is no progression but at least there's a sign of life.

Can this issue be opened again? Because the solution right seems to be "just buy a TMC 2209 lol"

[2020-12-04 14:45] sjasonsmith commented on #18357
There are at least one and probably several open issues on this topic. There is no need to re-open this one.

[2020-12-04 14:55] RafaelSchridi commented on #18357
Can you add a link so people who find this issue can see the current progress?

[2020-12-04 15:10] yet-another-average-joe commented on #14431
Yes, shifting looks like the 1st frame replaces the 8th one, the 8th goes to first, and so on (AFAIR, there are 8x, 8px height frames). Looks like a rotation or a ring buffer with shifted indices.

On my side, with the 62680bb commit, I had another crash, but now it's been stable for 3 hours (no shifting no reboot). Obviously, this thing is still unable to print. But was stable for one full day. I

[2020-12-04 15:18] sjasonsmith commented on #18357
https://github.com/MarlinFirmware/Marlin/issues/16076

https://github.com/MarlinFirmware/Marlin/issues/19744

At the moment there probably is no current progress.

[2020-12-04 15:30] rueyloon commented on #18357
I was on this for the last week. I have a TMC2208 board and if I activate Lin_advance, the extruder will eventually stop, most of the time, within the first few moves of the print.

I did quite a few things and eventually it worked. You can try this out to see if it works for you. I did a few things, but I though it was the Z-hop that made the difference.

My firmware is on
1) junction deviation
2

[2020-12-04 15:33] sjasonsmith commented on #18357
It has to do with unlucky alignment of pulses which are not synchronized between linear advance and movement. The likelihood of hitting it is influenced by many factors, but as long as linear advance is enabled the problem remains possible.

[2020-12-04 15:39] rueyloon commented on #18357
I've included my config files and a presliced xyz-calibration cube file.
[somehowworking.zip](https://github.com/MarlinFirmware/Marlin/files/5643672/somehowworking.zip)

[2020-12-04 19:59] kyaron opened #20373 "[BUG] SKR 1.4 Turbo: E3 won't turn with SDSUPPORT + MOT-EXP"
Configurtion =
BTT SKR1.4 Turbo
BTT TMC2209
BTT MOT-EXP
Marlin 2.x bugfix.

I am using BTT MOT-EXP in order to have a 3rd extroder. (X, Y, Z, E1, E2, E3).

While configuring the Marlin bugfix 2.x i found out that everytime I enable the SDSUPPORT, the E3 is not turning.

Tried to cross everything HW releated - cables, drivers, motors, non helped. The only way to get it back to work is commenting it

[2020-12-04 20:43] rhapsodyv commented on #20373
For this board, the default is the SD on LCD. So, Marlin will try to communicate with the SD using the same EXP ports that you connect MOT-EXP.
So, a `SDCARD_CONNECTION == LCD` will never work with MOT-EXP.

Can you try again, but setting the SD to ONBOARD?

`#define SDCARD_CONNECTION ONBOARD`

[2020-12-04 20:47] rhapsodyv commented on #20370
I didn't understand your issue. `G28` makes the printer go home. And it will to home using the speed configured in `HOMING_FEEDRATE_Z` and `HOMING_FEEDRATE_XY`.

Your gcode is working exactly as expected, if I understood it right...

[2020-12-04 20:51] coolcheat commented on #20370
Well, if I try to extrude when the printer isn't homed it tries to extrude as expected.

However, if I try to extrude with relative positioning after homing, wherever the print head is at, the printer will first go to 0,0,0 and try to extrude only when reaching that position.

Sorry if this wasn't clear from my initial post.

[2020-12-04 20:54] rhapsodyv commented on #20370
I didn't understood yet. If you have `G28` first, you are in fact telling: printer, first goes to 0,0,0, then execute the next
command.

@ellensp can you help here? Maybe I'm missing something.

[2020-12-04 20:55] rhapsodyv commented on #20370
Or are you saying the printer is doing home two times?

[2020-12-04 21:02] coolcheat commented on #20370
It's not doing two moves, it just goes to x=0,y=0,z=0 without me asking it to.

When I do g28, I probe the center of the bed, so there's no reason for the printer to move to that location.

Thanks.

[2020-12-04 21:03] rhapsodyv commented on #20370
Ok, now I think I got you. I will test it.

[2020-12-04 21:04] coolcheat commented on #20370
Thank you! Sorry for not being clear about this in the first place.

[2020-12-04 21:12] kyaron commented on #20373
Tried, same issue

Thanks,

Yaron Kaufman

From: Victor Oliveira <notifications@github.com>
Sent: Friday, December 4, 2020 3:44 PM
To: MarlinFirmware/Marlin <Marlin@noreply.github.com>
Cc: kyaron <yaron@yaronk.com>; Author <author@noreply.github.com>
Subject: Re: [MarlinFirmware/Marlin] [BUG] 3rd extruser is not turning while SDSUPPORT is enabled (#20373)

For this board, the default is the SD on

[2020-12-04 21:18] rhapsodyv commented on #20373
Very weird, because with SD onboard, no PIN is shared between EXP ports and the SD.

[2020-12-04 22:03] rhapsodyv commented on #20082
Anyone having this issue can reach me at discord?

[2020-12-05 01:49] #19454 closed, assigned to nobody

[2020-12-05 03:04] RFBomb commented on #20317
OK, so after a long (electronically challenged) week I've finally had a chance to test out printing again.
I uploaded a file, and the pausing issue occurred. Octoprint told me update 1.5 was available, so after I cancelled the print, I disabled majority of my plugins, updated to 1.5, and restarted the pi.

That file was able to print 4 times without having the pausing issue occur. So I will slowly

[2020-12-05 06:01] GadgetAngel commented on #19028
@rhapsodyv I am still testing. What I see is that when I use the empty driver socket pins (i.e. E1 driver socket) to run a MAX31855 in software SPI mode I **can not use the free GPIO pins** when they are connected to an empty (not used) driver socket!!

Can some one explain this??

Take for example, if I have one extruder on my printer and I am using an SKR V1.4 Turbo board, then E1 driver socket

[2020-12-05 07:26] sjasonsmith commented on #19028
Please do not pollute this report about a DELAY issue with debugging for something different.

[2020-12-05 07:33] sjasonsmith commented on #19887
It looks like we want ahead and merged my workaround for this. A better NeoPixel solution may be possible, but has been lower priority than trying to eliminate other bugs.

You’ve previously stated the workaround satisfies your needs, so I will go ahead and close this. Please let me know if there are issues with it once you update to the latest code.

[2020-12-05 07:33] #19887 closed, assigned to sjasonsmith

[2020-12-05 08:37] o5 opened #20375 "[BUG] The temperature drops to the zero immediately before main print"
### Bug Description

The temperature of hot-end and bed drops to the zero after pre-print process finished. Happening randomly, with print over OctoPrint also directly from SD card.

### Configuration Files

[Configuration.h](https://github.com/diy4fun/marlin-configurations/blob/e8eb90/config/examples/Creality/Ender-3%20Pro/BigTreeTech%20SKR%20Mini%20E3%202.0/Configuration.h)
[Configuration_adv.h]

[2020-12-05 08:42] Minims commented on #20373
I have the same issue on SKR Pro with SD ONBOARD.
If I remove the microSD card from the SKR board, it works. But the SD Card can't be used.

[2020-12-05 08:47] ellensp commented on #20370
Himm, something odd does seem to be going on here..

Using provided configs but motherboard set to RAMP 1.4  and single Z

I don't have actual stepper drivers I have LEDs on ENABLE,STEP and DIECTION PINs
Doing this test both X and Y Step pins are dimply lit. On connecting a scope they are getting toggled, enable is active

all the action happens on the "G1 E5 F300", its like there are invisible X

[2020-12-05 09:27] jmz52 commented on #20268
I've used Fony and bdf2u8g converter, you can find details in https://marlinfw.org/docs/development/fonts.html

You can use glyphs from other fonts if these glyphs' heigth is same or smaller than height of the main font.
See how the extra symbols are loaded from ```uint8_t Helvetica18_symbols[71]``` array.

[2020-12-05 09:47] coolcheat commented on #20370
Actually, I originally thought it was because I was trying to extrude in relative mode, but it seems to happen whenever I try to do _any_ relative move after homing!

Same behavior is observed, the printer goes to 0,0,0 and after that refuses to move to any other point with relative positioning.

[2020-12-05 12:28] GiovanniBoato17 commented on #16076
I have a similar problem too.
I'm running marlin 2.0 on an SKR robin nano.
tmc 2208 in standalone for E and linear advance 1.5

The standard calibration test failed:
only the k=0 line printed then the print continued but the extruder was frozen.

Later I tested a simple cube:
I edited the gcode to change k values and it worked.
In the picture the big cube is the one where k changes: k=0 (bottom) k

[2020-12-05 13:37] Creat commented on #16076
First of all sorry for the late reply, got kinda busy and only now getting back to 3d printer tinkering.

Disabling stealthchop on E did solve the specific issue of extrusion stopping, but I've come to the conclusion that linear advance just makes the underlying issue worse, but it's not the only or root cause. The fact alone that setting k-factor to 0.0 and actually disabling LIN_ADVANCE and refl

[2020-12-05 14:07] nvumnov commented on #19602
Isn't anyone interested in this problem. The long-standing problem has not yet been solved. By the way, bugfix also has this problem.

[2020-12-05 15:08] GiovanniBoato17 commented on #16076
Stealthchop was already disabled.
Would replacing the tmc with the (not so)good old A4988 on the extruder work?
I have some spares around.

[2020-12-05 15:15] xcasxcursex commented on #19072
https://github.com/MarlinFirmware/Marlin/issues/18096

Will make this possible via configuration files (Just use the gcode from the link on the smith3d page above)

This link shows a method to do it otherwise: https://3dprinting.stackexchange.com/questions/7676/how-to-add-menu-options-to-the-marlin-firmware-lcd-menu

[2020-12-05 16:22] mattdog01 commented on #19274
@sjasonsmith Hello Jason.  So I think I have some relevant info related to my UI issue in the **mks_robin eviro**.  Should this go to a different bug report or leave it here?

My screen is completely **blank** if I uncomment #define TFT_COLOR_UI but it works just fine if I uncomment #define TFT_CLASSIC_UI.  Touchscreen works in both configs but without visual reference in the blank screen.
I did m

[2020-12-05 16:24] mattdog01 commented on #19274
oops I just reread your post to " I'd like to keep this issue specific to problems with mks_robin_stm32 , so you may need to report another issue if you can't figure out what is wrong with mks_robin."
sorry off to find a suitable location.

[2020-12-05 16:58] mattdog01 opened #20377 "[BUG] MKS Robin V1.1R TFT - blank screen with TFT_COLOR_UI enabled"
### Bug Description

Using the latest (downloaded 20201205 Marlin-bugfix-2.0.7.2) bugfix.
My screen is completely blank if I uncomment #define TFT_COLOR_UI but it works just fine if I uncomment #define TFT_CLASSIC_UI. Touchscreen works in both configs but without visual reference in the blank screen.
I did minimal changes to the config files to exclude other factors. Only changed physical things i

[2020-12-05 17:31] mattdog01 commented on #20377
What I can find and it all looks correct.  The drawings specify PG11 for the FSMC_LIGHT

pin.h
#elif MB(MKS_ROBIN)
  #include "stm32f1/pins_MKS_ROBIN.h"           // STM32F1                                env:mks_robin env:mks_robin_stm32

pins_MKS_ROBIN.h
  //#define LCD_RESET_PIN                      PF6
  #define LCD_BACKLIGHT_PIN                PG11
  #define FSMC_CS_PIN

[2020-12-05 22:13] feaver12 opened #20380 "Berd air pump pwm inverting"
### Description

i recently fitted a berd air pump to my skr gtr for part cooling and found that the part cooling pwm signal had to be inverted for the pump to run correctly because at 0% the pump would go full speed, and 100% would shut the pump off. the pump only has 1 polarity and has been wired correctly with a flyback diode and external mosfet. the way for me to get around this was to uncomme

[2020-12-05 22:18] sjasonsmith commented on #20105
@jbbandos have you had a chance to come back and try the latest bugfix code to see if you are still having issues.

[2020-12-05 22:24] sjasonsmith commented on #19839
I am not receiving any new responses on this, so I just don't see anything actionable to work on here.
The claim that there is no leveling occurring has been completely debunked in my testing. I will be closing this since I don't see any work to be done.

I fully believe there could be issues remaining, but we would need new issues reported with very specific instructions to reproduce them.

If yo

[2020-12-05 22:24] #19839 closed, assigned to sjasonsmith

[2020-12-05 22:33] sjasonsmith commented on #20375
This sounds most likely to be a wiring issue to me. It is possible for wires to be broken but only lose connection randomly.

One idea is for you to heat bed/extruder, then manually move your bed/carriage slowly, to see if your temperatures are lost at any point in the travel.

[2020-12-05 22:42] matbhe opened #20382 "[BUG] Unreliable G2/G3 circle detection"
### Bug Description
The following G2 - Test on the `bugfix-2.0.x` branch failed (only one circle instead of two):
**G28** X Y
G21
G90
G0 X-3.35 Y-1.02
G2 I3.35 J1.02 F600.00
G0 X-3.35 **Y206.98**
G2 I3.35 J1.02 F600.00
G0 X0 Y0
If Y of the second G0 command will be decreased to Y205.98 or less OR the G28 command is missing it works.. ?!

### Configuration Files
[Configuration.zip](https://github.c

[2020-12-06 00:05] Larvae90 commented on #18357
Hi,

I have the same issue. Just set up my SKR 1.4 Turbo with TMC2209 drivers, all BTT. Worked fine at first, but after a little while I got the error for my z axis, happened e.g. during G29. I tried disabling stealth chop and linear advance, but it didn't change. Right now the axis just won't move at all anymore, m122 always returns 'Z	0x00:00:00:00	 Bad response!' and 'Testing Z connection... Er

[2020-12-06 00:17] sjasonsmith commented on #18357
I am locking this, to avoid continuing to add to closed issues. It's not very important to see more "me toos" for this right now, since it is a well known issue. Any work toward fixing it should be done in an open issue.

[2020-12-06 00:17] sjasonsmith commented on #18357
Duplicate of #16076

[2020-12-06 00:20] sjasonsmith commented on #18434
This should work with Marlin today. It is the default for S6 V2.0 boards. V1.2 boards do not use this as the default since not all shipped boards have EEPROM's populated.

If you wish to use the I2C EEPROM on your V1.2 board, simple add the following line somewhere in your `Configuration.h` file:
`#define I2C_EEPROM`

[2020-12-06 00:20] #18434 closed, assigned to nobody

[2020-12-06 01:58] guytas commented on #20349
Ok, i was able to get the status message on the dwin screen. But this is an ugly patch. How can I reach someone to get some tips on how to do it?  Or is anyone planed to do it anytime soon?

[2020-12-06 02:00] morganchristiansson opened #20386 "[FR] Probe offset wizard: Heat nozzle, retract filament"
### Description

Make z probe wizard heat nozzle to configurable temperature. Measuring a cold nozzle will result in incorrect offset result.

Also retracting filament so it doesn't dribble out the nozzle while calibrating.

### Feature Workflow

1. When starting z probe offset wizard
2. Ask user for desired temperature
3. Display progress while waiting for nozzle
4. Retract filament so it doesn't

[2020-12-06 02:58] rhapsodyv commented on #20370
Can you send `M111 S32` first, then do your test, and send the serial output here?

[2020-12-06 03:56] WalnutFox commented on #20349
Do you have the code on your GitHub? I wanna see what you had to do, I have some knowledge of c++ but I'm not too good.

[2020-12-06 03:59] ellensp commented on #20382
Usage
`G2 [E<pos>] I<offset> J<offset> [P<rate>] R<radius> [X<pos>] [Y<pos>] [Z<pos>]`

I,J and R are required.

[2020-12-06 05:24] coolcheat commented on #20370
Sure thing!

[code]

[2020-12-06 05:33] coolcheat commented on #20370
Also, following a hunch I tried setting only 1 extruder and disabling SINGLENOZZLE but that didn't seem to help at all :|

[2020-12-06 05:38] rhapsodyv commented on #20370
I could not reproduce it yet, I will try to get a hardware closer to yours. But it would help a lot if you can try disabling some configs until you find the one that is causing this... 😞

[2020-12-06 05:46] coolcheat commented on #20370
I was thinking of doing the same actually.

Any idea which features I should focus on first?

[2020-12-06 05:54] rhapsodyv commented on #20370
can you enter on marlin discord? Maybe we can guide you to some tests.

[2020-12-06 06:04] tarsonis123 commented on #19899
Any progress. Have the same issue with UBL after getting massive annoyed from testing around I switched back to bilinear. There it seems to be more consistent but I say it seems. Just yesterday everything fine with the layer test and then after that the long print. Some spot got big wiggles so the nozzle was to low on that spot... It was off by around 0.08.
I can set the offset, home and evaluate

[2020-12-06 06:10] sjasonsmith commented on #20366
Can you enable `TMC_USE_SW_SPI` to see if it allows you to boot and properly communicate with your drivers?

[2020-12-06 06:45] firepower9966 commented on #20386
should have choice for Probe Offset Wizard same as Build Mesh Cold or Build Mesh PLA or Build Mesh ABS (The two default preset temperature defines)

Probe Offset Wizzard Cold
Probe Offset Wizzard PLA
Probe Offset Wizzard ABS

[2020-12-06 07:34] ellensp commented on #20370
i would start with no extra features. Just motherboard, thermistors, steps/mm, max feed rates and homing directions, maybe a lcd. Everything else default.

[2020-12-06 07:54] jbbandos commented on #20105
@sjasonsmith , I am using bugfix and have not seen this issue as long as I don't change HOMING_FEEDRATE_Z.

I am still trying to find the exact conditions that trigger what I thought was issue #15450, where my z-offset seems to be "interpreted differently" at times. What I am seeing with that is not the leveling grid changing, but instead the nozzle distance to the bed being different in different

[2020-12-06 08:16] coolcheat commented on #20370
Some updates!

Me and rhapsodyv were able to heavily debug this together.

It seems that the issue is stemming from _software endstops_ as can be evident from the M211 S0 command:

Send: M211 S0
Recv: echo:Soft endstops: OFF  Min:  X-18.00 Y-5.00 Z0.00   **Max:  X0.00 Y0.00 Z0.00**
Recv: ok

For some reason, the maximum range set by software endstops is 0,0,0 which is forcing the printer to move t

[2020-12-06 08:54] matbhe commented on #20382
@ellensp I think you are mixing the two forms (IJ-Form and R-Form).
According to the manual at https://marlinfw.org/docs/gcode/G002-G003.html the I,J and R should not be used at the same time: "**Mixing I or J with R will throw an error.**"...

[2020-12-06 09:04] hamster65 commented on #20386
+1.
I Proposed this as well because it is also relevant for my bltouch which has a very low z offset for mechnial reasons. Blobs on the nozzle cause the nozzle to make contact with the bed before the bltouch triggers.
I was told to just add heating to my start code before G28.

[2020-12-06 09:54] th0m4sek opened #20387 "[BUG] "One or more timer conflict detected" when trying to compile using mks_robin_nano35_stm32"
### Bug Description

[code]

same configuration working fine when compiling with mks_robin_nano35
using tmc2209 with uarts connected to one pin.

### Configuration Files

[Marlinconf.zip](https://github.com/MarlinFirmware/Marlin/files/5648554/Marlinconf.zip)

### Steps to Reproduce

compile attached files

**Expected behavior:**

posibility to compile with mks_robin_nano35

**Actual behavior:**

[2020-12-06 10:10] ellensp commented on #20370
Using the above information, after several false leads I have worked out the trigger.
Starting with default marlin Configs In Configuration_adv.h is
[code]
Give the expected result. eg `echo:Soft endstops: OFF  Min:  X0.00 Y0.00 Z0.00   Max:  X200.00 Y200.00 Z200.00`
If #define M115_GEOMETRY_REPORT is enabled
The result is random data, eg `echo:Soft endstops: OFF  Min:  X0.00 Y0.00 Z0.00   Max:  X

[2020-12-06 10:26] ellensp commented on #20370
Commenting out the following in M115.cpp, seem to work. but need to check for side effects etc. and its to late for me here. Perhaps  @rhapsodyv could test further
[code]

[2020-12-06 10:32] ellensp commented on #20382
You are correct. I am mistaken.

[2020-12-06 11:24] gbkwiatt opened #20388 "[BUG] UBL calculates wrong points that can't be reached"
I am running on latest bugfix 2.0.x

I am trying to figure out correct settings for UBL, and why I can't get all points probed.
So currently it doesn't matter if I have 100 points or 49 points, it finishes before it get's to all points.

My issue is, why Marlin allows points that can't be reached ( I am assuming that's why it can finish)

[code]

That's my current settings for UBL.
I believe, it w

[2020-12-06 11:29] ellensp commented on #20388
[code]

[2020-12-06 12:15] RP-projekts commented on #19917
@rhapsodyv Hello Victor, thanks to your help, I managed to use the board successfully. But I have one more question? Is there no way to find a solution where I don't have to plug in / unplug the USB after releasing the SD?

wish you and your family a nice Advent and thank you again for your good work

[2020-12-06 13:02] Minims commented on #20375
Does it work if you comment this ?  '
[code]

[2020-12-06 13:05] Minims commented on #20373
Additional information. I have test with TMC2209 UART and DRV8825 (which use only EXP2 wire). I have the issue in both case. Can it be detect_pin or spa mode for ONBOARD SD ?

[2020-12-06 14:57] yysh12 commented on #20382
This sounds like a support issue not a bug. You should go to the discord channel for support issues. If they cannot solve it then file a bug report.

[2020-12-06 15:25] guytas commented on #20349
No, not on my github.  I still have to learn more about github.
What i did is forced the Marlin to save the message in status_message by removing a couple of #if directives in marlinui.cpp.  Then in dwin.cpp, I go get the status_message and display it if it has changed.
I couldn’t find proper condition to get marlinui to store the status_message without involving tons of modifications.  I’ll keep

[2020-12-06 15:33] WalnutFox commented on #20349
That is interesting, if I'm not mistaken I saw an if statement that checks if you enable the creality dwin, by using that you can store it in a variable by adding an else if.

[2020-12-06 15:35] WalnutFox commented on #20349
What is the line you used to store it in a variable? Just put it here in a comment using markdown.

[2020-12-06 15:54] rhapsodyv commented on #20373
Not according with the schematics. SD detect pin is `P0_27`, but exp ports don't use this pin:
[code]

It's a mysterious. I ordered one mot-ext to test it.

[2020-12-06 16:44] ellensp commented on #20373
I'm thinking the SPI ports that would be used to talk to the SD card is being setup accidentally

[2020-12-06 16:53] rhapsodyv commented on #20373
But the current HW SPI code for LPC just init the SPI port if it's used.... Yet it would not explain why enabling/disabling the onboard sd would influence in anything, as it use different SPI port that the EXP slots... :-/ I can't see any shared PIN.

[2020-12-06 16:56] sjasonsmith commented on #20382
There have been changes to the arc code recently. We should go ahead and leave this open until we verify whether it is or is not a problem.

[2020-12-06 17:03] ellensp commented on #20373
Well, I also have one of these on order (for a while now)..  all going well it should arrive in about a week. then can try some stuff.

[2020-12-06 17:15] yysh12 commented on #20382
Ok, in that case, @matbhe try to run the 2.7.2 branch to see if the problem is still present.

[2020-12-06 19:28] matbhe commented on #20382
Ok. I've tested it with the version tagged with 2.0.7.2 (cannot find 2.7.2) - same result.
I've done some debugging and the problem seems to be located somewhere around the following statement in G2_G3.cpp:

 switch (((angular_travel < 0) << 1) | clockwise) {
      case 1: angular_travel -= RADIANS(360); break; // Positive but CW? Reverse direction.
      case 2: angular_travel += RADIANS(360); br

[2020-12-06 19:43] yysh12 commented on #20382
Yeah sorry meant 2.0.7.2. And that's interesting. The code you mentioned is not present in 2.0.7.2. It was just introduced into the bugfix. Can you tell me specifically where you added that debug statement (preferably just paste into a code block)?

[2020-12-06 19:54] matbhe commented on #20382
_char buff[10];
    snprintf (buff, sizeof(buff), "%f", angular_travel);
    SERIAL_ECHOPAIR("at1: ", buff);_

    switch (((angular_travel < 0) << 1) | clockwise) {
      case 1: angular_travel -= RADIANS(360); break; // Positive but CW? Reverse direction.
      case 2: angular_travel += RADIANS(360); break; // Negative but CCW? Reverse direction.
    }

Without Homing (G28) the output is 0.00000

[2020-12-06 20:01] yysh12 commented on #20382
Does your if statement look like this:
`if ((!angular_travel || NEAR_ZERO(angular_travel)) && NEAR(current_position[p_axis], cart[p_axis]) && NEAR(current_position[q_axis], cart[q_axis])) {`

or like this:

`if (!angular_travel || (NEAR_ZERO(angular_travel) && NEAR(current_position[p_axis], cart[p_axis]) && NEAR(current_position[q_axis], cart[q_axis]))) {`
?

[2020-12-06 20:11] matbhe commented on #20382
I'm on branch bugfix-2.0.x and it looks like the second one. Beside the G28 statement I'm also executing G92 X0 Y0 Z0 before running the code mentioned in the description...

[2020-12-06 20:22] yysh12 commented on #20382
Okay, this makes more sense now. So this was a problem with 2.0.7.2 as well and the code was revised to fix this. But looks like something is still falling through. I suspect it may be due to a difference in precision. So do this:
I need you to use that same debug statement multiple times at the following points marked with //PROBE

[code]

[2020-12-06 20:44] yysh12 commented on #20382
@sjasonsmith, pending the results from @matbhe:
Go ahead and mark this as a bug. I think I know what the problem probably is:
the near_zero macro tests for a value between -0.000001 and 0.000001, but the user is getting a result from atan2 that is -0.000003 which falls outside that range and is getting treated as a non-circle (the if statement is for circles and the else statement is for non-circl

[2020-12-06 20:52] matbhe commented on #20382
Here the results:

**Test with G28 and G92 X0 Y0 Z0 (not working):**
angular_travel: 0.000000
current_position[p_axis]: 46.650002
cart[p_axis]: 46.650002
current_position[q_axis]: 48.980000
cart[q_axis]: 48.980000

angular_travel: -0.000003
current_position[p_axis]: 46.650002
cart[p_axis]: 46.650002
current_position[q_axis]: 256.97998
cart[q_axis]: 256.97998

**Test without G28/G29 (working):**
an

[2020-12-06 20:54] Undercoverkarotte commented on #20366
I tried this with the newest Bugfix brach but unfortunately it doesnt change anything..

[2020-12-06 20:57] sjasonsmith commented on #20366
OK, that is unfortunate. I was able to reproduce a hang but it went away with `TMC_USE_SW_SPI`.

Can you comment out all your TMC5060 drivers, to test whether the hang involves communication with them? Perhaps I am encountering something entirely different.

[2020-12-06 21:02] yysh12 commented on #20382
Yep. This confirms it. The near_zero macro needs to be revised. The range is too small for this specific user and quite possibly others as well (once again not sure if this is something that can vary across platforms or processor architectures). @matbhe, please change the Near_zero macro to use a larger range (.i.e. maybe +- 0.000005) and see if the problem resolves.

[2020-12-06 21:15] matbhe commented on #20382
@yysh12 Yes... this solved the problem - Thank you! I will use this fix as temporary solution...

[2020-12-06 21:17] yysh12 commented on #20382
Great! Now we just need someone who actually knows what they are doing to make a decision on what the best range for all users should be! @sjasonsmith Please advise!

[2020-12-06 21:26] coolcheat commented on #20370
I have confirmed that the issue is resolved when applying #20389 !

Thank you everyone for your time and effort!!

[2020-12-06 21:26] #20370 closed, assigned to nobody

[2020-12-06 21:29] sjasonsmith commented on #20382
I don't have a recommendation. I don't have know how to use G2/G3 😁

[2020-12-06 22:01] rhapsodyv commented on #20388
The purpose of allowing travels beyond the bed area is because of endstops positions and a few other usages, like to change filament out of the bed area.
I don't think we should give a warn or error about that, because it will just give false-negatives for a lot of common setups.

[2020-12-06 22:01] #20388 closed, assigned to nobody

[2020-12-06 22:04] rhapsodyv commented on #20317
I'm closing this, as it's a Octo print plugin issue. If you find anything else, you can reopen this. Thanks!

[2020-12-06 22:04] #20317 closed, assigned to nobody

[2020-12-06 22:08] gbkwiatt commented on #20388
I understand that, but why even given that data UBL still calculate points that can't be reached?
So it works again the limits set, because UBL has it's point calculated, and when it wasn't to go to it, Maril limits says no and UBL ends.
Shouldn't UBL have points always inside allowed travels?

[2020-12-06 22:13] sjasonsmith commented on #20388
If you mean it calculates points the _probe_ cannot reach, this is by design. UBL covers the entire bed, so some points have to be filled in automatically (with `G29 P3`, I think?) or probed manually.

If you reduce the mesh size to only include the points your probe can reach, then you will not have bed leveling across your entire printable area.

[2020-12-06 22:13] rhapsodyv commented on #20388
I never saw it going where it shouldn't. But if if think that found a bug, please follow the issue template as requested.

[2020-12-06 22:20] rhapsodyv commented on #20366
@Undercoverkarotte if you can, try test disabling `SD_SUPPORT`.

[2020-12-06 22:38] ebraiman commented on #20173
I'm seeing this error as well on SKR 1.4 with BTT TMC2208 V3.0.

Here are my configuration files.

This was downloaded from https://marlinfw.org/meta/download/

Version 2.0.7.2

[Configuration files.zip](https://github.com/MarlinFirmware/Marlin/files/5649666/Configuration.files.zip)

[2020-12-06 22:38] ebraiman commented on #20173
SENT: G28 X0
SENT: M114
SENT: M105
RECV: echo:busy: processing
RECV: echo:busy: processing
RECV: echo:busy: processing
RECV: Error:Printer halted. kill() called!
[ERROR] Error:Printer halted. kill() called!

[2020-12-06 23:06] ebraiman opened #20390 "SKR 1.4 with TMC2208 halts after moving axes back and forth with homing"
<!--

Steps.

Load configuration files below.
Power up printer.
Connect via Pronterface.
Move x-axis 200 mm
Move y-axis 200 mm
Move z-axis 10 mm
Home all axes.
repeat until Error occurs in Pronterface

Details:
Marlin 2.0.7.2 (Download from Marlin website yesterday)
Cura version 4.8.0 (For Slic3r)
Pronterface

Hardware:
TMC2208 v3.0 BTT
BTT SKR 1.4

Output Pronterface:
Driver registers:
		X	0xC0:0

[2020-12-06 23:10] yodor opened #20391 "[FR] TMC_HOME_PHASE adjustable values from the menu"
### Description

Hello, thanks for making the 'TMC Homing stepper phase' feature available.
I started to use it recently but from time to time it triggers the warning like "Selected home phase too close to endstop trigger phase. Pick a different phase for". And this means edit values in source and re-upload the firmware again.
As there is already a submenu for TMC Drivers, (Configuration->Advanced

[2020-12-06 23:10] ebraiman commented on #20390
When homing after moving x,y,z axes, Printer halts.

Hardware:
BTT TMC2208 v3.0
BTT SKR 1.4

Software:
Marlin 2.0.7.2
Pronterface
Cura 4.8 (Slic3r)

Expected result:
No homing issues after moving axes.

Actual result:

Driver registers:
		X	0xC0:0B:00:00
		Y	0xC0:0B:00:00
		Z	0xC0:0B:00:00
		E	0xC0:0B:00:00
		E1	0xC0:0B:00:00
Testing X connection... OK
Testing Y connection... OK
Testing Z connecti

[2020-12-06 23:22] ebraiman commented on #20390
Also observed a change in distance for length of axes.  Stepping seemed to change from 230 as a distance of 230, to about 115 in distance.

[2020-12-06 23:59] qwewer0 commented on #20391
While it is a good idea to have on the fly (gcode and/or menu item) way to modify the TMC Homing stepper phase values, but I'm not sure if the increased (I assume) firmware size would worth it, as for 2-3 axes it isn't too hard to get the right phase with a few firmware flashes.

[2020-12-07 00:19] Abysslabs opened #20392 "compile on Platformio for RADDS"
I can compile on Platformio any marlin version to any board except for Arduino DUE+RADDS.
when I change on platformio.ini the "default_envs = DUE" I get the follow errors:

Processing DUE (platform: atmelsam; framework: arduino; board: due)
---------------------------------------------------------------------------------------------------------------------------------------------------------------

[2020-12-07 01:09] guytas commented on #20349
Yes but this is not right to do it that way.  But anyhow... here it is...

In marlinui.cpp line 41  (Sorry not sure what you mean by using markdown...

`
//#if HAS_DISPLAY
  #include "../module/printcounter.h"
  #include "../MarlinCore.h"
  #include "../gcode/queue.h"
  #include "fontutils.h"
  #include "../sd/cardreader.h"
  #if EITHER(EXTENSIBLE_UI, DWIN_CREALITY_LCD)
    #define START_OF_UTF8_C

[2020-12-07 01:12] jasonfox7 opened #20394 "[BUG] (btt mot exp & lcd setup is possibly wrong)"
### Bug Description

It would appear the code of Marlin is set up to not allow the use of a wired lcd and the big tree tech MOT exp board at the same time. The btt mot exp board can be used in step/dir mode with a single cable to exp2, and a single cable lcd12864 can be connected to exp1. Is there an underlying communications bus conflict that necessitates that the two be set as mutually exclusive

[2020-12-07 01:15] WalnutFox commented on #20349
Instead of removing the line 1615 section what if we wrapped it in a `#if has_display`? Seems like the viable option that way we don't have to remove the code and people who have the display will still have access to it?

[2020-12-07 01:30] smartkidag opened #20395 "[region RAM overflowed with stack] when trying to compile config file for BIGTREETECH SKR1.4 for ender 3"
### Bug Description

I'm trying to compile firmware for my ender 3, I've added a second extruder. I had Marlin 2.x.x last week and have it working with single extruder. Only change I've made is added a second extruder and a corresponding driver and I get the error "Region RAM overflowed with stack"

### Configuration Files

It works fine without having a second extruder or a second stepper driver.

[2020-12-07 02:17] guytas commented on #20349
One of this change is suitable to be release. This is a dirty patch. The real mod can’t be done that way.  I need to talk to one of the contributors to see what would be the way to go.

[2020-12-07 02:20] ellensp commented on #20394
Its not a combination I thought of when adding btt mot exp to marlin.

[2020-12-07 02:29] p3p commented on #20395
The config has 3 displays enabled and does not compile, so I'm not sure which one you intended to use.

You have ran out of RAM .. so it overflowed, the config has expensive options enabled and default values increased arbitrarily, the main culprit that is using over 6K of RAM is `#define BUFSIZE 64` this has been increased from the default value of `4`, you shouldn't need to change this value.

[2020-12-07 02:30] jasonfox7 commented on #20394
Thank you for the prompt reply!

Okay. So it’s theoretically possible then. I wasn’t sure how communication between exp1 and dxp2 and the mcu was handled but I assumed it was just a set of gpio pins routed to headers.

So it’s possible then I take it? I just need to adjust the logic to allow for said combination on my end.

[2020-12-07 02:33] ellensp commented on #20394
Its easy to check for a cr10 display, its rather more difficult to check that new steppers are in step/dir mode.
could be setup as e2, e3, e4 X2, Y2, Z2, Z3 or Z4 etc....

[2020-12-07 02:39] ebraiman commented on #20173
This might be related to a tool change in Cura 4.8

[2020-12-07 02:43] sjasonsmith commented on #20390
It sounds like you have the incorrect microstepping programmed into your drivers.

First, make sure you are not powering over usb before applying full board power. This will prevent drivers from initializing properly.

Second, enable TMC_DEBUG, and use M122 to observe the number of micro steps programmed into each driver.

[2020-12-07 02:44] sjasonsmith commented on #20390
When you try to home does it move toward your endstops, but halt before reaching the endstop?

[2020-12-07 02:48] ellensp commented on #20395
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-12-07 02:48] #20395 closed, assigned to nobody

[2020-12-07 03:08] jasonfox7 commented on #20394
Alright. That makes sense, easy enough to retain the logic and add an exclusion is cr10 is defined.

On a side note, I read in the firmware Marlin auto assigns the exp mot steppers, is it possible to specify them manually? I’m going to use the board for z2, z3

[2020-12-07 03:34] ellensp commented on #20394
The default it to define the steppers as E2,E3 and E4
Then Marlin will re allocate them where needed.
Eg if you have extruders set to 2, that means marlin can used E2,E3 and E4 for anything else you defined.
ie if you have number of z 3  it will automatically reallocate E2 to Z2 and E3 to Z3  etc

Or you can edit he pins files

[2020-12-07 03:39] jasonfox7 commented on #20394
Intuitive solution, thank you for the explanation.

Will a futu

[2020-12-07 03:51] ebraiman commented on #20390
Before endstop.
I moved the USB jumper just now.
Also I think there is a command issue in gcode for Cura 4.8 for tool change.  It's a single printhead and I might have configured Cura incorrectly.
I check tomorrow the changes and try in Slic3r.

[2020-12-07 04:17] ellensp commented on #20394
It will take some time...

[2020-12-07 05:09] ellensp commented on #20394
E3_ENABLE_PIN                    EXPA1_03_PIN   ie is normally on exp1
E4_ENABLE_PIN                    EXPA1_04_PIN   ie is normally on exp1
You have to jumper the M1EN to M2EN and M3EN and change the above defines.

[2020-12-07 05:09] jasonfox7 commented on #20394
Should I find time to make the relevant changes I’ll post them here. Much appreciated for the insight; where it’s not my software and I’m relatively unfamiliar with the underlying architecture used in 3d printers I wasn’t sure if it was in the realm of possibilities.

Thank you for the clarifications, and your timeliness.

[2020-12-07 05:26] ellensp commented on #20394
Try this
[pins_BTT_SKR_common.zip](https://github.com/MarlinFirmware/Marlin/files/5650593/pins_BTT_SKR_common.zip)

[2020-12-07 05:56] ellensp commented on #20394
I have created a PR to support this mode.
Instead of checking everything I went the other way. If the CR10 is enabled with a BTT_EXP_MOT, Marlin sets up the BTT EXP MOT in EXP2 only mode.

[2020-12-07 09:03] yodor commented on #20391
Well, for deltas are for sure 3 :). But also some of the newer 32-bit boards need sd-card to update the fw. Also for new builders / new machines this might need more than few times.
On the other side 2.0 branch already can not fit into some of the 8 bit boards so I'm not sure how much size of fw is issue anymore. I would not mind to assist in preping a pull-request, just thought some more experien

[2020-12-07 09:27] rubienr opened #20397 "[BUG] `TMCMarlin::set_pwm_thrs()` sets `0` if driver is not powered by VMOT"
### Bug Description

When TMC2130 stepper driver is not powered by VMOT (i.e. PSU_CONTROL feature is enabled and PSU is off),
`TMCMarlin::set_pwm_thrs(const uint32_t)` will call ` TMC::TPWMTHRS(0)` because `this->microsteps()` returns the readout of the unpowered driver's internal processor, not a shadowed register ([see tmc_util.h:116](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/Marlin/sr

[2020-12-07 09:49] o5 commented on #20375
@sjasonsmith Thanks for tip! I changed to V6 hotend (but two months ago), so it could be. But what wires you mean? Termistors for hotend and bed? But it's very weird because it's happened (if happened) always after pre-print process finished.

@Minims Thanks for tip! There [should be always](https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/feature/hotend_idle.cpp#L77) message

[2020-12-07 10:45] plavielle opened #20398 "anet a8 lcd2004 (analog) pushbutton doesn work (marlin 2.0)"
Hi.
I experience some problem with latest marlin 2 nightly build. I've no problem with last 1.1.9 nightly build.

Printer : anet a8 full stock
Board : Anet3d 1.5
Programmer : Vscode + Pio (latest)
Boot : Optiboot

When i compile 1.1.9 firmware and upload on board i can use the 5 buttons on the lcd board.
When i compile 2.0.x firmware and upload on board i just can use the center button on the lcd

[2020-12-07 12:12] #19296 closed, assigned to nobody

[2020-12-07 12:45] italocjs opened #20399 "[FR] Filament runout / Advanced_Pause_Feature without LCD"
Same as this FR #16848

I'm using repetier server with a screen, and no onboard screen,.  when i try to setup the filament sensor it requires advanced pause, which in turn requires a LCD which i dont have connected to the board.

Any chance to make this independent?

Error:
Marlin\src\HAL\AVR\../../inc/SanityCheck.h:839:6: error: #error "ADVANCED_PAUSE_FEATURE requires a supported LCD controller (

[2020-12-07 12:58] qwewer0 commented on #19296
@thinkyhead Thank you for the AutoStart refractory!

On the latest bugfix-2.0.x (with https://github.com/MarlinFirmware/Marlin/pull/20071) [Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5652546/Configuration.zip)

Here is what is happens:

- **auto0.g**: Printer starts -> (LCD shows AUTO0.G) auto0.g runs -> Steppers stays engaged -> **Printer is stuck in printing mode** -> Afte

[2020-12-07 13:49] Jedrusia commented on #20187
If I disconnect signal cable between motherboard SKR MINI E3 V2 and VTT UPS V1 24V, then printing work normally.
What is a problem ?

[2020-12-07 14:21] jasonfox7 commented on #20394
Rock on. Thanks for your help!

[2020-12-07 14:21] #20394 closed, assigned to nobody

[2020-12-07 14:54] WalnutFox commented on #20349
Obviously the real mod cannot modify the code to the point it requires other people to change the config. Go a lack of words, we need a zero impact patch.

[2020-12-07 14:56] WalnutFox commented on #20349
@thinkyhead might be able to help with this as I've seen he works on the creality printers alot. Even if he can't some advice on the idea would be great help I'm sure

[2020-12-07 15:59] holocronology opened #20400 "[FR] Sensorless homing to determine Z-Offset"
### Description

If the device/board supports Sensorless Homing, utilize this feature in conjunction with a Z-Probe to determine the Z-Offset.

### Feature Workflow

1. Install and configure Z-Proble (BLTouch, etc...)
2. Activate Sensorless Homing on Z Axis--if supported by device/board
3. Auto Z-Offset Wizard that will use positional date from Z-Probe and Sensorless Homing on Z-Axist to calculate

[2020-12-07 16:22] jojolll commented on #19944
Hello!
I currently have a very very similar concern without using octoprint. On the other hand, I have ESP3D connected to the serial port.

In my opinion, the problem is not due to the fact that I have a XY homing after the cancellation, everything is fine until a movement is requested by the screen. In my case it's the Y axis, I set it to 230 and it ejects the filament through the extruder. I did

[2020-12-07 16:41] sjasonsmith commented on #20400
Sensorless homing already works poorly on the Z axis. If it cannot be used reliably to replace a probe, then it also cannot be used reliably to determine your Z offset.

[2020-12-07 16:41] #20400 closed, assigned to nobody

[2020-12-07 16:50] jojolll commented on #19040
I encountered the same problem on my Ender3V2
It will happen no matter which external reader is used or which version of marlin: the microSD port of the Creality 4.2.2 card only updates the content when the `SD_DETECT_PIN` is activated -> so you have to physically unplug the microSD extension and plug it back in to update the content display, or restart the printer which is still quite annoying.

[2020-12-07 17:28] guytas commented on #20349
I was under the impression that if we define

#define GLOBAL_STATUS_MESSAGE

that it would be all. But no, it fails because START_OF_UTF8_CHAR isn't defined.  This is defined if HAS_DISPLAY is on.  Then it goes on and on requiring more and more.  I'm afraid to change too much by defining all of them.  Not sure why START_OF_UTF8_CHAR is under a condition at all.

[2020-12-07 17:29] ManuelMcLure commented on #20397
I've been discussing this on Discord with @rubienr and agree that this is a bug, This was something that slipped through the cracks when I looked at #19364 - the hybrid threshold is stored in a shadow register in TMCStepper, but the micro steps are not and those are used to initialize the shadow register hence the bug.

[2020-12-07 17:46] rhapsodyv commented on #20375
@o5 I added "needs more data" because we are waiting you to check about wiring, as Jason asked. It's just for our internal control, that we asked to user to do something.

[2020-12-07 17:52] sjasonsmith commented on #20375
After seeing @Minims comment this probably is just a hotend timeout during G29. Hotend timeout is probably based on extruder movement, not the XYZ movement used by G29.

[2020-12-07 18:05] WalnutFox commented on #20349
another person I noticed that is working on E3V2 and sometimes on the DWIN is @sjasonsmith over the last few days he has done work on fixing DWIN menus. he should also be able to help with this.

[2020-12-07 18:09] WalnutFox commented on #20349
the reason that it appears to be separate is because it is also defined in 'lcdprint.h' which doesn't seem to be used by the DWIN class

[2020-12-07 18:36] Minims commented on #15035
Is it the same thing as Resonance Compensation ?  :  https://www.klipper3d.org/Resonance_Compensation.html

[2020-12-07 19:04] ManuelMcLure commented on #20397
The micro step setting is indirectly shadowed on the TMCStepper side as part of `CHOPCONF` for re-initializing the drivers, but reading it always goes to the driver, which is the design pattern for TMCStepper. On the Marlin side we don't keep a shadow version of the micro step setting, probably because it can only be set in `Configuration_adv.h` (no gcode or EEPROM storage) so it was not considere

[2020-12-07 19:44] thisiskeithb commented on #20375
For long-running G29 (especially UBL), increasing default `HOTEND_IDLE_TIMEOUT` will help.

Would it make sense for long-running bed leveling operations to reset the timer in `HOTEND_IDLE_TIMEOUT`?

[2020-12-07 20:05] 3dseawa commented on #19296
Thank you.

On Mon, Dec 7, 2020, 4:59 AM qwewer0 <notifications@github.com> wrote:

[2020-12-07 20:24] Minims commented on #20375
Something like `RESET_ HOTEND_IDLE_TIMEOUT_AFTER_G29` seems to be a good ideal. In particular for UBL or ABL 7x7 with BLTOUCH for example.

[2020-12-07 20:54] rhapsodyv commented on #19405
The fix was merged! Thanks

[2020-12-07 20:54] #19405 closed, assigned to ellensp

[2020-12-07 21:14] phearl3ss1 opened #20402 "[BUG] Simple the Latest release Platform 2.0.7.2 2.0.x.zip Config H states For a SCARA printer start with the configuration files in // config/examples/SCARA and customize for your machine. Yet the config folder in the downloaded zip file only contains a readme file. But the config folder on gethub has the example folder"
### Bug Description

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

If you've made any other modifications describe them in detail here.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

#### Additional Information

* Provide pictures or links to videos that

[2020-12-07 22:04] Grogyan commented on #20359
The MAX6675 is considered obsolete, the MAX31855 replaces it, which I have been using for years without issue

[2020-12-07 22:11] phearl3ss1 commented on #20402
However when compiling with config and adv. config  EXAMPLES_DIR "SCARA/MP_SCARA" replaced
 there so many compiling errors I wouldn't know where to begin and I doubt the example has been updated to Marlin 2.0

[2020-12-07 22:22] thisiskeithb commented on #20402
Can you shorten the title and put that in the body of the issue template? Please follow the issue template next time.

I've created PR https://github.com/MarlinFirmware/Marlin/pull/20403 to adress the inline documentation.

there so many compiling errors I wouldn't know where to begin and I doubt the example has been updated to Marlin 2.0

I just tried building both default SCARA configs from the

[2020-12-07 22:23] ellensp commented on #20398
[code]

[2020-12-07 22:23] #20398 closed, assigned to nobody

[2020-12-07 22:27] rubienr commented on #20397
Tested with bugfix-2.0.x as of [9b82a5c](https://github.com/rubienr/MarlinFirmware/tree/9b82a5cd767fc0fa864174f9333b8423afd7f3f4) and observed the same behaviour as described above.

### Configuration Files

[Configuration.h](https://github.com/rubienr/MarlinFirmware/blob/9b82a5cd767fc0fa864174f9333b8423afd7f3f4/private/config/minimal-config/Configuration.h)
[Configuration_adv.h](https://github.co

[2020-12-07 22:30] ej0rge commented on #18132
Followup to my previous comments.

While digging around for clues with google i came across a post on the repetier forums about the same issue, where one of the repetier devs stated that it's usually a problem of a "wrong size capacitor" or something on clone Arduino DUE boards that doesn't seem to occur on the genuino made-in-italy boards. Something about the clone boards booting too quickly afte

[2020-12-07 22:30] rhapsodyv commented on #20271
I just tested it in my Nano V2 and my Nano V1.2 and it worked 100%. I used a 512mb card. Can you test bugfix again?

I will try ask MKS what is the diference between nano v1.1 and nano v1.2.

What is the name of the firmware file you are uploading? If you are using Robin_nano35.bin, try updating Robin_nano.bin (just once, because it could reset some offset settings).

[2020-12-07 22:32] rhapsodyv commented on #19718
@amp-man any news here?

[2020-12-07 22:35] phearl3ss1 commented on #20402
I will try it.   That is different from the one on line that I assumed should have been in the zip file.
  The on line files that did not compile are in this folder Configurations/config/examples/SCARA/   not "import-2.0x"
  Thankyou

[2020-12-07 22:37] thisiskeithb commented on #20402
You need to match the version of Marlin you're compiling with the version of configs. So if you were trying the default (which is the import-2.0.x branch) with an older version of Marlin, it will likely fail to compile.

[2020-12-07 22:49] rhapsodyv commented on #20377
The pins file were outdated, after some TFT changes.

Fixed here: #20404 . Can you test it?

[2020-12-07 23:05] ETE-Design commented on #20399
Have you tryed to enable EMERGENCY_PARSER as it suggest when you compile?

[2020-12-07 23:07] maxlinux2000 commented on #19602
still occurs on marlin 2.0.7.2

[2020-12-07 23:08] gbkwiatt commented on #20388
I think I actually just clicked and realised how it works, and it all makes sense now... Sorry for messing around.

[2020-12-07 23:14] cguerrero1205 commented on #19602
The bugfix version should not present the problem, since they added the solution in one of their interactions.

[2020-12-07 23:15] cguerrero1205 commented on #19602
Try with bugfix version

[2020-12-07 23:44] ManuelMcLure commented on #20397
I'm pretty sure this is not specific to the 2130 drivers and will occur with all TMC drivers.

[2020-12-07 23:57] monkeygopro opened #20405 "stk500_recv(): programmer is not responding"
Hello everybody,

I got this error from my Arduino Programm.

Arduino: 1.8.13 (Mac OS X), Board: "Sanguino, ATmega1284 or ATmega1284P (16 MHz)"

Der Sketch verwendet 125492 Bytes (96%) des Programmspeicherplatzes. Das Maximum sind 130048 Bytes.
Globale Variablen verwenden 4556 Bytes (27%) des dynamischen Speichers, 11828 Bytes für lokale Variablen verbleiben. Das Maximum sind 16384 Bytes.
/private

[2020-12-07 23:59] ellensp commented on #20405
Wrong boot loader selected, or no bootloader on the controller board. Probably the latter.

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best res

[2020-12-07 23:59] #20405 closed, assigned to nobody

[2020-12-08 00:18] alexandremstf opened #20406 "[BUG] Homing bump doesn't work if both Z_MIN and Z_MAX enabled"
### Bug Description

Re-bump don't work on z axis with sensorless. On x and y axis works properly.

**Using M111 S237:**

[code]

**"Home 1 Fast" - work properly
"Move Away" - don't work properly
"Home 2 Slow" - work properly**

For some reason **Move Away** is being ignored.

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5655970/Marlin.zip)

I'm using latest

[2020-12-08 02:53] mks-viva commented on #20271
MKS Robin Nano V1.2（Modified based on V1.1）
Add 1 normally open FAN
Increase 3D TOUCH interface, use PA8
WIFI control pin adjusted to PC13
TF card, USB port protruding from the edge of the board 2mm, USB power supply is optional

[2020-12-08 04:06] altiber commented on #20271
Ok, i'l try less volume sd card, but it will take few days to get it.  My fw file was robin_nano35.bin.

[2020-12-08 04:14] GadgetAngel commented on #20359
@rhapsodyv tomorrow I will open another bug report, the MAX31855 works in Hardware SPI mode on LPC176x boards but not in software SPI mode.  The LPC176x boards reads zero every once in a while which causes the printer to hit MIN TEMP error.  So you better purchase yourself a MAX31855 board also.  I have some capture data files that you will be able to look at from my Saleae 8 channel logic Analyze

[2020-12-08 04:58] github051 commented on #19602
I tried with the latest bugfix version and the issue is the same.

[2020-12-08 06:01] atharvbadkas commented on #20187
I tried mailing @bigtreetech  back and forth, In 2-3 weeks, I have 64 mails in conversation with @bigtreetech .
But even they don't know what they are doing and eventually stopped responding to my mails.
In their product page its clearly mentioned that it is supported and still lots of users face problems.
Total Waste of TIME, MONEY and Other resources thanks to @bigtreetech .
I should have gone w

[2020-12-08 06:06] looxonline commented on #19050
Bump

[2020-12-08 07:34] MKS-Sean commented on #20271
![image](https://user-images.githubusercontent.com/56996910/101453786-d81c9300-396a-11eb-825d-61a7d34fa259.png)
Use the latest marlin-bugfix version, you can update to the assets file

[2020-12-08 07:34] borsegbr commented on #19602
Describe your issue and post configs file

Il mar 8 dic 2020, 05:58 github051 <notifications@github.com> ha scritto:

[2020-12-08 08:57] qwewer0 commented on #19296
@3dseawa Were you able to try it?

[2020-12-08 09:28] sjasonsmith commented on #20402
It is probably safe to assume you are going to run into issues configuring a Scara printer. Please be prepared to investigate issues and possibly contribute fixes in the process.

[2020-12-08 10:03] o5 commented on #20375
@Minims Your tip makes sense to me, when I looked to my `HOTEND_IDLE_TIMEOUT` (which is 5min) because I recently increased bed temperature and it really takes more time to heat-up so pre-print process is more time consuming now.

1. I don't understand why I don't see the info message about timeout on screen when this problems happens. I know very well this message from manual heat-up but in this c

[2020-12-08 10:33] Portzal commented on #20391
I have been meaning to ask a question on this option. I have it enabled on 2 printers, (cartesian and corexy) and I have noticed on occasion I get the warning, but not every home. I have adjusted the numbers, but still get intermittent warnings.

[2020-12-08 10:44] qwewer0 commented on #20391
@Portzal I think that could mean a few things, like unreliable endstop switches, endstop noise, not properly tightened belts, maybe skipped steps, or more.

[2020-12-08 12:13] th0m4sek commented on #20387
Solution from [PIO env for MKS Nano boards in STM32 #19905] (https://github.com/MarlinFirmware/Marlin/pull/19905)
`#if defined(ARDUINO_ARCH_STM32) && !defined(STM32GENERIC)
  // Variant default conflicts with Servo timer
  #define TEMP_TIMER 5
#endif`
worked for my MKS Robin Nano V1.2
Maybe this should be merged?

[2020-12-08 12:21] ShadowOfTheDamn commented on #18132
I dont understand when I did not changed my HW what this could do with my issue. You mean the hardware become faulty?
I will change my board and tell you the results.

[2020-12-08 12:53] rhapsodyv commented on #20392
Looks like it's a problem in your platformio installation. Did you try reinstall or update PIO?

[2020-12-08 13:31] yet-another-average-joe commented on #14431
Definitely solved the problem using SPI. Many OLEDs are SPI/I²C ; better use them as SPI : MKS_12864OLED_SSD1306 in Configuration.h, some editing in pins_BTT_SKR_V1_4.h, marlinui_DOGM.h and marlinui_DOGM.cpp ; done !

[2020-12-08 13:42] KingTomaHawk commented on #14431
Thanks that sounds great.
Can you tell me , what exactly you changed in these files? I want to test it on my printer.

[2020-12-08 14:03] yet-another-average-joe commented on #14431
Not sure it is the right place for explanations about wiring a SPI OLED ; this thread is a bug report about I²C, and it isn't really a solution !
I will shoot a short video and add the link to this post and RepRap forum when it will be done (have to verify some details and shoot one or two pics). Should be more explanative because of compilation errors that have to be fixed (MKS_12864OLED_SSD1306

[2020-12-08 15:43] 3dseawa commented on #19296
Not yet. My board died and replacement is on its way.

On Tue, Dec 8, 2020, 12:57 AM qwewer0 <notifications@github.com> wrote:

[2020-12-08 16:25] ChlorideCull commented on #20365
Fundamentally, I think halting everything on errors can cause more safety issues than they solve, compared to killing everything and just keeping the serial processing open so Marlin can respond with the error on any command until actually reset.

For example, any situation where the device connected to the serial port loses state, you lose the actual error message - on boards which reset on DTR,

[2020-12-08 16:28] alexandremstf commented on #20406
Reporting that is not a bug, i made a mistake and defined USE_ZMIN_PLUG and USE_ZMAX_PLUG simultaneously, because of this the re-bump didn't work on Z axis.

[2020-12-08 17:25] thisiskeithb commented on #20365
Preventing a possible fire is more important than keeping an error message on the screen/over serial which is why Marlin completely halts.

[2020-12-08 17:35] rhapsodyv commented on #20365
My hotend melted and I got a circuit break (because the isolation of the wires melted too), when I ignored THERMAL_PROTECTION.... It was a problem in my temp sensor (loose), but I was trying to force Marlin to work.

So, I learned that safety features should not be ignored.

[2020-12-08 17:42] AndKe commented on #20365
Switching off heaters may prevent fire.
You do not prevent fire by taking down communications - you DO prevent user from seeing overtemperature or the G-code server from being able to react.

IF we were actually interested in safety:
If the FET that controls some heating burns up and shorts internally (or relay for 220v relay sticks) - Marlin can't stop the heating from continuing.
The OctoPrint *

[2020-12-08 17:55] rhapsodyv commented on #20365
The point is: every time marlin has halted for me, I needed do something manually on the machine. At least for me.

Sarcasm?! Really??

[2020-12-08 17:55] thisiskeithb commented on #20365
Halting doesn't just shut down communications. It kills *everything* and that's why it requires user intervention.

Your machine did something outside the norm and needs you to investigate.

I don't see how it would ever be more safe to let a printer continue to run for the sake of a user message instead of completely shutting down everything would make sense.

[2020-12-08 18:05] mattdog01 commented on #20377
@rhapsodyv  Hello Victor thank you for your work.  I downloaded a fresh copy of bugfix an 1hr ago and built the bin file and it is the same issue except I have also lost touch screen function.  The display is visible in classic mode but not in colour UI mode.  Touch screen doesn't work in either mode.
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5660922/Configuration.zip)

[2020-12-08 18:09] mattdog01 commented on #20377
oh i forgot to mention I'm using the mks_robin build environment not the mks_robin_stm32 environment.  Is that how you wanted it tested?

[2020-12-08 18:13] rhapsodyv commented on #20377
My fix was not merged on bugfix yet. I'm waiting you test it, before merging in bugfix

[2020-12-08 18:28] AndKe commented on #20365
Now explain how it would be less safe to switch off steppers, heaters,  keep communication ,reporting temperatures, and only accept M999

[2020-12-08 18:32] rhapsodyv commented on #20365
Simple: M999 will allow you reset the printer and keep trying to print, over and over, instead of go to investigate what is causing the halt.

[2020-12-08 18:38] rhapsodyv commented on #20387
@sjasonsmith we can merge it? or it's just a temporary hack?

[2020-12-08 18:41] sjasonsmith commented on #20406
Re-opening. You had a slight misconfig, but I don't think USE_ZMAX_PLUG should not interfere with homing to -Z.

Issues involving this have appeared several times. I would like to see if we can find a way to improve the behavior, or inform users of the problem.

[2020-12-08 18:42] AndKe commented on #20365
So... it would M999, restart, set temperatures (which do not enable heaters if already too high..)
None of this is automatically done by a gcode job.
however, if "runaway" is trigger because if failed to heat fromzen printer fast enough... one could, and should, just restart.
Or : do you seriously suggest that a user should have extremely liberal runaway settings to detect failure to heat enough .

[2020-12-08 18:43] sjasonsmith commented on #20387
I would like to try to find a more flexible way to solve it. As more boards move to the STM32 HAL this will continue to be a problem, and it would be nice to not have to manually define the timer for each board. Not every board should use the same timers for this, due to other conflicts.

[2020-12-08 18:44] rhapsodyv commented on #20375
Hi @o5. So `HOTEND_IDLE_TIMEOUT` was the reason for the temp issue?

When it happens in the middle of another ongoing process, one message will overwrite the other... :-/ Currently, the only way to keep a message permanent on the screen is if we halt it entirely.

Who will open a FR for this two ideas? `RESET_HOTEND_IDLE_TIMEOUT_AFTER_G29` and `HOTEND_IDLE_TIMEOUT "stop all"`

[2020-12-08 18:54] rhapsodyv commented on #20365
Lets compare the views, I think it should explain why isn't safer to let user restart the printer remotely when it halted.

Marlin now:

1) Marlin can't know what is the user environment. What he can know is that a thermal runaway happened.

2) A small group of users that use the printer in a very cold environment will have faslse thermal runaway and will be annoyed by that.

What you are suggesti

[2020-12-08 19:08] DrumClock commented on #20237
Hi @InsanityAutomation
if I use only `G28` instead of `G28X` after the command `M605 S1`, the printer will not be restarted.
**Please correct in the LCD menu - configuration of IDEX modes**

[2020-12-08 19:29] obertr0n commented on #14431
@iotricity if this is the case, how comes that patching the code in [Marlin/src/HAL/LPC1768/u8g/u8g_com_HAL_LPC1768_ssd_hw_i2c.cpp](https://github.com/obertr0n/Marlin/commit/d44e700ce3f65e111e1156c960b9f23ace9e9cd3#diff-e901e33eb2d4a1d29c2a49fe21d6a2f006bb1905b9fa4cbaa38a009de73c2c59) appears to solve the issue?

I'm not an expert on I2C nor SSD1306, but I cannot understand why that code fixes the

[2020-12-08 19:39] srastoul opened #20407 "CRASH AT STARTUP WITH MMU2"
### Bug Description

When I switch on my printer it crashes during startup after the logo appears. If I do a reset it starts and everything works. See video attached with configuration files

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5661496/Marlin.zip)

#### Additional Information

BORD MKS SGEN L V2
MARLIN BUGFIX-2.0.x

[2020-12-08 19:56] AndKe commented on #20365
@rhapsodyv
You are asking one essencial question here:
"what you are suggesting, part 1"
And the obvious answer is:
"Yes, absolutely" - allow the user control, this is what we allow to any Atmega-based controller by reconnecting.  Whatever the user willingly does stupid things is completely another issue.  We do not prevent people from having alcohol-soaked paper in their trash bin nearby.

So YES

[2020-12-08 19:56] alexandremstf commented on #20406
Yes, you're right, in my case when define USE_ZMIN_PLUG, make my homing to z+ problematic. For some reason that i couldn't find the re-bump does not occurs.

[2020-12-08 20:30] holocronology commented on #20105
I would be happy to join in on this topic. I recently added BLTouch v3.1 to my Ender 3 Pro and SKR Mini E3 v2.0 board. Thought the course of that I ended up using the bigfix-2.0-x firmware. I am running the BLTouch through the z-probe port on the SKR board and have disconnected the stock Z-Endstop.

Using BiLinear ABL. Probing and mesh generation seems to work A-OK. The issue that I'm seeing is mo

[2020-12-08 20:38] italocjs commented on #20399
Enabling emergency parser, Load and unload gcodes, i get the following (seems unrelated but if i comment those features the errors go away)

Marlin\src\feature\pause.cpp: In function 'bool ensure_safe_temperature(bool, PauseMode)':
Marlin\src\feature\pause.cpp:136:51: error: 'class Temperature' has no member named 'extrude_min_temp'

[2020-12-08 20:42] italocjs commented on #20399
i believe something in the code is only enabled if a lcd is present

[2020-12-08 21:06] ETE-Design commented on #20399
@italocjs It is possible to enable without LCD, it is a known bug but if you set EXTRUDE_MINTEMP to 0 you can overcome it, but of cause on your own risk :-)

[2020-12-08 21:15] italocjs commented on #20399
Thanks, i'll try it tomorrow first thing!

[2020-12-08 21:48] Portzal commented on #20391
@qwewer0 I feel like my experience relates to the original request, could it be a bug as opposed to needing to be adjusted by g code? I have sensor less homing enabled on both printer, belts are tensioned correctly and I have no indication of missed steps on either printer.

[2020-12-08 21:51] qwewer0 commented on #20391
@Portzal Sensor less homing is the "unreliable endstop switch"

[2020-12-09 00:44] ghost opened #20408 "[BUG] Microstepping does not work at all"
1. Flash with FW
1b. optional Init/Save
2. Start a print
3. microstepping does not work

**Expected behavior:**

Expected it to step as needed to adjust Z offset and make the hot-end lower or father than expected

**Actual behavior:**
No movement even if offset if changed and saved until print is stopped and restarted

[2020-12-09 01:07] thisiskeithb commented on #20408
This issue is being closed because it is incomplete. When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact.

**This includes attaching your configuration files, regardless of whether you think they are involved.**

For reference, these are the instructions included in the template:

### Befor

[2020-12-09 01:07] #20408 closed, assigned to nobody

[2020-12-09 01:46] ghost opened #20409 "[BUG] SKR1.4T babystepping not working"
### Setup

SKR1.4t
2209 drivers
24v power
octoprint

### Bug Description

Babystep (probe Z offset) on the z-axis does not work when printing even when enabled.

### Configuration Files
- [Marlin-bugfix-2.0.x.zip](https://github.com/MarlinFirmware/Marlin/files/5662800/Marlin-bugfix-2.0.x.zip)
- [Configuration_adv.zip](https://github.com/MarlinFirmware/Marlin/files/5663014/Configuration_adv.zip)

#

[2020-12-09 02:07] sjasonsmith commented on #20406
My thought is that with both defined it seems that both endstops are triggered at the same time, preventing movement to back away from the endstop. I do not believe this is unique sensorless homing.

When this occurs we need to fail in some way, perhaps even calling kill(). Proceeding with movement after a failed backoff has the potential to damage hardware.

Maybe we can detect issues at build ti

[2020-12-09 02:36] thisiskeithb commented on #20409
Do you mean babystepping? If so, try enabling `INTEGRATED_BABYSTEPPING`.

[2020-12-09 02:36] alexandremstf commented on #20406
It is realy difficult to detect an issue, because i can use USE_ZMIN_PLUG and USE_ZMAX_PLUG in other words min/max endstops at the same  time like in dual z mode.

[2020-12-09 02:38] tlloydjonesprog commented on #20409
I did; apologies! Tried that once already but no luck; I'll try again though.

[2020-12-09 02:41] alexandremstf commented on #20406
I think the problem is what you said, endstops triggered at the same time. Maybe perform a different treatment on the endstop if dual or multi endstops are been used for the same axis.

[2020-12-09 02:56] yet-another-average-joe commented on #14431
I modded Marlin according to your instructions. I didn't obeserve any shifting. But unforunately, it reboots after half an hour or so (3x).
Keep in mind my setup is non functionnal. It is just a SKR 1.4 Turbo, a RasPi, a 7" HDMI touch LCD, and a beardboard. It can't print.

[2020-12-09 03:28] ellensp commented on #20409
When you say flash firmware are you just hitting upload, as these boards require you to reboot after uploading to actually flash new firmware.

[2020-12-09 06:13] thinkyhead commented on #20365
If we could find some guaranteed way to reboot, that would be something to try. But, the locking up of the board to force physical interaction with the machine is for now a very intentional part of KILL.

[2020-12-09 07:05] c3D-Dan opened #20411 "[BUG] No longer possible to have a probe which triggers above the nozzle"
Using latest bugfix 2.x

From Sanity check
static_assert(sanity_nozzle_to_probe_offset.z <= 0.25,
                "Are you sure your Probe triggers above the nozzle? Set a negative Z value in the NOZZLE_TO_PROBE_OFFSET.");

Yes I am sure my probe triggers above the nozzle.  This would be true with any configuration where the nozzle moves out of the way to expose a probe which is above the nozzle h

[2020-12-09 07:32] tlloydjonesprog commented on #20409
Yup, full reboot. Process has been compile -> Rename bin as needed -> put into printer when it's off -> turn on -> Wait for blue screen to end finishing fw update -> home -> start print -> edit offset

Still no luck with probe offset

[2020-12-09 07:57] Pyro-Fox opened #20412 "G35/ASSISTED_TRAMMING always fails on point 1"
### Bug Description

`G35`/`ASSISTED_TRAMMING` always fails on point 1. Additionally, if I uncomment and try to use `ASSISTED_TRAMMING_WIZARD`, it can only probe `TRAMMING_POINT_NAME_1`. If I try probe any of the other points, it will report the last measurements as gibberish on my LCD, and not move. Even if I try to measure the other points as my first operation from entering the wizard, it will

[2020-12-09 07:58] sjasonsmith commented on #20411
There is a pull request open related to this: #20344

Could you describe what your hardware is like, to help educate us on examples where this may be used? Links or pictures showing the setup would be helpful as well.

In the future, please be sure to adhere to the template provided when filing a bug report, including providing your configuration files. That consistency makes it much easier for pe

[2020-12-09 07:59] Pyro-Fox commented on #20412
And I'll admit in advance, I probably have a configuration issue, in which the bug is a missing safety check, or there's actually something wrong in the tramming code. 🤔

[2020-12-09 08:50] sjasonsmith commented on #20411
@c3D-Dan please post your configuration files. We can use them to help us create a test case to avoid breaking configurations such as yours in the future.

[2020-12-09 09:07] sjasonsmith commented on #20411
Please test again with the latest bugfix, and confirm whether your problem is solved.

[2020-12-09 09:35] hamster65 commented on #20412
I ran into this problem too.
For me, the solution was to define the tramming points so that they are inside the area defined by
PROBING_MARGIN and min and max for x and y.

I think the relevance of PROBING_MARGIN should be mentioned in documentation, or perhaps PROBING_MARGIN should be ignored for tramming.

[2020-12-09 10:09] thisiskeithb commented on #20402
Closing since documentation has been updated (and configs build as-is without errors).

[2020-12-09 10:09] #20402 closed, assigned to nobody

[2020-12-09 10:13] pixelicous commented on #19944
Pasted below:
Changing monitoring state from "Printing" to "Cancelling"
Recv: ok
Send: N24 M108*28
Recv: ok
Send: N25 M117 0% L=0/370*92
[...]
Recv: ok
Send: N26 M410  //quickstop_stepper*69
Recv: ok
Send: N27 M104 T0 S0*20
Recv: ok
Send: //probably M81?
Send: N28 M140 S0*95
Recv: echo:Unknown command: "//probably M81?"
Recv: ok
Recv: ok
Send: N29 M106 S0*92
Send: N30 M108*25
Recv: ok
Recv: ok
`
@