[2020-11-15 13:19] niccoreyes commented on #9195
Finally starting to get used to the marlin syntax, just added SD_AUTOOPEN_MENU where it automatically reads the sd card when inserted like prusa firmware, I think I can make a few more mods for autoload feature. Although it may take a while when I'm not busy. I'm currently running on an MMU setup at the moment and I made a few pull requests recently for MMU improvements as well. This very much pos

[2020-11-15 14:31] niccoreyes commented on #9195
made a quick commit and branch, but I'm still not confident enough to make a pull request out of this
I haven't tested as I haven't reverted my MMU setup on my Marlin-ified Prusa printer
I have another prusa printer still running on stock firmware but I don't wanna touch that

https://github.com/niccoreyes/Marlin/tree/FILAMENT_AUTOLOAD

https://github.com/niccoreyes/Marlin/commit/73af75bf3359ce723

[2020-11-15 14:59] confrey59 commented on #19121
Thank you, I'll try, giving you a feedback about. hoping it could solve.

[2020-11-15 15:20] twagler commented on #19576
@thisiskeithb, my apologies, I was based against 2.0.7.2.  For commits, should I base against bugfix-2.0.x or 2.0.x?

[2020-11-15 15:55] thisiskeithb commented on #19576
PRs should go against the `bugfix-2.0.x` branch for this repo & [`import-2.0.x` in the Configurations repo](https://github.com/MarlinFirmware/Configurations).

[2020-11-15 15:59] twagler commented on #19576
Thanks.  I submitted a PR.  For some reason I'm not able to get it to show up when with the hashtag.

[2020-11-15 16:11] Sewyboowy commented on #20037
With the help of your config files I've gotten sensorless homing working on 2.0.7 but not probing. If I enable x, y and z min plugs for sensorless probing, I get an issue where y_min and z_min are always triggered with m119. x_min is still open though. I checked the pins.h file for my board (SKR PRO V1.1) and min and max endstops are the same pin for delta configs, so x, y and z max/min endstops s

[2020-11-15 16:13] Sewyboowy commented on #20037
I wondered if this may be fixed if I set the x y and z min software pins to their own physical pins. Will try when I have time.

[2020-11-15 16:16] boelle commented on #19576
its here: https://github.com/MarlinFirmware/Configurations/pull/328

[2020-11-15 16:31] macace2000 commented on #20119
Hello,

I found the solution ! I have used the PIN PE5 for all my tests, this was the Problem.
I have switched to PIN PC7 and now it works.

Compiled with mks_robin_nano35 enviroment.
Thanks for your support !

[2020-11-15 16:37] Sewyboowy commented on #20037
It worked! Finally I can work on the original issue!

[2020-11-15 17:36] rhapsodyv commented on #19623
There're 3 types of usb/serial in STM32F1:
 1) Hardware Serial - Support Emergency Parser
    Using `SERIAL_PORT != -1`
 2) Usb Serial - ***DON'T*** Support Emergency Parser
   Using `SERIAL_PORT == -1`
 3) Usb Serial + Usb Composite (to use mass storage) - Support Emergency Parser
   Using `SERIAL_PORT == -1` + `USE_USB_COMPOSITE` is defined (envs with `_USB`)

The reason is that lib maple don't

[2020-11-15 17:57] dkowis opened #20152 "[BUG] SKR 1.4 Turbo E0 INVERT_E0_DIR does not affect anything"
### Bug Description

Switching INVERT_E0_DIR does not change the direction of the Extruder. It will retract and extrude just fine (and seemingly the right amount), but it's doing it in the opposite direction, because I've switched to a Geared Extruder.

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.
[Configuration.zip](https://gith

[2020-11-15 18:15] thisiskeithb commented on #20152
After flashing, be sure to run `M502` followed by `M500`.

Does filament move the correct direction when adjusting Motion -> Move Axis -> Extruder?

[2020-11-15 18:21] dkowis commented on #20152
Yes, I have done that.

When I move the filament via the LCD (Motion -> Move Axis -> Extruder) I have to move in the negative direction to get filament to extrude. Positive direction moves retract filament. Same as the `G1 E*whatev*` command.

[2020-11-15 18:46] dkowis commented on #20152
Okay, after suggestions on Discord, I have tried again, and this time it does in fact do the right things. I must've missed a step when doing it myself lots and lots of times :(

This doesn't seem to be a bug, and works just fine. Not sure what I did wrong. Possibly didn't order the EEPROM resets correctly.

For anyone else that finds this:

1. Update firmware reversing `INVERT_E0_DIR`
1. Flash it

[2020-11-15 18:46] #20152 closed, assigned to nobody

[2020-11-15 20:56] cohaolain commented on #20082
Hey @ellensp @shitcreek , sorry for taking so long to get back (been a long week, and weekend as it turned out).

I was able to test ellensp's suggestion, adding `BLTOUCH_FORCE_SW_MODE`, unfortunately this hasn't changed my results at all (failed probes appear to pulse correctly, for quite some time until the z-probe).
I've also disabled `BLTOUCH_HS_MODE`, just to remove the extra variable, also s

[2020-11-15 22:09] Sewyboowy commented on #20037
So the fix in G28 is only for the homing current. If the z axis isn't homing at all it's probably cus your endstops aren't set correctly. As I said above, this can be caused if you have x,y,z min enabled I think because of a bug. Use m119 to check your endstops before homing

[2020-11-16 00:09] Itox001 commented on #19899
@rhapsodyv apologies for the delayed response. It is a bit hard for me to run G29 on the start of each print, my 10x10 triple-probing mesh takes quite some time to get built, and the probe doesn't reach all of the bed. Additionally, my 3D touch sometimes redeploys itself messing up a point, which requires re-doing said point after the G29 is complete. Another way that shows the issue for me:
1. Ha

[2020-11-16 00:20] zhro opened #20154 "[BUG] Change Filament feature uses heater and sensor for E2 when option E1 is selected"
### Configuration Files

Test on latest bugfix (downloaded today):

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5543394/Marlin.zip)

Only the most minimal changes needed to get Marlin to run on my printer with LCD and buttons. Features enabled are setup for dual extruder and sensors.

### Steps to Reproduce

Sanity check sensors:

[code]

ACTUAL TEST:

[code]

**Expected behavior:*

[2020-11-16 00:23] ellensp commented on #20152
Did you actually re-flash?
With platform io this compiles and uploads the new firmware to the sd card. The re flash doesn't actually happen until you reboot the controller.  This catches a lot of people out.

[2020-11-16 00:34] dkowis commented on #20152
I am 100% sure I did reflash. Changing the machine name guarantees that the firmware loaded.

[2020-11-16 01:12] phcay commented on #20109
Pull Request created : LCD-LinearAdvance-Limit-correction #20155

[2020-11-16 01:12] #20109 closed, assigned to nobody

[2020-11-16 01:40] takumi-84 commented on #20105
In fact, in Marlin 2.0.7.2 the AUTO_BED_LEVELING_BILINEAR is not working nor the MESH_BED_LEVELING in my case it is a corexy with arduino mega 2560 I do not get the option to calibrate the bed when I choose "AUTO_BED_LEVELING_BILINEAR" in the case of MESH_BED_LEVELING the legend appears only home, it doesn't work for me on the creality cr10s either.
resolve

[2020-11-16 03:24] GadgetAngel commented on #20132
@p3p I have a question for you: In Marlin/src/HAL/LPC1768/include/SPI.h file you have the CLASS SPISettings which has a Method called SPISettings.  This is the method I am asking about:
[code]
This method or routine is called by the Adafruit_MAX31865.cpp code as shown below:
[code]
The thing that worries me is that your SPISettings calls spiRate2Clock(spiRate).  The Adafruit_MAX31865.cpp is not aw

[2020-11-16 03:59] rhapsodyv commented on #20132
Marlin SPI usages is not very “standard”  right now. We are working on in a better class and interface for that. But it’s a working in progress.
When I did that SPISettings, I really wasn’t aware of MAX31865. I did that class just for compatibility and didn’t pay too much attention for its interface.

I will take a look in your issue.

[2020-11-16 04:59] GioGalo97 opened #20156 "[PINDA 2 WITH SKR1.4] (PROBING WILL NOT COMPLETE)"
https://imgur.com/gallery/2RfGz6x

I am running an skr1.4 with a pinda 2 and it is my first time using ABL. I am able to home but I am not able to run g29. I am getting a Fade height off alarm as soon as I start the printer. When i connect to prontorface I just get:

SENDING:G29
echo:busy: processing
Error:Probing Failed
[ERROR] Error:Probing Failed

[2020-11-16 05:02] GioGalo97 commented on #20156
I also get bed leveling off when I start up the printer in the TFT mode.

[2020-11-16 05:16] sjasonsmith commented on #20156
This issue is being closed because it is incomplete. When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact.

For reference, these are the instructions included in the template:

### Before Reporting a Bug

1. Test with the `bugfix-2.0.x` branch to see whether the issue still exists.

2. Get t

[2020-11-16 05:16] #20156 closed, assigned to nobody

[2020-11-16 05:22] sjasonsmith commented on #20154
Is this only a problem when pre-heating through the menu? Does it behave correctly on your printer when you set temperatures using M104 over serial?

[2020-11-16 05:26] zhro commented on #20154
The firmware is responding to all of the right commands on the correct tools and reporting from the correct sensors between E1 and E2 when checked through Repetier over serial USB.

This is ONLY a problem when I choose E1 from the CHANGE FILAMENT menu!

[2020-11-16 05:28] sjasonsmith commented on #20154
@zhro I assume you accidentally closed this?

[2020-11-16 05:28] zhro commented on #20154
Yes.

[2020-11-16 05:29] zhro commented on #20154
Re-opened.

[2020-11-16 05:29] sjasonsmith commented on #20154
I wish GitHub would move those buttons further apart! It is especially easy to do from phones.

[2020-11-16 05:33] zhro commented on #20154
I may have been unclear in my report. The "Heating Failed" is not an error but a sanity check to confirm that the preheat commands are going to the correct tool E1 or E2. The alarm will always sound because I set WATCH_TEMP_PERIOD to 1 second.

This is a reference to demonstrate that E1 and E2 is correctly configured when presented with the failure when choosing options from the Change Filament me

[2020-11-16 05:44] qwewer0 opened #20157 "[BUG] NO_SD_HOST_DRIVE on non _USB environments"
### Bug Description

https://github.com/MarlinFirmware/Marlin/pull/20151 PR needs `NO_SD_HOST_DRIVE` on a non `_USB` environments, that already cannot provide it.
(e.g. `STM32F103RC_btt_512K`, `STM32F103RC_btt`)

### Configuration Files

Latest Bugfix-2.0.x
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5544289/Configuration.zip)

### Steps to Reproduce

1. Compile firmware on

[2020-11-16 06:02] sjasonsmith commented on #20157
I asked @qwewer0 to file this. This is a usability issue that is confusing, even for people like me. You shouldn't have to disable SD_HOST_DRIVE if it would not have been enabled in the first place!

[2020-11-16 06:03] sjasonsmith commented on #20157
I'm labeling this as STM32, but it might impact other platforms as well. Basically, when HOST_DRIVE support is active, the SD_DETECT pins are disabled, so you don't get any automatic behavior on card insertion.

[2020-11-16 06:04] sjasonsmith commented on #20157
You don't have to use the PR referenced for testing either. Just bring up a serial console and watch for messages when inserting media.

[2020-11-16 06:15] sjasonsmith commented on #20154
I am trying to reproduce this in a simulated environment, and everything seems to work properly.
One detail of your configuration I cannot simulate is the MAX6675 temperature sensor.

Can you try configuring both of your temperature sensors to `998`, and try to reproduce the issue? That is a dummy temperature sensor that always returns 25 degrees, so it should trigger your heating failures.

If th

[2020-11-16 06:17] sjasonsmith commented on #20154
Another difference is that I have `REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER` display. I believe these use all the same menus and that should not matter, but maybe the screen ends up changing menus...

[2020-11-16 06:36] sjasonsmith commented on #20119
So both servos now work with `mks_robin_nano35`?

[2020-11-16 06:37] jorgenagel commented on #18357
Having same problem.  BTT SKR V1.4 Turbo w/ TMC2208.  As soon as I enable linear advance the extruder stops, sometimes at the start of the print, sometimes midway through.  Disabling Linear Advance seems to solve the issue, but I'm getting rounded corners and can't print with any precision for parts that need to fit into each other!

[2020-11-16 06:42] thinkyhead commented on #20157
As I understand it, the `NO_SD_HOST_DRIVE` flag is a companion to `SDCARD_CONNECTION ONBOARD`. The effect of `NO_SD_HOST_DRIVE` is to cancel the default (USB-mountable) behavior of `SDCARD_CONNECTION ONBOARD`, apparently provided via MSC, DISKIO, ….

[2020-11-16 06:46] thinkyhead commented on #20157
Should we be looking for the presence of `USE_USB_COMPOSITE` in relation to whether drives are USB-accessible? Any other flags we can discern as meaningful in the pile?

[2020-11-16 06:55] zhro commented on #20154
I get a compile error when attempting to use dummy sensor `998`:

[code]

[2020-11-16 06:56] sjasonsmith commented on #20157
I'm not sure, I have previously found this inconvenient, but never spent the time to fully understand the conditions involved. After describing the behavior to someone yet again I asked qwewer0 to file the issue as a reminder to come back and improve upon it.

Perhaps we need each HAL to declare something like `HAL_SUPPORTS_SD_HOST_DRIVE`. That might be a simple 0/1 flag, or might be dependent on

[2020-11-16 07:51] swanlm commented on #19602
Just some feedback; I had exactly the same issue as described in this bug. Today I took the latest bug fix build and put this on my printer. I tested the power restore feature and
1. The nozzle lifts up as expected when power is removed
2. I am asked if I want to resume when power is switched back on
3. If I resume, the printer homes on X and Y, heats the bed and nozzle and then continues printing

[2020-11-16 07:56] Blacksource001 commented on #18769
I played around with this leveling problem for over 3 weeks. Trying all kinds of solutions and firmwares.
What ended up fixing my problem was klipper.
I am not against marlin but if anyone else is frustrated with this problem and just wants to print again i recommend trying  klipper until this problem is fixed.

[2020-11-16 08:09] zhro commented on #20154
@sjasonsmith I'm using a basic 20x4 display.

[2020-11-16 08:18] zhro commented on #20154
I merged your changes and Marlin now compiles. I'll report back shortly.

[2020-11-16 08:21] sjasonsmith commented on #20027
I posted a PR which should fix this: #20143

I am going to close this as a duplicate, even though it is slightly older than the other issue. I didn't realize this was already here when I investigated the other.

[2020-11-16 08:21] sjasonsmith commented on #20027
Duplicate of #20122

[2020-11-16 08:21] #20027 closed, assigned to nobody

[2020-11-16 08:23] zhro commented on #20154
I have the exact same results using dummy temperature option `998`. I can see the temperature set to 25C but Marlin still reports a problem with the E2 temperature sensor when changing filament on E1.

[2020-11-16 08:28] sjasonsmith commented on #19835
It is still not clear to me what this issue is reporting. Since no additional detail was added after my last reply, I am going to close this as not actionable.

When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact. This will help make it much easier for others to understand your issue and pr

[2020-11-16 08:28] #19835 closed, assigned to nobody

[2020-11-16 08:30] sjasonsmith commented on #20154
Maybe someone else uses `FF_INTERFACEBOARD` or some other character display and can try to test this.

I have a different character display, but can't simulate it and won't be able to test it right away.

[2020-11-16 08:40] Sergey1560 commented on #19602
Yes, I am trying to find the real reason.
The problem is somewhere in the file system with fileExist funciton, not in the "powerloss".

[2020-11-16 08:55] ellensp commented on #20154
tested using provided configs changing  BOARD_RAMPS_14_EEB with REPRAP_DISCOUNT_SMART_CONTROLLER  and disabling DIGIPOT_MCP4018 .
This does say "Heating Failed: E2" when Change Filament > Change Filament E1 > Preheat PLA was selected

[2020-11-16 09:08] zarpyj commented on #20126
Would be nice from you Jaeryang if you add a copy of your file MarlinCore.cpp, honestly, I dont no where to ass this lines
Thank's a lot
JJ

[2020-11-16 09:12] sjasonsmith commented on #19795
I have posted a PR to resolve this. I don't know yet whether it will be accepted and merged. Please feel free to test it and comment on your results in the PR.

[2020-11-16 09:31] sjasonsmith commented on #19691
This issue has been silent, so I am presuming it has been fixed.

We have another Predator user who said there was still another issue and added a new PR to fix the screen rotation:
https://github.com/MarlinFirmware/Configurations/pull/328

Since it seems the only outstanding issue was screen rotation, I'm presuming the reported issue here is resolved, and will close this.

[2020-11-16 09:31] #19691 closed, assigned to nobody

[2020-11-16 09:33] sjasonsmith commented on #19576
@twagler thanks for taking care of that.
I know that issue hasn't merged yet, but since it is a minor fix and it is already pending in that PR, I'm going to go ahead and close out this bug report.

[2020-11-16 09:33] #19576 closed, assigned to nobody

[2020-11-16 09:38] macace2000 commented on #20119
Yes, both servos works.
There are the three warnings during compile with mks_robin_nano35, but all works.

I have changed variant.h back to the origin values. ( It works also with TIM6)
#define TIMER_SERVO TIM2

The Problem was the used Pin PE5. I don't now why, elecrical it makes no sense for me.
I think there is somewere a Problem with this pin in Marlin.

[2020-11-16 09:43] sjasonsmith commented on #19431
This appears to be resolved. After updating the original configs enough to build against bugfix the only warnings came from external libraries. Closing.

[2020-11-16 09:43] #19431 closed, assigned to nobody

[2020-11-16 09:45] sjasonsmith commented on #19274
@mattdog01 any update on this? We really appreciate your willingness to help try things out as we prepare to move STM32F1 boards over to HAL/STM32.

[2020-11-16 10:05] sjasonsmith commented on #19857
Two users seemingly had this problem, but neither have responded to my last post in over two weeks.
I am closing this, since it is working fine according to my testing.

If you have additional information based on the latest state of `bugfix-2.0.x`, please reply and this can potentially be re-opened.

[2020-11-16 10:05] #19857 closed, assigned to nobody

[2020-11-16 11:30] ellensp commented on #20154
notes:
In Marlin/src/lcd/menu/menu_filament.cpp

`sprintf_P(cmd, _change_filament_command(), _change_filament_extruder);`
If you examine _change_filament_extruder on a 20x4 it is always 1
but if you do this on a 128x64 it changes from 0 to 1 as expected.
Cause not found...

[2020-11-16 12:03] jernejp21 commented on #20105
In my case, I see that left side of the bed is ok, while right side of the bed is too close. I have tried lowering the bed with the screws to see if this could be the problem - the result is always the same.

[2020-11-16 12:24] MEGAMENE commented on #20105
I'm also having this same exact problem, the left and center is good but the right side is too close.
And this is with a basically perfect level bed in Bed Visualizer, every corner with less than 0.1 of offset.
I've been taking apart my Ender 3 thinking that something is wrong with it, but now I'm not sure.

[2020-11-16 12:30] jbbandos commented on #20105
@jernejp21, @MEGAMENE Can you two check if G35 (assisted tramming) still gives reasonable output? I also took apart my ender 3, checked all the cabling to see if it was snagging somewhere or was a bad contact on the bltouch cables, until I decided to go back to the older firmware and then everything worked.
But G35 tramming works well for me, and i can get the bet perfectly trammed, it is just G29

[2020-11-16 13:28] Hokeric commented on #19392
Thank you very much for your help. Much appreciated.

[2020-11-16 13:39] cohaolain commented on #20082
I have noted [a comment](https://github.com/MarlinFirmware/Marlin/pull/19301/files#r484584508) on #19301 which may be relevant.

Previously to that, I note that #18637 fixed a previous issue that appears to have exhibited very similar behaviour to what I'm now experiencing.

I may also try a slightly older version of Marlin to see if, perhaps, the issue was present after both of those^ changes but

[2020-11-16 13:39] GadgetAngel commented on #20132
@rhapsodyv and @p3p I can get the SKR V1.4 Turbo to run the Adafruit MAX31865 board in software SPI and Hardware SPI when SDCARD_CONNECTION is set for LCD.

I have another question: if I change SDCARD_CONNECTION to ONBOARD does the **default hardware SPI bus** change from SPI-0 bus to SPI-1 bus (from "EXP2 connector" to "onboard SD card reader")?

[2020-11-16 13:50] Bob-the-Kuhn commented on #13020
PR #13116 is the companion to this issue.

I was trying to find some more info on why this activity petered out but didn't find any smoking guns.

My memory is **VERY** fruzzy on this.  I think the main problem areas were:

- Unable to figure out how to use the G2's smart LCD module
- Unable to figure out a method that the average user could use to move the Marlin code into the G2

[2020-11-16 14:09] repetier opened #20161 "[FR] Support out of order execution"
I have just added this feature to Repetier-Server 0.94.4 beta. You can already download it for testing (linux versions only). Also implemented it into Repetier-Firmware 2 so I could do a full test. Main reason was a problem with emergency parser and host prompt support I had when implementing it into server. When I simulated a filament change and selected purge more often enough the firmware stopp

[2020-11-16 14:29] cjsoong commented on #18357
Try to disable STEALTHCHOP_E
  #define STEALTHCHOP_XY
  #define STEALTHCHOP_Z
  //#define STEALTHCHOP_E

[2020-11-16 15:49] NickBramley opened #20162 "Marlin for CNC and Laser"
I have been trying to edit the config files for both CNC and Laser use with a BTT SKR 1.4 Turbo. The cnc version is workable but I have the following comments regarding the laser useage.

Using Fan0 to operate the laser is dangerous unless you can prevent the user from turning the fan/laser on permanently from the LCD.

The cheap K40 lasers do not have any interlocks fitted so I am trying to use t

[2020-11-16 15:51] ellensp commented on #20162
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-16 15:51] #20162 closed, assigned to nobody

[2020-11-16 16:38] zhro opened #20163 "[BUG] Temperature option to "Preheat All" does not return the user to the "Info" screen like the other choices do"
Test on latest bugfix.

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5548369/Marlin.zip)

Most preheat options will return you to the "Info" display after choosing. But the "All" option does not; leading to the believe that nothing happened or that it's broken. The heating for the extruders and bed DOES actually turn ON but the feedback of returning to the info screen where temperat

[2020-11-16 17:18] sjasonsmith commented on #20105
@jbbandos your pictures comparing 2.0.6.1 to 2.0.7 are interesting. Would you be able to help narrow down a date when it started failing, by trying the bugfix branch at some points between those?

[2020-11-16 17:27] sl1pkn07 opened #20164 "[FR] TOUCH_EVE on LPC176x boards"
### Description

Add support for use FTDI_EVE displays in LPC176x boards

as-sis, fail build if enable it, for example, in my rearm:

[code]

@ellensp have a patch in https://github.com/MarlinFirmware/Marlin/issues/16534#issuecomment-573382828

[code]

now build OK, but when try to use software SPI or Hardware SPI, i get a white screen wich turn black with color degradation over time

I talk with

[2020-11-16 17:32] thisiskeithb commented on #20164
For context, there was a lengthy discussion about supporting other boards/HALS in https://github.com/MarlinFirmware/Marlin/issues/16628.

[2020-11-16 18:08] DrumClock commented on #17941
HI @InsanityAutomation
**Can we please continue troubleshooting together?**
I am willing to test code changes before PR.
We just have to agree on the time, I have 6 hours more than you.

[2020-11-16 19:11] jbbandos commented on #20105
@sjasonsmith Sure, I just no longer have the exact configurations I used to build 2.0.6.1 (used rsync in the wrong direction while doing a "backup"). But if you want me to test specific versions I can do that. I can start setting up clean clones of 2.0.7.1, etc. down to 2.0.6.1, or do you have specific commits in mind?

[2020-11-16 19:56] boubounokefalos commented on #20105
So atm, last working BL Touch release is the 2.0.6.1? (I have the exact same setup and was wondering why my BL Touch is not consistent in leveling)

[2020-11-16 20:10] sjasonsmith commented on #20105
@jbbandos no specific commits. It makes sense to do a binary search across the entire commit list to determine when it broke.

Git has a BISECT capability for this, although I’m not sure exactly what workflow people use with that as far as your configurations files go.

When I do this I tend to look at the dates, starting by identifying which _month_ the problem appeared in.

[2020-11-16 21:21] GMagician commented on #20163
I tested it now and in my printer it works. I preset "preheat petg" and it return to main menu

[2020-11-16 21:30] zhro commented on #20163
Do you have a 20x4 screen? Please test with the PLA option if you do since that's what I'm reporting as a bug.

[2020-11-16 21:36] ellensp commented on #20154
more notes:
added   SERIAL_ECHOLNPAIR("DEBUG _menu_temp_filament_op: mode=",mode," extruder=",extruder); to top of _menu_temp_filament_op
Results where interesting

On a 128x64 when you enter the Change Filament E1 menu you get
4 lines of DEBUG _menu_temp_filament_op: mode=2 extruder=0
moving up or down that menu on the lcd gives 4 more of this line per row.
If you enter the Change Filament E1 men

[2020-11-16 21:52] thisiskeithb commented on #20163
What's your config? OP's is a dual extruder/hotend setup which enables the "Preheat x All" option so it will preheat both hotends.

[2020-11-16 22:09] thisiskeithb commented on #20163
I doubt this is the correct fix, but you can add `ui.return_to_status();` to [`menu_temperature.cpp`](https://github.com/MarlinFirmware/Marlin/blob/4dd2496530d3d42205aaf874bcb6f356685aa464/Marlin/src/lcd/menu/menu_temperature.cpp#L107-L115) between lines 112 & 113:

[code]

Or replace `Marlin\src\lcd\menu\menu_temperature.cpp` with the one attached: [menu_temperature.cpp.zip](https://github.com/Ma

[2020-11-16 22:46] confrey59 commented on #19121
everything is OK; I was doing a wrong procedure to calibrate X,Y,Z points; then I cahnged the center level by modifying delta radius by M665, and storing all in ROM as you said. Now I have another question : because of I haven't a z-probe ,is there a way to do a G33 by hand? finding the Z=0 point manually? I wuld like to tune perfectly XY accuracy of my delta.
cheers

[2020-11-16 22:47] swissnorp commented on #19650
In my Opinion this feature is not that flawless and I like your approach @qwewer(). I did some work on this but my code kept crashing my printer xD... I finaly gave up because I am no coder myself.

_Flaws of the actual Feature_
- `SET_SOFT_ENDSTOP_LOOSE(true)` must be called after `G28`. (G28 resets it to false) **[BUG]**
- The Nozzle does not move to the same position where the probing was done.

[2020-11-16 23:08] GMagician commented on #20163
No single. That's why it works

[2020-11-16 23:23] rhapsodyv commented on #20163
Looking at the code, it will not preheat the bed in that option (`Preheat PLA All`) ! `TERN_(HAS_HEATED_BED, []{ _preheat_bed(editable.int8); });` this just declare a c++ lamba, but don't call it at all. That is the reason it is not returning to status (_preheat_bed will call `ui.return_to_status`).

[2020-11-16 23:34] cohaolain commented on #20082
Most likely have confirmed this isn't an issue with the probe itself. Have tried with a second genuine BL Touch from Amazon directly. After running quite a few more levelling, I did see the same result occur several times.

[2020-11-17 01:40] sogrom commented on #20107
@shitcreek Tried your code with no luck.

Tried also this:
But z endstop still not working.

[code]
I'm thinking that problem is in the endstop event area.

[2020-11-17 02:33] mattdog01 commented on #19274
@sjasonsmith I'm so sorry that it has taken me so long to get back to this.  I just completed some testing.  I have some issues with the newest of new bugfix downloads.

1) No SD card selectability. Shows that is has been detected but can't be selected.
    *fixed added #define SDIO_SUPPORT under #define SDSUPPORT to configuration.h
    Needs to be refreshed to get it to read SD contents.

2) No s

[2020-11-17 04:11] GioGalo97 opened #20166 "[probing failed with g29] (corexy machine homes fine but probing fails)"
### Bug Description

<I am currently running an skr1.4 with a btt tft35 screen. On start up I get alarms saying how bed leveling is turned off and fade is turned off but they are both on in the config. When I home everything is fine but once i try to send a g29, I get a probing failed error.-->

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configurati

[2020-11-17 04:14] rhapsodyv commented on #20157
Yes, but it will only fix STM32F1.

Yes.

`NO_SD_HOST_DRIVE` just disable usb host with mass storage **_on LPC_**. Just it. Even if some STM32F1 boards support that usb host with mass storage, they ignore that config....
It add another macro too, `HAS_SHARED_MEDIA`.
But it only make sense if you really have usb host with mass storage. That is the bug. If we add `&& USE_USB_COMPOSITE` should fix it

[2020-11-17 05:37] Stefar77 opened #20168 "[BUG] Marlin stops/stuck saying "Media Inserted" or "Printing" randomly"
### Bug Description
When printing larger prints the printer randomly stops. (SKR 1.3, tested with all A4988 drivers and TMC5161 drivers)
I went from Marlin 1.9 to Marlin 2 because I switch from RAMPS 1.4 to SKR 1.3 and not I cannot print bigger works anymore.

* With 2.0 it stops with "Printing..." on the display and with -bugfix I noticed it says "Media Inserted" on the display when it happens.
*

[2020-11-17 06:56] ellensp commented on #20166
Most probably your editing a Configuration.h  in the wrong directory. (A different copy of marlin perhaps)
The attached "config" file is the readme from the config directory.
The Configuration.h that marlin uses is in the Marlin Directory not the config directory eg. https://github.com/MarlinFirmware/Marlin/tree/2.0.x/Marlin

This Issue Queue is for Marlin bug reports and development-related issue

[2020-11-17 06:56] #20166 closed, assigned to nobody

[2020-11-17 07:14] Stefar77 commented on #20168
** Marlin/src/sd/cardreader.cpp **
void CardReader::release() {
    endFilePrint(); <-- Removing this line fixed my problem (I think)

[2020-11-17 08:03] ShuzzDE opened #20169 "[BUG] touch rotation not working for classic_ui with MKS Robin nano 1.2 and MKS TFT 24"
### Bug Description

When compiling Marlin 2.0.7.2 for an MKS TFT 24 connected to a Robin Nano 1.2 Board, you need to #define TFT_ROTATION TFT_ROTATE_180.
However, for classic UI, only the display is rotated, the touch input routines do not take this rotation into account.
While there seems to be code in place in touch_buttons.c, it does not work for some reason.

### Configuration Files

[Configu

[2020-11-17 08:41] sjasonsmith commented on #19392
This is merged. Given the simplicity of the change I'll go ahead and close this issue.

[2020-11-17 08:41] #19392 closed, assigned to nobody

[2020-11-17 10:47] dredivan opened #20170 "[BUG] MKS SGEN L V1.0 LPC1768 MKS TS35 V2.0 LCD_BED_LEVELING don`t work, Touchscreen don`t work, SD card don`t work"
Hardware:
Motherbord - **MKS SGEN L V1.0 LPC1768**
LCD - **MKS TS35 V2.0**
Latest Marlin 2.0 Bugfix

- **First Bug:**
Touch screen don`t work, only encoder
M995 don`t work

- **Second Bug**
If I want use ***Configuration.h\\#define LCD_BED_LEVELING**, I have compilation error:

- **Third bug**
If I want use **SD card** support **Configuration.h\\#define SDSUPPORT**, I have compilation error:

Iif

[2020-11-17 10:53] ellensp commented on #20170
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-17 10:53] #20170 closed, assigned to nobody

[2020-11-17 11:08] dredivan opened #20171 "[BUG] MKS SGEN L V1.0 LPC1768 MKS TS35 V2.0 Touch screen don`t work"
### Hardware:
Motherbord - MKS SGEN L V1.0 LPC1768
LCD - MKS TS35 V2.0
Latest Marlin 2.0 Bugfix

### Bug Description
Touchscreen don`t work, no sensor buttons controll buttons when use **TFT_CLASSIC_UI**
like in this giff https://github.com/MarlinFirmware/Marlin/pull/20049
 ![ezgif-6-91be9e3d2971](https://user-images.githubusercontent.com/81722/98320186-2da6fe00-1fc1-11eb-83cc-e97f0aa07a12.gif)
I

[2020-11-17 11:16] github051 commented on #20169
Try the latest 2.0.x bugfix. Both the displays are working for me (Classic UI and Color UI).

[2020-11-17 11:29] dredivan opened #20172 "[BUG] MKS SGEN L V1.0 LPC1768 MKS TS35 V2.0 - LCD_BED_LEVELING and TFT_COLOR_UI compilation error"
### Hardware:
Motherbord - MKS SGEN L V1.0 LPC1768
LCD - MKS TS35 V2.0
Latest Marlin 2.0 Bugfix

### Bug Description
I user **MKS TS35 V2.0** and **TFT_COLOR_UI** mode
Firmware don't want compile with **#define LCD_BED_LEVELING** and **#define TFT_COLOR_UI**
If use define #TFT_CLASSIC_UI and #define LCD_BED_LEVELING then all ok

### Configuration Files
[My configuration.zip](https://drive.google.c

[2020-11-17 11:46] sjasonsmith commented on #20172
I don't see those errors, even when I build using the entire source folder from your zip file.

It does fail, claiming that it is out of RAM space. Switching to TFT_CLASSIC_UI instead of TFT_COLOR_UI made that problem go away.

@rhapsodyv would you expect the color UI to increase RAM usage that much, if it started from here?
[code]

[2020-11-17 12:01] dredivan commented on #20172
@sjasonsmith I update link in first post
[configuration.zip](https://drive.google.com/file/d/163QsFE1xwZHnp7JinYYcTxPEytxZtL5d/view?usp=sharing)

[2020-11-17 12:36] Stefar77 commented on #20168
Currently switched back the TMC5161's and printing some tests.

[2020-11-17 13:17] ellensp commented on #20154
Well I can't find the cause, need someone with a more experience than I.

[2020-11-17 14:05] thisiskeithb commented on #20163
The fix has been merged. Closing.

[2020-11-17 14:05] #20163 closed, assigned to nobody

[2020-11-17 15:23] matpop38 commented on #20128
The printer doesn't try to probe if the size is larger than 588mmx588mm, but I don't know why, Z_PROBE_LOW_POINT has an influence on this and changes the limit from 588mm to 624mm.

Ok too bad the simulation doesn't work :( thank you anyway for trying.
Thank you for this detailed tutorial however I won't be able to access the printer before this weekend. I'll keep you informed on Saturday.
In the

[2020-11-17 15:26] Enano79 opened #20173 "Error Going Home - Marlin 2.0.7.2 - GTT skr 1.4 - TMC2208 UART"
Hi to all I have an issue wen try to set home to my printer. I have upgrade to skr 1.4 with TMC2208
Maiboard GTT  skr 1.4
Drivers TMC2208 UART
EndStop Fisical (new and tested before and after install)

Description: Sending home "G28" it stop Randomly, and I have to try Again and Again to set home (normally axises X or Z),
when dont have any error, and all Axises are in home, and start to print. (s

[2020-11-17 15:28] Calprofen opened #20174 "Y axis 'ignored' in NOZZLE_PROBE_OFFSET - BLTOUCH"
### Bug Description

NOZZLE_PROBE_OFFSET for BLTOUCH configuration. Y OFFSET seems to be ignored and positions probe at the same spot on Y axis despite the value is changed dramatically (0 up to 600 values tested, no change).

### Configuration Files

[Marlin 2.0.7.2 Config Calprofen.zip](https://github.com/MarlinFirmware/Marlin/files/5554212/Marlin.2.0.7.2.Config.Calprofen.zip)

I have followed t

[2020-11-17 15:37] thisiskeithb commented on #20173
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-17 15:37] #20173 closed, assigned to nobody

[2020-11-17 16:02] thisiskeithb opened #20175 "[FR] Onboard/Motherboard-based Thermistor Support"
### Description

Boards like the Einsy Rambo, BTT002, SKR E3 Turbo, and motherboard used in the Eryone ER-20 have an onboard 100K thermistor, but motherboard/onboard thermistors are not natively supported in Marlin.

There's a "hacky" way to get readings where you define the onboard thermistor as a `TEMP_CHAMBER_PIN` which gives you feedback on the LCD & associated thermal protections, but that's

[2020-11-17 16:04] 3DFans commented on #20175
thx @thisiskeithb

[2020-11-17 16:08] Enano79 commented on #20173
Sorry But It get some Timeouts reading I think that is a bug in the reading time

[2020-11-17 16:53] rhapsodyv commented on #20157
Anyone can test it here? #20176

Thanks

[2020-11-17 16:58] rhapsodyv commented on #20169
Recently, Touch Calibration Screen for all TFT was merged on bugfix. So, M995 is available in all 3 UI now.

[2020-11-17 17:00] rhapsodyv commented on #20171
I can't download you configuration, gives this error: "Sorry, the file you have requested does not exist.".

Do you have `TOUCH_SCREEN` and `TOUCH_SCREEN_CALIBRATION` enabled?

[2020-11-17 17:03] dredivan commented on #20171
@rhapsodyv sorry? try again
[config.zip](https://drive.google.com/file/d/163QsFE1xwZHnp7JinYYcTxPEytxZtL5d/view?usp=sharing)

[2020-11-17 17:03] rhapsodyv commented on #20172
Are you trying to use TFT_COLOR_UI without TOUCH_SCREEN enabled?

[2020-11-17 17:11] rhapsodyv commented on #20172
This will fix the compilation of Color UI without TOUCH_SCREEN: #20178

[2020-11-17 17:15] rhapsodyv commented on #20172
When I did the S GEN L TFT support, I used the same defaults from S GEN L V2 (that I have one). And I never tried to use it enabled too many features. I will make a PR to lower the RAM usage for that board and UI.

[2020-11-17 17:16] takumi-84 commented on #20105
in fact the one that works well is the version of Marlin-2.0.6.1.
I had to go back to the stable version of Marlin-2.0.6.1!

El lun., 16 nov. 2020 a las 17:10, Jason Smith (<notifications@github.com>)
escribió:

[2020-11-17 17:19] rhapsodyv commented on #20171
To use touch calibration, you need to enable TOUCH_SCREEN and TOUCH_SCREEN_CALIBRATION. You configs don't have it enabled.

[2020-11-17 17:19] #20171 closed, assigned to nobody

[2020-11-17 17:50] hamster65 commented on #20174
Probe offset can be configured and viewed with M851 and it is stored in eeprom. Always reset your eeprom to defaults (M502) after flashing a new firmware and store it (M500), to transfer settings you changed in the configuration to the eeprom.

[2020-11-17 17:58] rhapsodyv commented on #20172
I did a PR that will lower the ram usage for this board: #20179 too

[2020-11-17 18:29] roscsa77 opened #20180 "[BUG] Automatic Bed Leveling failure"
### Bug Description

The first point of the ABL (Bilinear) is not correct. It will be closer to the Nozzle by 0.15mm then all others. The first point is wrong at every time. The result of the repeatibility test is 0.007 mm. I've activated the debug leveling feature and collected the result data of 5 ABLs one by one. The maximum difference between the max and min values of the same point was 0.06 m

[2020-11-17 19:21] shitcreek commented on #20180
Without providing configuration files, it is difficult to know where to start. For instance, are you using the latest version of Marlin or the latest bugfix?
Please try that out first if you haven't, and check these sources below first before reporting a bug. You may also want to try to search through the issue queue to see if the issue has already been brought up and isn't a duplicate.

For best

[2020-11-17 20:15] qurvento commented on #19795
Thank you.

[2020-11-17 20:33] ryanaukes opened #20182 "[BUG] Laser turns on and cannot be turned off after gcode script is finished (Marlin 2.0.6)"
### Bug Description

I am trying to get the Marlin 2.0.6 inline laser control function to work for a while now. I found (possibly) a bug.   I am using the Marlin Laser function and enabled inline laser control. When I run a script which ends with a M5 command, when the script ends, the laser turns of but then turns on again. After that, I cannot turn it off again with a M5 command, but I first hav

[2020-11-17 20:50] thisiskeithb commented on #20182
Please download [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code and let us know if you're still having this issue.

[2020-11-17 21:18] Calprofen commented on #20174
Thank you. Unfortunately I am having the same experience after following what you said.

Steps taken after your comment:
Reset EEPROM
Compile Marlin
Upload
Reset EEPROM
Auto Home Printer
Same position for probe is taken for Y axis

I changed the Y value in the config and repeated the same process but same problem occurs.

[2020-11-17 21:30] ShuzzDE commented on #20169
I am sorry, I just noticed that I screwed up. I tested against the 2.0.x branch, not bugfix-2.0.X
Obviously did not pay attention while cloning the source.

I apologize for wasting your time.

[2020-11-17 21:30] #20169 closed, assigned to nobody

[2020-11-17 21:55] boelle commented on #20168
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-17 21:56] boelle commented on #19795
did you test it?

[2020-11-17 21:56] ETE-Design commented on #20175
Would also be great if a 2'nd bed could be added as an option... I have 2 Zone's on my bed and right now I use Chamber to show 2'nd Zone Temp... But then it also need a 2'nd Heater Pin defined to make it work...

[2020-11-17 22:02] boelle commented on #20174
@Calprofen did @hamster65 suggestion help?

Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-17 22:14] Calprofen commented on #20174
Thank you for all the help @hamster65 & @boelle

Yes resetting the EEPROM has done the trick!

All the best!

[2020-11-17 22:48] JackNewman12 commented on #20082
I have seen this too.
bltouch (clone) triggers but the axis continues to move down.  Connections seem fine using a multimeter but I have yet to check the pulse using an oscilloscope.

Interestingly I have done the probe test `M48 P50 V4` over 5 times in a row without any failures, but every second 5x5 bed level fails.

Ender 3 V2 4.2.2 board.
Running a build from 5th Nov bugfix

[2020-11-17 23:15] shitcreek commented on #19998
For best results getting help with configuration and troubleshooting, please use the following resources:

- MarlinFW.org [Marlin Documentation](http://marlinfw.org)
- RepRap.org [Marlin Forum](http://forums.reprap.org/list.php?415)
- [Tom's 3D Forums](https://forum.toms3d.org/)
- Facebook Group ["Marlin Firmware"](https://www.facebook.com/groups/1049718498464482/)
- Facebook Group ["Marlin Firmwa

[2020-11-17 23:15] #19998 closed, assigned to nobody

[2020-11-17 23:24] Stefar77 commented on #20168
I'm running bugfix-2.0.x at the moment with the change mentioned above, without it it fails pretty much every long print.

[2020-11-18 00:02] rhapsodyv commented on #20168
Your problem is related with `SD_DETECT_PIN`. You are using SD from LCD, that uses `EXPA2_04_PIN` (`P1_31`) pin. I would say you have an electrical or cable issue, because the state of the `SD_DETECT_PIN` is changing in the middle of the print.

Try commenting `SD_DETECT_PIN` on `Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h`, line 289.

If it works, try checking everything related with that PIN and

[2020-11-18 00:30] Stefar77 commented on #20168
It's the SD card for sure, just finished a pretty long print without issues.

But it's still an issue that Marlin just does the endFilePrint(); and that doesn't disable the hotend or put an error on the display like 'Interrupted' or something. Also it's still in half printing state because you have a pause and stop option. Pressing the pause makes it say Pause but you cannot un-pause.

You can tes

[2020-11-18 00:30] #20174 closed, assigned to nobody

[2020-11-18 00:43] rhapsodyv commented on #20168
Marlin is calling `endFilePrint()` because `SD_DETECT_PIN` is telling Marlin that you don't have any SD inserted, and a cycle after, it is telling the you have the `Media Inserted`. The problem is not `endFilePrint()`, is `SD_DETECT_PIN` issuing wrong values during the print.

And Marlin wasn't supposed to have the SD removed during a print. It will let Marlin with wrong states in memory. I don't

[2020-11-18 00:48] sjasonsmith commented on #20168
@rhapsodyv I’m going to reopen this. I agree that if the firmware is aware enough to stop the print on SD removal, it should also probably turn off heaters.

[2020-11-18 00:55] Stefar77 commented on #20168
Thanks! I agree. At least if there is an LCD put an error message "Print interrupted" or something.
And it does leave Marlin in a invalid state, if you remark the endFilePrint() maybe it's leaking some filedescriptors but at least it doesn't crash for up to 9 hours if someone happens to get a cheap Chinese display. :-)

Ps. It's not that big of a deal because I'm buying a quality screen later but

[2020-11-18 00:57] rhapsodyv commented on #20168
`endFilePrint` is not "I'm printing, I need end a printing". It is: "I just need to turn off flags of sd printing". It's called always that you removed the SD card, even if you are printing using serial. So we can't just disable the heaters in this method. We can check for sd printing, but we depend on sd detect and it impossible to handle any serial print.

I closed that issue, because that issue

[2020-11-18 01:15] Stefar77 opened #20186 "[BUG] SD card lacks error handling"
### Bug Description
When there is an issue with the SD card or SD Detect the printer will be put in invalid state.
It stops printing, hotend / spindle stay active and the display says: 'Media Inserted'
The menu still thinks you are printing

My cheap Chinese SD card has some pretty long flat cables and it just isn't as stable with SKR board then the previous Ramps board.

### Steps to Reproduce
1.

[2020-11-18 01:19] rhapsodyv commented on #20168
Our best bet for that is turning on `HOTEND_IDLE_TIMEOUT`. It will stop heaters when hot stay idle for some timeout. It solves the SD card removal, disconnection when printing over serial and any other type of printing interruption.

@Stefar77 Did you try `HOTEND_IDLE_TIMEOUT`?

[2020-11-18 01:31] #19212 closed, assigned to nobody

[2020-11-18 01:31] #18180 closed, assigned to nobody

[2020-11-18 01:40] rhapsodyv commented on #15390
Today another user with similar issue. Looking at marlin options, I think the best approach for any printing interruption is just use HOTEND_IDLE_TIMEOUT. It will handle any type of printing (serial, sd, with and without sd detect pin), and it will protect the printer.

[2020-11-18 02:18] rhapsodyv commented on #20172
The fix was merged.

[2020-11-18 02:18] #20172 closed, assigned to rhapsodyv

[2020-11-18 02:30] rhapsodyv commented on #19899
So the error only happens on UBL? With ABL it works fine?

[2020-11-18 02:46] sjasonsmith commented on #20168
@rhapsodyv pointed out that this is already reported and has been discussed in another issue, I will close this as a duplicate.

[2020-11-18 02:46] sjasonsmith commented on #20168
Duplicate of #15390

[2020-11-18 02:46] #20168 closed, assigned to nobody

[2020-11-18 02:47] sjasonsmith commented on #20186
Duplicate of #15390

[2020-11-18 02:47] #20186 closed, assigned to nobody

[2020-11-18 02:53] sjasonsmith commented on #20180
There is nothing we can do with this without configuration files. We don't even have actual measurements or mesh values. For now I will close this issue since we are missing required information.

There are some steps you can use to gather additional information over serial, which might help understand leveling problems.

- Download Marlin bugfix-2.0.x to test with the latest code.
- Enable DEBUG_

[2020-11-18 02:53] #20180 closed, assigned to nobody

[2020-11-18 02:55] rhapsodyv commented on #19273
Do you have another OS or board to test? Just to try to exclude OS and hardware as main problem.

[2020-11-18 03:13] Bob-the-Kuhn commented on #13020
See PR #13116 for the companion to this FR.

I know I have further emails on this but I can't find them.

If I remember correctly (a BIG if). we weren't able to talk to the LCD module.  The SD card and the WIFI were also on this module.  The net result is the typical user had no way to download the new code.

[2020-11-18 03:13] sjasonsmith commented on #20122
This change has been merged. I'll go ahead and close this since you tested it in the PR.

[2020-11-18 03:13] #20122 closed, assigned to nobody

[2020-11-18 03:48] sjasonsmith commented on #20119
I am assigning this to myself to fix the timer conflict. Finding appropriate defaults is a bit complicated, due to various boards setting different values in their `variant.h` files.

I believe Timer 6/7 are Basic timers, so it is possible they don't work exactly as intended. I _think_ they work fine in this HAL, but I want to verify that before I move anything critical like the STEP or TEMP timer

[2020-11-18 04:01] sjasonsmith commented on #19132
@wrightwells, I plan to put some effort into debugging reported leveling issues over the coming weeks.
Would you be able to update to the latest bugfix-2.0.x again, and verify that you can still produce the problem?

I'm sorry to ask you to do it again, but without hardware similar to yours it would be hard for me to know if it is still happening.

Please include your configuration files and any o

[2020-11-18 04:03] sjasonsmith commented on #19833
How does bed leveling work with an IDEX printer? You have two carriages on a single Z axis. It will be impossible to compensate for both at the same time.

@InsanityAutomation what are your thoughts on this?

[2020-11-18 04:13] sjasonsmith commented on #19217
Could you try this with `ABL_BILINEAR_SUBDIVISION` enabled, to see how it impacts the behavior?

You will need to use the absolute latest from `bugfix-2.0.x`, as I just fixed an issue which could cause part of the subdivided mesh to be invalid.

[2020-11-18 04:14] sjasonsmith commented on #19217
I would also appreciate some updated configs from anyone experiencing this, which build against the latest bugfix.

[2020-11-18 04:19] sjasonsmith commented on #19611
I am assigning this to myself to look into the problems caused when `USE_ZMAX_PLUG` is enabled along with probe homing.
I've encountered several users with this error, so I'd like to do something to prevent it.

[2020-11-18 04:34] sjasonsmith commented on #18769
@OC-Rookier, you said this a while ago:

Could you provide more information about how you reached this conclusions? if it is in your log files, could you point me to the location of that information?

[2020-11-18 04:38] sjasonsmith commented on #20126
Closing, since I don't think we can approach this issue without configuration and pins files.

[2020-11-18 04:38] #20126 closed, assigned to nobody

[2020-11-18 04:47] Sebbb commented on #19659
https://duet3d.dozuki.com/Wiki/Duet3dFilamentMonitor_LaserVersion uses a similar approach and protocol, having support for such open hardware would be nice.

[2020-11-18 05:27] atharvbadkas opened #20187 "Marlin-2.0.7.2-SKR-mini-E3-V2.0 does not work with BTT UPS 24V"
Wiring:
The UPS is connected to PWR-DET (on the SKR-mini-E3-V2.0 board).

Configuration:
The Configuration_adv.h is set as in the documentation herein. The POWER_LOSS pin is taken from the source in btt git. It is the PC12 (value 44) configured in Configuration_adv.h (#define POWER_LOSS_PIN PC12).

Reproduce:
When the power outage detection is turned on, the printer immediately after starting a pr

[2020-11-18 06:18] ellensp commented on #20187
PWR-DET has 3 pins, are you sure you are using the left most pin (when power in plug is on left)

[2020-11-18 06:47] BadPanda357 opened #20189 "MKS Gen L v1.0 + TMC2209"
I cant make TMC2209 to work in UART mode. Standalone works fine but when i connect it via Uart it shows all low. I tried pin remaping and nothing helps.
Im using https://wiki.fysetc.com/Silent2209/ this drivers *V3
[Configuration (1).zip](https://github.com/MarlinFirmware/Marlin/files/5558238/Configuration.1.zip)

[2020-11-18 06:53] ellensp commented on #20189
Not a standard driver config for this Controller.
No information on how they wired it up.
Please go to the the Marlin discord for live help, not here

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-r

[2020-11-18 06:53] #20189 closed, assigned to nobody

[2020-11-18 09:40] boelle commented on #19273
English works better

[2020-11-18 10:09] teoDoul opened #20190 "BLTouch Crashes in bed when auto-homing"
Bug Description

The BLTouch does not stop the Z-axis stepper motor on homing.

My config:
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5559270/Marlin.zip)

Steps to Reproduce

Launch Homing XYZ
Look the z stepper motor to push on the bed
Turn off power
Expected behavior: The z stepper motor should stop

Actual behavior: The z stepper motor does not stop

[2020-11-18 10:10] teoDoul commented on #20190
I know it is answered but i didn't come to any solution from previous ones

[2020-11-18 10:28] Stefar77 commented on #15390
This one is more then a year old?! It only took me more then 15 minutes to find this bug because I was unsure why it was stopping without any feedback to the user and I fist suspected the TMC controllers because I needed to finish the drivers a bit.
The moment I realized what was happening I removed the endFilePrint from the release function and it fully solved my issues.

People having this issue

[2020-11-18 10:54] ellensp commented on #20190
Please attach pictures of how bltouch is connected to the controller.

[2020-11-18 10:55] intuity-hans commented on #19253
@fedetony, are there any news on this subject?

[2020-11-18 11:09] teoDoul commented on #20190
The Images

https://imgur.com/a/40xQkrk

[2020-11-18 11:24] ellensp commented on #20190
![pins](https://user-images.githubusercontent.com/530024/99524532-6d2c0c00-29fd-11eb-9485-eb32df628f71.png)
Your black/white cable is in backwards

[2020-11-18 11:29] teoDoul commented on #20190
I changed it. Now it still hits the board but only for a seconds. Before it was non-stop. How can I fix that?

[2020-11-18 11:32] ellensp commented on #20190
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-18 11:32] #20190 closed, assigned to nobody

[2020-11-18 11:33] atharvbadkas commented on #20187
Yes, To even make sure UPS works,I checked its voltage levels,When power outage occurs,It goes from LOW to HIGH.
My Hardware is ok but when I start print, In 3-4 Secs power outage occurs and I have to forse shut down the printer.
I think its bug in marlin.

[2020-11-18 11:34] teoDoul commented on #20190
Ok thanks

[2020-11-18 11:38] atharvbadkas commented on #20187
I also saw similar issues in bigtreetech GitHub page regarding power outage, So created this issue in marlin, So bug gets fixed from here.

Links of Bigtreetech GitHub page issues -
https://github.com/bigtreetech/BIGTREETECH-MINI-UPS-V2.0/issues/11
https://github.com/bigtreetech/BIGTREETECH-MINI-UPS-V2.0/issues/10

I even tried it for Marlin 2.0.5 version but no luck.

[2020-11-18 12:11] Stefar77 commented on #20168
It was indeed still disabled by default and I forgot to enable it and makes this less of a fire hazard. :+1:
However I don't like the lack of feedback when something stops the printer and the state it enters when it has an SD card issue or 'accident'.

I started out suspecting the TMC drivers at first because I've seen a lot of people using them having the same issues.
The lack of feedback from th

[2020-11-18 12:22] halloworld007 opened #20192 "[BUG] After TFT_LVGL_UI flash not more Chitu"
I am installing marlin with TFT_LVGL_UI

I want back to chitu
and now i am only this
![lcd error](https://user-images.githubusercontent.com/20744234/99530006-024ce780-29a1-11eb-9aa5-5e792a3a4456.jpg)

i cant back to chitu
only marlin can flash

whats can i doo?

is a tronxy xy2 pro with v6 board

[2020-11-18 12:27] ellensp commented on #20192
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-18 12:27] #20192 closed, assigned to nobody

[2020-11-18 13:42] xruell commented on #20190
Teaching Tech on youtube has several step by steps for BLTouch .. got mine working great. You will have to use a piece of paper between the glass and nozzle initially to set Z offset. Then trial and error to get the right squish in the initial layer. Once set it really rocks for me.

[2020-11-18 14:06] OC-Rookier commented on #18769
I came to this conclusion after running Tests 11, 12, and 13 in my test runs. The download for all the logs and the pictures of the prints are in [this comment](https://github.com/MarlinFirmware/Marlin/issues/18769#issuecomment-664029148). Test 11 was the same configuration from the previous test, and the print was satisfactory. However, when I purposely changed the bed level for Test 12, the laye

[2020-11-18 15:10] minosg commented on #18769
Couldn't we also verify it using a controlled experiment?

* start an auto levelling routine and use a ruler on one of the sides to skew 3 points of the 9 point grid off. Then save the mesh.
* Remove the ruler and try to print. If the first layer is placed on air in the area where the ruler was then you know the saved grid was used instead of the one read in the current run of the auto bed levelli

[2020-11-18 15:18] wrightwells commented on #19132
@sjasonsmith Will do and thanks, I'll attempt to do this at the weekend.

[2020-11-18 15:57] brosskgm opened #20194 "error: 'class Temperature' has no member named 'extrude_min_temp'["
Marllin 2.0.7.2 - Downloaded 11/18/2020

i3 Mega Configuration.h and adv.h also downloaded 11/18/2020
The only thing I can find close to that is in configuration.h  #define EXTRUDE_MINTEMP 170

This will be running on SKR v1.3 with TFT35 v2.0 and All Mega stand-off boards removed and all wired direct.

If there is alternative config files for the i3 since all Anycubic boards are removed and all is

[2020-11-18 15:58] brosskgm commented on #20194
It didn't post my comment/

[2020-11-18 16:11] brosskgm commented on #20194
It does not allow
#define PREVENT_COLD_EXTRUSION
#define EXTRUDE_MINTEMP 170

To be disabled like in the past.

[2020-11-18 16:11] #20194 closed, assigned to nobody

[2020-11-18 16:44] sjasonsmith commented on #20194
I think this was already patched in the bugfix branch.

[2020-11-18 16:56] rhapsodyv commented on #20157
The fix was merged. Closing this.

[2020-11-18 16:56] #20157 closed, assigned to rhapsodyv

[2020-11-18 17:44] thisiskeithb opened #20195 "[BUG] REPRAP_DISCOUNT_SMART_CONTROLLER and ROTATE_PROGRESS_DISPLAY fails to compile"
### Bug Description

Using the latest `bugfix-2.0.x`(41529b6), `REPRAP_DISCOUNT_SMART_CONTROLLER` with `ROTATE_PROGRESS_DISPLAY` causes the build to fail. This was due to the "Reduce, reuse, recycle" (b6bb4fa) refactoring commit in https://github.com/MarlinFirmware/Marlin/pull/20148 before it was merged.

<details><summary>Error output:</summary>
<p>

[code]

</p>
</details>

### Configuration Fil

[2020-11-18 18:14] fedetony commented on #19253
@intuity-hans  I personally do not see an issue on my machine. When moving on the fastest speed and I use the pause it does not loose steps at all. I tried to modify the stepper function adding deceleration but it didn't work, and since I do not have a way of debugging it, I just left it there. The deceleration routines are implemented inside the stepper .C file I couldn't trigger them yet I only

[2020-11-18 18:24] jbbandos commented on #20105
@takumi-84 was right, I had the same issues with 2.0.7.0:
//action:notification Ender 3 Pro Ready.
echo:busy: processing
Bilinear Leveling Grid:
      0      1      2      3      4
 0 +0.205 +0.198 +0.206 +0.214 +0.203
 1 +0.242 +0.231 +0.224 +0.217 +0.194
 2 +0.347 +0.340 +0.344 +0.356 +0.359
 3 +0.510 +0.454 +0.383 +0.402 +0.363
 4 +0.519 +0.522 +0.533 +0.557 +0.543

echo:busy: processing
X:227.

[2020-11-18 18:35] sjasonsmith commented on #20105
I plan to work on this next week. If anybody can help identify dates between those two versions which still work properly that would be a great help. The best scenario would be a single commit ID where the behavior changed.

Leveling issues are often hard to debug, because it is hard to separate mechanical issues from software issues in reports. If we have an exact configuration that works on one

[2020-11-18 19:05] jbbandos commented on #20105
Ok, I'll do my best to keep testing the commits between 2.0.6.1 and 2.0.7.0. At least on my ender 3 pro / skr mini e3 v2 it is reproducible. On the CR10V3 I don't have this issue, so it is also probably hardware related.

[2020-11-18 19:14] brosskgm commented on #20194
Just tried 2.0.7.3 and it worked fine. Thank you.

Just a few more things to figure out for leveling and will be ready to print.

Thanks Will close.
Bob

[2020-11-18 19:46] thisiskeithb commented on #18083
To get it working in the interim, change this line in `platformio.ini` from:
https://github.com/MarlinFirmware/Marlin/blob/41529b65988a58ba512977e0fe1692aaeeb6c811/platformio.ini#L227

To:
`USES_LIQUIDCRYSTAL      = LiquidCrystal=https://github.com/gerdj/LiquidCrystal/archive/master.zip`

It's a custom library that works with both traditional HD44780 LCDs and the WINSTAR OLED.

[2020-11-18 19:53] FFY00 opened #20196 "[FR] Allow displaying printing menu/status from outside (via GCODE)"
### Description

Marlin is able to print files standalone, and has a menu/status page to show the print information and some controls. This is very useful, but sometimes we want to control the print from the outside, eg. with octoprint. Unfortunately, when doing this we lose the Marlin printing menu/status page.
I propose introducing a GCODE command, or more, whatever makes sense, to enable an out

[2020-11-18 20:26] fiveangle commented on #19592
Resolved by #19907

[2020-11-18 20:55] chevyman142000 commented on #19944
I am also having this same issue. More than glad to help troubleshoot if you need anything.

[2020-11-18 21:46] bvrielink commented on #20105
Got the same problem on an Ender 5 Pro also with a SKR Mini E3 2.0 board. Don't know exactly when it started but at least firmware version 2.0.7.0 and 2.0.7.2 has this problem for me. Can do some tests next week if needed. Printer is getting some upgrades so is not working atm.

[2020-11-18 22:05] nicwilson58 opened #20197 "Hotend idle timeout is not reset by new temperature command or change in temperature"
Tested in 2.0.7.2 and `bugfix-2.0.x` branch

no need to attach any configuration as this has be tested in the default configurations versions.  (its not a config thing, this is idle code not using temperature changes in gcode to reset the timeout timer.

###Overview
if the hotend idle timeout is enabled  (#define HOTEND_IDLE_TIMEOUT),  the timeout can occur even though a print has started,  for ex

[2020-11-18 22:16] thisiskeithb commented on #20197
Duplicate of https://github.com/MarlinFirmware/Marlin/issues/19610

[2020-11-18 22:16] #20197 closed, assigned to nobody

[2020-11-18 22:17] thisiskeithb commented on #20197
No, that's not how reporting an issue works.

When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact.

For reference, these are the instructions included in the template:

### Before Reporting a Bug

1. Test with the `bugfix-2.0.x` branch to see whether the issue still exists.

2. Get troubles

[2020-11-18 22:17] Liger0 commented on #19405
+1

[2020-11-18 22:22] discip commented on #19217
@sjasonsmith
No, unfortunately still present. 😭

[Configuration_adv.h.txt](https://github.com/MarlinFirmware/Marlin/files/5563067/Configuration_adv.h.txt)
[Configuration.h.txt](https://github.com/MarlinFirmware/Marlin/files/5563068/Configuration.h.txt)

## Thank you for investigating on that! 😁👍
kind regards

[2020-11-18 23:21] sjasonsmith commented on #20105
@bvrielink please post your configuration files if you are seeing this precise problem. Having configs from a few affected uses may help identify common themes.

[2020-11-18 23:23] sjasonsmith commented on #19944
It would help if you can try an older version such as 2.0.6.1, to determine whether this problem is new.

[2020-11-19 00:34] anesuccio commented on #20105
I am affected as well with this problem.
Not sure if it works fine flashing 2.0.6.1, I couldn't do it now.

### Hardware & Firmware
Ender 3
SKR mini E3 v2.0
BLTouch v3.1
Marlin 2.0-bugfix downloaded 8th November 2020.

### Configuration files
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5563476/Configuration.zip)

### Steps to reproduce (including EEPROM reset)
M502
M500
M190

[2020-11-19 00:39] sjasonsmith commented on #20105
@anesuccio which versions and/or commits were those "breaking" and "non-breaking" versions using?

[2020-11-19 00:47] VanessaE commented on #19217
I'm now at commit 41529b65, and can confirm @discip's results.  Z jerk of 0.5 for testing, `ABL_BILINEAR_SUBDIVISION` with the default of 3 subdivisions compiled-in.

[2020-11-19 00:47] anesuccio commented on #20105
The same 2.0.7.2 version. String distribution date 2020-07-09.
[Version.h.zip](https://github.com/MarlinFirmware/Marlin/files/5563581/Version.zip)

Breaking and non-breaking are referred to the steps to reproduce.

[2020-11-19 01:15] washeree opened #20198 "[BUG] MKS-Robin V2.3 SD Card Wont Recognizing"
Hello everyone,

I decided to put MKS Robin to my old printer, i compiled without error but it wont read sdcard, i tried all options also i checked old posts some people made it work but when i changed ;

#define SDSUPPORT
//#define SDIO_SUPPORT

and

  // SD as custom software SPI (SDIO pins)
  #define SCK_PIN                           PC12
  #define MISO_PIN                          PC8
  #defin

[2020-11-19 01:43] sjasonsmith commented on #20105
@anesuccio does it break if you use `G29 J` (without the `2`)?
This is just a thought, since an ideal plane can be formed from 3 points (the default), but requires approximation for the 3 points I would expect `J2` to probe.

I realize I am asking a lot of questions. I'm just trying to get the best understanding I can of where people are encountering these issues. I am hoping to replicate the test

[2020-11-19 01:49] washeree commented on #20198
Also with 2.0.7.2 if i enable mesh bed levelling, it gives a error that lcd tft doesnt have "CLICK" positions.

[2020-11-19 02:01] Vertabreak commented on #20105
My only question is why is G29 J being used at all this is the tilt feature that would only come in to play if you have bed knobs and someone decided to play with them after creating a mesh to compensate rather then rerunning G29 P1.

[2020-11-19 03:04] OC-Rookier commented on #18769
Off topic, but I think an update broke my VS Code install, and now says `execvp(3) failed.: No such file or directory` immediately when attempting to build the new bugfix firmware for testing. I'll have to hold off on updating my printer from new firmware until I get this sorted out.

I can go ahead and try minosg's testing idea with my older firmware.

[2020-11-19 03:56] rhapsodyv commented on #20186
@Stefar77 I just sent a PR that will correctly abort the print, when the media was removed during a printing.

[2020-11-19 03:58] rhapsodyv commented on #15390
I just sent a fix to abort the printing, if card is removed during a printing from SD.

[2020-11-19 05:25] beepee123 commented on #20105
This seems related to an issue I am experiencing. Using a Nov 13 pull of bugfix-2.0.x on a SKR mini E3 2.0.

Using a servo+microswitch ABL, it seems I cannot get bilinear ABL to function correctly. I went back to my Creality Melzi board and things work fine. Completely re-aligned gantry, cleaned and realigned z-screw, realigned bed with spirit level and calipers, taped up bed adjustment screws to

[2020-11-19 05:41] rhapsodyv commented on #15390
The fix was merged. I will close this.

[2020-11-19 05:41] #15390 closed, assigned to nobody

[2020-11-19 05:42] shitcreek commented on #20182
This issue still exists in the latest bugfix
The problem is that `LASER_POWER_INLINE` affects the normal behavior of `M3` and `M5`. It expects a follow up G move command to turn off the laser. Ending the file with `M5 I` does not turn off the laser as well. The work around is to end the file with an `G0` or `G28` if you are using `LASER_MOVE_G0_OFF` or `LASER_MOVE_G28_OFF`
There is also no need to

[2020-11-19 05:44] shitcreek commented on #18965
Check out that PR of mine, I try to fix this issue, with some success. Still need more testing and how it will behave with certain features turned off.

[2020-11-19 06:06] ellensp commented on #20154
This has been found and fixed in bugfix, see above PR

[2020-11-19 06:10] #20195 closed, assigned to nobody

[2020-11-19 06:34] atharvbadkas commented on #20187
To better understand this bug/issue I have made a video.
Link of video and config files -

https://drive.google.com/folderview?id=1XO3e_3qdQjLRWFBe841LIy1TkoSQHiZj

The video starts with printer updating firmware to marlin 2.0.7

[2020-11-19 07:16] nicwilson58 commented on #20197
Then forget it,  my steps were clear if you want me to jump through hoops I won’t I was trying to help, so keep your bug I will fix this myself and keep it to myself.

Sent from my iPhone

[2020-11-19 07:27] ryanaukes commented on #18965
Thanks, I will definitely check it out!

[2020-11-19 08:27] sjasonsmith commented on #19795
This change was merged into the bugfix-2.0.x branch today. I'm closing this issue out, go ahead and reply if you encounter problems using the change.

[2020-11-19 08:27] #19795 closed, assigned to sjasonsmith

[2020-11-19 08:49] bvrielink commented on #20105
@sjasonsmith Here are my config files: [config.zip](https://github.com/MarlinFirmware/Marlin/files/5565486/config.zip)

[2020-11-19 09:24] tommylux commented on #19877
Sorry if this is the wrong place and I don't fully understand the Github workflow:
I have a A20T with runout sensors and it doesn't detect when the filament runs out. I understand this to be the bug relating to this issue. What is the status of it, has it been committed to the bugfix branch?
I am just working out how to compile the hex and youtube seems out of date.

Thanks

[2020-11-19 09:33] labotecno commented on #18307
i have a same problem seem when is power off fallow to print little and stop ... i put pin from pwdet P1_00 and nothing at all , skr 1.4 turbo with tmc2209 thank you to help me

[2020-11-19 09:57] intuity-hans commented on #19253
Thanks for the quick reply! Just so I understand what you did – it is now possible to pause the program while it is executing a movement command. But, instead of an emergency stop (which clears the planner buffer) it is able to restart , right?

[2020-11-19 10:08] washeree commented on #20198
Last nightly build now im trying and i got this error ;

Linking .pio\build\mks_robin_stm32\firmware.elf
c:/users/washere/.platformio/packages/toolchain-gccarmnoneeabi/bin/../lib/gcc/arm-none-eabi/9.2.1/../../../../arm-none-eabi/bin/ld.exe: .pio/build/mks_robin_stm32/src/src/gcode/gcode.cpp.o: in function `GcodeSuite::process_parsed_command(bool)':
C:\Users\WaShErE\Desktop\Marlin-bugfix-2.0.8\Marl

[2020-11-19 10:16] Aracos commented on #19602
Still got the same Problem ( Compiled the latest Bugfix yesterday ) for a Tronxy XY-2 Pro with V6 Board.
Goes to X Y Home, Heats up, then nothing. Touchscreen says printing.

[2020-11-19 10:31] borsegbr commented on #19602
https://github.com/MarlinFirmware/Marlin/pull/20035#issue-516017686
This for me fix the problem, now work well

[2020-11-19 10:39] Stefar77 commented on #15390
Does it put a message on the display when it stopped with the reason?
I was pretty mad about it because I thought I fixed my 'driver' issue and after 2 days of printing it failed on 90% of my print and it turned out not to be the drivers but the damn SD card reader.

Ps. Since I replaced my X stepper motor I haven't seen "Media Inserted" message yet, the stepper is a lot smaller and makes the prin

[2020-11-19 10:51] fedetony commented on #19253
it is now possible to pause the program while it is executing a movement command?
Yes, the command P000 will pause Marlin while moving (probing,homing,or any positional movement). Will not do anything if not moving. For that you need M0 and M108 to resume

But, instead of an emergency stop (which clears the planner buffer) it is able to restart , right?
Yes, When in P000 state, you can:
Resume S00

[2020-11-19 12:26] anesuccio commented on #20105
Yes, it does break after G29 J without setting the number of points. Here is the mesh after that command. I'm observing a similar unexpected "tilt" (printer was not touched and i can see way too high increments).
[code]

I use this because I print very fine layers (0.06mm) and using the same glass bed (not something magnetic I can take off for detaching printed objects). So I tilt the bed slightly

[2020-11-19 12:36] cvanbusk opened #20204 "[BUG]probe wizard homes n goes back to main screen (short description)"
Latest version of bugfix, and config. Was working yesterday when I complied firmware. I'll try again tonight, but hopefully someone has had this issue n can point me in the right direction.

[2020-11-19 15:26] bkiziuk commented on #19273
@rhapsodyv I'm trying to check it. It will take some time.

[2020-11-19 16:48] qwewer0 commented on #20204
@cvanbusk

[2020-11-19 16:49] qwewer0 commented on #20204
When I go to Probe Offset Wizard in the LCD

1. It shows "Homing XYZ"
2. Before homing is done the LCD goes back to the status screen
3. After it homed, it doesn't move to bed center (`PROBE_OFFSET_WIZARD_XY_POS`), stays at homing position
4. If I select Probe Offset Wizard again, LCD shows "Moving..."
5. It starts to move to home direction (X/Y min) until it hits one of the endstops
6. After it h

[2020-11-19 17:11] jbbandos commented on #20105
My apologies to everyone, I made a huge mistake - I didn't recompile 2.0.6.1 with my current configurations, but instead was comparing to a version I had compiled and lost the configurations. And what I found is that when I compile 2.0.6.1 with my current configurations, I get the same issue (fake lift and distortion of the back of the bed) as with the versions after that one.
I used a copy of the

[2020-11-19 20:00] jbbandos commented on #20105
After about half a dozen of tests and builds, I identified HOMING_FEEDRATE_Z as the configuration that breaks ABL for me. If I leave it at the default (4*60), ABL works. Changed to (6*60) as I had, and ABL gives the strange values. My apologies to the developers, I should have rebuilt 2.0.6.1 to start with.

[2020-11-19 20:24] thierryzoller commented on #9802
Funny - I arrived at this thread via Google. My current Sapphire PRO does exactly what is being asked (First homes Z, then homes Z slower during G28) I wanted to replicate this for a second Printer, but... I can't. So I was looking for what made my Marlin Build  have my sapphire exactly act like this, currently can't replicate..

[2020-11-19 20:48] qwewer0 commented on #9802
@thierryzoller Do you mean, G28 does a fast (`Z_PROBE_SPEED_FAST`) probing, then a slow (`Z_PROBE_SPEED_SLOW`) probing?
Because that is how it is currently working, and this FR is for to be able to do more than one slow probing after the fast probe.

[2020-11-19 20:55] washeree commented on #20198
Ok, i made it work with #define CONFIGURATION_H_VERSION 020008 (Last nightly build now), here is how ;

config_adv;
#define SD_DETECT_STATE HIGH
#define SDCARD_CONNECTION ONBOARD

config;
#define SDSUPPORT
#define SDIO_SUPPORT

I changed it but i dont think so its effective.
#define SPI_SPEED SPI_HALF_SPEED

I know Marlin is getting hard to deploy because now there are lots of boards on the market

[2020-11-19 20:55] #20198 closed, assigned to nobody

[2020-11-19 21:28] hamster65 commented on #20105
I have got #define HOMING_FEEDRATE_Z  (4*60) which is Marlin's default, I believe. Maybe something is off with the timing during leveling so that higher speeds cause these issues. Linear levelling seems to work, but bilinear gives an uneven and slightly tilted bed.

[2020-11-19 21:34] anesuccio commented on #20105
I've got also the default HOMING_FEEDRATE_Z (4*60), with UBL activated.

I tried also to change with G1 X Y the initial probing position for G29 J2. The mesh always breaks.

Can I use the same configuration.h and configuration_adv.h file for older version of Marlin to find the breaking-version?

[2020-11-19 22:13] rooiejoris commented on #17342
Don't think this is the best place, but also don't know if it is worth for a new issue...?!
It is related to Junction_deviation, since I tested that and didn't solve the stuttering...: )
I am trying to optimize the speed of a large fdm printer (600x1000x600)mm by tuning marlin, but some things are not so clear to me and cannot find it in better/other github issues...
With the high res lines the mo

[2020-11-19 22:26] onfoot opened #20210 "[BUG] Confirming status screen parameters using touch on TFT_COLOR_UI resets them to 0"
### Bug Description

When opening bed, nozzle temperature, or fan speed setting from the status screen on TFT_COLOR_UI running on TS35, tapping on the checkmark to confirm the setting sets it to 0, even if they are set to a non-zero value.

It works properly when accepting the setting using the rotary encoder.

Doesn't matter whether the value is changed using the rotary encoder, the slider, or th

[2020-11-19 23:22] Sh8tan opened #20211 "[BUG] g29 s1 doesn't keep home offset MBL bugfix-2.0.x 20000008"
### Bug Description

When doing mesh bed leveling, g29 s1, does not start from home offset but from endstop.

When doing g28 here is my positions are x=0 y=0 z=-350

### Configuration Files

Last bugfix-2.0.x

### Steps to Reproduce

1. G28
2. Move z until +0.350
3. Set home offset
4. Store settings
5. G28
6. Mesh bed leveling
7. First probe point touch the bed until raise to 0.350

**Expected beh

[2020-11-20 00:00] rhapsodyv commented on #20210
Are you using last bugfix?

I tested it and worked for me.

[2020-11-20 00:08] #20116 closed, assigned to nobody

[2020-11-20 00:15] Section59 commented on #20210
Having this issue also using #define MKS_ROBIN_TFT35 - Setting it via octoprint seems to work, and shows on the screen as the correct set temp.

[2020-11-20 00:19] rhapsodyv commented on #20210
Ok, found it. Fixed: #20213

[2020-11-20 00:29] rhapsodyv commented on #20102
We had a bug with `SINGLE_TOUCH_NAVIGATION` that might be causing your issue. Can you test if this fixes your issue too? #20213

[2020-11-20 00:40] rhapsodyv commented on #20090
can you test this PR? #20214

Thanks.

[2020-11-20 01:19] OC-Rookier commented on #18769
Update: The `M111 S247` command no longer gives me a verbose output for some reason. Instead of getting something like:
`cv:   current_position= X142.50 Y127.50 Z8.62 : Probe::set_deployed
Recv: deploy: 1
Recv: >>> Probe::run_z_probe \x90\x16 X142.50 Y127.50 Z8.62
Recv: >>> Probe::probe_down_to_z \x90\x16 X142.50 Y127.50 Z8.62
Recv: BLTouch DEPLOY requested
Recv: BLTouch Command :10
Recv: bltouch.

[2020-11-20 01:23] cvanbusk commented on #20204
1. either shows homing xyz
2. Goes to Info Page showing ready if I go try again it show wizard setting for a short time then goes to info screen
Ender pro 3 Building with platforio latest n I tried 2.10 as that one i updated just before compiling.

Thanks
RVB

[Configuration_adv.zip](https://github.com/MarlinFirmware/Marlin/files/5570631/Configuration_adv.zip)

[2020-11-20 01:32] #19648 closed, assigned to nobody

[2020-11-20 01:32] #19641 closed, assigned to nobody

[2020-11-20 01:32] #19553 closed, assigned to nobody

[2020-11-20 01:33] #19610 closed, assigned to nobody

[2020-11-20 01:33] #19635 closed, assigned to nobody

[2020-11-20 02:07] BeansIsFat commented on #20090
I was able to compile and use the power off feature from the GUI and with M81. It appears to be functioning properly. Thanks.

[2020-11-20 02:09] rhapsodyv commented on #20090
Merged. I'm closing this. Thanks!

[2020-11-20 02:09] #20090 closed, assigned to rhapsodyv

[2020-11-20 03:21] rhapsodyv commented on #19944
It only happen with printing started / cancelled using OctoPrint?

If you start/stop the print from the LCD, do you get the same behaviour?

If you start/stop the print from the Octoprint and try to move using Octoprint interface, do you get the same behaviour?

[2020-11-20 03:41] Protean-Man opened #20215 "[BUG] Calling G29 J while ZProbe/Endstop is triggered won't stop function"
Having UBL active and calling G29 J to tilt the leveling mesh while ZProbe/Endstop is triggered will allow G29 J to run without min endstop limits being followed - which then causes bed crash and possible damage.
This isn't a bug necessarily - just a missing stop call to ensure printer doesn't break itself.

I found this out because updating to the new Bugfix had Z_AFTER_HOMING commented out by de

[2020-11-20 03:59] rhapsodyv commented on #19944
@pixelicous can you do a simple test with this branch? https://github.com/rhapsodyv/Marlin/tree/dwin-move-axis-fix It just a "try".

[2020-11-20 06:28] onfoot commented on #20210
Fix verified. 🥳

[2020-11-20 07:26] DrumClock commented on #17941
Hi @InsanityAutomation
Because the mirrored mode is still unresolved where should I send $ 10 to solve half of the idex problems?

[2020-11-20 07:32] bkiziuk commented on #20102
Tested with bugfix-2.0.x 2020-11-20.
Issue is solved.

[2020-11-20 07:36] sjasonsmith commented on #17941
@DrumClock this is all being done in spare time, and competes with "normal life" priorities. It is unreasonable to expect people to drop everything to work on uncommon features on your timeline. I am sure you could find people to prioritize it for some money, but you would probably have to add some zeroes to the offer. You _might_ be able to find some people to prioritize it in exchange for a prin

[2020-11-20 07:54] bkiziuk commented on #19273
I don't have access to another RobinNano board, however I also checked different PC, also with different OS.
I can see the same issue - at least same effect as USB traces are bit different. It is beyond my abilities to correctly interpret the correctness of USB communication.

Tested configurations:
1) original configuration
OS: Linux Mint 20 x64
Hardware: Desktop Dell PC
Capture: usbmon + libpcap

[2020-11-20 07:59] DrumClock commented on #17941
Hi @sjasonsmith  @thisiskeithb
**If I have offended someone by my attempt to remove IDEX errors, I am very sorry.**

Here I pointed out errors in IDEX modes 6 months agoand nothing happened until I tried to offer $ 20.
Unfortunately, only half of the bugs have been fixed, and since then there has been no response as to whether this continues.

I also work and 3D printers are my hobby. I build and

[2020-11-20 08:08] DrumClock commented on #17941
Why donate a printer now?

This "test frame"  https://www.youtube.com/watch?v=WkDNu3AFBKM  where you can try everything I built from leftovers in 3 hours. Perhaps anyone who is interested in 3D printing can do more than just "for printing" ....

[2020-11-20 08:09] sjasonsmith commented on #17941
The reason for my reply is the impatience. Not many people work on IDEX features, mostly because almost nobody has IDEX printers! I considered buying a printer to help you, but I would have to spend $400 for the cheapest IDEX printer around, and I already have other bugs I can work on.

As it happens, the one person really able to help you right now is just super busy, and has been all year. If yo

[2020-11-20 08:10] sjasonsmith commented on #17941
You should send people some of your test frames if you want them to help :)

[2020-11-20 08:18] DrumClock commented on #17941
**Believe me, if I can program, I will be happy to help you.**
Unfortunately, I don't even speak English, so I use a translator.

Someone can program and some can't, even if they want to.
For me, mechanics, electronics and inventing improvements are not a problem.

[2020-11-20 08:27] sjasonsmith commented on #17941
Your test bench looks interesting. Do you have plans for it somewhere, or is it completely custom and one of a kind?

[2020-11-20 08:32] DrumClock commented on #17941
It's built the way I thought. You don't need a 3d printer to verify the function.

[2020-11-20 08:51] thierryzoller commented on #9802
@qwewer0 : Don't want to highjack this issue, but I have multiple_probing set to 2 but it does only one probing move.

[2020-11-20 09:00] qwewer0 commented on #9802
@thierryzoller Exactly why we have this FR...

[2020-11-20 09:03] thierryzoller commented on #9802
It does only 1 (one) move, it does not do the fast then the slow. So I think it must be something else outside of this FR

[2020-11-20 09:20] qwewer0 commented on #9802
@thierryzoller Sorry, I misunderstood.

At the moment, when Z homing with a probe (and with endstop if `HOMING_BUMP_MM` isn't 0), the Z axis moves to the homing position, once with  `Z_PROBE_SPEED_FAST` speed, then once with slow `Z_PROBE_SPEED_SLOW` speed, like it can be seen [here](https://youtu.be/y_1Kg45APko?t=118).
`MULTIPLE_PROBING` and `EXTRA_PROBING` has no effect on G28 probing, which is

[2020-11-20 09:25] thierryzoller commented on #9802
Thank you, that likely will solve it (Bump was set to 0). Considering this FR, I also agree that unifying this through G28 makes a lot of sense and would support this FR

[2020-11-20 11:07] FanDjango commented on #19944
Could you also check what is coded in the Octoprint Setup for "GCODE Scripts" for when a print is cancelled?

[2020-11-20 11:42] Malderin opened #20220 "[BUG] (MKS Robin nano_v2 - the touchscreen does not work)"
I'm using the latest marlin 2.x bugfix.
MKS robin nano V2 board.

### Bug Description

Everything worked two weeks ago. On the latest version of marlin, there is no reaction when pressing the touchscreen.

### Configuration Files

[configs.zip](https://github.com/MarlinFirmware/Marlin/files/5573251/configs.zip)

[2020-11-20 11:50] boelle commented on #20220
can you find out precisely where it stopped working?

[2020-11-20 11:51] boelle commented on #20102
@bkiziuk if solved then click green close button below

[2020-11-20 11:51] patlas opened #20221 "[BUG] TMC2209 UART In dual Z mode Z2 (E1) changes direction randomly"
### Bug Description

In dual Z mode for MKS Robin Nano V2 with TMC2209 controlled over UART second Z motor attached to E1 from time to time changes its direction when new move command send (no matter if over LCD or via PROTERFACE gcommand)

### Configuration Files
[ConfigHeaders.zip](https://github.com/MarlinFirmware/Marlin/files/5573281/ConfigHeaders.zip)

I have tested it in CoreXY mode and regu

[2020-11-20 11:53] boelle commented on #20215
The issue template says configs are required and i know that dev people will request them (no matter if you think they are requred or not) so:

Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

[2020-11-20 11:54] bkiziuk commented on #20102
@boelle Thought that it needs to merged first ;-) But no problem here :-)

[2020-11-20 11:54] #20102 closed, assigned to rhapsodyv

[2020-11-20 11:54] boelle commented on #20211
Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

[2020-11-20 12:03] Malderin commented on #20220
For 2 weeks there were a lot of changes, I tried to find, but failed

[2020-11-20 12:12] Sh8tan commented on #20211
My bad, here is my configs files, lines which were change are only in configuration.h

uncommented

#define PROBE_MANUALLY
#define MANUAL_PROBE_START_Z 0.2

#define RESTORE_LEVELING_AFTER_G28

and i change #define LEVEL_CORNERS_HEIGHT 0 ----> #define LEVEL_CORNERS_HEIGHT RAW_Z_POSITION (0.0)
[Configuration_adv.zip](https://github.com/MarlinFirmware/Marlin/files/5573379/Configuration_adv.zip)
[Conf

[2020-11-20 13:38] jbbandos commented on #20105
I've done a few more builds, and the only consistent trigger for the ABL errors I was seeing is changing HOMING_FEEDRATE, at least from 2.0.6.1 to 2.0.7.2. Disabling CLASSIC_JERK exacerbates the issues for me at least in 2.0.6.1, I didn't compare with it on or off.
My configurations for 2.0.7.2 are here, and I am now trying to use the exact same settings adjusted to the difference for versions in

[2020-11-20 13:38] rhapsodyv commented on #20220
We removed the touch calibration values from the board pins files. You need to copy it to your configs or use TOUCH_CALIBRATION_SCREEN to calibrate and save the values in the EEPROM.

[2020-11-20 13:38] wrightwells commented on #19132
[Marlin-bugfix-2.0.x (18112020) marlin config.zip](https://github.com/MarlinFirmware/Marlin/files/5573773/Marlin-bugfix-2.0.x.18112020.marlin.config.zip)
Here are the config files and the leveling mesh.
I have altered other setting by doing a diff from the MPCNC original , hopefully only relevant ones but I am very much a novice.
I tested this on the SKR1.3 board with DRV8825 stepper drivers, howe

[2020-11-20 13:40] anesuccio commented on #20105
I've got also the default HOMING_FEEDRATE_Z (4*60), with UBL activated.

I tried also to change with G1 X Y the initial probing position for G29 J2. The mesh always breaks.

I have also two requests:
- Can I use the same configuration.h and configuration_adv.h files for older version of Marlin to find the breaking-version?
- What configuration parameters affect the calculations of the bed tilt don

[2020-11-20 13:43] jbbandos commented on #20105
What I do is usually check out the branch I want with visual studio code, then copy the configuration.h and conguration_adv.h to the folder. The I use the open changes option (right click menu on file in the git tab) to check the changes one by one and only accept those that are configuration enabling, disabling, values, etc.

[2020-11-20 13:45] #20210 closed, assigned to rhapsodyv

[2020-11-20 13:51] sjasonsmith commented on #20102
@bkiziuk merged into the bugfix branch yes. We don’t wait for them to be tagged in a versioned release to close them.

[2020-11-20 14:41] rhapsodyv commented on #7264
Recently a user could get his QiDi woking with current marlin pins file, so I will closed this as looks like it's done.

[2020-11-20 14:41] #7264 closed, assigned to nobody

[2020-11-20 14:56] Malderin commented on #20220
I am using mksui. I didn't really understand about TOUCH_CALIBRATION_SCREEN, so I did it like this:
Added to file configuration.h:
#if ENABLED(TFT_LVGL_UI)
  #define TOUCH_CALIBRATION_X -17253
  #define TOUCH_CALIBRATION_Y  11579
  #define TOUCH_OFFSET_X       514
  #define TOUCH_OFFSET_Y       -24
#endif
The touch screen is working.

[2020-11-20 14:59] rhapsodyv commented on #20220
Exactly that! It was removed from pins file, so you need to keep it in your configs.

`TOUCH_CALIBRATION_SCREEN` option will allow you to run M995, that will show up a screen to calibrate the touch. But if you have the values, you can use it.

Thanks!

[2020-11-20 14:59] #20220 closed, assigned to nobody

[2020-11-20 15:08] cvanbusk commented on #20204
Loaded n configured 2.0.7 stable build works fine. Just n FYI.

[2020-11-20 15:14] espr14 opened #20222 "[BUG] Z Probe Past Bed with no probe defined"
### Bug Description

No probe defined but in case of Z homing it states `Z Probe Past Bed`. In fact it's not because of the probe but the position is not reachable. So the message should be changed.

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5574366/Marlin.zip)

### Steps to Reproduce

1. undefine all probes
2. define reachable safe Z homing position some

[2020-11-20 15:15] qwewer0 commented on #20204
I think https://github.com/MarlinFirmware/Marlin/pull/20167 is the culprit, but I can't test right now.

@cvanbusk Could you test [Bugfix-2.0.x 50a77ef](https://github.com/MarlinFirmware/Marlin/tree/50a77ef7f05dd4ac8b5ed3e9f3e380c5da7ef50c)?

[2020-11-20 15:24] FanDjango commented on #9802
**RFC** and **WIP**

I have been playing around with the homing code and as a first step,
added some position reports and a loop for 5 (hard coded for now) "bumps".

This was to get some indication of "how accurate" the microswitch endstops
are compared to the BLTOUCH on the Z-Axis (on this machine).

You can see that the first home after the BUMP is slightly worse off on the
X and Y Axes compared

[2020-11-20 16:24] jbbandos commented on #20105
[bugfix-2.0.x branch](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) and I have ABL BILINEAR apparently working. Logs and configs included:
[Marlin bugfix-20.0x configs.zip](https://github.com/MarlinFirmware/Marlin/files/5574766/Marlin.bugfix-20.0x.configs.zip)
[Filtered log bugfix-2.0.x.txt](https://github.com/MarlinFirmware/Marlin/files/5574768/Filtered.log.bugfix-2.0.x.txt)
With de

[2020-11-20 18:22] boelle commented on #20211
good thing i added them as this is not the default

// Choose the name from boards.h that matches your setup
#ifndef MOTHERBOARD
  #define MOTHERBOARD BOARD_BTT_SKR_MINI_E3_V2_0
#endif

default is ramps 1.4 so you prob changed a lot more than those 2 lines

[2020-11-20 18:27] Vertabreak commented on #20211
Set home offset https://marlinfw.org/docs/gcode/M206.html is part of the CNC system and without re-coding it to account for probe offsets it does not work with 3dprinters. as a work around if you account for probe offsets in addition to the number set by home offset manually with the gcode command you can get it to sorta work.

[2020-11-20 18:31] Itox001 commented on #19899
Hi @rhapsodyv , I did not test yet with ABL, I mentioned it worked since it is working for you, but I did not confirm.

I have some time now to run tests. So far I have tested with UBL off (and no other bed leveling) and the issue remains.

[2020-11-20 19:23] Misterke opened #20224 "[BUG] Filament Run-out Sensor functionality broken / limited"
### Bug Description

Merged pull-request 19965 (so far `bugfix-2.0.x` only) adds support for multiple run-out sensors, but at the same time breaks support for run-out sensors that open when filament runs out (i.e. where the pull-up/down value is attained when filament is out.   This is a consequence of no longer having separate `FIL_RUNOUT_PULLUP` and `FIL_RUNOUT_PULLDOWN` settings, but combining

[2020-11-20 19:36] porlock opened #20225 "[FR] Increase active touch fields for imgPageUp, imgPageDown and imgBack in TFT_COLOR_UI"
Current active touch fields for buttons imgPageUp, imgPageDown, imgBack  are to small if your screen is not supper responsive and/or your fingers tiny its sometimes hard to activate button.

[2020-11-20 19:53] Sh8tan commented on #20211
@boelle i already change my plateform in plateformio.ini to STM32F103RC_BTT_512K. Anwsering my own question to solve and close it :

Enable Z offset in lcd menu

1. Configuration.h

 #define PROBE_MANUALLY
 #define MANUAL_PROBE_START_Z 0.2

 #define FIX_MOUNTED_PROBE
 #define Z_SAFE_HOMING

2. Configuration_adv.h
 #define PROBE_OFFSET_WIZARD

3. SanityCheck.h
Commented line
 //#error "Z_SAFE_HOMIN

[2020-11-20 19:53] #20211 closed, assigned to nobody

[2020-11-20 20:37] FanDjango commented on #9802
I'd like to add something:

In my opinion, the following is the **real** issue here:

@GRUXXKi  wrote:

If acquiring your Z-Axis home position uses a probe and has an unacceptable range over a single use (**= does not repeat well**), your **first option is to do a G29 on each print**, regardless how long that might take.

Second option: Add a Z-MIN microswitch or home to Z-MAX against a microswitc

[2020-11-20 21:19] Cysign opened #20226 "[PCF8574 i2c HD44780 2004] (RA_CONTROL_PANEL)"
### Bug Description

Simple HD44780 display using PCF8574 i2c portexpander doesn't work.

Enabling RA_CONTROL_PANEL (which ought to be HD44780 running on PCF8574) gives back a compiling error:

[code]
Marlin\src\lcd\HD44780\ultralcd_HD44780.cpp:71:55: warning: invalid conversion from 'int' to 't_backlightPol' [-fpermissive]
   LCD_CLASS lcd(LCD_I2C_ADDRESS, LCD_WIDTH, LCD_HEIGHT);

[2020-11-20 21:56] InsanityAutomation commented on #17941
The $$ incentive was irrelevant really, and can just donate it to the marlin funding if you want. Request came in when I happened to have 30min to poke at it so I happened to see it and hit it quick. The other half needs more than a passing time investment so it'll need to wait till I'm working less than 60 hours a week. Unfortunately I've been slammed since covid put everything behind.

[2020-11-20 22:14] Aracos commented on #19602
Yep. Fixed it for me too. Just found out i compiled the Release Version and not the Bugfix.

[2020-11-20 22:48] anesuccio commented on #20105
Sure. I'll try tomorrow morning.

[2020-11-20 23:29] workale opened #20229 "[FR] Color UI interface mixing tab"
HI, in marlin in the classic ui there is the tab of the of the mix of filaments, while in the new color ui interface is not present, you can implement it in the color ui interface?
Thank you.

[2020-11-20 23:41] anesuccio commented on #20105
@jbbandos Sure. I have to adapt them because I'm using an Ender 3, not Pro. I think to test tomorrow morning.

[2020-11-21 00:29] ellensp commented on #20226
This has already been fixed, but is only available in bugfix at this time.
See https://github.com/MarlinFirmware/Marlin/pull/19875

[2020-11-21 00:29] #20226 closed, assigned to nobody

[2020-11-21 01:38] thinkyhead commented on #20224
I see. I guess it makes a certain sense since we're detecting, not the runout state, but the presence state. It may actually be that the real problem is that the pull is inverted from what it should be, due to this reversed meaning.

[2020-11-21 02:56] rhapsodyv commented on #20149
I tested it in the simulator, and I could change the filament two times with success.

[2020-11-21 03:34] Portzal commented on #18286
I have finally fitted some E3D high torque 0.9's to my new CoreXY and I am very happy with how they are behaving in StealthChop at higher speeds. Board SKR V1.4 Turbo, TMC2226's. Speeds in video are 100mm/s print speed and 150mm/s travel speed. Even at 200% they are still behaving. https://youtu.be/gTiPXbDZtqo

[2020-11-21 06:17] Misterke commented on #20224
This (just inverting the pull-up/down) will not fix the problem, it just changes which filament run-out sensors are supported and which are not.

Take the example of a sensor with a simple end-stop switch which has 3 pins: Common, Normally-Open and Normally-Closed.  If you connect the Common pin to GND, then depending on which other pin of the switch you use (NO or NC), your STATE value will have

[2020-11-21 08:05] ellensp commented on #20222
Cannot reproduce, Steps to reproduce unclear. Does not happen with provided config files.

1. this is clear.
2. I set the following, is this what you mean?
#define X_MIN_POS -10
#define Y_MIN_POS -10
3. this is clear
4. I set, the following, is this what you mean?
  #define Z_SAFE_HOMING_X_POINT -2 // X point for Z homing
  #define Z_SAFE_HOMING_Y_POINT -2 // Y point for Z homing
5. It attempt to

[2020-11-21 08:39] ellensp commented on #20222
Why do you need safe homing without a probe? It doesn't make sense.
If you have safe homing the system thinks the Z endstop is mobile (ie attached to the extruder) in which case it is a probe of some sort.
Other wise the Z endstop is fixed to frame and Z should be able trigger it with X and Y in any reachable location.

[2020-11-21 08:48] sjasonsmith commented on #19804
Don't be fooled by the "Merged" PR above, that was a similar issue that I thought might have shared a root cause with this. It is very similar, but in different code.

[2020-11-21 08:51] DrumClock commented on #17941
Hi @InsanityAutomation
Thanks, $ 20 to donate funding to Marlin.

I found other bugs in IDEX modes, especially in X shift restrictions.
Should I post them here or start new issues?

[2020-11-21 09:32] thierryzoller commented on #9802
`Now for the Multi-Homing option: If your probe repeats well (you can test this with M48) but has a different base offset between individual uses (over many days), this option won't help you. I.e. the probe might offset some millimeters today but differently tommorow. This is possibly the case for inductive and capacitative probes. In this case multi-homing won't really help.`

This is exacty the

[2020-11-21 10:19] bosd opened #20230 "[BUG] Sensorless Homing on 2nd X axis not triggering [TMC2130]"
### Bug Description

Sensorless Homing is not working for Sensorless with TMC2130 driver on the X2 axis.

### Configuration Files

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5577387/Configuration.zip)

If you've made any other modifications describe them in detail here.

### Steps to Reproduce

1. Checkout latest bugfix 2.0 branch
2. Uncomment `X_DUAL_STEPPER_DRIVERS`
3. In

[2020-11-21 11:12] anesuccio commented on #20105
Still not working for me.

[2020-11-21 11:27] Patag opened #20231 "[BUG] Thermistors 998 & 999 make heated bed completely disappear from Marlin"
### Bug Description
Since few days, the heated bed disappeared from info screen and all related menus.
I'm using dummy thermistor 998 (tried also 999) as bed sensor on a test bench.

### Configuration Files
[config.zip](https://github.com/MarlinFirmware/Marlin/files/5577504/config.zip)

### Steps to Reproduce

1. #define TEMP_SENSOR_BED 998 (or 999) in configuration.h
2. Compile, download & run

*

[2020-11-21 11:30] franz1976 opened #20232 "Marlin-bugfix-2.0.x] MKS Gen 1.4 TMC2208"
# NO SUPPORT REQUESTS PLEASE

Do you want to ask a question? Are you looking for support? Please don't post here. Support Requests posted here will be automatically closed!

Instead use one of the following options:

- The Marlin Firmware forum at https://reprap.org/forum/list.php?415
- The MarlinFirmware Facebook Group at https://www.facebook.com/groups/1049718498464482/
- The MarlinFirmware Disc

[2020-11-21 12:01] ellensp commented on #20231
There was a PR that removed the need for dummy thermistors to need a pin, I suspect the lcd routines look for the existence of this pin as a flag to display the heated bed or not. https://github.com/MarlinFirmware/Marlin/pull/20159

[2020-11-21 12:20] ellensp commented on #20231
yip confirmed
[code]
is failing.

To me it looks like HAS_ADC_TEST(P) in Marlin/src/inc/Conditionals_post.h isnt right... should be
`#define HAS_ADC_TEST(P) ((PIN_EXISTS(TEMP_##P) || ENABLED(HEATER_##P##_DUMMY_THERMISTOR)) && TEMP_SENSOR_##P != 0 && DISABLED(HEATER_##P##_USES_MAX6675))
`
This compiles and the bed is back.
Needs further testing.

[2020-11-21 12:33] #20232 closed, assigned to nobody

[2020-11-21 12:50] ellensp commented on #20231
Fairly sure I'm correct, so created PR.

[2020-11-21 12:51] Dadigno opened #20234 "[BUG] #define SERIAL_PORT_2 -1 build failed"
### Bug Description
I'm trying to build marlin with
`
#define SERIAL_PORT_2 -1
`
but I receive:
`
Marlin/src/HAL/AVR/../../inc/../../Configuration.h:106:21: error: expected initializer before '-' token
`
and others errors related to the character `-`
[error.zip](https://github.com/MarlinFirmware/Marlin/files/5577611/error.zip)

### Configuration Files
[Configuration.zip](https://github.com/MarlinF

[2020-11-21 12:55] ellensp commented on #20234
You cannot have a serial port set to -1 on a mega based controller.
Only 0,1,2,3 are valid for a mega2560 based board.
This is not a bug.

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-who

[2020-11-21 12:55] #20234 closed, assigned to nobody

[2020-11-21 13:15] C0unt23r0 opened #20235 "[BUG] ABL after disabling steppers can move beyond machine boundaries"
### Bug Description

Hotend chrashes into the bed or tries to exceed its limits!

Ender 3v2 - Controler 4.2.2
BL-Touch 3.0

Used latest bugfix-2.0.x (Where do i find the exact version? it was from 2020-11-19)  including the Ender3v2 configuration.

### Configuration Files

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5577675/Configuration.zip)

### Steps to Reproduce

1. Acti

[2020-11-21 13:21] Patag commented on #20231
Nice @ellensp !
May I close ?

[2020-11-21 13:29] InsanityAutomation commented on #17941
Either way is fine with me, if you open new ones tag me. If they're quick I may nab em between things.

[2020-11-21 13:48] Cysign commented on #20226
So I just have to download and use the bugfix-branch?

[2020-11-21 14:20] ellensp commented on #20231
please wait till pr gets merged, just in case there is an issue with it.

[2020-11-21 14:23] ellensp commented on #20226
or apply the 2 small changes to your current code.
The differences https://github.com/MarlinFirmware/Marlin/pull/19875/files

[2020-11-21 14:31] rhapsodyv commented on #20149
Now I found the issue. The user are using a totally custom script. The problem is: only pause gcode resets the state of filament runout. And we can't reset the state of runout in every place.

To use a custom script, the user should send `M412 R` in the end of his custom gcode, to reset the state of runout code. This will solve your problem.

https://marlinfw.org/docs/gcode/M412.html

[2020-11-21 14:31] #20149 closed, assigned to nobody

[2020-11-21 14:46] Patag commented on #20231
No worries

[2020-11-21 15:32] DrumClock commented on #17941
**Start new issues well. Here I will leave this MIRRORED mode to completion.**

[2020-11-21 15:41] DrumClock opened #20237 "[BUG] IDEX homing crashes into endstop"
@InsanityAutomation

### **ATTENTION!**

if **DUPLICATE** or **MIRRORED** mode is selected and code `G28` is received.
Carriage X2 is parked, "Auto Home" is performed, and then carriage X2
strikes Endstop Xmax until the printer stops with the message `MSG_KILL_HOMING_FAILED
`

if the **AUTO-PARK** mode is selected from the LCD or the `M605 S1` command,
after executing `G28X`, the printer will rest

[2020-11-21 15:48] the-real-orca commented on #19877
After some investigation, this bug seems to be a combination of 2 issues. Both are related to mixing extruder configurations.
1. Only the first filament sensor triggers the runout script for mixing extruders.
2. M600 requires an explicit tool parameter. The default to active extruder does not work for mixing extruders.

I’m working on a solution, but there is no official patch right now. You can c

[2020-11-21 15:57] FanDjango commented on #9802
Ok, here is the next version of the modified homing code for discussion:

[code]

The debug `SERIAL_` stuff is just for info for the following questions and discussion:

Oh, and currently we are assuming to talk about the Z-AXIS and using a probe. Much of the following is also true for the other axes, but there you have less impact if the home is slightly off.

1. The TO stipulated using the minim

[2020-11-21 16:03] Cysign commented on #20226
Couldn't get it work... so I'm using a SSD1306 at the moment, which works properly ;)
Any idea how long it'll take until the bugfix is adopted to stable release?

[2020-11-21 16:03] bosd opened #20238 "[BUG] Sensorless Homing only works in negative direction"
### Bug Description

Sensorless Homing only works in negative direction. When homing is done in postivie direction, the axis does not stop.

### Configuration Files

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5577954/Configuration.zip)

### Steps to Reproduce

1. Checkout latest bugfix 2.0 branch
2.  Install TMC2130 driver on both the X axis. (or any other stallguard suppor

[2020-11-21 17:28] jiberan1 opened #20240 "[FR] SKR 1.4 + TMC2209 UART - Motion Filament Sensor = cut off the DIAG pin"
For other user should be at least comment in **pins_BTT_SKR_V1_4.h** by **FIL_RUNOUT_PIN**.
Something like, when you using **Motion Filament Detection** with configuration **SKR 1.4 + TMC2209 UART - BTT Smart Filament Sensor** (or similar type) you need to **cut off the DIAG pin** on the driver so that the switch can work normally.
**FIL_RUNOUT_PIN P1_26 = cut off the DIAG pin on the E0 driver**

[2020-11-21 17:48] mseddon commented on #19651
Fwiw, I installed the 4.2.7 today and built marlin for it. I can confirm that K-FAN1 and K-FAN2 are BOTH connected to the PWM, which probably caused the confusion- the mainboard fan does not turn on until the hotend fan kicks in on this board.

[2020-11-21 18:48] bosd commented on #20107
I am testing endstops as well.
I've noticed that homing in the +direction is not working. https://github.com/MarlinFirmware/Marlin/issues/20238
The sensorless endstop might be the issue.

While testing my Marlin setups and endstops I've used the same lead screw assembly on multiple drivers.
I've noticed that the (sensorless) endstop was working on the X and Y axis.
However, using the same settings

[2020-11-21 19:12] boelle commented on #20107
what if you enable sensorless but use normal endstops for testing?

M119 can show status and you can press them with a finger

[2020-11-21 19:53] rhapsodyv commented on #19455
I just found the cause and fixed it: #20243

Anyone can test it?

Thanks

[2020-11-21 20:18] qwewer0 commented on #19455
@rhapsodyv It looks like https://github.com/MarlinFirmware/Marlin/pull/20243 fixed the issue. Great job!

[2020-11-21 21:34] maks2018 opened #20244 "[BUG] bugfix-2.0.x with MKS BASE 1.5 (Atmega2560) Encoder and eeprom problem"
## Bug Description

I have Delta Printer with MKS BASE and with firmware Marlin-bugfix-2.0.x_20180225 and I have tried to update it to the current version (bugfix-2.0.x), but I faced some problems:
1. The firmware doesn't compile in arduino ide 1.9.
2. I have tried to compile it in PlatformIO and it compiled but with errors.

Logs with errors (arduino ide 1.9 and PlatformIO) are below: [errors.txt

[2020-11-21 21:47] espr14 commented on #20222
2. #define Z_SAFE_HOMING_X_POINT -5 // X point for Z homing
#define Z_SAFE_HOMING_Y_POINT -5 // Y point for Z homing
3.
4. G1 X-3 Y-3
M428
5. G28 Z

Z endstop can be at the bed level or even under it. This could depend on bed temperature. Save homing point ensures that nozzle does not touch or break the bed. Even with Z endstop above the bed you could get lower at the first touch due to fast homin

[2020-11-21 22:00] thisiskeithb commented on #20244
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-21 22:00] #20244 closed, assigned to nobody

[2020-11-21 22:04] thisiskeithb commented on #20240
It’s in BigTreeTech’s TMC2209 repo: https://github.com/bigtreetech/BIGTREETECH-TMC2209-V1.2/blob/master/TMC2209%20problems%20solving.pdf

This is not universal for all TMC2209s and Marlin doesn’t know if you’re using BigTreeTech’s step sticks or someone else’s.

[2020-11-21 22:04] #20240 closed, assigned to nobody

[2020-11-21 23:35] italocjs opened #20245 "Chamber temperature reading doesnt support other pins"
This one is kinda weird and i didnt managed to find out what is wrong,

Version: Marlin 2.0.7.2 (from releases page)

resuming, my build has 2 nozzles, a heated bed and a heated chamber using a RAMPS1.4, so it needs T0, T1, T2 and something else

I was originally planning to use
T0 for nozzle 0 temp sensor
T1 for bed temp sensor
T2 for Nozzle 1 temp sensor
AUX1 - PIN A3 (pin57) as chamber temp sen

[2020-11-21 23:39] rhapsodyv commented on #19455
It was merged. I will close this. Thanks.

[2020-11-21 23:39] #19455 closed, assigned to nobody

[2020-11-21 23:48] sjasonsmith commented on #20245
There is circuitry involved in a thermistor input, beyond just an analog input. Have you re-created that circuitry on your new pin?

[2020-11-21 23:50] italocjs commented on #20245
Hi, thanks for the quick reply, i assembled the same circuit as used in ramps (10nf cap as filter + 4.7k pullup). but the readings are still weird, i'm checking agains another sensor and they are way off,

Is there somewhere else i should set a pin?  i mean like, on arduino IDE you need to set the pin type, if it has or not pullup.  i think something like this might be the issue

[2020-11-22 00:17] sjasonsmith commented on #20231
Thanks @Patag & @ellensp for reporting and investigating this.

When I made my initial change I had assumed that all the temp sensors were handled in the same way, and must have only tested with two extruders using dummy thermistors.

I'm working on fixing those inconsistencies, which will let my version of that `HAS_ADC_TEST` macro work for all thermistors. My intent was for that macro to mean "T

[2020-11-22 00:35] boelle commented on #20245
should be 10uF

![image](https://user-images.githubusercontent.com/3832239/99890765-09a31800-2c63-11eb-92f2-defec5602fba.png)

[2020-11-22 00:36] thisiskeithb commented on #20224
Closing since #20242 was merged.

[2020-11-22 00:36] #20224 closed, assigned to nobody

[2020-11-22 00:44] boelle commented on #19181
@teemuatlut can you maybe shine some light on what might be going on here? you are after all the Trinamic expert

[2020-11-22 00:47] boelle commented on #19809
just a comment to stave off the bot

[2020-11-22 00:49] boelle commented on #19074
@Sebbb did you what @thinkyhead suggested?

[2020-11-22 00:58] boelle commented on #19296
@3dseawa did you get time to test?

[2020-11-22 00:58] italocjs commented on #20245
Sorry, wrote the wrong unit, but i used the right capacitor, following this same design.
It is working on 1.1.9,1 and not on 2.0.7.2, so i guess its not hardware related.

i tried checking the temperature routines, but it got quite complicated at a first glance

[2020-11-22 01:00] boelle commented on #19741
closing since we dont support forks,

we can reopen when configs from marlin are provided

[2020-11-22 01:00] #19741 closed, assigned to nobody

[2020-11-22 01:02] boelle commented on #19940
So not a problem after all ?

[2020-11-22 01:04] boelle commented on #19883
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-22 01:08] boelle commented on #19521
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-22 01:19] boelle commented on #19718
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-22 01:27] boelle commented on #20245
Tried [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) ?

[2020-11-22 01:30] boelle commented on #20245
i dont think this will make any difference but you should switch to vscode+platform.io extension, many videos on how to install and setup

[2020-11-22 01:33] 3dseawa commented on #19296
No, sadly I had a home issue to repair which captivated my time.

On Sat, Nov 21, 2020, 4:58 PM Bo Herrmannsen <notifications@github.com>
wrote:

[2020-11-22 01:33] italocjs commented on #20245
I'm using vscode, i not even sure if its possible to compile marlin 2.0+ with arduino ide.  I did not tested bugfix, bug i have looked into the last few merges and none (as far as i seen) changed anything related to chamber.

[2020-11-22 01:35] #19151 closed, assigned to nobody

[2020-11-22 01:35] boelle commented on #20245
you can but Arduino is so filled with bugs so its not worth it anymore

[2020-11-22 01:54] ellensp commented on #19809
I have the required i2c device in transit...   this is still in progress

[2020-11-22 04:52] ellensp commented on #20245
`#define TEMP_0_PIN                          57
You should really use analog port name 3 as is the convention for analog pins.

Just tried this with my own interface and your config (updated for bugfix) using Analog 3 as TEMP_0_PIN (with no thermistor and it reads -14 as expected)
Swapped TEMP_0_PIN and TEMP_CHAMBER_PIN, still reads -14 as expected

I suspect a wiring issue on your thermistor inte

[2020-11-22 07:46] sjasonsmith commented on #20235
I'm not really sure if ABL is significant for this. It might have issues with just simple homing and movement.

[2020-11-22 07:49] sjasonsmith commented on #20221
Please test the [bugfix-2.0.x branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

If you still have issues please provide updated configuration files compatible with `bugfix-2.0.x`. Also include your pins file if you hav

[2020-11-22 07:52] sjasonsmith commented on #20215
@Protean-Man please post your configuration files. Normally I would just close this due to the missing files, but the rest of the report is well-written, and it sounds like an important issue to fix.

Providing your configuration files makes it easier for someone to reproduce and fix the issue.

[2020-11-22 08:32] tommylux commented on #19877
#13351 suggests it has been fixed.. perhaps this means the runout sensor works when printing a single colour but if mixing with M163 then in doesn’t work? Unfortunately, I’m not familiar with the Git workflow. Perhaps I’m interested in your  branch, but what if there are major advancements in the master branch, does this make its way to forks?

[2020-11-22 10:00] sjasonsmith commented on #19804
@qurvento I've posted a PR with your recommended changes. Can you look at it and verify that it works how you would expect?

[2020-11-22 11:23] Foxies-CSTL commented on #19804
Hi,
I noticed the same behavior on a Delta when I edit a mesh using the menu.
The two XY axes are positioned while Z reaches a point near 0 at high speed (I cut before the power supply).
Just before the power cut, I see the mesh screen with a square of dots.
![IMG_2060](https://user-images.githubusercontent.com/24864147/99902300-148a9680-2cbd-11eb-848c-0e922ac29219.JPG)

[2020-11-22 11:35] pseudex opened #20249 "[BUG] Filament Change (M600) with cold Hotend (M302 P1) not working anymore"
### Bug Description

The Filmanet Change (M600) does not allow a cold unload/load anymore.

### Configuration Files

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5579369/Configuration.zip)

### Steps to Reproduce

I have a Boden Printer with two Extruders. They join before the (single) hotend. The Filament is stored in front of the Y-Joiner after printing. If I want to swap t

[2020-11-22 11:38] the-real-orca commented on #19877
#13351 has fixed the filament handling commands for mixing extruders. (i.e. use the correct extruder stepper). However there is still an issue with triggering the runout script (e.g. filament change) on mixing extruder setups. Currently the runout script is only triggered for the active extruder (virtual tool), however there is no dedicated (single) extrude for mixing extrudes. And the virtual too

[2020-11-22 11:43] boelle commented on #20249
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-22 11:48] leviustinov commented on #19651
Did you ever find out how to get to be always on? Not all materials need cooling.

[2020-11-22 11:51] I3megaS commented on #19883
I tested the firmware of your link and I get more or less the same results as before.
I have noticed that the fan is being driven by the negative terminal, so a lower duty cycle gives more voltage/current at the output for the fan.

I have made some test with M710 instruction with the following results:

      M710 S150 - PWM duty cycle of 80% - approx 4V on terminals (not enough torque to start)

[2020-11-22 12:00] pseudex commented on #20249
I did a quick compare of the function **ensure_safe_temperature**. In V2.0.7.2 and the actual bugfix 2.0.x it is exactly the same.

[2020-11-22 12:01] TanmayChhatbar opened #20250 "Suggestion for auto-loading bed mesh data based on target temperature"
Been trying to use UBL, and I find that I have to manually load the mesh that I want at every boot-up, and re-load another mesh if I want to print at a different temperature. It would be handy if there was an auto-loading option for +-5 degrees (or closest) of the temperature at which the mesh was generated. Do let me know if I'm not using it right though. Thanks.

[2020-11-22 12:06] qwewer0 commented on #20249
Didn't meant to compare the code, but to actually test it.

I tested `Change Filament` with `M302 P1` on the latest Bugfix-2.0.x and it indefinitely waits for the nozzle to be heated up to 0°C.

[2020-11-22 12:50] tommylux commented on #19877
I’ll try and check it out. My point being if you make a development branch, it is only bugfixes at the time of the branch right? Also, my issue is, I tried compiling the bugfix branch with the configuration.h example file for A20T i found in configuration branch, then I had homing error when trying to print. So i’m little unsure what I did wrong. If you are able to fix this long running issue and

[2020-11-22 13:02] espr14 opened #20252 "[BUG] S curve exceeds maximal acceleration"
### Bug Description

S curve causes step skipping. The same G code without S curve prints great.

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5579498/Marlin.zip)

### Steps to Reproduce

1. Use FW with S curve on.
1. Set the printer to handle acceleration just 3000 mm/s^2 in X axis.
1. Run the G code.

**Expected behavior:**

Should not loose the steps.

**

[2020-11-22 15:03] boelle commented on #20252
so this does not happen with [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) ?

[2020-11-22 16:11] 3dseawa commented on #19296
Firsty, thank you to all who have worked on this issue.
To test this complete fix/ comprehensive patch, I am assuming I clink on
the "20071" link from Scott Latheine dated 11/7 above then click on the '
MarlinFirmware:bugfix-2.0.x
<https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x>  ' link just
below the title tile of the 20071 link and then download that version in
that link and use that

[2020-11-22 18:34] italocjs commented on #20245
I think i might be misundertanding how the pin are configured,

When i set "logical pin 57", i am referring to the right pin D57/A3 on AUX 1)??  or should i use 3 or A3?
![image](https://user-images.githubusercontent.com/9244531/99913729-e8304380-2cd7-11eb-883a-1855a6527a07.png)

Please, which version did you use? i had success with 1.1.9.1, but not with 2.0.7.3.

Aside from the termistor, i have

[2020-11-22 18:39] ManuelMcLure commented on #20250
This is easily handled in your slicer start gcode. For example, PrusaSlicer/SuperSlicer have filament-specific start gcode and it's very easy to just add a `M420 L` command that matches the temperature you are going to be using.

[2020-11-22 19:40] Guga1310 opened #20253 "PAT9125 Filament Sensor"
I would like to use the PAT9125 filament sensor on the i2c input of the SKR 1.4 Turbo board

[2020-11-22 20:16] sjasonsmith commented on #20253
There is really not enough information here to warrant keeping this open. There is a template for feature requests which was ignored here.

My immediate questions are:

1. How does somebody obtain a PAT9125 sensor?
   - Is it available to purchase pre-built?
   - Are plans available to build your own?
2. How does your request differ from existing Marlin support?
3. What new value does this capabil

[2020-11-22 20:35] boelle commented on #20245
that is digital pin 57 but analog pin 3

[2020-11-22 21:23] the-real-orca commented on #19877
Yes, the branch is for fixing one single issue.
The configuration of the A20T should be similar to the A20M, except for the additional extruder. Also make sure that you have selected the correct motherboard `BOARD_GT2560_V3_A20`, assuming you have a version 3 board.
If you need further assistance with the configuration, send me a PM (see profile).

[2020-11-22 21:30] rhapsodyv commented on #18984
Why do you want see the screen? Isn’t enough a gcode to the status of the printing?
Is there any information on screen that you can’t get using gcodes?

[2020-11-22 21:37] rhapsodyv commented on #17711
I think there’re better ways to solve this.

Most of the 32 bits boards will be able to use serial and SD at up to 4Mb/s.
And we have binary file transfer, that uses compression to transmit the file, so it’s even faster.

And if you are doing a lot of prints, you can just copy the file to the sd on the computer. Or even just print it over serial over and over again. You would need to remove the pi

[2020-11-22 21:41] rhapsodyv commented on #19944
No one having the issue could test this?

[2020-11-22 21:42] italocjs commented on #973
Sorry for reopening this, but there is the pin for the output set on marlin 1.1.9?  i cant find it.

[2020-11-22 21:43] sjasonsmith commented on #17140
Given the lack of response to my earlier comment, I am going to close this FR. While this is an interesting thought experiment, I don't see any way this would ever be implemented unless it were contributed by the person creating the printer. There is also no information provided regarding _why_ anyone would use such as design.

Adding new kinematics because they are interesting without practical i

[2020-11-22 21:43] #17140 closed, assigned to nobody

[2020-11-22 21:58] rhapsodyv commented on #19984
We can't disable HOTEND_IDLE_PROTECTION while printing. In fact, is intend to protect a print interruption that marlin could not about by itself.
For example: you are printing from a host, and the host just stop sending commands in the middle of the print. HOTEND_IDLE_PROTECTION is what will protect your printer.

You can tune it to better fit your needs, or disable at all. You have all the option

[2020-11-22 22:20] italocjs commented on #20245
Bugfix from a few minutes ago, using port 12 (analog read 12 / pin 66 on ramps aux2) is working. i am not sure what changed, i searched through the changes but didnt found anything related, anyway, i guess its been fixed.

I would like to add a better chamber setting text later, specifying where to add the pins, temp sensor and how to build the circuit if needed.  this took me like two days (but i

[2020-11-22 22:20] #20245 closed, assigned to nobody

[2020-11-22 22:35] bosd commented on #20107
I’ve hooked up some endstops on Zmin and Zmax.
It appears that when homing in the - direction, it looks at the Zmax endstop.
On the GTR V1.0 board, the Stallguard is connected to the Zmin input.
Thus it will never trigger.
The inverting is the result of this code in endstops.h

`#define Z_ENDSTOP (Z_HOME_DIR < 0 ? TERN(HOMING_Z_WITH_PROBE, Z_MIN, Z_MIN_PROBE) : Z_MAX)`

As a workaround I could mod

[2020-11-22 22:35] bosd commented on #20238
I’ve hooked up some endstops on Zmin and Zmax.
It appears that when homing in the - direction, it looks at the Zmax endstop.
On the GTR V1.0 board, the Stallguard is connected to the Zmin input.
Thus it will never trigger.
The inverting is the result of this code in endstops.h

`#define Z_ENDSTOP (Z_HOME_DIR < 0 ? TERN(HOMING_Z_WITH_PROBE, Z_MIN, Z_MIN_PROBE) : Z_MAX)`

As a workaround I could mod

[2020-11-22 22:38] rhapsodyv commented on #20222
You have `#define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN` enabled, so, for Marlin, you have a probe connected to Z Min. He interpret as you have a custom probe.

I can't see any reason to change any message. It's clear enough when using a probe, or when not using.

[2020-11-22 22:45] boelle commented on #20238
if you cant change that then its a hardware error and not an error with marlin. error because board makers should allow people to decide what config

btw... is this printer with screws for Z or is it a delta that use belts?

[2020-11-22 22:47] boelle commented on #20250
this is more a support Q and that is not what the issue list is for so will close this one

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best res

[2020-11-22 22:47] #20250 closed, assigned to nobody

[2020-11-22 23:10] bosd commented on #20238
I would'nt count it an an hardware issue. As it is quite flexible how to setup the board.
(It is just a pin to the STM which happen to have an additional header to hookup and endstop as well)
That the `Z_HOME_DIR -1` parameter, changes the direction of the motor as well as the endstop pin is in this case not very helpfull.

Maybe the way stallguard is implemented in Marlin can be improved.
In such

[2020-11-22 23:37] slgorin commented on #19602
no, still not fixed.  When it resumes, it homes, raises z, the bltouch senses height  on the part and when the print resumes, the z height is higher than where it left off and it does not stick to the part.  have tried it twice with and without pause.

[2020-11-22 23:41] OC-Rookier commented on #18769
Well this baffles me. I ran more tests, and now it looks like ABL works perfectly fine now. I'm really not sure what to say, other than maybe the firmware is just buggy in the first month after flashing or something, but this makes absolutely no sense whatsoever. It's also a possibility that I just happened to get a good result after M502 / M500 in the previous round of testing, but that also seem

[2020-11-22 23:51] espr14 commented on #20252
bugfix-2.0.x: does
2.0.x: very likely not

[2020-11-23 00:02] espr14 commented on #20222
Still the message is wrong. Let's say I have a probe connected to Z min and the probe is located at the right place (to the center of the bed). There's the same message still but the reason for the error is that the head cannot move behind the X/Y endstops (available area).

[2020-11-23 00:10] borsegbr commented on #19602
this is not related to this issue

[2020-11-23 00:13] rhapsodyv commented on #20222
The reason is that `Z_SAFE_HOMING` is supposed to home _inside_ the bed area. In the documentation:

// Use "Z Safe Homing" to **avoid homing with a Z probe outside the bed area.**

If you need a custom out of the bed homing, you have a very uncommon setup, and I don't think `Z_SAFE_HOMING` is for you. Maybe try using:
[code]

I will close this, as I don't think it's a bug. The message is really f

[2020-11-23 00:13] #20222 closed, assigned to nobody

[2020-11-23 00:14] Marlina-Marlino commented on #19602
Hello
I have the same issue and I tried to figure it out.

My board is MKS SGEN L V1.0
Dirvers  MKS TMC2209 V2.0
Marlin 2.0.7.1

I noticed that there is an option in Marlin 2.07 (Advanced Configurations) which is

#define SDCARD_CONNECTION LCD

if you specify the SDCARD location to be either onboard or in the LCD, I think this will solve the issue and help Marlin Firmware to get access PLR file

P

[2020-11-23 00:43] C0unt23r0 commented on #20235
You are right. I think it's about the logik behind the function homing_needed_error() including axes_should_home(). There are some slightly changes between my past updates (2.0.6.1 to 2.0.7.2 - bugfix) but I can't figure out that fast, was has caused that behavior.

So i might guess every command that is using this function should have problems.

Another thing that I haven't tested yet is setting

[2020-11-23 00:57] sjasonsmith commented on #20235
@C0unt23r0 `HOME_AFTER_DEACTIVATE` would not really be a workaround. Without that set, it is assumed that steppers can safely be disabled without losing position.

Given that you do not have this set. I do not think this is a bug. It is doing exactly what it is configured to do.

[2020-11-23 00:57] #20235 closed, assigned to nobody

[2020-11-23 00:58] sjasonsmith commented on #20235
To clarify, you _should_ set `HOME_AFTER_DEACTIVATE` if you plan to manually move your axis the way you described.

[2020-11-23 00:59] sjasonsmith commented on #20231
@Patag a solution has now been merged. I'll close this issue, but please reply if you encounter further issues with this.

[2020-11-23 00:59] #20231 closed, assigned to sjasonsmith

[2020-11-23 01:36] #19278 closed, assigned to nobody

[2020-11-23 02:06] cohaolain commented on #20082
I have a little more logging of this issue captured since. Granted, it's more of the same, but will try upload soon;

I can see the endstop watcher (courtesy of `PINS_DEBUGGING`) logging that the probe has been triggered when it manually checks the pins, but then the z-axis continuing downwards, with the move block not being removed until about a whole second later (the `quickstop` in `stepper` ne

[2020-11-23 02:17] cohaolain commented on #20082
@JackNewman12 While the probe is moving down, the probe should turn red briefly, and then either retract immediately (so it would stay red then) or, if `BLTOUCH_HS_MODE` is enabled, the probe will move away from the bed and the light should go off again.

You can compile with the `PINS_DEBUGGING` option enabled, and then send `M43 E1` over serial. Then when your probe triggers you can see if the p

[2020-11-23 04:29] Darkluck95 commented on #15450
With the board of fysetc cheetah 1.2a it also happens

[2020-11-23 04:37] ellensp commented on #20238
the stepper drivers only have one Diag pin. It is normally connected to the axis min endstop.
Most pins files will define a single endstop if STALL_SENSITIVITY is defined so sensorless will work as expected
Also depending on homing direction. It will define the unused port as min or max so it can be used.
Ie if homing direction is -1 the physical max port is defined as a max port, but if homing di

[2020-11-23 06:24] swanlm commented on #19602
Hi

I have an SKR Mini E3 v2.0 and so specify:
	#define SDCARD_CONNECTION ONBOARD

That was defined long ago and still the bug existed for me. So I don’t think this would be the solution. The latest bug fix with the workaround solves the problem for me.
On 23 Nov 2020, 02:15 +0200, Marlina-Marlino <notifications@github.com>, wrote:

[2020-11-23 07:21] LinFor commented on #20253
There have already been requests to use this sensor, there were even some attempts to implement its support: #8062, #12962...

[2020-11-23 07:40] ellensp commented on #20253
This sensor is unreliable, even Prusa dropped it like a hot rock very quickly.

[2020-11-23 08:27] C0unt23r0 commented on #20235
Well thanks @sjasonsmith. That makes it easy ;)

Setting HOME_AFTER_DEACTIVATE works as mentioned. Tested and verified.

The only thing i wonder is that i can not remember that the printer was behaving like this before updating and therefor i was thinking it might be a bug.

[2020-11-23 08:36] jtkDvlp opened #20255 "[FR] Binary format for gcode-files for faster transfer"
### Description

Hi there,

a few weeks ago I decided to write my own wifi printer client (not public yet, will comming). Its working well, I also upload gcode files via wifi to the printers sd card and of course as others already mentioned its slow caused by the serial interface. Of course you could try to get the communication better, but I thinks thats difficult if you dont want to make big cha

[2020-11-23 08:41] ellensp commented on #20255
There have been several attempts at this
see BINARY_FILE_TRANSFER (currently in Marlin)
and https://reprap.org/wiki/Packed_Binary_GCode

[2020-11-23 08:52] jtkDvlp commented on #20255
Mmh XD perfect!

 So this option accepts gcode files with schema of the wiki articel? Do you know some client code for this? Otherwise I tweak my code.

[2020-11-23 09:14] sjasonsmith commented on #19611
I spent several hours investigating issues involving USE_ZMAX_PIN. The ineractions with the various endstops gets pretty complicated. I've posted one PR (#20254) to avoid one pitfall I found, but I don't think it was directly applicable to this issue.

I'm going to go ahead and let this close since the reporter's configuration is fixed and now working. If we keep encountering issues involving USE_

[2020-11-23 09:14] #19611 closed, assigned to sjasonsmith

[2020-11-23 09:17] sjasonsmith commented on #19804
@Foxies-CSTL I don't quite understand what you are desribing. Is it directly related to this issue or the PR that was just merged? This issue involves the nozzle pressing into the bed. It sounds like your issue is your carriage moving to the side? I don't think my recent change could have caused this.

[2020-11-23 09:54] boelle commented on #19602
Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-23 09:55] ellensp commented on #20255
Different systems.

From reading the code BINARY_FILE_TRANSFER uses compression, this https://github.com/atomicobject/heatshrink

[2020-11-23 09:55] boelle commented on #19602
@cguerrero1205 when will you be back?

[2020-11-23 09:56] boelle commented on #20238
@bosd btw... is this printer with screws for Z or is it a delta that use belts?

[2020-11-23 12:06] Guga1310 commented on #20253
Thanks

[2020-11-23 12:06] Guga1310 commented on #20253
Thanks

[2020-11-23 12:06] Guga1310 commented on #20253
Thanks

[2020-11-23 12:06] #20253 closed, assigned to nobody

[2020-11-23 14:08] matpop38 commented on #20128
I come back to you, I made the manipulations that @sjasonsmith advised me, here is the text file.
[BUG printer.txt](https://github.com/MarlinFirmware/Marlin/files/5583486/BUG.printer.txt)

[2020-11-23 14:22] Patag commented on #20231
All is running fine here.
Thanks @sjasonsmith !

[2020-11-23 14:38] LinFor commented on #20061
I will add that the proposed solution is not complete.
I use this screen with SPI_MODE3, and it works much more stable than with SPI_MODE0, but still far from ideal. I have never seen disconnections during printing with SPI_MODE3, but sometimes the picture is scattered.
100% reproducible case of picture scattering - viewing the contents of the SD card (scrolling of the file name is turned on and t

[2020-11-23 14:45] rhapsodyv commented on #20061
Yes. Not all marlin spi code was prepared to multi mode. I'm fixing it, but it will take sometime until everything is finished. I added this issue for me, and as soon as I push more SPI fix, I will tell you.

[2020-11-23 15:27] logiclrd commented on #18984
I want to be able to overlay the actual screen on a webcam feed when monitoring it remotely.

[2020-11-23 15:46] sassahoc commented on #20105
I have a ender 3 v1 that i got in march of 2019. I just upgraded to skr mini v2 and a bl touch 3.1 and i updated the firmware to the fimware-bltouch.bin with marlin 2.0.7.2 and my bltouch keeps disconnecting randomly. sometimes i can get half way through a bedd level but most of the times when i turn the printer on it says, unable to enable bed leveling. I have the bl touch plugged in properly and

[2020-11-23 15:52] cguerrero1205 commented on #19602
Hello.
I just got back yesterday.

I just loaded the Bugfix-2.0.x version and the problem is fixed, but I still don't know whether to close this thread, as @Sergey1560 is still investigating the origin of the problem. I think that if it were necessary to close it, @thinkyhead would have closed it when he made the correction in Bugfix-2.0.x.

[2020-11-23 16:21] rhapsodyv commented on #18984
You can overlay the text info returned by g codes that marlin already support. It is a lot simpler. And those g code are reusable.

A frame buffer report may work only on very specific tiny screens. A 3.5" TFT have 300Kb of data. No board have such memory for that. Beside that, it would involve a lot of work.

By now, I will close this as it is too specific for a use case, and could be a lot of wo

[2020-11-23 16:21] #18984 closed, assigned to nobody

[2020-11-23 16:28] logiclrd commented on #18984
Just to be clear, I'm not talking about the graphical mode, which as I understand it Marlin doesn't even have visibility into because it's running on the screen's firmware. I'm talking about Marlin's 12864 framebuffer:

![image](https://user-images.githubusercontent.com/2349379/99987807-7fe46f00-2d76-11eb-8889-6bf5c77df672.png)

This screen has 8,192 1-bit pixels. No matter what hardware it's runn

[2020-11-23 16:29] rhapsodyv commented on #20255
Here is the original PR. It have a script for upload binary data to marlin too. https://github.com/MarlinFirmware/Marlin/pull/14817

[2020-11-23 16:29] logiclrd commented on #18984
Also, I'm pretty sure there are details on this screen that aren't available for querying via G code. I mentioned this in the initial comment when opening the issue.

[2020-11-23 16:55] LinFor commented on #20061
@rhapsodyv yes that would be great.
I am ready to help in solving as much as I can, maybe some testing or spi signals logging or anything else.

[2020-11-23 17:09] rhapsodyv commented on #20061
I did a review, and a lot of place share the SPI config (mode, speed, etc). We are changing it. The problem is: that's a big change. So we are doing it parts. I will see if I can prioritise your issue.

Here is the review I did: https://github.com/rhapsodyv/Marlin/wiki/Marlin-SPI-Review

[2020-11-23 17:12] liamkesatoran commented on #19944
For me it has happened even though I never used Octoprint.

[2020-11-23 17:14] hamster65 commented on #19530
I am trying to adapt the code so that it works with 3.3V boards. However, I have never looked into the depths of Marlin and I am not a programmer.

I connected a potentiometer between GND and 3.3V and the wiper to the TX pin auf the Aux connector of my MKS S GEN L.
#define FILWIDTH_PIN P0_02_A7 //AUX1 TX-Pin

In src/feature/filwidth.h, line 70 there is
static inline float raw_to_mm(const uint16_t

[2020-11-23 17:16] sjasonsmith commented on #19602
Let’s give @Sergey1560 some time to investigate and get back. I believe the earlier fix was a workaround, without understanding or fixing the true root-cause.

[2020-11-23 17:26] pixelicous commented on #19944
sorry for not being responsive
@sjasonsmith It happened also on 2.0.6.1
@rhapsodyv it also happened without octoprint before. i dont remember the results of the two other questions but i can test tomorrow. It will be possible to test the branch in a day or two
thanks for looking at this 👍

[2020-11-23 18:21] Foxies-CSTL commented on #19804
Okay I thought the problem is pretty well described so I'm going to do a PR to fix the bad behavior of the Z axis stepper motor when I want to edit a mesh through the menu in UBL Tools.

I thought your PR would solve my problem but it's still there.

[2020-11-23 18:51] sjasonsmith commented on #19804
@Foxies-CSTL wow, I just noticed that one carriage at the bottom. I missed that in the original picture. That is definitely not related to this issue.

[2020-11-23 19:25] Foxies-CSTL commented on #19804
No problemo ;-) I write a PR for that =>#20257

[2020-11-23 19:26] ghost opened #20258 "[BUG] G2/G3 Arc Math Error for min_segments variable"
### Bug Description
Following from a discussion in the discord chat, I am unsure if this is a bug or not, so the community would have to first confirm if this is an actual marlin bug or I made a math error myself somewhere, but thought I'd just post it here just in case it is a bug. Basically, it appears as though equivalent arc moves in opposite directions use different number of minimum segments

[2020-11-23 19:27] yysh12 commented on #20258
Discord link: https://discord.com/channels/461605380783472640/496524752211410952/778821453721501780

[2020-11-23 19:58] sjasonsmith commented on #20258
I threw together a constexpr function to verify that a negative `angular_tavel` receives a very different number of segments.

[code]

I also verified that the proposed method inverts the issue, rather than correcting it.
[code]

I'm not entirely sure how this fits into the larger arc code, but the solution seems far simpler. `angular_travel` is already used as an absolute value. If `angular_trave

[2020-11-23 20:02] yysh12 commented on #20258
Thanks Jason!
________________________________
From: Jason Smith <notifications@github.com>
Sent: Monday, November 23, 2020 1:58:32 PM
To: MarlinFirmware/Marlin <Marlin@noreply.github.com>
Cc: yysh12 <yysh12@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [MarlinFirmware/Marlin] [BUG] G2/G3 Arc Math Error for min_segments variable (#20258)

I threw together a constexpr function to veri

[2020-11-23 20:02] sjasonsmith commented on #20258
@yysh12 did you have actual print problems that caused you to investigate this?

[2020-11-23 20:05] patlas commented on #20221
Unfortunatelly I cannot build bugfix-2.0.x branch because each time I see: "#error "SERIAL_PORT is set to -1, but the MOTHERBOARD has no native USB support. Set SERIAL_PORT to a valid value for your board." I have tried both mks_robin_nano35 and mks_robin_nano35_stm32 with the same result. I attache my current config for bugfix-2.0.x branch.

[configs.zip](https://github.com/MarlinFirmware/Marlin/

[2020-11-23 20:11] sjasonsmith commented on #20221
@patlas move the value from SERIAL_PORT_2 to SERIAL_PORT, then comment out SERIAL_PORT_2.

Those board don't have the USB Serial that -1 enables. We added the check recently because we realized many people enabled -1 because it is for USB, but have no good way to know whether their board actually can use it.

[2020-11-23 20:15] yysh12 commented on #20258
Not sure. I was having problems where gaps between some parts of the circle appeared different than others parts of the same circle and I was trying to determine if the points generated by marlin significantly differed from what Cura generates using linear movements and that is when I noticed this in the code. So possibly, but it could also possibly be that my tolerances in the post processing arc

[2020-11-23 20:17] sjasonsmith commented on #20258
I flagged it as `help wanted`. Maybe someone else interested in arc movements will pick this up.

[2020-11-23 20:19] yysh12 commented on #20258
Sounds good. Thanks again for everything Jason!

[2020-11-23 20:20] yysh12 commented on #20258
Also, lol I wish I paid more attention in Trig class haha

[2020-11-23 22:09] phil1horton opened #20259 "[BUG] Unable to invert extruder stepper direction"
Switched out the extruder stepper for my Tevo Nereus with a Makerbase MKS Nano 1.1 mainboard using marlin bugfix 2.0. The original stepper has one gear that drives another gear to moves the filament. I switched it to a stepper that drives the filament directly so it requires that I invert the direction. I went into configuration.h and updated the following fields below to switch the direction and

[2020-11-23 22:24] ChipCE commented on #20259
Did you tried clear the EEPROM with <code>M502</code>?

[2020-11-23 22:38] thisiskeithb commented on #20259
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-23 22:38] #20259 closed, assigned to nobody

[2020-11-23 22:38] phil1horton commented on #20259
Hello Chip,

I updated the firmware in visual studio and loaded the MKS nano from a thumb drive, and watch the printer load that file. M502 not needed.

From: Chip <notifications@github.com>
Sent: Monday, November 23, 2020 2:25 PM
To: MarlinFirmware/Marlin <Marlin@noreply.github.com>
Cc: phil1horton <Pjhorton@myfrontiermail.com>; Author <author@noreply.github.com>
Subject: Re: [MarlinFirmware/Marl

[2020-11-23 23:14] jtkDvlp commented on #20255
@ellensp  does BINARY_FILE_TRANSFER work. I send `M28 B1 foo`, then sending some binary stuff and ending with `M29 foo` but the printer does not respond. Any ideas?

[2020-11-23 23:42] p3p commented on #20255
`BINARY_FILE_TRANSFER` #14817 as it is currently in Marlin, can only be used to transfer files to the sdcard. To use `BINARY_FILE_TRANSFER` you need to implement the protocol as described, or just use the script provided, I think there's an octoprint plugin that takes advantage of it for GCode uploads.

It is still a project I'm working on and the version in Marlin is unfinished (my dev version is

[2020-11-24 00:18] ellensp commented on #20255
Never looked at it. With modern 32 bit controllers with CDC serials ports (ie serial at near usb2 speeds, regardless of baud rate)
It is rather "unfashionable"

But I just gave it a try.

NB this is is test mode:
transfer.py -p /dev/ttyACM0 -b 250000 -t 3DBenchy.gcode
results where
Connecting: Switching Marlin to Binary Protocol...
Connection synced [0], binary protocol version 0.1.0, 96 byte payl

[2020-11-24 00:19] Foxies-CSTL opened #20260 "[BUG] Editing a mesh causes a disordered movement of the Z axis towards the bottom stop of the Z tower."
### Bug Description

On a Delta printer (QQS) with TMC2209 uart with auto leveling UBL.

From the menu, select **Motion** > **Unified Bed Leveling** > **Mesh Edit**.

When I want to edit mesh by UBL Tools menu, only axis C wants to go to the bottom of the C tower.

### Configurations

[20201122-QQS_Pro-Configs.zip](https://github.com/MarlinFirmware/Marlin/files/5585270/20201122-QQS_Pro-Configs.zip

[2020-11-24 01:36] #19759 closed, assigned to nobody

[2020-11-24 04:46] ej0rge commented on #18132
I think this might be related to the issue i reported some time ago: https://github.com/MarlinFirmware/Marlin/issues/13555

I think if you check some unused pins with a volt meter before pressing the reset or connecting via usb, you will find that the pins are high (3.3v) indicating that marlin has not booted yet.

I spent a long time not using my radds controller (or the printer it belongs to) an

[2020-11-24 05:29] gellary commented on #19940
@boelle
yes  2.0.7，not a problem

[2020-11-24 05:29] #19940 closed, assigned to nobody

[2020-11-24 06:21] DJScopeSOFM opened #20261 "[BUG] ENDSTOP_INTERRUPTS_FEATURE makes hotend crash whilst homing X Y"
### Bug Description

ENDSTOP_INTERRUPTS_FEATURE makes hotend crash whilst homing.

### Steps to Reproduce

As above

**Expected behavior:**

Homing as normal

**Actual behavior:**

Crash

#### Additional Information

Current latest Bugfix as of 24/11/2020.
MKS Robin Nano 1.2 - Two Trees Sapphire Plus

[2020-11-24 08:14] jtkDvlp commented on #20255
@p3p do you have slack or discord for this feature?

[2020-11-24 08:29] Sergey1560 opened #20264 "[BUG] Software endstop fails after M84"
With the HOME_AFTER_DEACTIVATE option enabled, software endstops do not work when moving off the bed after M84. For example maximum for Y-axis is 200.

[code]
This is because in the Marlin/src/module/motion.cpp file, "apply_motion_limits" function check limits only if the axis is homed.
[code]

Expected behavior:
Do not move without homing when the option HOME_AFTER_DEACTIVATE is enabled or take i

[2020-11-24 08:49] Sergey1560 commented on #19602
I have not yet been able to find the exact problem, there is a slight lack of time for everything. But when it possible, I continue to work.

I have a suggestion. Maybe we should open a new issue, with a description of how to reproduce the problem in a simple way? This will possibly attract the attention of other developers. The problem is more important than it seems, it is not with the Power los

[2020-11-24 09:16] Sebazzz commented on #20068
Pull request #19958 I've submitted is integrating changes from CR-6 community firmware back into Marlin

I think you mean to use this as some kind of failure detection? I think the strain gauge system is too inaccurate to to that. Its function very much relies on how the firmware tares the probe in combination with the specific setting on the little potmeter inside the hot-end. I don't think it is

[2020-11-24 09:53] dryphi commented on #20068
What about using the StallGuard function on the TMC2209 drivers for this?

[2020-11-24 09:55] Sebazzz commented on #20068
StallGuard is not suitable for this I think:

motors, less than one revolution per second) generate a low back EMF and make the measurement
unstable and dependent on environment conditions (temperature, etc.)

[2020-11-24 10:04] tomich commented on #20105
I can reproduce @jbbandos issue. Using BIQU B1, that comes with an SKR 14.4 board.

I didn't reported previously because I'm using a BLTouch clone so I was assuming the issue was there, but can confirm it works with older versions. Is there any test or info I can help with?

[2020-11-24 10:14] tomich commented on #19992
This sound pretty similar to #20105 . I have same issue. Can you try using firmware versions older than 2.0.7.2  and see if the problem persists?

[2020-11-24 10:53] dryphi commented on #20068
Might be worth a try:
https://marlinfw.org/docs/gcode/M914.html
With using multiple drivers, (X, Y, Z, E), there's a greater chance one of them might trigger, if it halts when it's not supposed to.
Just a thought.

[2020-11-24 11:01] Lumanet2012 commented on #15071
Hello everyone,

so I be running Marlin 2.0.7.2 on an SKR 1.4 Turbo board. And after messing around with my settings I found out a few things.

  //#define SQUARE_WAVE_STEPPING

has to stay disabled on my TMC2226 which I run as a TMC2209. Once I done this change I got a step further.
But because safety is a big thing on Marlin when I do run my stepper motors they all do work with exception of the

[2020-11-24 13:32] anesuccio commented on #20105
I do not know if the bug is related to the usage of BLTouch (eventually clones) or to the specific dimension settings of the print area.

For example I have uneven margins due to binder clips on my bed.

There follow my configuration changes which I think may have an impact on UBL tilt calculation:

### Configuration.h
- **USE_PROBE_FOR_Z_HOMING** -- default: Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN
- *

[2020-11-24 13:57] ShadowOfTheDamn commented on #18132
I use a custom PCB. I will send the schematics.
It was working completely ok but then the initialization error occurred and you know the story from then in this thread.

[2020-11-24 15:08] qwewer0 commented on #19870
Still an issue on the latest bugfix-2.0.x.

[2020-11-24 16:35] LinFor commented on #20261
What are you mean "crash"?
Does all endstop pins of your board are interrupts-capable?

[2020-11-24 17:16] ej0rge opened #20265 "[BUG] RADDS speaker/buzzer always enunciating"
### Bug Description

When a control panel with a buzzer is attached to the buzzer pin (41) on J3 of the RADDS, it is always making noise once marlin has booted. Using adapter cable based on radds2lcd project and either rrd full graphic or fysetc mini 12864.

I wonder if this is related to the 74hct365 buffer on the lcd port of my RADDS 1.6 which is not present on earlier revisions?

### Configurat

[2020-11-24 18:30] dryphi commented on #20068
It works just like an endstop. It's binary, just two wires.
https://www.youtube.com/watch?v=hs6IVfNrf5k

[2020-11-24 18:41] sjasonsmith commented on #20068
For what it's worth, there are changes for this printer (including STRAIN_GAUGE_PROBE) in this PR. I don't know if it is relevant to this discussion or not.
https://github.com/MarlinFirmware/Marlin/pull/19958

[2020-11-24 19:09] Sebazzz commented on #20068
It is just a simple signal that is pulled high or low. But the strain gauge is a bit more intelligent though, because it can be tared from firmware to compensate for the bowden tube pulling on the hot-end.

[2020-11-24 19:29] Frontier314 commented on #19877
I am in the process of upgrading my Creality CR-X to the latest Marlin 2.0.x-bugfix. Currently, I have working printer profiles for the base CR-X and today I have finished testing also dual filament runout sensor setup. I am also creating a different CR-X setup by using the BigTreeTech ZSYongMix hotend, this one is called CR-X Mix (again both with filament and no filament detection).

I can verify

[2020-11-24 20:02] ellensp commented on #20265
"a buzzer is attached to the buzzer pin (41)"  but yet you have #define SPEAKER

[2020-11-24 20:23] ej0rge commented on #20265
If you look at the attached configuration, I did #define SPEAKER.

[2020-11-24 20:46] p3p commented on #20255
Nothing specific to the feature no, I'm on the Marlin discord if you would like to discus something.

[2020-11-24 21:15] cohaolain commented on #20261
Hey, quick question - is this happening **every** time you home, or is it happening **intermittently**?

[2020-11-24 21:34] DJScopeSOFM commented on #20261
Carriage continues to to grind into endstop. Yes, they're capable. This only started happening after updating to the latest bugfix sources.

[2020-11-24 21:35] DJScopeSOFM commented on #20261
Every single time until I comment it out. I've tried reducing homing speed and increasing bump distance. But it will still happen until I comment it out.

[2020-11-24 21:39] cohaolain commented on #20261
Ah, interesting. I had thought it might be related to issue #20082 (where the z interrupt call doesn't seem to complete) where similar behaviour occurs intermittently, sorry!

[2020-11-24 22:38] DJScopeSOFM commented on #20261
I think the endstop interrupt feature is broken entirely at the moment.

[2020-11-24 23:11] ej0rge commented on #20265
[RADDS_27_sch.pdf](https://github.com/MarlinFirmware/Marlin/files/5593213/RADDS_27_sch.pdf)

I found the 1.6 version of the radds schematic and it seems to show that pin 41 is brought directly to the pin on the J3 header.

The schematic for my Fysetc mini 12864 v1.2 indicates that the 'buzzer' is a KSSGJ4B20

Fysetc schematic here:
https://github.com/FYSETC/FYSETC-Mini-12864-Panel/blob/master/V1.2

[2020-11-24 23:22] rq3 opened #20267 "Latest bugfix doesn't work on Anycubic Predator"
# NO SUPPORT REQUESTS PLEASE

Do you want to ask a question? Are you looking for support? Please don't post here. Support Requests posted here will be automatically closed!

Instead use one of the following options:

- The Marlin Firmware forum at https://reprap.org/forum/list.php?415
- The MarlinFirmware Facebook Group at https://www.facebook.com/groups/1049718498464482/
- The MarlinFirmware Disc

[2020-11-24 23:29] rq3 commented on #20267
The latest bugfix, (11/24/20), using the latest example configuration and configuration_adv files does not work for the Anycubic Predator. It compiles and loads, but the screen colors are wrong, and there is no touch functionality at all.

There is no point in attaching the files, since they are the latest files on the Marlin bugfix.

[2020-11-24 23:32] sjasonsmith commented on #20267
Try using the example from the import-2.0.x branch. This example has been updated recently and the latest changes may not be in other branches.

[2020-11-24 23:52] cohaolain commented on #20082
Hi all,

Quick note: with a successful probe, we see **"Completed quick stop"** called after endstop interrupt triggers this action in `stepper.cpp`.
Then,**"Blocking move ended"** refers to one of
1. probe stopped by quick stop in interrupt (desired)
2. probe got to minimal z position but was never stopped by an interrupt from the probe (failure - **"no trigger"**)
always called after `do_blockin

[2020-11-24 23:56] boelle commented on #20261
Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

[2020-11-25 00:51] cvanbusk commented on #20204
Trying it now, sorry for the delay

[2020-11-25 01:27] cvanbusk commented on #20204
That works, Z-probe working as expected. Thank you

[2020-11-25 01:37] #19188 closed, assigned to nobody

[2020-11-25 01:37] #19450 closed, assigned to nobody

[2020-11-25 01:45] ellensp commented on #20267
you say "There is no point in attaching the files,"  I say where?
https://github.com/MarlinFirmware/Configurations/tree/bugfix-2.0.x/config/examples/AnyCubic only lists 4 machines the Predator
 is not on of them.
Also bugfix itself comes with a stock ramps, not configured for any particular machine

[2020-11-25 01:52] ellensp commented on #20267
Ah its a delta! https://github.com/MarlinFirmware/Configurations/tree/bugfix-2.0.x/config/examples/delta/Anycubic/Predator
Wouldn't have been an issue if you had included Configs!.
They are ALWAYS needed.

[2020-11-25 02:09] chenxiaowei107 opened #20268 "[BUG] MKS Nano + TFT35 — Broken Chinese (UTF)"
I used the MKS nano v1.2 motherboard and TFT35 screen，I Have _#define MKS_ROBIN_TFT35_
if i change the language to zh_CN  Chinese characters are not displayed properly. Just like this
![Cache_-48202f97c74cd0d1](https://user-images.githubusercontent.com/39343523/100173995-902b5400-2f06-11eb-9762-954a4c7afbf7.jpg)
The language English is all correct
![2222](https://user-images.githubusercontent.com/

[2020-11-25 02:18] ellensp commented on #20268
Please follow the Issue Template when filing a bug report. This includes attaching your configs:

[code]

[2020-11-25 04:13] rhapsodyv commented on #20267
What do it means? Can you provide photo/video?

For touch, did you tried send M995 to calibrate the touch?

[2020-11-25 06:30] altiber opened #20271 "MKS Robin Nano v1.1. Display icons update interruption"
### Bug Description

MKS Robin Nano v 1.1 . The update of icons on the TFT display with the #define TFT_LG_UI mode enabled and 'assets'copied to the SD card is interrupted. After that, instead of icons, there are white squares

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5594783/Marlin.zip)

### Steps to Reproduce

1. Build Marlin
2. Copy firmware and Asset

[2020-11-25 07:09] ct16k opened #20272 "[BUG] Ender 3 v2 not booting with SDCARD_EEPROM_EMULATION"
### Bug Description

I updated from stock firmware to latest release, since I wanted to add a BLTouch to my Ender 3 v2. But I wanted to retain the functionality of saving settings to SD card, as the old firmware did, so I defined `SDCARD_EEPROM_EMULATION` in Configuration.h.

The updated firmware seems to flash fine and an `EEPROM.DAT` file is created on the card, but the printer never gets past t

[2020-11-25 09:31] boelle commented on #20268
Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this is

[2020-11-25 09:31] boelle commented on #20267
Configurations, please
Please ZIP up your `Configuration.h` and `Configuration_adv.h` files (as
requested in the Issue template) and drop them into your next reply.
We'll check them over and see if anything is amiss.

Please test the [`bugfix-2.0.x branch`](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x) to see where it stands. If the problem has been resolved then we can close this is

[2020-11-25 09:34] boelle commented on #20272
did you use these configs? https://github.com/MarlinFirmware/Configurations/tree/import-2.0.x/config/examples/Creality/Ender-3%20V2

[2020-11-25 09:44] bartik commented on #20187
There I would dare a question regarding this. On the board itself it says PWR-DET (between PS-ON and E0-STOP). But under the board the table says PT-DET between PS-ON and E0-STOP).

https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3/blob/master/hardware/BTT%20SKR%20MINI%20E3%20V2.0/Hardware/BTT%20SKR%20MINI%20E3%20V2.0-PIN.pdf

[2020-11-25 09:49] mks-viva opened #20273 "MKS RUMBA32 use MKS OLED no working"
### Bug Description

- Use MKS RUMBA32 motherboard, connect MKS OLED0.96 display, but no working and i has add pin define to pins_RUMBA32_common.h file
[code]
- Use 2560 motherboard and MKS OLED0.96 will working
- I am run offical marlin bug-fix 2.0.x version

### Configuration Files

[Config and pin.zip](https://github.com/MarlinFirmware/Marlin/files/5595821/Config.and.pin.zip)

### Issues : http

[2020-11-25 09:52] ct16k commented on #20272
For the release build I used the configs from the [release-2.0.7.2 branch](https://github.com/MarlinFirmware/Configurations/tree/release-2.0.7.2/config/examples/Creality/Ender-3%20V2), and for the `bugfix-2.0.x` build I used configs from the [bugfix-2.0.x branch](https://github.com/MarlinFirmware/Configurations/tree/bugfix-2.0.x/config/examples/Creality/Ender-3%20V2).

According to git there is no

[2020-11-25 10:21] alex18881 commented on #20273
Also I can confirm exactly the same issue with BIGTREETECH SKR mini V1.1. Here's my configs:
[conf.zip](https://github.com/MarlinFirmware/Marlin/files/5596038/conf.zip)

[2020-11-25 10:25] ct16k opened #20274 "[BUG] Items in `Control` menu get shifted down by one when going to `Info` screen"
### Bug Description

I updated from stock firmware to latest release, since I wanted to add a BLTouch to my Ender 3 v2. After successfully building a `release-2.0.7.2` firmware with BLTouch enabled, I updated both the firmware on the printer, as well as that on the LCD, using the [example files](https://github.com/MarlinFirmware/Configurations/tree/release-2.0.7.2/config/examples/Creality/Ender-3%

[2020-11-25 10:51] ellensp commented on #20274
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2020-11-25 11:00] ct16k commented on #20274
As mentioned in the report above, I've already tried `bugfix-2.0.x`. There has been only one commit since I then (04c4c6004e752582235357b14aebdd5ff579f477), which relates to touch screens, so not applicable to this off-by-one error.

[2020-11-25 11:02] ellensp commented on #20274
Opps, missed that line. Sorry

[2020-11-25 11:16] NoPinky commented on #19992
I did try it with 2.0.7.2 and I the same problem. I now have the feeling that my issue may be connected to sagging of my gantry as I have single Z-axis configuration. I will update to dual-Z in the coming weeks and have another go with the BLTouch (clone). For now I am using manual mesh bed leveling with 25 points. It takes about 15 mins but works well enough for me.

[2020-11-25 11:46] Sebazzz commented on #18035
Are you positive about that? The DWIN screen IDs do not correlate to the memory locations of the files.

Why not? Because of the following:

- The numbers of the files loaded into DWIN determine the memory location (0_DWIN_ASC.HZK, 13TouchFile, 32_Screen).
- The screens are not separate bitmaps - they are compiled into an ICL file. Within that ICL file you have the index so you can address the spe

[2020-11-25 12:42] rhapsodyv commented on #20271
Are you using bugfix?

Can you format the SD card and try again?

[2020-11-25 12:53] altiber commented on #20271
I formatted the sd card, tried another one. Without result. Yes, I used bugfix, tried it for a few days. While using https://github.com/makerbase-mks/Mks-Robin-Nano-Marlin2.0-Firmware/tree/RogueM-pull-request-more-menu everything is fine, the icons are updated.

[2020-11-25 14:08] chenxiaowei107 commented on #20268
Now I used bugfix-2.0.x branch ,but it's also not displayed properly
[configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5597152/configuration.zip)

[2020-11-25 14:42] houseofbugs opened #20275 "[BUG] Disabling SEGMENT_LEVELED_MOVES Causes Board to Reset - Mesh Bed Leveling (Manual without probe)"
Tested with Bugfix and 2.0.7.2.

When enabling the manual mesh bed leveling and having SEGMENT_LEVELED_MOVES disabled this causes a reset of the printer board. **Happens on multiple boards, not board specific.**

1. Disable the SEGMENT_LEVELED_MOVES
2. Enable the mesh without a probe
3. Upload firmware to machine
4. Reset EEPROM
5. Do a G28
6. Do the manual "probing" process
7. Send G28 then M402

[2020-11-25 15:08] Hallowman28 opened #20276 "g29 not centered with two tft screens"
Hello,

i just updated with the latest MArlin bugfix.
I mounted on my Alfawise U20 an MKS SGENL V1 with a TFT35 MKS screen with BLtouch and everything worked fine.

I wanted to add an MSK TS35 screen on the EXP1 and EXP2 ports, which after updating the last Marlin works very well.

There is on the other hand a problem with the leveling.
I have exactly the same configuration as before, the right di

[2020-11-25 15:19] atharvbadkas commented on #20187
Its just Name incorrectly shown in image, If you trace the PWR-DT PIN in Schematic, It's PC_12 Or Pin value 44, Which is correct...

[2020-11-25 15:40] tomich commented on #19992
Please try 2.0.7.1 or OLDER. I fixed tilted mesh issues with that.

[2020-11-25 15:46] thierryzoller commented on #20137
I replaced the stepper and it has since then not reproduced. For the record, out of 12 bigtree tmc2209 - 3 where defective, in some cases like this, difficult to detect.

[2020-11-25 15:46] #20137 closed, assigned to nobody

[2020-11-25 17:01] bosd commented on #20238
It is using screws for Z, belts for X Y

[2020-11-25 17:01] thisiskeithb commented on #20276
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-25 17:01] #20276 closed, assigned to nobody

[2020-11-25 17:25] bosd commented on #20238
Many Thanks to @ellensp !!
 The modded pins file is working fine for homing. In both directions. :+1:

In my test setup the endstops are not physically connected to the screw. I trigger them by hand.
First attempt with the modded code resulted in some strange behaviour.
``Z_HOME_DIR -1``
I had to trigger the endstop by hand, only then the screw is stopped on the stallguard function.

The postproce

[2020-11-25 19:14] espr14 opened #20277 "[BUG] M204 T5000 causes overacceleration"
### Bug Description

Too high travel speed causes in some moves extreme acceleration and speed. Seem like double or tripple of the max of the motors.

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5598767/Marlin.zip)

### Steps to Reproduce

1. Set some normal jerk (min.speed) / max. speed / acceleration for X motor.
1. Send M204 T9999
1. Run this G code
[tes

[2020-11-25 19:25] vitaliy172 commented on #20275
Please, follow Issue template and include your configs

[2020-11-25 20:38] Lukas1818 commented on #19481
I have this still this issues. My Marlin is on version 65983b42886e08e29f6281e243a0f33923487a93.
After home the z-axis will not be drive up. There is an offset of -10mm now and I can
drive down the z-axis to -10mm (my value for Z_AFTER_HOMING) and hit my printbed.
May this issue should be reopen.

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5599167/Configuration.zip)

[2020-11-25 21:35] ellensp commented on #20275
Please follow the Issue Template when filing a bug report. This includes attaching your configs:

[code]

[2020-11-25 21:57] jidderz commented on #18769
I struggled with the same problem for hours. I configured and flashed from the bugifix to 2.0.5 to 2.0.7. It seems G29 works fine but the mesh coordinates does not seem to get saved and recalled upon printing even if the line RESTORE_LEVELING_AFTER_G28 is enabled in firmware. I ended up getting it to work using these GCODE:

G28
M420 S1

-OR-

G28
G29
M500
M501
M420 S1

I made a quick video of how

[2020-11-25 21:57] daleckystepan opened #20278 "[BUG] Nozzle to probe offset ignored"
### Bug Description

Nozzle to probe offset is ignored. Probably on X and Y axis.

### Configuration Files

Not relevant

### Steps to Reproduce

Compile latest 04c4c6004e752582235357b14aebdd5ff579f477 bugfix with bed leveling support.

**Expected behavior:**

Nozzle to probe offset will be correctly applied

**Actual behavior:**

Nozzle to probe offset is ignored.

#### Additional Information
Rev

[2020-11-25 22:07] the-real-orca commented on #19877
Thanks for your feedback and excessive testing. Good news to hear it’s also working on other printers.
I hope to find some time on the weekend to finalize my tests, code cleanup and submit a pull request.

[2020-11-25 22:13] pabds commented on #18769
Yes, I posted in July that  "G28 home followed by M501 (Load all settings from EPROM) and then M420 S1" worked for me.   I put that part in the Cura profle.  You should not need to do bed levelling before each print. I do it manually from the control panel and save to EPROM immediately after.  Works fine and I only need to level the bed every other month or so.

[2020-11-25 23:17] lococnc commented on #20278
Confirmed, mine is ignoring it as well now.

[2020-11-25 23:34] thisiskeithb commented on #20278
When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact.

For reference, these are the instructions included in the template:

### Before Reporting a Bug

1. Test with the `bugfix-2.0.x` branch to see whether the issue still exists.

2. Get troubleshooting help from the Marlin community to conf

[2020-11-26 01:37] #19774 closed, assigned to nobody

[2020-11-26 03:53] jimmejames commented on #16365
I had good luck with (3) TMC5161's, the latest Marlin (2.0.7.2), BigTreeTech SKR-PRO-V1.1, and CNCJS 1.9.22 on a RPi 3.  I'm currently driving in a dual X's configuration and single stepper for Y- this all works great ((3) NEMA 23's between the X's and Y's) and I'm waiting on a 4th TMC5161 to drive my Z to confirm my configuration.  On previous Marlin builds, I was limited to 5mm/s, only one axis

[2020-11-26 05:51] qwewer0 commented on #20278
I have this problem too, on the latest bugfix-2.0.x

[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5600746/Configuration.zip)

[2020-11-26 07:04] daleckystepan commented on #20278
Sorry for that. Missing configuration files.

https://github.com/daleckystepan/Marlin/blob/geeetech_a10/Marlin/Configuration.h

https://github.com/daleckystepan/Marlin/blob/geeetech_a10/Marlin/Configuration_adv.h

[2020-11-26 08:19] qwewer0 opened #20281 "[FR] G35 - Specifiable End Position"
### Description

At the moment `ASSISTED_TRAMMING_WAIT_POSITION` is only used in `ASSISTED_TRAMMING_WIZARD`, but it would be useful to add the `ASSISTED_TRAMMING_WAIT_POSITION` or similarly specifiable position with `G35` too, for easier screw adjustment.
The homing at the end is unnecessary (and a waste of time) if at the end the nozzle moves to a wait/safe position.

### Feature Workflow

1. Sta

[2020-11-26 09:45] Zumili commented on #20182
Hey guys, something new about this issue? Because I am facing the same problem right now with the latest bugfix version.

[2020-11-26 09:51] Zumili commented on #18965
@ryanaukes I am also trying to run Gcode created by LaserGrbl on Marlin, but also seeing some problems. You said, you modified your LaserGrbl version to work with Marlin, I think you disabled the compress function in your version, or have you modified something else? Have you built it for Windows? If yes, is it possible that you share your modified binary file?

[2020-11-26 09:55] ryanaukes commented on #18965
By default lasergrbl uses both inline laser control and regular laser control when using the vectorise option with infill. There are some problems with marlin that makes it impossible to use both types at the same time. I changed lasergrbl so that it only uses inline laser controls. Currently I run the software from within visual studio 2019.

[2020-11-26 10:25] dj-fiorex opened #20282 "[BUG] Enabled DIRECT_STEPPING -> Blank screen"
### Bug Description

I'm on bugfix-2.0.x , i tried to build and install marlin after activating DIRECT_STEPPING, but once loaded on my printer the display remains blank.
I have a Eryone Thinker SE with MEGA2560, TMC2209, REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER

### Configuration Files

https://we.tl/t-YzYHFsomQl

### Steps to Reproduce

1. Build Marling with DIRECT_STEPPING
2. Load on the pr

[2020-11-26 11:05] amertner commented on #20278
I have this too, and the change @daleckystepan points to is definitely in the right area. Without being able to G34 and G29, my printer is unusable atm.

[Config.zip](https://github.com/MarlinFirmware/Marlin/files/5602476/Config.zip)

[2020-11-26 11:28] MarcoZ76 commented on #20278
i have the same problem...

[2020-11-26 13:52] ellensp commented on #20282
I have attached the Config files here so you don't have to go to a weird site to get them.
[Configurations.zip](https://github.com/MarlinFirmware/Marlin/files/5603373/Configurations.zip)

[2020-11-26 13:54] Yannik25 commented on #20278
I have the same issue,
When undoing changes from commit 296a2ad it is working again
https://github.com/MarlinFirmware/Marlin/commit/296a2ad7e45d88a10db4b3305ea183e5c0c177a5

[2020-11-26 14:00] dj-fiorex commented on #20282
Thanks @ellensp, this is my first issue here!
Looking forward to get a solution, because i have a spare pi4 and want to try direct stepping

[2020-11-26 14:05] ellensp commented on #20282
I compiled your configs and the first thing I noticed is, this configs exceeds the available ram of the controller.
RAM:   [==========]  **117.2%** (used 9600 bytes from 8192 bytes)
Flash: [=======   ]  70.6% (used 179216 bytes from 253952 bytes)
You must reduce the the amount of used ram to less than 100% by disabling some features.

[2020-11-26 14:20] paulpenney commented on #20278
I can confirm that this worked for me as well to solve the issues.

[2020-11-26 14:41] dj-fiorex commented on #20282
Oh, you are right!
Ram before enable DIRECT_STEPPING: 84% (6878 bytes)
Ram after enable DIRECT_STEPPING: 134.7% (11038 bytes)
What can i disable to try DIRECT_STEPPING?

[2020-11-26 15:25] kiritokunsama commented on #19810
Freezing SOLVED. Just Updated again to the newer version

[2020-11-26 15:31] daleckystepan commented on #20282
You can try disable SD write, G2/G3 ARC, TMC_DEBUG and other debugs.

[2020-11-26 15:35] BeatingLawrence opened #20284 "[BUG] SD_FINISHED_STEPPERRELEASE Issue"
### Bug Description

When i try to disable SD_FINISHED_STEPPERRELEASE (setting it to false, line 1039 of configuration_adv.h) i get a compilation error:

[code]

### Configuration Files

[conf.zip](https://github.com/MarlinFirmware/Marlin/files/5603813/conf.zip)

### Steps to Reproduce

1. activate neopixels as described in the configuration files.
2. trying to prevent the steppers from disabling

[2020-11-26 15:40] dj-fiorex commented on #20282
Nothing to do, tried disabled SDSUPPORT, ARC_SUPPORT, TMC_DEBUG, applied 3x3 grid instead of 5x5,  always out of ram :(

[2020-11-26 15:44] nemis16 commented on #20284
In fact, if i comment the line 2240 of configuration.h, which is:
`#define PRINTER_EVENT_LEDS`
it compiles with no problems.

But in this way, i renounce at the functionality of the neopixels.

[2020-11-26 15:53] bellini13 commented on #20278
I'm having the same issue.  If i use firmware from 11/24, it does work properly.  So I'm guessing a recent change has broken it

[2020-11-26 16:29] sdaitzman opened #20285 "[BUG] ABL disregards probe offsets"
### Bug Description

ABL attempts to probe at the expected positions with the nozzle, rather than the BLTouch. In other words, when leveling using the BLTouch, the printer moves the nozzle to the center then probes there (rather than moving the nozzle OFF CENTER, with the BLTouch over center).

I'm running on an Ender 3 Pro with an SKR E3 DIP. My Marlin lives at https://github.com/sdaitzman/marlin

[2020-11-26 16:43] bill-orange opened #20286 "[BUG] Z-Stepper Auto-alignment fails in current BigFix build"
### Bug Description :

Z-Stepper Auto-alignment fails in current bugfix.  The carriage moves too far toward home, causing the level sensor to miss the bed and crash the extruder.  This function was working normally until my most recent build.  I suspect something changed in the last two weeks affecting this feature.  This may be a symptom of #20278

### Configuration Files:

[Marlin.zip](https://g

[2020-11-26 16:45] discip commented on #20278
Same here:
<details>
  <summary>
    <b>Configuration.h</b>
  </summary>

[code]
</details>
<details>
  <summary>
    <b>Configuration_adv.h</b>
  </summary>

[code]
</details>

thanks in advance

[2020-11-26 16:56] Daniel-br0 opened #20287 "[BUG] Blobs and stuttering Anet et4, MCU: STM32F407VGT6 ARM CORTEX M4"
![20201126_101149](https://user-images.githubusercontent.com/71851899/100376814-ea9fdf80-2fee-11eb-82e2-945a255dc7a7.jpg)

### Bug Description

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

If you've made any other modifications describe them in detail here.

### Steps to Reproduce

1. Compiling Marling 2.0 bugfix for Anet et4+ w

[2020-11-26 17:07] daleckystepan commented on #20285
Duplicate of 20278

[2020-11-26 17:08] daleckystepan commented on #20278
If you are experiencing same issue, just revert 296a2ad as mentioned in the first post.

[2020-11-26 17:16] sjasonsmith commented on #20278
If one of you has located the cause of the problem please post a pull request to fix it.

[2020-11-26 17:52] srastoul opened #20288 "MKS TS35 calibration each time"
**Bug Description :**

Since the download of the last version of Marlin bugfix 2.0.x each time I start the screen asks me for a calibration. The version for the month of october only requires a calibration at the first start

**Configuration Files:**

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/5604450/Marlin.zip)

**Steps to Reproduce:**

Shutdown or reset 3d printer

**Additional

[2020-11-26 17:59] tpruvot commented on #20278
not exactly related, but the new LEVEL_CORNERS_USE_PROBE ignores it also
had to do that
[code]

[2020-11-26 18:02] altiber commented on #20288
I had the same problem. After calibration, you need to save the settings via the menu in EEPROM. This should help

[2020-11-26 18:16] nemis16 commented on #20284
Updated to latest version of Marlin, problem solved.

[2020-11-26 18:16] #20284 closed, assigned to nobody

[2020-11-26 18:33] yet-another-average-joe opened #20289 "[BUG] BigTreeTech SKR 1.4 Turbo + generic SSD1306 I²C 1.3" OLED : shifted display"
### Bug Description

Brand new BTT MKS 1.4 Turbo with :
- 5x BTT TMC2209 drivers
- 2x generic NTCs
- a generic 1.3" I2C OLED (4-wire version)
- a generic click encoder
- a 12V brick for testing purpose
- vanila Marlin Bugfix (62680bb) (downloaded 2 days ago)

Test on the bench : no motors, just the drivers so marlin does not complain.

I2C pullups are on the board, and probably on the OLED (diffic

[2020-11-26 18:55] tpruvot commented on #20285
not only ABL... UBL too

[2020-11-26 19:03] swissnorp commented on #20264
Well after thinking a bit more about the issue and the pull request, I must say that this is not a bug and the behaviour is absolutely okey. We may just need to have a note, that HOME_AFTER_DEACTIVATE does not prevent movement!

NO_MOTION_BEFORE_HOMING: prevents moving if axes not homed, thats the case!
HOME_AFTER_DEACTIVATE: forces axes to be rehomed after deactivated steppers, thats the case too

[2020-11-26 19:09] Sergey1560 commented on #20264
The problem is not that the movement is not prohibited, but that the software endstops are not taken into account. In case of errors in the gcode, this can lead to damage.

[2020-11-26 20:26] Huttch opened #20291 "Custom Bootscreen or Status Screen - Compile Error - Ender 3 v2"
When trying to add a custom bootscreen or status screen to Creality Ender 3 V2 and try to compile you receive the following:

<details>
  <summary>Click to see log</summary>

  ## Log
Compiling .pio\build\STM32F103RET6_creality\src\src\HAL\STM32F1\dogm\u8g_com_stm32duino_swspi.cpp.o
Compiling .pio\build\STM32F103RET6_creality\src\src\HAL\STM32F1\eeprom_bl24cxx.cpp.o
Compiling .pio\build\STM32F103R

[2020-11-26 20:28] swissnorp commented on #20264
I know, I know...
If `NO_MOTION_BEFORE_HOMING` is disabled and you turn on your printer, no axis is homed but you can move each axis. It makes no sense to have soft endstops if the positions on the axes are not homed. This is the same state as with `HOME_AFTER_DEACTIVATE` enabled but `NO_MOTION_BEFORE_HOMING` disabled.

[2020-11-26 20:52] Bastlwastl84 commented on #20282
Perhaps this guide helps you https://crosslink.io/2020/08/14/shrinking-marlin-2-0-how-to-reduce-firmware-size-for-8-bit-boards-and-still-use-a-bltouch-and-the-filament-sensor/

[2020-11-26 21:16] rhapsodyv commented on #20288
If you have `EEPROM_SETTINGS` disabled, you need to connect to serial, run touch calibration, that the numbers it will show, and put that in your config.

If you have `EEPROM_SETTINGS` enabled, you must run `M500` after touch calibration, to save it on EEPROM.

Your configs shows that you don't have `EEPROM_SETTINGS` enabled, so you need to copy the values shown in the serial to your `Configuratio

[2020-11-26 21:16] #20288 closed, assigned to rhapsodyv

[2020-11-26 21:19] shitcreek commented on #18965
@Zumili - have you tried laserWeb? It allows for 'Marlin' gcode flavor, but it's a bit dated. The 'default' gcode flavor works for me as I don't need to use M3 and M5 at all and just use G1 with S power instead.

[2020-11-26 21:24] sjasonsmith commented on #20278
@daleckystepan thanks for your help troubleshooting this. I've merged the simplified fix in your PR, which seems to fix it. I'll leave this open until you have a chance to test it and verify it is working from the `bugfix-2.0.x` branch.

[2020-11-26 21:27] shitcreek commented on #20291
"#error "SHOW_CUSTOM_BOOTSCREEN requires Graphical LCD or TOUCH_UI_FTDI_EVE." This tells me you didn't enable an graphical display.

This queue is for reporting issues and feature requests. If you are certain it's a bug, then please follow the template and provide the needed information. We can't do the guess work for you.

For best results getting help with configuration and troubleshooting, plea

[2020-11-26 21:27] #20291 closed, assigned to nobody

[2020-11-26 21:27] thisiskeithb commented on #20285
Duplicate of #20278

[2020-11-26 21:27] #20285 closed, assigned to nobody

[2020-11-26 21:28] thisiskeithb commented on #20286
Duplicate of #20278

[2020-11-26 21:28] #20286 closed, assigned to nobody

[2020-11-26 21:36] shitcreek commented on #20287
You are using a separate branch of Marlin. Try the official bugfix and see if you get the same results.

[2020-11-26 21:53] Daniel-br0 commented on #20287
Thanks!

[2020-11-26 21:54] #20287 closed, assigned to nobody

[2020-11-26 22:25] ellensp commented on #20282
Your controller has 8k of ram. From the before and after enabling DIRECT_STEPPING it can be determined that DIRECT_STEPPING uses 4160 bytes of ram, ie over 4k.
You would have to turn off practically everything.

Starting with a defatult config provided with marlin and just enabling the LCD and direct_stepping
RAM:   [========= ]  89.1% (used 7296 bytes from 8192 bytes)

[2020-11-26 22:25] #20282 closed, assigned to nobody

[2020-11-26 22:27] tommylux commented on #19877
How might I be able to load your changes for testing into my fork?

Thanks

Sent from my iPad
________________________________
From: Stephan <notifications@github.com>
Sent: Wednesday, November 25, 2020 10:07:56 PM
To: MarlinFirmware/Marlin <Marlin@noreply.github.com>
Cc: Thomas Luxton <thomas@luxton.uk>; Comment <comment@noreply.github.com>
Subject: Re: [MarlinFirmware/Marlin] [BUG] M600 (Fileman

[2020-11-26 23:56] bill-orange commented on #20278
Corrected my issue. Fast work.  Thanks.

[2020-11-27 00:01] sjasonsmith commented on #20278
Closing, based on feedback from a couple people that it is now working. Please let us know if there are still issues related to this.

[2020-11-27 00:01] #20278 closed, assigned to nobody

[2020-11-27 00:39] CaptainSweatpants commented on #18286
@LakoSam did you ever find a solution to this problem? I have the same setup and same issue.. It starts off quiet as a mouse, but then after a few hours my stepper motors are screaming! I have dedicated 5015 turbo fans on my drivers and sufficient airflow in the case, but this issue for me is definitely something to do with time, and possibly heat.

[2020-11-27 00:40] theomajigga opened #20295 "MKS_SGEN_L Expansion pin for additional steppers"
Unable to use the following pins for external STEP/DIR pins, using Latest release:

P1.28
P1.26
P1.24
P0.25
P0.02 (TX)
P0.03 (RX)

Pins P1.23 and P2.0 work (which also means the stepper extensions board is working).

Trying to add 2 more steppers, (Dual Z and triple extruder)

[2020-11-27 00:43] ellensp commented on #20295
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2020-11-27 00:43] #20295 closed, assigned to nobody

[2020-11-27 01:27] theomajigga commented on #20295
This isn't a configuration issue, or a troubleshooting issue, I have tested wires, multiple pins (hence the tag that some are working)

[2020-11-27 01:45] ellensp commented on #20295
Yes many say that, then they enable pins_debugging and find the conflicts with things they didn't expect to be on those pins. remove them and suddenly it works.
You also didn't follow the template or attach config files. so that makes this a support request.

[2020-11-27 01:56] ellensp commented on #20295
But in his case I suspect its purely hardware issues.

P1.28 and P1.26 are hard wired to diag pins., if you have a stepper driver in E0 or E1 with this pin, you must remove the diag pin jumpers to disconnect them.
P1.24 and P0.25 both have additional circuity on the controller. You would have to remove components from the board to use these pins.

"Pins P1.23 and P2.0 work" yes these don't have ad

[2020-11-27 02:48] shitcreek commented on #20230
This should be a feature request instead because it's not in the codes.
In `motion.cpp` at line 1666, we have this:
[code]

As you can see, it doesn't account for dual sensorless. We could modify this bit of code or perhaps the `G34` https://marlinfw.org/docs/gcode/G034.html which does Z steppers auto-alignment.

[2020-11-27 03:16] thisiskeithb commented on #20287
The ET4 motherboard is not supported here yet, but there’s a pending PR to add support: https://github.com/MarlinFirmware/Marlin/pull/20280

[2020-11-27 03:20] ellensp commented on #20238
endstops are only used in homing, they are not looked at during moves, unless you tell it to.

// If you want endstops to stay on (by default) even when not homing
// enable this option. Override at any time with M120, M121.
#define ENDSTOPS_ALWAYS_ON_DEFAUT

[2020-11-27 03:28] ellensp commented on #20238
also sensor less is a really bad idea on z. and also for lead screws in general "axes with lead screws is absolutely not recommended and often doesn't work at all. The stall torque on the motor side is just too low and you risk damaging your bed."

[2020-11-27 03:34] shitcreek commented on #20204
Please close this issue if it's all dandy now.

[2020-11-27 03:36] shitcreek commented on #20182
@Zumili - this issue hasn't been resolved. But in the meantime, you can just enable `LASER_MOVE_G0_OFF` and/or `LASER_MOVE_G28_OFF` and end your file with a `G28` or `G0`

[2020-11-27 05:48] shitcreek commented on #20281
Looking at `menu_tramming.cpp`, we have this bit:
[code]
It shouldn't be too hard to insert that into `G35.cpp`. I'm guessing it should be plugged into the ` LOOP_L_N` function like so:
[code]

[2020-11-27 05:54] shitcreek commented on #20281
Perhaps we should also have a parameter to utilize the position or not:
[code]

[2020-11-27 06:30] Jovian-Dsouza opened #20297 "[FR] Multiple Serial Port Host Support for AVR chips"
Many AVR chips have more than one hardware serial support (Ramps 1.4 in my case) and I would like to attach a secondary host (such as the ESP3D) along with the USB to Serial host . I tried using the SERIAL_PORT_2 as my secondary port , but it does not seem to work. Is the `SERIAL_PORT_2` supported in Marlin ?

[code]

[2020-11-27 06:37] qwewer0 commented on #19650
Closing, since solved.

[2020-11-27 06:37] #19650 closed, assigned to nobody

[2020-11-27 06:40] ellensp commented on #20297
There are 4 serial ports on a mega2560, on the ramps they are mapped to the following.

2 RXD0 PE0 ( RXD0/PCINT8 ) Digital pin 0 (RX0) usb
3 TXD0 PE1 ( TXD0 ) Digital pin 1 (TX0) usb
45 RXD1 PD2 ( RXDI/INT2 ) Digital pin 19 (RX1) Z-MAX
46 TXD1 PD3 ( TXD1/INT3 ) Digital pin 18 (TX1) Z-MIN
12 RXD2 PH0 ( RXD2 ) Digital pin 17 (RX2) on aux4
13 TXD2 PH1 ( TXD2 ) Digital pin 16 (TX2) on aux4
63 RXD3 PJ0

[2020-11-27 06:40] #20297 closed, assigned to nobody

[2020-11-27 06:41] Frontier314 commented on #19877
the-real-orca's changes or mine?
I am not so familiar with Github but I can upload the whole source tree base somewhere.

[2020-11-27 06:46] qwewer0 commented on #20281
@shitcreek Thanks for the feedback.

If it is added to `LOOP_L_N`, wouldn't it move to `wait_pos` after each point is measured? (without a "last point" check)

If there would be already and option to move away, why wouldn't someone want to use it? So I think it should move away without any extra parameter.

[2020-11-27 07:22] qwewer0 commented on #20281
Tested https://github.com/MarlinFirmware/Marlin/pull/20298 and it works, but I'm not sure if it needs some more work.

[2020-11-27 08:31] Sergey1560 commented on #20264
Fixed by #20283

[2020-11-27 08:31] #20264 closed, assigned to nobody

[2020-11-27 09:13] evandene commented on #16365
Just my few cents worth of comments:
Have a DELTA printer that needs to home to MAX
My 5x installed TMC5160 do work fine in regard to movements (Latest 2.0x bugfix)
Homing fails, limit switches do show to be triggered (LED's aside the driver and with M119)
My wild guess is that there are no limit endstops PIN's assigned to x, y, and z MAX_PLUG
have my files attached
[DELTA_SKR_PRO_12.zip](https://

[2020-11-27 09:43] rubienr commented on #18035
Hello,
No I am not 100% sure. Can you provide a link to documentation about this? Tried to read a lot I found in the net but the documentation is not very accurate. Until now I was assuming the number prefix determines the memory block the file is placed in.