[2017-05-21 07:56] stevie72 commented on #6807
Good Morning!
I will be downgrading to an pre version of Marlin Today I´m running on my Mendel90.
Is there the Chance that Eeprom Contend may effect this Problem?
In that case I´ll erasing the Eeprom first and look if the problem is vanished.

@bgort : I´m not using endstop interrupts

[2017-05-21 08:09] thinkyhead commented on #6805
The getter has always been that way. Code that displayed the value as float in the past was merely bypassing the getter.

[2017-05-21 08:35] teemuatlut commented on #6805
It's returning float on all the 1.1.0-RCx tags.

[2017-05-21 08:44] christianh17 commented on #6804
Thanks for the offer helping me with my mesh.
My G29 T after one G29 P3 which filled the left line:
[code]
The resulting test print shows a print like on a tilted bed (on the left too low, on the right too high). I stopped the printing of the test pattern because on the right hand side it touched always the bed while printing. And: Please do noat have too close look at my capton - it definitely ne

[2017-05-21 09:52] thinkyhead commented on #6805
You're right, I was mis-remembering. Anyway, I have a patch pending that should clear up this issue.

[2017-05-21 10:02] Bob-the-Kuhn commented on #6804
These are the coordinates of where the NOZZLE can reach while printing.

If the `G26` command is printing where you want it to print then you have these correct.

----

The highlighted items only happen if you do NOT have a probe.  They are NOT happening in your case.

----

Now that you have a G26 print you can start the fine tuning process.

In your case I suggest the following:
1) send **G29 P6

[2017-05-21 10:27] thinkyhead commented on #6804
I've patched the typo in #6812.

[2017-05-21 10:27] #6804 closed, assigned to nobody

[2017-05-21 10:29] fabio-pulcini commented on #6747
with my relay you can choose if you want activate it when pin is low or high (now i know it thanks bob!).
but it will be good if you can do it by software!
thanks!

[2017-05-21 10:45] Bob-the-Kuhn commented on #6747
There isn't a configuration option for this.  Any software solution would require custom code.

The jumper on the module is the only hardware method available to invert the signal.  My earlier comments don't apply to this module.

[2017-05-21 11:20] thinkyhead commented on #6807
@Grogyan Which Z offset, and how is it failing to be applied?

[2017-05-21 11:26] thinkyhead commented on #6747
IOW — it would need to invert the bed PWM, which could also be done by inverting the duty cycle.

However, the result would be that the Arduino would have to keep pumping 5V into the relay to keep it from heating the bed, and it would be better if it had the opposite fail condition. That is, if it got disconnected, it shouldn't start to heat the bed.

For that reason, I strongly disfavor this feat

[2017-05-21 11:33] thinkyhead commented on #6001
To support SLA galvanometers we'd basically need to do a slightly complex rewrite of `Stepper::isr`, adding proper support for galvanometers to replace the XY steppers in that method.

Elsewhere we would need to account for the lack of XY endstops, and make many other similar changes throughout the code. I believe that it is totally doable, but it will require great care and attention, and a lot o

[2017-05-21 11:54] thinkyhead commented on #6001
Thinking further… I've never used galvanometers, but I'm guessing that they don't change position instantaneously. So we'll also need to know how fast they can move (to know how long an "instantaneous" move requires).

The other thing that occurs to me is that apart from the Z stepper, there's no other stepper logic needed at all. Everything extruder-related would go away. There would be no need t

[2017-05-21 12:02] thinkyhead commented on #6001
I'm gratified to know it's working well! I did a comparison with 1.0.2-2 recently, and you can really feel the difference in the UI, for example. Even the character-based LCD is noticeably more responsive. It's been 2 years of incremental improvements, most small, but some of them achieved dramatic reductions in CPU use. We can all be grateful to Github, Patreon, the Caffeine Gods, and some really

[2017-05-21 12:05] thinkyhead commented on #6001
Not at all. For one thing, not needing to generate 80 step pulses (or many more) per millimeter for the X, Y, Z, and E steppers in coordination will save a huge amount of computation. More than enough to compensate for the extra maths.

I'm gratified to know it's working well! I did a comparison with 1.0.2-2 recently, and you can really feel the difference in the UI, for example. Even the characte

[2017-05-21 12:16] Drayson80 commented on #5982
Guys, I appreciate all the ideas how this could be done.
Nevertheless, I guess, by (not so fancy) plain simple adding a few lines of code, maybe re-using the park position parameters would do the job too.
So if anybody could give a hint what/how to do, @karabas or myself could find a way for easy closing this request...
and b.t.w. it should be possible to do this without host/octoprint or all the

[2017-05-21 12:24] thinkyhead commented on #6728
Merged #6811, which restores `degHotend` and `degBed` to returning `float`.

[2017-05-21 12:24] #6728 closed, assigned to nobody

[2017-05-21 12:24] thinkyhead commented on #6805
#6811 should have it covered.

[2017-05-21 12:24] #6805 closed, assigned to thinkyhead

[2017-05-21 12:27] thinkyhead commented on #6790
@edautz
`MESH_BED_LEVELING` or `PROBE_MANUALLY`?

[2017-05-21 13:23] edautz commented on #6790
@thinkyhead

Manual mesh bed leveling. I also noticed this sometimes after starting print from SD card, right after the heating and the leveling tasks. Kust when the printong task starts. Turning or pushing the encoder trigger text again.

[2017-05-21 13:47] Radiu opened #6813 "End Stops"
My machine build will be the bed plate that moves up and down(Z axis), so my question is
Where will i put my Z end-stops on bottom off my bed?
Do i use on my ramps 1.4 the  Zmin pins or Zmax pin?
Where im confused is if i use Zmin on bottom of bed-plate when i do homing  the plate will go to the bottom, so then do i have to put on software the piece to start at top?
or do i use the Zmax end-stop o

[2017-05-21 15:31] fr33dimension commented on #6792
Yes, noticed the same thing. And when it is set to 0.0, the extrusion speed is affected...weird.

What's the command again to have the UBL activated at start up?

[2017-05-21 15:36] marcelogaio commented on #6001
I had no idea about Patreon!! I will definitely contribute on Patreon right away!

[2017-05-21 15:41] Roxy-3D commented on #6792
Actually...  It is more of a 'state' than a command.   If you activate UBL with G29 A  and then do a M500 to save all the current settings...  It will power up in an active state.   You can do the opposite, G29 D and M500 to make it power up in a disabled state.

I'm going to be adding Z-Movement during the Mesh Editing today...  I'll try to get the Fade Height stuff to default to 10.0mm too...

[2017-05-21 15:47] marcelogaio commented on #6001
As for the help, since I am very interested in getting the galvos working, I am willing to help as much as I can.
I have a 2 axis galvo I got on banggood (the name gives me a laugh every time ;) and I am setting up a DAC and an op amp (to generate the +- 15 v needed)

For the last week I've been looking at Marlin trying to figure it out. Based on your comments I'll give a look to the Stepper routi

[2017-05-21 15:48] marcelogaio commented on #6001
Sorry for the typos. I'm outdoors typing on my phone. Can't wait to get back :)

[2017-05-21 16:15] fr33dimension commented on #6792
Awesome! I installed it on a Ultimaker style machine with a proximity sensor and max z enstop, took me a while but it's working fine now.

[2017-05-21 16:25] fr33dimension commented on #6792
I mentioned that earlier, but I noticed something like a z hop when using UBL, not sure what's causing it.

[2017-05-21 16:42] Bergerac56 commented on #6813
Hello,
In my case, I use the "min" option (Xmin, Ymin and Zmin). I use a contactless probe for the Z axe. The probe is mounted on the extruder carriage. This means that Z=0 when the bed is on top of the building chamber and at the correct distance of the nozzle. Z increases(Z>0)  when the bed goes down. Please note that the Zprobe does NOT detect directly the position of the bed, but the relative

[2017-05-21 17:19] thinkyhead commented on #6636
@jon012198 From the discussion it sounds like you're testing with EEPROM off. But just to be sure, do `M502` followed by `M500` to store factory defaults into the EEPROM (next time you have it enabled).

Did you follow the steps I outlined above to rule out the software endstops as being implicated?

[2017-05-21 17:53] ProfDrYoMan commented on #6788
Refering to http://marlinfw.org/docs/features/lin_advance.html K is not depending on the printer.

The amount of prefeed or pullback will be the same for all printers, which is pretty clear.
It is clear, that every printer (bowden or not, fillament type) needs a different K value (and borden a pretty high one).
A K value of 10 or 20 gives me close to no visible or hearable extra prefeed or pullbac

[2017-05-21 18:03] povlhp commented on #6799
Have the same issue on my MeCreator2.
G29 works from gcode and moves nicely around and shows a table. M500 does not save the result.
So multiple problems.

[2017-05-21 18:21] Andrei-Pozolotin opened #6818 "Marlin build system"
Hello guys.

What does it take to accept new configuration, i.e. :

Monoprice Ultimate / Wanhao Duplicator-6
https://wanhaousa.com/products/duplicator-6
https://www.monoprice.com/product?p_id=15710

https://github.com/dot-bob/Marlin-Duplicator-6/tree/RC8/Marlin/example_configurations/Duplicator_6

Thanks.

[2017-05-21 18:26] jon012198 commented on #6636
no i did not i will try that i totally forgot about that  i do have the eeprom on i set it default every time i load a new firmware

[2017-05-21 18:28] jon012198 commented on #6636
i just turned them off with this M211 S0

[2017-05-21 18:33] DaveAhrendt opened #6819 "BLTOUCH Heater Off"
Has the BLTOUCH_HEATERS_OFF support been removed recently?  I do have it defined in configuration.h and it had been working.  I just noticed this morning with the most recent snapshot that the heater remained on during probing.  I just did a search for BLTOUCH_HEATERS_OFF and the only place I see it is in the configuration.h file and it's not referenced anywhere else.  I don't see a mention of it

[2017-05-21 18:34] bgort commented on #6819
It's been renamed to PROBING_HEATERS_OFF; we've also added PROBING_FANS_OFF.

[2017-05-21 18:35] Roxy-3D commented on #6818
Mostly, it helps if it is a very popular machine.   And if it is fairly unique in how it is setup.

The big problem with adding new example machines is it becomes a big burden every time the Configuration.h files change.   Any simple change results in 30+ files needing to be updated.  Please allow me to give you an example.  This morning I added (and changed) this in all of the Configuration.h fil

[2017-05-21 18:40] mikek6 opened #6820 "Rotary encoder on Reprap smart controller is not working"
I use ramps 1.4 arduino mega shield with arduino mega and the full graphics discound smart controller. I uploaded to the controller the  bugfix 1.1.x  but the encoder still not working. when i push the encoder's button i get in to menu but the rotary funtion is dead.

[2017-05-21 18:40] Roxy-3D commented on #6819
I wonder if we should we add a few lines to SanityCheck.h to watch for this?   I can do this if it is useful.
 (I just added a few lines to check for G26_MESH_EDITING still being used).
[code]

[2017-05-21 18:42] DaveAhrendt commented on #6819
Thanks! I missed the switch.  I guess I need to pay better attention.

[2017-05-21 18:42] bgort commented on #6819
@Roxy-3D I don't see why we shouldn't do that...

[2017-05-21 18:43] Roxy-3D commented on #6819
Done...
[code]
But it will be later today before it is merged...

[2017-05-21 18:49] Bob-the-Kuhn commented on #6636
**Don't turn the software endstops off.**   I think that is keeping the head from banging into the physical endstops.

[2017-05-21 18:52] Bergerac56 commented on #6820
I just tried on a "spare" ramps 1.4 with full graphic encoder flashing the latest bugfix 1.1.x and it is working fine. Are you sure: 1> that it was working with a previous build (issue with the encoder button?) and 2> that you choosed the correct option for the graphic controller ?

Can you post your configuration.h file?

[2017-05-21 18:54] edautz commented on #6790
@thinkyhead.

It is manual mesh bed leveling. I noticed sometimes after I start print from SD, after heating and homeing, printing starts and the text on the display also vanishes. Turn the encoder also displays the text again.

[2017-05-21 18:54] jon012198 commented on #6636
it is working fine for the print i just started  to test did not crash in to anything yet

[2017-05-21 19:04] mikek6 commented on #6820
[code]

[2017-05-21 19:16] jon012198 commented on #6636
ok so i do need then on orther wise the bed and extruder hit them more the once  when the print is done so i did turn them back on

[2017-05-21 19:18] bgort commented on #6807
Just tried the latest and Z probing is working fine here.  I only have min endstops, endstop interrupts are enabled.  BLTouch (obviously).

[2017-05-21 19:21] Bob-the-Kuhn commented on #6636
Fruit - I forgot to include a debug statement.

Please switch to this file when convenient.

EDIT

This file works
[Marlin_main (3).zip](https://github.com/MarlinFirmware/Marlin/files/1017283/Marlin_main.3.zip)

[2017-05-21 19:22] martindb commented on #6807
It's random here. In the last week I've printed at least 20 times. Fails 2 times during G29 (abl).

[2017-05-21 19:24] Roxy-3D commented on #6807
I have my machine glued back together.   I have it doing a 'Physical Bed Leveling' mesh ( G29 P1 U T ) right now with a new BL-Touch.      Everything seems ok with current firmware.

@bgort   I'm getting ridiculously good values for M48.   I did see the range keep expanding with the very first probes M48 did...   And every M48 after that had .0015 or .002 for a Standard Deviation.   (all heaters o

[2017-05-21 19:25] mikek6 commented on #6820
i dont see any mistake in configuration

[2017-05-21 19:26] Roxy-3D commented on #6807
@martindb
- What kind of probe setup are you using?
- Have you noticed any correlation between a failure and how high the nozzle was when the probe started?

[2017-05-21 19:29] jon012198 commented on #6636
is there any other debug stuff you want to add before i re compile and upload i will say this debug  make it more under standing what the printer is doing and how the code works

[2017-05-21 19:30] bgort commented on #6807
That's really excellent.  As soon as I'm finished printing I'll try M48 again....

[2017-05-21 19:31] Bob-the-Kuhn commented on #6636
Sorry about all the changes.

I expect this is the final debug changes I'll ask for before kicking this up to a higher level.

[2017-05-21 19:36] Bergerac56 commented on #6820
I compiled with your configuration.h file and it works fine. No problem of rotary encoder. It has to be a hardware problem on your side I think

[2017-05-21 19:38] jon012198 commented on #6636
its fine i think there should be this files in the main marlin as a option to help some people  if they want it enabled  but have it disabled as default  just a thought that came to me as we figure this out

[2017-05-21 19:39] bgort commented on #6807
Done sooner than I anticipated...

[code]

Same as before:  early probes are better/more consistent.  This is with the bed at temperature and stable.

[2017-05-21 19:52] martindb commented on #6807
Roxy, I've an inductive sensor. Currently using endstop interrupts.
As prior to G29 I do a G28, I think the noozle high at the begining is not relevant?

[2017-05-21 19:52] Roxy-3D commented on #6807
I'll have 'Hot' numbers later...   But it is strange that we are seeing similar weirdness with the numbers, but opposite in when they happen.    Are you using the BL-Touch that has the little Blue LED inside it?  That is what I have mounted on the extruder right now.

[2017-05-21 19:53] bgort commented on #6807
Yes, it is.  And yes - I'm using the one you sent.  It has a blue LED.

[2017-05-21 19:55] Roxy-3D commented on #6807
I don't know.   I only had 3 or 4 crashes within a 15 minute time frame.   But it seemed like most of the crashes happened when I started the home operation with the nozzle up 150mm.    It may be coincidence.  But it kind seemed like that was part of the recipe for failure on my machine.

[2017-05-21 20:07] bgort commented on #6807
FWIW, I tried probing from ~100mm and had no trouble.

[2017-05-21 20:32] Bob-the-Kuhn commented on #6820
The pins_RAMPS.h file recently changed.  Could this be the problem?

[2017-05-21 20:51] Grogyan commented on #6636
@jon012198
So was the root cause of the problem because of the E Steps being 99.9
before and now 100 Steps?

[2017-05-21 22:36] Andrei-Pozolotin commented on #6818
ok, great, thank you for getting back.

lets apply your logic as follows:

1) "**a very popular machine**"
looking at https://www.3dhubs.com/trends
and treating Monoprice Ultimate  / Wanhao Duplicator-6 / Zortrax M200 as the same
one can see that Wanhao printer made it last, but still made it those top-5 / top-10 lists

_is that popular enough?_

2) "**fairly unique in how it is setup**"

how can

[2017-05-21 22:46] Roxy-3D commented on #6818
If we use a Configuration.h file set to personalize the firmware generation...   I'm not sure how code restructuring helps.

MonoPrice Ultimate and Wanhao Duplicator would be reasonable machines to add other than my issue 5.   Let's see what the other code maintainers think.    (I'm really not that opposed to it...  I'm just pointing out why there is some resistance.)

[2017-05-21 22:56] Bob-the-Kuhn commented on #5982
Are you just looking for an LCD method of aborting a print which will automatically do some cleanup script/action?

I expect that this could be done with little pain as long as the cleanup consists of executing a script that's specified in the Configuration.h file similar to Z_PROBE_END_SCRIPT.

----

If you also want to have the ability to send a single g-code command to do this from the host the

[2017-05-21 23:15] martindb commented on #6807
Just tried 10 times with level bed lcd menu, from different Z starting high and nothing....
It should be some not so usual combination of conditions....

[2017-05-21 23:19] Roxy-3D commented on #6807
Its also possible I had a bad probe or a bad electrical connection to the probe.   It would seem unlikely.  But something definitely was wrong.    But I've been doing lots and lots of probes today because I'm working on the mesh building and mesh editing routines...   And no problems so far with the new probe installed.

[2017-05-22 00:40] Jolly2015 commented on #6711
@thinkyhead `#define AUTO_BED_LEVELING_BILINEAR`

[2017-05-22 00:40] jon012198 commented on #6636
No it was not still testing
On Sun, May 21, 2017 at 4:52 PM Grogyan <notifications@github.com> wrote:

[2017-05-22 01:40] Roxy-3D commented on #6510
I have not forgotten that I'm supposed to do this.   Today I really tried to get started.  But I just wasn't in the mood to do documentation.  Documentation is very hard for me.  I don't write well.   So instead, I cleaned up a bunch of stuff and added some nice user features instead.  https://github.com/MarlinFirmware/Marlin/pull/6822

Plus...  I had to get my printer back together again, test it

[2017-05-22 03:03] Bob-the-Kuhn commented on #6510
You could print it out, mark it up, scan it & then post it here.  I'll be happy to update the wiki.

The G29 header still says that G29 P4 defaults to editing every point in the mesh.  I'd rather you go through the G26 & G29 headers first and then mark up the wiki.

Actually, you could mark both of them up & I'll take care of making them pretty.

[2017-05-22 03:39] wabbitguy commented on #6703
LIN_ADVANCE has never been enabled for any of my tests. It's commented out.

[2017-05-22 04:22] dot-bob commented on #6818
My plan is to eventually clean up and submit pull requests to add the remaining functionality needed to support the full hardware.  But again it all comes down to free time.  Currently Marlin supports most of the hardware and can be made functional modifying the configuration.h and configuration_adv.h.

In general to effectively replace the stock firmware the following still needs to be added: The

[2017-05-22 06:40] Drayson80 commented on #5982
I expect that this could be done with little pain as long as the cleanup consists of executing a script that's specified in the Configuration.h file similar to Z_PROBE_END_SCRIPT.<

That's exaclty what (i guess) @karabas  and I'm looking for - a simple script which is called when I klick on "abort print" at the LCD.
See the initial request from @karabas - just plain at the machine, without any hos

[2017-05-22 06:55] rubdos commented on #6023
I think I have a related one, [and I filmed it](https://youtu.be/UQGWk7Y3JUk)

I am printing [these vibration dampers](https://www.thingiverse.com/thing:1707045) using Slic3r and Pronterface, on a Thinkpad T61p (so the controller is quite capable; the CPU doesn't go above 30%).

I'm on the 1.1.x branch, last updated last Thursday (18th of May).

[2017-05-22 07:20] Bergerac56 commented on #6820
Based on the bugfix of the 21th of May, I flashed 2 different ramps based systems. One "real" 3D printer (with my own configuration.h file) and a test hardware (only electronic) with the configuration.h file of mikek6. Both are using a full graphic smart controller (but slightly different version) and were working fine with the release used. This means that I could not reproduce the potential bug

[2017-05-22 07:26] fbarcenas commented on #6807
Try in 2 machines, several times with 1.1.x version and no problem

[2017-05-22 07:57] ProfDrYoMan commented on #6703
I just reverenced to here because it seems LIN_ADVANCE creates extra trouble on deltas due to not sufficient cpu power.

[2017-05-22 10:21] rv4 opened #6824 "Marlin-1.1.1 AutoBedLeveling"
I have a problem with erratic ABL results.

I looked at the results from a 3x3 G29 command and found out, that the left/front (collum 1 / row 3) and left/middle (collum1 / row 2) most times look strange. (values up to some thousand)

Examples:

08:32:41.119 : -0.03694 +0.09056 +0.07556
08:32:41.119 : +0.08306 +0.08806 -0.01944
08:32:41.119 : **-97.29734** -0.02694 -0.16944
08:32:41.119 : X:289.00

[2017-05-22 10:29] h4nc opened #6825 "Error Z_MIN_ENDSTOP_INVERTING"
Hi,

I'm updating RC8 to 1.1.0 stable. I got a error while compiling that says:

SanityCheck.h:521: error: #error "Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN requires Z_MIN_ENDSTOP_INVERTING to match Z_MIN_PROBE_ENDSTOP_INVERTING."

#error "Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN requires Z_MIN_ENDSTOP_INVERTING to match Z_MIN_PROBE_ENDSTOP_INVERTING." //changed

Thing is if i set those parameters both to fals

[2017-05-22 12:06] Drayson80 commented on #6763
@Roxy-3D :-) seems this feature request gets quite popular.
Only one aditional request if considered in M600/M125: we need to make sure the documentation for each application/use case is foolproof so that it's simple to setup...

[2017-05-22 12:19] FHeilmann commented on #6824
What happens during probing for that point with the printer itself? Does everything seem normal?

[2017-05-22 13:30] rv4 commented on #6824
can't see any abnormal behavior during probing.

[2017-05-22 13:36] remco1123 opened #6826 "Z_DUAL_ENDSTOPS_ADJUSTMENT"
The weight of the X-axis motor is enough to slightly bend the axis. with Z_DUAL_ENDSTOPS_ADJUSTMENT  i tried to add enough to compensate but nothing happend.
In my setup i use 2 endstops underneath the Z carrier so when the nozzle hits the bed they will continue till the Z carrier and the endstop carrier are separated.

sorry if this is the wrong place to this issue.

[2017-05-22 14:54] marcelogaio commented on #6001
@thinkyhead

Usually i've seen tests with 12 bits as well as 16 bit ADCs.
It all goes down to the resolution we can achieve. For a 12 bit ADC you would get 4,096 steps, and for a 16bit ADC you would get 65,536.
Should there be a parameter to specify the ADC resolution (12/14/16/etc)?

My galvos (standard, cheap ones) are supposed to be 30kpps. They are meant to be used along with an ILDA laser sho

[2017-05-22 15:00] Sebastianv650 commented on #6023
Can you upload your configuration and configuration_adv,h files please.
Given the sound (which is more easy to follow than a video sometimes), it might be due to low jerk and acceleration settings in this case. As far as I can hear/see it in the video, the printer is slowing down already when approaching the corners, which would mean the motion planner calculated that as a maximum cornering speed.

[2017-05-22 15:41] akaJes commented on #6722
i have built new version with PlatformIO support and consoles manager
for upgrade `sudo npm -g i marlin-conf`
And now You can compile, flash your firmware and work with multiple serial consoles

[2017-05-22 15:44] thinkyhead commented on #6001
All of this is doable. My suggestion would be to start from a snapshot of the current code, either the `1.1.1` tagged release or the `bugfix-1.1.x` branch, create a new branch from that in your fork, and start there. The lower-level stuff won't be changing for a while, so this is a good time to add support for SLA and the galvanometer.

At the low level, we only need to be able to convert blocks f

[2017-05-22 15:50] thinkyhead commented on #6722
Will give it a try soon…
[code]

[2017-05-22 15:53] thinkyhead commented on #6722
First note: I've been sticking JSON into the config files above the options that they apply to. You can use that JSON to produce a drop-down, radio buttons, or select list.

[2017-05-22 15:56] thinkyhead commented on #6722
I added the `@section` markers with the intent of making each of those a separate tab, so that each config section is smaller and easier to digest. For sections that show up in both `Configuration.h` and `Configuration_adv.h`, my intent was to show options from both files under the same tab.

[2017-05-22 16:03] Bob-the-Kuhn commented on #6826
I'm not sure what the issue is so I'm going to ramble a bit & hope some of this helps clarify how the Z dual endstop system works.

I also am using the Z_DUAL_ENDSTOPS_ADJUSTMENT to get the X axis close to parallel to the bed.  I use one of the automated bed leveling systems to finish the job.

I home in the + direction on my dual Z and use a Z probe to enter the data into the bed leveling system.

[2017-05-22 16:16] marcelogaio commented on #6001
I found this old version from 4 years ago that implements something in the lines of what we are talking about:
https://github.com/beardface/Marlin-OpenSL
Apparently it's based on an old and modified version of Marlin.
I am trying to figure it out...

[2017-05-22 16:24] marcelogaio commented on #6001
GREAT! I'm all for it!!!
I forked the bugfix-1.1.x branch. Do you think we can work it in there?

PS: Marlin is... wait for it.... Awesome!

[2017-05-22 16:27] Nerradia commented on #6001
I am happy to read that I'm not alone :D
I was planning to make my SLA with steppers driving mirrors, is there a way to implement this at the same time ?

[2017-05-22 16:35] marcelogaio commented on #6001
@Nerradia
I did a lot of research regarding SLA with steppers. The main issue is that the steppers cannot (apparently) provide the amount of steps needed for the high resolution needed... Remember the mirrors move between 7-8 degrees (max), and most details just need a couple of fractions of a degree. If you use steppers, (again, apparently) the best solution would be to build an X/Y arrangement t

[2017-05-22 16:49] Nerradia commented on #6001
@marcelogaio
Thank you for this answer. I did'nt precise that I was planning to add some gears/Toothed belts to increase precision, but I don't know if it will be enough... You are right, I will order a galvo soon !

If I can help on the hardware side (PCBs ?), please tell me.

After googling 30 seconds, about the DAC needed to drive galvo, why not use 24 bits audio DAC like this one : http://www.

[2017-05-22 17:01] fiveangle commented on #6722
Looking forward to giving this a whirl - thx @akaJes !

[2017-05-22 17:14] vMeph commented on #6826
@Bob-the-Kuhn  sorry to jump in this issue but im also in progress of setting my endstps on Z axis,in my case the bed moves up and down with 2 steper motors nema 17 at this moment i dont know yet if the 2 stepers will be enought to suport a  base with 600 by 450 mm plus a bed size 400 by 300mm aluminum plates of 6mm,im i process of getting them, i been setting my endstops of z to figuer out how al

[2017-05-22 17:38] thinkyhead commented on #6001
That is already in place, essentially. You only need to write the kinematics to convert XY into mirror angles, and Marlin will faithfully move your mirrors just like it moves the joints on a SCARA. The only thing you'll need to add is layer-change G-code for any special moves on layer change, and you can do that in the slicer.

[2017-05-22 17:40] thinkyhead commented on #6001
i2c? I believe the "fast i2c" on the Mega is only 40kbps. But I will look into it.

[2017-05-22 17:44] Bob-the-Kuhn commented on #6825
I can throw out a guess as to why but why bother.

The real question is: Why do you want them to be different?

[2017-05-22 17:44] Nerradia commented on #6001
No, I am talking about I2S, it's a standard for digital audio which is compatible with a huge part of audio ADCs and DACs.
https://en.wikipedia.org/wiki/I²S
I don't know if we need that much speed and precision to drive mirrors...

I did'nt know it was that easy to change marlin for SLA with steppers driving mirrors, thank you for your advice :)

[2017-05-22 17:46] thinkyhead commented on #6001
![image](https://cloud.githubusercontent.com/assets/698003/26321491/953a9bee-3eec-11e7-8fa7-686e9d83f9e7.png)
😝

[2017-05-22 18:26] h4nc commented on #6825
If I set them both to the same value (false) the probe goes in the wrong direction while probing. It only works when I set it as I mentioned before.

[2017-05-22 18:28] thinkyhead commented on #6001
I2S may not be suitable unless the galvos are tightly integrated. Sources indicate that it's meant for use between circuits, not over longer wires. But there is an I2S library for Arduino, so feel free to test such an interface.

The more common and easier-to-integrate circuit is the [DAC_MCP4X](https://github.com/DeltaFlo/LaserProjector/blob/master/LaserShow/DAC_MCP4X.cpp), which uses SPI. I sugg

[2017-05-22 18:56] Bob-the-Kuhn commented on #6826
Your English is better than some of my relatives'.

I'm using the Z_MIN and Z_MAX endstops for my Z dual endstops and one of the AUX pins for my Z probe.

Here's my dual Z configuration:
[code]

I just found a note in my pins_xxxx.h file that indicated I needed to swap the Z_MIN and Z_MAX cables to get the Z dual endstops to work properly.  You may or may not need to do this.

----

There's a Marl

[2017-05-22 19:03] Nerradia commented on #6001
At the speed we will use it, I2S can travel some distance without problem.
I am ok to start with the SPI DAC and his library, as it will be easy to change to a better one later by changing the library.
Orders from Bangood/Aliexpress are very slow and I may get my galvo in a month :(

[2017-05-22 19:49] remco1123 commented on #6826
[code]
--------------------------------------------------------------------

i don't use a probe
[code]
This is my Z endstop Z2 is the same on the other side

![2017-05-22 20 26 44](https://cloud.githubusercontent.com/assets/18643633/26325685/3c180910-3f38-11e7-8ab8-915e2d8a6e9c.jpg)

[2017-05-22 19:52] dobryj opened #6828 ""Set home offsets" not work."
Hello,

"Set home offsets" menu function working only when original offsets are zero. Problem is simple, it accidentally use old offset twice in calculation.

In details:
"Set home offsets" from menu execute function gcode_M428(). This function contain this two eqations:
[code]
Problem is that add home_offset[i] (and something more) to argument.
This mean that in result command execute

[code]
Thi

[2017-05-22 20:18] jhitesma commented on #6818
Instead of adding new sample configurations it's always possible for someone to maintain their own fork focused on a particular machine.

Including a handful of common sample configurations makes sense to help people get started, but 30+ gets a little crazy to maintain.  And with the progress on a visual config tool the need for lots of samples is minimized.

Maybe instead of including a bunch of

[2017-05-22 20:23] bsabino commented on #6825
By goes in the wrong direcrion do you mean that your bltouch is retracted? At list am having currently this issue.

[2017-05-22 20:32] Roxy-3D commented on #6818
I like this idea.  But my guess is the links would die and need to be taken out of the list.

[2017-05-22 20:33] thinkyhead commented on #6828
Thanks! I've applied the fix you suggested…
https://github.com/MarlinFirmware/Marlin/commit/d4d703d29935cff4f38ad33deaa1cd10609f06df

[2017-05-22 20:33] #6828 closed, assigned to nobody

[2017-05-22 21:06] Bob-the-Kuhn commented on #6826
It should be _ZMAX_

[2017-05-22 21:29] stevewatts opened #6829 "Unexpected Z probe height"
Hi I've recently nearly-completed a Marlin 1.6.12 Ramps1.4 which I'm trying to use as a CNC for milling pCBs.

I have a normally open Z Min whih doubles up as a a probe using a crocodile clip on the drill bit.
#define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN

This homws perfectly on the PCB and I can do some milling with it running G-code through.

My boards are not flat so not getting brilliand results

[2017-05-22 21:35] Roxy-3D commented on #6829
The height is wrong for this explanation...  But do you have the MIN_SOFTWARE_ENDSTOPS turned on? That will keep you from going below the bed.  And that needs to be turned off for the Mesh Bed Leveling systems because they often times need to dip below the 0.000 point as they track the bed.

[code]

[2017-05-22 21:47] stevewatts commented on #6829
Thanks for the quick reply Roxy.

Yes I do have that set, but allowing -1.4 to allow for the full depth of a PCB when drilling:
#define max_software_endstops true  // If true, axis won't move to coordinates greater than the defined lengths below.

#define min_software_endstops true // If true, axis won't move to coordinates less than HOME_POS.
#define max_software_endstops true

// Travel limits a

[2017-05-22 21:57] Roxy-3D commented on #6829
Is there any similarity to what you are seeing and these values (in your Configuration.h file)?  These are my values, yours might be at the 'problem' numbers.
[code]

[2017-05-22 22:00] stevewatts commented on #6829
I did wonder about that, so dropped them both down assuming they were an offset of some kind:
#define Z_CLEARANCE_DEPLOY_PROBE   0 // Z Clearance for Deploy/Stow        sjw 10
#define Z_CLEARANCE_BETWEEN_PROBES  0 // Z Clearance between probe points     sjw 5

but it didn't make a difference

[2017-05-22 22:44] thinkyhead commented on #6790
Are you saying that the Status Screen disappears also?

[2017-05-22 22:52] Roxy-3D commented on #6790
This sounds similar to this:  https://github.com/MarlinFirmware/Marlin/pull/6822#pullrequestreview-39521334

That is why I added the
[code]

[2017-05-22 23:18] thinkyhead commented on #6790
Hmm… well that indicates a bug that we're just hacking around. I'll re-examine the display logic some more. Is this the graphical or character display, or both?

[2017-05-22 23:21] fiveangle commented on #6771
No, you rename the file you want to print auto1...

[2017-05-22 23:22] thinkyhead commented on #6790
Hmm… well that indicates a bug that we're just hacking around. I'll re-examine the display logic some more. Is this the graphical or character display, or both?

Thing is, we must use `LCDVIEW_KEEP_REDRAWING` because it works on both.
[code]
If you're seeing the issue on one type of display but not the other, that would point to the use of `LCDVIEW_CALL_REDRAW_NEXT` or `LCDVIEW_REDRAW_NOW` instead

[2017-05-22 23:26] AlkalineJaunt commented on #6784
Here are a few git resources I've found useful. Excuse the casual descriptions. These were my own notes. My rule 1 comes from the girl in the first video. "If in doubt, commit." You can always recover from here.

There is a swag of git lingo. I recommend embracing it instead of fighting it: Your google-fu will level up.

This video presents good background and gets onto some useful stuff. https://

[2017-05-22 23:29] jhitesma commented on #6818
Well, the links would be to github repos so they're more likely to go stale than just disappear.  But either way now that the site is hosted on github it's fairly easy for anyone to issue a PR to correct something they see wrong.

So people who spot dead links would be able to submit an issue about them being dead or a PR to fix them.  And people who create forks with configs for specific machines

[2017-05-22 23:44] thinkyhead commented on #6790
See if #6830 heralds a return to normalcy.

[2017-05-23 00:08] Roxy-3D commented on #6790
I saw the problem on a Graphical LCD Display.   I don't know that I've seen it on a 20x4 LCD Panel.

[2017-05-23 01:27] thinkyhead commented on #6790
Graphical display would be the one that manifests the issue, if it is related to the choice of `LCDVIEW` flag. The character display would not.

[2017-05-23 05:32] edautz commented on #6790
The screen is going complete blank, if this occurs with beginning of the print, the status screen is going complete blank. I use a lcd 20x4 char display.

[2017-05-23 06:45] marcelogaio commented on #6001
@Nerradia This is the galvo I ordered:
[https://www.aliexpress.com/item/30K-laser-Galvo-Galvanometer-Based-Optical-Scanner-including-Show-Card-US-ship/1901995485.html?spm=2114.13010608.0.0.uDzfNV](https://www.aliexpress.com/item/30K-laser-Galvo-Galvanometer-Based-Optical-Scanner-including-Show-Card-US-ship/1901995485.html?spm=2114.13010608.0.0.uDzfNV)
It comes with the galvos, the driver board for

[2017-05-23 07:31] Nerradia commented on #6001
I bough the same one from the same vendor :D

[2017-05-23 07:40] povlhp commented on #6799
Looked at it. Seems like there is no code to actually do the moves in ultralcd. Will give it a shot, and see if I can get it working, and get the code back to the tree.
I have pins for the GT2560 (MeCreator2)  as well that I will create a pull request on soon.

[2017-05-23 07:52] adasko1 opened #6832 "Error compiling marlin 1.1 on teensyduino board"
Hi, first of all Im really a beginner in this kind of things. Im trying to compile marlin 1.1 on teensy board with standard 4x20 HD44780 lcd

On Marlin 1.1.x. keep getting 'customizedserial' was not declared in this scope.

On Marlin bugfix-1.1.x and older Marlin 1.0.2, when I only change the board for teensylu i can succeed compiling, but the lcd doesnt work.
If I enable #define ULTRA_LCD keep ge

[2017-05-23 07:53] vMeph commented on #6826
@Bob-the-Kuhn  i have test it last night, i wasnt able to make it work,i have set the driver on the E1 for the Z2 motor, motors move but only 1 switch works, something im missing?

[2017-05-23 08:36] rv4 commented on #6824
I carried out some more tests in the meantime and found out, that above problem arises if the number of grid points is above 6.

2 x 2 works
2 x 3 works
3 x 2 works

3 x 3 fault
2 x 4 fault
4 x 2 fault

Kind Regards,
Franz

[2017-05-23 09:02] rubdos commented on #6023
I manually had set my jerk to 35mm/s. Most curves in other parts went a lot quicker. Could this be to having too high resolution, so that Marlin cannot interpolate?

[2017-05-23 09:09] akaJes commented on #6722
Hi @thinkyhead
I released new one with navigation bar and fixes

this warning becomes from dependence libraries

new version has right sided navigate bar

in last version a few of these helpers
[code]
but I will use soon it when will rework of input field types

[2017-05-23 09:10] FHeilmann commented on #6824
Do you have EEPROM enabled? There were some bugs in the EEPROM handling that got fixed recently, maybe your issue is also resolved with those fixes.

Load up the latest bugfix-1.1.x and flash it, then perform a

[code]

to load the values from your "Configuration.h" and store them in a safe manner.

[2017-05-23 09:13] FHeilmann commented on #6832
~~Teensy is a 32bit platform which is not yet ready for prime-time in Marlin. If you want to aid in development and fixup of the 32-bit port (which includes teensy) then you can submit pull-requests. Otherwise, if you want to get up and running with your printer, you should look at other firmwares that fully support teensy or get an Arduino MEGA based controlboard.~~

TIL there are teensys which a

[2017-05-23 09:25] teemuatlut commented on #6832
I don't think he's talking about the 32bit Teensies.

[2017-05-23 09:29] thinkyhead commented on #6802
`position_is_reachable_raw_xy` ain't mine! Someone else adapted that from code that I had written for a branch elsewhere. I will see if I can fix it up!

[2017-05-23 09:31] thinkyhead commented on #6802
@LVD-AC This looks like one for you.

[2017-05-23 09:37] adasko1 commented on #6832
The chip is <s>at90usb1286</s> at90usb1287 so i suppose its 8bit?

[2017-05-23 09:44] thinkyhead commented on #6784
If you have a bash command line, I've also included a bunch of [helper scripts](https://github.com/MarlinFirmware/Marlin/issues/3193) in the tree to make it faster to work with Marlin and Github. They are in the `buildroot/share/git` folder. You can use these commands as shortcuts. I will eventually do a (better) video demonstrating them. Even if you don't use them, it might give some insight to r

[2017-05-23 09:54] rv4 commented on #6824
No improvement with the latest bugfix-1.1.x

11:51:43.530 : -0.07250 +0.01500 -0.00000
11:51:43.533 : **-2107340544.00000** +0.08500 -0.02000
11:51:43.533 : +0.13250 +0.04500 -0.12250

[2017-05-23 09:54] FHeilmann commented on #6832
my mistake, sorry.

[2017-05-23 10:34] marcelogaio commented on #6001
I already have this 12bit DAC: [MCP4725-I2C](https://www.banggood.com/CJMCU-MCP4725-I2C-DAC-Breakout-Development-Board-Module-p-986646.html?rmmds=search) but it's I2C.
Here is a library for using it: [Adafruit_MCP4725](https://github.com/adafruit/Adafruit_MCP4725/blob/master/Adafruit_MCP4725.cpp)

I just found this one [ak-mcp4922-dual-12-bit-dac-breakout](https://www.artekit.eu/products/breakout-

[2017-05-23 10:42] Nerradia commented on #6001
I would like to talk about that f-theta lens, or how do without it.
To have the laser perfectly focused everywhere on the plate, I though about using a slider to move the laser source, to null the beam length variation. It will just need a stepper and a belt.
Should we use an axis and control it with gcode, or should it be linked to XY positions by Marlin ?
I don't see how to implement the first w

[2017-05-23 11:17] h4nc commented on #6825
I have fix mounted probe (inductive sensor NPN NO) and I mean the probe toghether with the hotend goes away from the bed and stops after some millimeters because the probe is triggered.

[2017-05-23 12:14] ghost commented on #6732
Hello,
Cloned and compiled commit  d252d1b from bugfix-1.1.x, didn't modify anything but enable Fast_pwm_fan, worked without any compiler error and fans works. Great work, thank you! Closing issue.

[2017-05-23 12:14] #6732 closed, assigned to nobody

[2017-05-23 12:32] marcelogaio commented on #6001
As far as I know, a great printer like FormLabs2 does not use a lens or any other type of correction, other than software. So i am guessing that the focus is not such a big deal. Here is an interesting blog about a [Formlabs2 tear down](https://www.bunniestudios.com/blog/?p=4641).

Maybe (just maybe) there could be some type of "compensation" for the unfocused laser, if the laser power was reduced

[2017-05-23 12:35] marcelogaio commented on #6001
I thought about that too, but it would be VERY hard to sync the galvos motion with the beam focusing belt motion, since the galvos can move much more faster than the belt could...
Also, going back to the FL2 teardown, if they don't need it.... ;)

[2017-05-23 12:46] Nerradia commented on #6001
Acceleration will be controlled by firmware, we will never move the laser as fast as galvos can ?

They are using a mirror to have a longer beam to avoid too munch length variations... Let's do the same ! But it could be an upgrade if someone wanted to print larger parts without having a 2 meters tall printer :smile:

[2017-05-23 13:22] marcelogaio commented on #6001
Sorry!! I just fixed the FL2 teardown blog link: https://www.bunniestudios.com/blog/?p=4641

[2017-05-23 13:24] marcelogaio commented on #6001
YES! I totally missed the mirror. It would help a lot!

[2017-05-23 14:18] Sebastianv650 commented on #6023
Might also be possible. But without configs and gcode file, it's only guessing ;)
In Slic3r, you can set the resolution in Print settings -> Advanced -> Resolution. I usualy use 0.02mm, but even 0.01 would be better than nothing. If this setting is 0 and your .stl has one million of points on an arc, Slicer will generate one million points on the arc..

[2017-05-23 14:54] LVD-AC commented on #6802
Could you give the Bugfix branche a try and report back? There's already some fixes included there that could resolve that problem.

Of couse one of the disadvantages of having an eccentric probe is it reduces the radius the probe can reach without bumping into the towers by sqrt(sq(X_PROBE_OFFSET_FROM_EXTRUDER) + sq(Y_PROBE_OFFSET_FROM_EXTRUDER))

so you could change this setting to:

`#define DE

[2017-05-23 15:43] JanVelleman opened #6834 "Problem with enqueue_and_echo_commands_P();"
Hi,

I'm adding 2 custom menu items (load and unload filament) and in the past I just added these as Gcode commands in a function.

With the latest version I'm using the enqueue_and_echo_commands_P(); function as follows:
[code]
So this sequence is just homing, heating, moving and then cooling again.

The problem now is that after the nozzle has reached 200°C the extruder motor starts turning as e

[2017-05-23 16:07] Roxy-3D commented on #6784
Using Github Desktop I can go to the upper right corner and click on the gear.  One of the options is "Open in Git Shell".   Does that constitute a 'bash command line'?    If so...   Do I need to have my main (unaltered) fork of Marlin selected before I do any of those scripts?

[2017-05-23 16:09] ProfDrYoMan commented on #6023
Resolution in slic3r-dev is gone. It is not what you expect. It is a filter to filter out structures that are smaller than what you input.

Look here: https://github.com/alexrj/Slic3r/issues/3888

[2017-05-23 17:37] remco1123 commented on #6826
@Bob-the-Kuhn Do you know if there is a way to add a Z1 and a Z2 offset.
Z_DUEL_ENDSTOPS_ADJUSTMENT isn't working in my case.
my Z1 or Z2 is like 0.6mm lower ( i switched them so much i'm not sure anymore what Z1 is )

[2017-05-23 17:43] fiveangle commented on #6832
you may want to review #6737

[2017-05-23 17:46] brewmanchu commented on #6524
Just $0.02 but you could also put the display on an I2C expander too. It doesn't need to be updated frequently. In fact I removed my display from RAMPS since I have no use for a built in UI.  An rPi3 running a print server works for UI and it even gives a camera interface.

[2017-05-23 17:55] p3p opened #6835 "Cross platform primitive types"
Marlin uses both platform dependent types (int, long) and constant bitwidth types (`int16_t`, `int32_t`). Having just rebased the 32bit branch again this caused a bit of frustration with the new ultralcd code, could there be an addition to the coding standards that require constant bitwidth types?

[2017-05-23 18:00] adasko1 commented on #6832
Tried it yesterday, doesnt work

[2017-05-23 18:16] Sebastianv650 commented on #6023
I'm using Prusa Slic3r, where it's still available. It's exactly what I expect, I used it a lot during Marlin serial tests. :)
To see what it does, load a simple cylinder and watch the 3D preview closely with resolution 0 (no simplification), 0.05 and 0.2. It controls the maximum allowed deviation between real stl shape and the print path. Therefore, it controls the resolution of the gcode file.

[2017-05-23 18:24] Bob-the-Kuhn commented on #6832
If you supply the name of your display and how it's hooked up to your Teensylu, I'll try to get a new pins_TEENSYLU.h file late today or tomorrow.

Please fill out the attached Excel file with the hookup info.
[Teensylu_pinout.zip](https://github.com/MarlinFirmware/Marlin/files/1023271/Teensylu_pinout.zip)

[2017-05-23 18:32] rv4 commented on #6824
I had AUTO_BED_LEVELING_LINEAR activated when I realized the problem.  With AUTO_BED_LEVELING_BILINEAR activated I don't see abnormal values.

[2017-05-23 18:58] jon012198 commented on #6636
it has not crashed yet so that is a good sing

[2017-05-23 19:00] Bob-the-Kuhn commented on #6826
@remco1123 - there's only one adjustment.

I expect that you have the EEPROM enabled and have forgotten to do the M502, M500, M501 sequence to make your config changes active.

To be honest with you I think that the 0.6mm difference is great.  I don't see a need for an adjustment.  Let the auto bed leveling take care of that.

If you want that last 0.6mm then you'll have to play with the stepper a

[2017-05-23 19:07] Bob-the-Kuhn commented on #6826
@vMeph - have you tried swapping the motor and/or the endstop cables?

[2017-05-23 19:10] thinkyhead commented on #6732
Teensy only, I assume…? That's an interesting one. I'm pretty sure these two options are incompatible anyway, so maybe a sanity check that only one is enabled will cover all cases.

[2017-05-23 19:14] bsabino commented on #6802
I'm currently on the bugfix branch and executed G33:
[code]
What I do not understand is how it get's de radius of 132.54 as my bed is definitly not bigger than 240 in diameter. So when saving it tries to print outside of the bed.. :)

[2017-05-23 19:21] adasko1 commented on #6832
Pins on my board look different. I will provide the connection scheme between the board and lcd as soon as I come home

![unique-one](https://cloud.githubusercontent.com/assets/28888274/26371861/5565278a-3ffc-11e7-9055-63dff5c638c0.jpg)
![20170305_083207](https://cloud.githubusercontent.com/assets/28888274/26371863/592f3b62-3ffc-11e7-9dc1-05cff04e5160.jpg)

![lcd](https://cloud.githubusercontent.c

[2017-05-23 19:26] ghost commented on #6732
Just FYI, previously, when both being undefined fan works with noisy PWM (or shorter frequency), enabling FAST_PWM broke fan control. Enabling SOFT_PWM fixed it though the PWM frequency is way too low (which is expected) Now with the commit I mentioned earlier, enabling FAST_PWM works, frequency is high (almost inaudible, ultrasonic).

[2017-05-23 19:31] thinkyhead commented on #6835
I definitely patch up primitive types whenever I have a chance. I'll add a note about this to the coding standards page shortly. I have some other things I want to include there too, now that we've been doing this a while.

[2017-05-23 19:31] #6835 closed, assigned to nobody

[2017-05-23 19:44] Roxy-3D commented on #6835
@thinkyhead   @p3p    Your thoughts on:  https://github.com/MarlinFirmware/Marlin/pull/6228#issuecomment-303504855

[2017-05-23 19:55] remco1123 commented on #6826
@Bob-the-Kuhn The weight of the X motor is preventing a good G29 auto level. The X-axis bends slightly on the motor end.
i like this design because you don't have to mess with screws
![2017-05-22 20 26 44](https://cloud.githubusercontent.com/assets/18643633/26373570/47d205e2-4002-11e7-8504-e6b4567155ef.jpg)

[2017-05-23 19:57] LVD-AC commented on #6802
The radius in the calibration routine is the delta radius (M665 Rx.xx), this is the horizontal distance of the diagonal rods; nothing to do with the printing limits and possible printing outside the bed which is set in the FW by PRINTABLE_RADIUS.

[2017-05-23 20:05] 040medien opened #6838 "MarlinMesh.scad incompatible with UBL"
The mesh output table from UBL shows the XMIN/YMIN value in the lower left cell. When reformatting that into a matrix that MarlinMesh.scad accepts, the script expects the XMIN/YMIN value to be in the top left cell. This results in a mirrored output of the mesh points.

[2017-05-23 20:09] 040medien commented on #6838
I just found out about  SCAD_MESH_OUTPUT - but it seems that's not compatible with UBL either.

[2017-05-23 20:11] Roxy-3D commented on #6838
Well...  I haven't used MarlinMesh.scad.    I've only done it a couple of times, but a G29 T1 will output the mesh in a .CSV format that can be pulled into any spreadsheet.   And at that point you just highlight the data and tell it to plot it.

I think a topography map with the (X-Min,Y-Min) in the lower left corner makes sense.  Very often, the (X-Min, Y-Min) is (0,0) and it is natural for this

[2017-05-23 20:17] Tannoo commented on #6784
In git desktop, you can also right-click on your repo name on the far left side. In that context menu will also be "Open in Git Shell"

Yes, that is a bash terminal.

[2017-05-23 20:20] 040medien commented on #6838
It's in your git repository:
https://github.com/MarlinFirmware/Marlin/blob/bugfix-1.1.x/buildroot/share/scripts/MarlinMesh.scad

And at least as of 1.1.1, G29 T1 doesn't output a CSV file, it probes three points and then provides no other feedback. Maybe a recent change?

[2017-05-23 20:25] Roxy-3D commented on #6838
No...   Please recheck that...  The current code is using T for a Topographical map.   The older code used O.   So if you don't want to reflash your firmware to see what I'm talking about, do a G29 O1 instead.

[2017-05-23 20:37] Roxy-3D commented on #6784
Thanks Tannoo!

@thinkyhead are these safe for me to just type and use?   If I type ./mfnew in Git Shell I don't want it accidentally doing things up in MarlinFirmware/Marlin

- **mfup** script, which also rebases whatever branch I am currently in on the latest bugfix.
- **mfnew** create a new copy of bugfix-1.1.x
- **mfrb**  "interactive rebase."
- **mfpr**  Pull Request

[2017-05-23 20:48] Bob-the-Kuhn commented on #6832
I haven't seen a 1286 based controller like this one.  Glad to add it to my library.

I'll need pointers to the schematic for the controller and the LCD.

EDIT:  And your pins_xxxx.h file

[2017-05-23 20:51] adasko1 commented on #6832
@Damn Im sorry, I was wrong with the chip it is 1287, the schematic is added in previous post.

This is current firmware from my printer:
[firmware_profabb_gate_le.zip](https://github.com/MarlinFirmware/Marlin/files/1023782/firmware_profabb_gate_le.zip)

Pins_Teensylu.h from bugfix-1.1.x:

[pins_TEENSYLU.zip](https://github.com/MarlinFirmware/Marlin/files/1023792/pins_TEENSYLU.zip)

[2017-05-23 21:13] Bob-the-Kuhn commented on #6825
That's the expected behavior.  After the probe triggers the head will move up in order to provide clearance for future X-Y movements.  The amount it moves is set by Z_CLEARANCE_BETWEEN_PROBES.

Could be that it goes to Z0.00 + Z_CLEARANCE_BETWEEN_PROBES.

[2017-05-23 21:34] Andrei-Pozolotin commented on #6818
@Roxy-3D @jhitesma @dot-bob
Hello again, guys:

I came up with the following idea:
https://github.com/random-builder/makaira-code
which should resolve most requests similar to mine, and:
* give users actual *.hex downloads
* automatically maintain firmware repository
* build daily against live and current marlin source
* provide consistent build environment as reference
* invite people with minima

[2017-05-23 21:39] Bob-the-Kuhn commented on #6732
@thinkyhead - this is on Printrboard.  The pins_PRINTRBOARD.h file is just plain wrong when it comes to the fan options.

[2017-05-23 21:42] gacek4000 opened #6841 "z_safe_homing does not use my z_probe"
after couple houers testing i have no ide what to do
its looks like z safe homing does not use my z probe
G28 makes X and Y homing but Z axis doesn't react on z proble, its homing only on z min endstop
G29 works well - using a z probe
M119 shows that z probe is triggered by a bed as it should be
on my old Marlin 1.1.0-RC4 from 24 March 2016 everything is working corectly, now i am trying to set up

[2017-05-23 21:50] Bob-the-Kuhn commented on #6832
1287 - host capable version of the 1286.  Does it use this capability?

I don't see the schematic in this thread.

[2017-05-23 21:54] Bob-the-Kuhn commented on #6636
What change was it that appears to have fixed it?

[2017-05-23 21:55] vMeph commented on #6826
@Bob-the-Kuhn  got it to work apreciate all the help mate
forgot to uncoment the #define USE_ZMIN_PLUG :)

this feature of having 2 Z end stops is very usefull, what sux is that sense i have ramps1.4 board i have to use the E1 driver to add the Z2 this will then not let me have a second extrude :(

was wondering what board you using?
i was looking into RUMBA board it has 3 slots for extruders, tha

[2017-05-23 23:15] jon012198 commented on #6636
i have no ideal but if it brakes i will post it so leave this open it i can
get it to happen again

On Tue, May 23, 2017 at 5:55 PM, Bob-the-Kuhn <notifications@github.com>
wrote:

[2017-05-23 23:38] mperdue commented on #6818
You guys maintain configuration files for popular machines? I've got a machine that I designed and built. I've got two of them and they are real popular with me. :-)

[2017-05-23 23:38] Bob-the-Kuhn commented on #6826
GREAT!!

I'm using an Azteeg X3 pro.  I'm running dual Y and dual Z steppers.  My printer started out life as a CNC machine so I went for power and strength.  Power & strength means heavy which makes for a slow printer.

Yes, 24V will allow you to run your current system faster.

For the most part the quality of a board is determined by the quality of the components used.  Unfortunately there's ve

[2017-05-23 23:45] Andrei-Pozolotin commented on #6818
@mperdue :
sure, we maintain them here:
https://github.com/random-builder/makaira-code
because you maintain them :-)

[2017-05-23 23:54] Bob-the-Kuhn commented on #6841
To use the Z probe for homing you have to use the Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN and disable Z_MIN_PROBE_ENDSTOP.

[2017-05-24 00:22] mperdue commented on #6818
Just messin' with you.

[2017-05-24 00:55] Lyonidaspay opened #6842 "Bed leveling after starting the printer does not go back to park position"
Hello.
I noticed that the nozzle did not go back to the start/park position after fishing probing.
I have a BLTouch installed and working fine till now ( no crashes for me), I just noticed that when doing a bed leveling with the LCD menu, directly after starting the printer, the procedure goes well, but at the end the nozzel stays at the last probing position and does not come back the start/park

[2017-05-24 00:57] Bob-the-Kuhn commented on #6799
M500 won't save the UBL matrix/mesh.  G29 Sxx will save it to slot xx.  If no xx then it defaults to slot zero.

I've been using my LCD to do G29 P1, G29 P2 B, G29 P4 & G26.  It's under Prepare ..

[2017-05-24 01:17] Tannoo commented on #6834
There is no command to wait, only to execute as soon as the buffer allows.

[2017-05-24 01:29] ceseuron commented on #6592
This should not be closed without further clarification. In my case, I have dual Z steppers driven off _seperate_ drivers on the Rumba board _and_ I have dual extruders. My configuration.h line for AXIS_STEPS_PER_UNIT is:
`
#define DEFAULT_AXIS_STEPS_PER_UNIT   { 159.57, 160.50, 2117.25, 200, 200 }
`
In the order they are presented above, it is supposed to be X, Y, Z, E0, E1.

This compiled fine o

[2017-05-24 03:50] hackqiang opened #6843 "Z raise before homing"
when I update Marlin to v1.1, I found when I execute homing,
the Z will raise(go down) for a little distance before XY homing.
but my Z is at the bottom in the first time, so the Z can not go down any more.
Is there any config for disable the little Z go down before auto homing?
thanks

[2017-05-24 04:03] Tannoo commented on #6843
Do you have a Z_MAX limit?

[2017-05-24 04:03] Roxy-3D commented on #6834
@JanVelleman  Can you use the M600 to do what you need?   It also retracts...  And waits for confirmation, etc.   But it handles the full filament change cycle.    And if it really doesn't address your needs...  Maybe it would make sense to add a flag to tell it to not unload, or to not load the filament?
Please help us understand what you need.

[2017-05-24 04:29] Bob-the-Kuhn commented on #6842
All the above is as expected.

If you want to use the Z probe to home and to probe then:
1. It MUST be connected to Z_MIN_PIN
2. the current Z_MIN sensor must be disconnected
3. disable Z_MIN_PROBE_ENDSTOP
4. enable Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN

[2017-05-24 04:39] Bob-the-Kuhn commented on #6592
I think I know what's going on.

With DISTINCT_E_FACTORS enabled then it would be
`       #define DEFAULT_AXIS_STEPS_PER_UNIT { 159.57, 160.50, 2117.25, 200, 200 }`

With DISTINCT_E_FACTORS disabled then it would be
`       #define DEFAULT_AXIS_STEPS_PER_UNIT { 159.57, 160.50, 2117.25, 200}`

Sometime after RC8 checks were put in to make sure the number of entries matched the number that Marlin wa

[2017-05-24 04:40] JanVelleman commented on #6834
Hi, thank you for your replies.

Well i thought of using the m600 command but when you want to load filament when there is none already loaded it seemd stupid to do the unload cycle first... also when you want to change from abs to pla for example there is no way to change temperatures between unload and load routines. When you have seperate load and unload routines for abs and pla that is possibl

[2017-05-24 04:56] stefi01 opened #6844 "Marlin 1.1.0 auto bed leveling motors struggle and wont probe properly"
never mind, i worked it out, default x and y speed for probing was set on 8000 as default, bit fast i think

using an inductive sensor, the x-y motors struggle and skip and it seems to think 400mm is about 50mm, when the printer is normally moving around the bed, the calibration is spot on and no skipping motors, motor drivers drv8825 with 1 and 2 jumper removed so is 16 ms, z axis is no problem a

[2017-05-24 04:57] Bob-the-Kuhn commented on #6834
Put a "M400" command just before the "M104 S0" command.

M400 waits until all the motor movements have been completed.  This keeps any later commands in the queue from executing.

To expand on @tannoo's comment, Marlin executes the commands as soon as it can.  Movement commands are put into a queue and then Marlin fetches the next command and executes it.  Processing will stop if the movement queu

[2017-05-24 05:00] JanVelleman commented on #6834
Ok, i will try that. Thanks for the explanation!

[2017-05-24 05:10] hackqiang commented on #6843
thanks for you reply,
yes, I have Z_MAX set, here is my configre:
https://github.com/hackqiang/Marlin/blob/RC/Marlin/Configuration.h

BTW:
1. my corexy using the double Z with belt， the default position of Z is on the bottom.
2. I found the Z_HOMING_HEIGHT, aka Z_RAISE_BEFORE_HOMING, as the words' meaning, maybe it's related to my problem? But  It's commented in my configure.

[2017-05-24 05:17] #6844 closed, assigned to nobody

[2017-05-24 05:26] Bob-the-Kuhn commented on #6843
Z_HOMING_HEIGHT is intended to provide clearance when doing homing so that the nozzle doesn't run into anything like clamps or clips.

If you're homing Z in the - direction, the default G28 sequence is to first increase the distance between the bed and the nozzle by the amount specified in Z_HOMING_HEIGHT.  After that it homes the X & Y axis and then it homes Z.

You can home Z first but it requir

[2017-05-24 05:49] hackqiang commented on #6843
Thanks !
I have no switch for Z_MAX endstop, the Z direction is correct, the 3D printing is OK.

the only problem is the process of G28:

step1: Z goes down for a little distance(maybe now it's Z_CLEARANCE_BETWEEN_PROBES==5mm)
step2: XY homing
step3: Z homing(moving to nozzle)

So, I just need set the  Z_HOMING_HEIGHT to 0, so the step 1 won't happen, right?
(I will test and feedback on this issue

[2017-05-24 05:55] hackqiang opened #6845 "FR change not available in v1.1.1"
since I update my Marlin to v1.1.1, I found I can not change the FR(default is 100%) while printing by the rotary on "RepRapDiscount Full Graphic Smart Controller".
sorry I can not remember the previous version I used before.
How can I enable this feature again?
thanks.

[2017-05-24 06:17] povlhp commented on #6799
But UBL seems to be sensor assisted levelling only ? We have the issue with pure manual leveling.
We get the nozzle to move to first probe position, then it just dies.

Tried to change      `_lcd_level_goto_next_point()`

Added the enqueue statement below, and now after adjusting Z at first position, it moves the 2nd position. But now it hangs there. I have not spent much time with the code, this

[2017-05-24 06:32] Maglin commented on #6779
So been a few days.  I grabbed the latest bugfix-1.1.x and babystepping was working via doubleclick before I started a print.  After I started a print I could only access it via the Tune menu.  On a GLCD issue my display also blanks out on every menu change excpet going back to Info screen.  I have to move the encoder wheel to get the display to come up or display anything.  This maybe related.  I

[2017-05-24 06:41] h4nc commented on #6825
Ok thank you, so the problem is that it is triggered without "touching" the bed. So I have to invert the probe reading. Where can I find this?

[2017-05-24 06:47] JanVelleman commented on #6834
Works! Thanks :)
I'll close this issue.

[2017-05-24 06:47] #6834 closed, assigned to nobody

[2017-05-24 06:47] emartinez167 commented on #6779
I get the same screen blanking but on every menu move.

On 24 May 2017, 14:32 +0800, Maglin <notifications@github.com>, wrote:

[2017-05-24 07:15] adasko1 commented on #6832
As far as I know it doesnt use host capability.
Isnt it the schematic you need?
![111](https://cloud.githubusercontent.com/assets/28888274/26391044/5aa09288-4061-11e7-8383-04ecd45afea0.png)

[2017-05-24 07:22] lrpirlet commented on #6807
@Roxy-3D
Let me bet...
You have ```#define ENDSTOP_INTERRUPTS_FEATURE```...

I was not sure of the problem but it seems that since I disabled interrupt I do **not have anymore** the Z axes motor refusing to stop after the Z switch is pressed...
 ```//#define ENDSTOP_INTERRUPTS_FEATURE``` in the configuration.h seems to solve the issue

[2017-05-24 07:24] lrpirlet commented on #6807
I have the bad feeling that we see interraction between several interrupts...

[2017-05-24 07:26] Bob-the-Kuhn commented on #6825
It's the Z_MIN_ENDSTOP_INVERTING and Z_MIN_PROBE_ENDSTOP_INVERTING.  They both need to be set to false for a BLTouch.

After doing that you may want to use the **M43 S** command to check if the BLTouch is setup correctly.  It'll even tell you if you have a BLTouch clone.  The utility can't tell the difference between a real BLTouch and the Geeetech 3DTouch.

To use the command you'll need to enabl

[2017-05-24 07:32] h4nc commented on #6825
I don't have a BLtouch. I have a inductive Probe NPN NO.

[2017-05-24 07:56] Bob-the-Kuhn commented on #6832
Very nice hookup diagram.  What's missing is the logical pin mapping.

Can you point me to the site where you got this info?  Maybe the info I want is there.

What's the name of your controller?

I see something in the pins.h file from your old software that's encouraging.  There's a chance that combining the new & the old will work.  Don't bet the farm on it.

Worst case is we find out how good a

[2017-05-24 08:02] Bob-the-Kuhn commented on #6825
Never mind ...

Set them both to the same, move the head so it's far enough away from the bed that it won't be triggered and then issue M119.  If M119 says the probe is triggered than you guessed wrong and the two need to be flipped the other way.

Once you get it to say open then test it by bringing a piece of metal close to the probe.  If it still says open then we need to do some trouble shooti

[2017-05-24 08:16] benlye commented on #6807
My 2c, and another data point - I had this problem with ENDSTOP_INTERRUPTS enabled on RC8, so in my experience it is not a new behaviour.

I found that around 1 in 3 G29s (bilinear, 7x7 grid) would send the nozzle into the bed while probing a point (the point was never the same) because the Z motors didn't stop when the probe was triggered.  I disabled ENDSTOP_INTERRUPTS and haven't had the proble

[2017-05-24 08:19] adasko1 commented on #6832
The board is Unique one rev a, what is a small production board. All info I have is from Polish forum, there is no other schemes or files. I can contact the producer and ask him for more info about the board.

Im more like a mechanical guy then a programming one :/ , though Im really patient.

[2017-05-24 10:30] Tannoo commented on #6825
If `Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN`  is enabled, you cannot have the inverts different. That would be conflicting.

[2017-05-24 10:33] Tannoo commented on #6825
If `Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN ` is enabled, the probe becomes the probe AND the endstop.

So, if you invert the probe, you also need to invert the endstop.

As the error from sanity check says, they need to be the same.. inverted or not.

[2017-05-24 10:33] Lyonidaspay commented on #6842
Thanks, but I need to probe with Z_MIN_PROBE_ENDSTOP, and Home Z axis with Z_MIN_ENDSTOP.
For now I only need the nozzel to go back to it park position after leveling .

[2017-05-24 10:45] Tannoo commented on #6825
An NPN NO switch is low when it's on. So, the Marlin logic needs to invert it to be recognized as triggered.

Also, to keep that input stable, either an external resistor needs to be applied or enable the probe endstop pullup.

[2017-05-24 10:50] martindb commented on #6807
I have endstop interrupts enabled.... and a sanguinololu clone... I'll disable this feature. Thanks for the tip.

[2017-05-24 11:01] povlhp commented on #6799
Well, just verified. I have MESH_BED_LEVELING enabled.
Any ideas how to debug ? Should I just spread some` SERIAL_PROTOCOLLNPGM(x)`  in the code ? Been doing lots of print-debugging over the years.

[2017-05-24 11:12] gacek4000 commented on #6841
doesnt work.
i set as you said and reconnect probe to z min endstop pin
now its works

[2017-05-24 11:34] hackqiang commented on #6843
After I set the Z_HOMING_HEIGHT to 0 in Configuration.h,
the Z won't go down anymore when homing.
Thanks to all guys~

[2017-05-24 11:34] #6843 closed, assigned to nobody

[2017-05-24 12:08] fr33dimension commented on #6792
I am still seeing these weird z hops. Got UBL on two machines and both do it. I noticed when killing a print at the first layer I manually retract 10mm filament. When doing this with UBL active, it raises the z axis. I think ubl is actually reacting to retractions....is that it?

[2017-05-24 12:20] oldmcg commented on #6802
I added position_is_reachable_raw_xy and position_is_reachable_by_probe_raw_xy.  They both prevent delta nozzle from going outside DELTA_PRINTABLE_RADIUS which can bind mechanics or bend rods.  The _by_probe variant makes sure that BOTH the nozzle and the probe don't move outside DELTA_PRINTABLE_RADIUS -- the nozzle so it doesn't exceed mechanical limits and the probe so it doesn't fall off the be

[2017-05-24 13:10] h4nc commented on #6825
Thx for your help.
I had this settings in RC8 and they worked fine. Your explanation makes sense to me now.

Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN is enabled, because I want to use the probe as endstop.

A external resistor is applied to the probe, because the output would be above 5V and would potentially fry my ramps board.

To be more specific: I have a Prusa i3 Hephestos with some modifications.

[2017-05-24 13:31] Tannoo commented on #6825
It's best if the sanity file is left alone.

If it stays triggered with both set to false, then set both to true and it should work correctly.

[2017-05-24 13:33] Tannoo commented on #6825
Btw, my sensor is 12vdc and the output is straight to the ramps... no external resistor needed when using the internal pullup.

[2017-05-24 13:35] Tannoo commented on #6825
I am powering from the same 12v supply as the Arduino/ramps is.

[2017-05-24 14:20] h4nc commented on #6825
Thx it works now. I set both to true. I was to confused that is worked with RC8.

[2017-05-24 14:20] #6825 closed, assigned to nobody

[2017-05-24 15:03] Roxy-3D commented on #6807
Yes...

[2017-05-24 15:23] Maglin commented on #6790
I experience the same thing using a 20x4 GLCD.  On a AnyCubic TriGorilla controller.  I'm using the RAMPS 1.4 define for the MB.  The stock FW was using MB 33 which I think is RAMPS1.3.  Is there even a difference?  Could this be the cause?

[2017-05-24 15:28] Roxy-3D commented on #6799
bgort added this goodie...   You get to choose how this is handled.  But if enabled, an M500 will save the mesh to the current mesh slot.
[code]

[code]
UBL remembers what mesh slot was last used for a load or save.  If not specified it defaults to that storage slot.

It is hard to not get over whelmed with all the detail!!!!

[2017-05-24 15:30] fiveangle commented on #6807
But above you said it happened with and without ?

[2017-05-24 15:33] Roxy-3D commented on #6792
I don't know...   Can you make a video of the Z-Hop ?   And maybe prior to doing that, turn on 'Debug Communications' in PronterFace so we know what lines of the GCode file are active.   Because if I can duplicate what you are seeing...   It is much easier to get it diagnosed and fixed.

[2017-05-24 15:43] Roxy-3D commented on #6807
Yes.   I've seen it both ways.    But mostly....   I've been running with the endstop interrupts turned on.

[2017-05-24 15:50] garaguido commented on #5437
I can not flash my Atmega2560 any more , I tink there is a problem with the electronic UART.
When I uploaded the sketch the Tx RX leds are blinking , but when it is done  uploading still (no errors)  there is same flashprogram as before , no changes , weard behavior ....?

[2017-05-24 16:24] fiveangle commented on #5746
I actually thought PROBE_DOUBLE_TOUCH did exactly what this issue is suggesting: average the results of two complete cycles of our default probe method in order to improve accuracy.  But reading #4455, it does not and instead is really using an antiquated method of probing that relies on the requirement to have infinite jerk capability in the Z-axis.

Surely others newer to Marlin must misundersta

[2017-05-24 17:06] fiveangle commented on #6842
G29 does not home afterward as far as i am aware, and never has on my system.

[2017-05-24 17:23] bsabino commented on #6802
When running G33 I get the error regarding the radius: ?(M665 B)ed radius is implausible. For which I have the folowing in my config.h (What do I miss?):
[code]

[2017-05-24 17:42] fr33dimension commented on #6792
I use repetier, the gcode is fine. When retracting in the 10mm of comp, it moves z up and back down when re-extruding. You don't experience that? Try that, home all, raise z 1mm, move x 70mm then retract 1mm and observe z. In the video you only see the last part of it, when i retract 1mm of filament, z moves. Can't attache it....anyway it's see if you can simulate it, doesn't make sense only I wou

[2017-05-24 17:55] Roxy-3D commented on #6792
Do you have the firmware retraction turned on?

[2017-05-24 18:10] fr33dimension commented on #6792
No it's not, You mean in config adv, fwretract, right?

[2017-05-24 18:31] Bob-the-Kuhn commented on #6842
There's a method to automatically execute commands after G29.  For your case I think it would be similar to the following:

#define Z_PROBE_END_SCRIPT "G0 X0 Y0"

[2017-05-24 18:38] Bob-the-Kuhn commented on #6799
I'm falling behind.  🙁

[2017-05-24 18:43] Bob-the-Kuhn commented on #5437
I've had that problem more than once.  It's always been because I was editing a file that was NOT in the directory being used by the Arduino IDE.  Sometimes I just grabbed the wrong file. Sometimes I selected the wrong item from the recently used list.  Rarely it's been solved by closing the Arduino IDE and then re-opening.

[2017-05-24 18:47] Bob-the-Kuhn commented on #6841
GREAT!!

[2017-05-24 18:47] #6841 closed, assigned to nobody

[2017-05-24 19:20] linux01d commented on #6456
Connected to [E1-mot](https://yadi.sk/i/Vnlo9odu3JVT52) port.

Same direction, but different speed.

Same direction, different speed.

[Video](https://yadi.sk/i/6dxJUZ0N3JVYt4)

[2017-05-24 19:23] linux01d commented on #6456
[MKS Base v1.5](https://yadi.sk/i/XYeWinHV3JVZ9P)

[2017-05-24 19:27] Maglin commented on #6802
Maybe try without `#define DELTA_HOME_TO_SAFE_ZONE` .  I haven't recompiled today but that is the only thing different from mine to yours.  Well, that and I set `#define DELTA_RADIUS` to its value after an auto calibrate.

[2017-05-24 19:49] Roxy-3D commented on #6792
Yes...  That is what I mean.  I never turn that on, so if that was on, that would explain why I don't see the problem.     Can I get you to do a 30 second video showing the problem.   That might give me a clue what is happening.

[2017-05-24 19:54] Roxy-3D commented on #6799
No!   I almost didn't post that just because it comes off as a little bit critical.   It is impossible for one person to know even half of the details.   This is a huge, evolving fast code base.   It is actually the opposite.  In https://github.com/MarlinFirmware/Marlin/issues/6842#issuecomment-303812056  I raised an eye brow and said to myself "I've seen that in the code but never explored how to

[2017-05-24 20:04] mikek6 commented on #6820
Thank all of you for replying, finaly the problem is solved. The encoder had the problem. So after the replacement of the encoder everything works perfect

[2017-05-24 20:21] fr33dimension commented on #6792
I will try but I couldn't upload the previous video, since the format was not supported. Zipped it, didn't work either...so if you have any other ideas let me know.

[2017-05-24 20:22] fr33dimension commented on #6792
https://1drv.ms/v/s!AlouuPuoGfLkh6JEnOCwTtoNGq1QUA  see if you can view this. This is the earlier video.
LMK

[2017-05-24 20:25] Roxy-3D commented on #6792
No.  I got to see your printer for 1/2 second.  And then a "There was a problem with this video" message appeared.

Are you running a version of bugfix_v1.1.0 firmware from within the last week?   I think v1.1.0 still has the retraction and Z-Hop bug.   I don't believe that bug fix has made it to v1.1.0 yet.

[2017-05-24 20:40] ceseuron commented on #6592
I'll check it out as soon as I get home. If we're OK with it, I'll put up a different issue with a solution that we can just close but have available for others to review. Thoughts?

[2017-05-24 20:40] fr33dimension commented on #6792
Well no, I am running 1.1.0 and that sounds very much like that....

[2017-05-24 20:58] RestlessRabbits commented on #6807
I tried to get the probing working the last week and really was puzzled, G30 and G29 worked and didn't work up do different levels.
Also the printer often stops after I try to execute G30 or G29.
[code]

Is that the error this issue is about? -> https://youtu.be/PVSiQxidACg

I also would like to say that the printer is not halted after trying to probe, it only halts when I try to execute G29 or G3

[2017-05-24 20:59] fr33dimension commented on #6792
What version should I be running? Thought 1.1 was it?

[2017-05-24 21:15] Roxy-3D commented on #6792
the current bugfix_v1.1.0    But I'm trying to verify the bug fix is in there.   Several people have updated the file recently and I'm concerned that the bug fix got  removed...  Please give me a couple of minutes to resolve this.

I believe the current version at https://github.com/MarlinFirmware/Marlin/tree/bugfix-1.1.x is correct.   Please try that.   But I'm still exploring a few areas of the

[2017-05-24 21:30] Roxy-3D commented on #6807
@DarkEnceladus   What bed leveling system are you using?

[2017-05-24 21:42] fr33dimension commented on #6792
Thanks again for your help. Btw, is there an easy way to change the firmware? It takes me a considerable time to put all my specifics in to marlin each time.

[2017-05-24 21:42] dvseliteus opened #6847 "Makerbase MKS MINI12864 v1.0 with RAMPS_14 Configuration Marlin 1.1"
Has anyone gotten an MINI12864 LCD to work with Ramps 1.4 on the new Marlin 1.1?

I have tried many different things and referenced https://github.com/makerbase-mks/Marlin but could not figure out how to properly configure dogm_lcd_implementation.h in the old or new versions of marlin.

[2017-05-24 22:13] LVD-AC commented on #6802
Do not confuse between:
-the delta radius (`M665 Rx.xx`), this is the horizontal distance of the diagonal rods;
-calibration radius (`M665 Bx.xx`), this the radius the probe can reach without bumping into the towers;
-printable radius, this is the radius the nozzle can reach without bumping into the towers.

When you set the calibration radius to high you get the` "?(M665 B)ed radius is implausibl

[2017-05-24 22:53] Bob-the-Kuhn commented on #6832
Try this file & see what happens. [pins_TEENSLU.zip](https://github.com/MarlinFirmware/Marlin/files/1027389/pins_TEENSLU.zip)

If that doesn't work then we'll need to use some of the utilities to determine the logical pins.

You might also try enabling just REPRAP_DISCOUNT_SMART_CONTROLLER.  The pictures look very similar.

----

You'll need to correct the spelling in the file name.

[2017-05-24 23:03] Bob-the-Kuhn commented on #6847
Try enabling just REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER.  It's based on the 12864.

[2017-05-24 23:09] dvseliteus commented on #6847
@Bob-the-Kuhn tried enabling REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER
After firmware uploaded the speaker would beep every half second with no backlight. I swapped EXP 1 & 2 which showed backlight but no display.

[2017-05-24 23:26] RestlessRabbits commented on #6807
I'm using 3D touch - which, I have to admit, I just noticed. So I am using a clone of the BL-touch.
The G29 command worked for 1 probing point, then 2 times for two points and one time 3 points before hitting the bed and then leaving "updwards" as if the probing points would sit on a stair.
Only one time today my probing was "successful" when it comes to probing all points. (ABL_GRID_POINTS_X = 5)

[2017-05-25 00:56] Lyonidaspay commented on #6842
Thank you. I Will try it and give you a feed back.
Just to let you know, I have the nozzle parked with the probe away from the bed on X Y  HOMING so I can't  use the probe as a Z min endstop.
I'm working on a FILAMENT JAM sensor and I hope it would replace the RUNOUT sensor.
A FILAMENT JAM sensor would detect both RUNOUT and nozzle JAM . It is a retary encoder touching the FILAMENT.
When the encod

[2017-05-25 01:15] Bob-the-Kuhn commented on #6456
Marlin 1.0.? works
Marlin 1.1.? Z motors spin at different speeds in same direction
bugfix-1.1.x Z motors spin at different speeds in same direction

You've definitely got me scratching my head.

Here's a long shot.  I've copied the RAMPS section out of the firmware from a [MKS reseller site](http://osoyoo.com/2016/06/30/mks-1-4-3d-printer-board-marlin-firmware-installation-guide/) .  See if it's

[2017-05-25 01:22] Bob-the-Kuhn commented on #6842
If you enable Z_SAFE_HOMING then G28 will do the Z probe at the position you specify with Z_SAFE_HOMING_X_POINT and Z_SAFE_HOMING_Y_POINT.

[2017-05-25 01:41] Bob-the-Kuhn commented on #6847
Is this your [display?](http://lightake.com/p/OpenJumper-Mini12864-LCD-Display-Module-with-Backlight_E8169.html)

[2017-05-25 01:54] dvseliteus commented on #6847
The one I have is a little different.
Here is the one I have [HERE](https://www.aliexpress.com/store/product/3d-printer-Reprap-LCD-MKS-MINI12864LCD-mini-12864-smart-display-Reprapdiscount-controller-Full-Graphic-for-mother/1047297_32808844839.html?spm=2114.12010612.0.0.kCEwGI)

[2017-05-25 02:25] Bob-the-Kuhn commented on #6847
There's some decent interface instructions in that link.  I take it that they don't work.

How are you connecting the display to your RAMPS board?

[2017-05-25 02:40] dvseliteus commented on #6847
:smile: I tried the custom pin settings with the new version of marlin and no dice.
Maybe I need to try it with an older version?

I am connecting the EXP 1 & 2 Cables to a with one of these [Adapter Cards](https://images-na.ssl-images-amazon.com/images/I/71-cYLzXhvL._SL1500_.jpg)

[2017-05-25 02:48] DaveAhrendt opened #6849 "Missing ; in gcode.h"
Compile error on line 230 in gcode.h when TEMPERATURE_UNITS_SUPPORT is defined.
Offending line is:
        return input_temp_units == TEMPUNIT_K ? PSTR("Kelvin") : input_temp_units == TEMPUNIT_F ? PSTR("Fahrenheit") : PSTR("Celsius")

[2017-05-25 02:57] Roxy-3D commented on #6807
What I meant was:  Which one of these are you using?
[code]

[2017-05-25 03:08] Bob-the-Kuhn commented on #6847
Are the connectors on your adapter card the same orientation as the picture?  My card has the key on the other side of the connectors.

Do you at least have the backlight coming on?

[2017-05-25 03:22] dvseliteus commented on #6847
I am able to get the back-light to come on but there is no text. I think you might be on to something here.
Tomorrow I'll cut the headers on the adapter so I can invert the cables. Will followup on the result. Thanks for the help!

[2017-05-25 03:32] Roxy-3D commented on #6849
So...   If GCC can have 1327 different ways to optimize the code,  how about they add an option to put in missing semi colons on your source file?  It knows where the semi colon is supposed to be.  It told you where the problem was.  How about the compiler just fixes the problem?

[2017-05-25 03:50] Bob-the-Kuhn commented on #6847
Don't do that.  If the headers were backwards then you wouldn't get a light.

Does the encoder, SD card and button(s) work?  And the beeper?

[2017-05-25 04:02] Tannoo commented on #6849
More of a travis test is needed for EVERY option.

[2017-05-25 04:12] linux01d commented on #6456
I have spare board MKS Base v1.5 and can make more photos at any time (just ask), but don't have motors for experiments, I'll have to use my printer.

[2017-05-25 05:01] fiveangle commented on #6847
I have this exact same display that just arrived today from the big rock candy mountain, which I felt forced to get in order to try out UBL on my Printrbot (although now I hear LCD is no longer an absolute requirement - * blech *).

I have a feeling getting it to work on your RAMPS will be much easier than on the rats nest of pin voodoo that is the Printrboard, but I'm curious how it goes for you

[2017-05-25 05:28] Bob-the-Kuhn commented on #6847
Try this file.  I've made a couple of changes in it compared to the instructions in the link.  On my RAMPS system DOGLCD_A0 should be connected to 16 and DOGLCD_CS should be connected to 17.

There one more pin I have a question on.  I expect that it's a no connect for this LCD.  I've sent a couple of emails trying to get the pinout of the connectors.

[MKS MINI12864 pins_RAMPS.zip](https://github

[2017-05-25 05:48] Bob-the-Kuhn commented on #6847
@fiveangle - Dave - if you find the connection diagram for a RepRap Discount Full Graphics controller then you're 90% of the way there. [This ](https://www.aliexpress.com/store/product/3d-printer-Reprap-LCD-MKS-MINI12864LCD-mini-12864-smart-display-Reprapdiscount-controller-Full-Graphic-for-mother/1047297_32808844839.html?spm=2114.12010612.0.0.kCEwGI) says to use the MINIPANEL LCD controller optio

[2017-05-25 10:24] akaJes commented on #6722
**UPDATE**
added Gcode help
added conditions for enabled options/gcodes

![image](https://cloud.githubusercontent.com/assets/3035266/26446316/374cd170-414c-11e7-91d9-4ce9a86f0fea.png)

[2017-05-25 10:40] RestlessRabbits commented on #6807
I'm using
`#define AUTO_BED_LEVELING_BILINEAR`
I would try `#define AUTO_BED_LEVELING_UBL` but it's not supported for delta printers yet regarding to the SanityCheck in the firmware I use (1.1.x branch). I will take a look at the bugfix-1.1.x branch and try to setup my configuration with that version.

[2017-05-25 11:25] jeno007 commented on #6807
Just to have more confirmation.
I had this happened twice in a row last week.
I'm using 1.1.1 with BLTouch and AUTO_BED_LEVELING_BILINEAR with ENDSTOP_INTERRUPTS enabled on a cartesian machine.
I ran a BLTouch test for a minute and it has not happened since then, for about a week now. I don't know if there were any correlation.
I'm visually checking all G29 since then, quite boring with a 9x9 grid

[2017-05-25 12:00] #6560 closed, assigned to nobody

[2017-05-25 12:04] vMeph opened #6851 "esp8266 with marlin?"
Hi
Is there any suport or plans on marlin for add esp8266 wifi funcionality in Marlin?

Thanks

[2017-05-25 12:05] Tannoo commented on #6790
I see this now (when editing UBL mesh points) after running the code from this morning.

[2017-05-25 12:42] CONSULitAS commented on #6851
you should read this: https://github.com/MarlinFirmware/Marlin/issues/6524#issue-225427305

If this answers your question, please close the issue.

[2017-05-25 12:49] renfrobr commented on #6790
Same here using a 20x4 LCD. Screen blanks all over the place, any menu really. Touching the rotary encoder brings it back only to go blank again in the next screen/selection.

[2017-05-25 14:10] Bergerac56 opened #6854 "Last version of BugFix 1.1.x downloaded today"
Hello,
I just gave a try to the last bugfix version of today (05/25). I see at least 2 differences in behavior (and potential problems)
.
1> When I specify the " #define Z_PROBE_END_SCRIPT "G1 X155 Y105 Z0 F8000" (in my specific case) to end the G29 command, this release seems not to execute correctly the command given. The printer head finishes at X=0 Y=0 Z=0 which is not expected. With the relea

[2017-05-25 14:13] adasko1 commented on #6832
Ok, I still dont have the answer from the producer, though i did some testing today. With your pins_TEENSYLU I could compile the firmware, But the lcd didnt really work two rows were black and no any text. By the host software I could move the axis, but unless I disabled motors, on x and y axis it slowly keeps going, ticking like a clock.

Later I tried to put pin numbers for LCD from the original

[2017-05-25 15:00] Andrei-Pozolotin commented on #6818
@thinkyhead Scott: can you please comment on "build system" idea? Thanks, Andrei.

[2017-05-25 15:05] Roxy-3D commented on #6790
So the screen blanking problem is happening on both Graphical and 20x4 displays now???

[2017-05-25 15:13] oldmcg commented on #6802
@LVD-AC, could you please explain the significance of 0.869 in scaling the printable radius to the calibration radius?  Can it not use full printable radius minus HYPOT(probe_off_x,y)?  Or is it trying to use some value closer to the rod delta radius?  Just trying to understand.

Thx.

[2017-05-25 15:16] dvseliteus commented on #6847
@Bob-the-Kuhn
I tried the new pins.RAMPS.h file and had the same result. I tried defining the following LCDs;
REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER
MINIPANEL
SAV_3DGLCD

All of those definitions have similar results.
When I connect the EXP 1 & 2 cables I get no back-light but I do get some buzzer noise randomly.
When I connect the EXP 1 & 2 cables inverted I get a back-light with no text a

[2017-05-25 15:16] fr33dimension commented on #6792
Roxy,
That is it! That fixed that bug...question do other commands frequently change? After flashing the bugfix 1.1 the G29 O to display the mesh doesn't work anymore, used G29 T,  just curious.

[2017-05-25 15:26] Roxy-3D commented on #6792
No...  The commands should not be changing much going forward.   The problem was G29 needed a lot of letters to do different things.   And some of those letters were 'Reserved' GCode letters.   People didn't think a 'G' was appropriate for Grid leveling.  They didn't want to see a G29 G command.   T was used for 3-Point leveling.  But that got combined with the various J modes and that freed up T

[2017-05-25 15:37] Bob-the-Kuhn commented on #6832
On the X axis issue - the file has X_STEP and LCD_PINS_D4 both attached to logical pin zero.  Try commenting out LCD_PINS_D4 .

----

On the encoder button won't work problem - try these values.
[code]

If this doesn't get the encoder press button to work then we'll need to identify the logical pin that the ENC C pin is attached to.   To do that that you'll need to attach an LED to the pin in ques

[2017-05-25 16:48] fr33dimension commented on #6792
Yes same here, no G29 in gcode, but needed to establish mesh. Thanks again....

[2017-05-25 16:57] ghost opened #6856 "[video] Manual Mesh Bed Leveling: lcdDrawUpdate not working"
Bug video: [https://youtu.be/ptzMVecYLdQ](https://youtu.be/ptzMVecYLdQ)
I'm using last 1.1.x marlin version. My config:

[code]
Look: **ultralcd.cpp** line 1642
[code]
That's the only problem: "Homing XYZ" and "Moving.." messages not shown.
I don't think the condition **lcdDrawUpdate** works correctly.

[2017-05-25 17:18] LVD-AC commented on #6802
The denser probe grids use different radius to probe:
P5: 0.95 - 1.05 * bed radius
P6: 0.9 - 1 - 1.1 * bed radius
P7: 0.85 - 0.95 - 1.05 - 1.15 * bed radius (hence the recommended limit of 1/1.15 = 0.869)

You can use G33 P4 up to scaling 1 (minus HYPOT(probe_off_x,y)), but only for the probe grids up to P4;

[2017-05-25 17:37] moracabanas commented on #3851
Do you check this Marlin fork for 32bit? I think it was continued from last 32bit Marlin. It has a web configurator and also you can import your old config file to Port it easy to the last version. It seems to have all the last Marlin features and support due board. Check it !

[2017-05-25 17:38] moracabanas commented on #3851
https://github.com/MagoKimbra/MK4duo

[2017-05-25 17:44] Bob-the-Kuhn commented on #6847
When you had the cables inverted, were you able to see the SD card?

Was the screen blank or did it have garbage on it?

I received an email from MKS but it basically translated to the pinout in the link you provided earlier.

Try the mods in the link but this time use:
[code]

If that doesn't work then it's back to basics.  Let's make sure of the pins on your adapter.

Here's the pinout I expect

[2017-05-25 17:51] WojciechBednarski commented on #6847
My HW mod is just required for DUE, as the HWSPI in u8glib v1 for that display is not working at 32 bits:)
At rumba I managed to run this display with HWSPI, and I guess any 8bit will work, just you need correct pins..

I even found an old code I used for rumba (not in 3d printer firmware, just one of my projects needed a temporary display:) ), I used there simply:

[code]
And SD card:
[code]

[2017-05-25 18:01] Bob-the-Kuhn commented on #6456
Before I kick this up to more experienced people, lets see if we can better identify when things went wrong.

Please try [Marlin RC8](https://github.com/MarlinFirmware/Marlin/archive/1.1.0-RC8.zip).  Unfortunately it means you'll have to translate the config files as names and options have changed between RC8 & 1.1.x.

[2017-05-25 18:20] Bob-the-Kuhn commented on #6847
@GarrethX - many thanks   😊

Combined with your last post in the original thread I think I see a light at the end of the tunnel.

Someone has already made a similar mod to ultralcd_impl_DOGM.h.  Not quite the same so if the current one doen't work then we'll try
U8GLIB_MINI12864_2X u8g(DOGLCD_CS, DOGLCD_A0,U8G_PIN_NONE);

[2017-05-25 19:12] adasko1 commented on #6832
Ok, for now I figured out that:
1. When i commented out LCD_PINS_D4 I got error with it when compiling, so i turned off the LCD and all axis work fine so maybe the pin number in LCD should be changed?
2. Then I tried changing the encoder pin numbers for what you wrote. Turning the encoder works (the FR value changing), but the click doesnt work.

I will try to do this pins debugging today, hope it

[2017-05-25 19:18] dvseliteus commented on #6847
@GarrethX
Where can I define?
#define UI_DISPLAY_DOGLCD_CS 38
#define UI_DISPLAY_DOGLCD_A0 41
I tried modifying
[code]
But was unable to get it working...
I came across the [post](http://www.fabrykator.pl/board/viewtopic.php?f=67&t=859&sid=595a9f6c664be3b51ef19ea1aba186fc&start=20) where I think you got this from and the photo's on page 3 look like I may need to connect to more pins, but I'm not s

[2017-05-25 19:33] Bob-the-Kuhn commented on #6847
Different thread, same white knight.

I can do the modifications.

But first ... is the SD card portion working?

Please identify the pins on your connector.  I expect that we'll find some differences.  Once we know for sure what we're working with then we can move forward to modifying pins_RAMPS.h and possibly ultralcd_impl_DOGM.h.

[2017-05-25 19:58] WojciechBednarski commented on #6847
Well, we start to have a little confusion because of amount of threads :)

First, for 8 bit processors:
u8glib v1 works fine in hw spi together with the card reader. Pins for
rumba I posted above which I used for one project succesfully (lcd+card
reader).  I guess they are the same on other boards like ramps?

For 32 bit processors:
u8glib v1 works only in SW SPI
u8glib v2 works in both SW and HW

[2017-05-25 20:58] JustAnother1 commented on #6818
To help discussion here another Idea:

Restructure the configuration.h and configuration_adv.h files.

Split all the settings in small configuration files according to functionality. So that there might be a cfg_delta.h for the delta printer specific settings. a cfg_bedLevel.h for Bed leveling,..

The example configuration files would then be reduced to just including the cfg_*.h files that apply

[2017-05-25 21:04] edautz commented on #6856
I reported this earlier. See https://github.com/MarlinFirmware/Marlin/issues/6790

[2017-05-25 21:18] Andrei-Pozolotin commented on #6818
@JustAnother1 Lars: sounds interesting, thank you.

[2017-05-25 21:33] adasko1 commented on #6832
Ok this is not good, I think I made a short circut between 5V and some different pin trying to connect led, because now my computer cant find the board in any host and flip. Is there any way to check if it is fried beside just looking if something is damaged?

[2017-05-25 21:42] batata004 opened #6857 "Feature request: adding entry to lcd"
Hi,

I read the entire configuration and _adv file and I found no place where I can add a custom item to the LCD menu. So I ask you: where should I change the code of marlin to add a new menu entry right in the very first option? I want to create an entry labeled (for example) XXX and when I click it I want Marlin to start preheating the bed and start the bed level procedure.

I have a medium know

[2017-05-25 21:49] Bob-the-Kuhn commented on #6832
OUCH!!!

By chance do you have something that connects to the ISP connector that can be used to burn a new bootloader?

Do you have +5V and +12V?

Have you tried powering it from just the USB port?

[2017-05-25 22:02] Tannoo commented on #6857
In `ultralcd.cpp`, Main Menu starts at about LN 805.

[2017-05-25 22:45] adasko1 commented on #6832
I dont really know about your first question. The board has a power from usb and 12V, 5V pin is fine too, but the LCD doesnt display text anymore (just 2 black rows and 2 white).

[2017-05-25 22:52] Phaelz commented on #6824
AUTO_BED_LEVELING_LINEAR is not working properly. I was having issues with a very uneven bed.

It isnt't even working. After changing to BILINEAR and maintaining the same settings everything worked fine.

[2017-05-25 22:54] renfrobr commented on #6790
Here we go ...

![blank-optimized](https://cloud.githubusercontent.com/assets/28952507/26473781/b2d8729a-4183-11e7-8974-e8738dde218b.gif)

[2017-05-25 23:12] dvseliteus commented on #6847
@Bob-the-Kuhn
I'll grab an SD card tomorrow to test. But doing more research Leap 3D on their [ebay listing](http://www.ebay.com/itm/Mini-MKS-12864-Graphics-LCD-Display-Controller-3D-Printer-w-Side-Load-SD-Card-/122415138875?hash=item1c8082c83b:g:t5sAAOSwCU1Y27D5) is saying;

Still working to find the pinout for the actual board.

[2017-05-25 23:24] Radiu opened #6859 "MKS-Gen-L controler pins?"
could you tell me what is the board pins config to chose for the
MKS-Gen-L controler

http://www.ebay.com/itm/MKS-Gen-L-3D-Printer-Control-Board-Replace-Ramps-1-4-Mega-2560-R3-New/252814652501?_trksid=p2045573.c100033.m2042&_trkparms=aid%3D111001%26algo%3DREC.SEED%26ao%3D1%26asc%3D41376%26meid%3D14d2989d255c4af0b169c0d5fca3b7d9%26pid%3D100033%26rk%3D5%26rkt%3D8%26sd%3D311579630884

is the MKS-Gen-

[2017-05-25 23:50] Bob-the-Kuhn commented on #6832
It'll only cost $30 to get a 2560 Arduino + RAMPS + RepRap graphics display & it'll be there in a week.  http://www.ebay.com/itm/302268617535

[2017-05-26 00:01] Bob-the-Kuhn commented on #6847
Looks like EXP2 is the same as the FULL Graphic & EXP1 is similar but needs different signals mapped to the pins.

I'm expecting (hoping) to see some pin mapping differences on your adapter from mine.

Oh - please use those jumpers that plug onto the connector pins when hooking up the LED.  I just heard of one where he apparently shorted +12V to +5V and fried his controller.

[2017-05-26 00:15] Bob-the-Kuhn commented on #6859
Looks like you just specify one of the RAMPs flavors in your config file.

The nice thing is there are fewer boards needed.  A RAMPS system requires the Mega2560, the RAMPS shield and a display adapter.  Looks like they did a decent job of documenting the logical pins on all the connectors.

Doesn't appear to be much of a cost savings.

The bad thing is it's from MKS.  All their stuff is proprieta

[2017-05-26 00:39] Bob-the-Kuhn commented on #6456
I realized today that in the video that the one Z motor was running a lot faster with 1.1.x than with 1.0.x.

I can't figure out why that's happening.  I used your configuration files, downloaded it and printed out a list of the pins and the functions assigned to them.  Z_STEP and E1_STEP have no other functions assigned to those pins.

Besides trying RC8 I'd also like you to try the following wit

[2017-05-26 04:22] Bob-the-Kuhn commented on #6456
@thinkyhead , @Roxy-3D  - I'm out of ideas on this one.  A fresh perspective is needed.

He's running dual Z drivers on a MKS Base v1.5 controller and seeing the following:
- Marlin 1.0.? - both Z steppers rotate properly
- Marlin 1.1.0 - one Z stepper rotates much faster than the other, the other is rotating at the 1.0.? speed
- Marlin bugfix-1.1.x - same problem as Marlin 1.1.0
- When I issue M4

[2017-05-26 04:35] linux01d commented on #6456
In the video at 2:36 you can notice how easy the motor stops by hand, with a simple touch, the torque is minimal there.
On 1.0.x torque is high enough, I can't block it even with three fingers when it connected to the axis rod.

[2017-05-26 04:37] linux01d commented on #6456
@Bob-the-Kuhn, I'll try your seggestions ASAP.

[2017-05-26 05:25] adasko1 commented on #6832
I know ill probably do that, the thing is should i buy  arduino+ ramps or maybe mks gen 1,4?

[2017-05-26 05:37] Bob-the-Kuhn commented on #6456
A lot faster (4x-10x?) with little torque.

I was just looking through the A4988 data sheet and it'll try to recover from an over current event every 20-40uS.  I wonder if this is why there are apparently more steps than should be.

The over current threshold is dependent on the Vref setting.  Increasing Vref might actually be a solution.  Maybe the pot has some corrosion/dirt in it.  Going back a

[2017-05-26 05:38] ghost commented on #6856
Well, video was needed. The bug is a little strange.

[2017-05-26 05:46] Bob-the-Kuhn commented on #6832
I don't have a good reason for disliking MKS.  It's probably because they do a poor job of documenting their products.

I haven't heard anything negative about their quality or functionality.  An internet search is probably the better way of looking into it.

A single board solution is inherently more reliable than a 2 or 3 board solution like a RAMPS system.

When looking for a board consider the

[2017-05-26 05:47] ghost commented on #6790
I made a video about this bug. Look the issue: #6856

[2017-05-26 05:54] adasko1 commented on #6832
Is this the ISP connector you asked for in previous post?
![20170526_075115](https://cloud.githubusercontent.com/assets/28888274/26482575/74754a04-41e8-11e7-8116-304d3a3035b6.png)

[2017-05-26 06:07] Bob-the-Kuhn commented on #6832
Yes.  If you have something like the USBtinyISP then you can program the CPU without going through the USB port.  In fact you can remove all the cables from the controller and power it via the USBtinyISP.

I have one just because I've shot myself in the foot enough times to warrant it.

[2017-05-26 06:13] FenixAlfa commented on #6713
Hi, this is a great improvement for changing the head of the printers without reflash the firmware.
Thx.

[2017-05-26 06:38] tximy commented on #6713
Yes, you may create a gcode configurations for your heads and store it  at the sdcard for write this configuration at eeprom, or integrate at your slice head configuration .
Its an simple and versatile improvement, thanks for your support.

[2017-05-26 06:45] linux01d commented on #6456
Hmmm, I'm sorry, but I didn't mentioned yet, that I used Marlin 1.0.0 provided by Sunhokey.
May be their engineers modified some settings elsewhere excepting Configuration.h and Configuration_adv.h.
[Marlin firmware 1.0.x by Sunhokey](https://yadi.sk/d/LqI29uUg3JY434).

[2017-05-26 07:08] adasko1 commented on #6832
I think I will buy another board and in the meantime, buy the isp programmer trying to unbrick the teensy one.
The question is what are the chances that the board will work? Do You know where I can find a new bootloader for at90usb1827?

[2017-05-26 07:09] Bob-the-Kuhn commented on #6456
It's possible.  Digging it out would be a challenge.

Time to call it a night.

Talk to you tomorrow.

[2017-05-26 07:10] tximy commented on #6713
I am willing to test it over two machines one "X Z Y" and the other "X Y Z" with six different heads. Thanks.

[2017-05-26 10:01] simon-jouet commented on #6851
HI @vMeph

Depends what you're looking for, if you just want to use your atmega + ramps for instance with an ESP8266 as a wifi to serial bridge, then it's very straightforward just use something like this: https://github.com/jeelabs/esp-link.

If you want to use the ESP as the main controller board then at the moment it's not supported, I have been doing some work in the issue @CONSULitAS linked (

[2017-05-26 10:05] khschmidt opened #6861 "[FR] PID nozzle output consider object fan PWM"
if the object cooling fan increases from for example 0% to 100% (for bridges) the nozzle Temperatur drops down about 7-9 degrees. The PID needs very long to compensate this influence. But it is no problem to consider this influence. The output of the nozzle PID-PWM adds a correcting part Kp*FanPWM; the sum of both is the new PWM for the nozzle heating.

[2017-05-26 10:22] oysteinkrog commented on #6861
One could have two PID tunings, one for 0% fan and one for 100% fan, and then simply interpolate between them depending on the fan speed?

[2017-05-26 10:41] akaJes commented on #6722
[marlin-conf v2.5.3](https://github.com/akaJes/marlin-config#readme)

Some updates:
- swig parser improved for a gcode help
- navigation reworked
- more condensed version for tables
- added links to options for G-codes requirements
- added boolean and select fields

some troubles were with these not standard JSON (only `"` must be used for strings! )
[code]
but it were solved
![image](https://clou

[2017-05-26 10:57] vMeph commented on #6851
Thanks for info, i will look into it

[2017-05-26 10:57] #6851 closed, assigned to nobody

[2017-05-26 11:13] Xserxes opened #6862 "Bi-Linear Issue - G29 not working correctly?"
Hi,

i am using a hictop 3dp11 with marlin 1.1.1. I have attached an probe (LJ18A3-8-Z/BX -Yellow one from china) and it was working good long time. I have now updated to marlin 1.1.1 and getting issues when leveling (AUTO_BED_LEVELING_BILINEAR).
My normal procedure is to set the z-offset first. Therefore iam doing an G28 followed by G1 Z0, measure with paper and set m851 z-x.y (x+y are numbers).

[2017-05-26 11:16] sarf2k4 opened #6863 "[Request]LIN_ADVANCE K on eeprom"
Hi, would it be possible to have the lin_advance K variable to be in the eeprom setting display as well?
I mean here to display the setting when m501 were called

I also opened a feature request at [here](https://github.com/prusa3d/Slic3r/issues/319) so that the K values can be adjusted according to filament type to achieve a good print quality.

[2017-05-26 11:25] Bergerac56 commented on #6854
After hours spent to look why, I found the cause of the problem. It is in the very end of the configuration_adv.h file. Starting some days ago, a  little section appeared:
/**
 * Spend 28 bytes of SRAM to optimize the GCode parser
 */
#define FASTER_GCODE_PARSER

And this is all the difference. I did not notice this right away.

I use  quite deeply modified configuration.h and configuration_adv.h

[2017-05-26 13:24] #6340 closed, assigned to nobody

[2017-05-26 13:26] #5891 closed, assigned to nobody

[2017-05-26 13:26] #4925 closed, assigned to nobody

[2017-05-26 13:38] token47 opened #6864 "Crashprobe and Homing"
Short question: Is a crashprobe dangerous?

Long question:

Hi! I'm thinking about implementing a crashprobe on my Z endstop/probe. The kind that stays retracted until the printer goes to a certain spot / corner where it presses a pin which releases the probe from the magnet, the it goes probing and in the end the probe naturally retracts as the nozzle gets near the bed.

But suddenly I realized:

[2017-05-26 13:58] token47 opened #6865 "[FR] Use Probe and Dual Z motors to align X gantry"
Hi

Is there a way to align the bed left/right using the two motors using only one endstop/probe?

It would go this way:

- home normally (G28)
- probe for bed leveling normally (G29)
- use the two motors to compensate for the horizontal differences, effectively correcting / zeroing it (on the Y axis there's not much you can do, but on the X you can leverage the two motors)
- adjust the matrix for

[2017-05-26 14:25] garaguido commented on #5437
I have reflashed the Atmeg2506 with new fuses and bootloader and its working again.

Flashed the Atmega2560 with the MarlinBugfix 1.1.x and its NOT working I will use my previous version.
I will send you the Debug files after my urgent prints

[2017-05-26 14:30] tcm0116 commented on #6863
That should be in 1.1.0 as it was implemented in #6368. It should be available under the Control/Filament menu when LIN_ADVANCE in enabled in Configuration_adv.h

Keep on mind that Marlin doesn't know what filament you're printing with. That's the slicer's deal. However, I agree with you and had actually submitted a similar feature request with Prusa for their Slic3r fork (https://github.com/prusa

[2017-05-26 14:39] Bob-the-Kuhn commented on #6865
I take it that you're running dual Z motors.  I really like the dual Z endstop function.

In UBL there's a grid command to do what you want.  Just send **G29 J** and it'll do a 3x3 probe, calculate a tilted plane and then tilt the entire mesh accordingly.  This assumes an existing mesh.

[2017-05-26 14:46] Roxy-3D commented on #6861
Yes.  That would be a  good start to correcting the switch over.   But the thing about PID is it has a 'history' of what the errors are.  Is there a way to easily map the already acquired history to the new settings?   Because if we need to acquire new data to get the algorithm in alignment, we still have an error during the transition.

[2017-05-26 14:51] Roxy-3D commented on #6862
I think we need the Bi-Linear label.

[2017-05-26 14:57] batata004 commented on #6857
@Tannoo thanks man! I looked into the line you said and I did this:

1) added the line below to the top of the code:

`void lcd_iniciar();`

2) added the line below to the right position (right above PREPARE):

`MENU_ITEM(submenu, _UxGT("Iniciar"), lcd_iniciar);`

3) added the line below to the bottom in the right position:

[code]

Of course, I am still just trying to compile and make this option

[2017-05-26 15:07] Bob-the-Kuhn commented on #6832
I believe all you need to do for the bootloader is select the board in the Arduino IDE, select USBtinyISP in the programmer list and then click Burn bootloader. The bootloader that comes with the Teensyduino system will be programmed into you board.  I don't think you need to select a port.  Arduino will automatically find the programmer.

It always complains that there is a data mismatch.  Ignore

[2017-05-26 15:08] Bob-the-Kuhn commented on #6847
I believe that we'll end up with the following pinout for the MKS MINI12865

[code]

[2017-05-26 15:14] Roxy-3D commented on #6864
I believe this will work just fine.   The lower level probe code knows the state of the probe and handles that stuff independent of whether it is a G29  or G28 needing the probe.

You can raise the nozzle halfway up your Z-Axis and pull the power to force a clean reset.  And then do a home via the LCD panel and I think you will find it raises the Z enough to deploy the probe and then tries to prob

[2017-05-26 15:21] Roxy-3D commented on #6865
Or...  for backward compatibility...  You can do a G29 P0 to create a mesh full of 0.00's.  And just tilt that like the earlier version of G29 (Linear) still do...

For physically leveling the bed...  I do a G29 P1 U T    The U option  tells it to acquire points far away from the nozzle's starting point.   So especially if you start in the center of the bed, you get outside points probed first on

[2017-05-26 15:29] Roxy-3D commented on #6832
I'm not sure what I did, but I think I bumped a 12 v line onto my E0 Enable line.   So my extruder quit working.  But other than that...  My Atmega2560 board works.  I did move the extruder to E1 and it worked.    So...  I pulled that processor board and just use it for simple code and have it clearly labeled as a not fully functional board.   It is possible to blow out the various output pins but

[2017-05-26 15:55] dvseliteus commented on #6847
@Bob-the-Kuhn what's this pinout mean in layman's terms?
Also what did you mean by  jumping the connector pins when hooking up the LED?
and another question how can I tell if the SD Card is working with no screen text?

[2017-05-26 16:18] Bob-the-Kuhn commented on #6847
OK - need to do a real graphic on the pinout.

On the SD card - use the host interface (Repetier Host, Octoprint) to see if the SD card shows up.

On the LED - I have some single conductor female-female jumper cables that are meant to slip over the square posts on the controller board connectors/pins.  I'm just saying it's safer to use those than to try to maneuver the LED pins directly.

[2017-05-26 16:47] Bob-the-Kuhn commented on #6854
I've also seen this issue.

We should have it fixed today.

[2017-05-26 17:08] Bergerac56 commented on #6854
Thanks a lot

[2017-05-26 17:33] pablogventura commented on #973
I'm interested in implementing this functionality. Is there any recommendation to make me, before I start?

[2017-05-26 17:34] fiveangle commented on #6863
Probably good to try the lastest version before submitting requests ;)

Live M501 from bugfix-1.1.x running on my Printrbot:

[code]

I still need to get to submitting PR to set default K to be "0" (like I've set in mine) because choosing some arbitrary K (current default i think  is 50 ?) for something that is so filament-specific is no better than "off" in my opinion.

Please close if that's wha

[2017-05-26 17:46] SCiunczyk commented on #6595
HI,

I have exactly this same symptoms as @paulr4. Version 1.1.0 works fine, but 1.1.1 and yesterday Marlin-bugfix-1.1.x and gets stuck.... displaying on LCD Moving...

What is interesting to me, my LCD interface is in Polish, but this message "Moving... " is in English. Previous version 1.1.0 was in Polish. Maybe this information can help.

[2017-05-26 17:48] fiveangle commented on #6854
#6634

[2017-05-26 17:55] tcm0116 commented on #6863
@fiveangle I agree that having the default K set to 75 is rather arbitrary and that 0 would be better. I've done the same as you in my Configuration_adv.h file.

[2017-05-26 18:08] token47 commented on #6864
That was the kind of behavior that I was expecting. But I'm not sure where in the configuration I tell how to deploy the probe. Just to be clear, this is the kind of probe I'm talking about (in fact, it will probably be this very project):

https://www.youtube.com/watch?v=hqBF5s-aBCQ

The probe will only deploy if someone/something drives the carriage to the border in a specific location. It's eas

[2017-05-26 18:37] token47 commented on #6865
Ok, I saw the "U" option:

U     Unlevel    Perform a probe of the outer perimeter to assist in physically leveling the bed.

It seems that it will only print the information, and will not act on the motors to correct the table. Is that right? I'm talking about doing the physical correction the same as with dual Z endstops, but using the probe instead (you would not even need the whole grid, just

[2017-05-26 18:50] Roxy-3D commented on #6864
Oh!  After watching the video, I'm not sure my answer is correct.   How do you deploy (and retract) your probe?   You deploy (and retract) by going to certain positions.   The lower level probe code kind of assumes it can do things via the servo code.  And this isn't controlled that way.

Delta printers some times deploy the probe by sweeping through a certain position.  So probably it can be hand

[2017-05-26 18:53] sarf2k4 commented on #6863
Thank you, i was still using 1.1.0 and havent checked on the latest 1.1.1
yet. I will close this thread when i have the chance to do so.

So to disable the lin advance, just set the k to 0 right?

On 01:55, Sat, 27 May 2017 Thomas Moore, <notifications@github.com> wrote:

[2017-05-26 19:03] token47 commented on #6864
To deploy: drive carriage to specific location, the pin will be pressed and the probe will "crash" (drop).

To retract: do nothing. Just trying to get close to the bed will press it back to it's resting position (a magnet will pick it up after a certain point).

As you see:

- it seems to be dangerous if not made through a script. So you can say that there is some support for it as "you can make i

[2017-05-26 19:05] tcm0116 commented on #6863
Yes

[2017-05-26 19:10] sarf2k4 commented on #6863
Ok, thank you for the help and feedback, i should migrate over to 1.1.1 as
soon as i can.

A bit of off topic, i am also wondering if it is possible to have an extra
persistentconfig.h that will overide the default config.h if a variable
were defined in persistentconfig.h?

On 03:05, Sat, 27 May 2017 Thomas Moore, <notifications@github.com> wrote:

[2017-05-26 19:13] Roxy-3D commented on #6864
yeah...  It looks like if you declare yourself to be a  Z_PROBE_ALLEN_KEY type probe,  the  void run_deploy_moves_script() gets called...

But of course...  You are not really an Allen Key probe.   I think that is going to work for you.  But....

[2017-05-26 19:16] token47 commented on #6864
Interesting... very close! Not sure if there are other side effects. Will do some reading.

[2017-05-26 19:25] token47 commented on #6864
It seems to be only for deltas. But in general, mechanically speaking, it's the same kind of probe that I'm after. It deploys and retracts almost exactly the same way (in fact there is a variation of the one on the video I posted, that uses a real allen key as the pin, so I'm guessing that's it).

Yes.... reading on: http://marlinfw.org/docs/configuration/configuration.html#probe-type

""A retract

[2017-05-26 19:33] Roxy-3D commented on #6864
Yes...   If tested and debugged code showed up...   It wouldn't be real hard to find somebody to merge it.
Ideally, it should conform to existing precedents.  Preferably, we would want a more generic name than 'Allen Key' because that is a little bit deceptive.

[2017-05-26 20:14] Bob-the-Kuhn commented on #6854
This has been fixed on PR #6866 .  The corrected code should be available now.

[2017-05-26 20:38] batata004 commented on #6857
@Tannoo with your help I could finally add an entry to the very first position of my LCD \O/

Now I have one final question: I declared a function to be executed when this option is selected and I want to know what code should I put inside this function in order to it run a specific GCODE?

For example, if I want to home all axis when I click this option and right after I cilck this option it disp

[2017-05-26 20:40] freenetwork opened #6867 "LCD_BED_LEVELING x_max_pos y_max_pos"
Hello, when enable LCD_BED_LEVELING and run Bed level from menu, car go to big distance for x and y.
Why?
bed resolution:220x220

HOME_OFFSET enable

[2017-05-26 20:53] Tannoo commented on #6857
This will cause the machine to home, wait for bed to get to temp, then start bed leveling.
[code]

[2017-05-26 20:59] batata004 commented on #6857
I got everything to work thanks to @Tannoo

One final question, in the command "M140 S105\nG29" I would like the 105C temperature to be retrieved from the PREHEAT_2_TEMP_BED variable. How do I insert this value in the string?

[2017-05-26 21:01] Bergerac56 commented on #6854
Tried with and without "#define FASTER_GCODE_PARSER". It works as expected. Nice job :) Thanks

[2017-05-26 21:24] Xserxes commented on #6862
It is already configured for bi-linear.

[2017-05-26 21:32] hominidae opened #6868 "BT7272A board for FLSUN Prusa clones"
Hello,

Any timeline on when the board/pin configuration for the pull request submitted here will be integrated?

https://github.com/MarlinFirmware/Marlin/pull/6033

[2017-05-26 21:50] Tannoo commented on #6857
I think this will work.

`snprintf_P(some_variable, sizeof(some_variable), PSTR("G28\nM190 S%i\nG29"), PREHEAT_2_TEMP_BED);`

[2017-05-26 21:51] Roxy-3D commented on #6862
I meant to label this thread as a bi-linear issue.

[2017-05-26 21:54] Tannoo commented on #6857
This does not display anything on the screen. This outputs to the command buffer and the serial output.
There is nothing to display. Not even to draw a blank screen.

[2017-05-26 21:54] batata004 opened #6869 "Bug with LCD entry option"
Hi,

@Tannoo helped me in another thread to add a menu entry to the LCD screen and it worked perfectly. Now I have a problem that sounds like a bug.

In the submenu that I inserted in the LCD I made it execute this:

[code]

After I click in the submenu item the LCD gets back to the status screen and the printer starts homing and heating. Ok! BUT now if I select PRINT FROM SD and select a file (wh

[2017-05-26 21:57] batata004 commented on #6857
@tanoo thanks! But its really strange cause I only managed to make the LCD screen to come back to the info screen if I use this:

lcd_return_to_status();

If I dont use this and I only use the enqueue_and_echo_commands_P() the screen will get completely blank and after 20 seconds it comes back to the status screen.

Also, I am using this:

`enqueue_and_echo_commands_P(PSTR("M140 S105\nG28\nG29"));

[2017-05-26 22:24] Tannoo commented on #6857
Post your full function.

[2017-05-26 22:26] batata004 commented on #6857
hi, it is:

[code]

But I would like the 105 temperatur to be retrieved from the PREHEAT_2_TEMP_BED.

[2017-05-26 22:44] Tannoo commented on #6857
[code]

[2017-05-26 23:12] Tannoo commented on #6857
If that doesn't work. Use the snprintf_P() I posted earlier.

[2017-05-26 23:21] Tannoo commented on #6857
Why don't you use this instead?
[code]

[2017-05-26 23:24] fiveangle commented on #6868
I think the team is too busy dealing with the influx of spurious do-nothing issue submissions that it's hard to find time to focus on the actual work ;)

[2017-05-26 23:28] fiveangle commented on #6847
These are the type of jumper wires @Bob-the-Kuhn is referring to, which make testing out different pin connections much easier:

https://www.adafruit.com/product/266

[2017-05-26 23:35] dvseliteus commented on #6847
Thanks @fiveangle I have these on hand. I was hoping for a digital pin change than a wire harness adapter. Maybe I'm better of getting another display ☺️? I'll try to follow @Bob-the-Kuhn instructions and get it working.

[2017-05-27 00:35] fiveangle commented on #6863
No, but would be trivial to write an awk, sed, perl, etc script to pre-pre-process your Configuration*.h, but unless you are tracking Bugfix at a monthly cadence or so, the time savings seems dubious compared to the potential issues that could arise.  Best to cozy up to Diff/BeyondCompare/WinMerge/etc to migrate Configuration*.h's on new build install.

[2017-05-27 01:02] fiveangle commented on #6847
There's no CPLD on any 3D printer I've ever seen, so sometimes you need to just cozy up to the diagnostic basics ;)

I'll be working to get this LCD working on a Printrboard RevF sometime over the long weekend so I'll let you know if I find out anything interesting (which I doubt will help you, since it sounds like the real mystery for you is on the board-side.  Good luck !

-=dave

[2017-05-27 01:26] batata004 commented on #6857
@Tannoo the code below worked perfectly (your code didnt work, so I added 2 more parenthesis and it worked perfectly)

````enqueue_and_echo_commands_P((PSTR("M140 S%i\nG28\nG29"),PREHEAT_2_TEMP_BED));````

Thanks, you were very kind and helpful! Hope other people find this thread and be able to add a menu entry easily, it's very useful being able to customize the LCD display adding some macros/sho

[2017-05-27 01:26] #6857 closed, assigned to nobody

[2017-05-27 01:36] Tannoo commented on #6857
We could put a `Custom Commands` on the main menu for just this type of thing.
(Enabled in `configuration_adv.h`, of course.)

[2017-05-27 01:43] emartinez167 commented on #6857
That is a brilliant idea! Great work guys!

Regards,

Ernesto.

On 27 May 2017, 09:36 +0800, Tannoo <notifications@github.com>, wrote:

[2017-05-27 03:37] sarf2k4 commented on #6863
Hopefully this is the last one, ive been using npp compare but the compare
plugin seems broken now. Any recommended visual comparison software to use
aside from what ypu have listed?

On 08:35, Sat, 27 May 2017 Dave Johnson, <notifications@github.com> wrote:

[2017-05-27 04:19] PaulStew67 commented on #4262
I'm trying to do the same, home Z with one endstop and level the bed with the probe endstop.  Im using a Ramps 1.4 board with only a single Z Min connection, how do you wire this so that I can use either endstop?  Right now I'm homing and leveling with the probe endstop and the print starts 10mm above the bed in the air.

[2017-05-27 05:46] Tannoo commented on #6869
I belive it was intentional to have the preheat to not hold up any other operations by the user. So, printing from SD before the bed has reached temp is normal.

If you are "pre-heating", you would wait before you start a print, correct?

I don't put cookies in the oven while it's pre-heating.
Some people might.

[2017-05-27 05:49] tximy commented on #5860
Hi, this is an great work, I need it too ;)
I combine hard and soft and create a gcode configuration file for any head, load and it's save to eeprom, but need the M851 improvement with X and Y offset of probe https://github.com/MarlinFirmware/Marlin/issues/6713
I has configure 3 extruders and use 1, 2 or 3 , on the single extruder put a resistor to T1 and T2, the wiring of steppers are inverted fo

[2017-05-27 07:51] gtavo commented on #6790
I have the same problem, when trying to level the bed, the text vanishes, I have a REPRAP_DISCOUNT_SMART_CONTROLLER with 20x4

[2017-05-27 07:53] #6826 closed, assigned to nobody

[2017-05-27 08:15] RestlessRabbits commented on #6807
With the  bugfix-1.1.x branch and UBL bed leveling I am no longer experience any problems with probing. I can actually start to probe from the full Z-height. When I send G30 it probes, G29 does not, but starting the process from the LCD on my printer it is working without errors or misbehaviour so far!

[2017-05-27 09:38] emartinez167 commented on #6790
This is now fixed with the latest patches.

On 25 May 2017, 23:05 +0800, Roxy-3D <notifications@github.com>, wrote:

[2017-05-27 12:47] jeremyherbert opened #6870 "G30 appears to not use the probe offset in M851"
Hi,

I am having an issue with Marlin 1.1.0-1 (zipfile download). My probe offset is set using M851 to 4.8, and it prints 4.8 when Marlin starts up. If I run the following commands:

[code]

I expect the machine to home, do a single probe and set the probe position to Z=4.8, and then move exactly to the probe point and print it. The probe point should be Z=4.8 at the end if I understand this corre

[2017-05-27 12:50] jeremyherbert commented on #6712
I had some explanation from thinkyhead in the PR, and I see that marlin doesn't really work in this way. Closing.

[2017-05-27 12:50] #6712 closed, assigned to nobody

[2017-05-27 14:00] #6792 closed, assigned to nobody

[2017-05-27 14:38] batata004 commented on #6857
@Tannoo if you add this option I would love to use it!! You could just add an option to the user add a custom menu entry that runs some arbitrary GCODE. I think you guys putted so much effort in autog0 file structure and it would be much easier to allow a menu to be inserted and to run some gcode. Placing this menu entry right on the top of the others would be great and of easy acccess.

[2017-05-27 14:40] batata004 commented on #6869
@Tannoo  I agree with you and what you said in your first paragraph is what happens BUT that should also happens when using the GCODE -->> enqueue_and_echo_commands_P(PSTR("M140 S105\nG28\nG29")); <<--, it should stop executing M140 command when the user selects to print a file from the SD, BUT THAT IS not what is happening, it's blocking the printing till the preheat is done. I want to be able to

[2017-05-27 15:23] akaJes commented on #6722
PlatformIO compiler console supports colors now (with my new npm library [**tty2html**](https://github.com/akaJes/tty2html) )
improved tty console:
- switch for command's EOL type
- saved a port speed and EOL type options for each port
- dropdown with history for a sent commands
- auto scrolling option

![image](https://cloud.githubusercontent.com/assets/3035266/26521034/7d2f81d2-42e7-11e7-9491-95

[2017-05-27 15:26] Roxy-3D commented on #6807
G29 P1 should....

[2017-05-27 15:50] Roxy-3D commented on #6857
How would this work out?
- Have a #define CUSTOM_USER_MENUS in Configuration_adv.h  With out this enabled, everything is just as it is today.
- With that enabled, At the very bottom of the first menu page, there is a 'User Commands' entry
- Within the 'User Commands' page, we present up to 4 or 5 different sequences that are defined in Configuration_adv.h (along with titles)

[2017-05-27 16:56] fiveangle commented on #6854
Sounds like it fixed everything for you ?  If so, you should close ?

[2017-05-27 17:11] fiveangle commented on #6861
The Derivitive and Integral could be jettisoned on PWM change so the PID loop will begin aquiring on the new dataset (using the new interpolated PID<sub>default</sub> - PID<sub>fan-on</sub> loop drivers).  Interesting idea but I wonder how much more effective these hints would be ?  I guess it might possibly be an improvment for seriousluy over-fanned printers, and not much at all for anemic ones

[2017-05-27 17:24] fnordsh opened #6872 "SINGLENOZZLE does not allow multiple extruders; sanity checks fail"
I am trying to get Marlin to work with my Diamond Hotend. I defined SINGLENOZZLE, because the Diamond uses a single nozzle, heater and thermistor for three extruders.
However, when compiling, I get:

[code]

However, I need to specify DEFAULT_AXIS_STEPS_PER_UNIT for all three extruders, because they are indeed different types of extruder (MK9 and Titan). I plan to switch the MK9 to a Titan soon, b

[2017-05-27 17:25] fnordsh commented on #6872
PS: Some more infomation:
I am using Arduino 1.6.4 and Marlin's bugfix-1.1.x branch (currently 55c700d537d50bb06b6ced7c2ca61ffcaba7735a) for testing.
If you have any further questions, please ask.

[2017-05-27 17:32] fnordsh commented on #6872
[Configuration.h.txt](https://github.com/MarlinFirmware/Marlin/files/1033686/Configuration.h.txt)

Uploading .txt is allowed, but .h is not...

[2017-05-27 17:34] fiveangle commented on #6863
Those are the best.  vim -d also is nice when you're stuck in a terminal :)  I personally have purchased BeyondCompare myself, but it offers true "30 day trial" which really means that you get 30 full days to use it... so you would have to open it up at least 30 times on 30 separate days before the trial expires. I used it for about 2 years before I hit the limit and then realized it was valuable

[2017-05-27 17:42] tcm0116 commented on #6863
+1 for BetondCompare

[2017-05-27 17:43] fiveangle commented on #6857
Seems like it would be super useful but only if it could do things like return the text output of the command back to the LCD.  I'm always wondering what the current K value is for LIN_ADVANCE so I have to go back and check on the slicer I used.  Being able to report it with an M900 in my custom menu would be great.  I'm sure users would come up with a 1,000,0001 uses for such a feature 👍

[2017-05-27 18:25] PaulStew67 opened #6873 "Nozzle does not lower to print after G29."
I'm printing in the air after my start gcode does a g29 with servo mounted probe and auto bed leveling with Ramps 1.4.  Any ideas?
[Configuration.txt](https://github.com/MarlinFirmware/Marlin/files/1033795/Configuration.txt)

[2017-05-27 19:29] Roxy-3D commented on #6857
What I'm hearing you say is you want the LCD Panel to be available for generic output.   And possibly echo the standard output that is sent to the host machines in a portion of the LCD Window.   This will take some thought to work through.

Right now...  There is some thinking going on how to allow the main part of Marlin to use the Encoder Wheel and buttons in a clean fashion.  We should probably

[2017-05-27 20:17] fiveangle commented on #6550
Closing since the includes added to `serial.h` resolved the original issue this was opened for.  Will open (or jump onto another) Teensy pin one if my testing this weekend presents more questions than answers :)

[2017-05-27 20:17] #6550 closed, assigned to nobody

[2017-05-27 20:18] magnuspub commented on #6873
Same here!
With UBL active, I print in the air.
G26 work well.

[2017-05-27 20:50] Roxy-3D commented on #6873
Exactly which date of bugfix_v1.1.0 are you running?  I'm running yesterday's (after the M600 & M125 feature update) and I'm not seeing what you are seeing.

[2017-05-27 21:10] batata004 commented on #6857
wow that would be awesome! Just let me add one thing, if the user defines "CUSTOM_USER_MENUS " I think the "USER COMMANDS" should be displayed at first, for easy/shortcut access. Otherwise the user would have to scroll down the LCD till the very last option is reached. If the user does not want to use this CUSTOM_USER_MENUS it will keep everything as it is today, nothing customized should show up.

[2017-05-27 21:12] Roxy-3D commented on #6873
You Configuration.h file is so old...  There is no wonder you are having trouble.  So many options have changed names, it is very likely you don't have what you think you have enabled.

You need to cross your settings over to the current Configuration.h settings...

There is a new configuration utility that very possibly can move your settings over in a painless manner.  Why don't you give it a tr

[2017-05-27 21:29] renfrobr commented on #6790
I can verify, it's fixed on my end

[2017-05-27 21:30] magnuspub commented on #6873
I use the latest bugfix-1.1.x
My configs:
https://drive.google.com/open?id=0B18BfciEfVx3WGlTbHFQR1FNekU
https://drive.google.com/open?id=0B18BfciEfVx3ZDhFWE90aHd5NEE

[2017-05-27 21:54] Roxy-3D commented on #6873
It might be an issue with:
[code]
There are two things we can try...  You could switch to
[code]
Just to see if the problem is up in UBL or down in the manual probe code.    (Does the problem still happen with a different bed leveling system?)  And the other thing that might be helpful is to turn on
[code]
so we can see what the probing system thinks is happening...

[2017-05-27 22:10] PaulStew67 commented on #6873
Not sure why my config looks old, I will grab latest and try again.

[2017-05-27 22:16] Roxy-3D commented on #6873
I did a diff between the current and yours...   More is different than the same.   But without really doing a deep analysis, you don't even have a Thermistor of Type 75 in the list.  And that was added 4 months ago or so...

[2017-05-27 23:52] Tannoo commented on #6857
Here is something to start with. #6875

[2017-05-27 23:56] Tannoo commented on #6857
No arrays, yet... I don't know how to mess with multidirectional arrays.

I think that since this is an end user configuration item, maybe simplicity is best?

[2017-05-28 02:31] PaulStew67 commented on #6873
Got the latest 1.1.x bugfix; it homes fine (using probe for Z), it probes for bed leveling fine, but still air printing.  Roxy-3D is using a fixed probe and I'm using a servo mounted endstop to probe so my config differs a little.  I added the DEBUG_LEVELING_FEATURE but don't see anything in Pronterface console when printing or running the g29 command.

Using Cura, here's my start gcode...

G21 ;m

[2017-05-28 02:36] batata004 commented on #6857
@Tannoo right, simplificty is better! Maybe you could do this:

[code]

So the user can comment/enable only the custom menus he/she wants. This is the easiest it can get.

#EDIT#

SORRY I AM an idiot! I see you already implemented a better aproach than mine in your commit! Do you know if I can already use that commit? If so, how? Should I just download that marlin version?

[2017-05-28 02:46] Tannoo commented on #6857
Yes.. here:

https://github.com/Tannoo/Marlin/tree/user_command_menu

[2017-05-28 03:02] batata004 commented on #6857
Why cant I use this -> https://github.com/MarlinFirmware/Marlin/tree/bugfix-1.1.x ?

[2017-05-28 03:04] Tannoo commented on #6857
You can, but it won't have this PR (#6875) in it.

[2017-05-28 03:08] Tannoo commented on #6857
Once (or if) the PR is merged, then everyone will have it in `bugfix-1.1.x`.

[2017-05-28 03:49] Tannoo commented on #6872
Don't you need this for that type of setup?
[code]

[2017-05-28 03:52] Tannoo commented on #6872
Sanity check is correct, you have too many values set for these:
[code]

[2017-05-28 03:54] Tannoo commented on #6872
I haven't messed with multiextruder setups, but I remember reading somewhere that the mixing part is handled elsewhere... not in the stepper defines.

[2017-05-28 03:55] Tannoo commented on #6872
These should only have X, Y, Z, E. Or will have sanity check errors.

[2017-05-28 04:26] Tannoo commented on #6869
It's possible that the SD routine is looking for activity and wait for it to be done.. heating, moving, etc... before it starts executing a file.

M140 can't be stopped because it executes once to change the setpoint of the bed and is done.

[2017-05-28 04:59] Crimsus opened #6878 "Loaded RC8 but extruder only extrudes through Pronterface"
EDIT: I can extrude manually through the controls as well. For some reason, the printer just won't extrude during a print. I can make it extrude manually ever other way possible except that one--the one that counts!

So RC8 solved a nasty bed leveling issue I had but now I have a new mystery. After loading RC8, my extruder will not extrude. I can command it through Pronterface to extrude for miles

[2017-05-28 06:13] #6863 closed, assigned to nobody

[2017-05-28 07:35] sarf2k4 opened #6880 "Heatbed temp in LCD?"
Hi,

I noticed that the bed temperature control has been removed, was it intentional?

Without that, it would be impossible to change the bed temperature during mid-printing or to adjust the bed temperature according to the user, not relying on the presets from PLA/ABS (60/100)

If there is an option to enable this, where would they be?

[2017-05-28 07:44] JurikRistjouw commented on #6862
I had a similar issue, i found out that the printer was using EEPROM settings, which overrule the ones set in the config.h. If that is the case, try to clear those settings after flashing with M502 and then save with M500. After this, use caution when lowering or homing. Because the new settings could be way off compared to the EEPROM ones. Good luck

[2017-05-28 09:00] Tannoo commented on #6878
Post your config files.

[2017-05-28 09:02] Tannoo commented on #6878
RC8 is old news. There is 1.1.x now.

[2017-05-28 09:27] christianh17 opened #6883 "enable DEACTIVATE_SERVOS_AFTER_MOVE with switching nozzle"
I just tried my first PR.

In my setting it is possible to deactivate the servo after nozzle switching. It kind of "snaps in" after switching so I do not need the power of the servo to keep the nozzle in place. As I can imagine there are others who do not want to have the noise of the servo all the time keeping the power I suggest to enable this option.

Of course one has to know if it is a good i

[2017-05-28 09:46] jeremyherbert commented on #6870
Just tried with the latest 1.1.1 release, same problem

[2017-05-28 09:56] fnordsh commented on #6872
Strictly speaking, the Diamond does not do mixing, at least not very well. (Or that's what I heard anyway, I have not tried that myself, yet.) So a setup where only one extruder is active at a time should do fine. It still has three separate extruders, though. And these extruders can have different DEFAULT_AXIS_STEPS_PER_UNIT.

As I understand it, there are currently four types:
Standard: One nozz

[2017-05-28 09:59] fnordsh commented on #6872
PS: There's another sanity check:
[code]

So it's either SINGLENOZZLE or MIXING_EXTRUDER; not both.

[2017-05-28 10:06] jeremyherbert opened #6884 "Bed won't move above probe point using 'G30 S-1'"
With soft limits disabled, after using

[code]

I can move the z axis to wherever I want. However, if I use

[code]

which I believe [is supposed to](http://reprap.org/wiki/G-code#G30:_Single_Z-Probe) just stop at the point that the probe triggers. From here, I can't move beyond the trigger point and I just get the following message:

[code]

Software endstops are still disabled: `
echo:Soft endst

[2017-05-28 10:25] SturmGhost opened #6885 "Redefinition errors after defining TEMP_SENSOR_1_AS_REDUNDANT"
After defining TEMP_SENSOR_1_AS_REDUNDANT I get two redifinition errors. Latest release.

In temperature.h 183-186

` #if ENABLED(TEMP_SENSOR_1_AS_REDUNDANT)
      static int redundant_temperature_raw;
      static float redundant_temperature;
    #endif`

Redefinition of static float redundant_temperature; (commenting out fixed the problem)

And in temperature.cpp line 128-131

`#if ENABLED(TEMP_

[2017-05-28 11:10] SturmGhost commented on #973
Also interested in this feature...

[2017-05-28 11:33] christianh17 commented on #6880
Hi,
in my setting the heatbed is still displayed. So it can't be a general problem it must be a problem of your config. Can you post it here?

[2017-05-28 13:00] p3p commented on #6883
Hey Christian, You have a lot of unrelated changes in the pull request so it can't be excepted as it is, when submitting a PR its best to create a new branch with specifically what you want changed, there are a lot of pull requests to review so keeping it as concise as possible would be very much appreciated.

[2017-05-28 13:11] sarf2k4 commented on #6880
Here is my config.h. What i meant was in Control>Temperature>Bed, it was missing

[Configuration_2.txt](https://github.com/MarlinFirmware/Marlin/files/1034161/Configuration_2.txt)

[2017-05-28 13:37] christianh17 commented on #6883
Hey p3p. I just made a new PR, see #6887 It has the same content. Perhaps this one can be approved.
I learned a lot about github and unterstood I chose the wrong way before...

[2017-05-28 14:06] christianh17 commented on #6880
Sorry, did not find the problem - no idea why it does not show the temp. I hope somebody else can help.

[2017-05-28 14:15] p3p commented on #6883
That's much better, I can't say whether the change will be accepted but they will at least understand what you intended now. If you can close this issue and move any discussion about the PR into that PR comments that would be good and stop thinkyheads head exploding from the increasing issue count.

[2017-05-28 14:27] batata004 commented on #6857
Thanks man! I am starting to learn about git recently! Could you tell me why didnt you merge it to the main branch of bugfix-1.1.x?

And if I download your PR, will it contain other's people most recent contribution or just your new feature on top of the latest stable version? I say this cause I opened https://github.com/MarlinFirmware/Marlin/tree/bugfix-1.1.x and an there are a few changes that w

[2017-05-28 14:38] christianh17 commented on #6883
OK, I will close this issue and enter my explanation into the comment of the PR. Thanks for your hints!

[2017-05-28 14:38] #6883 closed, assigned to nobody

[2017-05-28 14:46] Tannoo commented on #6857
My brach is a "snapshot" of when I copied the latest `bugfix-1.1.x`, then I made changes. I can update that branch with any new changes.

The PR branch is based on `bugfix-1.1.x as of yesterday afternoon.

I don' have the permisstions to merge any PR into Marlin.

PRs are usually generated to get feedback and testing before merging.

[2017-05-28 15:01] batata004 commented on #6857
Great explanation! So I took the latest RCBUGFIX and migrate all my settings to the latest RCBUGFIX. After that I copied the file ultralcd.cpp, language_en.h and configuration_adv (from your repository) and added them to my RCBUGFIX. I compiled and it worked.

I will try it now on my printer. Just one advice: if I enable custom menus I need to enable all 5 custom menus! Cant I only use one custom

[2017-05-28 15:06] batata004 commented on #6857
@Tannoo I just tested your version and it worked perfectly! Amazing! I added a custom command like this:

[code]

And it worked! But now I have to ask you again (cause I think the solution you pointed earlier will not work here): how do I replace the 105 value above with PREHEAT_2_TEMP_BED ?

I liked that the custom commands appeares at the TOP! I liked that when I clicked the option after a few s

[2017-05-28 15:11] Tannoo commented on #6857
That would take more code... I was trying to keep this as a simple custom script option.

But, evolution does happen...

[2017-05-28 16:01] batata004 commented on #6869
with the new implementation of @Tannoo this bug does not happen. I have no idea why but this bug is solved :)

[2017-05-28 16:01] #6869 closed, assigned to nobody

[2017-05-28 16:31] sarf2k4 commented on #6880
here is the picture telling that the bed temperature adjustment from Control>temperature>bed doesn't exist on my end
http://share.pho.to/Ai8sP

[2017-05-28 16:36] Tannoo commented on #6857
You are correct... give me some time.

[2017-05-28 17:48] Bergerac56 commented on #6854
Yes, this fix the problem. I made various verifications. Now, activation of the "parse" option or not gives a logic result. Thanks again.

[2017-05-28 17:49] #6854 closed, assigned to nobody

[2017-05-28 18:45] Bob-the-Kuhn commented on #6847
@fiveangle - I just committed Teensyduino compatible M43 code on PR #6737.  I expect it'll make finding the pin numbers easier.

Also, I noticed that the SD card reader software uses both FASTIO & Teensy pin number routines.  You may not be able to get the card reader portion working.

[2017-05-28 18:51] batata004 commented on #6857
thanks, I hope you could have taken that nap you said in another thread! You are doing a great job man, thanks a lot!

[2017-05-28 19:18] fnordsh commented on #6872
D'oh, I didn't realize there's DISTINCT_E_FACTORS, apparently exactly for this purpose.
At least, Marlin compiles with this setting; I will check if it works as expected and then close this issue.

[2017-05-28 20:24] DaveAhrendt opened #6888 "LCDVIEW_KEEP_REDRAWING not defined in latest commit"
@Bob-the-Kuhn
Compiling with MENU_ITEM_CASE_LIGHT defined results in compile error that LCDVIEW_KEEP_REDRAWING is not defined in scope.

Also note that there is no "default" configuration file entry for #define CASE_LIGHT_ENABLE as now required for case light support. Prior to 1.1 just CASE_LIGHT_PIN being defined was sufficient.  Now, without CASE_LIGHT_ENABLE defined, you get a compile error.

[2017-05-28 20:36] fiveangle commented on #6847
Yeah, I wasn't expecting the SD card to work.  I'll try it immediately and report back. Thx !

[2017-05-28 20:52] Bob-the-Kuhn commented on #6847
Looks like all the pins use FASTIO except for SDSS & LCD_SDSS.  Those use the Teensy numbers

[2017-05-28 21:09] fnordsh commented on #6872
Okay, that worked. Sorry for the confusion.

[2017-05-28 21:09] #6872 closed, assigned to nobody

[2017-05-29 00:07] mbribeiro opened #6890 "Delta printer auto level problem"
Hi, I am using Marlin 1.1.0 with ramps board in a delta printer. I am using an inductive proximity sensor.
I think it works because I have really bad value for height  (210mm when the correct is around 245) and after a (g29) probe the command g1 x0 y0 z0 works perfectly.
The problem is all other distances away from the center has 1 mm or 2mm offset (the probe should compensate this). In some place

[2017-05-29 00:28] Roxy-3D commented on #6890
Which bed leveling system are you using?

[2017-05-29 06:13] Bob-the-Kuhn commented on #6847
@fiveangle - how's it coming?

If you give me your connection list and a copy of your pins_xxx.h file I'll see if I can come up with some suggestions.

[2017-05-29 07:01] fiveangle commented on #6847
It looks like the one I have (with side-access SD slot) has the keyways (and silkscreen key) the wrong way around, so technically pinout is this:

[code]

I'm making a custom cable for the Printrboard anyway, but it's probably best for others to just shave the keyway off and plug it in the other way around (with red tracer on ribbon closest to the "E" side of the port labels)
![img_5582](https://c

[2017-05-29 09:39] fiveangle commented on #6847
@Bob-the-Kuhn - let me know if you'd be up for a slack or hangouts session to help me with a few questions to get me started. Nothing is plugged in for Printrboards except the viki2 panel so I've got to put it all in and I just want some pointers on the "best" way to  do it.

[2017-05-29 09:53] fiveangle commented on #6847
Found this from another vendor and matches closer to what I'm observing:
(From http://m.globalsources.com/gsol/I/3D-printer/p/sm/1148779928.htm)
![img_5583](https://cloud.githubusercontent.com/assets/2219447/26545281/e34a7f16-4419-11e7-8736-ab5e586de85d.JPG)

[2017-05-29 12:08] mtowara commented on #6880
which version? Bugfix-1.1.x?
If yes do you know the specific commit?

[2017-05-29 12:15] sarf2k4 commented on #6880
I am using the base 1.1.1 release

On 20:08, Mon, 29 May 2017 Markus Towara, <notifications@github.com> wrote:

[2017-05-29 13:11] mtowara commented on #6880
try #define THERMAL_PROTECTION_BED
I don't know why, but the Code deciding to show this menu item seems to depend on this being set.

[2017-05-29 13:49] MennoLauwerens opened #6891 "Printer resets on first layer when nozzle diameter >0.4"
Hi,

After the upgrade to 1.1 my printer resets on some prints when I have sliced with a nozzle size 0.6 or 0.8 mm.
This happens while printing witch Octoprint and also when printing from SD.
There are no error messages to be seen anywhere.
I have tried lowering the feedrate, segments_per_second, acceleration, but nothing helps.
Calibration cubes and Benchy print out without problems.
I've attache

[2017-05-29 14:56] sarf2k4 commented on #6880
I'll try it first, I often disable the above option because my bed has a rather high resistance value compared to quality heatbed out there, so any changes in the ambient would trigger the bed protection.

If I were to use the bed temp adjustment feature from control>temperature>bed by at least enabling the thermal protection, it isn't a good idea.

[2017-05-29 15:44] mbribeiro commented on #6890
None, I just screwed the bed into the frame. I thought with auto level I would not need one.

[2017-05-29 16:06] sarf2k4 commented on #6880
By the way, I am trying to use the hex file and flash the board via
octoprint. I need some help in flashing the new firmware since I am using
ch340 mega2560 and kept getting timeout error

I was trying to flash via ssh on my windows platform

On Mon, 29 May 2017 at 21:11 Markus Towara <notifications@github.com> wrote:

[2017-05-29 16:08] amizera opened #6892 "Delta printer auto level problem"
I have delta with bltouch sensor and marlin 1.1.1, after marlin auto calibration i have printer leveld with paper and i can sucesfully print first layer

![dsc_0181](https://cloud.githubusercontent.com/assets/12136895/26556079/b70b93e8-4498-11e7-9b6a-4e1c7a5f8287.JPG)

but when i use auto bad leveling before print results are strange

READ: Bilinear Leveling Grid:
READ:       0      1      2

[2017-05-29 16:12] Bob-the-Kuhn commented on #6847
It's a busy day so I don't know when I'll be available.

Looks like you've made good progress.

Try hooking up MOSI, SCK, and defining DOGLCD_CS & DOGLCD_A0.  Maybe you'll get something on the display.

The only remaining signals to hook up are MISO & SS (also called SDSS & SDCS).

I'll have to do more research on what to do about SS.  On Printrboard it only goes to the SD card.  I've heard of sof

[2017-05-29 16:37] mtowara commented on #6880
flash via avrdude-ssh?

I don't know if octoprint handles this itself, but be sure to disconnect octoprint from the printer, so that the serial interface is available for flashing.

[2017-05-29 16:55] sarf2k4 commented on #6880
Actually use octoprint as a medium where I upload .hex into the octoprint, then use ssh for avrdude command to flash the board. I got it working now. It is actually due to the service didn't stop (had to issue another service stop for octoprint once again).

I also confirmed that by enabling the thermal bed protection option would have the bed temperature adjustment in the Control>Temperature>Bed.

[2017-05-29 17:03] mtowara commented on #6880
I would think bug...
@thinkyhead, could you have a look at Conditionals_post.h (WATCH_BED) and ultralcd.cpp?

[2017-05-29 18:55] Roxy-3D commented on #6890
G29 is used to do software bed leveling...  And you are probing 9 points.   So you have  one of these enabled:
[code]

[2017-05-29 19:02] Roxy-3D commented on #6892
You need to edit some of your mesh points.    I don't know how your bed is orientated...  But it looks like you have a row (or at least a line) of mesh points that are too high.

You should be able to move the nozzle to that very thin region (where the mesh point is too high) and do a G42 to go to the closest mesh point.   You can then use M421 Q -.1 to lower the mesh point.   (You will need I & J

[2017-05-29 19:15] mbribeiro commented on #6890
G29 is used to do software bed leveling... And you are probing 9 points. So you have one of these enabled:

Yes, for a Delta printer the only possible is AUTO_BED_LEVELING_BILINEAR. There is a sanity check for this.

[2017-05-29 19:16] fiveangle commented on #6847
I think I'm done.  The Printrboard just wasn't meant to be run with an LCD ;)

I've wasted enough of my holiday on this failed project so someone else will have to pick up the torch.

I enabled MINIPANEL and set options in RevF pins file (attached) to patch to EXP1 header like so (which PB fork recently enabled VIKI for their new printers on same pins, so is probably correct):

[code]

It appears

[2017-05-29 19:39] Roxy-3D commented on #6890
Ah....   https://github.com/MarlinFirmware/Marlin/pull/6695

[2017-05-29 20:02] fiveangle commented on #6880
[removed my suggestion as it's uncessary]

[2017-05-29 20:16] amizera commented on #6892
![dsc_0179xy](https://cloud.githubusercontent.com/assets/12136895/26561095/ce81fee0-44bb-11e7-8419-eeddc8fa4d24.jpg)
mesh points have Z values ?
or i should do it after G29 ?
measure point are:
READ: Bed X: -67.000 Y: -67.000 Z: -0.122
READ: Bed X: -45.000 Y: -67.000 Z: -0.122
READ: Bed X: -23.000 Y: -67.000 Z: -0.081
READ: Bed X: -1.000 Y: -67.000 Z: -0.087
READ: Bed X: 21.000 Y: -67.000 Z: -0.11

[2017-05-29 20:24] Roxy-3D commented on #6892
We need to know the index numbers for I & J at the bad spot.   Move the nozzle over to the thinnest part of the print using G42 I # J #    Probably that thin line is a row of mesh points and the nozzle will center over the thin area.   Once you know an index pair, you can move the mesh point up by doing M421 I# J# Q .1

Probably there are 3 or 4 mesh points that should be edited....

[2017-05-29 20:41] akaJes commented on #6722
I have build new standalone version for x64 Win and Linux https://github.com/akaJes/marlin-config/releases/tag/2.6.1

[2017-05-29 21:14] vMeph commented on #6722
is the marlin-conf.Setup.2.6.0.exe for windows?
i have tryed to run and i get this
![ki](https://cloud.githubusercontent.com/assets/12812111/26562169/0ec9a64c-44bc-11e7-8fe8-9404415db625.png)

[2017-05-29 23:31] mbribeiro commented on #6890
Ok I'll give it a try. Oh, BTW, in config.h for Kossel, the define
 #define FIX_MOUNTED_PROBE  is missing (was missing in 1.0.0 too). I had to use a diff tool from a previous version to figure it out what was preventing it to work.

I'll publish here the result of my test.

Thanks.

[2017-05-30 00:07] mbribeiro commented on #6890
I tried Marlin 1.1.1 and still the same. I don't know if it is normal to use springs to adjust the bed level because I think mine is a little lifted for one side only (and it seems auto leveling does not compensate this).
I will attach 2 files, sending the command g1 z2 with x and y zeroes and a g1 z2 with y 50. As can be seen z2 with y 50 almost touch the bed.

![20170529_205714](https://cloud.gi

[2017-05-30 04:33] sarf2k4 commented on #6880
I also tried on the latest bugfix-1.1.x, just downloaded and flashed with no bed protection.

Still no bed temp adjustment

[2017-05-30 07:27] Bob-the-Kuhn commented on #6847
@fiveangle

Dave - take a look at PR #6896.  Looks like I'm well on the way to having a system that uses "Teensy only" pins_XXX.h files.

As part of the testing I'm going to need to interface an LCD to my Teensy.  95% of that should translate directly to Printrboard.  Don't throw the MKS MINI12864 away yet.

[2017-05-30 08:21] akaJes commented on #6722
there were no win32 version in this setup - you can try again

[2017-05-30 13:51] Ianmcmill commented on #4831
Grave digging here... sorry.
does this still work in 1.1.1?:
`LOOP_XYZ(i) axis_known_position[i] = axis_homed[i] = true;`

EDIT: I rebuilt my prusa to a p3steel and got rid of the z probe and the z-axis-wearing auto-bed leveling.
I don't want to go into detail and bore you, I just want endstop to be gone.
I don't need homing, I don't need bed leveling.
I don't know if I could simply hack this in:

[2017-05-30 15:51] Ianmcmill opened #6898 "Where to set offset for Z-Endstop (Not Z-Probe)?"
I am confused. As so often when reading code comments.
Marlin 1.1.1.
In configuration.h
[code]
Does this also apply to an ordinary mechanical z-endstop when no z-probe is installed at all?
I don't see any other value but above cleary says "PROBE" and not endstop.
If endstop and probe offsets are different where am I supposed to set ENDSTOP offsets?

[2017-05-30 16:59] Bob-the-Kuhn commented on #6898
They do not apply to endstops.

Endstops are wonderful!  Once you get them setup you'll love them.

Not quite sure what you mean by "set ENDSTOP offsets" so I'll go over the two most likely scenarios.

----

One scenario is when your bed is smaller than the area that the nozzle can reach.   In my case the bed is 65mm to the right of the home position and 60 mm behind the home position.  I also hom

[2017-05-30 17:20] Ianmcmill commented on #6898
Thank you. The first scenario is the scenario I am in.

[2017-05-30 18:24] Ianmcmill commented on #6898
When my z endstop is set to min and z is triggered, the tip of the nozzle is below the print surface, outside of the print bed.
I would then need to set
`  #define Z_MIN_POS -2` where -2 is the distance the tip of the nozzle is below the print bed and the z axis would raise these 2mm to be at Z 0?

And to set the home offset I can simply use M206 X Y

Sorry I edited a lot in this post but hopefull

[2017-05-30 18:35] Bob-the-Kuhn commented on #6898
It would be -2 because you want Z0 to be above the home position.

[2017-05-30 18:55] vMeph commented on #6898
Good to know this,im myself are starting to build my 3d printer from scratch, so all is new to me, while im still on the progress of building im already trying to understand things and sometimes i fell that its missing information on how things works with exemple of senarios for people that is starting, would be great to have a wiki for diferent subjects that would explain things  in a easy way th

[2017-05-30 19:46] amizera commented on #6892
when i send e.g.  G42 I1 J1 nothing hapen on printer

I see that M421 Q option is for AUTO_BED_LEVELING_UBL, but i have AUTO_BED_LEVELING_BILINEAR
http://marlinfw.org/docs/gcode/M421.html -
"[Q<linear>] A value to add to the existing Z value (Requires AUTO_BED_LEVELING_UBL)"

when i try chacnge to UB i have this error
#error "AUTO_BED_LEVELING_UBL does not yet support DELTA printers."

[2017-05-30 19:55] Roxy-3D commented on #6892
I don't think you have the latest version of the code.   UBL is working on Delta's.   There are some corner cases that need more work like interactive editing of mesh points outside of the printable radius.  But  it is working...

You want to pull the code from here: https://github.com/MarlinFirmware/Marlin/tree/bugfix-1.1.x

[2017-05-30 20:33] vMeph commented on #6722
can you be more detailed in how to install on windows cause i have try again using the marlin-conf.Setup.2.6.0.exe and i get same error the other files appimage no idea what they and how to open

thanks

[2017-05-30 21:39] WOOKIE111 opened #6900 "Marlin 1.1.x Odd Issues"
Hello,

I have recently changed from Marlin Dev UBL to the new marlin 1.1.X from may

also the button pin for the viki2 seems to be miss mapped as the click wheel is set as printer kill for some reason. and i seem to get random kill/halt happening seemingly because of this.

Electronics
Azteeg X3
Viki 2 LCD ( not the 1.2 style of wiring but the 1.0) https://s3.amazonaws.com/cdn.freshdesk.com/data/

[2017-05-30 22:13] erikkallen commented on #5702
I ran into the same issue with the runaway heater, the way I fixed it was to change
  #define THERMAL_PROTECTION_PERIOD 40        // Seconds
  #define THERMAL_PROTECTION_HYSTERESIS 4     // Degrees Celsius
in Configuration_adv.h the default settings where to strict for my slow heater (the problem in my case was that when both the extruder and the bed where heating up the bed probably reacted a bit

[2017-05-30 23:19] WheresWaldo opened #6901 "1.1.2 error compiling w/MESH and LCD_BED_LEVELING enabled"
Compiles fine without LCD_BED_LEVELING, as soon as you enable LCD_BED_LEVELING  the following errors appear

[code]
There is more of the same within the error, only difference is enabling LCD_BED_LEVELING. Compiler was v1.8.2 on Windows

[2017-05-30 23:33] PaulStew67 commented on #6873
Here's the end of the debugging...

Bilinear Leveling Grid:
      0      1      2
 0 +0.317 -0.128 -0.578
 1 +0.467 +0.140 -0.658
 2 +0.398 -0.148 -0.660
G29 uncorrected Z:7.00
 corrected Z:7.35
<<< gcode_G29
  current_position=(124.00, 163.00, 7.35) : sync_plan_position

[2017-05-30 23:37] BlackLightUK opened #6902 "Error compiling in gcode.h"
Hi there.

I've just tried compiling 1.1.2 after tweaking the configuration.h and configuration_adv.h for my Tevo Tarantula - and arduino 1.6.8 threw up an " invalid conversion from 'const char*' to 'char*' [-fpermissive] " on line 138 of gcode.h

[2017-05-30 23:38] BlackLightUK commented on #6902
There also appears to be a missing ) at the end of line 103 of the same file.

[2017-05-31 00:12] PaulStew67 commented on #6873
This was my mistake, I believe I changed my steps but did not change my Z_PROBE_OFFSET_FROM_EXTRUDER.  Working fine now.  Thanks

[2017-05-31 00:12] #6873 closed, assigned to nobody

[2017-05-31 00:51] p3p commented on #6902
Hey, I think you misread at line 103 (the preprocessor makes it less clear) though I can confirm the warning at line 138 with FASTER_GCODE_PARSER disabled, It's probably just a missing typecast. This is just a warning though so it shouldn't have resulted in a failed build?

[2017-05-31 01:20] Bob-the-Kuhn commented on #6898
@vMeph - if you haven't already, check out [Open Builds](http://www.openbuilds.com).  They're dedicated to home built machines.  An excellent source of info on the build portion of the machine.   That's where I got my start.

[2017-05-31 02:23] Bob-the-Kuhn commented on #6456
Status?

[2017-05-31 03:00] Bob-the-Kuhn commented on #6901
I couldn't get it to fail.

Please ZIP your config files & post them.  I have a much better chance of reproducing the problem if I have the config files.

[2017-05-31 03:05] Roxy-3D commented on #6456
I'm sorry.  I apologize.  The way I read emails and issues caused me to miss this one.  I didn't read this issue even though you flagged me on it.

The Dual Z-Motors is an example of  Marlin code where I know the functionality is there but I've never used it or looked at it...    (You do remember me saying:   Nobody can even know 1/2 the details of the Marlin code base???)    But if you want, I'll

[2017-05-31 03:10] Roxy-3D commented on #6901
So I don't know the answer.... But does turning off
[code]
help?   Your error messages sound suspiciously close to what that does...

[2017-05-31 03:25] Bob-the-Kuhn commented on #6902
Try replacing line 138 with this:
`if (b) value_ptr = (char*) (DECIMAL_SIGNED(p[1]) ? &p[1] : NULL);`

That took care of a compile error in 1.1.x for me.

[2017-05-31 03:44] Bob-the-Kuhn commented on #6456
My best guess is this is a hardware issue.  Either the default stepper pulse width is marginal for the stepper IC or the current  limit needs to be set higher.

[2017-05-31 03:46] Roxy-3D commented on #6456
I always assume this first.  I turn the power up so I can just barely hold the stepper motor.       A lot of times, that fixes the problem.

[2017-05-31 04:14] WheresWaldo commented on #6901
@Bob-the-Kuhn Zipped and attached. Please note that there are four different printers all named the R1 so there are extra entries in the steps section, I just uncomment the one I need depending on the flavor of R1.
Also comment the show bootscreen or you will get an error. [Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/1040275/Configuration.zip)

@Roxy-3D Babystepping was disab

[2017-05-31 04:16] thinkyhead commented on #6456
I'm not sure where pulse width would affect torque. It should have no effect on holding torque, at any rate….

@linux01d Next, try swapping the stepper drivers and see if the problem still appears on the same stepper motor.

[2017-05-31 04:44] Bob-the-Kuhn commented on #6901
I finally got it to fail with the same message.  I turned on a Z probe in addition to LCD_BED_LEVELING and MESH_BED_LEVELING but with PROBE_MANUALLY disabled.

Turning off the Z probe and enabling  PROBE_MANUALLY give you a different error.

Turning off both the Z probe and PROBE_MANUALLY compiles when both LCD_BED_LEVELING and MESH_BED_LEVELING are enabled.

@Roxy-3D - oh guru of leveling ...  do

[2017-05-31 04:45] Bob-the-Kuhn commented on #6456
They're soldered to the board.

[2017-05-31 04:59] Bob-the-Kuhn commented on #6456
He's swapped stepper cables at the controller.  The problem moved to the other stepper so the problem stays with the channel.

[2017-05-31 05:30] Grogyan commented on #6456
It does sound like one of the stepper drivers us going into thermal
shutdown.
Suggest calibrating the Vref for both drivers so that they are equal

[2017-05-31 05:52] linux01d commented on #6456
I'm on a long-time business trip right now. I'll be back only 22.06 and I'll be able to make tests from 24.06.

They are equal. I've adjusted them with voltmeter. 0.9v on potentiometers is enough and works fine under Marlin 1.0.x.

[2017-05-31 05:56] linux01d commented on #6456
All drivers has heatsinks and 80mm fan over them. No thermal issues possible, I measured temperature with IR-thermometer, it just 40°C.

[2017-05-31 06:06] Bob-the-Kuhn commented on #6456
@linux01d - hope you're not stuck in the hotel room every night. Gets boring really quick especially when you don't speak the language.

[2017-05-31 06:30] thinkyhead commented on #6456
Did you try changing `MINIMUM_STEPPER_PULSE` and see no effect? It's meant to add extra time, but only if extra time is needed. So, apart from being precise, it depends on having a correct estimate of the number of cycles that is already eaten up by code between the start and end of a pulse. The more steppers the `Stepper::isr` has to process, the more likely it is that the proper amount of delay

[2017-05-31 06:44] akaJes commented on #6722
it is my fault - i have built cross-compiled version and serial port component has fail
i released new version 2.6.1  and have tested on windown x64 - but it with no serial consoles

[2017-05-31 08:21] BlackLightUK commented on #6902
Many thanks, @Bob-the-Kuhn - that sorted the compile error.
@p3p - yeah I misread the 103 bit - it was late and missed the ) a few lines down - my bad !

[2017-05-31 08:21] #6902 closed, assigned to nobody

[2017-05-31 09:08] Tannoo commented on #6901
Is there a future edition ya'll are debugging?

I can't find 1.1.2.

[2017-05-31 09:54] FHeilmann opened #6904 "[Observation] Small "Gotcha" with the new G-code parser and homing"
Just noticed this today, so I thought I'd share:

The old parser accepted ```G28 XY``` to home X and Y axis. Notice the lack of a space between X and Y. The new parser will only home X with this command and requires a space to be inserted between X and Y like so:
```G28 X Y``` to home both axis.

Not necessarily a bug, thats why I included the "observation" tag.

[2017-05-31 11:19] WheresWaldo commented on #6901
@Tannoo 1.1.2 was in Releases for 1.1.x branch

[2017-05-31 11:22] WheresWaldo commented on #6901
@Bob-the-Kuhn It never worked that way before, you can't enable `FIXED_MOUNTED_PROBE` and `PROBE_MANUALLY` at the same time and these printers have a `FIXED_MOUNTED_PROBE`.

[2017-05-31 11:43] DaveAhrendt opened #6905 "1.1.2 compile issue with MENU_ITEM_CASE_LIGHT"
Using the default config files with the distribution...
If I enable `MENU_ITEM_CASE_LIGHT` and `CASE_LIGHT_PIN` all will compile correctly until I enable `AUTO_BED_LEVELING_UBL` and all the required defines for UBL including `BLTOUCH`, EEPROM and `REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER` I get a compiler error.
[code]

[2017-05-31 11:55] Ianmcmill commented on #6898
My travel limits are now set like this in the firmware (I did not use M206 to set them)
[code]

After issuing **G28** and **M119** it returns this:
[code]

However when issuing **M114** without moving I get this:
`X:0.00 Y:0.00 Z:0.00 E:0.00 Count X:0 Y:0 Z:0`

### SOLVED: I solved it. For the sake of completeness:
NOTE: When writing about your issues you are very often solving your issues yoursel

[2017-05-31 11:56] DaveAhrendt commented on #6849
The ; is still missing on line 230 in 1.1.2 build

[2017-05-31 12:42] BlackLightUK commented on #6901
Possibly a related issue (at least it's a different compile error relating to `PROBE_MANUALLY`)

When `LCD_BED_LEVELING` and `MESH_BED_LEVELING` are enabled, Marlin 1.1.2 compiles without error.

When I enable `PROBE_MANUALLY` (with no other probe option enabled) I get a compile-time error of
[code]
and points at `ultralcd.cpp` at line 1642

[2017-05-31 12:55] Fixx commented on #6901
@BlackLightUK I got same error. `LCD_BED_LEVELING`, `MESH_BED_LEVELING`, `PROBE_MANUALLY` enabled.

[2017-05-31 13:04] WheresWaldo commented on #6901
@BlackLightUK & @Fixx  My understanding is that `PROBE_MANUALLY` is used if you don't have a probe. My machine uses the nozzle as a probe but it is unreliable for anything but homing, but since it is used for homing I have to enable `FIXED_MOUNTED_PROBE`. I then use MESH since it is easier to manually create a mesh with it than with UBL. So in my case `PROBE_MANUALLY` isn't what I want enabled. Bu

[2017-05-31 13:17] BlackLightUK commented on #6901
Just noticed this on Probes Configuration page ( [http://marlinfw.org/docs/configuration/probes.html](http://marlinfw.org/docs/configuration/probes.html) )

Should we be moving away from Mesh and start using Bilinear Grid w/ PROBE_MANUALLY ?

[2017-05-31 13:27] WheresWaldo commented on #6901
@BlackLightUK I think the desire is that everyone move to UBL, but like I said in my case UBL is very clunky since I don't want to auto-generate the mesh I just want to manually create it. Auto mesh generation makes double work since I have to manually edit most of it after the fact anyway. MESH is easier to use this way. I don't think that statement applies to any version of 1.1.x and may be 1.2.

[2017-05-31 13:38] garaguido commented on #5437
Here are the debug logfiles ,Marlin  bugfix 1.1.0 , you asked.
[code]

[2017-05-31 13:44] Tannoo commented on #6901
UBL -- `G29 P4 R` to edit all points manually.

[2017-05-31 13:47] WheresWaldo commented on #6901
@Tannoo Good to know, I will try it on my machine, but would still like to get to the bottom of this current issue.

[2017-05-31 14:07] Fixx commented on #6901
LCD_BED_LEVELING, BILINEAR_LEVELING, PROBE_MANUALLY compiles fine, but I need to test it on printer.

[2017-05-31 14:15] BlackLightUK commented on #6901
@Fixx - Good to know - thanks :)

[2017-05-31 14:45] DaveAhrendt commented on #6905
This issue is basically the same one I reported in #6888.  The define `CASE_LIGHT_ENABLE` is eventually used to define bool `case_light_on` in `Marlin_main.cpp`.  Unless you crawl through the code you don't know that you need to manually define  `CASE_LIGHT_ENABLE`.

Changing `Configuration_adv.cpp` to the following fixes the compile and work correctly:
[code]

[2017-05-31 15:52] Roxy-3D commented on #6456
The other thing I do when a motor loses position is turn the acceleration and max feed rate way down.  That may not be the problem, but it usually helps me isolate the problem.

[2017-05-31 15:59] HenningJW opened #6910 "1.1.2 Regression: 7kb additional size due to PROBING_HEATERS_OFF requires ADVANCED_PAUSE_FEATURE"
Hello, since 1.1.2 I need ADVANCED_PAUSE_FEATURE for the PROBING_HEATERS_OFF, which consumes about 7kb extra. Imo this is a pretty big regression from 1.1.1 and there is no way to fit this onto my 128kb Melzi board.

edit1: There is another regression I am investigating, the size grew about 22kb even without adv_pause. I can't edit the topic, from 30kb to 7kb.

edit2: bisecting since "UBL Menu Sys

[2017-05-31 16:03] Roxy-3D commented on #6904
I think this is a 'bug' just because it will do something different depending on whether you put the X or the Y first.

[2017-05-31 16:04] marcelogaio commented on #6001
@thinkyhead @Nerradia
I made a Pull request: ~~https://github.com/MarlinFirmware/Marlin/pull/6909~~ ~~https://github.com/MarlinFirmware/Marlin/pull/6911~~ https://github.com/MarlinFirmware/Marlin/pull/6913 ...finally. I'm quite an amateur at collaborating! :p

It basically adds the support for a non-extruder non-hotend printer, with a new config profile for a Galvo SLA printer. So far it allows Ma

[2017-05-31 16:07] Ianmcmill commented on #6898
No no no. I still have a problem with the travel limit set in firmware that compiles and is being uploaded and the M206.

So I have set the travel limit in the firmware in the ARDUINO IDE and uploaded it.
When homing all axis and issuing M114 while having all three endstops triggered it says the tip is at 0,0,0 but it should know that it is at x-15, y-24, z-2,51.
Therefore I said `M206 X-15.0 Y-24

[2017-05-31 16:15] Roxy-3D commented on #6901
No...   I think the future direction is a machine can have both a real Z-Probe and a 'Manual' Z-Probe.  That makes sense for a number of reasons.  So probably we want to start relaxing these constraints.

UBL brute forces the existence of a Manual Probe for G29 P2.  But we want to move that out of G29 and into the Z-Probe sub-system.

UBL -- G29 P4 R to edit all points interactively.

[2017-05-31 16:22] WheresWaldo commented on #6901
@Roxy-3D if G29 P4 R works the same way as the LCD choice for MESH then even though I want to see this issue addressed I will tell the people using these configurations to switch to UBL immediately. What I am asking is if I enable UBL and enable LCD_BED_LEVELING can I use the menu choice and the LCD to actually create the MESH manually?

[2017-05-31 18:28] Bob-the-Kuhn commented on #6902
PR #6914 implements this fix.

[2017-05-31 18:36] Bob-the-Kuhn commented on #6905
This was just fixed/updated on PR #6797.

[2017-05-31 19:04] Bob-the-Kuhn commented on #6849
This was just fixed in bugfix-1.1.x via PR #6915.

[2017-05-31 19:05] ghost opened #6916 "Bl touch not homing and crushing to bed"
As I described on title. I used Tarantula 2. version and tried everything but Z not homing and crushing on bed  I have to stop it everytime and also sometimes it shows stopped and not Z homing again. I'm trying to figure it out for hours but nothing improved

[2017-05-31 19:08] Bob-the-Kuhn commented on #6898
Do you have EEPROM support enabled?  If yes, do M502, M500, M501 & see if that fixes it.

We've all been bitten by the "made a config change but forgot to update the EEPROM" problem.

[2017-05-31 20:01] mcmatrix opened #6917 "UBL Z is odd at the corner"
I'm using Fabrikator Mini V1.5 with UBL bed leveling (Aus3D IR Z Probe).
The firmware version is the latest release 1.1.2
Bed size is (X:0..80 Y:0..80)
G29 W
[code]
G29 T
[code]

When bed leveling is inactive (G29 D) and executing:
G1 Z2
G1 X80 Y80
then it will execute normally.

When bed leveling is activated (G29 A) and executing:
G1 Z2
G1 X80 Y80
then near at the corner Z axis starts continuall

[2017-05-31 20:16] Roxy-3D commented on #6916
A couple of comments.  First: https://github.com/MarlinFirmware/Marlin/issues/6807

The second comment is this...   When I don't full trust things...  I raise the Z 150mm and do a G28.  I reach under the probe and verify it is doing the right thing several times.   With the Z raised 150mm I have enough time to react if it looks like it is going to crash the nozzle into the bed.

I don't know what

[2017-05-31 20:21] Roxy-3D commented on #6917
Your Topology Map says all the mesh points are 0.000.

But your question has to do with the behavior when you go off the mesh.   I'm working on handling this nicely.   But the code isn't done yet.   In the mean time....   Please don't go off the mesh.   Define the
[code]
such that it covers your entire bed.   G1 X80 Y80 is off the mesh!

[2017-05-31 20:29] mcmatrix commented on #6917
Thank you.

[2017-05-31 20:29] Roxy-3D commented on #6917
Please check back in a week or so...  I'll have fully tested improvements for this issue.

[2017-05-31 20:48] Bergerac56 opened #6918 "Strange behavior on X after a G28 command"
Hello
I found a strange behavior starting with the version of bugfix 1.1.x of 05/28 (till today) and not present in the bugfix 1.1.x of 05/26 and before.

Issue :
If option « define ENDSTOPS_ALWAYS_ON_DEFAULT » is inactive (commented) in configuration_adv.h (line 239) :
G28 homes the extruder as expected. (On my printer: Extruder is located in the center of the bed, at location X155, Y105, Z5)
G1

[2017-05-31 21:03] ghost commented on #6916
I'm sorry you can see from here tarantula https://github.com/JimBrown/MarlinTarantula.

İt is working. I tried what you said. i put something else and it did. But when it comes to bed it is not going back. when I try to screw more it gives error. So I make it shorter idk what is problem with touch or firmware.

[2017-05-31 21:11] Roxy-3D commented on #6918
It might be worth while to turn off:
[code]
in Configuration_adv.h and see if the behavior changes.   There have been other reports about G28 in #6904.

[2017-05-31 21:19] BlackLightUK opened #6919 "1.1.2 resets on USB disconnect as well as connect, no functionality without USB"
MKS Base 1.4 board - I'm probably missing something in the config somewhere, but I can't find it.

Previously I had 1.1.0 flashed onto the board; when disconnecting USB, the board would maintain the same state (and lcd functionality) until a new USB connection was attempted, at which point the board would reset.

Now, when a USB disconnection happens (either slic3r or pronterface) the board resets

[2017-05-31 21:20] SirZylinder commented on #2877
[code]

Where do I enter my values here? Sry im a scrub and cry every night but I really need to know :P

[2017-05-31 21:21] Bergerac56 commented on #6918
Hello Roxy,

Sorry, I did not mention it. I tried with and without the "parse" option. Same behavior

[2017-05-31 21:26] Roxy-3D commented on #2877
If Z_SAFE_HOMING is turned on...  The safe X & Y point automatically get set to the middle of the bed.   If you want to hard code a location, you can do it by doing something like:
[code]

[2017-05-31 21:29] Bergerac56 commented on #6918
I just checked the #6904. It is not the same thing. I do not use XY together. But it could be in the same area.

[2017-05-31 21:46] SirZylinder commented on #2877
Found it out myself already works perfect.
Trial and error is the tactic to go.
Thanks tho for the quick answer.

[2017-06-01 00:15] martindb commented on #6807
Since I changed to no endstops interrupts, printed a lot of times, no more issues...

[2017-06-01 00:47] mperdue opened #6920 "The case light/Viki 2 problems again"
The case light changes have broken the Viki 2 on the Azteeg X3 Pro again. Since I don't have a case light I've just commented out the block that changes the pin assignment.

[2017-06-01 00:59] fiveangle commented on #6910
Aside, NO_WORKSPACE_OFFSETS   usually recovers a few k if you don't need it

[2017-06-01 01:53] thinkyhead commented on #6910
I assume you mean 7K more Program Memory…?

Please post your `Configuration.h` and `Configuration_adv.h` (zipped works) so we can try building with your settings and use that as a starting point to resolve the issue.

[2017-06-01 01:59] thinkyhead commented on #6910
Optimization is disabled for UBL's `G29` by that commit — It intentionally uses more program memory for extra safety. I think you can safely remove the `_O0` flag from `unified_bed_leveling::G29` now, if you want to use less program memory, and it should work just fine.

[2017-06-01 02:06] thinkyhead commented on #6910
That links to a change in a few Spanish strings, which would have no effect on size. Perhaps the actual commit that brought the change was earlier than this?

[2017-06-01 02:12] thinkyhead commented on #6910
We can double check that this new feature doesn't add too many new strings.

If you don't need `G26` then be sure to disable `UBL_G26_MESH_VALIDATION` – which is now enabled with UBL by default.

If you're just looking to do basic mesh-based leveling and don't need a lot of tuning options, the core `AUTO_BED_LEVELING_BILINEAR` option is likely to use a lot less program memory, while still being a

[2017-06-01 02:14] thinkyhead commented on #6920
@Bob-the-Kuhn This one's for you….

[2017-06-01 02:20] #6905 closed, assigned to nobody

[2017-06-01 02:25] thinkyhead commented on #6901
Yes, it replaces `MESH_BED_LEVELING` which is now marked deprecated.

[2017-06-01 02:28] thinkyhead commented on #6901
`PROBE_MANUALLY` and `MESH_BED_LEVELING` are mutually-exclusive.

`PROBE_MANUALLY` is a companion to the `AUTO_BED_LEVELING_3POINT`, `AUTO_BED_LEVELING_LINEAR`, and `AUTO_BED_LEVELING_BILINEAR` core leveling options.

Ideally, the code should just ignore `PROBE_MANUALLY` and `MESH_BED_LEVELING` being set together, since `MESH_BED_LEVELING` is the old version of `PROBE_MANUALLY`, but a sanity check

[2017-06-01 02:46] mperdue opened #6923 "Z movement issue with bed leveling."
I mentioned this before in a different issue but I think it needs its own. On my printer after loading the firmware I can start up a print with no issues. The printer homes, then does my startup script which moves the extruder near the X0Y0 location, lowers to Z0.2 or so and prints two vectors at right angles to each other. From there the print is normal.

After I do G29 and M500, there is a chang

[2017-06-01 02:46] thinkyhead commented on #6901
#6922 prevents untenable combinations of these options.

[2017-06-01 02:46] #6901 closed, assigned to nobody

[2017-06-01 02:48] thinkyhead commented on #6923
What form of bed leveling are you using?

[2017-06-01 02:51] mperdue commented on #6923
Bilinear bed leveling

[config.zip](https://github.com/MarlinFirmware/Marlin/files/1043479/config.zip)

[2017-06-01 02:52] thinkyhead commented on #6919
I'm stumped. How the board behaves with respect to the USB connection is outside the purview of the firmware. Marlin has no control over that.

[2017-06-01 03:23] Tannoo commented on #6919
The 5vdc rail overloaded?
Possibly bad/weak connection to the LCd?

[2017-06-01 03:35] mperdue commented on #6923
After a bit of testing, this only happens when bed leveling is enabled with "M420 S1." As a work-around I've relocated this to just before I want the Z axis lowered. Previously it was right after the "G28."

[2017-06-01 07:05] Bob-the-Kuhn commented on #6920
I'm scratching my head as to how the changes affected Viki 2.

Please do a few things for me:
- ZIP up & attach your config files.  Maybe then I can re-produce the problem.
- Please detail what the problem is.  Is it not compiling, does it compile but the display is blank, ...
- Please detail what you did to fix the problem.

[2017-06-01 07:21] stevewatts commented on #4170
did you manage to get any of the auto bed-levelling working without the fixed probe?  I just see  "Auto Bed Leveling requires a probe! Define a Z Servo, Z_PROBE_ALLEN_KE..........'

[2017-06-01 07:25] novio8 opened #6924 "1.1.2 G33 Bed Radius implausible"
Hi,
I'm struggling with `G33`,
when I send `G33` I get message `M665 Bed radius implausible`

I've increased or lowered
[code]
but I'm always getting `M665 Bed radius implausible`

If I run Delta Calibration from LCD
I can only run set Delta Hight and X,Y Z separately
and not Auto Calibration

I'm stuck
Any advice will be most welcome

Regards
Mario

[2017-06-01 07:48] BlackLightUK commented on #6919
I'm thinking it has to be hardware at this point in time - I've just fired up the printer, connected to it and disconnected, and it's sitting there quite happy heating the nozzle and bed without an active USB link.

Intermittant hardware issues. Deep joy.

[2017-06-01 07:49] #6919 closed, assigned to nobody

[2017-06-01 09:15] stevewatts commented on #6829
Sorry i stupidly read the Arduino version...  I was using MarlinRC that time, I've since tested on 1.1.0 and today having the same issues wth 1.1.2.  So it all works as expected (without auto bed leveling) until the fix_mounted_probe is exposed.  tehn it hovers the bit above the workpiece as though that is the new z=0 eventhough it successfully finds z=0 during the homing process.

Is anyone able

[2017-06-01 10:44] mperdue commented on #6920
The code compiles and runs but the Viki 2 LCD screen is blank.

How the changes affect the Viki 2 is pretty easy - you're stealing a pin that is used as a standard connection to it on the AZTEEG X3 Pro.

In pins_AZTEEG_X3_PRO.h at/near line 33 you check to see if it is OK to reassign this pin for use with the CASE_LIGHT

`
#if !PIN_EXISTS(CASE_LIGHT)         // doesn't already exist so OK to chang

[2017-06-01 11:08] SCiunczyk opened #6925 "Compilation error with LCD_BED_LEVELING enabled (v1.1.2)"
Hi,

With version 1.12 I got compilation error: `'lcd_wait_for_move' was not declared in this scope` but only when:

[code]
there is no problems with compilation if:
[code]
System Windows 10
Aruino version 1.8.2 (Windows Store 1.8.5.0)
U8glib version 1.19.1

error message output:

[code]
I'm still waiting for the Z-Probe to be installed so MBL iwith LCD is very good option for me.

Any idea how to

[2017-06-01 11:27] Tannoo commented on #6925
I believe this is being worked on here: #6922

[2017-06-01 11:43] SCiunczyk commented on #6925
Yes you right, I don't know how can I miss this.

[2017-06-01 11:43] #6925 closed, assigned to nobody

[2017-06-01 11:56] HenningJW commented on #6910
Not sure how I failed with edit4, but I bisected again and it was 0cbe448 that added 1606 bytes.

I hope a patch is fine, I also modified a line in the pins definition, to free up an io pin for a probe. It should be "git apply"-able.

[marlin112tomyprinter.txt](https://github.com/MarlinFirmware/Marlin/files/1044627/marlin112tomyprinter.txt)

[2017-06-01 12:47] oldmcg commented on #6924
If you have probe offset from nozzle, use this in your configuration.h if not already (all one line)

[code]

Also, if you have probe offset from nozzle, wait for pending change from @LVD-AC.

Then, if you use EEPROM after recompile/upload make sure to do M502, M500 so the new settings you compiled are used instead of what was previously saved in EEPROM.  This bites me regularly.

[2017-06-01 12:59] vMeph commented on #6722
now say error
dependencies
application needs GIT to be installed!

[2017-06-01 13:09] ts4s commented on #6722
on the the get hub page  there's a section titled "Installation prebuilt with Electron versions" and it has a sub section "Dependencies". there's a link to git. follow the link, download, and install it. everything should work once installed.

[2017-06-01 13:12] novio8 commented on #6924
thanx oldmcg,
I already find the same solution, a little more brutal: I'v just reduced calibr. ratius to 60
[code]
and now it seems to work, or I just don't get error message anymore
And I'm beaten every time I recompiling/uploading and forgetting that EEPROM holds
old memories
Regards
Mario

[2017-06-01 13:31] garaguido commented on #5437
I think I have a solution for my problem, I must set a G28 code in the front of my scriptfiles when I starting a print ,then  the nozzle hight is OK .
When I starting a print without the G28 in the front of the script the nozzle is starting 10mm too high.
Is this the normal procedure?

[2017-06-01 13:32] WheresWaldo commented on #6901
I am not sure why this was closed, somewhere in the discussion the actual problem got sidetracked and the solution is not apparent. At no time did I test with PROBE_MANUALLY. Forget everything written after the second response.

This is what causes the issue:
FIXED_MOUNTED_PROBE + MESH_BED_LEVELING + LCD_MENU_LEVELING
The result is the first error in the original post. If you remove LCD_MENU_LEVEL

[2017-06-01 13:44] Bob-the-Kuhn commented on #6920
Try this [file](https://www.dropbox.com/s/dx5juznyske5icx/pins_AZTEEG_X3_PRO.h?dl=0).  It only takes 44 for the case light if DOGLCD_A0 doesn't already have it.

I need to check the other pins_XXX.h files to see if there are any other similar oversights.

Could you point me to a date where Marlin didn't have this issue?  It sounds like this comes & goes.  I want to track down the changes & see whe

[2017-06-01 13:46] Fixx commented on #6901
@WheresWaldo BTW; LCD_BED_LEVELING, BILINEAR_LEVELING, PROBE_MANUALLY compiles fine for me.

[2017-06-01 14:04] WheresWaldo commented on #6901
@Fixx can you send me your Configuration.h so I can compare it to mine? Still though, I am trying to figure out how to duplicate the method of manually creating a mesh that worked just two weeks ago but doesn't work now.

[2017-06-01 14:19] mperdue commented on #6920
I've got some stuff printing right now but I'll give it a shot as soon as that's done. I'll also try to determine the last file that worked without changes for me.

[2017-06-01 14:31] ghost opened #6926 "G29 command and not printing bltouch"
I'm using simplyf3d I put g29 command for bl touch after g28 it did auto leveling but It didnt start printing and just print % got high and it showed print done. How can I fix this or what can be problem?

[2017-06-01 14:53] LVD-AC commented on #6924
That is why you can change this as well with e.g. `M665 B60`

[2017-06-01 14:59] LVD-AC commented on #6924
This issue can be closed!

[2017-06-01 15:28] ghost commented on #6926
but if i dont use g29 it starts

[2017-06-01 15:37] oldmcg opened #6927 "DELTA: Are workspace X/Y shift ever used (RAW_X != LOGICAL_X)?"
Looking for ways to avoid unnecessary delta kinematic calculations.

I know that Z_AXIS raw vs logical is used for home_offset, but are the X and Y workspace shifts EVER used for delta?  If not I can rearrange the RAW/LOGICAL macros for delta to skip any calculations for X/Y shifting and just leave it for Z.

Thoughts?

[2017-06-01 16:40] Ianmcmill commented on #6898
EEPROM is enabled.
EEPROM settings were saved. Surprisingly not forgotten before.
But I got the Z offset wrong. It is 0.6mm instead of 2.51mm. Now everything is fine.
Thank you.

[2017-06-01 17:19] #6924 closed, assigned to nobody

[2017-06-01 17:19] fred2088 commented on #6803
still got restart loop on 1284p with 1.1.2
if enabled both
#define sdsupport
#define U8GLIB_SSD1306
or
#define sdsupport
#define OLED_PANEL_TINYBOY2

[2017-06-01 17:24] Bob-the-Kuhn commented on #6920
I really need to get more sleep.

Please try these [files](https://www.dropbox.com/s/jyoyj98krkq5rou/pins_AZTEEG_X3_PRO.zip?dl=0).  They'll keep the pesky case light away unless it's enabled.

[2017-06-01 17:46] Roxy-3D commented on #6910
We probably should add controls to turn off all the LCD UBL Menus.   Most likely we can save 5KB (or more) doing that.   And we should also add other controls to turn of big hunks of the code.

It is on my "To Do" list....

[2017-06-01 17:51] Roxy-3D commented on #5437
Pretty much...   Every slicer will include default gcode at the front of the file.  And one of the very first things in that default gcode will be a G28.

[2017-06-01 17:58] Roxy-3D commented on #6901
@WheresWaldo    Did you notice the new option:
[code]
But independent of that @Tannoo  has all of the important UBL commands available from the LCD Panel now.  He is trying to get an interactive LCD Mesh Editor workings...  (Instead of moving the nozzle or specifying on the command line where to edit...  He is working to get that done entirely from the LCD Panel.)

And I'm working on the bug where

[2017-06-01 17:59] Roxy-3D commented on #6926
G29 does different things depending on which bed leveling system you are using.  In the UBL system, G29 (with no parameters) does nothing....   We need to know which system you are using.

[2017-06-01 18:06] Roxy-3D commented on #6927
I'm sure some people will disagree with this opinion.  (So... I'm interested in hearing the thinking...)  But for Delta's, does it even make sense to shift the work space?  The center of the bed is typically at (X,Y) = (0,0)    Why would a Delta user want to shift the coordinates?

Any way...  The reason I'm asking the question is for Delta's I'm all in favor of reducing any calculations that real

[2017-06-01 18:27] WheresWaldo commented on #6901
@Roxy-3D I saw that,
I think you can see where I am going with this. I can't rely on auto-generating the mesh. Robo was clever in what they wanted to do with auto-leveling, it is the implementation that is poor, As a result the probing method makes the entire middle of the bed unusable if you rely solely on auto-probing. Hence the double work. Allow a completely manual approach similar to the way

[2017-06-01 18:37] vMeph commented on #6722
@ts4s im not able to find the link could send link?

thanks

[2017-06-01 18:51] Roxy-3D commented on #6901
Actually...  You can do exactly what you want right now...
- Center the nozzle in the middle of the bed.   Or else use the X & Y Parameter on the next command.
- Do a G29 P1 U     That will probe the outside region of the bed and work towards the center of the bed.   Allow the probing to go as far as you think is OK and it is not causing deflections.
- Do a G29 T   to see the mesh map
- Move the n

[2017-06-01 19:10] Roxy-3D commented on #6917
@mcmatrix    I know the issue you are describing is real.   But I'm having trouble duplicating the failure.   Can you attach your Configuration.h (and Configuration_adv.h) files?  That would help me duplicate the failure!

[2017-06-01 19:12] WheresWaldo commented on #6901
@Roxy-3D I am not trying to be contrary but please don't overlook:

I select a menu choice, press the encode button, it moves to point one I turn the encoder, when I am happy with the feel on the feeler gauge I press the encoder again. It moves to the next point and the process starts all over again. I don't see how your sequence duplicates that. So to be precise, duplicate the user experience not

[2017-06-01 19:19] Roxy-3D commented on #6901
Well....   Any mesh bed leveling system needs a mesh.   I was trying to explain how to get one in a fairly quick way, make it perfect and save it for future use.   (while taking into account the flawed bed that can't be probed at its center)

If you want to probe every point manually...  You can do that today with UBL by doing a G29 I 999 and then do a G29 P2 R 999

But manual probing is so painfu

[2017-06-01 19:27] WheresWaldo commented on #6901
Yes I know manual probing is a pain, thank god you only do it once, Can I do exactly what you just said to do entirely on the LCD?

That is the whole issue with user experience. I have a controller and I want to use it, I shouldn't have to deal with any g-codes to make it work.

Please look at this from the perspective of a completely novice end user and not a programmer. I know it's your baby and

[2017-06-01 19:39] Roxy-3D commented on #6901
I have not used all of @Tannoo  's  LCD work for UBL.   But he did a pretty extensive command set.

In the build mesh menu...  One of the options is Fill-in Mesh.  It assumes you will be using a B-usiness card or shim under the nozzle.   You should be able to build the whole mesh that way if you want.
- Home  (G28)
- Invalidate entire mesh.
- Fill in entire mesh manually...

And the G26 Mesh Valid

[2017-06-01 19:46] WheresWaldo commented on #6901
@Roxy-3D Thank you for that simple explanation, that is something I can try and promote. I wasn't trying to be dense or difficult just wanted the machine to do work that it is capable of doing. I want the process to be idiot proof whether you can auto-generate or need to manually create everything. I will try this approach and see if it meets those needs. I have high hopes for UBL as I am certain

[2017-06-01 20:07] oldmcg commented on #6927
And a related question without opening new topic...

SOFTWARE_ENDSTOPS implementation makes no sense for deltas for X/Y axes -- it just constrains X and Y to MIN/MAX without regard for circular bed.  Yet this is enabled by default in delta sample configs.  I already added is_reachable checks to blocking_move_to and ubl delta line functions to reject out-of-printable-radius moves, regardless of SOF