[2021-02-16 19:06] Snargaloo commented on #21010
With new changes, still compiler error:  [Teminal Error (16-FEB-2021 11-04).log](https://github.com/MarlinFirmware/Marlin/files/5991072/Teminal.Error.16-FEB-2021.11-04.log)

[2021-02-16 19:09] X-Ryl669 commented on #21010
Another try:
[code]

[2021-02-16 19:10] X-Ryl669 commented on #21010
(BTW, it seem LPC176x is not respecting Arduino's Serial API interface here).

[2021-02-16 19:18] X-Ryl669 commented on #21010
Ok, I've found the reason why we get `ok N1013 P2 B32`. I don't know if it's related, it still does not explain why the printer is lagging behind.

[2021-02-16 19:26] Snargaloo commented on #21010
Tricky hardware (poorly implemented framework) pushes us to learn more.

This round compiled successfully.  Here is the firmware.elf:  [firmware.elf (e699f9c).zip](https://github.com/MarlinFirmware/Marlin/files/5991179/firmware.elf.e699f9c.zip)

I will proceed to flash this and test a print.

[2021-02-16 19:38] Snargaloo commented on #21010
After flashing this firmware and connecting from OctoPrint, I could see wait messages in the terminal right away.  I will report the results of the test print to follow.

[2021-02-16 20:12] Snargaloo commented on #21010
I ran the same Arc-welded g-code to commit [e699f9c](https://github.com/MarlinFirmware/Marlin/commit/e699f9cbf6a73cc8db9d40a44e44064890a6e233) with your patch applied for the total changes of:  [changes_for_e699f9c.zip](https://github.com/MarlinFirmware/Marlin/files/5991391/changes_for_e699f9c.zip)

The print failed with different behaviour.  The firmware seemed to recover from the mismatched g-co

[2021-02-16 20:20] Snargaloo commented on #21010
My question now is why is the printer asking the host to wait just after connection is established?  The buffer could not possibly be full (or half full as I understand it).

This made me think of something I read in the Configuration_adv.h file:
// Slow down the machine if the lookahead buffer is (by default) half full.
// Increase the slowdown divisor for larger buffer sizes.
#define SLOWDOWN
#i

[2021-02-16 22:17] borland1 opened #21108 "[BUG] LCD Menu Bed Leveling Z-Offset Adjustment is Too Fine"
### Bug Description
When configured for `Mesh Bed Leveling`, adjusting the `Z-Offset` using LCD menu with rotary encoder knob, the adjustment is too fine.  Adjustment is in displayed millimeters, but the **increment is in thousandth of a millimeter** ( 0.001 mm).

_Actual Behavior:_  Adjustment is in thousandths of a millimeter, which results in user having to unnecessarily rotate the rotary encod

[2021-02-16 22:18] borland1 opened #21109 "[BUG] Auto Fan Glitch Exists When Rotary Encoder Button Pushed"
### Bug Description
When the `Configuration_adv` file is setup for Auto Fan ( `E0_AUTO_FAN` ), when fan is operational due to extruder temperature being greater than `EXTRUDER_AUTO_FAN_TEMPERATURE` setting, there is a **glitch in fan operation when pressing the rotary encoder knob button.**

_Actual Behavior:_ The rotary encoder button press causes the fan to stop running momentarily, but the extr

[2021-02-16 22:32] ellensp commented on #21105
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-02-16 22:33] ellensp commented on #21106
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-02-16 22:35] ellensp commented on #21107
no even vaguely following template. Closing.

[2021-02-16 22:35] thinkyhead commented on #21109
Please enable `PINS_DEBUGGING` and post the output of `M43` as a new comment so we can see if there's some kind of pin coincidence. You can format it as plain text by putting three backticks before and after the text ` ``` ` on lines by themselves.

[2021-02-16 22:42] thinkyhead commented on #21107
The issue seems pretty obvious. The test is using `X_ENDSTOP` to check the triggered endstop. It is defined as:
[code]
But on an IDEX machine we check the X homing direction using `x_home_dir(active_extruder)`. So, for this broken endstop testing logic maybe this would work…
[code]
…but that's the general idea. I'll do some tests and post a PR to test shortly.

[2021-02-16 22:48] thinkyhead commented on #21107
Ok, once it is passing testing, please give the above-linked PR a try. So far it just applies the fix as described here.

[2021-02-16 23:16] LekeFly commented on #19072
Would love to see this function, right now i can't figure out how to set my Z-offset without it. It's in the - range.

[2021-02-16 23:22] ellensp commented on #21089
This has been merged.

[2021-02-16 23:22] #21089 closed, assigned to nobody

[2021-02-16 23:36] thisiskeithb commented on #21093
Closing since your PR was merged.

[2021-02-16 23:36] #21093 closed, assigned to nobody

[2021-02-16 23:49] borland1 commented on #21109
Here's the M43 response..

[code]

[2021-02-16 23:52] jasonmacdonald commented on #20922
Ok, more strangeness and I'm not sure if it's related. I ran `M48` multiple times in the back right corner, never changing anything or even touching the printer.

First-round it reported:
[code]

By the 6th round it reported:
[code]

A change of almost a full millimeter to the Mean and yet the standard deviation between rounds stayed more or less the same.

Here's the full log.
[code]

I have no i

[2021-02-17 02:25] #21090 closed, assigned to nobody

[2021-02-17 02:43] thinkyhead commented on #20652
After a quick review of the code, it appears that `TOOLCHANGE_FS_PRIME_FIRST_USED` is required or else `tool_change_prime` is never called. I'm not sure if that is the behavior that everyone wants, but give it a try.

[2021-02-17 02:59] kpishere opened #21112 "[BUG] LCD AZSMZ 12864 display freezes when SD card is present"
### Bug Description

With a 1GB SD card that is formatted FAT16 (Also tried a 128GB card that is formatted FAT32, same) the Mega 2560 controller remains responsive on the USB connection to the computer but the screen freezes.  This happens from info screen, boot screen, or menu screen.

### Configuration Files

[Archive.zip](https://github.com/MarlinFirmware/Marlin/files/5992913/Archive.zip)

###

[2021-02-17 03:20] thinkyhead commented on #20764
I've created a PR based on recommended changes by @svsergo. Assuming the proposed changes here worked well, the linked PR should also get things working.

[2021-02-17 03:20] #20764 closed, assigned to nobody

[2021-02-17 05:26] sarvenn commented on #21017
Oh sorry. I would try to configure a new firmware and try it. It sounds like a serious bug.

[2021-02-17 06:59] X-Ryl669 commented on #21010
The size of the lookahead buffer is in each answer of the printer, when it says "ok Nxxx P62 B31", the B31 parts means : "I've 31 free position in the buffer (out of 32, since that's what you've specified in BUF_SIZE)".
The printer sends a wait each time it's done processing a line and the last line was more than 1s apart (that's NO_TIMEOUTS). If you look carefully at the timestamps, it's perfectl

[2021-02-17 07:28] DrumClock commented on #21107
Hi, yes it's okay now. Thank you very much @thinkyhead .
That's the way it should be, quickly and correctly.

Some users accuse me of coming up with something that Marlin is not ready for.

Isn't that called development and progress?

Marlin does not have 1000 functions that do not work but 100 that work perfectly.

I have offered FW testing several times but no one is interested in it .... so why

[2021-02-17 07:33] xcasxcursex commented on #19072
Look at the GCode above

[2021-02-17 07:49] galluccib commented on #21084
Running into this issue as well after flash 2/14 bugfix... configs attached..
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/5994043/Configuration.zip)

[2021-02-17 07:51] galluccib commented on #21084
Auto Home works (G28) but when I using bed visualizer it starts but the probe doesn't come down..  It's pretty much doing the same (G28 then G29)

[2021-02-17 09:03] ghost opened #21116 "Cannot home on bed Ender 5 & SKR1.4 Turbo & TMC2209"
# NO SUPPORT REQUESTS PLEASE

Do you want to ask a question? Are you looking for support? Please don't post here. Support Requests posted here will be automatically closed!

Instead use one of the following options:

- The Marlin Firmware forum at https://reprap.org/forum/list.php?415
- The MarlinFirmware Facebook Group at https://www.facebook.com/groups/1049718498464482/
- The MarlinFirmware Disc

[2021-02-17 09:04] #21116 closed, assigned to nobody

[2021-02-17 11:07] leonhma opened #21117 "[BUG] wrong fan pins on trigorilla_pro"
### Bug Description

When flashing marlin on trigorilla_pro the fans don't work.

### Configuration Files

in src/pins/stm32f1/TRIGORILLA_PRO.h:
#define CONTROLLER_FAN_PIN                  PD6   // FAN
#define E1_AUTO_FAN_PIN                    PG13  // FAN
#define FAN_PIN                            PG14  // FAN

controller fan works but the other two don't

### Steps to Reproduce

flash marlin on

[2021-02-17 11:17] ellensp commented on #21117
https://3dtoday.ru/upload/posts/main/2LI2fzZsxfpcdeQ3dZ7Py77CStU6h9MBCj1ANTXM.jpeg

PG13 // FAN
PG14 // FAN

Are correct as far as we know.

[2021-02-17 13:26] LemmeDasker opened #21118 "[FR] Z Safe Homing – option to end Z homing with XY homing as well"
### Description

Most of the time I use the Slicers GUI to control my printer. And quite often I use the ‘Home all’ button on the GUI. Basically, I use it to ‘park’ the nozzle even though it is not intended for that purpose. But it is very easy and convenient way to do it.

That has changed with Z Safe Homing. With Z Safe Homing enabled, the probe ends up in the middle of the plate, and just stand

[2021-02-17 13:41] NastyEwok commented on #20614
I seem to be experiencing similar issues.

Ill get some data together and post it

[2021-02-17 13:52] leonhma commented on #21117
I have Just measured the resistance between pg13, pg14 and the mosfets. They seem to be the right Pins... Could the mosfets be broken, even though they don't Show any burning, etc. ?

[2021-02-17 14:08] X-Ryl669 commented on #21104
Ok, I conclude that the old code misbehaved. I've found many subtle bugs in the queue code, so I'll close this one and open another issue.

[2021-02-17 15:10] X-Ryl669 opened #21119 "[BUG] Multiple bugs in the queue code (meta-bug)"
### Bug Description

While trying to solve #21010, I've focused on the queue code and I've found many bugs for borderline cases.
Here are the descriptions of those and the proposed solution.

#### 1. Command queue buffer overflow
Here's the troublesome code in queue.cpp (I've skipped part we don't care about, to understand the bug):
[code]
In the bug report, the user is using MultiSerial, so NUM_S

[2021-02-17 15:34] dceddia commented on #20922
I'm having a similar problem on my FolgerTech i3 2020. (posted about it on reddit as well [here](https://old.reddit.com/r/FixMyPrint/comments/ldh3ik/bltouch_bed_is_out_of_level_but_manual_bed_level/)).

I'll run the diagnostics mentioned above and report back.

In the meantime, has anyone tried the manual mesh leveling, with the `MESH_BED_LEVELING` option and a slip of paper?

On my printer, a man

[2021-02-17 15:48] leonhma commented on #21117
Okay im closing this and looking for Support on dc. The Pins are indeed correct and the e0 auto Fan wasn't working because i defined E1_AUTO_FAN. The Part cooling Fan still isn't controllable but i think it rather is a technical/wiring fault.

[2021-02-17 15:48] #21117 closed, assigned to nobody

[2021-02-17 15:53] rhapsodyv commented on #21104
Did #21010 happens before the serial refactoring (pr: #20783)?

[2021-02-17 15:54] rhapsodyv commented on #21010
Did you test it before the serial code refactoring, before this the pr: #20783?

[2021-02-17 15:58] X-Ryl669 commented on #21104
No, or not that I'm aware of. The serial refactoring is the reason for another issue (I'm currently correcting) but it's not related this. This "wait" difference probably happened somewhere else. I can't bisect because I don't have the printer to test upon. I've opened #21119 for all the bugs I've found so far in the queue code. If you want to have a look and confirm, please do.

[2021-02-17 16:03] rhapsodyv commented on #21104
I point is: SKR turbo is a pretty common board, maybe the most common LPC board out there, so it's unlike that the cause of that issue is something old. I'm not saying that it cannot be. It really can. But is more likely that some recent change broken some old behaviour. Maybe it is not even related with the serial changes, but another recent one.
It would be good to try some old versions to have

[2021-02-17 16:04] X-Ryl669 commented on #21010
@rhapsodyv Yes, he tested it and it was working. There's a serial dump of the 2 cases (after refactoring and before refactoring).
I think I've found the issue, and it's specific to LPC1769 not respecting Arduino's Serial interface, so the HardwareSerial::available and HardwareSerial::read were not working as expected. I'm currently preparing a PR to solve this. Yet, the current code put the focus

[2021-02-17 16:07] rhapsodyv commented on #21010
@X-Ryl669 you can send a PR to the LPC framework. The author is @p3p. He is a Marlin maintainer too. In fact, that lpc framework was made for marlin usage!! Repo: https://github.com/p3p/pio-framework-arduino-lpc176x

[2021-02-17 16:15] X-Ryl669 commented on #21010
Not sure he'll accept a patch changing the interface of `HardwareSerial`, as it'd break all users of his framework. In Arduino, `Serial::available` returns an int (and so does `read`). But in LPC's framework, it returns a size_t (respectively int16_t). The issue is with the overload I'm using, since the signature is not matching 1:1, the HardwareSerial method is not used and the default wrapper is

[2021-02-17 16:46] Snargaloo commented on #21010
The README.md at the repo link [https://github.com/p3p/pio-framework-arduino-lpc176x](https://github.com/p3p/pio-framework-arduino-lpc176x) says it is only used by Marlin Firmware.

[2021-02-17 16:58] Snargaloo commented on #21104
It seems the bug only gets out of control when an internal serial port of SKR 1.4 turbo (such as tft) is used for communication instead of USB port.

[2021-02-17 17:25] Snargaloo commented on #21010
Thank you for the explanation of the look ahead buffers.  My understanding now is before the serial refactoring, for multiple serial ports the firmware only processed a single command from the buffer and then requested another line.  This effectively renders the purpose of the buffer useless (an existing bug not directly related to this issue).  The LPC176X framework is not following Arduino speci

[2021-02-17 17:37] X-Ryl669 commented on #21010
@Snargaloo Can you try #21122 and report if it works for you ?

I've modified the behavior of the serial code to adapt LPC1768 specialties, and I've reworked the queue code so it should resume on error, instead of giving up immediately.

Please send me your firmware.elf file so I can check the build again. Thanks!

[2021-02-17 17:39] X-Ryl669 commented on #21104
Do you want me to reopen this issue ?

[2021-02-17 17:43] X-Ryl669 commented on #21104
@rhapsodyv : I don't think it's an issue. As far as I know, Octoprint completely ignore the "wait" message so this "bug" could have been present for month/years and nobody cared about it. I don't know of other host software acting differently, so if you do, please tell me so I can test their behavior w.r.t. wait messages.

In all cases, now I'm 100% sure the wait message are generated when the pri

[2021-02-17 17:54] Snargaloo commented on #21010
On it now.

[2021-02-17 18:26] Snargaloo commented on #21010
I apologize for the delay.  I did not have github extensions installed on this system.  The compilation threw some errors, this is the log from terminal:  [Terminal Error (17-FEB-2021 10_23).zip](https://github.com/MarlinFirmware/Marlin/files/5997774/Terminal.Error.17-FEB-2021.10_23.zip)

[2021-02-17 18:31] X-Ryl669 commented on #21010
Can you disable MEATPACK temporary ? I need to think about it. Thanks!

[2021-02-17 18:33] Snargaloo commented on #21010
Not a problem, as it seems it doesn't work with multi-serial on LPC176X platform as well.

[2021-02-17 18:43] Snargaloo commented on #21010
Here is the firmware.elf file:  [firmware.elf for pr_X-Ryl669_21122.zip](https://github.com/MarlinFirmware/Marlin/files/5997860/firmware.elf.for.pr_X-Ryl669_21122.zip)

[2021-02-17 18:45] Arogen commented on #21106
The issue exists in the bugfix branch as well.

[2021-02-17 18:49] X-Ryl669 commented on #21010
It seems all good. Let's hope it's working!

[2021-02-17 18:49] ManuelMcLure commented on #20922
With a dual linear rod design like your FolgerTech it's very easy for the X axis to be twisted unless the rods are exactly parallel. Unless your Y probe offset is 0, this has the effect of causing the Z probe offset to vary depending on the X coordinate, resulting in a mesh that is higher on one side than the other. This is a mechanical issue. Even 0.5mm difference between the positions of the rod

[2021-02-17 19:00] dceddia commented on #20922
Thanks for this suggestion, I'll see what I can do about measuring that! Makes a lot of sense that the nozzle itself would be fine in that case.

I remeasured my probe Y offset as part of the troubleshooting and it was 1.1mm, so I might also try printing a new mount to get that centered too.

[2021-02-17 19:06] ManuelMcLure commented on #20922
With a 1.1mm probe offset the effect of the twist will not be very big. The X offset also affects things but to a much lesser extent. So this may not be due to a twisted X axis.

[2021-02-17 19:08] Snargaloo commented on #21010
When I originally set up this SKR 1.4 Turbo, I was using USB for communication with RPi4, TFT-35 on SERIAL_0, and a ESP32 WIFI module on SERIAL_1.  I was expecting that a print initiated through USB could be monitored by both the TFT and the ESP32.  If I wanted to abort print through TFT or ESP32, the firmware would process that command.  It turned out that Marlin could only handle serial through

[2021-02-17 19:21] Snargaloo commented on #21010
The test print failed.  The printer stopped printing with an error message on TFT about line number mismatch.  OctoPrint continued to feed new lines of g-code.  I attempted to cancel the print, I didn't see the printer respond to the cancel command, so I cycled power on the printer.

I used PR#[2112](https://github.com/MarlinFirmware/Marlin/pull/21122) with the following changes:  [changes_for_pr_

[2021-02-17 19:54] xeddog commented on #21118
What about just adding a "Park Nozzle" to the motion menu.  Then you could define where exactly you want to park it via the Nozzle Park feature in configuration.h
You could also define a custom user menu item for it.  It's just a G27 command.

[2021-02-17 19:58] ManuelMcLure commented on #21118
`G27` requires `NOZZLE_PARK_FEATURE` to be enabled. On boards with small amounts of flash it may be impossible to enable that option.

However, the custom menu item is an interesting option:
[code]

[2021-02-17 20:07] xeddog commented on #21108
It sounds like you are using babystepping, and there is a  babystep multiplicator (or something like that) value that you can tweak.  I have three printers, and on two of them the babystep increment is .025, and the third is .012.  I also seem to remember that there is a value in the LCD definitions, but it escapes me at the moment.

[2021-02-17 20:16] X-Ryl669 commented on #21010
Ok, so the good news is that there is no more the bad ok sent.
The wait timeout is too short, you should increase the NO_TIMEOUTS define to 1500 or 2000
The bad news are:
1. The serial buffer is still not used (only one is used instead of 32)
2. Once the printer fails it does not recover anymore. It's still sending wait messages, but it's not accepting any other message.

Right now, it'll be quite

[2021-02-17 20:21] Snargaloo commented on #21010
I have an ST-Link/V2.

I will try to increase NO_TIMEOUTS to 2000.

[2021-02-17 20:31] Snargaloo commented on #21010
Perhaps coded as intended, I was browsing through the code of [https://github.com/p3p/pio-framework-arduino-lpc176x](https://github.com/p3p/pio-framework-arduino-lpc176x) and I found something that makes no sense.

The files HardwareSerial0.cpp, HardwareSerial2.cpp, and HardwareSerial3.cpp follow the same structure of:

HardwareSerial0.cpp:
HardwareSerial<> Serial = HardwareSerial<>(LPC_UART0);
ex

[2021-02-17 20:52] LemmeDasker commented on #21118
If the custom menu requires an external LCD display, then it will not work as I intend.
I want it to work with different slicers GUI like Cura, Simplify3D etc. And then the change must be part of the G28 rutine itself.
Unless I am wrong in my assumption.

[2021-02-17 21:00] borland1 commented on #21108
Thanks for the help.  No, I have not enabled `BABYSTEPPING` in Configuration_adv.h.  My configuration is for Manual Mesh Med Leveling.

This `BUG` report is an issue with standard stepping, being a nuisance because the adjustment is too fine and since there is no available Z-Offset increment multiplier in the bed mesh leveling configuration.  The user is required to rotate encoder knob many times

[2021-02-17 21:14] ManuelMcLure commented on #21108
I just checked on my printer and my Z offset adjusts in 0.01mm increments. I'm using the following configuration on a Re-ARM/RAMPS combination with a RepRapDiscount Full Graphics display:
https://github.com/ManuelMcLure/Marlin/commit/edc1a7819d444fc45b59d588aaca27a15af02f57

It looks like what determines whether you get 2 or 3 digits past the decimal is the setting for `Z_PROBE_OFFSET_RANGE_MIN` a

[2021-02-17 21:23] qwewer0 commented on #21118
Pronterface allows to add custom buttons, such as `G28 XY`, if you only want X and Y to home.

[2021-02-17 21:39] borland1 commented on #21108
That's interesting, but My configuration uses the default values:
[code]
which are greater than "9 or less". Your configuration file only specifies:

`#define Z_PROBE_OFFSET_RANGE_MAX 20`

[2021-02-17 21:40] LemmeDasker commented on #21118
I am sure that there are host software out there where buttons can be custom configured.

However - it is my opinion that this feature should be host agnostic. Whatever host software or LCD display you use, or if you just enter G28 on the command line, the option should be avaliable for you.

That is why I think the change has to be part of the G28 rutine itself. I can not see how it otherwise wou

[2021-02-17 21:54] ManuelMcLure commented on #21108
Ah... the code I was referring to only works if you have a bed probe. You're doing manual leveling, and there it's hard coded to be N.NNN format:
[code]

[2021-02-17 22:05] X-Ryl669 commented on #21010
Indeed. I'll update the PR tomorrow morning (for me), I'll dump to the serial port everything that's received and the buffer status. I hope it'll be enough to understand what's going on.

For debugging, if you know how to do it, you should put a breakpoint on `GCodeQueue::flush_and_request_resend` and attempt to print again. Once it's called, follow what the printer is doing when it's done returni

[2021-02-17 22:26] borland1 commented on #21108
Thanks,   then, it looks to me like this might be a fix, in file menu_bed_leveling.cpp..   But not clear to others editing the config file just why it might work?

[code]

[2021-02-17 23:26] ManuelMcLure commented on #21108
No - the important bit is the `float43` - that's "4 digit float, 3 of which are to the right of the decimal". Changing that to `float42_52` will change it to use 0.01mm precision, I think.

[2021-02-18 00:05] borland1 commented on #21108
OK, maybe something like this then ...

in file `configuration.h`
[code]
in file `menu_bed_leveling.cpp`
[code]

[2021-02-18 00:07] p3p commented on #21010
I specifically wrote the lpc176x framework for Marlin it is not a general Arduino framework, if incompatibilities have come to light because of a change to Marlin and they are because of non standard Arduino API behaviour, then feel free to submit an issue or a PR on the frameworks git repository.

[2021-02-18 01:26] Arogen opened #21637 "[BUG] Bed Leveling Z-axis of evil"
I've been finding a lot of inconstancy with the Z-axis in trying to set my BLTouch.  For example I use babysteps to find a value for the probe offset Z value that works, and right away trying to use it again on the same gcode it is printing up in the air again.

[Marlin_bug.zip](https://github.com/MarlinFirmware/Configurations/files/5999580/Marlin_bug.zip)

### Steps to Reproduce
Here is a specifi

[2021-02-18 04:07] borland1 commented on #21108
OK, that seems to work fine.

How about the adding of a multiplier in file `Configuration.h`?  Such as here..

[code]
then, where to reconfigure the incremental value???
[code]

[2021-02-18 06:38] Snargaloo commented on #21010
Okay, I have some results from testing with different values for NO_TIMEOUTS.  When NO_TIMEOUTS is set to 2 seconds, the print fails.  However, it gets much farther then when NO_TIMEOUTS was set to 1 second.

So I set NO_TIMEOUTS to 3 seconds.  This time the print succeeds.  Examining the log, I still see the printer lagging behind the host considerably.

I then set NO_TIMEOUTS to 4 seconds.  At 4

[2021-02-18 06:39] Snargaloo commented on #21010
Tomorrow, I will setup the ST-Link/V2 and attempt some debugging of the serial interface.

[2021-02-18 07:24] #6001 closed, assigned to thinkyhead

[2021-02-18 07:24] leonhma commented on #21117
The problem turned out to be a weird fan, that doesn't like pwm. Had to use software pwm for a lower frequency.

[2021-02-18 09:32] hamster65 commented on #20922
I have seen this problem with levelling on my printer for some time. I think I have ruled out mechanical issues. There were a few issues on github but all were closed because it could not be reproduced or mechanical issues were found. I switched from bilinear to linear levelling and had far better results with that but still it seems off.

I have yet to try manual mesh levelling. From what I read

[2021-02-18 09:58] X-Ryl669 commented on #21010
Ok. This is both a good news for you and a bad news for me. I don't understand why it makes a difference. From the printer point of view, wait message are stateless. There is no change in behavior whether wait message are generated or not.

So, this means that Octoprint behave differently when it's receiving wait messages (I was wrong then, as I tought it completely ignored it). That's probably th

[2021-02-18 10:14] X-Ryl669 commented on #21010
@p3p Thanks for the offer. I'm declining this (for now) and instead made my code more robust to varying interface. Because even if I update your code to match Arduino's Serial interface 1:1, there is no guarantee that in the future another Arduino based platform will not do the same. So, better safe than sorry here, and I'm calling the method from *whatever* frameword and casting the result to wha

[2021-02-18 10:18] X-Ryl669 commented on #21104
It seems that the wait messages are not ignored by Octoprint finally, see [here](https://github.com/MarlinFirmware/Marlin/issues/21010#issuecomment-781095435). So this issue is still relevant. If any of you have an idea why wait message were not generated, I'm all for it.

[2021-02-18 10:24] tayloss commented on #20922
I have come across this bug as I was going mad thinking there is something wrong with my machine! I have levelled the bed and used the Z probe offset to ensure its correct, but cannot print the test pattern on my Ender 5 Pro, Creality v4.2.7 board for the life of me! Changing the build surface to a PEI sheet made no change.. I have used octoprint bed visualiser to ensure the bed is level and its f

[2021-02-18 10:48] kevinpawsey commented on #20706
I had this similar issue, it wasn't 'live' stepping... I had to set **BABYSTEP_WITHOUT_HOMING** and **BABYSTEP_ALWAYS_AVAILABLE** to get it to work.

One thing that I am finding is that I can't do the double-click to get to the Z-Offset adjustment menu quickly (at the moment I am just living with it... although would be nice to have it back).  If I try and enable **DOUBLECLICK_FOR_Z_BABYSTEPPING**

[2021-02-18 10:54] tayloss commented on #20922
Just to add, has anyone enabled G26 to see if the test pattern works? I see it seems to need to be enabled in the configuration.h, and you can issue a G26 command for the pattern to print?

[2021-02-18 11:37] abbrowna commented on #21017
so I just configured the main marlin branch 2.0.x (2.0.7.2 ) for the
printer porting over my configurations to the older version with the help
of winmerge. The problem still occurs.

On Wed, Feb 17, 2021 at 8:26 AM sarvenn <notifications@github.com> wrote:

[2021-02-18 12:25] qwewer0 commented on #21017
@abbrowna Try the latest bugfix-2.0.x

[2021-02-18 12:47] Steve021171 commented on #21105
Tried with the Bugfix version on my X1, and somebody else from my Facebook group on his Genius. Still same thing.
Looks like it is not saving the offset correctly if I change it with babysteps, because if I leave the menu and go back in it shows the old value, not the changed one. But I can see the Z-axis moving if I push the buttons.

Next time when I start another print the nozzle is way to high

[2021-02-18 12:53] pokornass opened #21123 "TMC Question"
I want to ask you guys, Iam starting printer owner and iam gonna to ask you if I need any stepper driver for Bigtreetech skr E3-dip or if is any driver integrated or something like that ?

Thank you so much for any answer to help me.

[2021-02-18 14:00] abbrowna commented on #21017
@qwewer0  Okay, so I've just flashed bugfix at a4c7386 and copied over the [same configuration](https://github.com/MarlinFirmware/Marlin/files/5938352/Configuration.zip) of the original issue report. Still the problem persists

[2021-02-18 14:40] MohanMaker commented on #21123
If you purchase the "dip" version you need to buy external stepper drivers to plug in (I recommend TMC 2209's). If you buy the non dip version, the drivers are already integrated into the board.

[2021-02-18 15:25] pokornass commented on #21123
so how many stepper drivers type TMC2208 do I need?

[2021-02-18 15:33] thisiskeithb commented on #21084
If you disable `BLTOUCH_HS_MODE`, does it work as expected?

Whenever there are homing or leveling issues, we now ask everyone to follow a standard procedure to gather more information:

- Download Marlin [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code.
- Enable `DEBUG_LEVELING_FEATURE` and `M114_DETAIL` and re-flash the firmware.
-

[2021-02-18 15:48] X-Ryl669 commented on #21010
@Snargaloo I've updated the PR #21119 with more debug. Can you pull it and build it with NO_TIMEOUTS set back to 1000 (so it's expected to fail), then launch a print test and capture the serial log ?

Also, please send me the firmware.elf file again. Thanks!

[2021-02-18 16:01] DistortedDesigns commented on #21105
I am having issues with baby stepping. You set your negative value and the next time you home it adds the negative value to your Z height. Basically you home with bl touch. Your Z0 is 2mm off the bed. You babystep down -2mm. Save settings m500. Print something, it homes, and it is 4mm off the bed now. I still have z height adjustment as well but it won't go below 0 now. I am running bugfix from 2

[2021-02-18 16:20] tayloss commented on #20922
![image](https://user-images.githubusercontent.com/79254672/108386917-03421f00-7205-11eb-84cf-9537c579f98a.jpeg)

BL Touch auto bed levelling
![image](https://user-images.githubusercontent.com/79254672/108387090-2bca1900-7205-11eb-9989-e848d656d08b.jpeg)
Manually levelling bed

[2021-02-18 17:08] jasonmacdonald commented on #20922
@tayloss Out of curiosity, are you using the full 5 pin connector on the 4.2.7 board or the z-stop pin? I'm using the full 5 pins on the BLTouch input, but I'm going to try switching to the z-stop once my JST connectors arrive tomorrow. Maybe that will make a difference?

[2021-02-18 17:21] tayloss commented on #20922
Yes, it's the full 5 pin connector as it was the Creality kit with the correct cable supplied.. I wonder if the pins are mapped incorrect for some reason, but the grid is clearly being created and saved as I can see it in octoprint and when entering M503.

There is something not right, as I can almost print with manually levelling, but I have a dip in the middle I cannot seem to get rid of even wi

[2021-02-18 17:30] thisiskeithb commented on #21123
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-18 17:30] #21123 closed, assigned to nobody

[2021-02-18 17:44] dceddia commented on #20922
@tayloss Could you (or have you already) tried using more probing spots with the manual mesh leveling? I think this is the line to look for in Configuration.h:

`#define GRID_MAX_POINTS_X 3    // Don't use more than 7 points per axis, implementation limited.`

It's inside the `#elif ENABLED(MESH_BED_LEVELING)` block, around line 1339 for me.

Maybe change that number to 7, spend forever with a pie

[2021-02-18 17:51] CJfoks commented on #21078
Also this problem exist during a printing, any changes in Z offset is ignored until next homing.

[2021-02-18 18:17] hamster65 commented on #20922
Number of points makes no difference for me, I already tried that (3x3 and 7x7).

[2021-02-18 18:20] rechena commented on #20922
I'm using the 2 pins for power on the Z and the 3 other pins on the 5 pin connector and have the same problem :(

[2021-02-18 18:22] tayloss commented on #20922
Same here.. manual mesh bed levelling "seems" to have the same bug and is linked.. I know the middle is level and the points around the dip and I still get the print extruding mid-air...

I have lost faith in the bed levelling as of now... other people are reporting successful prints, but using the Creality download, so may try that to see if it's working correctly...

Has anyone tested the main b

[2021-02-18 18:24] rechena commented on #20922
If you do this test do you mind letting me know? The reason I compiled Marlin was because the Creality one didnt came with the M600 enabled, but I rather have proper bed leveling.. Thanks

[2021-02-18 18:56] Snargaloo commented on #21010
I think you meant PR [#21122](https://github.com/MarlinFirmware/Marlin/pull/21122/commits/9f9b82ee6d40fa6958bcee01cfd47c400f84d059).  I compiled this with the following changes:  [changes_for_pr_X-Ryl669_21122_9f9b82e.zip](https://github.com/MarlinFirmware/Marlin/files/6004806/changes_for_pr_X-Ryl669_21122_9f9b82e.zip)

This is firmware.elf:  [firmware.elf for pr_X-Ryl669_21122_9f9b82e.zip.zip](ht

[2021-02-18 19:07] strayr commented on #21078
I can't set a negative Z-offset on 2.0.7.2, the Z offset Wizard just won't do it and everywhere else the number goes in but the head doesn't move. So can confirm is happening for me on latest release, will try to compile against bugfix and see what goes wrong.

I don't have the configs for stock ender and I'm running a CR10 screen on a 4.2.2 board amongst other things so pre-compiled doesn't help

[2021-02-18 19:11] strayr commented on #21105
I think this regression is in 2.0.7, seem to have 2.0.6.1-bugfix working well and 2.0.7.2 release the Z 0ffsets and Z-offset wizard are confusitngly broken to the point where i'm doubting my own sanity

[2021-02-18 19:20] strayr commented on #21108
in config_adv.h as of CONFIGURATION_ADV_H_VERSION 020007 maybe earlier

//#define BABYSTEP_MILLIMETER_UNITS       // Specify BABYSTEP_MULTIPLICATOR_(XY|Z) in mm instead of micro-steps
  #define BABYSTEP_MULTIPLICATOR_Z  1

  gives me 1 step of the Z stepper per nudge, becasue multiplicator is in STEPS not MM and i have 0.025mm steps which is 1/4 to 1/8 of a layer height.

  If that comment goes aw

[2021-02-18 19:44] X-Ryl669 commented on #21010
Ok, I've broken everything... 😢

[2021-02-18 20:25] Seelenkind commented on #20993
Haven't tried it yet, but it really is because I have to use the BugFix version.

sanırım 2.0.x BugFix kullanılmalı . Her neyse 2.0.7.2 sorunu olmalı . BL Touch taktım şimdi , zaten G-Code kullanıyorum elden Level yapmak için

[2021-02-18 20:52] Snargaloo commented on #21010
I keep reading through various pieces of code hoping these Marlin naming conventions will eventually make some sense to me.  I was just reading through queue.cpp and the description for ADVANCED_OK states the firmware will send the line number of processed command, the remaining space of planner buffer P, and the remaining space of block queue buffer B.  I have planner buffer set to 64 and block q

[2021-02-18 21:49] X-Ryl669 commented on #21010
Nope, that's correct. This variable stores the port used for each command received so that Marlin is answering on this port only. You must have as many port as there are serial buffers (BUFSIZE).

You're right that all buffers here are not using in your logs, and that's something I can't check without a debugger. My current hypothesis is that Octoprint is not sending more than one command "per rou

[2021-02-18 22:26] cad435 opened #21125 "[BUG] (IDEX) Tool Switch with applied Z-offset changes second Z-Layer height"
Firmware: Latest Bugfix 2.0

### Bug Description
First, relevant config setting:
          #define HOTEND_OFFSET_Z { 0.00, -0.50 }
          #define DEFAULT_DUAL_X_CARRIAGE_MODE DXC_FULL_CONTROL_MODE (did NOT change via slicer)

First Tool starts first layer with correct layer height
--> Toolswitch
Second tool starts its first layer with correct layer heigt (Z-Offset applied correctly!)
Second too

[2021-02-18 23:35] cad435 commented on #21125
I switched to DXC_AUTO_PARK_MODE now, and it seems to not have this problem...

[2021-02-19 00:05] Snargaloo commented on #21010
I have the parts for the ST-Link to SWD harness laid out.  I will put it together tomorrow and proceed to investigate these unknowns.

[2021-02-19 03:07] kpishere commented on #21112
Ah, OK, I have a fix for this issue.  It is specific to users of SMART RAMPS board with a MEGA 2560.  In the case of a SMART RAMPS board, pre-compiler directives were such that SPI was forced to be software emulated -- this was intended for the DUE.  However, for the MAGA 2560, there is hardware SPI support on the same pins configured.  Hence, adjust switches to allow use of hardware SPI for this

[2021-02-19 09:01] trengtor opened #21129 "[BUG] Incorrect behavior of CASE_LIGHT_ENABLE on SKR mini E3 V1.2, pin PA1 (SERVOS)"
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/6008728/Configuration.zip)
![123](https://user-images.githubusercontent.com/16775489/108481958-e4499880-72a9-11eb-86c8-d32c45d6e58a.png)

### Bug Description

When you change the brightness setting, the brightness of the LED backlight itself does not change. It turns off when set to 0% and turns on at full brightness at 1%. An osci

[2021-02-19 09:28] thisiskeithb commented on #21129
Please download [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code and let us know if you're still having this issue.

[2021-02-19 09:34] trengtor commented on #21129
Ok

[2021-02-19 10:05] PD5DJ opened #21130 "[FR] Seperate bed dimension for autoleveling with offset probes (or is there already?)"
### Description

I have an Ender 3 v2, with a BLTouch probe, works fine but can always be better.
The probe is offset about 40mm to the left.

`#define X_BED_SIZE 220` is limiting the travel when doing a level procedure.
The probe can not fully use the whole bed to probe properly.
It is limited to the max travel of the nozzle not probe.
I can trick this by allowing the travel after homing by addin

[2021-02-19 10:59] thisiskeithb commented on #21130
This can already be achieved with `X_MIN_POS`/`X_MAX_POS` & `Y_MIN_POS`/`Y_MAX_POS`.

<hr>

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best res

[2021-02-19 10:59] #21130 closed, assigned to nobody

[2021-02-19 11:04] Hobby4life commented on #21130
I dont know why you have closed this so quickly?

But it doesnt answer my question.

Homing center totally behaves different the the center of the autolevel probe pattern.

[2021-02-19 11:31] qwewer0 commented on #21130
@Hobby4life
The X and Y_BED_SIZE isn't limiting the travel area, it is only the XYZ min and max position.
If your printer can move beyond the bed area, then set it so, that is what XY min and max position is for.

If you are afraid of printing outside of the bed area, then set the bed size correctly in the slicer and it won't print outside.

[2021-02-19 11:44] Hobby4life commented on #21130
Thats exactly what I am doing now.. but a proper way would be that the user never manually or if invalid bed dimensions are set in a slicer that can exceed the physical bed dimensions.. only probing may do that.

Thats where I was pointing at.

[2021-02-19 12:06] minusplusminus opened #21131 "[FR] Homing on custom axis"
Hi everyone,

We have an experimental setup where we use homing on X,Y,Z and have a extra axis put on E. We where wondering if it's possible to do homing on E  by adding endstop. If this is not possible, we would like to know how we can use gcodes to do homing outide Marlin.

The second option would something like this:

- use position change G0 to move E from minimum to maximum.
- if enstop is tr

[2021-02-19 15:01] GMagician commented on #21131
You may try #19112

[2021-02-19 17:11] Snargaloo commented on #21010
I notice in Marlin there is no SERIAL_PORT_3 implemented.  There are three serial ports on the SKR 1.4/TURBO.  In my opinion, the serial code in Marlin should poll all serial ports with an active connection and feed commands from the various connection buffers to the command buffer.  Any output or response from Marlin should echo across all active connections.  I know this works. In the late 1980s

[2021-02-19 17:22] jasonmacdonald commented on #20922
I haven't looked deeply at UBL, is there a large difference between that and using the BLTouch settings?

[2021-02-19 17:24] X-Ryl669 commented on #21010
Actually, it's very simple to replicate all outputs on all serial port. You need to declare the `MultiSerial` according to your machine setup. In you case, it'd be something like this (pseudo code), in serial.h and serial.cpp:
[code]
This ugly monster is just composing a serial class that's redirecting everything to 2 composed serial class, one doing USB + UART0, the other doing UART1 + UART3. You

[2021-02-19 18:10] Snargaloo commented on #21010
Isn't this what the variant type class is for?  The core code could cast the types as a variant called serial for example.

This was a programming limitation that was very common when programming in B.  In Pascal, the issue would appear as the inability to pass strings to procedures.  Since the procedure call could not allocate a proper amount of memory for the argument at compile time since the l

[2021-02-19 18:11] X-Ryl669 commented on #21010
I think you had MeatPack enabled in your last test. That's probably why it did not work. Can you re-build again without meatpack ?

[2021-02-19 18:14] Snargaloo commented on #21010
Oops.  Okay, I'll do this now.

[2021-02-19 18:40] Msaza1 commented on #20990
(https://www.msaza.com)

[2021-02-19 18:41] Msaza1 commented on #20990
``gcloud sql connect InstanceIdHere \
    --user=root

[2021-02-19 19:31] Snargaloo commented on #21010
I have the test print running.  The line mismatch happened and the print job is paused at the printer.  The printer keeps sending wait messages which makes OctoPrint send another line of code.  The TFT shows busy...processing.  Should I wait out the remaining 30 minutes until OctoPrint thinks the print is complete?

[2021-02-19 19:42] Snargaloo commented on #21010
The temperature updates are occurring in realtime, however, I don't understand the state of the printer.  The TFT is only showing the error message in the echo display box.  The M117 messages with the progress/remaining time from OctoPrint are not updating on the display.

[2021-02-19 20:05] Snargaloo commented on #21010
I performed the test print with PR [#21122](https://github.com/MarlinFirmware/Marlin/pull/21122/commits/9f9b82ee6d40fa6958bcee01cfd47c400f84d059) with the following changes applied:  [changes_for_pr_X-Ryl669_21122_9f9b82e.zip](https://github.com/MarlinFirmware/Marlin/files/6012622/changes_for_pr_X-Ryl669_21122_9f9b82e.zip)

This is the firmware.elf file:
[firmware.elf for pr_X-Ryl669_21122_9f9b82e

[2021-02-19 20:22] X-Ryl669 commented on #21010
Strange. The code should have enabled a **huge** log upon the first error (and it's working for one user, as you can see in the PR's conversation, he attached a serial log). In your log, the printer is not crashed, but it's not doing anything either.
I'm out of ideas to debug this case. The code is working until some point so the build is correct, I don't understand why it's failing and why it's n

[2021-02-19 20:24] Snargaloo commented on #21010
Looks fun, I'll try it.

[2021-02-19 20:26] ManuelMcLure commented on #21130
There are reasons other than probing for the nozzle to be able to exceed the bed limits. For example, my start gcode puts the nozzle at X=-14 while the nozzle heats so it can be swiped by a brush attached to the bed once the nozzle is at temperature. Or the parking position for the nozzle while changing filament can often be off the bed to avoid spitting purged filament onto the print.

[2021-02-19 20:34] Snargaloo commented on #21010
The behavior of that last test made me question the TFT-35.  Perhaps the TFT-35 firmware is interfering somehow.  If this next forced serial dump doesn't show anything, I will spend some time and remove the TFT-35 just keeping the RPi4 attached to the TFT connector on SKR (UART0).

[2021-02-19 21:08] Snargaloo commented on #21010
When the debugging lines started sending, the TFT started beeping incessantly.  When the line mismatch occured, OctoPrint halted this time along with the printer.  Here is the serial log:  [serial (Debug failure with pr_X-Ryl669_21122_9f9b82e).zip](https://github.com/MarlinFirmware/Marlin/files/6012922/serial.Debug.failure.with.pr_X-Ryl669_21122_9f9b82e.zip)

What do the labels stand for in the de

[2021-02-19 22:08] Snargaloo commented on #21010
The code still seems confusing to me.  I see the serial command buffer is set up as an array of NUM_SERIAL.  NUM_SERIAL is 2 for my setup.  Then I see many of the procedures in queue.cpp using serial_ind which I am guessing is variable which is used to determine which command buffer in the array to use.

In the ok_to_send procedure serial_ind is defined this way:
  #if HAS_MULTI_SERIAL
    const s

[2021-02-19 22:21] X-Ryl669 commented on #21010
Right. It's confusing. What you set in the configuration file is used as a preprocessing step to fill up the "array" of serial port. The configuration file is used as a map (-1 is USB, -2 is something else, 0 to 3 is the UART port and so on). But once it's digested, the serial port are identified by index, where 0 is the first port (whatever its type), and 1 is the second port and so on. Yet, ther

[2021-02-19 22:46] Snargaloo commented on #21010
That part is begging to be clear.

This command:
strcpy(command_buffer[index_w], cmd);

index_w would be referencing 0..BUFF_SIZE places in the command_buffer array.  How do we know which command_buffer of NUM_SERIAL we are referring to?  This is the part that really throws me off.

In this instance of code:
bool GCodeQueue::_enqueue(const char* cmd, bool say_ok/*=false*/
  #if HAS_MULTI_SERIAL

[2021-02-19 22:51] thisiskeithb commented on #21131
Related (and now closed) Feature Requests: #15717 & #8519

[2021-02-20 01:55] #20611 closed, assigned to nobody

[2021-02-20 01:55] #20467 closed, assigned to nobody

[2021-02-20 07:02] Talha909 commented on #16076
I have the same issue. I disable the Lin_Advance by K0. But it also did not help me. I have SKR1.4 Turbo with TMC2130 SPI. I am using bugfix 29-1-2021.Before enable the Lin Advance my printer was working properly.

[2021-02-20 07:04] X-Ryl669 commented on #21010
Command buffers are independent of the serial port they come from. That's where it's merged for processing. The queue::advance call pop a command from the buffer and execute it.
The `port` array hold the serial index for each command, and it's only used to send `ok` to the right port if required.

Don't be confused by the default argument (-1) here, it's never used in your case of Multiserial. Thi

[2021-02-20 07:28] jafarniknam opened #21136 "six axis Joystick and some desired keys controller panel"
Hi ;
we use marlin firmware to control a six axis robot (6 axis marlin version ) used in medical laboratory . now we want to add joystick and a controller panel  ( preferably wireless for next develope step ) . How can I add additional joysticks and some desired keys for doing something (like power on magnetic module  and vacuum pump with custome G-code ) . I used   EXPERIMENTAL_I2CBUS and M260/26

[2021-02-20 07:37] rechena commented on #20922
What's the big difference in terms of configuration with the bltouch? Would love to try to see if I can get a decent print. Thanks

[2021-02-20 08:27] tayloss commented on #20922
I used this guide and it worked fine first time.. you still babystep the first layer, but if the print still doesn't still you can adjust individual probe points.

 https://www.3dmakerengineering.com/blogs/3d-printing/unified-bed-leveling-marlin

Also, make sure when you use G29 P1 you follow it up a couple of times with G29 P3 which fills in the bits of the bed it cannot probe..

This will confir

[2021-02-20 08:47] trengtor commented on #21129
![photo_2021-02-20_11-45-40](https://user-images.githubusercontent.com/16775489/108589807-40c3bb00-7371-11eb-832b-6e7153e93570.jpg)
The same behavior ­- bug confirmed

[2021-02-20 09:10] ellensp commented on #21129
Please enable #define PINS_DEBUGGING in Configuration_adv.h then send a M43 and capture the output.
If anything else is on PA1 make sure to disable it

[2021-02-20 09:17] rechena commented on #20922
Seems easy enough, would still like to know if there's really an issues with the mesh one or it's just me :(

[2021-02-20 09:18] LearnIIBurn commented on #21084
Just wanted to chime in and say I am experiencing the same behavior with my BLTouch while leveling corners using probe. Also running my BLTouch in high speed mode.

I will follow your instructions thisiskeithb and add my logs here soon as possible.

[2021-02-20 09:43] trengtor commented on #21129
![2021-02-20_12-42-03](https://user-images.githubusercontent.com/16775489/108591300-2392ea80-7379-11eb-8a39-32794cef412a.jpg)
Only this. Need to comment or no?

[2021-02-20 09:49] ellensp commented on #21129
M43 may reveal more, but yes comment that out. Marlin may be trying to use it twice

[2021-02-20 10:09] trengtor commented on #21129
Tested: Comment (//) not affects to PA1 bechavior

[2021-02-20 10:10] rechena commented on #20922
How, just followed this guide and used the option` #define GRID_MAX_POINTS_X 10` this is gonna take a while... 100 probes... might reduce to something smaller for sure.

[2021-02-20 10:14] tayloss commented on #20922
It doesn't do all 100 as there is bits of the bed it can't reach, so use G29 P3 to fill in the gaps.. do you use Octoprint?

If so, look at the grid and you will see some of the edges aren't completely filled in as the probe can't measure.. so the command above fills it in and then you can edit the points to make manual adjustments.. takes a while, but seems this is the only method that works for

[2021-02-20 10:29] rechena commented on #20922
I might be wrong but I've seen people with other boards like the mkr reporting similar issues :(
Humm still its probing 57 times which takes forever, is there a way to not have to do this everytime I start a print?

:/

[2021-02-20 10:30] qwewer0 commented on #21084
I too was able to reproduce the issue.

SKR Mini E3 v1.2
STM32F103RC_btt
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/6014633/Configuration.zip)

<details>
  <summary>Log output (M502, M500, M111 S247, G28, LEVEL_BED_CORNERS)</summary>

[code]

</details>

[Log output (M502, M500, M111 S247, G28, LEVEL_BED_CORNERS).txt](https://github.com/MarlinFirmware/Marlin/files/6014622/L

[2021-02-20 10:34] tayloss commented on #20922
Yes.. in you starting G code, you add G29 L0 if you saved your grid in slot 0 or L1 for slot 1 then G29 J which then does a 3 point check at the start of the print..

Make sure you enable it by a G29 A, M500 then do a M503 and check that it's says active grid slot =x where you have save it!

To prove, use G29 T to view the grid..

It took a while on my 5 pro, but it has resolved the BLT issue I ha

[2021-02-20 10:38] thisiskeithb commented on #21084
If you disable `BLTOUCH_HS_MODE`, does it work as expected?

[2021-02-20 10:52] qwewer0 commented on #21084
Thanks for mentioning it.

Yes, it is working with `BLTOUCH_HS_MODE` disabled. Probe pin deploys and senses the bed corners automatically.

[2021-02-20 10:53] rechena commented on #20922
Ok, I've did all the steps in the tutorial using the commands:

[code]
I've then added to the slicer settings the following at the start of the gcode:

[code]

And will try a print now, but my question is, should I then every now and then run the full probe to get a new updated mesh?

Oh, one note, for anyone following the tutorial on that link, dont forget to configure the Z offset again, cause I

[2021-02-20 10:55] ils15 commented on #21084
When i disable BLTOUCH HS mode, function works as expected

[2021-02-20 11:06] trengtor commented on #21129
I can't install maple usb driver for capture M43 output via Pronterface etc. (W7 x64 PRO)
Via TFT35 V3.0 it's impossible (listing is too long & too fast).

[2021-02-20 11:11] Talha909 commented on #16076
did you find any solution.

[2021-02-20 11:14] rechena commented on #20922
Might be this bed test but although it looks better I still see some places where the filament is squished and others not... might be the z offset though... ![image](https://user-images.githubusercontent.com/3226822/108593632-b8431b80-736c-11eb-9689-b0218ad74725.jpeg)

[2021-02-20 11:18] Talha909 commented on #16076
did you find some solution.

[2021-02-20 11:25] Fabiandelete opened #21137 "[FR] I2C Filament diameter sensor"
### Description

Support for I2C filament diameter sensors such as Thomas Sanladerer's infidel. [Youtube vid.](https://youtu.be/RYgdLPe_T0c)

### More Info

Marlin currently only supports analog filament diameter sensors. The Infidel currently doesn't support analog out. Furthermore; I2C saves analog in pins. Is this something that can easily be implemented or is it harder to do?

[2021-02-20 11:33] tayloss commented on #20922
I don't think you need to do G29 in the start Gcode as it's active if you do G29, M500..

If you have a place that's still not right, go into the menu and edit the grid.. it's a graphics display that you can turn the wheel and move to the point you need to adjust... then it checks the points around it as well...

[2021-02-20 11:37] rechena commented on #20922
So just

[code]

Oh, will check it now. Thanks :)

[2021-02-20 11:41] tayloss commented on #20922
Sorry.. G29 A is what I meant!

G29 L1
G29 J

Is all I have in mine and it works! Well, the Z moves...

I have retested bilinear and I'm back to printing mid air and too close at the back... so I think that Bilinear is broken or my bed is so warped that it can't compensate....

[2021-02-20 11:55] cab404 commented on #16076
**If anyone wants to get Linear Advance working on their non-UART boards (majority in this issue) — [follow this guide](https://gist.github.com/cab404/b7bcbb0cd592a14515493694719de59b#enabling-linear-advance)**

THIS WILL VOID YOUR WARRANTY AND REQUIRES SOLDERING WIRES ONTO YOUR BOARD

[2021-02-20 12:03] ellensp commented on #16076
To add to this post above. from what I understand, Linear advance is not compatible with StealthChop. Most stepper driver that are setup in standalone mode are hard wired into stealthchop mode. The above is how to disable StealthChop

[2021-02-20 12:05] DrumClock opened #21138 "[FR] I2C position encoders for closed loop control for AS5600 chip"
Hy!
I enabled the `#define I2C_POSITION_ENCODERS` function and used this sensor with AS5600 chip
(original Aus3D module cannot be purchased - Out Of Stock) .

![AS5600_](https://user-images.githubusercontent.com/64655979/108594710-d8c6a200-737b-11eb-9597-b1d24604eea0.png)

Set in configuration_adv (so far only for X axis):

[code]
Unfortunately, when trying to move the X-axis motor, the motor did

[2021-02-20 12:17] rechena commented on #20922
It's still a nope for me :( so it must be me... ![image](https://user-images.githubusercontent.com/3226822/108595063-a619ab00-7375-11eb-8ecc-1ab559227d59.jpeg)

[2021-02-20 12:20] trengtor commented on #21129
So, I think the ploblem live in code interaction with new HAL (because PWM silutions was changed)

[2021-02-20 12:42] DrumClock commented on #21138
the problem will probably be in the addressing of the AS5600 module
[code]

[2021-02-20 13:03] ellensp commented on #21138
Datasheet for the chip says
The 7-bit slave address of the AS5600 is 0x36

Marlin/src/feature/encoder_i2c.h says
#define I2CPE_PRESET_ADDR_X           30
#define I2CPE_PRESET_ADDR_Y           31
#define I2CPE_PRESET_ADDR_Z           32
#define I2CPE_PRESET_ADDR_E           33

So try changing I2CPE_PRESET_ADDR_X to 36

But I doubt the i2c protocol in this chip uses is anything like the original it

[2021-02-20 13:04] jopdejong01 opened #21139 "[FR] Ender 3 V2 Manual mesh bed leveling"
### Description

### Feature Workflow

1. manual mesh bed leveling on the ender 3 V2
2. [Second Action]
3. [and so on...]

#### Additional Information
manual mesh bed leveling on the ender 3 V2
* Provide pictures or links that demonstrate a similar feature or concept.
* See [How Can I Contribute](#how-can-i-contribute) for additional guidelines.

[2021-02-20 13:14] ellensp commented on #21138
also it once again isnt a bug, but a feature request for a different type of encoder

[2021-02-20 13:37] ntangle opened #21140 "MBL on I3 Mega, Special menu showing ABL"
Compiling current release of marlin, and using the example configuration.h for the i3 Mega. Enabled the TMC2208 but not BLTouch. Reading through the config, it should enable Manual Mesh Levelling. However when compiled and loaded onto the machine, there are no Manual Mesh levelling options in the Special Menu. It just shows Auto Bed Levelling option with no hot end Z movements that can be controll

[2021-02-20 13:44] hamster65 commented on #20922
I don't see a difference in bed visualizer between bilinear and UBL. But the first layers of the two small prints I did with UBL looked great! It's too early for conclusions, though.

[2021-02-20 13:48] DrumClock commented on #21138
Hi @ellensp
the Aus3D module cannot be purchased  - it would be good to convert it to AS5600

Changing the address to 36 didn't help.

[code]

I tried 54 (in binary 0110110)
 .... it reads something but I don't know if the snake will be able to run with it .... :)

[code]

[2021-02-20 13:50] tayloss commented on #20922
That's the point, the bed hasn't changed between a 7x7 probe and the UBL, but I can clearly see the Z screw moving the bed with it not so much with bilinear.. it's very odd and I don't have the answer... I'm done with playing with the firmware and have concluded that UBL is worth the extra time to setup.. the manual probe point editing is a no brainer and works well as my test print is almost perf

[2021-02-20 13:50] DrumClock commented on #21138
I have several modules with an AS5600 chip, so I could test the modified FW before releasing PR

[2021-02-20 14:05] CaptainSweatpants opened #21141 "G35 Tramming Wizard times out after 10s"
Ill provide more details if they become relevant; but in the G35 Tramming Wizard -- in all sub-screens -- if the dial isnt touched within 10-15sec it times out and kicks you back to the main info screen. This requires navigating back to the tramming wizard, rehoming, and then going to the corner to measure again and adjust.

The only way to stop this is to continually turn the dial while adjusting

[2021-02-20 14:52] Mnnovak95 commented on #20638
Hello, i have the same problem with Ender 3V2 (mainboard 4.2.2 32BIT) with LASER 500mw. Im spending alot of hours trying solve this, so i hope someone can help me to solve it. Im absolutely begginer and this was first time, i was working in visual studio. Problem started, when i connect laser to hotend fan port, outline engraving worked perfect, but full engraving/rastering looks so ugly, it looks

[2021-02-20 14:52] hamster65 commented on #20922
I did not do any manual editing. Just
G29 P1 T  ;Probe
G29 P3 ;Auto Fill missing, repeat this several times
G29 A ;enable UBL
M500 ;save

This probed 100 points and since all were reachable, I don't think I have to probe additional points manually.
I am not sure if (and how often) G29 P3 is needed.

And the start Gcode (the config is set to enable levelling after G28):
G29 L1
G29 J

Report for Bed

[2021-02-20 14:53] Mnnovak95 commented on #20638
![Screenshot 2021-02-20 at 15 42 22](https://user-images.githubusercontent.com/79367119/108599833-c193ae80-7393-11eb-8b06-af1c7fbfa014.png)

[2021-02-20 15:15] tayloss commented on #20922
So to add and not sure if this is an input to the issue...  but reports are that v4.2.2 boards are working fine with main branch and bugfix!

Seems that v4.2.7 boards have the issue with main and bugfix... how do we prove this and submit logs to see what's going on? I know some SKR boards have also reported this issue.. so am beginning to believe it now!

[2021-02-20 16:50] stewartoallen commented on #16076
no. according to what I've been told, this is a known issue with the standalone drivers. the Klipper project seems to have figured out a workaround. but no one has ported that algorithm into Marlin.

[2021-02-20 17:58] rechena commented on #20922
I hope so, cause I"m starting to loose my hope :( Just printed something. After that tried to print and on the gcode I had:

[code]

And on the second print its back miles away from the bed on one side :( I did nothing in between prints except remove the print... :(.

[2021-02-20 18:19] jpokorny12 opened #21143 "Change filament (M600) disconnects octoprint from printer"
Hello,
i have problem with filament change.
I add to gcode M600. When the printer reads the M600, the filament change begins. After a while, communication with the printer is disconnected.
I try send M600 via terminal and it works.
When replacing the filament, I can't control the filament change via the dialog box in octoprint (continue, purge more). Could there be an error associated with this?
I

[2021-02-20 19:14] cp2004 commented on #21143
Provide the serial log (or the paste from the OctoPrint ticket) as well as all the stuff from the template such as configuration for people to look into it.

---

For others, if you look in my [last comment](https://github.com/OctoPrint/OctoPrint/issues/4027#issuecomment-782723325) you'll notice this has been reported a number of times, but I haven't been able to find a ticket here that says 'It's

[2021-02-20 19:21] jpokorny12 commented on #21143
[serial (2).log](https://github.com/MarlinFirmware/Marlin/files/6016142/serial.2.log)
[serial (1).log](https://github.com/MarlinFirmware/Marlin/files/6016143/serial.1.log)
 and my marlin conf
[Configuration - kopie.txt](https://github.com/MarlinFirmware/Marlin/files/6016147/Configuration.-.kopie.txt)
[Configuration_adv - kopie.txt](https://github.com/MarlinFirmware/Marlin/files/6016148/Configurati

[2021-02-20 19:56] Launchpad-McQ commented on #16076
Does it matter if Im running klipper or marlin 2.0 if I change the extruder driver to use spreadcycle instead of stealthchop and want to use linear advance?

[2021-02-20 20:10] cab404 commented on #16076
No, it doesn't.

On February 20, 2021 10:58:00 PM GMT+03:00, Launchpad-McQ <notifications@github.com> wrote:

[2021-02-20 20:53] borland1 commented on #21141
Maybe this helps...  the timeout default is set to 15 seconds unless defined otherwise in `Configuration_adv.h`
[code]

[2021-02-20 20:56] ManuelMcLure commented on #20922
It's just a difference in philosophy. With Bilinear, the mesh is limited to the area that can be probed so it needs to extrapolate outside that mesh. With UBL, you define the mesh as covering the whole bed (i.e. including those 10mm near the edge that you cannot probe). Those points are not filled in by the `G29 P1`, but then you can run `G29 P3` and UBL will use extrapolation to fill those points

[2021-02-20 22:09] ellensp commented on #21143
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-02-20 23:43] Guilouz opened #21144 "[BUG] Impossible to compile when LEVELING_NOZZLE_TEMP is disabled"
Impossible to compile when #define LEVELING_NOZZLE_TEMP is disabled.

#define PREHEAT_BEFORE_LEVELING
#if ENABLED(PREHEAT_BEFORE_LEVELING)
  //#define LEVELING_NOZZLE_TEMP 120   // (°C) Only applies to E0 at this time
  #define LEVELING_BED_TEMP     60
#endif

VsCode return :
'LEVELING_NOZZLE_TEMP' was not declared in this scope; did you mean 'LEVELING_BED_TEMP'?

[code]

Tested on latest bugfix.

[2021-02-21 00:37] jasonmacdonald commented on #20922
Well, I've now spent days trying different settings, using bi-linear and UBL and nothing seems to work. I went back to just wiping everything, turning off the BLTouch, and doing manual bed leveling... prints are now perfect!

So, either my BLTouch is broken, or something is seriously wrong with the bed leveling code. I give up trying to figure out what. I've spent a week and a half total fiddling

[2021-02-21 00:54] ellensp commented on #21144
This PR above fixes it.

[2021-02-21 01:45] Guilouz commented on #21144
Thanks.

[2021-02-21 02:45] techis commented on #20922
I reflashed my SKR 1.3 with Cheetah from Kay3D that worked with the BL Touch. My first layer still needs some tuning but it is able to lay down a good layer. I would be happy to post the files if that helps. Maybe there was a change to how the Bilinear leveling happened in Cheetah versus the bugfix branch?

[2021-02-21 02:51] tastyratz opened #21146 "G26 mesh validation will not continue without R flag, Documentation says R defaults to 999"
### Bug Description

Documentation https://marlinfw.org/docs/gcode/G026.html for G26 states:

[R<int>] | Number of G26 Repetitions (otherwise 999)

If a default value is to be populated then the flag should not be required to perform the function.

### Configuration Files

### Steps to Reproduce
Run G26 from terminal

**Expected behavior:**
Running G26 without flags should perform validation with

[2021-02-21 02:52] ellensp commented on #21144
now merged, closing

[2021-02-21 02:52] #21144 closed, assigned to nobody

[2021-02-21 03:00] tastyratz commented on #21146
[config.zip](https://github.com/MarlinFirmware/Marlin/files/6017127/config.zip)

[2021-02-21 03:01] ellensp commented on #21146
[code]

[2021-02-21 03:08] tastyratz commented on #21146
I do, in fact, have an LCD display (this is on a Monoprice maker ultimate aka Wanhao d6).

I use manual mesh leveling. I did not see a menu item for it (I wish it did and ABL wasn't assumed but that was covered in another now closed post). I used G26 from octoprint terminal.

If the function did in some way, in fact, require the flag to continue, should it not have returned an error both in the te

[2021-02-21 03:13] ellensp commented on #21146
https://github.com/MarlinFirmware/Marlin/blob/2.0.x/Marlin/src/gcode/bedlevel/G26.cpp#L77

The comment in source are always more up to date that the documentation, which is often several versions behind.

[2021-02-21 03:20] ellensp commented on #21146
R is a flag, you need it to activate this feature, 999 refers to the parameter with the flag, if you omit the parameter this is the default value for the parameter.
It is not the same as omitting the R flag.

[2021-02-21 03:20] #21146 closed, assigned to nobody

[2021-02-21 03:28] #21112 closed, assigned to nobody

[2021-02-21 04:29] lightmaster opened #21147 "[BUG] UBL - M421 C does not modify the correct spot"
### Bug Description

If I use `G42 Ix Jx` to move to a spot, then use `M421 C Z/Qxxx.x` to try to set that spot's z-offset, it will modify the spot to the right of where the nozzle currently is. Since I used `G42` to position the nozzle at a particular spot, then `M421 C` should always adjust the spot that I am currently at.

### Configuration Files

**Required:** Include a ZIP file containing `Co

[2021-02-21 05:06] ellensp commented on #21138
One issue I see is that is there doesn't seem to be any way to change the address.
You need a unique address per axis.Or unique i2c busses...
might need these too TCA9548A I2C Multiplexer, this adds extra levels of complexity.

[2021-02-21 05:06] ksanislo commented on #16316
So, I decided to take a stab at this myself this afternoon and I've got a working implementation, but it's still pretty rough around the edges, and based off 2.0.7.2 directly and not bug fix.

I also had to "invent" a new M309 command for chamber tuning, similar to M304 for bed. I'm not 100% sure this is the best approach, but as I've done literally zero marlin work previously, I'm fully open to s

[2021-02-21 05:23] daredevilbear opened #21149 "Firmware fails to upload and stuck in a boot loop with both filament runout sensor and case light enabled"
When I have both filament runout sensor and case light enabled the firmware fails to upload and the printer gets stuck in a boot loop. It works fine if I disable one and it doesn't matter which one. I have a MKS Gen 1.4 and the pinout for runout is 4 and case light is 64.

Any ideas would be greatly appreciated!

[2021-02-21 05:25] ellensp commented on #21149
[code]

[2021-02-21 05:31] #21149 closed, assigned to nobody

[2021-02-21 06:54] Grogyan commented on #21138
I would not recommend I2C be used on closed loop drivers.  I2C is meant for very short distances .

CAN bus is far more resilient EMI

Just my 2c

[2021-02-21 07:51] DrumClock commented on #21138
Hi @Grogyan @ellensp

Is it worth solving the close Loop function in Marlin at all?

I haven't seen the CAN bus on any board.

I

[2021-02-21 08:16] Grogyan commented on #21138
[Trinamic](https://www.trinamic.com/products/pandrive-smart-motors/) and others, do have complete closed loop stepper controllers.

Closed loop should really be on the motor itself.    The control board should just need to state how far motor should travel.

The discussion of whether the control board really needs to know how far it has travelled, is always ongoing.
My personal take on it, is that

[2021-02-21 08:22] DrumClock commented on #21138
@Grogyan
OK, so it is more advantageous to use eg MKS Servo42B module close loop.

That's probably why Aus3D has finished with the module of its module,
and the function in Marlin is just a remnant that is no longer used.

Thanks.

[2021-02-21 08:39] dan-and commented on #16171
I switched to the original bltouch and the issue is gone. The timing should be more relaxed to work with a variants, so please keep it open

[2021-02-21 08:43] rechena commented on #20922
That might be helpful indeed what is really wrecking my brain is what this "bug is not being a acknowledged :( so many people reporting and yet there's 0 reply.

[2021-02-21 09:21] zbyrek commented on #20638
You can't find that board, because it's not a part of marlin but it uses definitions from paltformio.

* Open windows explorer
* Type in path bar: `%USERPROFILE%\.platformio\packages\framework-arduinoststm32-maple\STM32F1\variants\generic_stm32f103r`
* Here is your `board.cpp` where you need make changes:
[code]

[2021-02-21 09:22] GabrieleMezzera commented on #20638
Hi, @Mnnovak95, i believe you missed some steps and don't worry, so did i the first time i tried ;)

So, i think you missed to:

- Uncomment `#define FAST_PWM_FAN` in `Marlin/Configuration.h`

- Set `{&gpioa, &timer5, &adc1, 0, 1, 0}, /* PA0 */`in `/Users/%USERPROFILE%/.platformio/packages/framework-arduinoststm32-maple/STM32F1/variants/generic_stm32f103r/boards.cpp` (By default it should be `&tim

[2021-02-21 09:23] GabrieleMezzera commented on #20638
Ok, @zbyrek is definitely faster than me

[2021-02-21 09:48] spacecabbie opened #21150 "[FR] set dual baud rate for creality v4 boards with DWIN"
### Description

I use this guide:(https://www.reddit.com/r/ender3/comments/ihg2k7/dwin_display_on_ender3_v2_does_not_work_with_a/gbc1f0u?utm_source=share&utm_medium=web2x&context=3) to enable 25000 baud rate between Octoprint and printer

Assuming this is ok and supported (it working fine for me) could this be made part of standard config for Ender 3 v2 (4.2.2 and 4.2.7 boards)

### Feature Workf

[2021-02-21 09:51] Mnnovak95 commented on #20638
thank you so much for fast reply @zbyrek and @GabrieleMezzera. I changed boards.cpp via text editor now and uncomment #define fast pwm, but now i have this error. Maybe i need to use marlin 2.0.x BUGFIX? Im trying it with Marlin 2.0.X.. I will try this process again and i will let you know.

Thank you !!
![Screenshot 2021-02-21 at 10 50 39](https://user-images.githubusercontent.com/79367119/108621

[2021-02-21 10:01] GabrieleMezzera commented on #20638
@Mnnovak95 being honest i never tried using the stable version. I've used the bugfix branch for all the tests i've done. so my suggestion is try with the latest `bugfix-2.0.x` (remember to download the right configurations file since it differs between the stable and the bugfix verison).

Anyway @zbyrek is more experienced than me so maybe he can see a problem i don't see.

[2021-02-21 10:07] Mnnovak95 commented on #20638
@GabrieleMezzera I think thats my problem ! I tried MARLIN 2.0.7.2 and the same error. I think its because im using configurations for 2.0.x.. I didnt know, that i need to download specific configurations.  Thank you!

[2021-02-21 10:47] drewskix86 opened #21151 "Sensorless Homing Fails on TMC2209 after PSU Cycle"
Hey Guys,

I have been having an issue with Marlin 2.0.7 where sensorless homing fails to trigger on TMC2209 driver after turning the PSU off and on again via M80/M81 or from connected graphic display.

Sensorless homing works fine when the printer first turns on (PSU defaults to on) however consistently fails after PSU has power cycled. The only way to get it working again is to reset the MCU.

I

[2021-02-21 11:13] qwewer0 commented on #20150
While I don't fully understand it, but I still think this should kept open.

[2021-02-21 11:40] digant73 commented on #21147
With MBL it seems that the value is saved on the previous row (e.g. i2 J2 is saved on I2 J1).

Furthermore, it also seems that we have to disable BL before fine tuning a z height otherwise it seems that a wrong z heigh is saved (such as BL is applied on top of the z height we want to save).

[2021-02-21 11:41] zbyrek commented on #20638
There is sanity check in stable version which prevents you from enabling it, you must use `bugfix-2.0.x` for this to work.

Here is [issue #19952](https://github.com/MarlinFirmware/Marlin/pull/19952)

[2021-02-21 11:47] digant73 commented on #21105
@DistortedDesigns it seems such kind of problems happen editing a mesh point. If BL is enabled it seems that to the z height you want to save an offset is added so you will have a wrong z height applied

[2021-02-21 12:22] jpokorny12 commented on #21143
Thanks, it works.
When replacing the filament, the octoprint does not disconnect.

But the filament exchange control does not work via pop-ups in octoprint. When i click in pop-up window on something action. After filament change, it disconect

[Configuration - kopie.txt](https://github.com/MarlinFirmware/Marlin/files/6017661/Configuration.-.kopie.txt)
[Configuration_adv - kopie.txt](https://githu

[2021-02-21 12:22] Mnnovak95 commented on #20638
@zbyrek I cant figure out whats wrong now, it looks fine with BUGFIX-2.0.x, laser was ON/OFF after upgrade so fast (it makes some new specific noise) but i was not abble to move Z up manualy from settings.. so i think that was because i forget update screen too.. So i updated screen, make the same process via visual studio for new BIN file, and after that, laser is still ON. Tried it for example 5

[2021-02-21 12:47] CRCinAU commented on #20922
That's because in 56 comments, there's just about no useful information at all. Like every one of these "OMG, muh BLTouch don't work" threads, it turns into a dogpile of useless and unrelated information - of which, zero can be actioned.

As such, this should probably be closed like the rest of them.

[2021-02-21 12:49] CRCinAU commented on #21150
Why not just install Meatpack and use that?

[2021-02-21 13:04] zbyrek commented on #20638
I have ender 5, also getting some random bin files from strangers is bad idea, they could even break your printer.

[2021-02-21 13:22] sg000 opened #21153 "[FR] HOTEND"
### Description

### Feature Workflow

1. [First Action]
2. [Second Action]
3. [and so on...]

#### Additional Information

* Provide pictures or links that demonstrate a similar feature or concept.
* See [How Can I Contribute](#how-can-i-contribute) for additional guidelines.

[2021-02-21 13:34] sg000 opened #21154 "[FR] HOTEND_IDLE_TIMEOUT Imrpovements"
### Description

Hopefully small but useful Improvements to HOTEND_IDLE_TIMEOUT (Hot End Idle Timeout)
a) reset the timer on and XY or Z movement (maybe another userdefined switch for this for those who want original behavior of E-stepper only) At least that's current behavior as I understand it.

b) Send some tones to the speaker (multiple, this is an issue for the user to know about) when the oc

[2021-02-21 13:49] rechena commented on #20922
Thats absolutely fair, altough I find your answer  a bit rude, there has been people providing information, yes there has been a lot of "useless" comments, but we though we were adding to the discussion. I suppose I need to apologize for that. I recall asking and other also, what more information can we provide and we got 0 replies. Again if I upset you I apologize, but that does not give you the

[2021-02-21 13:52] techis commented on #20922
@rechena, well said. if you are interested in still troubleshooting the issue, I would be happy to work with you. I forked marlin into my github, maybe we can continue our troubleshooting there?

[2021-02-21 14:00] Piotrekk91S commented on #20805
hello, can you provide marlin for stock lcd?

[2021-02-21 14:00] Piotrekk91S commented on #20805
hello, can you provide marlin for stock lcd?

[2021-02-21 14:01] Piotrekk91S commented on #20805
witam, czy mozesz udostepnic marlina dla oryginalnego wyswietlacza?

[2021-02-21 14:02] CRCinAU commented on #20922
That's fine - but you have to realise that this isn't the first, and it won't be the last thread. Just about zero of which have had any real credible information or diagnosis. People think every issue from filament problems, twisted chassis, dirty beds, filament adhesion issues etc etc etc are all because of the BLTouch - so therefore it must not be working.

If there is a bug, great - then people

[2021-02-21 14:14] Piotrekk91S commented on #20805
hello hello, can you provide the marlin for the original display

[2021-02-21 14:19] #21153 closed, assigned to nobody

[2021-02-21 16:35] Mnnovak95 commented on #20638
Well, after xx upgrades its still doing the same. After this setup shown in picture, FAN/LASER is still ON after power ON 3d printer.. I also changed {&gpioa, &timer2, &adc1,  0, 1,    0}, /* PA0 */ to {&gpioa, &timer5, &adc1,  0, 1,    0}, /* PA0 */

Downloaded BUGFIX 2.0 which was last Updated 6 hours ago by marciot - i dont know, if there are any changes from bugfix 2.0 version you used..

Mayb

[2021-02-21 16:52] zbyrek commented on #20638
![image](https://user-images.githubusercontent.com/23720175/108632121-9087ac80-746d-11eb-9b69-bb887cecfdac.png)

Here's your problem, it should look like this:

![image](https://user-images.githubusercontent.com/23720175/108632128-95e4f700-746d-11eb-9ac8-9d5c573dcb17.png)

[2021-02-21 17:12] mightystormy commented on #20922
I have tried both bilinear and UBL with same results, meaning no visible improvement to the test pattern. I wanted to try firmware Marlin 2.0.3 or 2.0.5 as I've read reports that the ABL still works in those versions, but I was unable to configure them for Ender 3 Pro v4.2.7 board. If somebody can try this, it is worth a shot.
Meanwhile I have just given up to bed leveling for the moment. I have d

[2021-02-21 17:35] lightmaster commented on #21147
Are you using `M421 C Zxxx.x` or `M421 C Qxxx.x`?
`Z` should apply your offset from 0, ie: previous value was `+0.085`, command used is `Z0.330`, new value is `0.330`.
`Q` should add or subtract your offset from the previous value, ie: in the previous example, your new offset would be `0.415`.

[2021-02-21 18:41] RaabenF commented on #16316
Nice,
i'm working on that, too:
https://github.com/RaabenF/Marlin/commits?author=RaabenF

thank you, i did it really the same way but copied some minor stuff from you. You can have a look at my menues if you like.
https://github.com/RaabenF/Marlin/commit/d2461f2ead5249240372cd98bdd7edbc8102f41c

I have issues with my switches interrupts, and till now the storage hasnt worked
this is my usecase:
ht

[2021-02-21 19:34] hamster65 commented on #20922
Can we rule out issues with BLTouch(clones)?

[2021-02-21 19:35] ksanislo commented on #16316
@RaabenF I'm not completely sure I understand what you're trying to accomplish with the one fan setup, but my patch should provide a solid starting point with functional PID. Autotune is definitely worth using, with my chamber PID tuned, I have ~+/- 0.5c variance in temps, but untuned I was getting substantial swings in temperature (approx. +/- 5c) while printing.

I did already look at the menus,

[2021-02-21 19:52] SeanReg commented on #20922
I have 2 BLTouch. One 3D Clone, and one brand new Genuine BLTocuh that I just bought yesterday. When I run an M48 test on both of them the STD Deviation is really high. Especially if I run M48 with P50:

M48:
`Recv: Mean: 2.161502 Min: 2.065 Max: 2.253 Range: 0.187
Recv: Standard Deviation: 0.060634`

M48 P50:
`Recv: Mean: 2.807652 Min: 2.305 Max: 3.290 Range: 0.985
Recv: Standard Deviation: 0.289

[2021-02-21 21:39] hamster65 commented on #20922
I have a clone and probing speed set to 120 mm/min. I usually go at 240 mm/min or higher because it makes no difference from what I measured and observed. I think that rules out timing issues because different probe speeds would have an effect on them.

STD is supposed to be 0.005 from what I read. Here are my results:

M48:
Mean: 0.006583 Min: 0.002 Max: 0.012 Range: 0.010 Standard Deviation: 0.0

[2021-02-21 21:45] RaabenF commented on #16316
#response_container_BBPPID{font-family: initial;font-size: initial;color: initial;}  Yes, having presets would be great, though not necessary.The more i got into marlin, the less i liked it, and when my endstops stopped working, i somehow refused.I assumed +-5C would be ok, but heating to 80C simply isnt possible with a static heater. YesFor my purpose i inverted the output - the slower my fan is

[2021-02-21 23:31] ksanislo commented on #16316
Oh, get what you're doing now, that's a pretty neat idea.

[This is the "bgdog" case](https://github.com/bgdog1/3dPrinterCase) I've been printing that was having warping problems previously. It's been running good all day now though.

I'm not really sure how much time I put into it, maybe ~4 hours. It certainly wasn't the 5 minutes suggested in the original comment. I tried to keep things as simil

[2021-02-22 01:59] #20661 closed, assigned to nobody

[2021-02-22 04:08] ellensp commented on #21151
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

I'm fairly sure this one has been seen and fixed in bugfix already.

[2021-02-22 04:20] spacecabbie commented on #21150
This is the first time I heard about it and sure looks like a cool plugin still (from a quick glance) having the baud rate at 25000 would make that even quicker (unless there is some sort of max).

But, there are so many roads to rome,  reason to request it is to check if this is a good way to go also meatball might be a good one. In the end if no changes need to happen that at least (i hope) a sm

[2021-02-22 04:26] ellensp commented on #21150
In bugfix (and thus future releases) the LCD baud rate is already separated.

ie
[code]

[2021-02-22 04:26] #21150 closed, assigned to nobody

[2021-02-22 08:51] digant73 commented on #21147
@lightmaster I know that option. I'm using M421 Ix Jx Zx to save the new z value. AFAIK meshes should be applied only when printing if BL is enabled not during fine tuning

[2021-02-22 08:55] RaabenF commented on #16316
" wasn't the 5 minutes" i'm sure the guy noticed
"I tried to keep things as similar" - you seem more experienced with projects. Is this how it always goes?
i've spent some hours in the discord, but didnt really seem helpfull too. the guys there hanging around.

Please tell me if your interrupts and the autotune and all really works.
i rember the "autotune" menu button selects the heater automatica

[2021-02-22 08:59] ellensp commented on #21143
Please provide a screen shot of this new pop windows your now taking about.

I presume you talking about "HOST_PROMPT_SUPPORT"

Also what version of octoprint are you running?

[2021-02-22 09:05] ellensp commented on #21143
Found the version on your other post
Version of OctoPrint: OctoPrint 1.5.3
Operating system running OctoPrint: OctoPi 0.18.0

[2021-02-22 09:19] wrightwells commented on #19132
Still open, posting to keep open

[2021-02-22 10:01] jpokorny12 commented on #21143
I try make video with this problem
[https://youtu.be/l_TpWDLn6-M](url)
[octoprint.log](https://github.com/MarlinFirmware/Marlin/files/6021097/octoprint.log)
[serial.log](https://github.com/MarlinFirmware/Marlin/files/6021098/serial.log)

[2021-02-22 10:28] X-Ryl669 commented on #20982
Did you get any progress on this ?

[2021-02-22 10:34] drewskix86 commented on #21151
I've tried the bugfix release, updated configs/pins files to match my printer and it compiles fine but once on the printer won't load. Can you point me in the direction of the previous issue as all I was able to find was issues related to SPI-based TMC drivers sensorless homing issues?

[2021-02-22 11:49] HoneypotFX commented on #21078
Live z-offset configuration doesn't work on that either.

[2021-02-22 14:02] qwewer0 commented on #21084
A test on https://github.com/MarlinFirmware/Marlin/pull/21161 would be appreciated.

[2021-02-22 14:28] Misterke commented on #18203
At some point I had the SPEAKER working with the change in tone.cpp (TONE_CHANNEL from 8 to 4), but somewhere down the line it seems to have broken again.  I'm unsure whether I had it working before I added a 3DTOUCH (and now my own opto-servo probe) and that this affected it or that just more recent builds (with newer libraries / framework) broke it, but when I now try to play a tone, I do notice

[2021-02-22 14:31] SeanReg commented on #20922
Thanks for checking. I've rebuild, squared, leveled my machine multiple times because of this ABL issue. I'm thinking last time I must've not tightened up the Z-axis. My std deviation used to be fine (see #20105). Will fix up my Z and then once my std deviation looks good reconfirm I'm still having ABL issues.

[2021-02-22 15:51] dodgenet opened #21162 "[FR] Single Nozzle, Shared Extruder Stepper, Single Servo, 8 Filaments"
[FR] Single Nozzle, Shared Extruder Stepper, Single Servo, 8 Filaments

Hello, I have an FDM 3D Printer with 8 Filaments selected by one 300 degree hobby servo and one shared planetary geared extruder stepper motor.  I feel it is a more efficient approach to printing in multiple colors, but haven't found support for it's shared extruder stepper.  The system uses an 8 into one splitter either threa

[2021-02-22 16:15] wuast94 opened #21164 "[BUG] Version Missmatch"
The version in actual Configuration.h and Configuration_adv.h are 020007
the verion SanityCheck.h is checking in Version.h is 020008

Compiling fails becouse of this mismatch.

[2021-02-22 16:15] trengtor commented on #21129
Need another info?

[2021-02-22 16:16] wuast94 commented on #21164
i would open a PR for this but i dont know if the version in Confs is to low or the version in Version.h is to high

[2021-02-22 16:21] wuast94 commented on #21164
ok nevermined .. i was in the wrong marlin folder ...

[2021-02-22 16:21] #21164 closed, assigned to nobody

[2021-02-22 16:30] Snargaloo commented on #21010
Thank you for the explanations.  It has helped with understanding the code and with continued debugging of this issue.

[2021-02-22 16:33] X-Ryl669 commented on #21010
I've updated the PR #21122. The code is rewritten with more OOP so it should be easier to follow. It'll not fix your issue as far as I understand it. Can your make sure it's finishing the print with timeout set to 3s or more ? Thanks!

[2021-02-22 18:34] Snargaloo commented on #21010
Okay, will try this after my current test.  I just started a test print to try out a workaround that came to me overnight.  I reviewed all of the tests and logs.  The failure would occur based on how many times Marlin would tell the host "wait" (buffer empty, send me more data).  Setting NO_TIMEOUTS to a very high value would allow the print to finish, however, the printer would still lag at times

[2021-02-22 18:34] SwiftNick commented on #19217
I have a similar issue in current bugfix_2.0.x that I can readily reproduce.
The problem is not present in Release 2.0.7.2

With bed levelling enabled there is a bad vibration with large XY movements at any speed.
just moving backwards and forwards using G1 Y0 F6000 to G1 Y300 the vibration noise is awful.
if I disable bed levelling M420 S0  the movement is smooth and quiet at all speeds.
Using de

[2021-02-22 19:05] Snargaloo commented on #21010
I ran a test print using bugfix-2.0.x commit [7a027be](https://github.com/MarlinFirmware/Marlin/commit/7a027be25594ae79166b2612c17cf0db3aa29ddf) with #MARLIN_DEV_MODE and #POSTMORTEM_DEBUGGING enabled, and #MEATPACK and #NO_TIMEOUTS disabled.  These are the changes:  [changes_for_7a027be.zip](https://github.com/MarlinFirmware/Marlin/files/6024408/changes_for_7a027be.zip)

Here is the firmware.elf:

[2021-02-22 19:44] Hellmut1956 opened #21165 "[FR] marlin to use dual-core ARM4 to have Peripheral control on ARM0+ core"
Marlin to support dual-core ARM4 controllers to separate G Code processing from peripheral control like display.
Benefits:
1. Dual-Core ARM 4 Controller available up to 220 MHz
2. ARM3-Core to exclusively execute G-Code processing
3. ARM0+-Core to handle peripheral functionality to off-load ARM3 Core.

[2021-02-22 20:04] Snargaloo commented on #21010
I am attempting to compile PR #21122 commit [adbbcc9](https://github.com/MarlinFirmware/Marlin/pull/21122/commits/adbbcc98685a9c6bcbaa6b0471f8ab6b454a15e2).  I have #MARLIN_DEV_MODE enabled, #POSTMORTEM_DEBUG enabled, #MEATPACK disabled, and NO_TIMEOUTS=3000.  I am getting compile error:  [Terminal (Failure with adbbcc9).log](https://github.com/MarlinFirmware/Marlin/files/6024863/Terminal.Failure.

[2021-02-22 20:25] GMagician commented on #21151
Does your board give power (3.3V) on vmot when PSU is off?

[2021-02-22 20:33] Misterke commented on #18203
I've also tried out the -DTONE_CHANNEL=4 -DTONE_TIMER=4 build_flags change of  #21079 .  Unfortunately it didn't fix my problems with SPEAKER.  Using M300 S1000 gives a tone far below 1000Hz, going to S2000 and higher does now seem to play a higher tone, but weirdly enough, going down to S900 or lower also gives a higher tone (with quite some distortion).

Note that I'm on an SKR Mini E3 v2.0 and

[2021-02-22 21:26] X-Ryl669 commented on #21010
Alright, I'll fix that.

[2021-02-22 21:44] vankxr commented on #20804
bump

[2021-02-22 21:47] Julasch73 opened #21166 "firmware German"
it is possible to make a firmware from https://marlin.crc.id.au/ in German ? https://marlin.crc.id.au/firmware/Ender%203%20-%20v4.2.7%20Board%20-%20BLTouch/

[2021-02-22 21:49] ellensp commented on #21166
We can not assist on 3rd party web sites.  This site is not run or controlled by Marlin.

Please contact @CRC on the discord.

[2021-02-22 21:49] #21166 closed

[2021-02-22 22:22] lightmaster commented on #20982
Still working on testing all the permutations of `SUB` and `SUB2` greater than `18`. Takes quite a while when you only have like 2 hours a day to work on it and you have to make change, compile, copy to SD card and flash, test... Rinse and repeat.

[2021-02-23 00:42] thisiskeithb commented on #21166
@CRCinAU Can you please add a disclaimer or make it more clear that these are two separate entities and support requests should go to you?

[2021-02-23 01:44] CRCinAU commented on #21166
I'm not sure how much more direct I can be.....

![image](https://user-images.githubusercontent.com/3992884/108792211-db700400-75d4-11eb-875d-d60fc1480603.png)

None of the links end up here...

[2021-02-23 01:58] #20645 closed, assigned to nobody

[2021-02-23 01:58] #20082 closed, assigned to nobody

[2021-02-23 02:11] drewskix86 commented on #21151
No Vmot is powered directly by PSU

[2021-02-23 05:21] #14218 closed, assigned to nobody

[2021-02-23 05:52] runningbuck opened #21168 "[BUG] total junk"
### Bug Description

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

If you've made any other modifications describe them in detail here.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

#### Additional Information

* Provide pictures or links to videos that

[2021-02-23 07:21] #21168 closed, assigned to nobody

[2021-02-23 08:16] Licoze commented on #20467
Up.

[2021-02-23 10:06] X-Ryl669 commented on #21010
@Snargaloo Please try the updated PR. You can reset `NO_TIMEOUTS` to 1000 and it should work.
I've not fixed the unexplained behavior when the printer is too full to crash, but I'd have fixed the issue that the printer becomes too full at all.

[2021-02-23 10:56] SMARTTUTORIALS opened #21169 "RepRap Discount Full Graphic Smart Controller Grabelled display after installing Marlin Firmware"
I have followed the guidelines as descibed and tried to install **_Marlin Firmware version 2.x_** , But I was not getting a proper display output on the smart controller. I am Using the **_Ramps 1.4 Board along with the REPRAP Full Graphic Smart Controller._** The texts come out to be garbled. I followed the previous issues and this is my fix on the problem that I found out after trying a few of t

[2021-02-23 12:27] ldursw opened #21170 "[BUG] Occasional command truncation"
### Bug Description

At any moment while printing the first few characters of a command is cut off. The firmware requests a resend and the host sends the command again. In a few cases the resend is also received truncated just enough to remove the `N12345` part bypassing the buffer and running immediately causing a wrong movement.

This issue is also non-deterministic. The exact same GCode file ca

[2021-02-23 12:38] X-Ryl669 commented on #21170
Please try to change the buffer size in `~/.platformio/packages/framework-arduinoststm32-maple/STM32F1/system/libmaple/include/libmaple/usart.h`, change line 381 from:
[code]
to
[code]
And rebuild. It should have fixed your issue.

[2021-02-23 13:18] solhaga12 opened #21171 "Bed Leveling/Babystepping API for Torch Height Control (THC)"
I am thinking of using bed leveling as THC for a plasma CNC.
THC is Torch Height Control, that is adjustment on Z values to compensate for warped steel.
The input is the difference between an actual voltage that is compared with a wanted voltage.
The difference is not a static value, the steel sheet can warp during cutting so the Z compensation has to be done in real time.

My idea is to fake the

[2021-02-23 13:37] Julasch73 commented on #21166
@CRCinAU könnten sie bitte kontakt mit mir aufnehmen ?

 @CRCinAU please contact me ?

[2021-02-23 14:42] trengtor commented on #20638
https://github.com/MarlinFirmware/Marlin/issues/21129

[2021-02-23 16:20] ldursw commented on #21170
I did some test prints and all of them were flawless! No resends at all. Thank you so much for helping diagnose this bug.

For a PR should I change only this board like this
[code]

Or change the STM32F1 definition like this?
[code]

Would this behavior occur with all STM32F1 boards?

[2021-02-23 16:36] Doormat1 commented on #21105
Im having a similar issue with an ender 3 using an SKR mini E3 v2.0. I cannot change the Z-offset when the printer is running despite having babystepping Z enabled.

[2021-02-23 16:45] X-Ryl669 commented on #21170
Nope, it won't work if you set the flags here. libmaple is in platformio's framework and it's not built with this flags anyway. There is no way to configure such buffer from outside as far as I've read the code. And to be honest, libmaple is deprecated, this is another reason why we should focus in using the STSTM32 version instead.

But back to the initial issue, the issue happens because Marlin

[2021-02-23 17:03] Romancze opened #21172 "[FR] Reorganize LCD menu items"
Hi to all
I have the Ender 3pro with oem LCD 12864. In Creality firmware in the menu is "Print from SD(TF)" on the second place. Now I flashed Marlin 2.0.x and "Print from SD(TF)" is on the last place.  So I must scroll and scroll.
How to move this menu item to the top? I used google for few days and nothing helped.
Thank you very much
Roman

illustration photo
 ![151496694_2811501245731024_587569

[2021-02-23 17:07] rhapsodyv commented on #21170
It will work if added to the `builg_flags` in the `platformio.ini`..... Maple code uses ifndef...:
[code]

[2021-02-23 17:09] X-Ryl669 commented on #21170
They could be a completely hacky solution by overflowing the RX's ring buffer over the adjacent TX's ring buffer (and allocating another TX buffer for the ring buffer), or less hacky solution by wasting 128 bytes of memory by re-assigning ring buffer's pointers to other, Marlin's provided, buffers...

## Solution 1:
we have this in libmaple:
[code]
So we need to do something like this in Marlin/sr

[2021-02-23 17:10] X-Ryl669 commented on #21170
@rhapsodyv Ok, but how do you know what the user has set in his RX_BUFFER_SIZE macro in Configuration.h ?

[2021-02-23 17:12] rhapsodyv commented on #21170
why not all STM32F1 boards that use maple?! 64 bytes is almost nothing... so there's no drawback in setting it to all

[2021-02-23 17:14] rhapsodyv commented on #21170
Or just make marlin do:
[code]
On some script.

[2021-02-23 17:15] X-Ryl669 commented on #21170
@rhapsodyv But it'll be too late. libmaple's usart.c is built independantly of Marlin's definition.

[2021-02-23 17:16] X-Ryl669 commented on #21170
While I'm at it, there are many features in platformio.ini and they are somehow linked with Configuration's defines. How do they do that ? We could re-use the logic here ?

[2021-02-23 17:19] rhapsodyv commented on #21170
No, it's not. All PIO libraries are compiled using the same env flags/options.

Run `platformio run -v`.
Here you will see that it will compile maple using our flags:
[code]

[2021-02-23 17:20] rhapsodyv commented on #21170
Any change to `env` on `pre:script` will be applied on libs and marlin (pio project), any change on `projenv` on `post:script` will be applied only on marlin (pio project).

[2021-02-23 17:21] X-Ryl669 commented on #21170
Victor, yes, you're talking of buildflags, but I'm talking of defines in Configuration_adv.h. We need a way to fetch the configuration's macro called "RX_BUFFER_SIZE" and put that in buildflags

[2021-02-23 17:21] X-Ryl669 commented on #21170
And buildflags are set up in python, if I understand correctly.

[2021-02-23 17:26] rhapsodyv commented on #21170
Yes, I said that the two options: or set it globally on build_flags (ignoring RX_BUFFER_SIZE), or change our dependency script to add a global build flag with the value of `RX_BUFFER_SIZE`.
All marlin configs are available on env['MARLIN_FEATURES'].

As this is maple specific and maple is deprecated, I would just add `-DUSART_RX_BUF_SIZE=128` to all stm32f1... no issue with that.

[2021-02-23 17:34] wuast94 opened #21173 "[FR] detect updated Firmware"
We Talked about this a bit on Discord and i think its worth opening an issue for this.

Actual things get stored in eeprom wich makes problems from time to time, i first get over it on Z Alignment where probing fails becouse the probing positions get stored in eeprom.
So after flashing instead of using the new values when i align the z axis the first one stored in eeprom was used
also the xyz offs

[2021-02-23 17:55] X-Ryl669 commented on #21170
Ok, I've parsed the configuration file and set the build flags accordingly.

@ldursw Please pull #21122 again, set RX_BUFFER_SIZE to 128 in Configuration_adv.h (and revert your change to libmaple's platform file), and report if it fixed the issue for you.

[2021-02-23 18:15] ldursw commented on #21170
Now it doesn't even start compiling.

[code]

[2021-02-23 18:39] p3p commented on #21170
@X-Ryl669 If you are having issues with my framework put in an issue, I can't fix things if I don't know about them, There are no 'hidden' buffers in the HardwareSerial implementation, the HardwareSerial template class is instantiated with the size required from the client code (Marlin), it will drop data of course if the Marlin reads from it slower than the host transmits as there is no flow cont

[2021-02-23 18:45] sbcu commented on #20922
Is there a way for me to confirm the mesh is being applied to the print

[2021-02-23 18:51] Snargaloo commented on #21010
Okay, I have succeeded with the test print of PR #21122 commit [dc05645](https://github.com/MarlinFirmware/Marlin/pull/21122/commits/dc05645d00746af4d75df659a6ea3cc64f9191a7).  MARLIN_DEV_MODE enabled, POSTMORTEM_DEBUG enabled, MEATPACK disabled, and NO_TIMEOUTS=1000.  Here is patch with changes:  [changes_for_dc05645.zip](https://github.com/MarlinFirmware/Marlin/files/6031120/changes_for_dc05645.

[2021-02-23 19:01] X-Ryl669 commented on #21170
@ldursw Please try again with the updated PR. I don't like setting a hard value in a configuration expecting it'll fit all.

[2021-02-23 19:01] thisiskeithb commented on #21172
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-23 19:01] #21172 closed, assigned to nobody

[2021-02-23 19:09] X-Ryl669 commented on #21170
@p3p The main issue that I can't explain is described in the long bug #21010. To sum up the issue, the OP has 2 serial port in use, a USB that's plugged on a screen (IIUC), and the UART0 that's plugged to his computer. It seems that there are some characters dropping from the buffer or that the serial class does not work anymore after a while. The printer is not crashed, since it's still sending a

[2021-02-23 19:23] ldursw commented on #21170
@X-Ryl669 It's working perfectly now. I just had to apply your changes from `mks_robin_nano35` to `mks_robin_e3` which is the board I'm using.

[2021-02-23 21:31] GMagician commented on #21171
Why not using babystepping logic? You may inject babystep pulses depending on arc voltage feedback

[2021-02-23 21:36] jzamero commented on #21070
Same problem here

[2021-02-23 22:58] McSneaky commented on #16076
Hmm, same issue on Ender 3 V2 with `LIN_ADVANCE` enabled. As soon as I enable it it stops working (extruder stepper not moving after first line)
FW version `Marlin-2.0.7.2`

[2021-02-23 23:04] X-Ryl669 commented on #21170
@ldursw What do you mean ? Changing `common.extra_scripts` by `common_stm32f1.extra_scripts` ?

[2021-02-23 23:22] ldursw commented on #21170
Yes, exactly.

[2021-02-23 23:32] solhaga12 commented on #21171
Yes, that could be it.
I haven't studied the babystepping logic, though.
Could you point me to how it works and perhaps the API for it?

I have already changed the temperature timer interrupt in order to sample the arc voltage, so it would be super if the babystepping API could be reached within that context.

[2021-02-23 23:56] rhapsodyv commented on #21070
Sorry about the delay, I was a little busy. I just tested it. The serial is working very fine for me. But the EEPROM have issues.

Can you share more info about the serial issue? How are you powering the board? Is there any log from Pronterface?

I'm using `miniterm.py` with success.

I will work on the eeprom issue.

[2021-02-24 00:48] rhapsodyv commented on #21070
Just fixed the eeprom issue here: https://github.com/MarlinFirmware/Marlin/pull/21174

But the serial is always working for me.

[2021-02-24 01:39] thisiskeithb commented on #21173
Have you seen https://github.com/MarlinFirmware/Marlin/projects?

[2021-02-24 01:56] wuast94 commented on #21173
I didn't so thanks :)

Bit I didn't think that this is addressing the same issue I described or I miss understand his new implementation. Is there a way to link this issue to this Project? I thinks it's clever to Adress this problem there so it could be implemented that changed "features" in New firmware automatically overwrite the eeprom part :)

[2021-02-24 01:59] #20736 closed, assigned to nobody

[2021-02-24 03:05] ellensp commented on #21169
The issue is that not all REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER actually use the same LCD, some are sower and need additional delays. May examples of this on reprap.org

[2021-02-24 03:05] #21169 closed, assigned to nobody

[2021-02-24 03:23] thisiskeithb commented on #21173
No, I thought they were related and wanted to make sure they were compatible/efforts weren’t duplicated anywhere.

Possibly? That’d have to be done by Thinkyhead if it could be done, but I’m not familiar with the Projects feature.

[2021-02-24 03:29] ZhuDaHai opened #21175 "[FR] Quick Return to Info Screen"
### Description

Requesting a method to quickly return to the Main Info Screen on an LCD display (push-knob type).

### Feature Workflow

1. Some method to return strait to the Info Screen
2. Maybe hold down the knob for 5 seconds?
3. Or maybe double or triple click on the knob?

#### Additional Information

I know there is a timeout function (defaults to 15 sec), but this does not work on all scr

[2021-02-24 06:40] qwewer0 commented on #21084
@ils15, @galluccib, @LearnIIBurn
Could you test https://github.com/MarlinFirmware/Marlin/pull/21161 and compare the `LEVEL_CORNERS_USE_PROBE` behavior without `BLTOUCH_HS_MODE`?

Thanks in advance.

[2021-02-24 07:00] snakesrules94 commented on #21070
Hi Victor, on my side , board is powered with 12V supply. The only thing i can read from pronterface is :
`Connecting...
[ERROR] Can't write to printer (disconnected?) (SerialException): Write timeout`
. I'm using right now the marlin dev branch from 22/02 , got mks_robin_nano_v3_usb_flash_drive_msc as target , and #define SERIAL_PORT -1

[2021-02-24 07:17] snakesrules94 commented on #21070
Update : just try your mod for eeprom , works OK 👍
regarding serial , i've just noticed that the serial port is seen as STM serial port by my computer , with my nano V2 , seen as a CH340 serial port , maybe i've got an issue here , i will check this .

[2021-02-24 07:18] DrumClock commented on #17941
.

[2021-02-24 08:47] snakesrules94 commented on #21070
Update 2 : with target mks_robin_nano_v3 , serial port is exposed to host and working , i can open it with pronterface and put some commands.
With target mks_robin_nano_v3_usb_flash_drive, serial port is exposed to host and working , i can open it with pronterface and put some commands.
With target mks_robin_nano_v3_usb_flash_drive_msc , serial port is exposed to host and not working , i can't ope

[2021-02-24 08:52] jzamero commented on #21070
Have exactly the same behavior in my tests
When using mks_robin_nano_v3_usb_flash_drive the screen (mks st35s) is unable to read Stu files from usb nor sd  card just load a new firmware

[2021-02-24 08:56] Fighter777 commented on #21046
Hello, I found the offending commit: https://github.com/MarlinFirmware/Marlin/commit/b9ed139546d4d35cf925926e93f76d80245db7dc

after this commit, the pin no longer turns ON

[2021-02-24 09:36] snakesrules94 commented on #21070
@jzamero : reading file from usb is working fine for me , have you enable `#define USB_FLASH_DRIVE_SUPPORT` and `#define USE_OTG_USB_HOST` in configuration_adv.h ?

[2021-02-24 10:41] Milan-prdp commented on #21000
I too facing same issue. Anyone help

[2021-02-24 10:43] ellensp commented on #21000
use build environment rambo not mega2560

[2021-02-24 10:52] Milan-prdp commented on #21000
I've 3 new einsy controllers , one board is working fine with Marlin 2.0 and other 2 shows init fail message. I used same program for all the boards. This make me more confusing.

[2021-02-24 11:08] jzamero commented on #21070
Try it Not reading USB Drive or SD-Card

On Wed, Feb 24, 2021 at 11:36 AM snakesrules94 <notifications@github.com>
wrote:

[2021-02-24 11:14] rhapsodyv commented on #21070
I will test serial on mks_robin_nano_v3_usb_flash_drive_msc.

[2021-02-24 12:39] GMagician commented on #21171
@thisiskeithb label is wrong here. This is not a calibration FR. arc voltage following, in plasma & laser machines, is a needed behaviour

[2021-02-24 12:41] GMagician commented on #21171
@solhaga12 I'm not sure you can talk about API in babystepping or UBL logic. I'm don't know very well how it works, but in general babystep should add some steps inside stepper ISR. Try to take a look at how lcd adds them.

[2021-02-24 12:46] paleto1974 opened #21179 "real time adjustme nts to firmware"
<!--How about an input section to marlin while it is running so that it can be set for a specific machine without using the Arduino ide. I don't understand programming and don't really want to learn just to set up different machines.(I have 5, all different.) The instructions etc. could be put in a text file to be downloaded with Marlin and/or separately.
example:

Board type 1-33 (see read me fil

[2021-02-24 12:49] solhaga12 commented on #21171
Thanks, @GMagician!
I'll dive into the stepper ISR then.
By

I guess you mean the way that you can do the "Live adjust Z"

[2021-02-24 12:51] ellensp commented on #21179
vague in the extreme

[2021-02-24 12:51] #21179 closed, assigned to nobody

[2021-02-24 12:55] trengtor commented on #21129
@thisiskeithb do you have any thoughts or ideas on this issue?

[2021-02-24 13:01] GMagician commented on #21171
Yep

[2021-02-24 13:54] rhapsodyv commented on #21070
Sorry, usb worked for me in _msc env too. I think you have something missing in your computer. Maybe a cdc driver missing...
Try another serial clients...

<img width="656" alt="Screen Shot 2021-02-24 at 10 53 48" src="https://user-images.githubusercontent.com/81722/109010574-b344db80-768e-11eb-8030-36858bd01cae.png">

[2021-02-24 14:15] snakesrules94 commented on #21070
@rhapsodyv : no way with Putty as well , i've got "error writing serial port"
Could you share your bin file to test on my card ? i don't care about config , i've just got naked board & TS35 on desktop , no drivers , no sensors.

[2021-02-24 14:17] jzamero commented on #21070
Delete the driver stm virtual com port and then connect again to computer
it will solve the problem

On Wed, 24 Feb 2021 at 16:15 snakesrules94 <notifications@github.com> wrote:

--
בברכה ג׳קי זמרו

[2021-02-24 14:41] snakesrules94 commented on #21070
@jzamero : i've just tried on another computer without any STM stuff , the card is seen as "Serial USB" with drivers from microsoft , it works ok on using mks_robin_nano_v3_usb_flash_drive but still no way on _msc .

[2021-02-24 15:02] rhapsodyv commented on #21070
I'm using a Mac and both works. I will try it in a windows computer.

[2021-02-24 15:06] FanDjango commented on #21046
Same for me. I confirm PSU not being controlled. Also BTT SKR pro 1.1.

[2021-02-24 15:08] aideesi opened #21180 "What does Build do?"
This may be too obvious for some, but as a newcomer to Marlin and config files I have a nagging doubt.

Is it the case that Build combines the content of both config.h and config_adv.h files into one up-loadable file?  Despite widespread searching I cannot find a clearly stated answer to this uncertainty.   For newbies like me it would be a great help. :-)

### Description

### Feature Workflow

1

[2021-02-24 15:19] snakesrules94 commented on #21070
Just have a quick test under Ubuntu and indeed , it's working : serial port can be opened and command sent :
`-- Miniterm on /dev/ttyACM0  9600,8,N,1 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---
M␛[E␛[2~␛[6~
echo:Unknown command: "M␛[E␛[2~␛[6~"
ok
M503
echo:  G21    ; Units in mm (mm)
echo:  M149 C ; Units in Celsius

echo:; Filament settings: Disabled
echo:  M200 S0 D

[2021-02-24 15:19] Fighter777 commented on #21046
@FanDjango reverses the changes in the commit to make it work again

[2021-02-24 15:22] FanDjango commented on #21046
Yes, I am doing that right now. I was searching through BLAME on PSU_ON in MarlinCore.cpp and immediately found your issue and the mention in the Jan 25 PR. Thanks for saving me lots of time 👍

[2021-02-24 16:02] FanDjango commented on #21046
@Fighter777 Instead of a revert, here is the better fix:

[code]

Move that block IN FRONT of the KILL/SUICIDE/PSU setup. Our board needs that.

The original PR was to have those pins setup BEFORE the rather lengthy WiFi setup took place. I cannot understand why it was moved up so far that HAL init was bypassed, for example.

[2021-02-24 17:06] thisiskeithb commented on #21180
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-24 17:06] #21180 closed, assigned to nobody

[2021-02-24 17:40] nanotuxi commented on #20922
@CRCinAU wrote:

Agree. But it is senseless to let a lot of people get frustrated by rendering a potentially good firmware to death by patching a feature like bed leveling worse and worse over the years.

Yesterday I tried to get bilinear abl with a btt skr 1.4 with bltouch clone working. No chance. The results are always different , higher and lower z values.

I am a fan of Marlin for more than 6

[2021-02-24 17:43] Fighter777 commented on #21046
yes, i don't know too ....

[2021-02-24 18:25] Yveaux opened #21181 "[BUG] Temperature errors cause heaters only to be disabled with USE_BEEPER defined"
### Bug Description

The loud_kill() function (https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/module/temperature.cpp#L869) that gets called in case of temperature errors (e.g. thermal runaway) only calls thermalManager.disable_all_heaters() when USE_BEEPER is defined.

### Configuration Files

Bare code

### Steps to Reproduce

Code review

**Expected behavior:**

thermalMan

[2021-02-24 18:39] ManuelMcLure commented on #21181
`loud_kill()` unconditionally calls `kill()` which unconditionally calls `thermalManager.disable_all_heaters()`.

[2021-02-24 19:58] Yveaux commented on #21181
So luckily it's not critical then, but it doesn't make sense and is confusing to call it explicitly when USE_BEEPER is defined.

[2021-02-24 20:29] ManuelMcLure commented on #21181
You always want to disable the heaters as early as possible, so it makes sense to redundantly call `thermalManager.disable_all_heaters()` if `USE_BEEPER` is defined so it doesn't wait until after the beeps to shut down the heaters.
Without `USE_BEEPER` enabled the redundant call is not needed since it will immediately drop into `kill()` which calls `thermalManager.disable_all_heaters()` as the ver

[2021-02-24 20:31] Evg33 opened #21182 "[BUG] AUTO_POWER_CONTROL broken for SKR14T in b9ed139"
SKR14T not boot If AUTO_POWER_CONTROL defined. (bugfix-2.0.x)
Broken in https://github.com/MarlinFirmware/Marlin/commit/b9ed139546d4d35cf925926e93f76d80245db7dc
Before b9ed139 working ok. With b9ed139 not boot.

[code]

and i tested with:
[code]

[2021-02-24 21:15] FanDjango commented on #21182
Duplicate of #21046

[2021-02-24 21:39] CRCinAU commented on #20922
You misunderstand. You haven't proved an issue. There are instructions on what to do, what to test, how to debug, and how to potentially help find any issue that may exist - yet nobody follows these. Until that happens by multiple people, it'll be a case of being unable to reproduce.

[2021-02-24 22:00] sbcu commented on #20922
I don't know any of the steps that you suggest that there are can you provide a list so I can test please

[2021-02-24 22:15] Sebazzz commented on #9430
I've been trying to adapt G26 to draw filled circles instead of crosshairs, in an attempt to make it a good bit more useful:

![image](https://user-images.githubusercontent.com/1426097/109073036-259cd680-76f6-11eb-9b4a-f367cec60615.png)

I'm not sure if it is due to the arcing, but I'm running into what appears to be slight overextrusion.

[2021-02-24 23:19] SeanReg commented on #20922
@sbcu Replied twice to this thread with the logs you're looking for. There's also been plenty of other Closed ABL issues where people have posted their logs according to the steps. It seems like nobody looks at them though.

Do you have an analysis for the logs that have been posted?

https://github.com/MarlinFirmware/Marlin/issues/20922#issuecomment-770129738
https://github.com/MarlinFirmware/Mar

[2021-02-25 00:45] CRCinAU commented on #20922
You're right - nobody looks at them because we're now at 70 comments, and maybe one set of logs that might only be an issue for one setup... or maybe a faulty probe... or maybe a board issue... or maybe any of a million other things.... One isolated case - and the rest is noise.

I have no idea how to interpret the logs. There's people much smarter than me that understand the motion part of Marlin

[2021-02-25 01:06] techis commented on #20922
While early on in the thread, information that was requested was provided, it seems like nothing was done with the information. I agree that to some extent, we may have gotten a bit off of the topic, however there has also not been any further guidance on what to try or look for after posting the logs. I am happy to gather information but I need to know what to gather. Right now, I'm stuck with th

[2021-02-25 01:14] nanotuxi commented on #20922
@SeanReg

Thera are people looking at them. But the situation around bed leveling has become worse over the years.
Telling people not to write about that problem in github is basic  a very good idea cause github is not whatsapp. Here I'm with @CRCinAU. It simply makes it impossible for developers to improve things.

BUT if a situation affects a lot of people with different levels and skills in pro

[2021-02-25 01:21] Snargaloo commented on #21010
The three extensive prints completed with no issues.  I looked through the serial logs for these prints and found the same proper behavior as expected.  I will accept the changes in PR 21122 as addressing the issue in this bug report.

[2021-02-25 01:38] HubSteven opened #21185 "[BUG] Very different ABL results when using different grid size"
### Bug Description

I'm using an Ender 3 Pro with an SKR V1.4 turbo board (LPC1769) with TMC2209 drivers and a bltouch clone. When doing bilinear mesh bed leveling in a 3x3 grid I get these results:
![9](https://user-images.githubusercontent.com/35423020/109086457-e2e5f900-770b-11eb-9975-8bb656a9145b.JPG)
[code]
When printing using this leveling grid the first layer won't be printed level on the

[2021-02-25 01:54] CRCinAU commented on #20922
All provided in the first comment on this issue.

Although I would also add:
* Printer type
* Mainboard make / version
* BLTouch connection method (z-stop / probe port etc)
* BLTouch version (3.0 / 3.1 etc)
* Enable `Z_MIN_PROBE_REPEATABILITY_TEST` and include output from `M48 P20 V1`

Photos of prints, Octoprint screenshots etc etc etc don't give any information.

[2021-02-25 01:59] #14431 closed, assigned to nobody

[2021-02-25 02:01] rhapsodyv commented on #21010
Can you test this specific PR for LPC too? #21178
So we can merge things in parts.

[2021-02-25 02:24] ellensp commented on #20922
Here is what I see.

sbcu. configs and requested logs provided, BOARD_CREALITY_V427, AUTO_BED_LEVELING_BILINEAR
jes00, no configs or logs.
SeanReg, no logs. references another issue, BOARD_BTT_SKR_MINI_E3_V2_0, AUTO_BED_LEVELING_BILINEAR
techis, configs and an attempt at logs. BOARD_BTT_SKR_V1_3, AUTO_BED_LEVELING_BILINEAR
rechena, no configs, no logs, BOARD_CREALITY_V427
jasonmacdonald, no config

[2021-02-25 02:39] techis commented on #20922
@ellensp Sorry if this is the wrong place but how can I get better logs and what should I look for in the logs to be complete and usable for troubleshooting? Should each print be in a separate log file?

[2021-02-25 02:42] ellensp commented on #20922
@techis as per the first reply. Here it is again

[code]

[2021-02-25 04:44] thisiskeithb commented on #21182
Duplicate of #21046

[2021-02-25 04:44] #21182 closed, assigned to nobody

[2021-02-25 04:47] thisiskeithb commented on #16316
Merged.

[2021-02-25 04:47] #16316 closed, assigned to nobody

[2021-02-25 05:14] thisiskeithb commented on #21185
Can you enable `EXTRAPOLATE_BEYOND_GRID` and `ABL_BILINEAR_SUBDIVISION` and see if it improves?

Also, below is the canned response in regards to collecting more data for leveling issues.

---
Whenever there are homing or leveling issues, we now ask everyone to follow a standard procedure to gather more information:

- Download Marlin [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archi

[2021-02-25 05:51] qwewer0 commented on #20615
I think this can be closed.

[2021-02-25 05:57] #20615 closed, assigned to nobody

[2021-02-25 05:57] ScrewThisBanana commented on #20615
Closed - merged.

[2021-02-25 06:18] Yveaux commented on #21181
Clear, thanks @ManuelMcLure!

I have one remaining question. My setup uses a Fysetc Mini12864 display on a BTT SKR v1. 4 board, so I defined SPEAKER. When a thermal runaway occurs, I only hear some faint clicks, no tones.
Is there also a simple explanation for this, or should I file a bug report?

[2021-02-25 06:30] ManuelMcLure commented on #21181
The display you’re using has a buzzer, not a speaker, so you shouldn’t define `SPEAKER` - that’s for devices that can generate different tones.

[2021-02-25 06:33] Yveaux commented on #21181
I tried with buzzer first, but that gave me clicks in all other cases (e.g M300).
Enabling SPEAKER works correctly (including M300), except in case of thermal runaways.

[2021-02-25 09:45] X-Ryl669 commented on #21165
Do you have any reference in mind ?

[2021-02-25 09:46] X-Ryl669 commented on #21170
Should be fixed by #21177 (now merged). Please confirm that the last bugfix solved your bug and in that case, please close it. Thanks!

[2021-02-25 09:48] X-Ryl669 commented on #21104
PR #21178 fixed the issue.

[2021-02-25 09:48] #21104 closed, assigned to nobody

[2021-02-25 09:57] X-Ryl669 commented on #21003
I'm closing this.

(2) was rejected because it's easier for users to have their config file at a fixed place and have the developers just launch a git diff to see the changes.

For (4) and your reference, I've started computing the entropy of the possible configuration options of Marlin, and it's close to 2300 bits (see [here](https://github.com/X-Ryl669/MarlinForMKS/commit/7835558a9479319862b79ca

[2021-02-25 09:57] #21003 closed, assigned to nobody

[2021-02-25 10:10] Hellmut1956 commented on #21165
@X-RYl669: What do you mean by your question? Sorry, but I am not a native English speaker.

[2021-02-25 10:16] X-Ryl669 commented on #21165
Do you know of a board with such CPU ? If yes, what is the model / reference ?

[2021-02-25 11:01] nanotuxi commented on #20922
So, just for the records...
stowed printed calibration cube WITH EEPROM and BILINEAR AUTOBED LEVELING enabled.
normal sized calibration cube WITHOUT EEPROM and AUTOLEVELING.

![tPrintA](https://user-images.githubusercontent.com/70540343/109143757-aa243f00-7760-11eb-9011-5249e4b1c731.jpg)
WITH EEPROM and BILINEAR AUTOBED LEVELING
![tPrintB](https://user-images.githubusercontent.com/70540343/1091437

[2021-02-25 12:24] ldursw commented on #21170
Can confirm it is working as expected. 👍 Thanks a lot for fixing this issue.

[2021-02-25 12:24] #21170 closed, assigned to nobody

[2021-02-25 12:51] Evg33 commented on #21046
SKR14T starting with blank screen and no communication via USB-Serial,

[2021-02-25 13:00] hakimio opened #21186 "[BUG] Saving large mesh (100+ points) causes Marlin to reboot and corrupt EEPROM"
### Bug Description

Trying to save a larger than 100 points mesh to EEPROM causes Marlin to restart corrupting EEPROM.

### Configuration Files

[Marlin config.zip](https://github.com/MarlinFirmware/Marlin/files/6043024/Marlin.config.zip)

### Steps to Reproduce

1. Generate a ABL mesh with more than 100 points (ie 12x12 or bigger) (G29)
2. Try to save the mesh (M500)

**Expected behavior:**

The

[2021-02-25 13:03] ellensp commented on #21186
// Following prevents Marlin reboot when writing large mesh
// #define WATCHDOG_DURATION_8S
^^^^^^^^^^^^^^^^^^^^^
Enable this

[2021-02-25 13:06] hakimio commented on #21186
I was just planning to test it out. Would be nice if `WATCHDOG_DURATION_8S` was at least added to the default `Configuration_adv.h` config. I only found out about this setting by googling for similar issues.

[2021-02-25 13:08] ellensp commented on #21186
12x12 mesh is insane for 99.99% of users. You don't set a parameter like  WATCHDOG_DURATION_8S as default when it doesn't apply to 99.99% of users

[2021-02-25 13:09] hakimio commented on #21186
I am not saying to enable it by default. I am saying to at least add it commented out.

[2021-02-25 14:10] lightmaster opened #21187 "[BUG] Marlin bugfix-2.0.x will no longer compile after "Allow Zero Endstops (e.g., for CNC) (#21120)""
### Bug Description

Merged Pull Request #21120 will not compile. If I remove the commit with `git rebase -p --onto 468e437390afdb1de7059e7f9049d0b30c312024^ 468e437390afdb1de7059e7f9049d0b30c312024`, then the bugfix-2.0.x branch compiles without issue.

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

Compiles using `mks_robin_nano

[2021-02-25 14:11] hamster65 commented on #20922
Hm. When I switched from ABL bilinear to UBL, I had to adjust my Z-Offset from -1.6 to -1.2.

I used to probe the bed before every print with bilinear levelling. It should not take the grid from the eeprom then...

[2021-02-25 14:14] hamster65 commented on #21185
@thisiskeithb: OT: Would it make sense to add M48 Z-probe-test to that template? Cold help to rule out probe issues and machanical problems.

[2021-02-25 14:53] rhapsodyv commented on #21187
Just sent a quick fix

[2021-02-25 14:54] REVIEWGAMINGMAN opened #21189 "EXTRUDER_AUTO_FAN set default hotend will not go past 160 trying to achieve a Max 260c"
my Marlin version Marlin-1.1.x

hotend fan is 24v

motherboard version Motherboard Creality Version 2.2

[2021-02-25 14:58] Hellmut1956 commented on #21165
Not a controller board made to drive 3D printers. The 3D printing ecosystem is totally focused on low cost and the ecosystem is far from understanding the components of their printers, far from understanding the process of 3D printing as for ways how to improve it. 3D printing is not a trivial process, a dance of many parameters. The 3D market for 3D printers for the consumer and the DIY users. Wh

[2021-02-25 15:07] REVIEWGAMINGMAN commented on #21189
and Micro Swiss All Metal Hotend Kit

[2021-02-25 15:45] thisiskeithb commented on #21084
Fix has been merged. Closing.

[2021-02-25 15:45] #21084 closed, assigned to nobody

[2021-02-25 16:55] Snargaloo commented on #21010
I apologize for not noticing that I needed to also test PR [#21178](https://github.com/MarlinFirmware/Marlin/pull/21178).  It looks like this pull request is now merged.

[2021-02-25 18:08] nanotuxi commented on #20922
That is exactly the way it worked here for years on an AVR 8 bit board. On my new machine with the BTT skr 1.4 board I tried to use their I2C expansion module eeprom, but yesterday I saw that I am not the only one having trouble with that thing
https://github.com/bigtreetech/BTT-Expansion-module/issues?q=is%3Aopen+is%3Aissue
That is the reason for my guess on a faulty eeprom. So I should have ment

[2021-02-25 18:08] tiagofreire-pt commented on #21078
Try this one: https://github.com/Jyers/Marlin/releases/tag/v1.1.1

[2021-02-25 18:22] #19401 closed, assigned to nobody

[2021-02-25 18:31] hamster65 commented on #20922
Don't forget most of the developers are doing that for free. They are not on our payroll....

Back to topic.... Again, this is an example of when levelling issues seem to have lot's of unrelated (and unverified) causes. I'd work around possible the eeprom by levelling on every print, until the eeprom thing is fixed.

[2021-02-25 18:39] sbcu commented on #20922
I want to note I have tried crealitys firmware and teaching tech YouTube channels firmware and compiling my own firmware all with the same results

[2021-02-25 20:38] thisiskeithb commented on #21189
This issue is being closed because it is incomplete. When reporting an issue, please be sure to follow all instructions at the top of the template, including debugging steps, and leave the sections headings intact.

**This includes attaching your configuration files, regardless of whether you think they are involved.**

For reference, these are the instructions included in the template:

---
Pleas

[2021-02-25 20:38] #21189 closed, assigned to nobody

[2021-02-25 20:38] thisiskeithb commented on #21187
Fix has been merged. Closing.

[2021-02-25 20:38] #21187 closed, assigned to nobody

[2021-02-25 21:45] remfpage opened #21195 "Runout Sensor 1 layer change"
It was my first runout sensor test. using marlin 2.0.7.X on my Tevo Tarantula pro. The code is correct but after resuming i noticed i have a gap/space on my print. A layer or 2.

Is it a bug or do i have to change the code?

[2021-02-25 21:53] lightmaster commented on #21187
Won't have a chance to flash it until tomorrow to make sure it works completely, but it does now compile without error after #21188

[2021-02-25 22:06] Layakovi commented on #18156
hello succeeded because i have a problem with that too.
Write if you come up with something.
Thanks

[2021-02-25 22:09] margaale commented on #20750
Sorry to bring this to life, but how could i get it to compile?

[2021-02-26 00:25] gaby64 commented on #20750
I need help with this aswell

[2021-02-26 00:26] thisiskeithb commented on #20750
Is this something you can look at @rhapsodyv?

[2021-02-26 00:32] gaby64 commented on #20750
Im having the same problem but with BIGTREE_SKR_PRO

[2021-02-26 00:48] thisiskeithb commented on #20750
We don't need more "me toos" since the bug is confirmed & easily reproducible. I pinged rhapsodyv since they added this feature initially for MKS boards, but it should have also worked on others like the SKR Pro or GTR with flash drive support.

[2021-02-26 00:49] thisiskeithb commented on #21195
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-26 00:49] #21195 closed, assigned to nobody

[2021-02-26 01:01] HubSteven commented on #21185
I enabled `EXTRAPOLATE_BEYOND_GRID` and `ABL_BILINEAR_SUBDIVISION` but it doesn't solve the issue with a 10x10 grid:
![100_with_options](https://user-images.githubusercontent.com/35423020/109236733-7f71cf00-77d0-11eb-9561-30d8051f1fed.JPG)
I've included the log file
[Uploading serial.log…]()

[2021-02-26 01:59] #20819 closed, assigned to nobody

[2021-02-26 01:59] #20825 closed, assigned to nobody

[2021-02-26 02:07] rhapsodyv commented on #20750
Fixed here: #21197

[2021-02-26 02:14] rhapsodyv commented on #21185
Can you try intermediate grid sizes? Like: 5x5 and 7x7 ?

In a fast view, the issue seems to be with the 3x3 grid getting "similar" points... and when you goes to 10x10 you see that you have some undulations in the bed.
Do you have a glass bed? A PEI sheet?

[2021-02-26 02:20] rhapsodyv commented on #21069
The wifi module code wasn't ported to Nano V3 on Marlin yet.

@makerbase-mks @MKS-Sean may send it to Marlin soon.

[2021-02-26 02:23] rhapsodyv commented on #21025
I think this was just fixed with #21178. Bugfix should be ok now.

[2021-02-26 02:27] rhapsodyv commented on #20952
@ziomkris1 is everything ok and this can be closed?

[2021-02-26 02:59] viappidu opened #21198 "[BUG] M355 reporting brightness (on SKR GTR 1.0)"
### Bug Description
If used with #define CASE_LIGHT_USE_NEOPIXEL M355 always report ON or OFF but not the actual brightness.
(So the latest release of BTT TFT35 V3 had some issue working out the value for caselight)

### Configuration Files
Latest bugfix-2.0.x
- Configuration_adv.h
#define CASE_LIGHT_ENABLE
#define CASE_LIGHT_PIN     NEOPIXEL_PIN
#define CASE_LIGHT_USE_NEOPIXEL

- .pins_BTT_GTR_V1

[2021-02-26 03:01] viappidu commented on #21198
(Had problems properly pasting the code...)

[2021-02-26 04:04] thisiskeithb commented on #21198
Since you've provided a fix, it'd be faster if you submitted a [Pull Request](https://marlinfw.org/docs/development/getting_started_pull_requests.html) so it can be reviewed.

[2021-02-26 06:59] snakesrules94 commented on #21070
@rhapsodyv , I forget to ask : media sharing is working for you or not yet ?

[2021-02-26 08:02] jzamero commented on #21070
On Fri, 26 Feb 2021 at 8:59 snakesrules94 <notifications@github.com> wrote:

Working good

--
בברכה ג׳קי זמרו

[2021-02-26 08:30] snakesrules94 commented on #21070
@jzamero , i guess you're not using windows :-) I've just tried in Linux and indeed , media sharing and com access is working . In windows not. When i plug the usb cord ( under win 10 ) , i can hear the usb connect sound , but right after , the disconnect sound , and then the usb connect sound again.

[2021-02-26 08:35] jzamero commented on #21070
On Fri, 26 Feb 2021 at 10:31 snakesrules94 <notifications@github.com> wrote:

I do use windows
As I mentioned earlier
Plug the board then go to device manager  and delete the serial com
relevant to your device

Don’t forget to mark delete also the driver files.

Reboot
Plug it back.
Let windows do the magic of installation and you have a working card

Good luck
--
בברכה ג׳קי זמרו

[2021-02-26 08:39] hakimio commented on #21186
Related issue: #20449
Related PR: #20510

[2021-02-26 08:40] hakimio commented on #21186
@sjasonsmith can you look into this when you have some time?

[2021-02-26 09:02] snakesrules94 commented on #21070
Ok , following your advice , i removed the driver with which the board was recognised ( GENERICSTM32xxx ) , after that , board was recognised as an HID device , withous any possible action , i then change the driver to composite serial usb , and as you said , now magic is working ! com port is exposed and available , media is also exposed and available !
I don't know if it's linked to some ST stuf

[2021-02-26 09:27] ziomkris1 commented on #20952
Yes, I'm closing it.

Sorry for long delay, I was doing a lot of testing to make sure everything is alright, since I didn't saw other topic where changing SD Detect State was a solution. I have another small problem but since it is not related I will make later a new thread.

Thank You again for help!

[2021-02-26 09:27] #20952 closed, assigned to nobody

[2021-02-26 09:28] masterdot opened #21201 "Linear Advance - Printer squeaks loud during some movements"
# NO SUPPORT REQUESTS PLEASE

Do you want to ask a question? Are you looking for support? Please don't post here. Support Requests posted here will be automatically closed!

Instead use one of the following options:

- The Marlin Firmware forum at https://reprap.org/forum/list.php?415
- The MarlinFirmware Facebook Group at https://www.facebook.com/groups/1049718498464482/
- The MarlinFirmware Disc

[2021-02-26 09:38] #21201 closed, assigned to nobody

[2021-02-26 09:39] ellensp commented on #21201
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-26 11:52] rhapsodyv commented on #21070
Yes, media share for usb flash drive need external power supply to work 100%.

So, everything is ok here? This can be closed?

[2021-02-26 11:59] snakesrules94 commented on #21070
@rhapsodyv : yes , main concerns are solved .thanks again for the eeprom fix . You can mark this issue as closed.

[2021-02-26 12:02] #21070 closed, assigned to rhapsodyv

[2021-02-26 12:21] DJDOUBLEG commented on #20750
New build:
![kép](https://user-images.githubusercontent.com/48370718/109299482-79faa000-7835-11eb-964f-8bf2b5fb5279.png)
:(

[2021-02-26 15:54] rhapsodyv commented on #20750
You need to download my branch and not use -1 as serial port.

[2021-02-26 16:12] remfpage opened #21202 "Part Cooling Fan starts at High Speed on Preheat"
Marlin 2.0.7.2
SKR V1.3

When pressing preheat PLA part cooling pan  start at high speed. HotEnd fan don't start.
Changing code E0 from -1 to FAN1_PIN. The HotEnd Fan  start on desire temp but part cooling fan still start at high speed on given temp. when staring printing. the Part-Cooling Fan stop and runs on 2nd layer.
[code]

[2021-02-26 16:30] bill-orange opened #21203 "[BUG] New warning generated with 02/25/2021 Bugfix."
Bug Description: compilation is successful with BugFix but with this warning at the beginning of the compile.

`Can not remove temporary directory `C:\Users\William\Documents\Marlin\Marlin\.pio\build`. Please remove it manually to avoid build issues`

Manually deleting the build folder makes no difference.  Compiling for a different microcontroller makes no difference.  Compilation with 2.0.x does

[2021-02-26 17:44] Foxies-CSTL commented on #21203
I have the same issue with last bump (2021-02-26)
![image](https://user-images.githubusercontent.com/24864147/109335548-7af5f680-7862-11eb-9882-3ed916ceb71d.png)

[2021-02-26 18:36] nanotuxi commented on #20922
...and for the records again: with the most recent updates the machine is running the first test print with ubl enabled. Thanks.

[2021-02-26 18:39] wolfstrassen opened #21204 "[BUG] Random permanent pauses on print unless the knob is pressed on Ender 3 pro V1.5"
### Bug Description

Ender 3 pro with 4.2.2 board
Printer randomly pauses, usually with large prints (10+ hours), but it has happened on 1 hour or less and sometimes it happens multiple times on one print. The printer pauses and when I press the knob, the print resumes. If I don't notice it soon enough, a large blob of plastic ozzes from the nozzle

During the time the print was paused the bed and

[2021-02-26 18:43] nanotuxi commented on #21025
Can confirm that.

[2021-02-26 18:47] BirkBinnard commented on #21203
I got that error too - fixed it by setting VSCode to operate in Administrator mode. But then I got the Platformio rebuilding cache message that never goes away. Fixed that by deleting everything from the platformio\.cache directory, deleting and reinstalling PlatformIO. That let Marlin my Marlin config compile.

But when I tried to boot it on my printer I got the dreaded "All Low" error message (I

[2021-02-26 18:58] rhapsodyv commented on #21203
I find it... it's a marlin config issue that is generating a exception on some internal PIO method...

Here:
[code]

I'm sending a PR to fix that

[2021-02-26 19:02] rhapsodyv commented on #21203
Fixed: #21205

[2021-02-26 19:03] strayr commented on #21078
Confirmed, can't set Z offset when my first layer is going down, but the Z-offset wizard and other methods of setting z-offset when not printing ARE working and i can print ok, and they are NOT in 2.0.7.2

[2021-02-26 19:07] strayr commented on #21078
Why is the source code zipped so you can't browse or compare it against other versions using git? A binary might be an immediate fix, but it's not going to help find a regression or get a fix back into mainline

[2021-02-26 19:30] thisiskeithb commented on #21025
Fix has been merged. Closing.

[2021-02-26 19:30] #21025 closed, assigned to nobody

[2021-02-26 19:39] #21181 closed, assigned to nobody

[2021-02-26 19:44] #19028 closed, assigned to rhapsodyv, sjasonsmith

[2021-02-26 19:54] Kachidoki2807 opened #21206 "[BUG] Duplication modes are not handled in M106/M107"
Hello,

Please, be indulgent with my English, and let me put some context.
With the awesome MakerFr community, we built a new i3-RDX printer, which is an IDEX one. We are currently in a beta phase and setting it up, and are facing to a bunch of issues inherent to the IDEX's specificities that are not spotted yet.
We are in the burden of solving them one by one. Most of them are on the slicer side,

[2021-02-26 23:10] thisiskeithb commented on #21010
PR #21122 was merged, so please download [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code and let us know if you're still having this issue.

[2021-02-26 23:10] #21198 closed, assigned to nobody

[2021-02-26 23:32] ellensp commented on #21202
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-02-26 23:37] ellensp commented on #21203
closing as is merged

[2021-02-26 23:37] #21203 closed, assigned to nobody

[2021-02-26 23:40] rhapsodyv commented on #20750
Merged

[2021-02-26 23:40] #20750 closed, assigned to rhapsodyv

[2021-02-27 00:54] ellensp commented on #21186
Your pr has been merged, presuming this is resolved.

[2021-02-27 00:56] hakimio commented on #21186
@ellensp the PR was for a different board which I don't use. Reopen please.

[2021-02-27 00:59] ellensp commented on #21186
Did WATCHDOG_DURATION_8S not fix it?

[2021-02-27 01:02] hakimio commented on #21186
It is a valid workaround but:
1) it's not a solution, but a hack,
2) It's hard to find this setting. I don't understand why you can't include it in the default config (disabled).
3) @sjasonsmith has a better solution but it's only for some specific boards. It should be applied to all EEPROM implementations.

[2021-02-27 01:03] ellensp commented on #21186
not all eeproms are that slow.

[2021-02-27 01:10] hakimio commented on #21186
Let's keep this open at least until @sjasonsmith decides if his solution should be applied to other boards.
So far it seems to be an issue with MKS Robin Nano and [BTT SKR boards](https://github.com/MarlinFirmware/Marlin/pull/20510#issuecomment-760126464) apart from Creality V4 which was fixed already.

[2021-02-27 01:41] dchauran commented on #19780
@rhapsodyv are you still planning to work on this soon? If not, should I take a stab at it?

[2021-02-27 01:57] thisiskeithb commented on #21206
Since you've provided a fix, it'd be faster if you submitted a [Pull Request](https://marlinfw.org/docs/development/getting_started_pull_requests.html) so it can be reviewed.

[2021-02-27 01:59] #20739 closed, assigned to nobody

[2021-02-27 01:59] #20603 closed, assigned to nobody

[2021-02-27 08:16] MKS-Sean commented on #21069
@rhapsodyv @Malderin @snakesrules94
I completed it in the github of MKS, I need to organize it and submit it to marlin

[2021-02-27 09:01] tiagofreire-pt commented on #21078
Source code: https://github.com/Jyers/Marlin

[2021-02-27 12:15] wolfstrassen commented on #21204
I've uploaded a video to youtube with the behaviour [here](https://youtu.be/sdaXIiCTFwQ), the screen shows weird characters until I press the knob (h°z`)

[2021-02-27 15:51] lightmaster commented on #20982
@X-Ryl669 If I wanted to take the oscilloscope approach to measuring the timing, would this be a sufficient oscilloscope, or is the price "too good to be true"? https://www.amazon.com/Quimat-Oscilloscope-BNC-Clip-Assembled-Finished/dp/B07QML4LJL/

[2021-02-27 16:07] Snargaloo commented on #21010
Okay, I am on it.

[2021-02-27 16:41] Snargaloo commented on #21010
Do I still need to keep MEATPACK disabled for now?

[2021-02-27 17:08] Snargaloo commented on #21010
I pulled the latest bugfix-2.0.x commit [5269245](https://github.com/MarlinFirmware/Marlin/commit/526924559f3922101b11213bd9deba36d1472ae5)  with MARLIN_DEV_MODE enabled, POSTMORTEM_DEBUG enabled, MEATPACK disabled, and NO_TIMEOUTS=1000.  These are the changes applied:  [changes_for_5269245.zip](https://github.com/MarlinFirmware/Marlin/files/6054964/changes_for_5269245.zip)

I am receiving an erro

[2021-02-27 17:12] X-Ryl669 commented on #20982
There is no data on the input bandwidth (not to be confused with the sampling rate). Yet, the minimum displayed time division is 10µs and you want to observe signals that are a lot smaller than that (100ns) so even if it is able to sample such signal, it won't display it (so you will not be able to test them). In order to observe & measure the NeoPixel signal, you must use a oscilloscope that's go

[2021-02-27 17:15] X-Ryl669 commented on #21010
I'll fix this, it's a merge error. You can remove either block (there are 2 identical blocks that were merged in, only one is required). You can also test with meatpack, it should be fixed!

[2021-02-27 17:35] ghost opened #21215 "[FR] Remining time in Color UI"
I use color SPI (ili9341) display. When i enable TFT_CLASSIC_UI then is see the remaining time in display.
If i enable the TFT_COLOR_UI then is can not see the remaining time.

THX

[2021-02-27 17:47] lightmaster commented on #20982
That second link, the $50 "color" shows a white meter that lists a 5MHz bandwidth in the picture. Isn't that too low?

[2021-02-27 17:58] thisiskeithb commented on #21215
Duplicate of https://github.com/MarlinFirmware/Marlin/issues/19780

[2021-02-27 17:58] #21215 closed, assigned to nobody

[2021-02-27 18:18] X-Ryl669 commented on #20982
Yes it's too low. You should go for the first link. Or wait until I've finished rewriting the Neopixel code in Marlin so we don't rely on such magical number but on actual hardware timer instead...

[2021-02-27 18:53] reloxx13 commented on #20671
I had the same problem today, after debugging i found that the common-dependencies.py forces the packages to be in the PATH variable.

eh ppl getting this error may have changed the directories, too. it worked months ago.

This makes overriding the packages dir invalid, cause the marlin project dir is not in PATH.

[code]

I override the dirs, cause i dont want everything on my SSD.

the search_co

[2021-02-27 19:00] rhapsodyv commented on #20671
PIO will put the toolchain bin folder (where the compiler is located) in the path... the toolchain is installed in the packages dir... The PATH will have something like that: PATH=PACKAGES_DIR/toolchain-gcc-foo-bar/bin:ETC:ETC:ETC...

So we just look for GCC executable in the folders that are both in the packages dir and in the PATH.

I never edited packages_dir config, but I expect that it should

[2021-02-27 19:05] reloxx13 commented on #20671
no, if u edit it like i did, PIO uses the abosulte path (`D:\xampp\htdocs\Marlin\.pio\packages`).

a overriden directory is NOT in PATH ( for me the default PIO packages dir was not, too, i re-added it)

[2021-02-27 19:07] rhapsodyv commented on #20671
What is in your PATH? The toolchain should be in your path in some way... If not, any build will fail, not only our script.

[2021-02-27 19:51] thinkyhead commented on #21046
If the applied patch fixes this issue then it can be closed!

[2021-02-27 20:23] rhapsodyv commented on #21206
The fix was merged. Thanks!

[2021-02-27 20:23] #21206 closed, assigned to nobody

[2021-02-27 20:35] Fighter777 commented on #21046
hello, i will test

[2021-02-27 20:58] Fighter777 commented on #21046
work for me

[2021-02-27 20:58] #21046 closed, assigned to nobody

[2021-02-28 00:43] tesla128 commented on #20965
Sorry for the late reply, working on this isn't at the pace I would like and learning as I go.

I did initially misunderstand the operation of auto-align and dual end-stops. Dual end-stops does appear to do what I need in the case that I succeed in making my current end-stops adjustable to a fine enough resolution to still support the large format, especially given that I am attempting to use stal

[2021-02-28 04:30] stephenwheet commented on #21105
Ok I thought I was going crazy. I have this problem. I just upgrade to the micro Swiss direct drive kit. You need to change the offset because of the new bracket. That I did fine but then z-offset is crazy. I messed with it for like an hour and couldn’t figure out what was going on. It’s like it adding it rather than offset. Super weird behavior than what I’m used it. Normally it autohome then adj

[2021-02-28 05:25] galluccib opened #21220 "Neopixel PRINTER_EVENT_LEDS - Robin Nano 1.2"
Not sure if I'm missing something here.. Enabled everything in the config and when I power up the printer its goes through each of the colors fine. If I try and set a color via M150 it works fine. When I go to print I noticed the lights aren't coming on at all so not sure if I missed something or there is a open bug.

To get it working platformio was updated to use - NEOPIXEL_LED = Adafruit NeoPix

[2021-02-28 05:41] ellensp commented on #21220
only works is you using wait variant of heating gcode ie M109 and M190

[2021-02-28 05:45] galluccib commented on #21220
Is there a doc that outlines what I should be using in the gcode? Found a bunch of folks talking about enabling in config but haven't seen anything stating it had to be added to gcode...

Thanks,

[2021-02-28 08:01] nanotuxi commented on #21186
Would enabeling
#define OPTIMIZED_MESH_STORAGE  // Store mesh with less precision to save EEPROM space
improve the situation? (not tested yet)

[2021-02-28 08:22] kmelihk opened #21222 "[BUG] Unable to compile for STM32F103RET6_creality"
### Bug Description

Unable to compile for STM32F103RET6_creality

### Configuration Files

[configs.zip](https://github.com/MarlinFirmware/Marlin/files/6056416/configs.zip)

I've also modified platformio.ini line below:

default_envs = STM32F103RET6_creality

### Steps to Reproduce

When I hit compile, with the current release version, I get the message output below:

<details><summary>Log Output

[2021-02-28 08:32] thisiskeithb commented on #21222
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/2.0.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2021-02-28 08:32] #21222 closed, assigned to nobody

[2021-02-28 09:58] hakimio commented on #21186
@nanotuxi if you read the whole thread, you'll see that we have already have found possible solutions/workarounds. We are just discussing which one should be used.

[2021-02-28 10:26] Yveaux opened #21223 "[FR] Create audible notification in case of thermal runaway and using SPEAKER"
### Description

Currently, when USE_BEEPER is defined, thermal runaway causes the function loud_kill() in temperature.cpp to produce 20 beeps.
When SPEAKER is defined, no sound is produced.
It would be nice some sound would be generated in case of temperature issues and SPEAKER defined.

#### Additional Information

https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/module/temp

[2021-02-28 14:20] Dtcreation opened #21225 "[G34 with TouchMi] (Nozzle crash on the bed at the end of G34)"
### Bug Description

Nozzle crash on the bed at the end of G34
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/6056920/Marlin.zip)

### Configuration Files

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

If you've made any other modifications describe them in detail here.

### Steps to Reproduce

1. G34

**Expected behavior:**

Probe and level

[2021-02-28 14:40] kuroro20 opened #21226 "[BUG] BLTouch not compensating the tiled bed"
### Bug Description

I installed A new 4.2.7 Board on my creality ender3 pro printer, with a BL Touch and the bed leveling is not done

### Configuration Files

[CONF.zip](https://github.com/MarlinFirmware/Marlin/files/6056946/CONF.zip)

### Steps to Reproduce

When i try to print a bed level pattern to test it i can see that the level is not compensated

**Behaviour **

When i start a print with

[2021-02-28 15:02] Sebastian-Vogt opened #21227 "[BUG] Input knob triggered when bed is heating"
### Bug Description

I have a Creality Ender 5 and upraded it with an v4.2.7 silent board, BLTouch and a filament runout sensor. After a while i found a configuration that seemed working for all these things, except, that everytime, when i heat the print bed, it triggers the input knob. So it basically presses itself in unregular intervals.
Then i tried if the BLTouch and filament sensor stuff is

[2021-02-28 16:55] thetailwind opened #21228 "G26 starts opposite of origin, Inverted bed mesh, Bilinear"
Hello, I've been tracking down a bed leveling issue and I'm noticing some strange behavior. Initially I thought my mesh was inverted but now I think it's rotated 180*

The Setup: CoreXY, SKR 1.4 Turbo TMC2209, bl touch.

Build version : "bugfix-2.0.x" latest pulled yesterday.

I ran a test and I can confirm that the mesh is upside down or rotated:

I got my current mesh and found the worst corner

[2021-02-28 18:46] Snargaloo commented on #21010
I compiled bugfix-2.0.x commit [680172a](https://github.com/MarlinFirmware/Marlin/commit/680172a084caba61ebb0524e407f2c476eaa6e63).

I compiled with MEATPACK enabled and then enabled the Meatpack plug-in in OctoPrint.  The result was OctoPrint unable to connect to printer:  [serial (Failure with Meatpack plug-in enabled).log](https://github.com/MarlinFirmware/Marlin/files/6057582/serial.Failure.wi

[2021-02-28 19:45] kmelihk commented on #21222
Thank you, I did end up figuring it out, I had configuration files on the root folder instead of Marlin. I searched the web and not much came up, other than one person with same issue on reprap forum.

[2021-02-28 20:20] X-Ryl669 commented on #21010
I don't know what was the expected behavior if you enable Meatpack in your firmware and don't use a Meatpack plugin on Octoprint. Yet, I've had a lot of exchange with one guy using Meatpack and we've successfully connected Octoprint + Meatpack on a meatpack's Marlin's firmware.

From your log, it seems Octoprint doesn't even try to send meatpack commands. When Meatpack is enabled, it's interceptin

[2021-02-28 20:50] ellensp commented on #21010
You absolutely require the meatpack plugin installed and enabled if you enable meatpack enabled in firmware. With out the plugin you cannot talk to the printer after the initial few messages.
This is one thing in meatpack I wish to change...  Marlin has M115 which lists if meatpack is installed and is enabled or not.
So meatpack plugin should enquire M115 and disable itself if meatpack is not pres

[2021-02-28 21:07] slowbro commented on #21223
It may be worthwhile to simplify the speaker/buzzer terms in config & code too.. looking around, I see `HAS_BUZZER`, `USE_BEEPER`, `HAS_CHIRP`, `SPEAKER`, `LCD_USE_I2C_BUZZER`, and the pin seems to always (sans i2c) be `BEEPER`.

[2021-02-28 21:40] #20673 closed, assigned to nobody

[2021-02-28 22:11] Snargaloo commented on #21010
@X-Ryl669 Yes, I have multiserial and meatpack.

@ellensp Before PR21122 was merged, my printer would connect and function with MEATPACK enabled in firmware and Meatpack plug-in disabled in OctoPrint.  With MEATPACK enabled in firmware and Meatpack plug-in enabled in OctoPrint, OctoPrint would not be able to connect to the printer.  I didn't know what the expected behavior is.

I will enable MP_DE

[2021-02-28 22:35] stephenwheet commented on #21078
Any update on this. I’m also having an issue with z-offset.

[2021-02-28 22:57] thinkyhead commented on #20926
In order to do this, all steppers must be slowed down to zero over time. The faster the current speed, the longer the time must be. The trick to accomplish this would be to add a duration multiplier that affects the timing of calls to `Stepper::ISR`. This trick will add computational overhead to all stepping, if only to check for the multiplier being 1 and branching, but it is the most straightfor

[2021-02-28 23:08] mron commented on #20926
I believe I had the slowing down and stopping working. I set the decelerate_after to the current count. If the end of the block step is reached before stopping, a new block becomes active, I set it to decelerate immediately. This seems to be working. Whats driving me nuts right now is the planner. When velocity reaches zero, I stop the stepper ISR, I save the block_buffer and the planner states, I

[2021-02-28 23:10] mron commented on #20926
I've tested the stopping logic. It seems to work over multiple segments.

[2021-02-28 23:43] HubSteven commented on #21185
I'm using a magnetic bed that come with my Ender 3.
These are the results of a 5x5 grid:
![25](https://user-images.githubusercontent.com/35423020/109437730-aaedf700-7a26-11eb-95fa-553c64baa904.JPG)
[code]
7x7:
![49](https://user-images.githubusercontent.com/35423020/109437734-b2ad9b80-7a26-11eb-8b22-c0e625400206.JPG)
[code]
This is with `ABL_BILINEAR_SUBDIVISION` disabled and `EXTRAPOLATE_BEYOND_G

[2021-03-01 00:14] rhapsodyv commented on #21185
I think it’s the opposite. It’s getting more precise with more points.

comparing the evolution of the images, it’s clear that is becoming more precise to identify points where your bed have level issues.

Do you have problems printing with 10x10 mesh?

[2021-03-01 00:37] Snargaloo commented on #21010
I enabled MP_DEBUG in Configuration_adv.h and the printer will not connect from OctoPrint  (serial log has no additional information).  The TFT is showing an error after it connects to the printer:  Unknown command "503"

Perhaps we should open a new bug report for Meatpack with multiserial.

The commits from PR21122 has fixed the issues from the OP.  The remaining issues of the buffer not working

[2021-03-01 02:04] #20848 closed, assigned to nobody

[2021-03-01 02:04] #20851 closed, assigned to nobody

[2021-03-01 02:04] #20497 closed, assigned to nobody

[2021-03-01 08:21] X-Ryl669 commented on #21010
Yep. This bug report is already full of many different errors. Please create another one and @ mention me so I can follow you.
From what I understand, I think the issue you have now, is that, when Meatpack is enabled and multiserial is also enabled, then the printer expect Meatpack from both serial port. Your TFT does not speak meatpack so it breaks the communication/decoding state on the second s

[2021-03-01 10:48] hakimio commented on #21226
Did you save the mesh (`M500`) and add `M420 S1` after `G28` to your start gcode?

[2021-03-01 10:49] hakimio commented on #21227
Noticed the same behavior as well with bugfix branch and MKS Robin Nano v2 board.

[2021-03-01 10:54] hakimio commented on #21220
You can just use [M150](https://marlinfw.org/docs/gcode/M150.html) in your start/end gcode:
[code]

[2021-03-01 11:09] ellensp commented on #21227
To me that looks like you have the heated bed wires to close to the lcd wires. Causing electrical interference.

[2021-03-01 11:10] ellensp commented on #21226
Please attach your start gcode

[2021-03-01 12:05] Wangke98 commented on #21226
1------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;ellensp&quot;<notifications@github.com&gt;
发送时间:&nbsp;2021年3月1日(星期一) 晚上7:11
收件人:&nbsp;&quot;MarlinFirmware/Marlin&quot;<Marlin@noreply.github.com&gt;;
抄送:&nbsp;&quot;Subscribed&quot;<subscribed@noreply.github.com&gt;;
主题:&nbsp;Re: [MarlinFirmware/Marlin] [BUG] BLTouch not compensating the tiled bed (#21226)

[2021-03-01 13:32] HubSteven commented on #21185
When printing with a 10x10 mesh it looks even worse  than with a 3x3 mesh.
I think my issue is caused by z drifting, this not I mechanical issue since I can succesfully print the first layer without abl.

[2021-03-01 14:55] Astrocytosis opened #21234 "M32 loads incorrectly, causes Subcall overflow[BUG]"
### Bug Description

I'm using the latest Marlin version on my SKR v1.4 Turbo for my Sandbot.
I set up an auto0.g file that contained 4 different M32 P"filename"**#** commands, as I wanted the printer to draw a number of patterns on power on automatically.
Each file was relatively large (about 500kb).

The Printer would either boot and then display: "subcall Overflow"
or it would (after increasing

[2021-03-01 15:01] Sebastian-Vogt commented on #21227
I dont think this is the case:
![image](https://user-images.githubusercontent.com/12019404/109515414-550d6380-7aa7-11eb-8d22-b925140f3df3.jpg)

[2021-03-01 16:00] alexeyzel opened #21235 "[BUG] Cyrillic (Ukrainian or Russian) not working COLOR_UI"
### Bug Description

When i try to set Ukrainian (uk) or Russian (ru) language in configuration.h file after firmware update screen menus are not showing Ukrainian/Russian text.
I am using bugfix version, by printer mainboard is MKS Robin Nano 3, screen is MKS TS35 v2.0

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/6062834/Marlin.zip)

### Steps to Reproduce

[2021-03-01 17:07] kuroro20 commented on #21226
Hello,

Here is my start gcode:
; Ender 3 Custom Start G-code
M140 S{material_bed_temperature_layer_0} ; Set Heat Bed temperature
M190 S{material_bed_temperature_layer_0} ; Wait for Heat Bed temperature
M104 S160; start warming extruder to 160
G28 ; Home all axes
G29 ; Auto bed-level (BL-Touch)
M420 S1;
G92 E0 ; Reset Extruder
M104 S{material_print_temperature_layer_0} ; Set Extruder temperature
G

[2021-03-01 17:13] hakimio commented on #21226
Yes, if you want to relevel the bed before every print `G29` is enough, but if you just want to level it once and then use it, you can save the leveling data with `M500` and use `M420 S1` after homing (`G28`) to enable it.

[2021-03-01 17:14] kuroro20 commented on #21226
With my Gcode i don't see where i did wrong :(

[2021-03-01 18:10] galluccib commented on #21220
Thanks!

[2021-03-01 19:44] Magiquall opened #21236 "[BUG] Unable to compile LPC1769 since today."
Hello,

Sorry for my Limited English.

Yesterday I compiled the Marlin project for 3D printers several times without worry, but today not possible.

Yesterday every time I modified marlin to suit my printer, I saved the complete folder.
And today none of these backups cant to compile.
The program runs on an MKS SGen_L V2.0 motherboard, with an LPC1769 processor.

I haven’t changed anything since y

[2021-03-01 21:06] Grogyan commented on #21137
I saw the same, and Prusa himself has I2C filament sensors.
Good place to start with to support I2C filament sensors.

Problem with both, is that I2C is not really designed for being in cable longer than 15cm.  Depending on the printer configuration, and the potential that these cables are not EMI shielded, can result in incorrect data being received by the control board.

[2021-03-01 21:12] Grogyan commented on #21137
We need these sensors on CAN bus.
Which will save a lot on headaches down the road trying to fix intermittent faults caused by EMI.

[2021-03-01 21:47] ellensp commented on #21236
Cannot replicate.

delete your .platformio in your home directory, this forces platformio to reinstall all build environments.

[2021-03-01 21:50] ellensp commented on #21234
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-03-01 22:20] ksanislo commented on #21137
@Grogyan Adding CAN hardware would also add to the cost of the device, and it seems the goal of this is to be as cheap as possible. Since this is on an ATTINY85 it's got a little bit of processing power, maybe just adding a checksum byte would be sufficient to identify when there has been a failed reading and disregard it?

[2021-03-01 22:49] ellensp commented on #21137
@ksanislo please stop derailing all project that are i2c based by pushing for CAN bus. Start your own FR for can bus.

[2021-03-01 22:50] ellensp commented on #21137
@Grogyan please stop derailing all project that are i2c based by pushing for CAN bus. Start your own FR for can bus.

[2021-03-01 22:53] Grogyan commented on #21137
@ellensp Not derailing, but making sure that people are aware of the inherent flaws of I2C.

As I stated much earlier, it is good to get I2C filament sensing in.

[2021-03-01 23:50] Evg33 commented on #21236
[code]

[2021-03-02 09:07] Loreagle commented on #18286
Sorry guys, just an update on this, it can be helpful for someone.... After a long time I discovered my problem!

Thanks to some guys on Klipper discord I found that my problem was related to my board (MKS Robin Nano) and a mistake commonly made on wired UART drivers.

As you can see from this scheme my board has RST and SLT pins shorted:

![image](https://user-images.githubusercontent.com/1050511

[2021-03-02 09:14] Loreagle commented on #19824
@teemuatlut @sjasonsmith @thinkyhead
Sorry guys, just an update on this, I'm sorry but.... After a long time I discovered my problem and it was not a firmware problem!!!

Thanks to some guys on Klipper discord I found that my problem was related to my board (MKS Robin Nano) and a mistake commonly made on wired UART drivers.

As you can see from this scheme my board has RST and SLT pins shorted:

!

[2021-03-02 09:14] TylonHH commented on #1050
This is also usefull for spiral or vase mode at 3D-printing.

[2021-03-02 10:57] ellensp commented on #21235
I see in Marlin/src/lcd/tft/fontdata/fontdata_ISO10646_1.cpp
`#define STM32_NOT_EXTENDED_ISO10646_1_5X7
`
  // reduced font (only symbols 1 - 127) - saves about 1278 bytes of FLASH

perhaps this is the issue?
Sadly I don't have access to this lcd type to try

[2021-03-02 10:58] ellensp commented on #21235
Didn't mean to close.....  reopened

[2021-03-02 11:17] alexeyzel commented on #21235
I will try to test it.

[2021-03-02 11:25] alexeyzel commented on #21235
I tried following:
In configuration.h:
[code]

In Marlin/src/lcd/tft/fontdata/fontdata_ISO10646_1.cpp disable this option:

` //#define STM32_NOT_EXTENDED_ISO10646_1_5X7 did not solve the problem.`

The problem remains.
I did not try enabling UTF8 support in configuration_adv.h, i think it is not related.

[2021-03-02 11:30] ellensp commented on #21235
@rhapsodyv can you help with this?

[2021-03-02 12:33] rhapsodyv commented on #21235
the current COLOR_UI font only have latin characters.... There's another issue to add Chinese characters too.

[2021-03-02 12:34] rhapsodyv commented on #15064
I think this was solved by #20725. Right?

[2021-03-02 12:34] #15064 closed, assigned to nobody

[2021-03-02 13:58] pinchies opened #21239 "[BUG] (manual) Mesh Bed Leveling has high initial Z"
### Bug Description

Regression due to https://github.com/MarlinFirmware/Marlin/pull/20160
This addition of MANUAL_PROBE_START_Z being defined in Conditionals_post.h messes up manual mesh bed levelling.

When you perform mesh bed levelling, after the home, the nozzle moves to the first point. The height of that point should be "zero" - at the last home position. After levelling, the nozzle should

[2021-03-02 15:53] rubberduck09 commented on #16076
I have the same Issue on a Ender 5 Pro with Marlin-2.0.7.2 and Linear Advance. My Board is a BTT SKR 1.4 Turbo with BTT TMC2208 v3.0 Stepper drivers.

[2021-03-02 18:56] borland1 commented on #21239
The alias `MANUAL_PROBE_START_Z` is define so that nozzle won't crash into the bed during **manual bed leveling** when first probe point is lower than any of subsequent probe points.  Default is undefined in `Configuration.h`..
[code]
Not able to see your config files, but why don't you enable:  `MANUAL_PROBE_START_Z 0.2` ?

[2021-03-02 19:30] amoose136 commented on #17342
I have noticed this behavior but I had assumed this was a buffer overrun issue that could be fixed with something like an arc-welder. Has anyone tested that the result is the same with arcs vs a bunch of linear segments?

[2021-03-02 19:34] pitti98 commented on #20670
After a long research I finally found this ticket, and I am happy to report that @autonumous fix works!

The controller fan works and is adjustable manually or by USE_CONTROLLER_FAN, and the part fan also works via the temperature menu and via M106 and is adjustable.

The only thing is that if they are not on 100% you can hear a high pitched sound (from the PWM?). I will try tweaking the PWM setti

[2021-03-02 20:06] m-kozlowski commented on #21010
So... after major revolution in printers room I've finally plugged printer having this issue and gave 35791c6371dad924f9a3f0fb3aebacfd298ecc35 a try.
POSTMORTEM_DEBUGGING was on
MARLIN_DEV_MODE is off

no MEATPACK on any end, using raspberry UART pins (gpio 14, 15)
Print crashed after few minutes without any extra information in terminal (or octoprint ignored it somehow)
[um2_serial-tail.txt](http

[2021-03-02 20:10] snakesrules94 commented on #21069
@MKS-Sean : is it already available on MKS github for test ? my nano V3 is waiting for some tests :-)

[2021-03-02 21:42] X-Ryl669 commented on #21010
Can you run gdb with the path to the firmware.elf file `gdb .pio/build/your_platform/firmware.elf` ?
You can also issue a `file .pio/build/your_platform/firmware.elf` file in the gdb console (replace your_platform with what you have in .pio folder).

From the gdb trace you are providing, your printer is crashed. It should never execute code at such low address.

[2021-03-02 22:37] m-kozlowski commented on #21010
Yep, that's what I did. but the elf was stripped.
Then I've tried with recompiled debug version (+MARLIN_DEV_MODE). Crashed as well, only few bottom infill lines further than before. Still no post mortem dump on serial.
I haven't tried to gdb this one. Guess there's no point if the stack is corrupted.
BTW, just noticed that 0x000019a8 is the same address as in #issuecomment-777387378

Third attemp

[2021-03-03 02:01] #20815 closed, assigned to nobody

[2021-03-03 02:01] #20866 closed, assigned to nobody

[2021-03-03 02:01] #19181 closed, assigned to nobody

[2021-03-03 08:45] Rudi-GH commented on #20670
I can also confirm that the workaround from @autonumous works. Full working Cooling Fan !! Including the high pitched sound mentioned by @pitti98  :-( but that is a minor setback compared to having no fan at all....

[2021-03-03 12:25] DeadStone77 opened #21242 "[FR] (feature request title)"
### Description

### Feature Workflow

1. [First Action]
2. [Second Action]
3. [and so on...]

#### Additional Information

* Provide pictures or links that demonstrate a similar feature or concept.
* See [How Can I Contribute](#how-can-i-contribute) for additional guidelines.

[2021-03-03 12:27] ellensp commented on #21242
Empty invalid FR

[2021-03-03 12:27] #21242 closed, assigned to nobody

[2021-03-03 12:44] X-Ryl669 commented on #21010
Not sure it's related. Address for STM32's cpu code should be either `0x080xxxxx` or `0x20xxxxxx`. The former is the flash, the latter is the SRAM. If the CPU runs code at 0x0000xxxx, there's something plain wrong going on here (maybe it's the JTAG that's bad or something like that).

The only way for a ARM Cortex M CPU to run code at that address is if it (re)booted with BOOT0 pin set to 0 (in th

[2021-03-03 12:53] organizedkaos commented on #21173
Generally when I flash a new version of Marlin I first do M502 then M500 on the first boot.

Maybe marlin can add a text file to sdcard (or other readable location) that has the name "reset" or something.  The file can be added when a new firmware is flashed and then deleted/renamed after first boot from new flash.

On first boot from new flash if that file exists run M502 and M500 to reset/restor

[2021-03-03 14:15] m-kozlowski commented on #21010
[firmware.debug.zip](https://github.com/MarlinFirmware/Marlin/files/6076393/firmware.debug.zip)

That's LPC1769, so the address space is bit different, but still 0x000019a8  seems waaay off.

Issuing D451 resulted in only one line of response:
[code]
but the printer is indeed crashed, and getting backtrace gives similar address
[code]

[2021-03-03 14:31] X-Ryl669 commented on #21010
Ok, then forget about the memory map above, it doesn't apply here. The flash is indeed mapped at `0x0000 0000` on LPC176x CPU.

Just a question: are you using the USB serial port or the hardware UART serial in your test ?

The former will never dump anything in case of crash (since the interrupts are disabled in that case, and USB needs interrupts to run).

[2021-03-03 14:34] rhapsodyv commented on #21010
@X-Ryl669  It seems that something is broken on LPC postmortem debug.
When I run D451 and compile with `  -funwind-tables  -mpoke-function-name`, I get the stack trace direct on serial. That is right:
[code]

But if I try attach the gdb later, it will give me the same wrong backtrace address that @m-kozlowski see:
[code]

[2021-03-03 14:36] DrumClock commented on #19178
Hi @thisiskeithb

It's been here since 28 Aug 2020 and no fixes.
I'm using  old FM from 16-7-2020 which is fine.

Should I leave it open or should I close it?

[2021-03-03 14:47] X-Ryl669 commented on #21010
I start to understand why. On LPC, the address 0 is valid. (it's mapped on the flash).
So:
1. D451 tries to write at address 0 to cause an exception. On other ARM CPU, this is triggers a Invalid access exception. On LPC, since the address is mapped, this triggers a secondary exception (Bus Fault Exception) not because of the address but because we try to write to flash directly and it's forbidden.

[2021-03-03 15:04] m-kozlowski commented on #21010
[code]
[code]

hardware UART.

[2021-03-03 15:09] rhapsodyv commented on #21010
@X-Ryl669 before your postmortem work, only LPC had a debug utility. Take a look in the old code: https://github.com/MarlinFirmware/Marlin/blob/2.0.x/Marlin/src/HAL/LPC1768/DebugMonitor.cpp

Maybe it give you some clues.

I will do some step-by-step debug to see if I find anything else.

[2021-03-03 15:19] DrumClock commented on #21107
Hi,
..... with the new release of Bugfix 2.0.x does not work again in IDEX mode .....

[2021-03-03 15:20] X-Ryl669 commented on #21010
@m-kozlowski Thanks. Indeed, the vector table is located at `0x10000000` and not 0.
@rhapsodyv Thanks. Ironically, I've used this code for the other ARM platforms. They are also restoring the VTOR register to 0, like me. But I missed the part for the smoothie bootstrap, and it's probably the issue. I'll double check what it's doing.

[2021-03-03 15:41] X-Ryl669 commented on #21010
@rhapsodyv Can you try this patch ?
[code]
It should successfully reboot the printer in case of crash without the debugged attached.

[2021-03-03 15:45] X-Ryl669 commented on #21010
@m-kozlowski I think if you could reproduce the bug while gdb is already attached (attach it, and issue a `monitor reset` in gdb to restart the printer with GDB monitoring it, then launch your faulty print), GDB should stop upon the error. Then you can `bt` to see where and why it crashed.

[2021-03-03 16:05] m-kozlowski commented on #21010
Will try later this evening. I'm gonna have to go back to previous `RX_BUFFER_SIZE` value apparently, as it didn't crash so far when using default.

[2021-03-03 16:43] Protean-Man commented on #19178
I would like this to be open until it can be fixed. I have opened other issues related to this problem that have all gone stale and closed without any changes being made. I appreciate all the work the core devs do and want Marlin to push into the future but without a functioning multi-tool backend I can't see Marlin going beyond the base level of printers. If I could fix it myself I would but I am

[2021-03-03 16:53] rhapsodyv commented on #21010
Same issue :-/ .

[2021-03-03 17:10] simonszu opened #21244 "[BUG] Serial connection deadlocks due to wrong protocol order (STM32F103RET6_creality)"
### Bug Description

When sending data via serial connection, some confusion in the protocol command order happens, which causes a deadlock, since both host and printer wait for the other side to continue. This happens on 2.0.7 release as well as on the bugfix-2.x branch cloned 2 hours ago.

### Configuration Files

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/6077738/Marlin.zip)

#

[2021-03-03 17:11] X-Ryl669 commented on #21010
Arrggh. Can you put a breakpoint on the `HW_REG(0xE000ED0C) = (HW_REG(0xE000ED0C) & 0x0000FFFF) | 0x05FA0004;` line and step by step instructions starting from here (via gdb's `si`) ?

I just want to make sure it's jumping to address 0 right after writing the register and what's it doing after that...

[2021-03-03 17:49] rhapsodyv commented on #21010
I removed the `#if DISABLED(WATCHDOG)`, so it executed the line with `HW_REG(0xE000ED0C) = (HW_REG(0xE000ED0C) & 0x0000FFFF) | 0x05FA0004;`

Then I got this BT:
[code]
And after continuing and stoping again, I got:
[code]

[2021-03-03 18:28] X-Ryl669 commented on #21010
If you have a watchdog, it should have triggered in the while(1) loop below and reset your printer (since it isn't feed anymore). It's strange it failed doing so (the patched code clear interrupt so it could explain the watchdog not working, but the old code did not).

After the register's trick line, the CPU should have jumped to 0x00000000 and then to the bootloader.  The fact that it's running

[2021-03-03 18:42] rhapsodyv commented on #21010
Yes, something is very weird. I work far more with stm than lpc, so I'm not used to the lpc values. I will take a look and let you know.
I will try to reproduce the serial hang too.

[2021-03-03 19:33] thisiskeithb commented on #21236
Ditto. This is a Windows/machine issue.

[2021-03-03 19:33] #21236 closed, assigned to nobody

[2021-03-03 20:16] X-Ryl669 commented on #21010
Thanks!

[2021-03-03 20:39] m-kozlowski commented on #21010
umm...
[code]

[2021-03-03 21:21] rubenpatane opened #21245 "cancel"
Sorry wrong issue

[2021-03-03 21:35] #21245 closed, assigned to nobody

[2021-03-03 22:31] rhapsodyv commented on #21010
One clue: to properly debug, we need to disable the watchdog on LPC. Those weird BT are gone when I disabled it. @m-kozlowski try disabling it on Configuration_adv.h and give another try.

[2021-03-03 23:47] thinkyhead commented on #21060
Still reliably failing with `bugfix-2.0.x`?

[2021-03-03 23:55] ellensp commented on #21244
You have #define SERIAL_PORT 1 and #define SERIAL_PORT_2 3
Which port is connected to octoprint and what is on the other serial port?

Can you disable SERIAL_PORT_2 and see if anything changes (I have a suspicion that that resend: command is going to wrong port)

[2021-03-04 01:55] kpishere commented on #21060
Hi, for myself, I've avoided this issue by switching two three point levelling.  However, I can give it a try tomorrow and will report back regardless.

[2021-03-04 02:03] #20882 closed, assigned to nobody

[2021-03-04 04:39] rhapsodyv commented on #21010
Today I was able to simulate a hand using multi serial. If I get a crc mismatch in one serial, it would hang. Debugging it, it was dying on `gcode_line_error` because the `p` (serial_ind) was a bizarre number, like 81, instead of 0 or 1. Changing the parameter to a const reference seems that solve the issue... At least the issue that I was having.

My test: connect to serial 0 and send correct com

[2021-03-04 05:48] qwewer0 commented on #19870
I think https://github.com/MarlinFirmware/Marlin/issues/20969 is a bit more in depth, so I will close this. If needed, this can be opened later.

[2021-03-04 05:48] #19870 closed, assigned to nobody

[2021-03-04 06:20] thisiskeithb commented on #21244
The discussion (and potential fix) seems like it could be related: https://github.com/MarlinFirmware/Marlin/issues/21010#issuecomment-790284609

Here’s the referenced commit from @rhapsodyv you’d need to cherry pick to test: https://github.com/rhapsodyv/Marlin/commit/4bfb5cd0e46b199a3bce7c6dd9dc7a27db439402.patch

[2021-03-04 06:24] simonszu commented on #21244
@ellensp good question. This is the file I just copied out of the config Repo without changing much. I wasn't even aware that my board has two serials. I will check if it changes something when I disable one, and see what is the right one.
Should a bug report against the config Repo be opened?

[2021-03-04 06:36] ellensp commented on #21244
@thisiskeithb I suspect this is the same bug. I was suspecting the missing "Resend:" was sent to the wrong port, but looks like the port number was corrupted. (same result)

[2021-03-04 07:18] grishien opened #21246 "Inconsistent movement reading from SD card"
### Bug Description

I’m using X axis to turn a wheel. So I’m trying to move the wheel little by little with distance between the stops of around 8mm (measured on the outer radius of the wheel).
When job is being done using USB connection & repetier - no problems, it moves equally, same distance between stops.
But when I run the same gcode from SD card - it makes one bigger (1.5 mm more) movement

[2021-03-04 07:39] DrumClock opened #21247 "[FR] Reversal of E stepper using G-code"
Would it be possible to define a G-code for reversing the rotation of the stepper motor for the extruder (E0-En)?

`E.g.  as when using  M605 S3  -  initiate mirrored movement.`

[2021-03-04 07:52] X-Ryl669 commented on #21010
Thanks Victor you're right. The `serial[index_r].port` is not set yet when the method is calling `gcode_line_error`, since it's set in the `commit_command` below. So, in effect, the extracted `serial_index` points to garbage when it's read in the method.

We actually need to add a parameter like you did (no need for reference I think) to pass the `p`/port value down the chain.

[2021-03-04 07:55] thisiskeithb commented on #21247
Duplicate of https://github.com/MarlinFirmware/Marlin/issues/16550

[2021-03-04 07:55] #21247 closed, assigned to nobody

[2021-03-04 07:56] thisiskeithb commented on #21247
While not a 1:1 duplicate feature request, both features are related and should be discussed in the linked issue above.

[2021-03-04 08:02] X-Ryl669 commented on #21244
Not sure it's related here. The issue in #21010 is linked with multiserial *usage*, and the OP does not use the 2 serial ports simultaneously (as far as I understand).

[2021-03-04 08:14] ellensp commented on #21246
Try adding M400's after each move, to ensure they are complete before next gcode.

[2021-03-04 08:27] simonszu commented on #21244
I did not, yes. Only the USB serial connection to an octoprint instance.

I recompiled the firmware with having the second serial port disabled. Looks good so far, the current calibration cube print has more layers than any attempts i did yesterday had. However, there were also some successful prints in the past, with both ports enabled, so i can neither confirm nor deny that the suggestion from @

[2021-03-04 08:49] ellensp commented on #21244
@X-Ryl669 I suggested turning off serial_port_2 so that multiserial was disabled, as the multiserial code is the only thing I can see that could stop Resend: from being sent on the same serial port. Which is the issue on the initial  report https://community.octoprint.org/t/print-freezes-due-to-checksum-mismatch/31425/4

[2021-03-04 10:29] X-Ryl669 commented on #21244
Right. What Victor's spotted is a "use uninitialized error". When not in multiserial, there's a default path that always returns 0 for the serial port index.  When in multiserial but only using the first serial port, the ring buffer's value is default initialized to 0 so even if the read happens at the wrong place, it'll still read 0 for the serial index and this should not explain the behavior de

[2021-03-04 11:03] Magiquall commented on #21236
Perfect, it works fine now.
Thank you

[2021-03-04 14:26] HubSteven commented on #21185
I finally solved my issue, turns out it was a mechanical problem after all.
I used a plastic spacer between my z-axis motor and the frame to make the x gantry run more smoothly on the z axis.
This caused the x gantry to drop under it's on own weight when the z stepper was turned off. I wouldn't drop down when the z axis stepper motor was turned on but apparently it still drop a little after a few

[2021-03-04 14:26] #21185 closed, assigned to nobody

[2021-03-04 14:29] rhapsodyv commented on #21010
Yes, soon I found the issue of getting the wrong index from ring_buffer, and I fixed it passing the index as parameter to it.

But it kept randomly hanging for me, until I changed the parameters to const ref. I don’t know if it was a gcc bug, or a gdb one, or even a issue while flashing (I was flashing with jlink).

Take a look in the picture, I’m not crazy heheh.

<img width="1253" alt="7CBEB9F4-

[2021-03-04 14:55] X-Ryl669 commented on #21010
Strange. If you use a reference, in reality, the compiler uses a pointer. If the reference is initialized from `commands[index_r].port` then the GDB sees the value at the memory location `&commands[index_r].port`. But since `index_r` was garbage when used, it was pointing to random memory that could be the stack or whatever and it can change while stepping through the code.

That's why I think a n

[2021-03-04 14:56] XDA-Bam commented on #17342
Segmenting is going to be different when using ArcWelder comapred to the "default" GCode generated by the slicer. I would expect the result to at least look *different* from the regular print - could be worse, but could also be much better. As far as I know this hasn't been tested and published. In any case, it would be workaround and not a fix.

Feel free to check it and please let us know about

[2021-03-04 15:02] rhapsodyv commented on #21010
Yes. It seems that the code `serial_state[serial_ind].last_N` was being optimised in a code that wasn't using the `serial_ind`. I don't know if it was an issue generated by lots of flash and reflash, or trigged by some debugging session...
Maybe I needed a full rebuild...

If I don't have pictures, I would not believe too.

Yes, that was my second crash yesterday, that was fixing only when using r

[2021-03-04 15:09] X-Ryl669 commented on #21010
Right, I'm seeing it too, even if it does not make sense.
Can you post your firmware.elf file, please, I'd like to check the assembly that the compiler emitted ?

Because this pattern is used in numerous places and if we need to change passing by value to passing by reference to get good code, that'll be a lot of work :sob:.

[2021-03-04 16:21] jagoff412 opened #21250 "[BUG] (tevo little monster failure)"
### Bug Description

flashing marlin 2.0  the printer will home successfully only prior to moving any axis. after moving any axis g28 fails and hard crashes the head into the x tower. ON BUGFIX THIS IS WORSE AND NO G28 SUCCEEDS, G28 IMMEDIATELY CRASHES THE PRINT HEAD HORIZONTALLY
g33 fails every attempt
fans do not work
board is mks sbase v1.3

### Configuration Files

**Required:** Include a ZIP

[2021-03-04 16:31] thisiskeithb commented on #21250
Whenever there are homing or leveling issues, we now ask everyone to follow a standard procedure to gather more information:

- Download Marlin [`bugfix-2.0.x`](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to test with the latest code.
- Enable `DEBUG_LEVELING_FEATURE` and `M114_DETAIL` and re-flash the firmware.
- Connect to your printer from host software such as Cura, Prin

[2021-03-04 17:02] jagoff412 commented on #21250
Connecting...
Printer is now online.

SENDING:M111 S247
echo:DEBUG:ECHO,INFO,ERRORS,COMMUNICATION,LEVELING
echo:M105
echo:M105
echo:M105
echo:M105
echo:M105
echo:M105
echo:M105

SENDING:G28
echo:G28

Machine Type: Delta
Probe: BLTOUCH
Probe Offset X0.00 Y20.00 Z-1.10 (Middle-Back & Below Nozzle)
Auto Bed Leveling: LINEAR (disabled)

  current_position= X0.00 Y0.00 Z0.00 : sync_plan_position

Home

[2021-03-04 17:05] jagoff412 commented on #21250
2nd note; i killed the power to the printer after the first bltouch deploy and subsequent crash. some of the final messages in the log were received after hitting the power switch but before disconnecting pronterface

[2021-03-04 17:51] rhapsodyv commented on #21010
Well, after a full rebuild I can't reproduce the const/ref error anymore... I suspect that it was a partial build messed up. I will do more tests, if I can't reproduce it again, I will remove the ref.

[2021-03-04 18:49] DrumClock commented on #16550
Hi, it would be enough to extend the M569 by

`M569 P0 S0`

`Pnn `    Motor driver number
`Sn`        Direction of movement of the motor (s) attached to this driver: 0 = backwards, 1 = forwards (default 1)

How can RepRam FW do it

[2021-03-04 19:01] DrumClock commented on #18429
Hi @Roxy-3D
What about the division of tools into IDEX carriages?
I've been watching for a long time since nothing happened.

On my project, I tried it with the help of the classic IDEX for 2 extruders and a modified G-code for printing .... it's 100% functional.

If Marlin could define X1 = T0 / T1 and X2 = T2 / T3, I wouldn't have to modify the g-cod from the slicer at all .....

[2021-03-04 19:11] DrumClock opened #21251 "[BUG] compiled error - gcode.cpp"
in Bugfix 2.0.x there is a compilation error.

[code]

[2021-03-04 19:15] GMagician commented on #21251
Check #21248

[2021-03-04 19:18] DrumClock commented on #21251
OK, thanks

[2021-03-04 19:18] #21251 closed, assigned to nobody

[2021-03-04 22:51] gaby64 commented on #20309
I would also like to be able to hide the Change Media menu item

[2021-03-04 23:00] TzOk83 opened #21253 "[BUG] Z Probe Wizard doesn't work without Z_SAFE_HOMING"
### Bug Description

Z Offset Wizard doesn't work without Z_SAFE_HOMING (e.g. when using Z-endstop for homing, and Z-probe only for bed leveling).

### Configuration Files
[configuration.zip](https://github.com/MarlinFirmware/Marlin/files/6087089/configuration.zip)

**Required:** Include a ZIP file containing `Configuration.h` and `Configuration_adv.h`.

### Steps to Reproduce

1. Enter menu Confi

[2021-03-05 00:45] grishien commented on #21246
I was lucky enough to notice yesterday that I was using comma instead of dot as a delimiter of floating point. Seems that machine understood only ceil number and ditched the fractional part of a number.

You live you learn.

[2021-03-05 01:01] thisiskeithb commented on #21253
What error message did you see on screen/over serial?

I just used this yesterday on a build without `Z_SAFE_HOMING` and can confirm it works.

Try this:
1. Home your printer
2. Move hotend to a spot where the probe will trigger on the bed
3. Run the Z Probe Offset Wizard

Your printer will home XYZ again, but will then return to the position you set in step 2 above.

[2021-03-05 01:25] thinkyhead commented on #21010
Please test the [`bugfix-2.0.x` branch](https://github.com/MarlinFirmware/Marlin/archive/bugfix-2.0.x.zip) to see where it stands. If the problem has been resolved then we can close this issue. If the issue isn't resolved yet, then we should investigate further.

[2021-03-05 02:03] #20533 closed, assigned to nobody

[2021-03-05 02:03] #20061 closed, assigned to rhapsodyv

[2021-03-05 03:31] kpishere commented on #21060
@thinkyhead I've rebased on latest bugfix-2.0.x, noted that G29 command had some changes.  Also, due to increase in program size, I've had to reduce my mesh from the default 10x10 to 5x5.   The command appears to be working now.  The bug can be closed.

I think the test is still fair as you'll note below there is still an area on the print bed that the probe can't get to and hence there are some n

[2021-03-05 04:05] #21060 closed, assigned to nobody

[2021-03-05 04:53] galluccib opened #21256 "cold extrusion prevented -"

[2021-03-05 05:34] #21256 closed, assigned to nobody

[2021-03-05 06:56] X-Ryl669 commented on #21244
@simonszu Can you try with the original configuration (2 serial ports) and the latest bugfix branch to report if the issue is solved ? Thanks!

[2021-03-05 08:25] AndKe commented on #20649
Please implement XDA-Bam 's conclusion.

[2021-03-05 08:46] thisiskeithb commented on #20649
We're accepting [Pull Requests](https://marlinfw.org/docs/development/getting_started_pull_requests.html)!

[2021-03-05 08:52] Vertabreak commented on #20649
would be happy to submit a comment change what exactly should it say.
something to the effect of linear advance may require adjustment of default_ejerk?
perhaps a if condition that switch's the value when linear advance is enabled?
come up with the most ideal way to handle it and ill put in the request should others be unable to them self.

[2021-03-05 09:22] XDA-Bam commented on #20649
I'd suggest a warning in the style of
[code]

[2021-03-05 09:30] Vertabreak commented on #20649
sounds like more of sanity check something like the following.

`#if ENABLED(LIN_ADVANCE) && DEFAULT_EJERK<10

#error DEFAULT_EJERK less then 10 results in issues when LIN_ADVANCE is enabled.

#endif`

is this the consensus and is is universally true,

[2021-03-05 09:36] thisiskeithb commented on #20649
It's not universally true, so I'd change it to a #WARNING instead of an #ERROR and word it suggesting that users *may* experience issues. There will probably be configs from the Configurations repo with settings that will cause builds to fail with that #ERROR as well.

[2021-03-05 09:42] Vertabreak commented on #20649
so we are leaning more to something like.

[code]
are we thinking sanity check or should this be added to the lin_advance config section.
when we have a consensus on how it should be handled i can then submit it see what thinkyhead has to say about it.

[2021-03-05 10:05] albert2004 opened #21257 "PROBE_MANUALLY with optical endstop at non-0 position misbehavior"
I have CoreXY printer with optical Z-endstop that is above nozzle. Currently, endstop is 9.8mm above nozzle.
With following configuration, manual probing is misbehaving:
[code]
Note: SW Z-endstop is disabled

What is going wrong:
- After G28 command, printer stops at endstop position with indication: 4mm
- above can be tuned by M206 - Home offsets (M206 Z9.8)
- above do not work during manual prob

[2021-03-05 13:07] ellensp commented on #21246
So this was user error? can we close it then?

[2021-03-05 15:18] peteromo500 opened #21258 "[FR] (Azteeg X3/ X3 Pro Configuration File)"
Hey, I'm new to 3-D printing, and I was hoping that the developers could make a configuration for the Azteeg X3 and X3 PRO. I have been trying to do the configuration manually, and I come up with endless errors. I know that there are hundreds of configurations available, but only one for Azteeg. I don't know if this is the best place to post this request, or if I could ask a developer directly, bu

[2021-03-05 15:47] bill-orange opened #21259 "[BUG] New warning generated with PR#21254"
Bug Description:

Bug Description: compilation is successful with BugFix but with this warning at the beginning of the compile.

Can not remove temporary directory C:\Users\William\Documents\Marlin\Marlin.pio\build. Please remove it manually to avoid build issues

Manually deleting the build folder makes no difference. Compiling for a different microcontroller makes no difference. Compilation with

[2021-03-05 17:26] ManuelMcLure commented on #20649
From my reading of the code, when using Linear Advance with Junction Deviation `DEFAULT_EJERK` is completely ignored and the E jerk is calculated using:
[code]
So I can't see how changing `DEFAULT_EJERK` would have any effect on this case.

[2021-03-05 17:40] thisiskeithb commented on #21259
Find the `LPC1768_btt_skr_v1_4` section in `platformio.ini` and update as follows:

[code]

I put in a PR with the fix as well: https://github.com/MarlinFirmware/Marlin/pull/21261 (thanks @rhapsodyv!)

[2021-03-05 17:47] DrumClock commented on #21107
Hi @thinkyhead
someone uploaded an old file there .... \ src \ module \ endstops.h

[2021-03-05 19:00] espr14 opened #21262 "[FR] Move StallGuard into Endstop"
### Description

StallGuard is turned on and off no matter of endstop state (enabled). This causes more complex code and possible issues in the development.

### Feature Workflow

I can put Stallguard control into Endstop.cpp. However, this would cause different (better) behavior:
1. Caller can pick which endstop to enable and which to disable (per axis).
2. Endstop keeps StallGuard always on if e