[2019-02-28 21:42] gloomyandy commented on #13274
So are you happy with using m22? If not you can try commenting out this line...
https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/Marlin.cpp#L1079
which I think will stop Marlin from mounting the SD card on boot.

[2019-02-28 22:15] boelle commented on #13273
the correct place for questions are discord and facebook

[2019-02-28 23:00] InsanityAutomation commented on #13273
Also, for reference in Marlin 2.0 `Configuration.h` … `#define NUM_RUNOUT_SENSORS   3`

And
[code]

[2019-02-28 23:05] InsanityAutomation commented on #13201
I guess the question stems more with how to handle examples for EXTui. Should the lib folder be placed in the machine example configuration with configuration and configuration_adv or should the EXTui chunks be managed in a separate repository to avoid growing size.

Which also brings up a question, should the config dir with default and examples be moved up above or into the Marlin folder for bet

[2019-02-28 23:51] ZS1FJK commented on #13167
@marcio-ao I have eventually finished the wiring. I ran out of connectors so had to order. Waited a week. Perks of living in a third world country :P. Any way i have manged to plug everything in and get the screen working. I never tested the SD card. Its not working I looked in the archim pins.h file and saw the SD Detect is only defined in the one screen.

[code]

Should i open a new issue or am

[2019-02-28 23:58] Andrei-Pozolotin commented on #13274
1. M22 works fine, thank you.

2. is there analog of smoothieware `on_boot.gcode`, see: http://smoothieware.org/sd-card

3. would it make sense to expose "sd auto start" behavior, i.e. convert from:
[code]
into user-controlled setting:
[code]
[code]
?

[2019-03-01 00:25] Cr3470r commented on #9696
@boelle  My issue was a hardware failure. Turned out to be a faulty mosfet.

[2019-03-01 04:59] SliceEngineering commented on #13271
@boelle great! Thanks for the explanation. Is there a way for me to know definitively when the merge has been completed?

RE: water cooling. We don't have a publicly announced date for launch yet, unfortunately. Mosquito does actually make it possible to print Ultem/PEI/PEEK in a heated chamber with only air cooling - heat break is that good. We have some medical device and automotive customers do

[2019-03-01 06:32] boelle commented on #9696
Then maybe click close below?

[2019-03-01 07:57] thinkyhead commented on #13257
Getting closer…. I would suggest scrutinizing the LCD init sequence. Maybe there's something different about the command-set for this display…?

[2019-03-01 08:00] thinkyhead commented on #13202
`Z_MIN_PROBE_ENDSTOP` has been removed. The only option now is to enable `Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN` or to not enable it. It might be renamed to something like `Z_PROBE_IS_Z_ENDSTOP` in future, if this better captures the full meaning of the option.

[2019-03-01 08:05] boelle commented on #13202
will there also be an option to spec what pin to use as probe? just to support those boards with seperate probe connector?

[2019-03-01 09:12] AnHardt commented on #13257
The interesting part of the story is

but reinitialising does not help. (Or don't we reinicialising any more?)

That makes a software problem unlikely.
Maybe interupted data transfer?

What are you doing in this 1-2 minutes?
Try to do nothing. No fan, no stepper, no heater activity - to minimize electrical noise and jitter in I2C timing.

Or can it be a heat problem? Also unlikely when powered and

[2019-03-01 09:24] AnHardt commented on #13202
@thinkyhead
That would express better the implications:
* There is no z-min-endstop
* Use the probe for homing to z-min.

But non't ask me for names: I already suggested too many of them in that complex. All reverted or ignored. :-(

[2019-03-01 09:42] obertr0n commented on #13257
@AnHardt My setup is just the SKR board, the standalone OLED + encoder on a breadboard + a stepper driver and a stepper motor.
This happens every time, regardless of doing something on the board or not.

If it was an interruption in the data transfer, shouldn't  it restore to normal, even for a small period when a new refresh is done?

I just tested without doing anything, without the stepper driv

[2019-03-01 10:06] AnHardt commented on #13257
Try some of the u8g-lib examples on the same hardware to find out if it's a Marlin problem or not.

[2019-03-01 10:21] obertr0n commented on #13257
Just checked with a 128x32 display, no change in code and after some time the same happened.
I will still poke around to see if I can find something.

[2019-03-01 12:23] ShohninDmitriy commented on #13257
It seems the problem is in the chip and the poor implementation of the I2C Protocol as even in the Klipper the same problem with hanging. And Smoothieware doesn't even support I2C in any way.

[2019-03-01 13:10] InsanityAutomation commented on #13271
@SliceEngineering It was merged last night so all good!

I'm in the automotive category there. I'm a controls engineer.

[2019-03-01 14:37] InsanityAutomation commented on #13271
@SliceEngineering side note - You guys going to be at RAPID this year?

Edit : Also, please test this with your thermistor and if it looks correct, go ahead and close out this issue.

[2019-03-01 15:04] #9696 closed, assigned to nobody

[2019-03-01 15:56] ZS1FJK commented on #13167
@marcio-ao I have eventually finished the wiring. I ran out of connectors so had to order. Waited a week. Perks of living in a third world country :P. Any way i have manged to plug everything in and get the screen working. I never tested the SD card. Its not working I looked in the archim pins.h file and saw the SD Detect is only defined in the one screen.

`#if ENABLED(ULTRA_LCD)
  #define BEEPER

[2019-03-01 16:40] SliceEngineering commented on #13271
Fantastic! Thanks for the quick work guys. I'll announce the compatibility on the socials today.

Awesome! I'd love to talk automotive :) We will be at RAPID - sharing some table space with Matterhackers

[2019-03-01 17:32] InsanityAutomation commented on #13271
@SliceEngineering Then Ill see you there im sure, Im only 20 minutes away this year so itd be pretty bad if I didnt make it lol

[2019-03-01 17:48] lunar711 opened #13279 "[FR] G60/G61 - Save and return to position"
### Description

### Steps to Reproduce

1. [First Action]
2. [Second Action]
3. [and so on...]

#### Additional Information

* Provide pictures or links that demonstrate a similar feature or concept.
* See [How Can I Contribute](#how-can-i-contribute) for additional guidelines.

[2019-03-01 17:57] p3p commented on #13274
auto0.g will be executed at boot if found.

I'm not sure why the autostart feature is disabled with an LCD, but having a config option for it doesn't seem unreasonable, @thinkyhead may know more about why it is setup that way.

I'm thinking about using the M997 gcode as a reset command, on the lpc1768s it will be a firmware update if a bin is available so it is using it correctly .. mostly

[2019-03-01 18:00] lunar711 opened #13280 "[FR] G60/G61 : Save and return to position; G1 R : Goto saved position"
### Description

`G60` saves the current position to a memory slot and `G61` moves to one of the saved coordinates at a specified feedrate.

### Usage

A "custom tool script" will contain `G60` to save the current tool position. At the end of script a `G61` moves the extruder to the saved coordinate from `G60` at a specified feedrate.

1. `G60`  (saves current coordinates)
2. (other gcode commands

[2019-03-01 18:12] boelle commented on #13279
dublicate of #13280

please close

[2019-03-01 18:13] boelle commented on #13280
attach 2 config as zip file

[2019-03-01 18:22] lunar711 commented on #13280
Uh sorry but i don't understand you (as in which config file)?

[2019-03-01 18:23] gloomyandy commented on #13197
Quick update. @p3p has included this serial code as part of the LPC1768 framework 0.1.0 so no need for steps 1 and 2 above. You may need to force an update of the platformio libs by restarting vscode or using: "platformio update", there may be other ways to do this!

[2019-03-01 18:29] #13279 closed, assigned to nobody

[2019-03-01 18:30] boelle commented on #13280
did you read the template when you created the issue?

clearly not since you did not bother edit the title

it's not even clear if this is a question or bug report or a request for a new feature

[2019-03-01 18:32] lunar711 commented on #13280
Oh I'm very sorry! I meant this to be a request for a new feature.

[2019-03-01 18:45] ghost commented on #13280
No harm meant, but you seem to take this really personally and you probably don't want to bark every time someone does a mistake or simply isn't familiar with how issues "really work" and what they're meant for.
I think "issues housekeeping" is fine as long as it doesn't come with an attitude.
Also, did you consider "moving every non-bug related issues" to mediums such as discord and facebook grou

[2019-03-01 18:49] lunar711 commented on #13280
Well I did make a glaring mistake so you can't get angry on "boelle"...

[2019-03-01 18:57] boelle commented on #13280
and i might have sounded angry or pissed, but i just keep seeing the same mistake over and over

sadly i do come with an attitude, sometimes it's very little and sometimes it  to much. nobody is complete

about questions... that is not me that invented that discord and facebook are for those places, others made that and i just think its an great idea

[2019-03-01 19:10] GriffinPaquette commented on #13197
@gloomyandy excellent news. Should be trying it within the next few days.
Thank you for your work on this!

[2019-03-01 20:42] ZS1FJK commented on #13167
I am not finding the `LULZBOT_Unsupported_ArchimTAZ6` in the `Configuration_lulzbot.h` file. has it been removed ?

[2019-03-01 20:55] aganov commented on #13197
@gloomyandy Meanwhile `SKR v1.3` is released with "no-wire" support for `TMC2208`. As I can see [here](https://github.com/bigtreetech/BIGTREETECH-SKR-V1.3/blob/master/Wiring%20diagram/SKR%20V1.3-TMC2208-UART-Mode.png) and [here]( https://ae01.alicdn.com/kf/HTB19NSeJsbpK1RjSZFyq6x_qFXa7/PreSale-BIGTREETECH-SKR-V1-3-3D-Printer-Controller-Board-ARM-32-Bit-Mainboard-TMC2208-Compatible-Smoothieboard.jp

[2019-03-01 21:22] gloomyandy commented on #13197
1 pin mode should be fine, though it may need extra code to set the other pin into a suitable state. I've also got a V1.3 board on order so will be able to test with it.

Oh and you should still be able to use this code in two pin mode, I've just not tested it. The 1 pin operation is of most benefit on boards like the V1.1 that have limited pins available.

[2019-03-01 21:27] #13179 closed, assigned to nobody

[2019-03-01 21:38] obertr0n commented on #13257
@ShohninDmitriy If this would be the case I would've expected to have it as a known bug. Or maybe there are not that many users of this small OLED displays.

[2019-03-01 22:38] mr-miky commented on #10787
The first problem, but I have not tried, has been fixed in the latest version of stm32Generic.
The PWM fixed as suggested above works but still has problems with the servo library.

[2019-03-01 23:05] marcio-ao commented on #13167
It's not listed in Configuration_LulzBot.h, but you'll find it in Conditional_LulzBot.h

As for the pins file, make sure you are looking at pins_ARCHIM2.h rather than pins_ARCHIM1.h. Our FW has been configured for the Archim 2. If you want to use an Archim 1, you may need to change things a bit.

[2019-03-02 00:50] amrithmmh commented on #11415
I think you are supposed to give save eeprom and then save eeprom
Also reset the board after flashing

[2019-03-02 00:53] amrithmmh commented on #10394
@boelle its a feature request rather than a question

[2019-03-02 00:53] #10394 closed, assigned to nobody

[2019-03-02 00:55] amrithmmh commented on #10290
@boelle not solved my problem but understood that there is  a queue

[2019-03-02 00:55] #10290 closed, assigned to nobody

[2019-03-02 02:27] p3p commented on #13274
@Andrei-Pozolotin M997 support is now merged, you can use it to reset after transferring the firmware to the sd card.

[2019-03-02 03:49] SliceEngineering commented on #13271
@InsanityAutomation awesome! Please come by and introduce yourself!

[2019-03-02 04:17] ruggb commented on #13245
Yes, I thought I did close it.
thanks

[2019-03-02 04:17] #13245 closed, assigned to nobody

[2019-03-02 05:59] vallentinc commented on #11415
I Did that. Read initial description. M502, M500, M501. Also tried from LCD...

[2019-03-02 08:01] ZS1FJK commented on #13167
@marcio-ao Sorry about that marcio-ao . I am new to the hole github and repository thing. I downloaded the GitHub desktop app but did not select the correct branch. HAHa . Ill drink more coffee from now on. :P

[2019-03-02 09:12] ZS1FJK commented on #13167
@marcio-ao
Marcio-ao I have found something but not sure on how to report it to you. Also i am compiling using Arduino IDE and its not compiling will see what i can figure out there.
Thank you for you awesome support so far.

[2019-03-02 09:37] RicardoEmePe commented on #12930
Thanks, I'm very happy to resolve the problem wiht your help. I had a Tevo Flash with this issue. Now my Lcd is how it should have been from the beginning. Many thanks.

[2019-03-02 09:47] hussainsail2002 commented on #13060
Yes I think that you are correct. Because once the print starts I can  pull out the filament from sensor and disable it , and nothing happens to the print. If I disabled run out sensor before the print starts then it pauses.

[2019-03-02 12:55] timh0r commented on #13197
so we don't need anymore interruptable pins with that ?
i need to move from standalone to uart mode on my mks sgen :)

[2019-03-02 13:02] Msq001 commented on #13197
Yes. interruptable is not necessary.  See the method mentioned above by gloomyandy

[2019-03-02 13:46] Msq001 commented on #13197
@gloomyandy Thank you for your work, and do I need to close this issue?

[2019-03-02 13:51] amrithmmh commented on #11415
but i did what @Sanitar777  suggested and it worked for me (not a fix but a workaround)

[2019-03-02 14:10] sky4fly opened #13285 "Dual Zone Heatbeds on the RURAMPS4D board does not work"
Hello

I want to set up Dual Zone Heatbeds on the RURAMPS4D+arduino DUE control board with Marlin 2.0 firmware

I have
1) RURAMPS4D 1.3 control board that supports dual heatbeds.

2) Two heating beds for 220V and two thermocouples.

Task
1) connect the Heatbeds to the board and control the heating of the two zones through the G-code or via the Simplefly 3d interface.

Google did not help, the one

[2019-03-02 15:20] VanessaE commented on #13197
@gloomyandy so, I think I get it now, but can you summarize the state of 2208 support on SKR 1.1, for those of us who don't speak code? :wink:

[2019-03-02 16:01] gloomyandy commented on #13197
There is a new SoftwareSerial implementation for LPC1768 based boards. This new version can operate with TMC2208 drivers using just a single pin per driver and that pin does not need to be interrupt capable. The driver should also work with the TMC2208 in two pin mode, but this has not been tested. The new driver is now included as part of the LPC1768 framework and so should "just work" if you con

[2019-03-02 17:29] jmdearras opened #13287 "[BUG] M190 fails in 3/2/19 pull of 2.0.x"
### Description

latest code ignores M190 wait for bed heat goes straight to Hotend heating.

M140 S60
M190 S60
M104 S235 T0
M109 S235 T0
PID enabled for both.

### Steps to Reproduce

1. start print
2. note bed and hotend temps set at the same time
3. print starts when hotend is at temp, bed still warming

**Expected behavior:** [What you expect to happen]
should heat bed before heating hotend
**

[2019-03-02 17:30] Andrei-Pozolotin commented on #13274
1. M997 works great, thank you.
2. please review #13288

[2019-03-02 17:47] Alissonverd commented on #11612
@boelle no, all working fine now!
Thank you

[2019-03-02 17:56] boelle commented on #11612
remember to click the close button below :-D

[2019-03-02 17:56] FernandoGarcia commented on #13287
I have experienced the same problem right now with latest Bug fix 2.0.

[2019-03-02 17:57] boelle commented on #13287
@jmdearras remember to edit title to include a description and then attach your 2 config files as a zip file

[2019-03-02 17:59] boelle commented on #13287
but maybe your "issue" is not an issue but your own error, this is how i do start code and it heats the bed first and then nozzle

M851 Z-0.215
G28 Z; Home Z
G28 Y; Home Y
G28 X; Home X
G29
M140 S[first_layer_bed_temperature] ; set bed temp
M190 S[first_layer_bed_temperature] ; wait for bed temp
G92 E0 ; zero the extruded length
G1 X50 Y0 F3000 ; go to the middle of the front
G1 Z0.1 ; close to th

[2019-03-02 18:04] #11612 closed, assigned to nobody

[2019-03-02 18:05] PurelyAbrasive commented on #13112
I have downloaded the latest 2.0 version and it still appear to be not working.  I run G28 and G34 and it goes to my probing points and it still only moves my right side down each time.  It will not move the bed up at all.  I have even aligned the Z steppers by hand and it still moves the bed down each time I run G34 to the point it completely out of alignment.

[2019-03-02 18:09] kAdonis commented on #13287
I can confirm, the issue exists!

[2019-03-02 19:15] gloomyandy commented on #13112
Are you sure you just don't have the two Z axes the wrong way around? Have you tried swapping them over by simply exchanging the two Z cables? I've been using `G34` with no problems with 2.0.x, I originally had the drives the wrong way around and had the same problem you are describing.

[2019-03-02 19:21] gloomyandy commented on #13287
What branch of Marlin are you using "latest code" does not really tell us. Also when did you download the branch? Have you been using an older version before that worked? How old was that working version.

@kAdonis same questions for you...

[2019-03-02 19:22] jmdearras opened #13289 "[BUG] delta xyz motion slow and jerky xy with junction deviation"
### Description

junction deviation on causes XY to move very slowly and jerky.  They reach the proper location.
z is jerky with or without junction deviation.   This was all working fine with 2/24 code.

### Steps to Reproduce

1. compile with junction deviation enabled
2. load defaults (otherwise, old jerk settings remain)
3. move axis manually, note slow, jerky, movement.
4. if you then enter j

[2019-03-02 19:25] jmdearras commented on #13287
current as of this morning.  Yes, all older versions worked., worked yesterday on 2/24 code.

[2019-03-02 19:25] FernandoGarcia commented on #13287
I have downloaded the code today and it works fine with version of 20/01/2019.

[2019-03-02 19:34] jmdearras commented on #13287
Meanwhile, is there a way with git ( I am not Git literate) to pull the branch at a specific date?  I need to get the printer back on line.

[2019-03-02 20:00] FernandoGarcia commented on #13287
You can work even with this error just heat up the bed before start printing.

To download the code from specific point.
Browse [commit list](https://github.com/MarlinFirmware/Marlin/commits/bugfix-2.0.x) and select one. So on top right corner select "browse files". Then download the code.

[2019-03-02 20:02] kAdonis commented on #13287
I found the problem, I prepare a PR

[2019-03-02 20:06] jmdearras commented on #13289
reverted to 2/24 code, and all is well.

[2019-03-02 20:28] jmdearras commented on #13287
thank you!  I reverted to 2/24ish and I'm back printing!  The other bug I posted has no workaround I can find.

[2019-03-02 21:04] sdtom commented on #11845
this is the first time using bugfix 2.0.x branch. after migrating my printer config over, I am having a 'worse' issue at about the exact point.  Z access, immediately after homing Z successfully (around when tool change happens), the Z drive just runaway drives itself into the bed.  So the Z goes down, touches off endstop, goes back up, goes down again at the slower speed.. after it stops on endst

[2019-03-02 21:12] boelle commented on #11845
when time allows maybe attach the 2 config files as a zip file, it might be that @thinkyhead can use it and figure where things go wrong

[2019-03-02 21:59] boelle commented on #13287
i can also find the commit that will pring you back to 2/24

but i assume its 2/24 in us format which in europe ig 24/2-2019

[2019-03-02 22:00] boelle commented on #13287
https://github.com/MarlinFirmware/Marlin/tree/92a4984066bcb0e157d7e1c7c5421de4c1fd684f

that is the last commit on 24/2-2019

[2019-03-02 22:02] boelle commented on #13289
do you mean core xy ?

[2019-03-02 22:06] boelle commented on #13285
marlin does not support 2nd heat bed which is needed to make it work

so you should change title to: [FR] Dual Zone Heatbeds

you dont have to mention Ruramps as this can work on all board as long there is a free control pin and a free input for a thermistor

[2019-03-02 22:06] p3p commented on #13289
Can you confirm that with platformio up to date (using lpc176x framework 0.1.0), you have no issue with a build using Marlin from 24th feb but a build from today has problems.

[2019-03-02 22:07] boelle commented on #13285
also remove the zip file, since this is now a feature request we dont even need the config files

you can in fact remove all text after your picture

[2019-03-02 22:11] boelle commented on #13285
you can replace text before picture with:

Hello

I want to set up Dual Zone Heatbeds on the RURAMPS4D+arduino DUE control board with Marlin 2.0 firmware

Hardware:

RURAMPS4D 1.3
Two heating beds
two thermocouples.

My feature request is  similar to #4112

What I changed in marlin 2.0 so far:

In pins_RURAMPS4D_13.h i have added

#define HEATER_BED2_PIN 6 // BED H2
#define TEMP_BED2_PIN 0 //

Can

[2019-03-02 22:13] boelle commented on #13289
@p3p a build from today is his problem, but a build with code from 24/2-2019 does work

[2019-03-02 22:15] boelle commented on #13289
same discovery in https://github.com/MarlinFirmware/Marlin/issues/13287

24/2 works  but not the code as of today, but in https://github.com/MarlinFirmware/Marlin/issues/13287 a PR is waiting to be merged

[2019-03-02 22:24] RudyBenner commented on #13112
[code]

[2019-03-02 22:29] #13287 closed, assigned to nobody

[2019-03-02 22:30] jmdearras commented on #13289
sorry, "causes x and y"

[2019-03-02 22:35] jmdearras commented on #13289
how would I check the version in platformio?  I believe I am current.

[2019-03-02 22:39] boelle commented on #13289
how to check version

click 2nd last icon to the left

![image](https://user-images.githubusercontent.com/3832239/53688452-7ca88480-3d44-11e9-9a3c-4a7489628121.png)

[2019-03-02 22:40] #13274 closed, assigned to nobody

[2019-03-02 22:41] boelle commented on #13289
if you click the small gear wheel you get an option that say install other version, that brings up a list of versions and 1.6.0 is on top and in () it says current version meaning there is nothing never than 1.6.0

[2019-03-02 22:42] boelle commented on #13289
same with c/c++ current version is 0.21.0

[2019-03-02 22:44] jmdearras commented on #13289
framework-arduino-lpc176x | framework |   | >=0.0.2 | 0.1.0

[2019-03-02 22:44] theinternal commented on #13266
Thanks to everyone (!) for their input!

I tried fiddling around with a breadboard, some cables and a 74LS04 inverter (as suggested by @AnHardt (thx)) but due to my lack of experience I couldn't get this approach to work (the probe's signal gets "drowned" when I process it through the IC and I end up with a constantly open or triggered state, according to the firmware configuration no matter what

[2019-03-02 22:44] #13266 closed, assigned to nobody

[2019-03-02 22:46] boelle commented on #13289
in general it updates automatic but it can never hurt to check

[2019-03-02 22:46] boelle commented on #13289
what does this mean? just a bit confused here

[2019-03-02 22:47] jmdearras commented on #13289
this is a different issue than the heat issue.

copy-paste of the version.  lpc176x is 0.1.0

[2019-03-02 22:48] boelle commented on #13289
yes but they have a thing in common :-D

[2019-03-02 22:50] jmdearras commented on #13289
what?  I looked at the heat fix.  How would it affect this?  I don't doubt you, but I don't see the connection.

[2019-03-02 22:50] boelle commented on #13289
the thing in common is that version from 24/2-2019 works and todays code dont work, that is the thing in common

[2019-03-02 22:51] boelle commented on #13289
how is that we find framework version? i cant find it and want to check so i'm also updated

[2019-03-02 22:59] p3p commented on #13289
I just type `pio update` but from inside Visual Studio Code you click on the alien head and then Update All

Thanks for checking I wanted to make sure my framework release from yesterday wasn't having any side effects, but if 24th feb works with the new framework it's not that.

[2019-03-02 23:00] boelle commented on #13289
update of platform io core

![image](https://user-images.githubusercontent.com/3832239/53688636-36a0f000-3d47-11e9-9daa-89ada92436eb.png)

click the alien icon and then upgrade io core (last item)

[2019-03-02 23:01] boelle commented on #13289
frame work does not change, (or it should not) i think its something in the code... just as with the other issue you opened

[2019-03-02 23:02] megamih commented on #13263
Hi @ShohninDmitriy ,

Looks like I have similar issue with mks_robin (platform: ststm32; board: genericSTM32F103ZE; framework: arduino). And for me issue is in toolchain-gccarmnoneeabi package version "1.80201.190214". I replaced it with, I believe, previous version toolchain-gccarmnoneeabi-windows-1.70201.0 from https://dl.bintray.com/platformio/dl-packages/ - and it compiles.

Best regards,
Alex

[2019-03-02 23:05] boelle commented on #13289
thanks :-D  worked just fine and yes i was not fully updated

![image](https://user-images.githubusercontent.com/3832239/53688694-1887bf80-3d48-11e9-9f3b-63a729c9ca6b.png)

[2019-03-02 23:23] kAdonis commented on #13289
To find the installed framework version in PlatformIO, you have to dig through the menus.
Click on the alien head
then on
![image](https://user-images.githubusercontent.com/35379348/53688831-69001c80-3d4a-11e9-8254-a77ef7f3568c.png)

scroll down to NXP arduino LPC176X
and click on this (right side)
![image](https://user-images.githubusercontent.com/35379348/53688795-9e583a80-3d49-11e9-8a2d-bfef6c5

[2019-03-03 00:44] XBrav commented on #13041
Apologies @boelle, I've been out of town for a bit. I will look into it this weekend.

[2019-03-03 00:44] XBrav commented on #11640
I'll try it out this weekend and see if it is sorted out. Thanks!

[2019-03-03 00:54] RudyBenner opened #13291 "M190 broken?"
Can someone check to confirm that M190 is broken. It does not wait.
I have tried previous backup config files, so I do not believe I broke it.
Bugfix2.0.x Gen_L

[Feb 27.zip](https://github.com/MarlinFirmware/Marlin/files/2922645/Feb.27.zip)

[2019-03-03 01:02] kAdonis commented on #13291
It was broken, but fixed now
Just download current version

[2019-03-03 01:07] RudyBenner commented on #13291
Will do, I thought I was losing my mind.

[2019-03-03 01:10] #13291 closed, assigned to nobody

[2019-03-03 01:12] #13041 closed, assigned to nobody

[2019-03-03 03:08] narsil8 opened #13292 "mks1.4 + tmc2130 spi after the update crazy autohome movement. what can i do?"
### Description

For your information, I have no experience in coding, and I am an absolute beginner.
Last weekend I upgraded my Prusa-based 3d printer to the mks1.4 board tmc2130 spi version. Before the upgrade, the a4899 step motor driver was in use on the mks gen L 1.0 board.

As a result of dangling from Google, the step motor on each axis was successful in the host program.
There is nothing w

[2019-03-03 03:48] whimsycwd commented on #10341
Very informative discussion! Really helpful.

Still, I have one problem.

Initial, it has `centripetal force` implementation, although disabled.
https://github.com/prusa3d/Prusa-Firmware/blob/3.0.7/Firmware/planner.cpp#L954

then change to new implementation,  and delete relate code.
https://github.com/prusa3d/Prusa-Firmware/blob/v3.0.8/Firmware/planner.cpp#L1028

Is it just a mistake made by Prus

[2019-03-03 04:04] thinkyhead commented on #10341
That comes from Marlin 1.0.0.

Marlin 1.1.6 or 1.1.7 adopted the jerk implementation from Prusa Firmware, but it's only recently that Marlin added the new tested and optimized version of Junction Deviation.

[2019-03-03 04:26] thinkyhead commented on #10394
This is not a feature we would add. But it's possible to do movement with buttons by hooking into the LCD code and following the technique currently used for the KEYPADs.

[2019-03-03 04:53] thinkyhead commented on #13280
Thanks for the request @lunar711 — I have an E3D Toolchanger and we have added some tool-changing support to Marlin already. However it is not as comprehensive as the support in RepRapFirmware, so we have some catching up to do.

That said, the `sys` and `macros` scripts for the E3D Toolchanger don't use `G60` or even `Tn Rn`. So I guess it's up to slicers to generate the needed G-codes on tool-ch

[2019-03-03 04:53] thinkyhead commented on #13280
http://forums.reprap.org is also suggested. We don't want to do user support on our issue tracker, and since we've begun being more strict about this and set up proper issue templates it has had a very positive effect on developer collaboration.

[2019-03-03 04:55] thinkyhead commented on #9696
Let's use this canned reply: "**If this issue is resolved, please click the close button below. Thanks!**"

[2019-03-03 04:59] thinkyhead commented on #13202
Yeah, that was done too.

[2019-03-03 05:20] thinkyhead commented on #7609
Do you use your probe for homing Z?
Are you using `G29` and saving the mesh with `M500`?

This should do the trick for you:
[code]
After this, you only have to use `M420 S` to enable leveling (in your starting G-code in your slicer).

[2019-03-03 06:04] timmit99 commented on #8413
@boelle this was over a year ago, I have since switched to Klipper on that machine and didn't even remember this was an open issue.

[2019-03-03 06:04] #8413 closed, assigned to nobody

[2019-03-03 06:17] thinkyhead commented on #13230
Let's see if #13293 helps.

[2019-03-03 06:31] thinkyhead commented on #13201
ExtUI-based devices should be adaptable to any machine with enough free pins, and should not be associated with configurations. I do believe they should live within the `lcd` folder as they are a part of the compiled sources.

Probably, I have been considering it, since they are not part of the actually-compiled sources.

[2019-03-03 06:43] thinkyhead commented on #13060
Filament runout is checked continually, and not just on E motion (for example), so it will get tripped anytime there is an active print job (sd card file started or print job timer running). If the filament sensor is not wanted, it should be turned off before starting the print. OFF may be the better default state. Then you can turn it ON in your first-layer G-code snippet when desired, and it won

[2019-03-03 06:47] thinkyhead commented on #10446
It sounds like a Slic3r issue. Please drop your G-code file on your next reply. You will need to change the file extension to "`.txt`" for Github to accept the file drop.

[2019-03-03 06:51] #13273 closed, assigned to nobody

[2019-03-03 06:56] thinkyhead commented on #12491
You may just be pushing the processor too hard. `S_CURVE_ACCELERATION` is hand-tuned assembler on AVR and yet still does use up a lot of time in processing. Do you ever see issues with lower movement rates? You may also want to try `ADAPTIVE_STEP_SMOOTHING` to see if it keeps the load down.

[2019-03-03 07:07] thinkyhead commented on #12704
It sounds like your G-code contains `G28` and `G29` and the power-loss resume is resuming the print from the beginning of the file instead of the last-recorded point. You should do a test while in dry-run mode and see if it restarts from the beginning or from some other point. Or, without need of dry-run mode, you could use a simple gcode like this for testing:
[code]
If you hear the beeps and get

[2019-03-03 07:11] thinkyhead commented on #12640
@Excaliburst — Actually, the reason for the error is Arduino 1.8.1. You need to update to 1.8.8 or later.

[2019-03-03 07:11] #12640 closed, assigned to nobody

[2019-03-03 07:13] thinkyhead commented on #10488
The original CR-10 board has 16K of SRAM. The CR-10S board has only 8K. So use the CR-10S configuration files as guide for good CR-10S settings, not the CR-10 configuration files.

[2019-03-03 07:13] #10488 closed, assigned to nobody

[2019-03-03 07:13] TB1405 commented on #12704
Yes you are right in my gcode is at the beginning g28 and g29 for autolevel function but why is this a Problem?
I will chech this and Report later.

[2019-03-03 07:18] thinkyhead commented on #12505
We have a lot more timers at our disposal on ARM, so maybe there's a timer-based solution that can produce more regular signals.

[2019-03-03 07:19] thinkyhead commented on #12704
Indeed, that is the question.

[2019-03-03 07:20] thinkyhead commented on #11845
Whenever there are homing or leveling issues, we now ask everyone to follow a standard procedure to gather more information so that we're not just taking stabs in the dark. Here is the boilerplate:

- Download Marlin `bugfix-2.0.x` to test with the latest code.
- Enable `DEBUG_LEVELING_FEATURE` and `M114_DETAIL` and re-flash the firmware.
- Connect to your printer from host software such as Cura,

[2019-03-03 07:25] thinkyhead commented on #13181
Correct.

It's certainly possible that a regression has occurred in the `MESH_BED_LEVELING` handling from the LCD. It was patched up and working well a while ago and it hasn't been touched directly since then.

I will give it a test soon and see if I can reproduce your issue.

[2019-03-03 07:28] thinkyhead commented on #13181
As part of your testing, please try `AUTO_BED_LEVELING_BILINEAR` with `PROBE_MANUALLY` to see if it has a similar result. (It's essentially the same.)

[2019-03-03 08:05] ShohninDmitriy commented on #13263
That's right, replaced the compiler and everything compiled, thank you very much.

[2019-03-03 08:27] jyzhkj commented on #13263
it's can't use for me.
[env:genericSTM32F103RE]
platform = ststm32
board = genericSTM32F103RE
framework = arduino

[2019-03-03 09:08] boelle commented on #13271
@SliceEngineering since this one is done maybe consider clicking close below?

[2019-03-03 09:47] ShohninDmitriy commented on #13263
[code]

[2019-03-03 10:18] petieken commented on #12930
I tried changing the contrast value in u8g_dev_uc1701_mini12864_HAL.cpp as the OP did but it didn't change anything for me unfortunately.

[2019-03-03 10:39] thinkyhead commented on #13264
Do you have your Z homing configured to probe once or twice? Do you have a Z raise configured for homing, high enough so that the probe is not already triggered when starting the Z homing move? This is important because these probes don't show up as continually triggered. They trigger when their state changes.

[2019-03-03 10:42] #12973 closed, assigned to nobody

[2019-03-03 10:44] thinkyhead commented on #12587
I'd like to have @nickaus's configurations for 2.0.x to see where the compile fails.

[2019-03-03 10:48] thinkyhead commented on #12658
Please do.

Without additional data we can only speculate. For proper troubleshooting we need to see log output, particularly what `M114` says at various points, after using level corners and before invoking `M600`, then after invoking `M600` with no parameters, and so on.

[2019-03-03 10:51] thinkyhead commented on #12922
That's for the n00bs, not for you!

[2019-03-03 10:52] #9179 closed, assigned to nobody

[2019-03-03 10:53] thinkyhead commented on #7023
- http://marlinfw.org/docs/gcode/G028.html
- http://marlinfw.org/docs/gcode/G029-abl.html
- http://marlinfw.org/docs/gcode/M420.html

[2019-03-03 10:58] thinkyhead commented on #8789
For additional help with configuration and troubleshooting, please use the following resources:

- RepRap.org [Marlin Forum](http://forums.reprap.org/list.php?415)
- [Tom's 3D Forums](https://discuss.toms3d.org/)
- Facebook Group ["Marlin Firmware"](https://www.facebook.com/groups/1049718498464482/)
- Facebook Group ["Marlin Firmware for 3D Printers"](https://www.facebook.com/groups/3Dtechtalk/)
-

[2019-03-03 10:59] #10320 closed, assigned to nobody

[2019-03-03 11:01] #12765 closed, assigned to nobody

[2019-03-03 11:02] #13263 closed, assigned to nobody

[2019-03-03 11:03] thinkyhead commented on #13285
We already have multiple heated beds (zones) on our TODO list.

[2019-03-03 11:03] #13285 closed, assigned to nobody

[2019-03-03 11:07] thinkyhead commented on #12733
Does the screen work properly with MK4Duo or other Due-compatible firmware?

[2019-03-03 11:08] #13238 closed, assigned to nobody

[2019-03-03 11:45] #12981 closed, assigned to nobody

[2019-03-03 11:49] thinkyhead commented on #11743
With SRAM always at a premium, it is preferred that all new features that use SRAM be implemented as optional features, and not be required/enabled for all setups.

[2019-03-03 11:49] #10075 closed, assigned to nobody

[2019-03-03 11:50] AnHardt commented on #13112
Maybe a negative `Z_STEPPER_ALIGN_AMP` could also do the job.

However. The used algorithm is probably not the best possible one.
Instead of a fixed factor one could calculate that from the difference between two sets of probings. Like in a 'Newton Approximation'. That is likely to converge much faster and would correct the factors sign automatically.

[2019-03-03 11:50] nickaus commented on #12587
Config files attached
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/2923061/Configuration.zip)

[2019-03-03 11:53] thinkyhead commented on #12890
For `G28` homing with the probe, `HOMING_FEEDRATE_Z` applies to the first move, and `HOMING_FEEDRATE_Z / HOMING_BUMP_DIVISOR` applies to the second (bump) move.

[2019-03-03 12:44] #9386 closed, assigned to nobody

[2019-03-03 12:49] thinkyhead commented on #6295
The max feedrate is related to the physical limit of the extruder when not pushing filament. It's unlikely we will add a separate limit for active extrusion. There doesn't seem to be a pressing demand to apply lower limit during active printing, and the risk seems to be exceedingly small.

[2019-03-03 13:24] thinkyhead commented on #12731
`M355` is the command to enable or disable the case light. Is that what Ender 4 users are also using? The case light may be connected to any free 12V fan or heater output, or use a 5V pin to a relay or MOSFET that passes 12V to the case light.

`M106` is the command to set the print cooling fan speed. If a light and fan happen to be on the same circuit, the light will come on with the fan.

We do

[2019-03-03 13:43] ghost commented on #7609
I’m not using a probe at all, leveling my glass bed with a feelergauge (0.08mm) so I expected (perhaps falsely) that setting Bed Z would result in effectively actually putting Z at 0 (0.08 nozzle offset + -0.08 Bed Z = Z0).

At the moment I just do the z offset through the slizer, but ideally I would do this on the machine itself to be able to adjust it on the go if needed without needing to resli

[2019-03-03 13:45] ShaggyDog18 commented on #12731
Good solution! Thank you!

[2019-03-03 13:46] lunar711 commented on #13280
Thanks for the reply! I have checked out the E3D tool change code, but what g code initiates it to park and what gcode initiates it to return?

[2019-03-03 13:47] boelle commented on #12731
@ShaggyDog18 so problem fixed? or does it still need some work?

[2019-03-03 13:57] #13271 closed, assigned to nobody

[2019-03-03 13:58] ShaggyDog18 commented on #12731
I guess you may remove line 301 in config_adv.h - it is not necessary now..
 301:   //#define CASE_LIGHT_PIN ENDER4_FAN_PIN       // Override the default pin if needed

[2019-03-03 14:01] ShaggyDog18 commented on #12731
Though I have not tested it yet, theoretically, should work fine. Yes, you may close the case. Thank you.

[2019-03-03 14:03] boelle commented on #12731
so if it works without removing // then everything should be ok

only you can close by clicking close button below

[2019-03-03 14:10] #12731 closed, assigned to nobody

[2019-03-03 14:23] thinkyhead commented on #7609
We know. `MESH_BED_LEVELING` is the first clue.

You can use `M206 Z` to set an offset to your Z home position. If you find after homing that the nozzle is 2mm above the bed, then you would use `M206 Z2` followed by `M500` to ensure that the machine applies that correction after `G28`.

[2019-03-03 14:27] ghost commented on #7609
M206 sounds indeed like what I would expect Bed Z would also relate to. But as I understand from above responses these are different things right? Curious now, what the Bed Z setting actually does apply to then if it’s not a Z offset 🤔

[2019-03-03 14:28] thinkyhead commented on #12587
It compiles fine for me using your configurations. Be sure to use Arduino 1.8.8 or PlatformIO to build.
[code]

[2019-03-03 14:28] #12587 closed, assigned to nobody

[2019-03-03 14:32] thinkyhead commented on #7609
The "Bed Z" is an element of the `MESH_BED_LEVELING` feature. It's an additional factor applied to the physical Z position during printing when leveling is enabled. If the "Bed Z" value is negative the nozzle will be moved closer to the bed.

[2019-03-03 14:36] #12816 closed, assigned to nobody

[2019-03-03 14:36] ghost commented on #7609
Curious case then as now I’m wondering what it takes then to activate mesh bed leveling (which was enabled in config), running the guide for setting it up was done (with result 0.0 on all 9 points checked as the glass bed was already trammed with a feeler gauge at 0.08mm), yet Bed Z neither a positive or negative value changed anything.

[2019-03-03 14:36] #12824 closed, assigned to nobody

[2019-03-03 14:36] #12834 closed

[2019-03-03 14:37] #12838 closed, assigned to nobody

[2019-03-03 14:37] #12839 closed, assigned to nobody

[2019-03-03 14:39] #12841 closed, assigned to nobody

[2019-03-03 14:39] #12842 closed, assigned to nobody

[2019-03-03 14:40] #12843 closed, assigned to nobody

[2019-03-03 14:40] #12844 closed, assigned to nobody

[2019-03-03 14:41] #12852 closed, assigned to nobody

[2019-03-03 14:42] #12854 closed, assigned to nobody

[2019-03-03 14:43] #11853 closed, assigned to nobody

[2019-03-03 14:44] thinkyhead commented on #12792
Configuration of Z probes has been modified, along with commentary.

[2019-03-03 14:45] #12861 closed, assigned to nobody

[2019-03-03 14:46] #12862 closed, assigned to nobody

[2019-03-03 14:47] #12867 closed, assigned to nobody

[2019-03-03 14:48] #12872 closed, assigned to nobody

[2019-03-03 14:51] #12873 closed, assigned to nobody

[2019-03-03 14:51] #12875 closed, assigned to nobody

[2019-03-03 14:52] thinkyhead commented on #12898
Please test with the `bugfix-2.0.x` branch so we're all on the same page here. That branch contains all the latest patches.

[2019-03-03 14:54] #12899 closed, assigned to nobody

[2019-03-03 15:01] thinkyhead commented on #12905
Lower your Z acceleration, maximum speed, and Z jerk values. And/or reduce the micro-steps on your Z stepper driver to 16x or 8x. This should prevent the Z axis getting torqued to the point of sticking.

[2019-03-03 15:04] xgroelly commented on #12899
The new bugfix firmware solved the issue

[2019-03-03 15:05] thinkyhead commented on #12908
Marlin does always throw `MAXTEMP` if the temperature goes over the configured maximum for the hotend or bed. But it doesn't always watch the hotend to make sure the temperature is dropping when the target temperature is below the current temperature. It would be possible to add this functionality at the cost of some additional SRAM and CPU usage per temperature sensor.

[2019-03-03 15:06] #12910 closed, assigned to nobody

[2019-03-03 15:08] #12917 closed, assigned to nobody

[2019-03-03 15:08] #12918 closed, assigned to nobody

[2019-03-03 15:12] #12920 closed, assigned to nobody

[2019-03-03 15:12] #12923 closed, assigned to nobody

[2019-03-03 15:14] #10687 closed, assigned to nobody

[2019-03-03 15:15] #12925 closed, assigned to nobody

[2019-03-03 15:15] #12933 closed, assigned to nobody

[2019-03-03 15:16] #12935 closed, assigned to nobody

[2019-03-03 15:17] #12936 closed, assigned to nobody

[2019-03-03 15:17] #12941 closed, assigned to nobody

[2019-03-03 15:17] #12942 closed, assigned to nobody

[2019-03-03 15:19] thinkyhead commented on #7609
When in doubt, `M420 S1` will always enable leveling, and `M420` will tell you the current state.

[2019-03-03 15:20] #12651 closed, assigned to nobody

[2019-03-03 15:20] #12652 closed, assigned to nobody

[2019-03-03 15:21] ghost commented on #7609
Thank you, will look into it further later :) atm I have mesh leveling disabled again to save room for other features (darn melzi boards are low on storage).

[2019-03-03 15:21] #12657 closed, assigned to nobody

[2019-03-03 15:26] thinkyhead commented on #12659
See example configs. Add to `Configuration.h`:
[code]

[2019-03-03 15:26] #12659 closed, assigned to nobody

[2019-03-03 15:27] #12677 closed, assigned to nobody

[2019-03-03 15:27] #12679 closed, assigned to nobody

[2019-03-03 15:28] #12681 closed, assigned to nobody

[2019-03-03 15:32] #12685 closed, assigned to nobody

[2019-03-03 15:33] TVAVAE commented on #11871
No, not when I use it.

[2019-03-03 15:34] #12686 closed, assigned to nobody

[2019-03-03 15:35] #12688 closed, assigned to nobody

[2019-03-03 15:36] #12694 closed, assigned to nobody

[2019-03-03 15:37] #12699 closed, assigned to nobody

[2019-03-03 15:39] thinkyhead commented on #12722
@Phr3d13 — How goes the battle?

[2019-03-03 15:39] #12722 closed, assigned to nobody

[2019-03-03 15:39] #12725 closed, assigned to nobody

[2019-03-03 15:40] thinkyhead commented on #12714
HTH!

[2019-03-03 15:40] #12726 closed, assigned to nobody

[2019-03-03 15:41] #12727 closed, assigned to nobody

[2019-03-03 15:43] #10739 closed, assigned to nobody

[2019-03-03 15:45] #12736 closed, assigned to nobody

[2019-03-03 15:46] #12744 closed, assigned to nobody

[2019-03-03 15:46] #12754 closed, assigned to nobody

[2019-03-03 15:47] #12760 closed, assigned to nobody

[2019-03-03 15:50] thinkyhead commented on #12762
It sounds like planner starvation. All you can really do is lower your print speed until the symptom abates.

[2019-03-03 15:50] #12762 closed, assigned to nobody

[2019-03-03 15:51] #12776 closed, assigned to nobody

[2019-03-03 15:51] #12787 closed, assigned to nobody

[2019-03-03 15:52] #12791 closed, assigned to nobody

[2019-03-03 15:54] #12798 closed, assigned to nobody

[2019-03-03 15:56] #12947 closed, assigned to nobody

[2019-03-03 15:58] thinkyhead commented on #12980
A start and a stop within a short interval is bound to cause more juddering than a start, long move, and gradual stop. The solution is to do shorter moves at a slower nominal feedrate so they have adequate time to produce an acceleration curve.

[2019-03-03 15:58] #12980 closed, assigned to nobody

[2019-03-03 16:02] thinkyhead commented on #12995
A reboot indicates all the processor time is being used up. Reduce your maximum feedrates and/or your probing / homing feedrates, or reduce your micro-steps to 16x or less.

[2019-03-03 16:02] #12995 closed, assigned to nobody

[2019-03-03 16:03] p3p commented on #13289
@jmdearras can you close in on the day / commit where the problem starts happening, I don't see anything in the commit history that could directly cause a problem in this area.

[2019-03-03 16:05] thinkyhead commented on #12989
Marlin simply doesn't bounds-check the tool-change move. That still needs to be added.

[2019-03-03 16:06] #12954 closed, assigned to nobody

[2019-03-03 16:09] RicardoEmePe commented on #12930
Sure,I'm not the most prepared person to answer you, but I'll test it. The correct file is "u8g_dev_uc1701_mini12864.c", and usually is inside yours documents subdirectoy, arduino, library. In my case  "C:\Users\Ricardo\Documents\Arduino\libraries\U8glib_Arduino-master\src\clib". Once you change the value to 0x030, save the file, compile Marlin and upload it to your printer.  It works if MSK MINI1

[2019-03-03 16:14] #13003 closed, assigned to nobody

[2019-03-03 16:38] gloomyandy commented on #11871
A "fix" was applied but I do not believe it actually works. See this PR thread: https://github.com/MarlinFirmware/Marlin/pull/13013

This thread also includes two proposed solutions, neither of which have (as far as I know) been applied.

[2019-03-03 16:49] gloomyandy commented on #11871
Perhaps @thinkyhead could review the PR?

[2019-03-03 17:06] joris57 commented on #10200
@boelle No opportunity to test at the moment, so I'll close the issue.

[2019-03-03 17:06] #10200 closed, assigned to nobody

[2019-03-03 17:11] joris57 commented on #10180
@boelle With all due respect, but I've not seen any progress on this and, more disappointing, not even the recognition of the issues with the current approach. I'll close the issue.

[2019-03-03 17:11] #10180 closed, assigned to nobody

[2019-03-03 17:23] sdtom commented on #11845
Fixed my problem, wasn't homing.. it was tool change.. I had transferred my hotend_offset_x as hotend_offset_Z--- user error :)

However, reporting on to this original error, it is still there.. no change in behavior in this sequence:
Tested bugfix-2.0.x @ d71dc5 (latest per this morning)

Given in Configuration:
`#define HOTEND_OFFSET_X {0.0, 34.00} // (mm) relative X-offset for each nozzle`

Thi

[2019-03-03 17:25] AnHardt commented on #8992
//#define DEACTIVATE_SERVOS_AFTER_MOVE

[2019-03-03 17:47] MSpencer0 opened #13300 "[BUG] Babystepping causes freeze on delta printer with marlin 2.0.x bugfix but not on older 1.1.x versions - caused by wrong calc with MINIMUM_STEPPER_PULSE and _PULSE_WAIT"
### Description

Compiling Marlin 2 bugfix for a ANET A4 delta (Melzi board with atmega 128k) and 20x4 LCD controller.

Activated babystepping with doubleclick feature during print as well as:
- NO_WORKSPACE_OFFSETS
   Update: independent if ON or OFF -> Problem still there
- MIN_STEPS_PER_SEGMENT set to 2 -> for 20um on a A4
- S-Curve active
-> Update: independent if ON or OFF -> Problem still th

[2019-03-03 17:54] HuguesDug commented on #12679
Hello,

I did not test the fix because I did not feel like trying to burn the machine a second time. But having read the code modification, I am sure it works.

Thanks for this security fix.

[2019-03-03 18:48] petieken commented on #12930
Thanks a lot for the pointer!
I'm using VScode and the file was in a different location. Under my documents there were only the files for the Arduino IDE, but I found the correct file under .piolibdeps. Changed the value to 0x030 and the contrast is fine now.

[2019-03-03 18:50] ManuelMcLure commented on #12632
Looks like the 1.3 version is now available for pre-order: [https://www.aliexpress.com/item/Presale-BIGTREETECH-SKR-V1-3-Control-Board-32-Bit-CPU-Smoothieboard-MKS-GEN-L-GEN-V1/32981807406.html](https://www.aliexpress.com/item/Presale-BIGTREETECH-SKR-V1-3-Control-Board-32-Bit-CPU-Smoothieboard-MKS-GEN-L-GEN-V1/32981807406.html).

It looks like the general GPIO pin connector originally labeled "LCD

[2019-03-03 18:57] fape commented on #12632
You can find more info for v1.3: https://github.com/bigtreetech/BIGTREETECH-SKR-V1.3

And there is pins.h in offical marlin 2.0 branch for v1.3 too: https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h

[2019-03-03 19:07] VanessaE commented on #12632
@ManuelMcLure  that's not a pre-order.  In fact, that's *sold out*.  The entire first run of boards - without driver modules - was gone from that listing within just minutes of the release (someone likely just bought the entire lot, minus a couple of orders that others got in just in time, just to resell somewhere else).

I managed to grab one from one of BigTreeTech's other store listings (they p

[2019-03-03 19:12] boelle commented on #13292
one thing you can do is using bugfix 2.0 to see if the error has not been fix'ed

next attach your 2 config files as s zip

[2019-03-03 19:15] ManuelMcLure commented on #12632
@fape Thanks for the link. Unfortunately unlike the SKR 1.1 wiring diagram the 1.3 diagram doesn't specify what processor pins correspond to which connector pins. For example, which connector pins correspond to the "special pins" at the end of the `pins_BIGTREE_SKR_V1.3.h` file? I just wish Bigtree had documented this better for those of us with "less standard" setups.

[2019-03-03 19:17] VanessaE commented on #12632
@ManuelMcLure it is documented:  https://github.com/bigtreetech/BIGTREETECH-SKR-V1.3/blob/master/hardware/SKR-V1.3-PIN.pdf

[2019-03-03 19:36] ManuelMcLure commented on #12632
Ah - I was looking at those special pins to be available, but it looks like they're in use by the on-board SD and the LCD connectors, so not useful as GPIO as far as I can tell. I'm still unclear as to the pins labeled XST/YST/etc. (the ones just to the left of the EXT2 connector) - those don't seem to have pin numbers unless they are the same ones used by XCS/YCS/etc.
I'm just looking for 5 pins

[2019-03-03 20:26] gloomyandy commented on #12632
I think you will find that the YST/XST pins are pin headers to allow the bridging of the TMC DIAG pins to the end stop inputs for use with sensorless homing etc. I think the XCS/YCS do not really refer to a single header but are documenting the chip select pins that are probably connected via the jumper pins under each stepper driver.

Unfortunately although there are many more pins in use on this

[2019-03-03 20:28] gloomyandy commented on #12632
Oh and before this discussion gets any longer it may make sense to create a new issue for the 1.3 board, as this one is already pretty long and confusing!

[2019-03-03 20:46] Lightpainter1 commented on #12632
Don't guess. Come an join our BIQU SKR User Group @

https://www.facebook.com/groups/247860246136776/264178671171600/?comment_id=265284987727635&reply_comment_id=265344611055006&notif_id=1551645728266379&notif_t=group_comment

We have all available documentation online here, and would sincerely like your opinions.

Michael E. Burk
Admin

[2019-03-03 21:18] comps commented on #12491
If you're referring to my issue, then I don't think it's a CPU issue - I do have those, but that usually results in stutter in movement, the decelleration here is part of a single-gcode move and is cut short prematurely and never finished (though the position seems to be correct according to the DRO on an LCD display, so no steps lost). The effect is less noticeable on slower feedrates (default `F

[2019-03-03 21:39] yarus23 opened #13303 "[BUG] Slic3r PE power loss feature Z height bug"
Slic3r PE every layer raise Z by 0.4mm then move XY then returns it back. Something like that:

[code]

So to handle this we need in function save_job_recovery_info() in line 217
[code]

`make current_position[Z_AXIS] != job_recovery_info.current_position[Z_AXIS]`

This is actual for 2.0 too (line 137)

[2019-03-03 21:54] boelle commented on #13300
remember to attach your 2 config files as a zip file

[2019-03-03 21:57] G-Pereira commented on #12744
Happening again with bugfix-2.0.x https://github.com/MarlinFirmware/Marlin/commit/d71dc5cf42c0055a553ec14d1a400a8e02c334ec

[2019-03-03 21:58] jmdearras commented on #13289
OK, it'll take a few days, busy with my job.

[2019-03-03 21:59] boelle commented on #12744
suggeastion from me is to open new issue

remember to attach your 2 config files as a zip file

[2019-03-03 22:10] Black6spdZ commented on #12632
@Lightpainter1 that would be great if FB allowed non-members to view.. I left that sh!t site a year ago and will never rejoin.

[2019-03-03 23:32] Lightpainter1 commented on #12632
Well FB doesn't, you can however turn off notifications. And your expertize would be most welcome.

[2019-03-04 06:01] michielbaird commented on #6199
I have a MK42 board I'd like to use in a non-prusa setup. So I've been looking around into perhaps doing this. There are some cool things happening here. The "sophisticated stuff" is all in how the skew, rotation and shift off center is calculated.
From and operational point of view, it'd need to store 6 additional floats in configuration and add a new option in the skew/unskew code.

* Two 2d cor

[2019-03-04 06:51] boelle commented on #6199
@michielbaird i think @thinkyhead is the one to talk to, but he is busy as hell so maybe just submit a PR against bugfix 2.0 and see what happens

[2019-03-04 08:59] dylanshock commented on #12632
Hello anyone try to use e3d pt100 amplifier board on skr 1.1? For work the board Need +5v gnd and free analogic PIN ..

[2019-03-04 10:33] j54n1n commented on #12613
Not really. I asked also in the Visual Micro forum (see: https://www.visualmicro.com/forums/YaBB.pl?num=1545386155/0#1) but it seems it is one of the expected results of VMicro. Basically with the .cpp file named in the same way as the .ino you can hide the cpp file for compilation.

 With the latest versions of Arduino IDE 1.8.8 and the Visual Micro plugin 1902.17 you can get it to compile if you

[2019-03-04 10:39] boelle commented on #12613
Not VMicro but vs code and platform io extension

Or arduino Ide 1.9

[2019-03-04 10:42] yashunandansureka commented on #7578
I am having a similar issue, i downloaded a copy of the marlin 1.1.9, and configured it to my delta, now when i go for the G33, the probe goes down and hits the bed, motors stall and then i get error, probing failed.

[2019-03-04 10:46] j54n1n commented on #12613
Ah ok, but in this issue we never talked about VS code and/or PlatformIO. @thinkyhead only mentioned them that he wants to support them instead of VMicro.

Since I am not using them I can give you no hints. Maybe you should try to open a new issue if you found some problem!?

[2019-03-04 10:50] boelle commented on #12613
Reason I asked was to find issues that where fixed but not closed. There where many.

But for this one I think we need @thinkyhead to have a look again

[2019-03-04 10:57] j54n1n commented on #12613
Yes, I agree

[2019-03-04 14:26] TwatBurglar commented on #11576
@drgrandios @SmarteedCS @jeffeb3 @boelle  How are you guys driving your laser pin now?   M3 or M106 (plus "fast fan update" revert as described above by @drgrandios)?

My other issue is getting more than 1khz on the PWM (laser needs ~20khz) with my Due board - does anyone have some wisdom on this?

[2019-03-04 15:32] nionio6915 commented on #10873
Is there any followup on this?  I see the parameters sin 2.0x config files, but I can not find any documentation on anyone using this yet.

Which of the Marlin code files do these get used in?  I would like to try and dig in to read up on this more.

[2019-03-04 15:53] 7eggert commented on #13265
There is a slim hope that I won't abandon my half-baked idea of supporting I²C PWM pins. (PCA9685).

[2019-03-04 15:58] coldtobi commented on #12096
@marcio-ao

I think I'll start a list too. Let me know if you prefer an extra issue for this...
Thos are things I came across when I hacking on the display support and I will edit it it when I come accross new things:

<strike>- M0/M1 -- (Userfeedback) I'd like to show a popup here with an OK button, so I'd need some kind of OnUserFeedbackRequired() and something to set the user feedback (if I sho

[2019-03-04 17:46] InsanityAutomation commented on #12613
We should modify the readme actually, 1.8.7 and newer is fine, no need to use the 1.9.0 beta anymore on the arduino ide.

[2019-03-04 18:35] tig33r opened #13309 "[BUG][2.0] Extruder motor does not work while printing (normally moving from menu)"
### Description

When I try printing from sd card after successfully heated bed and hotend printer is starting printing but extruder motor is not enabled (i can manually moving extruder).

When I preheat bed and hotend manually from menu, extrude some filament from menu (30 mm for example) and immediately start printing from sd card it printing properly.

Manual extruding filament working normally

[2019-03-04 18:47] MSpencer0 commented on #13300
Configured down with very few compiler switches and even without "doubleclick" but only babystepping accessible via TUNE-menu. That config in zip attached, but problem still exists.

Now migrating config to Marlin 1.1.x release and I will try again.
Update: Babystepping on 1.1.9 does work on the ANET A4 config!
Attached the working config for 1.1.9, too. Any idea where babystepping got lost on 1.1

[2019-03-04 19:13] MSpencer0 commented on #13300
I can provide the following summary so far:
Tested with "equivalent" configs  -> provided above for 2.0.x bufgix as well as for 1.1.x release and bugfix version.
Babystepping works both on 1.1.9 release and bugfix.
But it does not work on 2.0.x bugfix as from 26.Feb. 2019.
- Any idea where that feature got lost during migration to 2.0.x?

[2019-03-04 19:51] jmdearras commented on #13289
I think this did it, I will verify when I get home.

https://github.com/MarlinFirmware/Marlin/commit/3c9a7926c22141fbae6e5c6c8538a4894bd15163

I do not always clear eeprom with updates, unless it looks big, recalibration takes a while.  But I did notice the jerks were 0 in the LCD, and when I changed them, it fixed x and y.  Perhaps something else uses the jerk numbers.

[2019-03-04 20:44] Santobert commented on #13181
Both, `AUTO_BED_LEVELING_BILINEAR` with `PROBE_MANUALLY` and `MESH_BED_LEVELING`, resulting in the same behaviour. After homing all axes the process stops and the printer shows the main display with the message `<printer name> Ready.`

The output is the following:
[code]

I will attach the config file to this post for you to recreate this bug:
[default.zip](https://github.com/MarlinFirmware/Marlin

[2019-03-04 20:50] TurBoss opened #13310 "[BUG][2.X] Teensy 3.6 onboard SDCARD"
Hello!

### Description

Unable to use oboard SD card on a teensy 3.6

### Steps to Reproduce

fat32 formated sd card that cardinfo.ino detects
[code]

[code]

while marling firmware gives

[code]

**Expected behavior:**

Working SD CARD using the onboard slot

**Actual behavior:**
[code]

Thanks

[2019-03-04 20:54] Santobert commented on #13181
I've seen the same behavior while leveling the corners when I haven't used `Auto home` before. Then the printer also homes all axes and stops, so I have to hit `level corners` again. After that it usually works for this case.

Sadly this method doesn't work for the bed level process.

[2019-03-04 20:55] HoeckDK commented on #11618
@AnHardt The endstop noise filter did the trick. Thanks.

[2019-03-04 20:56] ats3788 commented on #11701
Hi guys maybe it helps someone.
In my case I have a MKS GEN L Ver 1.4 I had to switch the red wire (to the middle) with the blue wire
on the servo Jack and I had to switch the white and the black wire on the Z-Min Stop then my BLTouch triggers

[2019-03-04 20:57] boelle commented on #11618
so all god now?

[2019-03-04 21:37] carlosgalvezp commented on #10995
@boelle I do have the same issue.
I am trying to update to Marlin on my new Anet A8. I have the latest of everything as of today:
* Arduino 1.8.8
* Marlin 1.1.9
* SkyNet / anet-board commit 51abbca02a754c89f5f5823fb5d7552ea547b7f5

When building Marlin, I get the same compilation warnings as OP. This is because Arduino automatically #includes Arduino.h when building Marlin.ino, which contains pin

[2019-03-04 21:39] boelle commented on #10995
use arduino ide 1.9
try marlin bugfix 2.0

skynet???

[2019-03-04 22:17] Smart3DCNC commented on #11702
Is this available yet?

[2019-03-04 22:29] AnHardt commented on #11702
No.

[2019-03-04 23:03] carlosgalvezp commented on #10995
You do need a board definition to be able to compile and upload for Anet A8 in Arduino, don't you? From Marlin docs:

[code]

Everybody mentions this in the tutorials:

https://github.com/SkyNet3D/anet-board/tree/master/hardware/anet/avr

Where can I get Arduino 1.9? I can only see 1.8.8

Thanks!

[2019-03-04 23:06] boelle commented on #10995
arduino ide look under BETA BUILDS

and then again i dont think skynet has anything to do with marlin so we cant support that

[2019-03-04 23:07] boelle commented on #10995
example config for A8: https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x/config/examples/Anet/A8

[2019-03-04 23:56] denysparnell commented on #5995
I realize this is an old post but.... I would love a setting that limits travel in the Z axis.
My main 3D printer is a Deltaprintr that originally had force sensor resistors under the bed and the mesh auto level works quite well, unless it didn't.
Now I have made my own Piezo sensors to replace the FSRs as they became more and more unreliable. https://www.thingiverse.com/thing:2986496
This usually

[2019-03-05 00:08] VanessaE commented on #13197
@gloomyandy Ok.  I've updated Marlin to commit 2513f6b5, and the soft serial library is already at 0.1.0...  using single-wire connections, with your previously-mentioned pins definition (wrapped in `#if HAS_DRIVER(TMC2208) [...] #endif`), the drivers report back as good, if I'm reading the output of `M122` correctly:

<details>
<summary>M122 output</summary>
<pre>

SENDING:M122
		X	Y	Z	E
Enabled

[2019-03-05 00:14] DerAndere1 commented on #13203
@boelle I'm sure that by contacting reporters of outdated but open issues you will help a lot. However, Your template text in https://github.com/MarlinFirmware/Marlin/issues/13203#issuecomment-464865468 probably contains a mistake. A better (corrected) template for redirecting users is given below.
I guess you wanted to redirected users to the **official, open** MarlinFirmware facebook group. But

[2019-03-05 00:34] Andrei-Pozolotin commented on #13265
+1. the flicker is severe @ 50hz

[2019-03-05 03:53] SlickNickeL commented on #11702
I’ve been using Repetier to do this. I use 3 heads at the same time.
I will switch back to Marlin once they get this out.
Repetier documentation is horrible. They also zero to Zmax end stop for auto level. It’s really bad.
Marlin has a much better documentation base and it’s written in plain English.

[2019-03-05 03:54] Roxy-3D commented on #13151
Please give an update....   And re-open if the problem is unresolved.

[2019-03-05 03:54] #13151 closed, assigned to nobody

[2019-03-05 03:55] Roxy-3D commented on #13130
No interest from any of the companies that manufacture IDEX machines....

Oh well...    I bet there are Delta companies that would like to do this....

**UPDATE:   I've been informed there may be companies interested in partnering...    I'll leave it open for a little while longer...**

[2019-03-05 04:03] Smart3DCNC commented on #11702
Thanks busy editing Repetier now, code seems like a cleaned up Marlin
Dont like the web config tool

[2019-03-05 04:28] kylix-rd commented on #12618
@boelle Yes, it seems the problem is solved. Thanks for the followup.

[2019-03-05 04:34] Roxy-3D commented on #11702
This is fairly easy to do....    For the IDEX machines, the duplication modes are handled by changing a couple of lines in the Stepper macros.    You would just add a few lines of code to those macro's to make them issue step pulses to an extra stepper motor...

It is hardly any code at all...

[2019-03-05 04:54] SlickNickeL commented on #11702
I’m good as a power user for either firmware, but I don’t code. The most I do is make complex multi sequential printing routines for a single printer, and I have to do some configuration in between parts for quality control.
Marlin has great documentation, and solid development ideas in plain English.
Repetier is German and translated. He uses the word “rotation” in documentation for auto leveling

[2019-03-05 04:57] boelle commented on #12618
Maybe click close then?

[2019-03-05 05:03] #12618 closed, assigned to nobody

[2019-03-05 05:13] Smart3DCNC commented on #11702
in Marlin or Repetier?
Example?

[2019-03-05 05:48] SlickNickeL commented on #11702
Repetier already has duplication mode up to 4 heads? Maybe more if set in firmware. Has a screen for setup and uses an M code to activate if you want it on an SD. I have a one click setup that heats the heads and prints 3 of the exact same part all at once. Repetiers autolevel is subpar compared to Marlin. Marlin autolevel is way better due to zero at Zmin with Probe on Zmax.

[2019-03-05 07:44] carlosgalvezp commented on #10995
Marlin source code provides the following instructions for Anet printers:
https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/pins/pins_ANET_10.h#L36

[code]

So yes, Marlin *does* refer to SkyNet, there should be no surprise about this.

On the other hand, I understand that the problem comes from SkyNet and I'll open an issue in their repo. Will keep this thread updated!

[2019-03-05 08:16] gloomyandy commented on #13197
You have SOFTWARE_DRIVER_ENABLE set, unless you have added a wire from the driver enable pin to ground (and disconnected the pin that goes to the board connector) I suspect that may cause problems. I've also not tried that mode of operation with TMC2208 drivers. I would also be tempted to set the current to at least 800mA to begin with and reduce it once you have things working. I would also enabl

[2019-03-05 09:01] MSpencer0 commented on #13300
Found it! Value overflow in stepper.cpp when calculating EXTRA_CYCLES_BABYSTEP.
This finally has lead to a faulty definition of _PULSE_WAIT which is only(!) used in babystepping.

In old Marlin the default for MINIMUM_STEPPER_PULSE when not given was 2.
That changed in new Marlin to a default value of 1.

This "MINIMUM_STEPPER_PULSE" is taken in stepper.cpp to calculate EXTRA_CYCLES_BABYSTEP
the f

[2019-03-05 10:19] pandel commented on #13151
Here's my update: as I wasn't able to resolve my issues and because I bought a special, new Anycubic glassbed (Ultrabase), I first went back to bilinear, which gave more consistent (but not perfect) results. Then, after a little bit of bed clamp tuning, I don't need leveling at all. Just delta calibration, set Z probe offset and that's it.

[2019-03-05 11:42] dystechnic commented on #13264
I have set #define Z_HOMING_HEIGHT to 5  and #define MULTIPLE_PROBING to 3.
But the head still slams into the bed. The probe isn't trggered before the G28 command and triggers at the right moment but doesn't stop.

[2019-03-05 11:50] boelle commented on #13310
remember to attach your 2 config files as a zip file

and it would be great if you can add [BUG] before [2.X] in title

[2019-03-05 12:03] chainreaction commented on #8208
Hello Insanity,
could you clarify what did u mean?

[2019-03-05 12:16] VanessaE commented on #13197
Now unset, set, and set, respectively.  This got me going, thanks!  Now I can actually test stuff. :smiley:

Oh, as for currents, those values are from earlier use of my 2208's on an Arduino/RAMPS stack, and are already mostly appropriate for my hardware.  Had to turn the E current up a bit from there, though.

[2019-03-05 12:48] #10995 closed, assigned to nobody

[2019-03-05 12:52] thinkyhead commented on #13203
This is the boilerplate text I use as the starting-point for diverting support requests to other forums. Sometimes posted as you see here, but typically edited down depending on the situation.

---

This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blo

[2019-03-05 12:59] thinkyhead commented on #5995
@denysparnell — Use this setting to limit how far the probe will move down during `G29` probing before it gives up and aborts:
[code]
We can't do anything about probe-based homing, because homing moves must initiate a move of the full height of the machine. A hardware solution is to add a Z endstop inline with the Z probe which acts as a failsafe in the event that the probe should fail during prob

[2019-03-05 13:07] gloomyandy commented on #13197
Are you using 12V or 24V? If 24V you may want to change CHOPPER_TIMING as well. Lots of folks seem to have to run E steppers in spreadCycle mode (especially with linear advance), but I guess that is all down to fine tuning.

[2019-03-05 13:09] VanessaE commented on #13197
I'm using a 12v system.   I looked at that setting a while back and couldn't make sense of it.

Interesting.... I have to run E in spreadCycle mode also (it's not apparent from my config, but it's "forced" by fast retracts that exceed the hybrid threshold).

[2019-03-05 13:13] thinkyhead commented on #10873
![image](https://user-images.githubusercontent.com/698003/53807783-18d5b580-3f16-11e9-8b88-9e9dcd10b0af.png)

[2019-03-05 13:22] thinkyhead commented on #12744
Standard troubleshooting procedure:

- Try `M502` followed by `M500` and reboot
- Add `#define DEBUG_EEPROM_READWRITE` to your config, flash, and test
- Report the additional error output in your next reply

The `DEBUG_EEPROM_READWRITE` option provides more error-checking that we can use to locate potential errors in the EEPROM code.

[2019-03-05 13:47] thinkyhead commented on #12521
See if this helps in `status_screen_DOGM.cpp`…
[code]

[2019-03-05 13:50] #13231 closed, assigned to nobody

[2019-03-05 14:18] token47 commented on #9179
Agreed.

[2019-03-05 14:39] Andrei-Pozolotin commented on #11128
Here is a way to reflash/reboot LPC1768: relies on remote ssh via [OctoPi](https://octoprint.org).
Note: currently Marlin always mounts sd card internally on boot #13274 #13288.

Configuration:
1. Enable sd card support in `OctoPrint`. This will also issue `M21` on connect (sd card mount).
2. Configure `OctoPrint->Settings->Gcode Script->After connect`  command `M22`  (sd card unmount).
3. Create

[2019-03-05 16:27] G-Pereira commented on #12744
Yes, problem solved! I've added an extruder to my printer so the expected EEPROM information size was larger than it actually was, due to new configs for the second extruder. Thanks!

[2019-03-05 16:30] RainesX commented on #7076
I cant for the life of me get my sbase to load marlin. Im using the example configfiles and change platformio.ini to LPC1768. Nothing more is changed. Compiling says success and the board flash the bin (changes to .cur).
When i restart the board wont load. D7 lights up and D1 keeps flashing, nothig more lights up. USB wont communicate so to reflash i have to take sdcard out.
Again, nothing other t

[2019-03-05 17:05] DevilByMoonlight commented on #10488
Thanks I'm  now currently using  a slightly tweaked  CR10S's Marlin  bugfix 1.1.x configuration on my modded  mega clone & RAMPS 1.4 that I've managed to shoehorn into the CR10's control box - am running LV8729's  with good success - and am very happy with it - at 32 steps its not as quiet as the 2130's on my kossel, but much better than stock - once its done a few more hours printing will sort ou

[2019-03-05 17:16] ZS1FJK opened #13312 "[BUG]Enable Lin_Advance"
Hello :)

I have a Lulzbot Taz 6 with Archim2 board (has tmc2130 with trinamic on.
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/2931987/Configuration.zip)

When I enable Lin advance the extruder motor dose not move.

Step 1 .Enable Lin_Advance
Step 2 . Generate gcade with http://marlinfw.org/tools/lin_advance/k-factor.html
Step 3 . Run g code no Printy Printy.

Expected to pr

[2019-03-05 17:42] psavva commented on #7076
The fact that the firmware is renamed to .cur means that it's successfully flashed...

It means you have some other issue in your config files...

Maybe wrong ports/buadrate etc ...

It helps if you have an LCD to see what's going on

[2019-03-05 17:43] psavva commented on #13312
Try enable Lin advance and see if a simple cube prints

[2019-03-05 17:51] p3p commented on #7076
More importantly the Status LED flashing indicates Marlin is running properly, waiting for commands.

This thread is for 32bit platform development discussion not user support, As issues are also generally for bug report submissions not user support I would suggest asking for assistance on Discord or one of the other channels.

---

- RepRap.org [Marlin Forum](http://forums.reprap.org/list.php?415

[2019-03-05 17:58] hectori4502 commented on #13312
change this: to 1
#define MINIMUM_STEPPER_PULSE 0  //1  Extruder tmc move ok

[2019-03-05 18:29] bipsendk commented on #12521
On which line (before/after which existing line in the file) ?

[2019-03-05 18:31] bipsendk commented on #12521
I se ethe error originatin from dogm_statusscreen.h - maybe I should change

`#include <binary.h>`

to

[code]

[2019-03-05 18:46] ferrocam commented on #10191
yes

[2019-03-05 18:50] bipsendk commented on #12521
Okay, changing it in dogm_statusscreen.h did not solve the issue:

[code]

[2019-03-05 18:55] kulfuerst opened #13313 "[FR] (Repeat Arc until ...)"
It would be of great help for me if it was possible to have a G2 Arc command repeated either a number of times or favorably until an event is triggered. Specifically, I'd like the print head to move in full circles above the heatbed untill the heatbed has reached a set temperature as part of an end G-code script. I currently cannot find a way to implement this behavior any other way. I imagined th

[2019-03-05 19:00] Andrei-Pozolotin opened #13314 "[BUG] MKS-SBASE/LPC1768 servo vs stepper interference"
### Description

servo angle oscillates with stepper motor action

### Steps to Reproduce

1. verify servo is working via `M280 P1 S0`, etc
2. produce some stepper activity, such as `G28`

**Expected behavior:** servo is not affected my stepper actions

**Actual behavior:** servo angle oscillates plus/minus 5 degrees with stepper motor action

the effect is present both when all steppers are conne

[2019-03-05 19:21] gloomyandy commented on #13313
I think you will need to explain why you need this feature and why it would be of use to other Marlin users.

[2019-03-05 19:34] kulfuerst commented on #13313
Thank you gloomyandy for your reply.
Because I print on an Anycubic Ultrabase I need to wait for the heatbed to cool down before I can remove the print, which can take a substantial amount of time! I have found that my part cooling fan is strong enough to make my heated bed cool down more than twice as fast even at 60% speed (!) than if I let it cool down by itself when I place the print head abou

[2019-03-05 19:46] p3p commented on #13314
That's a lot more deviation than I would expect (5 degrees would need a lot of signal jitter) so I will look into it but it is expected at the moment, Hardware PWM is disabled in the LPC176x framework (time constraints to debug it), although with the pins selected you would not be able to take advantage of it.

How many concurrent distinct microsecond accuracy signals can you generate in software?

[2019-03-05 20:00] AnHardt commented on #13314
The workaround, to avoid the servo jitter, is to activate `DEACTIVATE_SERVOS_AFTER_MOVE`.

We inverted `DEACTIVATE_SERVOS_AFTER_MOVE` because we could not find a better solution (on the AVRs). The high priority, long lasting stepper interrupts distort the servo timing. Since years, a well known effect.

[2019-03-05 20:05] Duz1Adam opened #13315 "Steppers doesnt work while printing"
Hello. First of all sorry my bad english. But i have a problem with my steppers.
I'm making a rep-rap 3D printer. I assembled the machine and performed the endswitch calibrations. when the machine is not printing, the steppers are moving its ok. But when I start printing, only the z-axis moves. it is also moving very fast. x and y axis doesnt move. I'm using ramps1.4 nema17 and a4988 engine driver

[2019-03-05 20:21] TurBoss commented on #13310
hello
here I attach the 2 config files
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/2932692/Configuration.zip)

[2019-03-05 20:40] msticninja commented on #7076
What is #define SERIAL_PORT set to? My LPC1768 uses "-1", the USB emulated port. Also, make sure SERIAL_PORT_2 is commented out for now, I had a weird issue on Re-arm LPC1768 when I had both ports enabled. I couldn't communicate with either, and the MicroSD did not load as a USB drive, even though the LEDs on the board showed it was fully booted.

[2019-03-05 20:46] tig33r commented on #13300
Is this could be connected with #13309 and #13315?

[2019-03-05 21:15] denysparnell commented on #5995
Thanks. I will give it a try :)

[2019-03-05 21:16] Andrei-Pozolotin commented on #13314
1. @p3p : it seems 6 hardware PWM channels will resolve the problem, thank you.
perhaps default servo mapping in [pins_MKS_SBASE.h](https://github.com/random-builder/Marlin/blob/0961aa022529ebcf38e9a4cbe22054011cb598c7/Marlin/src/pins/pins_MKS_SBASE.h) should be changed or better documented.

2. @AnHardt : `DEACTIVATE_SERVOS_AFTER_MOVE` does not work for me, the servo motor stays energized after t

[2019-03-05 21:48] VanessaE commented on #13197
Initial impressions after a couple of test/calibration objects and a small wade's gear that I've been needing to print:

It's working really well for me.  Short and sweet :smiley:

There is one thing that I think should be addressed, but it's not specific to the 2208 (rather, to all TMCs I guess):  if accelerating/decelerating during a move would cross the stealthChop/spreadCycle hybrid threshold,

[2019-03-05 22:00] gloomyandy commented on #13314
@Andrei-Pozolotin Unfortunately pretty much all of the pins that can be used for hardware PWM are already in use for other purposes. The only pin that is easy to get to and that is not in use is already allocated as SERVO0 (pin P1_23). All of the PWM capable pins are listed in the pins file in the form of a comment. This could do with cleaning up as I suspect it was a copy and paste from the ramps

[2019-03-05 22:08] gloomyandy commented on #13197
@VanessaE Good to hear that it is working. Thanks for trying it.

As to your comment about the acceleration/deceleration and TMC driver, you may want to create a new issue and explain the problem and possible solution there. I'm not at all familiar with that side of how the drivers function, I'm sure @teemuatlut and others could comment, but I'd rather keep this thread focused on the software UART

[2019-03-05 22:36] VanessaE opened #13316 "[FR] Explicitly switch stealthChop / spreadCycle per move (i.e., anticipate need for "Hybrid" switching)"
### Description

So...  I have a BigTreeTech/BIQU SKR v1.1, and am able to use TMC2208's in single-wire UART mode, thanks to work associated with https://github.com/MarlinFirmware/Marlin/issues/13197 and others (I'm not sure just who to actually thank. @gloomyandy ? :smiley: )

There is one thing that I think should be addressed, but it's not specific to the 2208.  Rather, it applies to  all Trina

[2019-03-05 22:36] VanessaE commented on #13197
Fair enough.  Comment moved to a new issue.  (https://github.com/MarlinFirmware/Marlin/issues/13316)

[2019-03-05 22:41] InsanityAutomation commented on #8208
See #12201

[2019-03-05 22:43] MSpencer0 commented on #13300
Maybe check what happens if you force
MINIMUM_STEPPER_PULSE to a value of 2 or 3 - See configuration_adv.h
Is the problem still there then?

If this solves your issue it is still not strongly related to my topic above. But maybe another side effect of changing the default of MINIMUM_STEPPER_PULSE. I haven't had that issue on my machine , yet.

[2019-03-05 23:06] p3p commented on #13316
The noise can't have anything to do with double stepping if you are using the configs you posted in the other thread, the LPC176x boards do not start doing that until 80K steps/s, you use 80 steps a unit @ 500mm/s so 40K steps/s.

[2019-03-05 23:40] VanessaE commented on #13316
Well so much for that theory :smiley:  ...  still needs addressed though.

[2019-03-05 23:57] Andrei-Pozolotin commented on #13314
@gloomyandy : this http://smoothieware.org/pwm-capable says:
[code]
which are hardwired on board as follows:
[code]
since I use
* AUX1/TFT not LCD,
* have custom cable soldered to LED1, LED2, LED3, LED4,
* can re-configure `Y min switch` to use `Y max switch`,
I should be able to choose from these 7 h/w pwm:
[code]

[2019-03-06 00:43] reloxx13 commented on #7076
can we add a bigger note in the first entry of this issue and in the readme like

 ?

i have read (on facebook) serveral times now that users think its 32bit only.

![grafik](https://user-images.githubusercontent.com/14855001/53847492-3a37af80-3fb1-11e9-806e-9c9cf9624dbf.png)

[2019-03-06 01:57] Roxy-3D commented on #7076
Yes.   I edited the first line to be a little bit more clear.    Backward compatibility was always a primary requirement.  There will come a time when the 32-bit and 8-bit code bases fork.   But we are going to resist that event as long as we can and not sacrifice 32-bit functionality.

[2019-03-06 02:19] Roxy-3D commented on #11702
Look at my Icon.    I'm talking about Marlin.

In the next 3 or 4 weeks, a 'Symmetric Duplication Mode' will be merged into the code base for IDEX machines.   If you print a 'Left Shoe' you can have the other extruder print a 'Right Shoe' at the same time.   This is a Formbot inspired feature for their IDEX machines.   Compare the lines defining Stepper Driver macros in Stepper.cpp.   Look for the

[2019-03-06 03:18] thinkyhead commented on #12744
I'm glad to hear it was a simple fix! A helpful tip is to copy the output from `M503 S0` before you re-flash your board. And then you can send that g-code to the machine after the update to restore your old settings. This is usually safe to do within minor version updates, though some setting values can change meaning across major versions, as with the update from Linear Advance 1.0 - 1.5, or the

[2019-03-06 03:25] InsanityAutomation commented on #11702
I have buy (in) from the contributing manufacturer to merge that code on the 15th, so under 2 weeks! The only reservation I have on the above is no hardware to test on. As @Roxy-3D said it isn't very difficult but I'd like it to be tested before merging it. Perhaps if someone is bringing one to MRRF we can develop it on the spot? Lol

[2019-03-06 03:29] thinkyhead commented on #7076
I did receive an E3D Toolchanger (beta30) unit last month and have been painstakingly setting it up under RepRap Firmware. It's a meticulous process to align 4 different toolheads (all with slop), coordinate and design movements to grab and drop tools, get standby temperatures tuned well, build and test the priming, purging bucket, and cleaning brush setup, and on and on…

We do have tool-changing

[2019-03-06 03:37] Roxy-3D commented on #7076
I didn't address the readme file.    But as soon as a Pull Request shows up...   It will get merged ASAP.

[2019-03-06 03:47] TwatBurglar commented on #5767
@mjscosta  Did you get your Due board outputting a 20kHz or 25kHz  PWM signal ?

[2019-03-06 04:02] thinkyhead commented on #13313
This can be accomplished by adding a relative Z move and several G2 / G3 moves to your slicer ending G-code. It doesn't need to be added as a core feature of Marlin.

[2019-03-06 04:02] #13313 closed, assigned to nobody

[2019-03-06 04:12] thinkyhead commented on #10180
At the moment the `bugfix-2.0.x` branch is the dev branch for `2.0.x`. Too late to rename it. The `bugfix-1.1.x` branch is the bug-fix branch for 1.1.9. There will be no further 1.1.x releases. After the 2.0.0 release we will revisit the question of whether to keep a separate `bugfix-2.0.x` and `dev-2.0.x` branch. But for now, the single branch is the only one we need.

[2019-03-06 04:40] Smart3DCNC commented on #11702
thanks everyone , this is exactly what I am looking for , pity I am to far away to bring a machine, but more than happy to test it.

[2019-03-06 04:44] InsanityAutomation commented on #11702
@Smart3DCNC to confirm, you're basically envisioning a stacker s4 from what I understand?

[2019-03-06 05:11] thinkyhead commented on #13181
It is unusual. I tested `MESH_BED_LEVELING` on a Geeetech A20M the other day and it worked perfectly. That machine has a graphical display, if that makes any difference.

[2019-03-06 05:13] thinkyhead commented on #13181
Your attached configs are the Marlin 2.0 default configs (I compared them to confirm).

[2019-03-06 05:45] Smart3DCNC commented on #11702
One Machine is a triple extruder DITTO production

![image](https://user-images.githubusercontent.com/38748092/53858685-d4b0e680-3fe3-11e9-902b-cabadcefda7f.png)

[2019-03-06 05:47] thinkyhead commented on #10191
With `DELTA` there is no need to use `Z_SAFE_HOMING`. It is disabled by `Conditionals_LCD.h`…

[code]

If it were supported for `DELTA` then the safe homing point would need to be…
[code]

[2019-03-06 05:48] Smart3DCNC commented on #11702
This machine is a DITTO Mirror
![image](https://user-images.githubusercontent.com/38748092/53858820-3e30f500-3fe4-11e9-97bd-52bc49923c65.png)

[2019-03-06 05:56] thinkyhead commented on #12613
Is there a project file for VisualMicro that can be saved in a location relative-to (above) the source files, such that the project file contains the path to the source files?

[2019-03-06 05:58] thinkyhead commented on #7609
True. The most economical leveling option is `MESH_BED_LEVELING` but even it uses a KB or two.

[2019-03-06 05:59] eikeime opened #13318 "[FR] Automatic case light"
### Description

automatic turn on case light
### Steps to Reproduce

1, setup 2 pwm value for case light, one for idle the other for running.
2, exactly like controller cooling fan, any action trigger case light to running mode, after idle for sometime like 60s turn it to idle mode, and also obey received M355 G-code
3, if it's possible, lcd menu entry for idle pwm value settings.

#### Additiona

[2019-03-06 06:02] thinkyhead commented on #13280
I looked closer at the `G60` description, and it mentions that RepRapFirmware automatically saves the current position to slot 2 on a tool-change, so that you only need to do the `G0`/`G1` with `R2` for the move back — presumably after a priming and wiping action.

[2019-03-06 06:27] antonvier commented on #12632
hi everyone, sorry for my poor english...
I'm bought the SKR v1.3 , this LCD (Anet A8):
 https://pt.aliexpress.com/store/product/2-PCS-Anet-2004-LCD-Smart-Display-Screen-Controller-Module-3D-Printer-Parts-for-RAMPS-1/3126008_32830879237.html?spm=a2g03.12010615.8148356.1.35973f9e6FoSkr

will it work?

thanks in advance

[2019-03-06 07:03] Santobert commented on #13181
This is my current configuration. Unfortunately I'm still unfamiliar with the project structure of marlin2.

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/2934875/Marlin.zip)

[2019-03-06 07:48] thinkyhead commented on #13315
This Issue Queue is for Marlin bug reports and development-related issues, and we prefer not to handle user-support questions here. (As noted on [this page](https://github.com/MarlinFirmware/Marlin/blob/1.1.x/.github/contributing.md#i-dont-want-to-read-this-whole-thing-i-just-have-a-question).) For best results getting help with configuration and troubleshooting, please use the following resources

[2019-03-06 07:48] #13315 closed, assigned to nobody

[2019-03-06 07:52] thinkyhead commented on #13213
That is good to know. Maybe it has to be in combination with some other things to cause the crash, or maybe it is just over-taxing your board. It may be that the feature adds too much overhead, but interactions with other features is always possible.

The feature was largely implemented by @ejtagle and has not been modified since that time. It works well for many setups, but edge cases are always

[2019-03-06 07:53] #8992 closed, assigned to nobody

[2019-03-06 07:59] thinkyhead commented on #9293
No one has submitted code supporting the i2c toolhead so far. We hope that there is enough interest and someone will set aside the time to research, implement, and submit it. All our most active developers are busy with other projects at this time, but we often get submissions for much-in-demand features out of the blue.

[2019-03-06 09:09] gloomyandy commented on #13314
You have missed 1.24 which is X Min. Also are you sure you have the various LED pins assigned correctly. My understanding is that on the SBase they are:
LED_PIN            P1_18
LED2_PIN           P1_19
LED3_PIN           P1_20
LED4_PIN           P1_21
and that pin P1_23 is only attached to the header J8_3

As I said above very few of the PWM pins are easily available for other purposes. I'm not s

[2019-03-06 09:26] Miran81 opened #13319 "[BUG] Rams-Fd 2004 LCD Problem"
Hi . I'm using ramps-fd v1 and 2004 lcd . I downloaded marlin 2.0 bugfix and uploaded in arduino due . I used #define REPRAP_DISCOUNT_SMART_CONTROLLER in configuration.h but its not working. Just squares on screen.2004 lcd or any lcd for u have to use lcd adapter for ramps v1 or v2. I'm using adapter which have 74HC07A module. Please help me.. Thank u

[2019-03-06 09:41] boelle commented on #13319
attach 2 config files as a zip file

[2019-03-06 09:42] boelle commented on #13318
maybe add gcode in slicer start gcode that turns it on? that would be 99.99% autoamtic :-D

[2019-03-06 09:43] boelle commented on #13316
running 12V or 24V ?

[2019-03-06 09:45] boelle commented on #13312
@ZS1FJK and please add [BUG] in start of title on your first post

[2019-03-06 09:46] boelle commented on #13319
@Miran81 also add [BUG] in start of title of post so it becomes [BUG] Rams-Fd 2004 LCD Problem

[2019-03-06 09:53] Miran81 commented on #13319
[Configuration.zip](https://github.com/MarlinFirmware/Marlin/files/2935547/Configuration.zip)

[2019-03-06 10:04] Miran81 commented on #12937
@mordaha  how it works ? photo links broken. I'm using due+ramps-fd and 2004 lcd. Lcd is not working. Just squares on screen.

[2019-03-06 10:05] RainesX commented on #7076
I only have the mks tft but that shows nothing other than the normal when it gets power. Baudrates that i have tried is 115200 and 250000

So it doesnt show the same status as smoothie and klipper?

Serial_port set to  -1 and serial_port_2 is commented out.
I have tried different configs for two weeks now. I have managed to flash klipper so i might give that another go for now.

[2019-03-06 10:09] boelle commented on #12937
are you sure the problem is still here with todays copy of bugfix 2.0? have you tested?

your copy of marlin 5f2d75f is almost 3 months old now and its updated daily sometimes 2-3 times each day

[2019-03-06 10:11] ZS1FJK commented on #13312
@boelle
have done so. Sorry for that.
@hectori4502
I am only able to test changes tonight. Will report back as soon as i can.

[2019-03-06 10:13] boelle commented on #13312
it can happen to all of us, but it's more easy for dev people if things start with [BUG]

remember to use bugfix 2.0 when testing

[2019-03-06 10:15] boelle commented on #13312
and of course recheck wiring, check that pins file is correct etc

@marcio-ao i remember that you work for lulzbot, does his config look right?

[2019-03-06 10:31] boelle commented on #6576
@thinkyhead i think we can close this one

[2019-03-06 10:31] boelle commented on #6613
@thinkyhead i think we can close this one

[2019-03-06 10:32] boelle commented on #6497
@thinkyhead i think we can close this one

[2019-03-06 10:32] boelle commented on #6372
@thinkyhead i think we can close this one

[2019-03-06 10:33] boelle commented on #6789
@thinkyhead i think we can close this one given what @InsanityAutomation said

[2019-03-06 10:34] boelle commented on #6818
@thinkyhead i think we can close this one

[2019-03-06 10:35] boelle commented on #6923
@mperdue is the problem gone in latest bugfix 2.0?

[2019-03-06 10:36] boelle commented on #7101
@thinkyhead i think we can close this one

[2019-03-06 10:37] boelle commented on #7129
@thinkyhead i think we can close this one

[2019-03-06 10:37] boelle commented on #7164
@thinkyhead i think we can close this one

[2019-03-06 10:38] boelle commented on #7166
@thinkyhead i think we can close this one

[2019-03-06 10:40] boelle commented on #7282
@thinkyhead i think we can close this one

[2019-03-06 10:40] boelle commented on #7309
@thinkyhead i think we can close this one

[2019-03-06 10:40] boelle commented on #7320
@thinkyhead i think we can close this one

[2019-03-06 10:42] boelle commented on #7467
@thinkyhead i think we can close this one since @3DFreezeMe has not reported back since 27 aug 2017

[2019-03-06 10:43] boelle commented on #7492
@thinkyhead i think we can close this one

[2019-03-06 10:45] boelle commented on #7674
@thinkyhead ^^^^

[2019-03-06 10:45] boelle commented on #7677
@thinkyhead i think we can close this one

[2019-03-06 10:46] boelle commented on #7801
@thinkyhead i think we can close this one

[2019-03-06 10:51] boelle commented on #7839
@thinkyhead i think we can close this one

[2019-03-06 10:51] boelle commented on #7848
@thinkyhead i think we can close this one

[2019-03-06 10:55] boelle commented on #8080
@thinkyhead i think we can close this one

[2019-03-06 10:55] boelle commented on #8121
@thinkyhead i think we can close this one

[2019-03-06 10:56] boelle commented on #8363
@thinkyhead i think we can close this one

[2019-03-06 10:56] boelle commented on #8163
@thinkyhead i think we can close this one

[2019-03-06 10:57] boelle commented on #8392
@thinkyhead i think we can close this one

[2019-03-06 10:58] boelle commented on #8597
@thinkyhead i think we can close this one

[2019-03-06 10:58] teemuatlut commented on #13316
Only the TMC5xxx drivers (of the ones we're supporting) have the ramp generator you're talking about. This is how the Trinamic TRAMS platform worked as it had no step and dir lines into the drivers and I did have an updated firmware but that's already a year old at this point.

The switching velocity is not the same when accelerating and decelerating, but rather they have a hysteresis associated w

[2019-03-06 10:58] boelle commented on #8675
@thinkyhead i think we can close this one

[2019-03-06 10:58] boelle commented on #8711
@thinkyhead i think we can close this one

[2019-03-06 10:59] boelle commented on #8723
@thinkyhead i think we can close this one

[2019-03-06 10:59] boelle commented on #8727
@thinkyhead i think we can close this one

[2019-03-06 10:59] boelle commented on #8774
@thinkyhead i think we can close this one

[2019-03-06 11:01] boelle commented on #8875
@thinkyhead i think we can close this one

[2019-03-06 11:01] boelle commented on #8862
@thinkyhead i think we can close this one

[2019-03-06 11:01] boelle commented on #8904
@thinkyhead i think we can close this one

[2019-03-06 11:02] boelle commented on #8905
@thinkyhead i think we can close this one

[2019-03-06 11:02] boelle commented on #8922
@thinkyhead i think we can close this one

[2019-03-06 11:03] boelle commented on #8927
@thinkyhead i think we can close this one

[2019-03-06 11:03] boelle commented on #8949
@thinkyhead i think we can close this one

[2019-03-06 11:04] boelle commented on #9018
@thinkyhead i think we can close this one

[2019-03-06 11:04] boelle commented on #9063
@thinkyhead i think we can close this one

[2019-03-06 11:05] boelle commented on #9093
@thinkyhead i think we can close this one

[2019-03-06 11:05] boelle commented on #9106
@thinkyhead i think we can close this one

[2019-03-06 11:05] boelle commented on #9147
@thinkyhead i think we can close this one

[2019-03-06 11:08] boelle commented on #9171
@thinkyhead i think we can close this one

[2019-03-06 11:09] boelle commented on #9210
@thinkyhead i think we can close this one

[2019-03-06 11:09] mamama1 commented on #9018
i have implemented this workaround: https://github.com/MarlinFirmware/Marlin/issues/9018#issuecomment-355140163

and didn't bother to try without it ever since. so don't actually know if it is fixed now but it might be.

[2019-03-06 11:09] boelle commented on #9219
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9249
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9303
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9305
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9321
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9322
@thinkyhead i think we can close this one

[2019-03-06 11:10] boelle commented on #9339
@thinkyhead i think we can close this one

[2019-03-06 11:11] boelle commented on #9352
@thinkyhead i think we can close this one

[2019-03-06 11:11] boelle commented on #9353
@thinkyhead i think we can close this one

[2019-03-06 11:12] boelle commented on #9358
@thinkyhead i think we can close this one

[2019-03-06 11:12] boelle commented on #9369
@thinkyhead i think we can close this one

[2019-03-06 11:13] boelle commented on #9370
@thinkyhead i think we can close this one

[2019-03-06 11:13] boelle commented on #9389
@thinkyhead i think we can close this one

[2019-03-06 11:14] povlhp commented on #9352
I never got anywhere. Klipper does some of the same. Runs the printer board as dumb slave

[2019-03-06 11:14] mamama1 commented on #9210
i will report if there continue to be issues with 1.1.9 or bugfix 2.0.x

[2019-03-06 11:14] #9210 closed, assigned to nobody

[2019-03-06 11:15] boelle commented on #9405
@thinkyhead i think we can close this one

[2019-03-06 11:15] boelle commented on #9406
@thinkyhead i think we can close this one

[2019-03-06 11:15] boelle commented on #9408
@thinkyhead i think we can close this one

[2019-03-06 11:15] boelle commented on #9412
@thinkyhead i think we can close this one

[2019-03-06 11:16] boelle commented on #9414
@thinkyhead i think we can close this one

[2019-03-06 11:16] boelle commented on #9418
@thinkyhead i think we can close this one

[2019-03-06 11:16] boelle commented on #9425
@thinkyhead i think we can close this one

[2019-03-06 11:19] boelle commented on #9352
it's not to be rude that i do these rounds of cleanup

it's to get issues closed that are fixed, and also close those issues where people have left and not using marlin anymore.

i think it's only fair that the dev people spend time on things where people can still test if what they are doing works

[2019-03-06 11:19] boelle commented on #9210
we are mostly interested in bugfix 2.0 :-D

[2019-03-06 11:20] boelle commented on #9454
@thinkyhead i think we can close this one

[2019-03-06 11:20] boelle commented on #9455
@thinkyhead i think we can close this one

[2019-03-06 11:21] boelle commented on #9487
@thinkyhead i think we can close this one

[2019-03-06 11:21] boelle commented on #9490
@thinkyhead i think we can close this one

[2019-03-06 11:21] boelle commented on #9534
@FAB1150 did you get back home for real this time?

@thinkyhead i think we can close this one

[2019-03-06 11:23] boelle commented on #9567
@kpdelucia what results did you get that weekend?

@thinkyhead i think we can close this one

[2019-03-06 11:23] boelle commented on #9583
@thinkyhead i think we can close this one

[2019-03-06 11:23] boelle commented on #9593
@thinkyhead i think we can close this one

[2019-03-06 11:23] boelle commented on #9620
@thinkyhead i think we can close this one

[2019-03-06 11:23] Quenta-3D commented on #9454
sorry, I just tested latest firmware; it seems the problem is solved in version 1.1.9

[2019-03-06 11:24] boelle commented on #9884
@thinkyhead i think we can close this one

[2019-03-06 11:24] boelle commented on #9894
@thinkyhead i think we can close this one

[2019-03-06 11:25] boelle commented on #9900
@thinkyhead i think we can close this one

[2019-03-06 11:25] mamama1 commented on #9210
i might have it on my AM8 with the sensorless homing however I've done so little 3d printing in the more recent past (and if, it was hassle-free), so that I don't even know what firmware or firmware settings i have on my printers right now :-D

[2019-03-06 11:25] boelle commented on #9902
@thinkyhead i think we can close this one

[2019-03-06 11:25] boelle commented on #9911
@thinkyhead i think we can close this one

[2019-03-06 11:26] boelle commented on #9454
then click close below

but dont use 1.1.9, upgrade to 2.0

[2019-03-06 11:26] boelle commented on #9936
@thinkyhead i think we can close this one

[2019-03-06 11:27] boelle commented on #9958
@thinkyhead i think we can close this one

[2019-03-06 11:27] boelle commented on #10023
@thinkyhead i think we can close this one

[2019-03-06 11:51] #9454 closed, assigned to nobody

[2019-03-06 11:52] boelle commented on #10072
@thinkyhead i think we can close this one

[2019-03-06 11:52] boelle commented on #10073
@getget1980  still out of service?

@thinkyhead i think we can close this one

[2019-03-06 11:52] boelle commented on #10129
@thinkyhead i think we can close this one

[2019-03-06 11:53] boelle commented on #10159
@thinkyhead i think we can close this one

[2019-03-06 11:53] boelle commented on #10183
@thinkyhead i think we can close this one

[2019-03-06 11:53] boelle commented on #10187
@thinkyhead i think we can close this one

[2019-03-06 11:53] boelle commented on #10201
@thinkyhead i think we can close this one

[2019-03-06 11:54] boelle commented on #10206
@thinkyhead i think we can close this one

[2019-03-06 11:54] getget1980 commented on #10073
Yes sorry no time to repair it now.

Le mer. 6 mars 2019 à 12:53, Bo Herrmannsen <notifications@github.com> a
écrit :

[2019-03-06 11:54] boelle commented on #10219
@thinkyhead i think we can close this one

[2019-03-06 11:54] boelle commented on #10270
@thinkyhead i think we can close this one

[2019-03-06 11:55] boelle commented on #10073
maybe click close below and open new issue if problem is still there?

[2019-03-06 11:55] boelle commented on #10297
@thinkyhead i think we can close this one

[2019-03-06 11:56] boelle commented on #10352
@thinkyhead i think we can close this one

[2019-03-06 11:56] boelle commented on #10356
@thinkyhead i think we can close this one

[2019-03-06 11:56] boelle commented on #10384
@thinkyhead i think we can close this one

[2019-03-06 11:56] boelle commented on #10396
@thinkyhead i think we can close this one

[2019-03-06 11:57] boelle commented on #10420
@thinkyhead i think we can close this one

[2019-03-06 11:58] boelle commented on #10474
@thinkyhead i think we can close this one

[2019-03-06 11:58] boelle commented on #10520
@thinkyhead i think we can close this one

[2019-03-06 11:58] boelle commented on #10533
@thinkyhead i think we can close this one

[2019-03-06 11:59] boelle commented on #10599
@thinkyhead i think we can close this one

[2019-03-06 12:00] boelle commented on #10637
@thinkyhead i think we can close this one

[2019-03-06 12:00] boelle commented on #10681
@thinkyhead i think we can close this one

[2019-03-06 12:01] boelle commented on #10706
@thinkyhead i think we can close this one

[2019-03-06 12:01] boelle commented on #10723
@thinkyhead i think we can close this one

[2019-03-06 12:01] boelle commented on #10730
@thinkyhead i think we can close this one

[2019-03-06 12:01] boelle commented on #10733
@thinkyhead i think we can close this one

[2019-03-06 12:02] boelle commented on #10738
@orcinus did you test with 2.0?

@thinkyhead i think we can close this one

[2019-03-06 12:02] boelle commented on #10768
@thinkyhead i think we can close this one

[2019-03-06 12:02] boelle commented on #10784
@thinkyhead i think we can close this one

[2019-03-06 12:03] boelle commented on #10816
@thinkyhead i think we can close this one

[2019-03-06 12:03] boelle commented on #10825
@thinkyhead i think we can close this one

[2019-03-06 12:03] boelle commented on #10863
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10869
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10900
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10907
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10912
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10933
@thinkyhead i think we can close this one

[2019-03-06 12:04] boelle commented on #10935
@thinkyhead i think we can close this one

[2019-03-06 12:05] boelle commented on #11023
@thinkyhead i think we can close this one

[2019-03-06 12:06] getget1980 commented on #10073
Ok

[2019-03-06 12:06] #10073 closed, assigned to nobody

[2019-03-06 12:06] boelle commented on #11063
@thinkyhead i think we can close this one

[2019-03-06 12:07] boelle commented on #11127
@thinkyhead i think we can close this one

[2019-03-06 12:08] boelle commented on #11138
@thinkyhead i think we can close this one

[2019-03-06 12:08] boelle commented on #11144
@thinkyhead i think we can close this one

[2019-03-06 12:08] boelle commented on #11157
@thinkyhead i think we can close this one

[2019-03-06 12:08] boelle commented on #11241
@thinkyhead i think we can close this one

[2019-03-06 12:09] boelle commented on #11244
@thinkyhead i think we can close this one

[2019-03-06 12:09] boelle commented on #11254
@thinkyhead i think we can close this one

[2019-03-06 12:09] boelle commented on #11282
@thinkyhead i think we can close this one

[2019-03-06 12:10] margaale commented on #11138
Sorry, after this i disabled UBL and never used it again. So i can't give you any feedback.

[2019-03-06 12:11] boelle commented on #11326
@thinkyhead i think we can close this one

[2019-03-06 12:11] boelle commented on #11337
@thinkyhead i think we can close this one

[2019-03-06 12:12] boelle commented on #11375
@thinkyhead i think we can close this one

[2019-03-06 12:12] boelle commented on #11387
@thinkyhead i think we can close this one

[2019-03-06 12:13] boelle commented on #11432
@tcm0116 have you retested this with todays copy of 2.0?

[2019-03-06 12:13] boelle commented on #11479
@thinkyhead i think we can close this one

[2019-03-06 12:13] boelle commented on #11487
@thinkyhead i think we can close this one

[2019-03-06 12:14] boelle commented on #11491
@thinkyhead i think we can close this one

[2019-03-06 12:14] boelle commented on #11496
@thinkyhead i think we can close this one

[2019-03-06 12:14] boelle commented on #11514
@thinkyhead i think we can close this one

[2019-03-06 12:14] boelle commented on #11520
@thinkyhead i think we can close this one

[2019-03-06 12:15] boelle commented on #11138
@margaale we need @GypsyRobot to reply since he created this issue

[2019-03-06 12:16] boelle commented on #11529
@thinkyhead i think we can close this one

[2019-03-06 12:16] boelle commented on #11532
@thinkyhead i think we can close this one

[2019-03-06 12:16] boelle commented on #11550
@thinkyhead i think we can close this one

[2019-03-06 12:16] boelle commented on #11561
@thinkyhead i think we can close this one

[2019-03-06 12:17] margaale commented on #11138
Sure, no problem, but i only answered your question...

[2019-03-06 12:24] boelle commented on #11571
@thinkyhead i think we can close this one

[2019-03-06 12:24] boelle commented on #11572
@thinkyhead i think we can close this one

[2019-03-06 12:24] boelle commented on #11576
@thinkyhead i think we can close this one

[2019-03-06 12:25] boelle commented on #11591
@thinkyhead i think we can close this one

[2019-03-06 12:25] boelle commented on #11609
@thinkyhead i think we can close this one

[2019-03-06 12:25] boelle commented on #11614
@thinkyhead i think we can close this one

[2019-03-06 12:25] boelle commented on #11618
@thinkyhead i think we can close this one

[2019-03-06 12:27] boelle commented on #11640
@XBrav was it sorted out?

@thinkyhead i think we can close this one

[2019-03-06 12:27] boelle commented on #11644
@thinkyhead i think we can close this one

[2019-03-06 12:27] boelle commented on #11648
@thinkyhead i think we can close this one

[2019-03-06 12:27] boelle commented on #11659
@thinkyhead i think we can close this one

[2019-03-06 12:27] boelle commented on #11667
@thinkyhead i think we can close this one

[2019-03-06 12:29] boelle commented on #11691
@thinkyhead i think we can close this one

all we can do is suggest people dont get these printers and that maybe we dont support them more than we do allready

[2019-03-06 12:29] boelle commented on #11706
@thinkyhead i think we can close this one

[2019-03-06 12:31] boelle commented on #11846
@thinkyhead this should be pinned just like the "The Marlin 2.0 32-bit thread"

[2019-03-06 12:32] boelle commented on #11729
@Thinkyhead i think we can close this one

[2019-03-06 12:32] boelle commented on #11763
@Thinkyhead i think we can close this one

[2019-03-06 12:32] boelle commented on #11771
@Thinkyhead i think we can close this one

[2019-03-06 12:33] boelle commented on #11774
@Thinkyhead i think we can close this one

[2019-03-06 12:33] boelle commented on #11783
@Thinkyhead i think we can close this one

[2019-03-06 12:33] drgrandios commented on #11576
Were there any updates on M3/M5 at all in bugfix 2.0?

From my understanding, the initial issue is not fixed at all, just documented. And according to @jeffeb3 bugfix 2.0 even needs modifications to have a working M106...

[2019-03-06 12:34] boelle commented on #11804
@Thinkyhead i think we can close this one

[2019-03-06 12:34] boelle commented on #11805
@Thinkyhead i think we can close this one

[2019-03-06 12:34] boelle commented on #11813
@Thinkyhead i think we can close this one

[2019-03-06 12:34] boelle commented on #11823
@Thinkyhead i think we can close this one

[2019-03-06 12:34] boelle commented on #11828
@Thinkyhead i think we can close this one

[2019-03-06 12:35] boelle commented on #11830
@Thinkyhead i think we can close this one

[2019-03-06 12:36] eikeime commented on #13318
Yes that would work, I setup octoprint to do that automaticly, but that still cant solve problem like homing without, without light nothing would show on webcam.
 i'm tring to modify caselight code,using controllerfan as sample code, LCD Menu part is too complicate for my skill level.

[2019-03-06 12:37] boelle commented on #11576
problem here is also that @SmarteedCS seems to have gone up in smoke or just lost interest in this

and why should marlin work on something where the creator of the issue is not active?

[2019-03-06 12:40] boelle commented on #13318
so you  control via octoprint and the only problem is no light when homing from "control"

have you looked if there is not a plugin that can add a light button?

[2019-03-06 12:43] davidmilunic commented on #11706
I just don't use the feature any more.
It has been a while since I have updated Marlin, so maybe I will grab the
latest release and see what happens.

Thanks for following up!

 - David

On Wed, Mar 6, 2019 at 7:29 AM Bo Herrmannsen <notifications@github.com>
wrote:

[2019-03-06 12:50] boelle commented on #11706
if you do then use bugfix 2.0

and a tool like winmerge comes in handy when porting over settings from old config file to new one, layout of those 2 have changed also :-D

[2019-03-06 13:05] povlhp commented on #9352
You did not understand me.
I agree to close it.
If I or someone else comes up with something that does this - Then we can
create a pull request and reopen. For the last few days I am on Klipper
again - But it is missing some commands, and has other issues. Klipper is
just an example, and maybe using klipper code on the controller would be an
idea.

On Wed, Mar 6, 2019 at 12:19 PM Bo Herrmannsen <n

[2019-03-06 13:07] boelle commented on #9352
ahh, now i understand

but only you and @thinkyhead can close, i have not been given those powers :-D

[2019-03-06 13:11] eikeime commented on #13318
yes there is "custom control editor", i put two button for that, but it's manually,
Octoprint can't do turnoff light after delay a certain time, i tried "G4 S60 M355 S0" this works, but during the delayed period the printer is inoperable, there is a "PSU Control" plugin could solve this, but it's already used for psu control.
I tried to parallel connect case light with controller fan, fan pwm valu

[2019-03-06 13:13] j54n1n commented on #12613
Do you mean something like a makefile?

VMicro does generate a Visual Studio solution file but to get there you first have to open it within Visual Studio by *File* -> *Open* -> *Arduino Project* which then invokes the VM plugin.
At that stage the plugin does first a deep search of the entire Arduino "Marlin" sketch. But the scan fails if you do not rename either *Marlin.cpp* or the *Marlin.ino* s

[2019-03-06 13:18] #12632 closed, assigned to nobody

[2019-03-06 13:22] boelle commented on #13318
i agree, i dont have case light YET but i will have at some point

hmm marlin also have psu control if it's an ATX psu, maybe that could be reused to have the case light come on automatic?

but then there is also neopixel led control and i forgot the description on how that works, but its some thing that you can have one color when idle, and another color when bed is heating and then another when

[2019-03-06 13:25] dystechnic commented on #13264
I did some more tests and noticed something that might be useful to find out what is happening.
When I home all axes with G28 the head is in the center of the bed and the inductive probe is triggered according to the indicator light. But the M119 command tells me that the Z-probe is not triggered.
[code]
If I lower the bed (after a G28) and manually force the probe to trigger it M119 show it is tr

[2019-03-06 13:31] boelle commented on #11888
@thinkyhead i think we can close this one

[2019-03-06 13:31] boelle commented on #11893
@thinkyhead i think we can close this one

[2019-03-06 13:31] boelle commented on #11896
@thinkyhead i think we can close this one

[2019-03-06 13:31] boelle commented on #11901
@thinkyhead i think we can close this one

[2019-03-06 13:32] boelle commented on #11906
@thinkyhead i think we can close this one

[2019-03-06 13:32] boelle commented on #11913
@thinkyhead i think we can close this one

[2019-03-06 13:33] boelle commented on #11956
@thinkyhead i think we can close this one

[2019-03-06 13:34] boelle commented on #11966
@lompal did you retest?

[2019-03-06 13:34] boelle commented on #12011
@thinkyhead i think we can close this one

[2019-03-06 13:34] boelle commented on #12111
@thinkyhead i think we can close this one

[2019-03-06 13:35] boelle commented on #12144
@thinkyhead i think we can close this one

[2019-03-06 13:35] boelle commented on #12165
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12171
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12180
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12183
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12190
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12217
@thinkyhead i think we can close this one

[2019-03-06 13:36] boelle commented on #12235
@thinkyhead i think we can close this one

[2019-03-06 13:36] GMagician commented on #12613
Just to know, I don't use your plugin but I use visual studio and I compile for mega2560 via platformIO.
I'm wondering why are you using such pluging instead of VS without it? Which benefit do you have with it?

N.B: In my case platformio generated a native visual studio project, using a plugin I'm able to see the whole project in a tree structure (folder -> subfolder - > file) and manage such pro

[2019-03-06 13:36] boelle commented on #12238
@thinkyhead i think we can close this one

[2019-03-06 13:37] #9352 closed, assigned to nobody

[2019-03-06 13:37] boelle commented on #12248
@FelixHauser any success?

[2019-03-06 13:37] boelle commented on #12265
@thinkyhead i think we can close this one

[2019-03-06 13:37] boelle commented on #12309
@thinkyhead i think we can close this one

[2019-03-06 13:37] boelle commented on #12330
@thinkyhead i think we can close this one

[2019-03-06 13:39] boelle commented on #12365
@Anycubic did you re-test?

[2019-03-06 13:39] boelle commented on #12369
@thinkyhead i think we can close this one

[2019-03-06 13:40] boelle commented on #12390
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12411
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12433
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12449
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12460
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12464
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12469
@thinkyhead i think we can close this one

[2019-03-06 13:41] boelle commented on #12479
@thinkyhead i think we can close this one

[2019-03-06 13:42] boelle commented on #12496
@thinkyhead i think we can close this one

[2019-03-06 13:42] boelle commented on #12497
@thinkyhead i think we can close this one

[2019-03-06 13:42] boelle commented on #12511
@thinkyhead i think we can close this one

[2019-03-06 13:42] boelle commented on #12531
@thinkyhead i think we can close this one

[2019-03-06 13:43] VanessaE commented on #13316
@boelle Mine's a 12v system.

@teemuatlut,

nono, I was suggesting *Marlin* generate the accel/decel curves more or less as is done now, but send that to the driver as a chain of very short simple moves, gradually increasing or decreasing their speed, letting the 2208's internal pulse generator turn the motors, as described by section 12 of the datasheet (page 61), instead of doing it all through

[2019-03-06 13:43] boelle commented on #12560
@thinkyhead i think we can close this one

[2019-03-06 13:44] boelle commented on #12563
@thinkyhead i think we can close this one

[2019-03-06 13:45] boelle commented on #12569
what lcd and controller combo will even make this possible?

[2019-03-06 13:45] boelle commented on #12574
@thinkyhead i think we can close this one

[2019-03-06 13:45] boelle commented on #12583
@thinkyhead i think we can close this one

[2019-03-06 13:45] boelle commented on #12586
@thinkyhead i think we can close this one

[2019-03-06 13:45] boelle commented on #12591
@thinkyhead i think we can close this one

[2019-03-06 13:46] XBrav commented on #11640
Hi Bo,

Unfortunately I have no time to test it out for the next while. Let's close
this, and I'll open a new ticket with further diag data if it persists.

On Wed, Mar 6, 2019, 5:27 AM Bo Herrmannsen, <notifications@github.com>
wrote:

[2019-03-06 13:46] boelle commented on #12592
@thinkyhead i think we can close this one

[2019-03-06 13:46] boelle commented on #12596
@thinkyhead i think we can close this one

[2019-03-06 13:46] boelle commented on #12607
@thinkyhead i think we can close this one

[2019-03-06 13:46] boelle commented on #12608
@thinkyhead i think we can close this one

[2019-03-06 13:48] boelle commented on #13316
go for 24V, i had the same issue and Trinamic told me that noise starts to drop at about 18V so 24V was the recommended, just thoughts

[2019-03-06 13:49] eikeime commented on #13318
yes, different color is a great idea, although it's a little bit like rgb trend on pc, at least on 3d printer it's not just for show off.

[2019-03-06 13:49] boelle commented on #11640
good idea

only you can close by clicking the close button below, or @thinkyhead can do it once he have time

[2019-03-06 13:50] boelle commented on #12622
@thinkyhead i think we can close this one

[2019-03-06 13:50] boelle commented on #12624
@thinkyhead i think we can close this one

[2019-03-06 13:51] boelle commented on #12625
@thinkyhead i think we can close this one

[2019-03-06 13:51] VanessaE commented on #13316
@boelle yeah, I've seen similar comments elsewhere, but that's money I can't spend right now.

[2019-03-06 13:52] mperdue commented on #6923
I don't know. I needed to add several motors to my setup and moved to a Duet WiFi with a Duex5 so I'm running the firmware that they have developed. I still watch the development here because you never know what the future holds.

[2019-03-06 13:52] boelle commented on #13318
well its a bit of showoff as most have either a LCD or Octoprint and can get the same info that the RGB led's provide

but if you only have webcam picture its a great idea

[2019-03-06 13:53] boelle commented on #13316
same here, i ended up finding a 12V->24V stepup converter and feed the drivers directly

[2019-03-06 13:55] boelle commented on #6923
nope, but i dont think its fair to keep this open when you are not able to test and you where pretty much the only one having the problem

but that just my thoughts

[2019-03-06 13:57] #11640 closed, assigned to nobody

[2019-03-06 14:04] boelle commented on #12644
@thinkyhead i think we can close this one

[2019-03-06 14:04] boelle commented on #12658
@thinkyhead i think we can close this one

[2019-03-06 14:04] boelle commented on #12668
@thinkyhead i think we can close this one

[2019-03-06 14:04] boelle commented on #12669
@thinkyhead i think we can close this one

[2019-03-06 14:05] boelle commented on #12734
you forgot the files

[2019-03-06 14:06] boelle commented on #12743
did you do any further testing?

[2019-03-06 14:06] boelle commented on #12780
@thinkyhead i think we can close this one

[2019-03-06 14:07] boelle commented on #12793
@Le-zOU did you have a look?

[2019-03-06 14:08] boelle commented on #12797
@thinkyhead i think we can close this one

[2019-03-06 14:09] boelle commented on #12804
@thinkyhead i think we can close this one

[2019-03-06 14:09] boelle commented on #12809
@thinkyhead i think we can close this one

[2019-03-06 14:10] boelle commented on #12812
@thinkyhead i think we can close this one

[2019-03-06 14:12] boelle commented on #12865
@thinkyhead i think we can close this one

[2019-03-06 14:13] boelle commented on #12904
@serdardogan had time to check?

[2019-03-06 14:13] boelle commented on #12905
@thinkyhead i think we can close this one

[2019-03-06 14:14] boelle commented on #12912
@thinkyhead i think we can close this one

[2019-03-06 14:15] boelle commented on #12922
@thinkyhead i think we can close this one

[2019-03-06 14:15] boelle commented on #12924
@thinkyhead i think we can close this one

[2019-03-06 14:15] boelle commented on #12928
@thinkyhead i think we can close this one

[2019-03-06 14:17] boelle commented on #12969
@thinkyhead i think we can close this one

[2019-03-06 14:17] boelle commented on #13004
@thinkyhead i think we can close this one

[2019-03-06 14:19] boelle commented on #13016
@thinkyhead i think we can close this one

[2019-03-06 14:20] boelle commented on #13031
@madnessracer have you tested with 2.0 ?

[2019-03-06 14:21] boelle commented on #13040
remember to upload pic

just copy and paste it in here... crtl+c then here ctrl+v

[2019-03-06 14:21] boelle commented on #13045
@thinkyhead i think we can close this one

[2019-03-06 14:22] boelle commented on #13051
@thinkyhead i think we can close this one

[2019-03-06 14:22] boelle commented on #13062
@thinkyhead i think we can close this one

[2019-03-06 14:23] boelle commented on #13068
@freighttt still working on this?

[2019-03-06 14:24] boelle commented on #13069
@budy238 is this still a problem?

and describe the problem in details

try bugfix 2.0

[2019-03-06 14:25] boelle commented on #13077
@blackdogws still working on this?

[2019-03-06 14:25] boelle commented on #13079
@ruggb still working on this?

[2019-03-06 14:26] boelle commented on #13085
@i-make-robots still working on this?

[2019-03-06 14:26] italocjs commented on #12531
Hi boelle, sorry i didnt reply, the issue is not solved at least for the last time i updated the firmware (on january this year), it stopped bothering me because i changed the driver to run on stealthchop all the time.  You can close this, but im not sure if it was fixed

[2019-03-06 14:27] boelle commented on #13089
@Krimik still having issue ? remember to use bugfix 2.0

[2019-03-06 14:27] boelle commented on #13092
@Core3dTech still working on this?

[2019-03-06 14:28] boelle commented on #13096
@LinFor still working on this?

[2019-03-06 14:28] boelle commented on #13101
@thinkyhead i think we can close this one

[2019-03-06 14:32] boelle commented on #13102
@tobecwb still working on this?

[2019-03-06 14:32] boelle commented on #13103
@viper93458 still working on this?

[2019-03-06 14:33] boelle commented on #13106
@bakteriak still working on this?

[2019-03-06 14:33] boelle commented on #13108
@stemaDev still working on this?

[2019-03-06 14:36] boelle commented on #13109
https://www.facebook.com/groups/1049718498464482/

https://discord.gg/n5NJ59y

[2019-03-06 14:37] boelle commented on #13114
tried with todays commit of 2.0?

[2019-03-06 14:38] boelle commented on #13115
i also use 2.0 and re-arm and full graph display, no issue

[2019-03-06 14:39] boelle commented on #13124
@HansJakob still working on this?

remember to attach your 2 config files as zip file

@thinkyhead thoughts?

[2019-03-06 14:40] boelle commented on #13126
so you upgraded to bugfix 2.0?

[2019-03-06 14:41] boelle commented on #13128
@italocjs still working on this?

[2019-03-06 14:42] boelle commented on #13129
@ruggb still working on this?

[2019-03-06 14:42] boelle commented on #13134
@Skybeat still working on this?

[2019-03-06 14:43] boelle commented on #13138
@Brainc0re still working on this?
tried bugfix 2.0?

[2019-03-06 14:43] boelle commented on #13139
@5a2v0 still working on this?

[2019-03-06 14:44] boelle commented on #13141
@nrgbistro still working on this?

[2019-03-06 14:44] Anycubic commented on #12365
Sorry but lately I'm very busy with my job, hope to have time to re-test in the next few days

[2019-03-06 14:45] boelle commented on #13142
@Andreiva13 so you have not tried bugfix 2.0?

[2019-03-06 14:45] boelle commented on #13145
@DangerD256 still working on this?

[2019-03-06 14:46] boelle commented on #13147
@wookie666 still working on this?

[2019-03-06 14:46] boelle commented on #13152
@fakcior still working on this?

[2019-03-06 14:47] boelle commented on #13161
@thinkyhead i think we can close this one

[2019-03-06 14:47] boelle commented on #12531
@italocjs have you tried with new copy of bugfix 2.0?

[2019-03-06 14:48] boelle commented on #12531
i mean tried with 24V, trinamic do need above 18V to become noiseless

[2019-03-06 14:48] TB1405 commented on #12809
Problem is not sloved in actual bugfixes. Sorry i had a error with my Auto and was struggling with my printer.
I have postet a Video in the marlin Facebook group

[2019-03-06 14:53] tobecwb commented on #13102
no!
changed the driver for Y axis...
it's possible to use TMC2130 in my case, but I have to slow down a lot the Y speed / acceleration / jerk.

used a drv8825 on Y, tunned the acceleration and jerk (tried with junction deviation too.. but because of lack of documentation how to tune this, changed back to jerk) and everything is working ok!

I already ordered some TMC2208 to try.. because TMC2208,

[2019-03-06 14:53] #13102 closed, assigned to nobody

[2019-03-06 14:55] pandel commented on #13114
No, at least I didn't. While tuning my printbed a *little*, I went from UBL to bilinear to no leveling at all anymore. Just Z probe offset and be fine...

[2019-03-06 14:55] boelle commented on #13172
@thinkyhead i think we can close this one

[2019-03-06 14:55] dystechnic commented on #13264
In addition to the former post I noticed that in Bugfix 2.0.x the state of the Z-endstop changes when I query its state I noticed the following behaviour:
[code]
The bed did not move and the probe indicated that is was triggered the whole time. Enabling Endstop Noise Threshold did not help. I tried different values there, but nothing changed.

I tried it with a different firmware (MK4DUO V4.3.6  a

[2019-03-06 14:57] ZS1FJK commented on #13312
@hectori4502

Extruder is now moving.

Thank you

[2019-03-06 14:57] boelle commented on #13268
so this is still an issue? just strange

[2019-03-06 14:58] boelle commented on #13289
hope we got another issue sorted here :-)

[2019-03-06 14:59] boelle commented on #13292
@narsil8 tried what i suggested 3 days ago?

[2019-03-06 15:00] boelle commented on #13303
so this is a bug with slic3r PE?

[2019-03-06 15:01] boelle commented on #13312
@ZS1FJK we fixed this?

[2019-03-06 15:02] fakcior commented on #13152
As I stated earlier documentation should include some kind of notice for users with Z-probe and Z-endstop combo. They need to keep them in sychronisation or cancel the Z offset with G29 P5 Cx.x command (to zero the mean mesh height).

[2019-03-06 15:02] boelle commented on #12365
@Anycubic maybe click close below and open new issue if problem is still there?

[2019-03-06 15:02] tidus350 commented on #12574
Yeah I found a different setup that actually worked 4 months ago I thought
this had been closed truth is mks boards just suck especially for the price
and so does any cubic I designed and built my own printer and I haven't had
an issue with it since it went online. Thanks for the reply tho it was as
helpful as the post boards.

On Wed, Mar 6, 2019, 7:45 AM Bo Herrmannsen <notifications@github.com>

[2019-03-06 15:03] boelle commented on #13102
and 2208 run cooler than 2130.

just remember to put fan on them so they get cooled

[2019-03-06 15:04] Core3dTech commented on #13092
I'm not working on it. I just reported it as an issue. I've moved back to version 1.1.9 bug fix release. It works fine with TMC2130 8 bit board

[2019-03-06 15:04] boelle commented on #13114
@pandel oki, maybe click close below and open new issue in future if you find the problem again?

[2019-03-06 15:07] ZS1FJK commented on #13312
Yes it looks like it. Thank you

[2019-03-06 15:07] #13312 closed, assigned to nobody

[2019-03-06 15:07] Andrei-Pozolotin commented on #13314
@gloomyandy RE: `Also are you sure you have pins assigned correctly`
No, at some point I have to take the board out and trace all these pins to the mcu with a multimeter.

[2019-03-06 15:08] svs072477 commented on #13268
No, I Swap the connectors, and issue solved

[2019-03-06 15:09] marcio-ao commented on #13312
@boelle: I don't know, since I don't have config files to compare to. Due to the number of printer variants we have to generate, our FW generates the configurations progmatically at compile time and there is nothing to compare against upstream Marlin.

For what it is worth, in our recent "devel" branch we have added unofficial, unsupported options to build for a TAZ 6 with an Archim 2.

[2019-03-06 15:09] boelle commented on #13152
never had an issue with probe and endstop

i even have dual z endstop and use a probe for bilinear probing, i did not even read the documentaion

[2019-03-06 15:10] boelle commented on #12574
only the one that opens the issue and @thinkyhead can close

you will see a close button below when you login to github

[2019-03-06 15:11] InsanityAutomation commented on #13129
Will probably be a couple small tweaks left, but maybe not till after mrrf depending how time goes here...

[2019-03-06 15:11] boelle commented on #13092
and you used 2.0 when you reported it?

[2019-03-06 15:12] PvvS commented on #12743
Last weekend I downloaded the last build and the problem persists. Still the same symptoms. At room temperature it measures 0, the temperature is the same as the measured temperature.

[2019-03-06 15:12] boelle commented on #13268
@svs072477 then give the close button below a friendly thought :-D

[2019-03-06 15:13] Core3dTech commented on #13092
Actually not sure

[2019-03-06 15:14] boelle commented on #13312
@marcio-ao hehe, but i think @ZS1FJK fixed his problem, does the proposed fix look "reasonble" ?

[2019-03-06 15:15] boelle commented on #13129
oki doke, was just following up on my last "cleaning" frenzy :-D

[2019-03-06 15:16] svs072477 commented on #13268
Oh, sorry

[2019-03-06 15:16] #13268 closed, assigned to nobody

[2019-03-06 15:17] boelle commented on #12743
could i ask that you add [BUG] in the title line so it becomes: [BUG]Marlin 2.0 and GTM32 temperature issue

and also attach your 2 config files as a zip file so that @thinkyhead can have a look

[2019-03-06 15:17] Core3dTech commented on #13092
Yes this is under the 2.0 32 bit thread

[2019-03-06 15:18] p3p commented on #13314
@gloomyandy I'm pretty sure Marlin generates it own signal for heaters and fans.

I'm not sure why that doesn't work for you, I just checked here and the PWM signal definitely stops after `SERVO_DELAY`

[2019-03-06 15:20] boelle commented on #13092
could you attach your 2 config files as a zip file?

and edit title so that it becomes [BUG]StealthChop not on?

then @thinkyhead have a small chance of trying to figure out

i know you added a small section of the config, but having both files is better

[2019-03-06 15:21] yarus23 commented on #13303
I suppose no because in Cura for example there is an option to increase Z while retracting so it is a bug of Marlin. It should save on every Z change

[2019-03-06 15:22] ruggb commented on #13079
I think I have it resolved;
a NOZZLE activated probe needs a positive Z offset. It triggers AFTER hitting the bed.
A separate probe (BL Touch) needs a negative Z offset, it trigger BEFORE the nozzle gets to the bed.
Maybe you could say that and it would be VERY clear.

[2019-03-06 15:22] #13079 closed, assigned to nobody

[2019-03-06 15:23] ZS1FJK commented on #13312
@marcio-ao
I am unable to get the files to compile from the devel branch. I am unsure how to report these things to you.

[2019-03-06 15:24] boelle commented on #13303
just trying to understand as i also use slic3r pe and no issue here

[2019-03-06 15:25] ruggb commented on #13129
I figured out an EASY tweak to fix this. Now it works like I expect/want it to - till you change it again.

[2019-03-06 15:25] #13129 closed, assigned to nobody

[2019-03-06 15:26] boelle commented on #13079
it does say so in the config

#define X_PROBE_OFFSET_FROM_EXTRUDER 23  // X offset: -left  +right  [of the nozzle]
#define Y_PROBE_OFFSET_FROM_EXTRUDER 9  // Y offset: -front +behind [the nozzle]
#define Z_PROBE_OFFSET_FROM_EXTRUDER -0.215   // Z offset: -below +above  [the nozzle]

Z offset: -below +above  [the nozzle]

so it's VERY clear to me, and i'm not a super smart person :-D

[2019-03-06 15:26] marcio-ao commented on #13312
@boelle: Yes, because this workaround has already been [discussed here](https://github.com/MarlinFirmware/Marlin/issues/13040).

[2019-03-06 15:28] marcio-ao commented on #13312
@ZS1FJK: Post a screenshot or log of the error(s) you are getting on the devel branch here. Generally we aren't suppost to support non-stock configs, but I may be able to look it over quickly if you post it here.

[2019-03-06 15:31] yarus23 commented on #13303
Probably because if you save when Z 2mm higher it is Ok, so tests needed

[2019-03-06 15:31] boelle commented on #13312
i would not mind he post here, i take that the lulzbot flovour back ports stuff and take stuff from marlin? so why not

[2019-03-06 15:31] gloomyandy commented on #13314
My version is based on the schematics that MKS released for a slightly earlier version of the board. You can find them here: https://github.com/pixel3design-hub/MKS-SBASE-FULL-DOCUMENTED Some things may have changed but so far most things seem to match up.

[2019-03-06 15:32] boelle commented on #13129
i dont change anything :-D @thinkyhead  does

[2019-03-06 15:33] ruggb commented on #13079
#define Z_PROBE_OFFSET_FROM_EXTRUDER -0.215 // Z offset: -below +above [the nozzle]
"-" indicated bed gets closer to nozzle
"below" indicates bed is farther from nozzle.
maybe not so clear, huh?

[2019-03-06 15:35] ruggb commented on #13129
it was a collective "you"

[2019-03-06 15:35] mperdue commented on #6923
I agree. I wasn’t aware it was still open.

[2019-03-06 15:36] pandel commented on #13114
@boelle Ok, sure :-)!

[2019-03-06 15:36] #13114 closed, assigned to nobody

[2019-03-06 15:39] boelle commented on #13079
its clear to me that - means it triggers below nozzle
+means above the nozzle

[2019-03-06 15:39] boelle commented on #6923
its open until you click the close button below :-D

[2019-03-06 15:40] boelle commented on #13129
:-D

[2019-03-06 15:47] #6923 closed, assigned to nobody

[2019-03-06 15:47] mperdue commented on #6923
Done.

[2019-03-06 15:47] ruggb commented on #13079
THAT is the confusion - you are talking about Zoffset then you explain it by where the nozzle triggers.
The Zoffset is opposite of where the nozzle triggers. saying - and below to me are mutually exclusive. It is either one or the other. But since you wrote it it is perfectly clear to you.

[2019-03-06 15:49] Core3dTech commented on #13092
attached
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/2937082/Marlin.zip)

[2019-03-06 15:58] boelle commented on #13079
no i explain it by where the probe triggers

and it has been so since at least 2013 where i got my first printer, so its nothing new

[2019-03-06 15:58] boelle commented on #13079
but yes Z offset is oposite, but i have not seen any that use Z offset

[2019-03-06 15:59] boelle commented on #13079
and i did not write anything.... but i guess you mean you as collective again

[2019-03-06 16:00] boelle commented on #13092
and that is the 2.0 config?

[2019-03-06 16:02] Core3dTech commented on #13092
yes?? #define CONFIGURATION_H_VERSION 020000

Marlin_bugfix-2.0.x

[2019-03-06 16:03] boelle commented on #13092
:-D 👍

[2019-03-06 16:08] hectori4502 commented on #13312
I want to share something that I notice when I change from XYZETMC2130 #define MINIMUM_STEPPER_PULSE 1
although using an XYZTMC2130 E0-LV8729 driver #define MINIMUM_STEPPER_PULSE 0 this same effect reduces a lot.
I can only explain it in images. (Someone can explain this effect)
![img1](https://user-images.githubusercontent.com/36092499/53895115-4f3b2f80-3fff-11e9-824c-c2b14b69eda9.jpg)

[2019-03-06 16:08] viper93458 commented on #13103
The solutions provided seem to work, but I don't know which is preferred. I was hoping that this would end up being fixed in the codebase, but thus far I haven't noticed it so I haven't closed this out.

-William

[2019-03-06 16:19] boelle commented on #13103
at least you show interest in getting it solved, there are not many like you :-D

[2019-03-06 16:38] Brainc0re commented on #13138
@boelle

No. Its working now. I had to connect the solder points (R64 and R66).

https://imgur.com/a/igMochX

[2019-03-06 16:39] orcinus commented on #10738
Never got around to testing it, unfortunately, because i had a working weekend.
Feel free to close, i can always reopen as 2.0 issue if needed, when i get around to testing it.

[2019-03-06 16:42] Anycubic commented on #12365
Ok, done

[2019-03-06 16:42] #12365 closed, assigned to nobody

[2019-03-06 16:56] viper93458 commented on #13103
Certainly! I have enjoyed using Marlin and continually learning how the deeper features work. Unfortunately I lack the developer skills to contribute. :(

Keep up the great work team!

[2019-03-06 17:06] jminardi commented on #8290
@boelle It has been a while since I worked with this but IIRC I was able to get it to work for me needs.

[2019-03-06 17:25] j54n1n commented on #12613
I think the main difference between the two options is that PlatformIO uses Visual Studio Code. VMicro is instead a plugin for the native Visual Studio (not VS Code) with the avr-gcc from Arduino IDE.

I used this plugin for other projects, and also for Marlin 1.1.x, but with the new 2.0.x branch and the changed files/folder layout it causes the above mentioned problem.

One of the main features o

[2019-03-06 17:32] GMagician commented on #12613
that's wrong...I'm using VS2017 community edition, not vs code

that may a good reason.

[2019-03-06 17:36] Louis-Cypher commented on #12608
Sorry for my late response. I sadly do not have access to my system for the
next weeks but I think yes.

Am 21. Februar 2019 21:25:51 schrieb Bo Herrmannsen <notifications@github.com>:

[2019-03-06 17:50] ZS1FJK commented on #13312
@hectori4502
I am not sure if they will see this but i will check and see if u can see something.

[2019-03-06 17:53] Skybeat commented on #13134
@boelle
How do you mean it?
i have changed my copy of Marlin to test it, but i have still a issue.
In Cura (v.3.6.0) i use the original Ender 3 profile of cure. But if i try to place a peace to print at the front of the build blad in Cura,, the print himself prints not over the bed, it prints in front (outside) of the bed. Currently i don't know why.

[2019-03-06 17:54] i-make-robots commented on #13085
I don't get how it works, but I'm using it effectively.

On Wed, Mar 6, 2019 at 6:44 AM Bo Herrmannsen <notifications@github.com>
wrote:

--

Dan Royer

Owner
------------------------------
1 (604) 916 2281 <16049162281> dan@marginallyclever.com
www.marginallyclever.com <https://www.facebook.com/MarginallyClever/>
<https://www.instagram.com/imakerobots/>
<https://www.youtube.com/channel/UCfbRxqjuO

[2019-03-06 18:22] mmotley999 commented on #11282
Yes, I'm closing.  I haven't had a chance to install 2.0 yet, but once I do I'll test and re-open the issue if it occurs then.  Thanks all.

[2019-03-06 18:22] #11282 closed, assigned to nobody

[2019-03-06 18:29] ISAndreiva commented on #13142
@boelle I checked that after I made the post

[2019-03-06 18:41] mr-miky commented on #12521
@thinkyhead     B00000000 is not defined because it is missing binary.h so if you then include it the build fails anyway

Maybe you could put a local copy of binary.h inside HAL_STM32F4 and if B000000 is not defined  just include the binary.h inside HAL_STM32F4 or you could put it in HAL / shared but I think the problem is related only to stm32F4.

[2019-03-06 18:41] chris-hemmings commented on #13147
Have up and changed to home y min. But would like to change this if possible

[2019-03-06 18:43] boelle commented on #13138
@Brainc0re maybe give the close button below a small click :-D

[2019-03-06 18:44] boelle commented on #10738
@orcinus only you can close, button is below

[2019-03-06 18:46] boelle commented on #12608
@Louis-Cypher maybe click close below and open new issue if problem is still there

[2019-03-06 18:48] boelle commented on #13085
then maybe click close below?

[2019-03-06 18:52] #13138 closed, assigned to nobody

[2019-03-06 18:54] #13085 closed, assigned to nobody

[2019-03-06 18:55] #12608 closed, assigned to nobody

[2019-03-06 19:03] neoxm3 commented on #13016
sorry, i was sick!
yes, it is resolved! very thanks

[2019-03-06 19:05] boelle commented on #13016
@neoxm3 can happen to all of us

hit the close button below

[2019-03-06 19:38] Thowra commented on #12734
@boelle
I have not forgotten.
Because of my job I was not a printer near.
I try to solve things at work as soon as possible.

[2019-03-06 19:48] Gongo1985 commented on #13138
Ciao puoi mettere qualche foto dei collegamenti r64 r66

[2019-03-06 19:50] Brainc0re commented on #13138
In english please

[2019-03-06 19:50] boelle commented on #13138
@Gongo1985 are you italian or spanish? just so i can pick correct language in google translate

[2019-03-06 19:51] boelle commented on #13138
@Gongo1985 or you can translate: https://translate.google.com

[2019-03-06 19:52] boelle commented on #13138
@Brainc0re but let us guess: he wants a photo of where/how you fixed it

[2019-03-06 19:53] boelle commented on #13138
italian to english
![image](https://user-images.githubusercontent.com/3832239/53909408-ea5cf500-4051-11e9-901a-b8469febdb2d.png)

[2019-03-06 19:56] Gongo1985 commented on #13138
Please can I take pictures how to connect the cables on resistors r64 r66 please please

[2019-03-06 19:57] boelle commented on #13138
@Brainc0re i was correct, google translate is not the best so i think he wants a few pictures of what you did arround r64+66

[2019-03-06 19:58] Gongo1985 commented on #13138
Yessssss yesssssssss please pleaseeeeeeeeee

[2019-03-06 19:59] Gongo1985 commented on #13138
Yes yesss please please

[2019-03-06 20:00] boelle commented on #13138
@Gongo1985 stai calmo :-D

[2019-03-06 20:02] Gongo1985 commented on #13138
Sorry🙏

[2019-03-06 20:04] Brainc0re commented on #13138
No resistor is needed. Make a bridge with solder between the two points.

https://imgur.com/a/DQrWXld

[2019-03-06 20:14] Gongo1985 commented on #13138
I do the welding and then connect the 20-pin inverted cables

[2019-03-06 20:15] Gongo1985 commented on #13138
I do the welding and then connect the 10-pin inverted cables

[2019-03-06 20:32] Brainc0re commented on #13138
Yes and no. EXP1 and EXP2 are inverted. And you need a Firmware where the REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER is enabled. But you can not take the firmware from my first post if you dont have a BLTouch installed.

[2019-03-06 20:42] Gongo1985 commented on #13138
Bltouch ok firmware ok Tomorrow I make the welds and I try again I hope to succeed you have had improvements with lcd

[2019-03-06 20:50] Gongo1985 commented on #13138
It works better With LCD

[2019-03-06 20:55] freighttt commented on #13068
@boelle
I ended up wiring them up for uart(which unleashed a whole new issue, of course haha), and they appear to be communicating fine. Given marlin 2 is upon us, this can probably be closed. I suspect it was a fluke of some type, probably from the tmc side of things and not an issue rooted in marlin.

[2019-03-06 20:55] #13068 closed, assigned to nobody

[2019-03-06 20:59] boelle commented on #13068
marlin 2 is allready here :-D

https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x

[2019-03-06 21:19] kpdelucia commented on #9567
Sorry to hold you up I had to print a $$ job on that printer last weekend with a single extruder.  I will try this weekend but if you are really anxious to close this out, Don't wait for me. I will likely figure it out.

[2019-03-06 21:21] boelle commented on #9567
no no, we can wait a few more days :-D

[2019-03-06 21:22] njozsef commented on #12905
Hi.
I understand, and accepted the lower acc and no jerk. But printer is working normally if motors not timed out.
Error only after motors  relased. After reconnect stepper H-bridge, high vibration generated. This is not related the acceleration and jerk.

Suggested solution is simple: **all motors powered on (include z) before G28.**

currently firmware only powered on x and y motors before runni

[2019-03-06 21:26] boelle commented on #12905
maybe attach your 2 config files as a zip file, it could tell @thinkyhead what could be the cause

[2019-03-06 21:34] revilor commented on #13303
There is a reason for not saving recovery info on every Z change (limited write cycles an SD card can handle during it's lifetime) so the line you call a bug is actually a feature. When you disable Z hop in your slicer the recovery file will be written on every layer change. With Z hop enabled the recovery file will be written when the first Z hop on a layer happens. Both ways there is one save po

[2019-03-06 21:46] yarus23 commented on #13303
Almost all modern memory cards can withstand at least 100,000 Program/Erase Cycles, and some cards can withstand as many as 10 times more cycles than standard cards.  What this all means is that, according to the card manufacturers, you could fill a memory card every day for a couple decades without having any problems. All the card. And broken complex model on the other hand (my case) when Marlin

[2019-03-06 22:04] freighttt commented on #13068
Haha, you know what I mean! @boelle

[2019-03-06 22:08] #13016 closed, assigned to nobody

[2019-03-06 22:34] orcinus commented on #10738
Sorry, i'm daft, been commenting on other people's issues whole day at work. Closing.

[2019-03-06 22:34] #10738 closed, assigned to nobody

[2019-03-06 23:06] Roxy-3D commented on #11702
@Smart3DCNC   If the extruders all move together....   Having the macros support a 3-way duplication is not a big deal.   We just scale up the non-IDEX duplication mode to do 3 (or 4) extruders instead of doing 2.

The code to control how many (and which) extruders are doing the duplication is going to be the bulk of the code (and effort).   But if you are willing to turn on duplication mode and h

[2019-03-06 23:48] AnHardt commented on #13303
I'm struggling to say it's meaningless, if the 'power loss recovery feature' is losing 2mm, 2 layers, 1/2 a layer or just the content of the planner buffer. It means it does not work without losses. At least not without investing [major work](https://github.com/AnHardt/Marlin/issues/87).

But seemingly some can use this, as it is, to their advantage. So what we have is better than nothing.

There

[2019-03-07 00:44] markdesouza commented on #12780
please do, I'm traveling atm and haven't had the chance to test.

[2019-03-07 00:48] schme16 commented on #11576
@boelle Because it's reasonably clear that others are still hanging on this item? (myself included)
If it helps make sure this doesn't get closed without resolution, I'm happy to test the latest 2.0 bugfix and report back as soon as I can

[2019-03-07 01:01] boelle commented on #12780
@markdesouza only you can close by clicking the close button below

you can always open new issue later

[2019-03-07 01:06] #12780 closed, assigned to nobody

[2019-03-07 02:19] Smart3DCNC commented on #11702
Thanks Roxy, this is perfect,
Machine 1, Tripple duplicator
 I dont even need menu items to enable 1,2,3 extruders I will interrupt the Stepper and HEx externally.
Machine 2. Mirror Duplicator
The mirror function is in anycase mechanical hard linked in the design of the machine the X carriages move in opposite directions

[2019-03-07 02:54] TwatBurglar commented on #11576
I agree, @schme16 ...    this is somewhat of a showstopper for using a Laser - rastering is unusable with stock 2.0 (as evidenced by @SmarteedCS 's pictures above), and vectoring is no picnic - essentially laser power changes are delayed by a random amount between 0 and 100ms (10Hz update rate) - and my steppers can move a couple of mm in 100ms.

I did try @jeffeb3 's  planner.check_axes_activity(

[2019-03-07 05:31] yarus23 commented on #13303
Yes, you are right,  but 98% of cases user manually pauses the process, and 2mm leads to broken model

[2019-03-07 06:23] #9487 closed, assigned to nobody

[2019-03-07 07:05] #13141 closed, assigned to nobody

[2019-03-07 08:08] volca02 commented on #12592
For the sake of manageability of the issue counts I'll close this one. `G29 P4` is a marginal feature not many will resort to so hopefully this trap is not something many will fall into. Can't find the time to re-test this anyway.

[2019-03-07 08:08] #12592 closed, assigned to nobody

[2019-03-07 09:13] reloxx13 commented on #13213
but only over the lcd? is the lcd producing so much overhead just for E movement?
XYZ works fine, its just the E with the LCD. E movement over terminal works fine, too.

And the LCD code and the Extruder count got some rework not long ago.
But just from looking/following the code i could not find an error (im not a C dev).

[2019-03-07 09:15] Miran81 commented on #12937
@boelle  ı think its about ULTRA_LCD but ı don't know

[2019-03-07 09:53] narsil8 commented on #13292
It was settled two days ago. I changed all the firmware. So I don't know the exact reason. Thank you.

[2019-03-07 09:55] boelle commented on #13292
@narsil8 maybe click the close button below?
you can always open new issue if you have problems in the future

[2019-03-07 10:40] Fabialbo opened #13323 "[HELP] E0 Auto Fan doesnt turn off after finished print"
### Description

Auto Hotend fan wont turn of after finished print.
Strangly everything works fine (start & stop of fan) if I set temperures manually over the printer interface.

### Steps to Reproduce

1. restart printer
2. Print normally
3. wait until finished

**Expected behavior:** Printer turns on/off autofan if hotendtemp is over/under set threshold

**Actual behavior:** Turns on perfectly a

[2019-03-07 11:17] marquismatt opened #13324 "safe homing and bed levelling issue"
Hi Guys

I'm stuck on two things, I've set up ABL in config.h etc in 1.1.9
the first issue is that it wont compensate for the bed unevenness (levelled bed manually beforehand)
and now it wont safe home properly with G28 it will home the X and Y but when it goes to home the Z it hits the right hand side instead of stopping at the centre of the bed. any ideas on what I have missed or have done wrong

[2019-03-07 11:55] AnHardt commented on #13303
What i tried to tell you is:
The concept of 'power loss recovery feature' is deeply broken. After recovery you will always have a broken (functional) part. Don't use it - except in a real power loss - then, in a few cases, the result may **look** more or less acceptable.
Using 'power loss recovery feature' as a replacement for a 'pause' by will, for me, seems to be the pure madness.

[2019-03-07 11:59] mjscosta commented on #5767
@TwatBurglar still haven't tried to address the issue. The point where I am in this, is that I still need to check the pulse frequency of the PWM, to check if indeed something else is required.

 If it is below 20kHz I wont need to change anything, if not, I'm considering using a "frequency divider circuit" that decreases the PWM frequency, so that I don't need to tweak the the code.

Considering

[2019-03-07 12:05] FAB1150 commented on #9534
@boelle oh no! I'm at home now, yes. Five minutes (I hope) and I can upload a gcode

[2019-03-07 12:12] aharshac commented on #11845
I had this problem on a dual nozzle machine running a fork of Marlin 1.1.9 [#7b594ee](https://github.com/MarlinFirmware/Marlin/tree/7b594ee4a2feba8872d86efff16f414d93dc01c7).

Attempting a tool change at home position (XMIN, YMAX, ZMAX) would result in the carriage crashing into the XMIN and ZMAX endstops.

Here's how I fixed the crashes.

Printer config:

Modify `void tool_change()` in Marlin_mai

[2019-03-07 12:17] FAB1150 commented on #9534
here am i from the pc, finally. here is a sliced file (in txt because github doesn't allow .gcode files):

[example.txt](https://github.com/MarlinFirmware/Marlin/files/2941156/example.txt)

thanks for the patience

[2019-03-07 12:37] p3p commented on #12159
NeoPixels now supported on LPC176x

@andyman198 I don't have an LPC1769 so can't confirm the timings @ 120MHz but should be compensated for.

[2019-03-07 12:42] boelle commented on #12159
👍

[2019-03-07 12:57] mattywillo commented on #11893
Definitely closable imo, I've been doing the exact use case referenced by the issue (MPCNC with TMC2130s) for the last month with no problems.

[2019-03-07 14:18] dcwalmsley opened #13325 "[RFC] Should Marlin 1.1.9 have its own Repository?"
Since DEVs stopped developing Marlin 1.1.9, there are still folks posting issues in this repository along with issues related with 2.x.

Maybe it would be wise to break the old version from this group and move it to it's own repository and so with the issues.  This way you can concentrate on issues solely related to 2.x development.

[2019-03-07 14:31] ZS1FJK commented on #13312
@hectori4502
What Lin_advanced value are you running?

[2019-03-07 14:33] dcwalmsley commented on #13325
To be clear...   Maybe have MarlinFirmware / Marlin 1.1.9 (8bit) and one for MarlinFirmware / Marlin 2.x (8bit/32bit).

[2019-03-07 14:38] ZS1FJK commented on #13312
@marcio-ao
Here is log files and config files.

[Arduino v9 beta Log File.txt](https://github.com/MarlinFirmware/Marlin/files/2941716/Arduino.v9.beta.Log.File.txt)

[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/2941725/Marlin.zip)
Thank you for your time

[2019-03-07 14:45] TwatBurglar commented on #5767
@mjscosta Did you try any code changes to get a 20khz pwm from the DUE?    It is my understanding that on Due, Marlin implements only the analogWrite 1khz PWMs.   Due has the hardware capability (**ie. Timer5 on pin 44**), but Marlin doesn't implement yet.

fyi - my K40 laser psu needs TTL input (except for the analog pot pin, which I want to leave as an analog pot), so a DAC won't work.

[2019-03-07 15:00] marcio-ao commented on #13312
@ZS1FJK: I believe I have fixed those bugs already and you simply need to do a "git pull" in your repo.

[2019-03-07 15:00] dystechnic commented on #13264
I've solved my problem!

Triggered by the differences between Marlin and MK4DUO I turned to the electronics surrounding my LJ12A3-4-Z/BX Inductive Proximity Sensor. I put an oscilloscope to the z-min pin and saw that the signal levels where slightly off. Sometimes within and sometimes outside the logic boundaries. After some research I discovered that this type of probe has an internat 10K pull-up

[2019-03-07 15:00] #13264 closed, assigned to nobody

[2019-03-07 15:02] marcio-ao commented on #13312
@ZS1FJK: Version 2.0.0.94 had problems compiling under Arduino IDE. I fixed this in 2.0.0.95. The latest you should be able to pull is 2.0.0.97. You can check the version by looking in Conditionals_LulzBot and looking for this line:

[code]

[2019-03-07 15:08] ZS1FJK commented on #13312
@marcio-ao
Ok will pull the new firmware this weekend and configure it. Thank you

[2019-03-07 15:10] italocjs commented on #12531
Not with the latest version, i tried with mid-january latest bugfix on 2.0

Ill try testing with a 24v psu and post the result here.   If you want, you can close the issue

[2019-03-07 15:12] boelle commented on #12531
only you and @thinkyhead can close

there should be a close button  below but only you can see it

[2019-03-07 15:16] TwatBurglar commented on #8975
@Bob-the-Kuhn

@Bob-the-Kuhn  Do you know if any 25khz PWMs (for laser power) for DUE were implemented?   I had a look through the code, it looks like no :(

[2019-03-07 15:19] megavolt0 commented on #9368
Hi! What version of library you use? I Have same problem...

I have found. version 2.2.1 work well. And it work softer then 2.5.0....))

One time was OK. But second time - layers was moved((

[2019-03-07 16:40] hectori4502 commented on #13312
@ZS1FJK
LIN_ADVANCE_K 0.15

I notice this effect when I change
MINIMUM_STEPPER_PULSE 0 to 1 with TMC2130 drivers (this change I do to operate the extruder)
In the sample of the video you will see that waves are created in the back part.
https://www.youtube.com/watch?v=DCnbbPg7eAc

[2019-03-07 16:46] InsanityAutomation commented on #11845
Some degree of the above is needed. It's on my list to get to at some point.... That list is way too long lol thinkyhead just finished one of the things I had planned to get to! Day job is too busy ATM....

[2019-03-07 17:10] freighttt opened #13326 "[Bugfix 2.0.x] mks 1.4/tmc2208 no motion on any axis - steppers communicating via UART"
### Description

Have tmc2208's running in uart, but all steppers are powerless. the drivers communicate just fine. rolled back to 1.1.9 and i have motion. Using the most curren 2.0.x and havent messed with anything outside of standard setup. running an ender 3 with mks 1.4, so the board doesnt have PSU control and as such the variable in marlin for psu control is 0. when i ask it to home it does

[2019-03-07 17:21] SlickNickeL commented on #11702
This is all supported in Repetier.
Select how many heads in firmware, and Repetier will then provide a separate control for each head, and a screen for how many copies activating each head sequentially from 0-2 copies.

I saw the S4 and I have one that is similar for my purpose with three heads. One big problem with this design is leveling. It takes on a whole new level of thinking depending on th

[2019-03-07 17:30] #13292 closed, assigned to nobody

[2019-03-07 17:39] Gongo1985 commented on #13138
Hello guys I made the welds but it still does not work maybe I'm wrong the connection of the 10pin turns on the LCD but you can not see anything

[2019-03-07 17:58] Smart3DCNC commented on #11702
Thanks, at the risk of going of topic I had same concern on bed leveling , my Z is done by four stepper each doing an independent level . but the bed need to be FLAT which should not be difficult to achieve every CNC machine in the world has a flat bed.
I lean towards a composite bed as I can eleiminate any warping  expansion problems during heating and cooling
It seems Marlin will do it and just

[2019-03-07 18:00] Brainc0re commented on #13138
Check the connection - pin by pin

https://imgur.com/6ZN5yvT

Its possible that you cable is horizontal AND vertical mirrored. For testing u can use EXP1 only

[2019-03-07 18:13] Gongo1985 commented on #13138
If I do 9 with 9 and 10 with 10 the screen stays off if I do 1 with 9 and 2 with 10 lights up

[2019-03-07 19:07] Injineers commented on #11104
This is still broken

I purged everything, used latest stm from platformio (since not it seems to include the malyanm200) atomic.h error again.

I then removed the latest stm & installed 4.5 same issue.

I then went back to this thread & grabbed the builder files, variants, etc...still errors.

anyone have any idea? or is it possible we can get a updated file structure for those who may be install

[2019-03-07 19:35] kajsilander78 commented on #11104
Try building with stm32duino 1.5 in arduino IDE, if you know how to. I have not tried it myself yet. Tried with early versions and got it to compile, but had some issues with x&y movement, z worked fine but moved wrong direction. Will test again when I get the time.... If any success I'll update...

Here is a guide to start with:
1) https://github.com/stm32duino/wiki/wiki/Getting-Started
In arduin

[2019-03-07 19:37] xC0000005 commented on #11104
I’ve only been building in the arduino IDE, though most of my work lately has been on the lerdge boards, I did test both V1 and V2 after the boards were merged into main.

[2019-03-07 19:37] SlickNickeL commented on #11702
I don’t deal with CNC setups, just 3D FF.

As I said before, I don’t code. It’s not that I can’t learn, it’s I would rather use my brain power in other areas.

Consider this mechanical conundrum.
You have a perfectly flat bed tilted and adjusted on each corner with a motor. Add 3-4 print heads that ALL have to be on the same plane and planed to each other. Now take that plane and stretch it across

[2019-03-07 20:23] p3p commented on #13326
[code]

Have you physically configured your drivers to work with this option? I'm not a TMC guy but this [comment](https://github.com/MarlinFirmware/Marlin/issues/13197#issuecomment-469583276) seems to say you need to change the hardware.

[2019-03-07 20:39] coldtobi opened #13327 "[FR] Userfeedback with M0/M1 and ExtUI."
### Description

During work on  #13253 (but with using the ExtUI interface) I'd like to implement M0/M1 support for my display, as this is a feature I personally often use in my gcode scripts. The idea is to show an popup on the display with the optional message in M0/M1 and ask the user to acknowledge the popup.

Currently this is not supported by ExtUI... However, I'm not sure to implement it i

[2019-03-07 20:45] tcm0116 commented on #7076
Uncomment serial_port_2 and set it to 0. I'm assuming your MKS TFT has a serial connection to the board. With your current configuration of serial_port_1 set to -1, Marlin will only communicate over the USB port.

[2019-03-07 20:46] #11432 closed, assigned to nobody

[2019-03-07 20:51] Bob-the-Kuhn commented on #8975
I doubt it.  I also didn't see any hint of 25KHz PWMs.

[2019-03-07 20:58] boelle commented on #13325
we tend to ask people to upgrade to 2.0 instead since it has teh same features plus its updated and fixed

personal i wonder why people have not figured that 2.0 is there and its both 32 bit and 8 bit

during my first cleanup frenzy i got the gist that people think 2.0 is 32 bit only and they cant use it

[2019-03-07 20:59] boelle commented on #13326
maybe @teemuatlut knows?

[2019-03-07 21:00] boelle commented on #13324
have you tried on bugfix 2.0 also? its both 8 bit and 32 bit

[2019-03-07 21:03] freighttt commented on #13326
@p3p yeah, they’re wired for uart and connected as such. M122 responded with OK connections across all 4 drivers.

[2019-03-07 21:08] p3p commented on #13326
The drivers need to be modified as mentioned in the comment I linked specifically to allow the `SOFTWARE_DRIVER_ENABLE` feature to work. This is extra to being wired for UART mode.

[2019-03-07 21:23] freighttt commented on #13326
@p3p I’ll have to double check my config when I get home, I’m pretty sure it’s enabled but I’ll feel awful stupid if it isn’t haha

[2019-03-07 21:32] p3p commented on #13326
The problem is that it is enabled, not that it isn't, ^^ the `SOFTWARE_DRIVER_ENABLE` feature is relatively new and not available in 1.1.9, so as your drivers work with 1.1.9 when you test I'm pretty sure your drivers are not wired up for it.

[2019-03-07 21:47] gloomyandy commented on #13326
If you are using that option then you need to ensure that the drivers are actually enabled by default. This means that the enable pin on the driver must go to ground. This may mean you have to remove the pin that will normally go to the enable line on the module and connect a wire from the driver enable pad to ground. Note that if you don't do the hardware mod you can not rely on the pin normally

[2019-03-07 21:55] dcwalmsley commented on #13325
So last year, I heard 2.x was for 32bit boards and like many others, felt
that the 8bit boards were no longer supported.

I came away with the thought that industry was shifting to more robust
processors with additional storage capacity and that Marlin 2.x was to
evolve towards that end.  So it doesn't surprise me that many may not have
realized that 2.x supports 8 & 32 bit boards albeit 8bit boar

[2019-03-07 21:58] dcwalmsley commented on #13325
Another question is to wonder why you need 1.1.9 up on the site?  I have
2.x running on my Azteeg X3 Pro with TMC2130 installed as well as my
HyperCube with the Einsy Rambo board and all is good.  I know at some point
hardware upgrade to 32bit may be needed but for now I am ok with Marlin
bugfix 2.x.

On March 7, 2019 15:58:34 Bo Herrmannsen <notifications@github.com> wrote:

[2019-03-07 22:03] boelle commented on #13325
2.x is both 8 bit and 32 bit :-D

[2019-03-07 22:04] boelle commented on #13325
yeah, you can wonder why to have 2 versions, when 2.x supports both 32 bit and 8 bit

maybe @thinkyhead can add his thoughts?

[2019-03-07 22:08] boelle commented on #13325
those come in to trouble with 2.x and 8 bit are the "speedfreaks" ie those that want to go fast without thinking if their hardware can even cope, i have been in that trap too and the result is either jerky motion or the board will reset itself

just having a display eats a lot of cpu cycles...

[2019-03-07 22:09] marquismatt commented on #13324
I’ll have to have a look at 2.0
over the weekend

Cheers for the reply

[2019-03-07 22:11] dcwalmsley commented on #13325
Good point.  I haven't running into performance issues as I stay below
60mm/min.

On March 7, 2019 17:08:50 Bo Herrmannsen <notifications@github.com> wrote:

[2019-03-07 22:55] freighttt commented on #13326
@gloomyandy I will double check my file when I’m home, I think I follow what your saying, but this is all a bit out of my realm of expertise so bear with me :)

[2019-03-07 23:21] thinkyhead commented on #13325
There is only one current release, and that is 1.1.9. Marlin 2.0 has not yet been released, is under constant development — and is in pre-alpha state for most 32-bit platforms. There are points where the development branch is pretty bug-free, and it has been recommended to try the development branch if a bug in 1.1.9 is getting in the way.

We did try a 'dev' separate repository, but it didn't cha

[2019-03-07 23:21] #13325 closed, assigned to nobody

[2019-03-08 00:08] dcwalmsley commented on #13325
I for one sincerely appreciate all the effort you and other Dev's have made
to Marlin.

Thank you for all you good folks do.

[2019-03-08 00:46] Roxy-3D commented on #11702
Just as an FYI:     I haven't gotten to it yet...   But I wanted to adapt the Marlin Bed Leveling for IDEX machines.     The IDEX machines share the X Rail for both extruders.    The current bed leveling does a good job of correcting for the currently active extruder.

But when both extruders are active (in duplication mode) it isn't possible to correct the Z-Height independently for both extruder

[2019-03-08 00:47] bakteriak commented on #13106
@boelle this is still an issue

[2019-03-08 01:52] thinkyhead commented on #11104
STM32F1 build is broken due to some recent change in the platform. We've had to disable STM32 tests in `.travis.yml` here.

[2019-03-08 01:58] rathorp80 opened #13329 "can not compile marlin 2.0 with mks sbase fails neopixel without even having neopixel uncommitted"
can not compile marlin 2.0 with mks sbase fails neopixel without even having neopixel uncommitted

[Configuration.h.txt](https://github.com/MarlinFirmware/Marlin/files/2944102/Configuration.txt)
[failed compile.txt](https://github.com/MarlinFirmware/Marlin/files/2944109/failed.compile.txt)

[2019-03-08 01:58] thinkyhead commented on #13264
Good news. Inductive sensors can be fun! Capacitive sensors have started to take over around here…

[2019-03-08 02:10] Bashtarle commented on #7578
@yashunandansureka ran into a similar issue today when I was swapping out my drivers because they for whatever reason are reversed from my previous drivers. So Instead of going up to perform the correct homing procedure it was going down and slamming into the bed.

So it sounds like you might be having a similar issue where your old configuration inverted the motor directions in software and those

[2019-03-08 03:18] p3p commented on #13329
Update PlatformIO frameworks and libraries

[2019-03-08 04:01] InsanityAutomation commented on #13264
Any 10-30vdc sensor can essentially do the same, including capacitive. Isolation is recommended in these scenarios to be 100% safe from sending high voltage right into the input.

[2019-03-08 04:17] Roxy-3D commented on #13264
My opinion is micro-switches are more reliable and easier to get working...   But to each his own.

[2019-03-08 06:09] J-charles-C commented on #13329
I,

P3P's answer yesterday when I asked the same question:

best

[2019-03-08 06:13] Smart3DCNC commented on #11702
I thought about it I dont think its necessary, The best would be to put the BedLevelSensor in the middle of the 3 or 4 extruders.  this will automatically give you a |mechanical average| If one cannot build a machine with a bed flat enough for the average correction to work, one should probably not attempt to build a machine like this and expect the software to fix the problems.

[2019-03-08 07:16] Suterusu1337 commented on #11340
Stranger on the Internet, you saved me MUCH headache.  I was using an extension cable and it was lose.  My BL Touch would error out every time on the 3rd point.

After snugging the cable up, I could run G29 without issue.

Praise.

[2019-03-08 08:41] Gongo1985 commented on #13138
I finally managed many thanks to all of you thanks thanks thanks

[2019-03-08 08:42] Brainc0re commented on #13138
What was the problem?

[2019-03-08 08:48] teemuatlut commented on #13326
`SOFTWARE_DRIVER_ENABLE` isn't a feature you enable to gain something, but rather a necessary option to accommodate certain hardware. Currently it is only needed for Panucatt BSD2660 drivers, but of course there may be others that I'm not yet aware of.

[2019-03-08 09:12] Gongo1985 commented on #13138
No problem everything works properly thanks to you

[2019-03-08 11:25] DiverOfDark commented on #11576
Obviously on 1 guy who complains and/or creates PR's with fix there are 10 who just struggling silently.
Please, do not close this, and make proper laser support in Marlin! (Or specify in docs that Marlin doesn't support laser engraving, only cutting(?))

Without patches included in this thread laser engraving is just not working in Marlin 2.0.

[2019-03-08 12:13] gloomyandy commented on #13326
@teemuatlut it can be useful on boards like the skr v1.1 that have very few pins available. On that board you can modify the driver board to hardware the enable pin and then use this feature to free up the enable pin for use as chip select (or as a UART line). But yes I would agree that it is not something for general use.

[2019-03-08 13:15] cinealfa opened #13332 "Marlin 2.0 Wont compile with MKS SBase"
### Description

Latest Bug 2.o Branch has error in compiling. maybe related to #13329 I am checking now. Updated platformio This did NOT resolve the error.

### Steps to Reproduce

1. Fresh install of Marlin source
2. Using archive of known good config files dated 1/31/19
3. initiate compile

**Expected behavior:** Program compiles
**Actual behavior:** Passes sanity check then throws the followin

[2019-03-08 14:39] kAdonis commented on #13332
You have custom Bootscreen and Statusscreen enabled, you have to copy these files to your new marlin sources
[code]
You cannot expect marlin to compile with copied config files. You need to edit the corresponding configs every time you download marlin. I am using Notepad++ with the compare plugin for this

[2019-03-08 15:41] jon012198 opened #13333 "[BUG] eeprom not shoing all settings marlin 2.0"
it is only showing info steps filament advanced
here is my configs
[Marlin.zip](https://github.com/MarlinFirmware/Marlin/files/2946418/Marlin.zip)
i am running marlin 2.0
![firefox_2019-03-08_10-37-26](https://user-images.githubusercontent.com/7279835/54038332-47f65c00-418e-11e9-8eaf-625bff579173.png)
![firefox_2019-03-08_10-37-36](https://user-images.githubusercontent.com/7279835/54038333-47f65c0

[2019-03-08 15:48] costascontis commented on #12315
i have updated to 2.x.x and filament sensor doent work as it worked at 1.x.x.When starts printing after a while it detects no filament and run M600 .My config
`#define FILAMENT_RUNOUT_SENSOR
#if ENABLED(FILAMENT_RUNOUT_SENSOR)
  #define NUM_RUNOUT_SENSORS   1     // Number of sensors, up to one per extruder. Define a FIL_RUNOUT#_PIN for each.
  #define FIL_RUNOUT_INVERTING true // set to true to i

[2019-03-08 15:57] ghost commented on #12315
Not sure, but I remember there was a change in the logic some time ago in 2.x.x - consider trying
`#define FIL_RUNOUT_INVERTING false`

[2019-03-08 16:34] reloxx13 commented on #13332
or use sourcetree to "merge" from git.

sourcetree is freeware gui git client.

[2019-03-08 16:43] SlickNickeL commented on #11702
That’s what I do currently in Repetier. The fewer points used over the largest area to make a single plane of reference. I rely on the principal that ALCA 5 is flat. Makes a big difference. Heat has no noticeable effect on the plate, but it does on each individual head. I use my own custom made socks for each of the heater blocks. This stabilizes head expansion. I didn’t engineer in any way to cha

[2019-03-08 16:44] reloxx13 commented on #12957
i used the nozzle park and change filament feature today and its seems to be buggy.

the main porpose works, but...

filament was empty when i was not at home, so i shutted it down remotly.
came home and tried the unlaod function, but the extruder could not reach the filament anymore, nevermind.

- ~no homing before nozzle park, had to power off the machine before it hits the top x bar.~
-> ~it sh

[2019-03-08 19:06] aemileski commented on #11047
The most common issue is the **WRONG SPEC** of stepper being used with DRV8825 drivers.  You can't use steppers with low resistance & low inductance phases, nor can the drive voltage be greatly higher than the nominal stepper operating voltage.

Example:  a 3 V nominal stepper at 12 V or higher drive, will have problems micro-stepping at 1/16 and 1/32.

The missed-steps issue affects all drivers w

[2019-03-08 19:29] 7eggert commented on #13318
A similar but more advanced feature is already implemented, but many of the colors are pre-set.

- Power-on color ist menu-adjustable or compiled in;
- heating color fade,
- white printing light and
- green finished light is hardcoded and you have to press a button after printing;
- then the light turns off.

(I'm annoyed by the "press to resume" message and just deleted the code on my compile)

[2019-03-08 19:30] #13309 closed, assigned to nobody

[2019-03-08 19:34] boelle commented on #13318
and what if light is off and he homes the machine?

[2019-03-08 19:45] InsanityAutomation commented on #11576
I agree this is something that will need attention. Its on the fringe of what Marlin supports though and is not a high priority item but should remain open until resolved nonetheless. Personally, I would put a target of 2.1 on it, since we want to get all the 32-bit hals stable before worrying about timing sync on a fringe device. No offense to those using it, but its not the primary focus and the

[2019-03-08 20:57] guestisp opened #13338 "[BUG] mb ! +3("
marlin 1.1.8
I know it's an outdated version, but for no apparent reason, a 2:45 hours print was interrupted with the string `mb ! +3(` on the last line (Geeetech A20M)

As you can see from the attached photo, hotend and hotbed temperatures where still on.

Any idea ?

[2019-03-08 20:59] guestisp commented on #13338
![IMG_20190308_211352](https://user-images.githubusercontent.com/3944655/54055434-5e7fd000-41ed-11e9-839d-cecfb0c1b5eb.jpg)

[2019-03-08 22:10] RudyBenner commented on #13333
I am also having problems with EEPROM not displaying all the settings.
When I connect with a terminal program (Putty) and do M501
the output looks like it may have extra line feed characters.
I have reverted to several older versions with the same result.
Yet, I have no problem with the new SBASE board.
I will attach some files.
Pronterface also shows the same botched up formatting.

I use Repetie

[2019-03-08 22:30] marcio-ao commented on #13327
@coldtobi: Using a new event handler would be how I would approach it.

For the timeout, perhaps if ExtUI::onUserConfirmRequired(char *msg) is called with NULL, it means to hide any popup that was already issued?

[2019-03-08 22:30] crix26 opened #13339 "double quatation mark in german language file"
### Description

Line 237 in Language_de.h in 1.1.9_bugfix has an erroneous double quatation Mark at the End

### Steps to Reproduce

Try to compile Marlin 1.1.9_bugfix with german lcd Language

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]
Does not Compile
#### Additional Information

* Include a ZIP file containing your `Configuration.h` and `Co

[2019-03-08 22:47] marcio-ao commented on #13327
One thing that isn't clear to me is how the ExtUI is supposed to notify Marlin that the user has acknowledged the pop up? Would the ExtUI have to call a GCODE similar to M876 when the user pushed the button? I'm going to ping @InsanityAutomation in this thread since he has being doing a lot of work related to the interaction between Marlin and the host. The interaction between Marlin and the ExtUI

[2019-03-08 23:07] Andrei-Pozolotin commented on #13314
@gloomyandy

1. I verified traces on the SBase V1.3 board, this is still correct pinout:
https://github.com/pixel3design-hub/MKS-SBASE-FULL-DOCUMENTED/blob/master/MKS%20SBASE%20SCH_V12.pdf
[code]

2. conveniently, `EXP1` has 3 `NC` pins, lending itself for "custom cable"
in the form of awg-30 / 0.25 mm transformer wires running from LEDs to the EXP1

![IMG_20190308_161703](https://user-images.gith

[2019-03-08 23:38] manofmanyhats commented on #11576
In case anyone is too impatient (like me) for a fix for this, then GRBL:  [https://github.com/grbl/grbl](https://github.com/grbl/grbl) works well with my laser cutter.

[2019-03-08 23:48] kAdonis commented on #13333
Yes, I see this behavior

in commit from 9. March
M501 is showing every parameter, but is difficult to read
I flashed marlin from 3. March and M501 is working as expected
(Ramps/Re-Arm)

[2019-03-09 00:04] jon012198 commented on #13333
Ok I am glad I am not the only one

On Fri, Mar 8, 2019 at 6:49 PM kAdonis <notifications@github.com> wrote:

[2019-03-09 00:17] RudyBenner commented on #13333
Yesterday it was fine.

[2019-03-09 00:27] cinealfa commented on #13332
ay caramba! How stupid of me

[2019-03-09 00:27] #13332 closed, assigned to nobody

[2019-03-09 00:44] ManuelMcLure commented on #13338
Printing from SD or through USB? Have you looked in the gcode file for that string, or even that the gcode file is complete?

[2019-03-09 01:04] Roxy-3D commented on #11702
If we were to enable duplication mode for ALL extruders...   I am currently out of town and have no hardware to test the changes.   Even if I had access to my printers, I only have an IDEX machine and the changes need to be put into a different section of the code to handle your case....

Can the two of you dedicate some 'test time' to check out the changes and provide feed back?

[2019-03-09 01:12] InsanityAutomation commented on #13327
I guess given the documentation on the reprap wiki states heaters are to be turned off following M0 or M1, where the marlin wiki does not, the question is what the intended use of them is with the external display that isn't available elsewhere. An M125 (or m25 if SD printing and advanced pause is off) may be more appropriate if a cancel is not the intention. Regardless, I would think the host pro

[2019-03-09 01:39] freighttt commented on #13326
That was the issue, sorry for the trouble gentleman. Closing this. Thank you!!!

[2019-03-09 01:39] #13326 closed, assigned to nobody

[2019-03-09 01:40] kAdonis commented on #13333
@thinkyhead The cause for this issue is in #13311 in serial.h line 111
The new SERIAL_ECHOLNPAIR(...) sends an EOL after **every** pair
That is probably not as it should be, but I dont find an elegant way to fix this

[2019-03-09 01:52] EvyCatsune commented on #9455
same problem, i tried what you said and i'm getting "Low memory available, stability problems may occur." error when uploading, along with a bunch of "avrdude: stk500v2_ReceiveMessage(): timeout".

[2019-03-09 01:55] EvyCatsune commented on #9455
i have an anycubic i3 mega, by the way, it as a trigorilla mainboard...

[2019-03-09 02:04] p3p commented on #13333
I can barely parse thinkyheads magic macros but I think moving the EOL to the top level macro should fix it,

`serial.h line 135`
[code]

[2019-03-09 02:07] EvyCatsune commented on #9455
i'm expecting a mainboard or power supply issue at this point, even avrdude is making read errors...

[2019-03-09 02:49] RudyBenner commented on #13333
Thank you sir, we seem to be working again.
rudy

[2019-03-09 02:51] jmdearras commented on #13289
Will confirm this weekend, busy week.

[2019-03-09 02:55] #13333 closed, assigned to nobody

[2019-03-09 02:57] thinkyhead commented on #13338
Please test the `bugfix-1.1.x` and/or `bugfix-2.0.x` branches to see whether it helps. If the problem has been resolved then we can close this issue. If the issue isn't resolved in either of those branches yet, then we should investigate further.

[2019-03-09 03:32] Smart3DCNC commented on #11702
Definately! thank you very much

[2019-03-09 04:17] thinkyhead commented on #13181
Still no clue. Here's a procedure you can follow to gather more information:

- Download Marlin `bugfix-2.0.x` to test with the latest code.
- Enable `DEBUG_LEVELING_FEATURE` and re-flash the firmware.
- Connect to your printer from host software such as Cura, Printrun or Repetier Host.
- Issue the command `M111 S247` to enable maximum logging.
- Perform a `G28` to do your standard homing procedur

[2019-03-09 06:35] Le-zOU commented on #12793
sorry @boelle , have a look at what ?
I'm about 1 week behind current version/commits. I plan to flash on monday probably with latest commits at this point

[2019-03-09 07:03] RudyBenner opened #13341 "13340 getting errors.[BUG] (short description)"
![image](https://user-images.githubusercontent.com/40361032/54067595-df4fc380-420f-11e9-9014-7d29199bad72.png)

[2019-03-09 07:05] RudyBenner commented on #13341
![image](https://user-images.githubusercontent.com/40361032/54067588-c6471280-420f-11e9-9b4c-d77e8e9b2275.png)

[2019-03-09 07:10] guestisp commented on #13338
Im unable to replicate and i don't know the source of this error (It this an error or just carbage shown on screen?)

[2019-03-09 07:29] spilz87 commented on #5982
I have the same need, did someone know if it’s added on bugfix2.0 ? If yes, where ?
Thanks

[2019-03-09 07:37] guestisp commented on #13338
Printing from SD, gcode is complete and that string isn't in the gcode file.
When it happened, printer was frozen (no movements) but hotend and hotbed still turned on

[2019-03-09 07:50] gloomyandy commented on #13314
What are you planning on using those connections (from the LEDs) to EXP1 for? Do they work? Some displays may have them connected so take care if using a standard cable LCD!

[2019-03-09 08:38] Amachete opened #13342 "[TMC2130][PSU on/off] These drivers do not work with PSU off"
Hello

After a lot of tinkering with these drivers and the wiring and a lot of reading, and googling, I have just realized that my setup does not work with these drivers very well.

My setup has a PSU on/off feature, so If motors are not necessary PSU turns off, in fact PSU is off by default that's why I have no response with the RAMPS only on USB.

JFI:  I have the PCB PROTECTORS pcb on.

In summ

[2019-03-09 09:04] serdardogan commented on #12904
Sorry.
I'm trying to install teensy now, but I've encountered a compilation error, I can't load it

[2019-03-09 09:04] serdardogan commented on #12904
I am not getting the same error in my previous bugfix version.

My arduino compiler versiyon is 1.8.8 and teensyduino version is 1.45.

[2019-03-09 09:17] Gongo1985 commented on #13138
Hi guys and normal if I connect the printer with the USB cable the printer is not recognized

[2019-03-09 10:21] boelle commented on #12793
have a look at what you said 2/1-2019, a little over 2 months ago

[2019-03-09 10:35] ghost commented on #9455
@EvyCatsune

That would be the first thing to fix, and then:

AFAIK, trigorilla is Arduino Mega2560 based. That's an 8-bit processor with potentially not enough RAM to handle large buffer sizes. You get close to or exceed the maximum RAM easily when using non-default buffer size settings - or you at least exceed the threshhold set in the arduino IDE for minimum RAM left free to cater for the stack

[2019-03-09 11:06] fape commented on #13333
I got compile errors:
Latest marlin2.0, latest platformio. Only changes motherboard to BOARD_BIGTREE_SKR_V1_3 and serial1 to -1.
Edit: same with default config.

[code]

[2019-03-09 11:16] Andrei-Pozolotin commented on #13314
1. plan to use for enclosure heater control. 2. seem to work fine so far. 3 no LCD, using AUX/TFT.

[2019-03-09 11:27] RudyBenner commented on #13333
This error was corrected, unfortunately, he made some more changes and broke it.
Patience.

[2019-03-09 11:34] coldtobi commented on #13327
@marcio-ao, sounds good to me, I'll create a PR for better discussion.

ultralcd code just reverts wait_for_user to false, but I think the best thing would be to hide the implementation details behind an ExtUI-API, something like, maybe, void ExtUI::setUserConfirmed(void)?

My usage is in a Z-axis leveling script, and it would be unfortunate if it'd turn off the motors (reprap says to do that too)

[2019-03-09 11:39] fape commented on #13333
I know. I fixed it in #13343

[2019-03-09 11:46] RudyBenner commented on #13333
I reverted that file. Now it compiles.

[2019-03-09 12:11] gloomyandy commented on #13314
Sounds good! Nice wiring, did you have to drill a hole to get the wiring through or was there one there ready to be used?

[2019-03-09 12:37] #13341 closed, assigned to nobody

[2019-03-09 13:06] dystechnic commented on #13280
I second this feature request!.
I use this in some tool changing scripts for a 3-in-1-out switching hot-end but without G60 and G61 the result is somewhat less in comparison to what I was used to.

This is what I am looking for in regard to functionality.

Save current position coordinates (all axes, for active extruder).S[SLOT] - specifies memory slot # (0-based) to save into (default 0)
**G61**

[2019-03-09 13:10] paulpenney opened #13345 "[BUG] BLTouch v3.0 not working properly with marlin homing"
### Description

BL Touch new 3.0 units not working with marlin on homing. Probe responds to M codes for deployment, stowing, and shows no errors, but when it comes to levelling the probe doesn't seem to properly communicate that the Z endstop has been reached. Tried on three different 3.0 probes out of a batch of 100. Tried on old and new marlin builds and machines with existing BL touch 2.1 unit

[2019-03-09 13:25] boelle commented on #13342
attach 2 config files as a zip file

[2019-03-09 13:39] Le-zOU commented on #12793
Oh yeah I had a look but we'll didn't find anything although I'm not a developer :p

[2019-03-09 13:57] lunar711 commented on #13280
That's exactly what this request is for (multi-material 3D printing). Basically I wanted to reproduce this here:-

https://www.youtube.com/watch?v=XDZzQ2S6jt4&feature=youtu.be

But on a hardware level (so I can use any slicer, the one 3DMN uses is Simplify3D which is not free).

[2019-03-09 14:39] boelle commented on #13339
is the problem the same in bugfix 2.0? that is where development happens :-)

[2019-03-09 15:24] mordaha commented on #12937
i can in git ))

<img width="554" alt="image" src="https://user-images.githubusercontent.com/800239/54073476-9263ff80-4298-11e9-9392-9d6079306664.png">

[2019-03-09 15:27] mordaha commented on #12937
i think the problem is in that lot of defines, somewhere they are failed, but i don't know how to debug it :(

[2019-03-09 15:30] Miran81 commented on #12937
@boelle you sad your lcd is work fine. How ?

[2019-03-09 15:35] boelle commented on #12937
my full graph display on re-arm+ramps ??

yes works fine

[2019-03-09 15:41] 7eggert commented on #13318
There is no change on homing; but on heating the light will turn on (Color fade). (Looking at 1.1.9)

[2019-03-09 15:44] boelle commented on #13318
and what @eikeime wants is that the case light comes on when homing :-D

[2019-03-09 15:49] Miran81 commented on #12937
@mordaha you sad work fine. How ? I have ramps-fd+due 2004 lcd

[2019-03-09 15:53] mordaha commented on #12937
@Miran81 i had explained it in the first message)

just added an initialization of lcd in the print function

[2019-03-09 15:57] Miran81 commented on #12937
@mordaha can you share configuration.h please :)

[2019-03-09 16:25] ghost commented on #13339
@boelle  Looks to me like @thinkyhead commited a fix on bugfix-1.1.x for this some 15 hours ago.

Same message text is at line 257 in bugfix-2.0.x and does not contain that error.

[2019-03-09 16:27] SlickNickeL commented on #11702
I have 20+ 3 head Cartesians that I can try it on. X-Y on top with Z bed that drops.
Easy to do, I just don’t code. I can edit and use and insert any and all G/M codes if I can understand their application.
I dedicate all of my time to 3D FF manufacturing. Be glad to help.

[2019-03-09 16:28] 7eggert commented on #13318
Cherry-pick this ad-hoc hack (or use the patch I attached), it will just set the default colors on homing:
github.com/MarlinFirmware/Marlin/commit/2d8092adb7be4a2e4eb15310c0ca519546cd7e2d

I think more discussion is needed on a decent LED feature.
- user-defined status LED
- Status LED vs. colors set by gcode
- timeouts
- Support for more sets of LED + gcode extension
- support for mixed drivers (

[2019-03-09 17:03] jmdearras commented on #13289
Yes, the '0' jerk starting in line 2002 in configuration_store.cpp is the issue
  #if HAS_CLASSIC_JERK
    #ifndef DEFAULT_XJERK
      #define DEFAULT_XJERK 0
    #endif
    #ifndef DEFAULT_YJERK
      #define DEFAULT_YJERK 0
    #endif
    #ifndef DEFAULT_ZJERK
      #define DEFAULT_ZJERK 0
    #endif
    planner.max_jerk[X_AXIS] = DEFAULT_XJERK;
    planner.max_jerk[Y_AXIS] = DEFAULT_YJERK;

[2019-03-09 17:04] Ludy87 commented on #13342
How should Marlin know that the power supply is switched off?
The voltage / current from the USB is too low to control the drivers properly.
This is not a problem of Marlin, but of your energy management.

[2019-03-09 17:31] jmdearras commented on #13289
I forgot to mention, this was with a morning pull of the code base on 3/8

[2019-03-09 18:20] boelle commented on #13339
yeah but 2.x is still what gets updated most

1.1.x is kind of on its way to the grave

[2019-03-09 19:44] michielbaird commented on #6199
I've spent some time digging, my time is limited during the week, but here is what I have found so far.

The Prusa code and the Marlin code has diverged quite a bit. Once the vectors are calculated the are fairly easy to use. In the Prusa code, however, during the calibration they disable the stepper interrupts altogether and manually toggle the pins.

This is done so that they can directly move t

[2019-03-09 20:16] thinkyhead commented on #6199
There may be some legacy reason that it couldn't work, but  AFAIK it should work now.

[2019-03-09 20:17] #13339 closed, assigned to nobody

[2019-03-09 20:24] michielbaird commented on #6199
I think I am going to start by adding G38.{4,5}

[2019-03-09 20:31] Miran81 commented on #12937
@mordaha i did it   // initialize lcd()
  LCD_CLASS lcd(LCD_PINS_RS, LCD_PINS_ENABLE, LCD_PINS_D4, LCD_PINS_D5, LCD_PINS_D6, LCD_PINS_D7);  and look at picture
![ramps-fd 2004 lcd](https://user-images.githubusercontent.com/48278092/54076998-7de92c80-42c3-11e9-90b8-149622917ead.jpeg)

[2019-03-09 21:07] Miran81 commented on #12937
problem solved thank u all  💯  👍 👍 👍

[2019-03-09 21:26] kAdonis commented on #13342
I have been using different TMCs with AUTO_POWER_CONTROL enabled, and it is working several months now. You just need to make sure the drivers have 12V( or 24V) when booting marlin, so they can be configured properly. Afterwards you may switch the PSU off and on at your discretion, the TMCs stay configured.
My config is:
[code]
The only drawback is, as you said, M122 does not work when the PSU is

[2019-03-09 22:40] Thowra commented on #12734
@boelle
These are the last configuration files.

[config.zip](https://github.com/MarlinFirmware/Marlin/files/2948902/config.zip)

[2019-03-09 23:17] Roxy-3D commented on #11702
OK...   I'll start making the changes.   And we will see how fast we can make progress.

[2019-03-10 00:02] EvyCatsune commented on #9455
i see, i've put buffer settings as they where, and used a BAUDRATE of 115200. My power supply seems fine, it goes between 12.74v and 12.90v. i only have a multimeter so if there is noise, i wouldn't see it. However, the problem is still there.

i've had an issue when printing with the sd card when the usb cable is hooked to the computer. The print just stalls right after touching the plate. i'm th

[2019-03-10 00:32] rschaeuble opened #13346 "Conflicting declaration 'volatile bool wait_for_user' (bugfix-2.0.x)"
### Description

Commit 60e82e3929bfd402384e7dea9d737796c96fa07f introduces a compile error:

[code]

In `emergency_parser.h`,  `wait_for_user` is declared as volatile. Since the latest commit, `Marlin.h` now declares the same variable as non-volatile. This results in a conflicting duplicate definition, which the compiler rejects.

I have tried both Arduino IDE 1.8.8 and 1.9-beta, with identical r